Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

fix(core): backfill ActionText descriptions in taxon→category migration
  spree/core/lib/tasks/categories_and_collections.rake
  spree/core/spec/lib/tasks/categories_and_collections_spec.rb
Due: core, Core

docs(plans): add action_text_rich_texts to Phase 4 backfill list
  docs/plans/6.0-replace-taxons-with-categories.md
Due: none

Add sandbox as option in spree docs
  docs/docs.json
  docs/index.mdx
Due: none

Add more sandboxes references in README and docs
  README.md
  docs/developer/cli/admin-api.mdx
Due: none

feat(core): add taxon→category/collection migration to 5.6→6.0 manifest
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
Due: core, Core

chore(core): refresh brakeman ignore for the Classifications sorter
  spree/core/config/brakeman.ignore
Due: core

test(admin): mark taxon admin controller specs pending
  spree/admin/app/helpers/spree/admin/taxons_helper.rb
  spree/admin/spec/controllers/spree/admin/taxons_controller_spec.rb
Due: admin, Admin

fix(core): address collections PR review feedback
  packages/admin-sdk/src/types/generated/Collection.ts
  packages/sdk/src/types/generated/Collection.ts
  packages/sdk/src/zod/generated/Collection.ts
  spree/api/app/controllers/spree/api/v3/admin/collections_controller.rb
  spree/api/app/serializers/spree/api/v3/collection_serializer.rb
  spree/api/spec/integration/spree/api/v3/admin/collections_spec.rb
  spree/core/app/models/spree/collection.rb
  spree/core/app/services/spree/collections/regenerate_products.rb
  spree/core/app/services/spree/products/auto_match_collections.rb
  spree/core/db/migrate/20260708160054_create_spree_collections.rb
  spree/core/lib/tasks/categories_and_collections.rake
  spree/core/spec/models/spree/collection_spec.rb
Due: core, api, Core, API

fix(core): match contains/does_not_contain in Collection Sale rule
  spree/core/app/models/spree/collection_rules/sale.rb
  spree/core/spec/models/spree/collection_spec.rb
Due: core, Core

fix(core): isolate per-category failures in the collection migration task
  spree/core/lib/tasks/categories_and_collections.rake
Due: core, Core

feat(core): manual (position) sort in the DB search provider
  spree/core/app/models/spree/search_provider/database.rb
  spree/core/spec/models/spree/search_provider/database_spec.rb
Due: core, Core

Added Spree 6 Multi Vendor implementation plan
  .claude/settings.local.json
  CLAUDE.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-channels-catalogs-b2b.md
  docs/plans/6.0-inventory-operations.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
Due: none

feat(core): deprecation warnings for taxon->category aliases
  docs/plans/6.0-replace-taxons-with-categories.md
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/app/jobs/spree/products/auto_match_taxons_job.rb
  spree/core/app/jobs/spree/products/touch_taxons_job.rb
  spree/core/app/models/spree/classification.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product_category.rb
  spree/core/app/models/spree/promotion/rules/category.rb
  spree/core/app/models/spree/promotion/rules/taxon.rb
  spree/core/app/models/spree/promotion_rule_category.rb
  spree/core/app/models/spree/promotion_rule_taxon.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/app/presenters/spree/search_provider/product_presenter.rb
  spree/core/app/services/spree/products/auto_match_taxons.rb
  spree/core/app/services/spree/products/duplicator.rb
  spree/core/app/services/spree/taxons/add_products.rb
  spree/core/app/services/spree/taxons/regenerate_products.rb
  spree/core/app/services/spree/taxons/remove_products.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/testing_support/factories/classification_factory.rb
  spree/core/spec/models/spree/taxon_category_aliases_spec.rb
Due: core, Core

Address PR review feedback on the multi vendor plan
  CLAUDE.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-inventory-operations.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
Due: none

Remove the competitive benchmark section from the public plan
  docs/plans/6.0-multi-vendor-marketplace.md
Due: none

Address second review cycle on the multi vendor plan
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
Due: none

test(core): stub categories in the product duplicate spec
  spree/core/spec/models/spree/product_spec.rb
Due: none

fix(api): scope nested category products to manual + collection PLP locale fallback
  spree/api/app/controllers/spree/api/v3/admin/categories/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/collections/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/categories/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/collections/products_controller_spec.rb
Due: api, API

Fix the split gate: group only when the cart spans multiple partitions
  docs/plans/6.0-multi-vendor-marketplace.md
Due: none

Fix grammar in the inventory plan phase description
  docs/plans/6.0-inventory-operations.md
Due: none

Correct spree/emails status and home the vendor mailers in core
  CLAUDE.md
  docs/plans/6.0-multi-vendor-marketplace.md
Due: none

Home the OSS Stripe payout provider with the monorepo Stripe gateway
  CLAUDE.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
Due: none

Make explicit that the external-store subsystem stays Enterprise
  docs/plans/6.0-multi-vendor-marketplace.md
Due: none

Bump dashboard packages to 0.10.0
  docs/developer/dashboard/plugins/publishing.mdx
  packages/cli/templates/plugin/packages/dashboard/package.json.tt
  packages/dashboard-core/package.json
  packages/dashboard-ui/package.json
  packages/dashboard/package.json
Due: none

Bump dashboard packages to 0.10.0 (#14304)
  docs/developer/dashboard/plugins/publishing.mdx
  packages/cli/templates/plugin/packages/dashboard/package.json.tt
  packages/dashboard-core/package.json
  packages/dashboard-ui/package.json
  packages/dashboard/package.json
Due: none

Bump version to 5.6.0.rc1
  spree/core/lib/spree/core/version.rb
Due: core, Core

Bump version to 5.6.0.rc1 (#14305)
  spree/core/lib/spree/core/version.rb
Due: core, Core

Release @spree/cli 2.4.0 and create-spree-app 1.1.0
  packages/cli/.changeset/add-dashboard-and-plugin-scaffold.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/create-spree-app/.changeset/dashboard-scaffold-phase.md
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
Due: none

Fix flaky CSV import retry E2E test
  packages/dashboard/e2e/imports.spec.ts
  packages/dashboard/src/hooks/use-imports.ts
Due: none

Release @spree/cli 2.4.0 + create-spree-app 1.1.0 (#14306)
  packages/cli/.changeset/add-dashboard-and-plugin-scaffold.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/create-spree-app/.changeset/dashboard-scaffold-phase.md
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
Due: none

Release @spree/admin-sdk 0.6.0
  packages/admin-sdk/.changeset/admin-self-profile-update.md
  packages/admin-sdk/.changeset/admin-translations-management.md
  packages/admin-sdk/.changeset/csv-imports.md
  packages/admin-sdk/.changeset/customer-group-membership.md
  packages/admin-sdk/.changeset/export-results-url.md
  packages/admin-sdk/.changeset/fulfillment-create-cost-and-carrier-inheritance.md
  packages/admin-sdk/.changeset/fulfillment-tracking-url-passthrough.md
  packages/admin-sdk/.changeset/nullable-money-types.md
  packages/admin-sdk/.changeset/order-fulfillment-create.md
  packages/admin-sdk/.changeset/preorder-fields.md
  packages/admin-sdk/.changeset/store-available-locales.md
  packages/admin-sdk/.changeset/store-storefront-access-gating.md
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
Due: none

Compile the Node-side Vite entries so registry installs can load them
  .github/workflows/packages.yml
  CLAUDE.md
  package.json
  packages/dashboard-core/package.json
  packages/dashboard-core/src/vite/index.ts
  packages/dashboard-core/tsup.config.ts
  packages/dashboard/package.json
  packages/dashboard/src/vite/index.ts
  packages/dashboard/tsup.config.ts
  pnpm-lock.yaml
Due: none

Release @spree/cli 2.4.1 with the updated dashboard template pins
  docs/developer/dashboard/plugins/publishing.mdx
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/templates/plugin/packages/dashboard/package.json.tt
Due: none

Fix registry installs of the dashboard Vite integration; release admin-sdk 0.6.0, dashboard 0.10.1, CLI 2.4.1 (#14307)
  .github/workflows/packages.yml
  CLAUDE.md
  docs/developer/dashboard/plugins/publishing.mdx
  package.json
  packages/admin-sdk/.changeset/admin-self-profile-update.md
  packages/admin-sdk/.changeset/admin-translations-management.md
  packages/admin-sdk/.changeset/csv-imports.md
  packages/admin-sdk/.changeset/customer-group-membership.md
  packages/admin-sdk/.changeset/export-results-url.md
  packages/admin-sdk/.changeset/fulfillment-create-cost-and-carrier-inheritance.md
  packages/admin-sdk/.changeset/fulfillment-tracking-url-passthrough.md
  packages/admin-sdk/.changeset/nullable-money-types.md
  packages/admin-sdk/.changeset/order-fulfillment-create.md
  packages/admin-sdk/.changeset/preorder-fields.md
  packages/admin-sdk/.changeset/store-available-locales.md
  packages/admin-sdk/.changeset/store-storefront-access-gating.md
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/templates/plugin/packages/dashboard/package.json.tt
  packages/dashboard-core/package.json
  packages/dashboard-core/src/vite/index.ts
  packages/dashboard-core/tsup.config.ts
  packages/dashboard/package.json
  packages/dashboard/src/vite/index.ts
  packages/dashboard/tsup.config.ts
  pnpm-lock.yaml
Due: none

Never let optional app phases abort create-spree-app before setup runs
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/readme.ts
Due: none

Run full first-run setup when spree dev boots a never-initialized project
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/docker.ts
Due: none

Persist the sample-data choice so a deferred first run honors it
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/init.ts
  packages/cli/src/context.ts
  packages/cli/tests/env.test.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/env.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Fix retry failed rows race condition with refetch (#14309)
  packages/dashboard/e2e/imports.spec.ts
  packages/dashboard/src/hooks/use-imports.ts
Due: none

Install missing app dependencies during first-run setup
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
Due: none

Address review feedback on first-run setup detection and scaffold docs
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/context.ts
  packages/cli/src/docker.ts
  packages/cli/tests/env.test.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/env.ts
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
