Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Fix: a period typed into Edit prices on a comma-decimal market saved a hundred times the price (#14730)
  .changeset/dashboard-comma-decimal-prices.md
  packages/dashboard-core/src/products/normalize-money.test.ts
  packages/dashboard-core/src/products/normalize-money.ts
  packages/dashboard-ui/src/spree/data-grid/cells.tsx
  packages/dashboard/e2e/price-lists.spec.ts
  packages/dashboard/src/components/spree/bulk-price-editor/bulk-price-editor.tsx
Due: none

Fix: grid cells keep a value left by clicking elsewhere (#14729)
  .changeset/dashboard-ui-grid-click-away.md
  packages/dashboard-ui/src/spree/data-grid/data-grid.tsx
  packages/dashboard/e2e/products-prices-inventory.spec.ts
Due: none

Fix: order confirmation email totals add up when shipping is discounted (#14725)
  spree/emails/app/views/spree/shared/_purchased_items_table.html.erb
  spree/emails/app/views/spree/shared/_purchased_items_table.text.erb
  spree/emails/spec/mailers/spree/order_mailer_spec.rb
Due: emails, Emails

Fix: the customers CSV export finishes again (#14726)
  spree/core/app/models/spree/exports/customers.rb
  spree/core/spec/models/spree/export_spec.rb
Due: core, Core

Fix: the Customers list's Tags filter offers the store's customer tags (#14727)
  .changeset/dashboard-customer-class-name.md
  docs/developer/dashboard/customization/slots.mdx
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/tests/custom-fields.test.ts
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-core/src/lib/table-registry.ts
  packages/dashboard/e2e/customers.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/custom-field-definition.ts
Due: none

Fix: admin password reset links never use plain http or the store address
  spree/core/app/finders/spree/stores/dashboard_url.rb
  spree/core/app/mailers/spree/admin_user_mailer.rb
  spree/core/spec/finders/spree/stores/dashboard_url_spec.rb
  spree/core/spec/mailers/spree/admin_user_mailer_spec.rb
Due: core, Core

Fix: orders export leaves out draft orders
  spree/core/app/models/spree/export.rb
  spree/core/spec/models/spree/export_spec.rb
Due: core, Core

Fix: cancelling an edited order releases its stock (#14728)
  spree/core/app/services/spree/orders/build_fulfillments.rb
  spree/core/spec/services/spree/orders/update_spec.rb
  spree/core/spec/workflows/spree/orders/cancel_spec.rb
Due: core, Core

Fix: orders CSV export fills Billing State and Shipping State
  spree/core/app/presenters/spree/csv/order_line_item_presenter.rb
  spree/core/spec/presenters/spree/csv/order_line_items_presenter_spec.rb
Due: core, Core

Fix: dashboard actions refused by the server now show the reason (#14720)
  packages/dashboard/src/components/spree/orders/order-header.tsx
  packages/dashboard/src/components/spree/promotion-editors/promotion-form.tsx
  packages/dashboard/src/hooks/use-companies.ts
  packages/dashboard/src/hooks/use-promotions.ts
  packages/dashboard/src/hooks/use-stock-levels.ts
Due: none

Fix: failed webhook deliveries are retried with backoff (#14723)
  docs/developer/core-concepts/webhooks.mdx
  docs/developer/tutorial/events.mdx
  spree/api/app/jobs/spree/webhook_delivery_job.rb
  spree/api/spec/jobs/spree/webhook_delivery_job_spec.rb
Due: api, API

Update delivery profiles description for clarity
  docs/user/settings/delivery-profiles.mdx
Due: none

Fix: a single-use coupon code is no longer used up by a cart that is never ordered
  docs/developer/core-concepts/promotions.mdx
  spree/api/spec/controllers/spree/api/v3/store/carts/discount_codes_controller_spec.rb
  spree/core/app/models/spree/coupon_code.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion_handler/coupon.rb
  spree/core/spec/models/spree/promotion_handler/coupon_spec.rb
Due: core, Core

Fix: removing a line from a placed order releases its stock
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order_inventory.rb
  spree/core/app/services/spree/orders/remove_line_item.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/services/spree/orders/remove_line_item_spec.rb
Due: core, Core

Fix typos in delivery-profiles.mdx
  docs/user/settings/delivery-profiles.mdx
Due: none

Fix formatting and wording in locations.mdx
  docs/user/settings/locations.mdx
Due: none

Fix: orders CSV export fills Billing State and Shipping State (#14733)
  spree/core/app/presenters/spree/csv/order_line_item_presenter.rb
  spree/core/spec/presenters/spree/csv/order_line_items_presenter_spec.rb
Due: core, Core

Fix: turning off customer emails no longer stops the store's new order email (#14724)
  spree/emails/app/subscribers/spree/order_email_subscriber.rb
  spree/emails/spec/subscribers/spree/order_email_subscriber_spec.rb
Due: emails, Emails

Update market settings documentation
  docs/user/settings/markets.mdx
Due: none

Update docs/user/settings/store-details.mdx
  docs/user/settings/store-details.mdx
Due: none

Update warning message about policy deletion
  docs/user/settings/policies.mdx
Due: none

Fix: a coupon code on a draft order or spent mid-apply is never taken over
  spree/core/app/models/spree/promotion_handler/coupon.rb
  spree/core/spec/models/spree/promotion_handler/coupon_spec.rb
Due: core, Core

Fix: removing a line drains its units from every fulfillment
  spree/core/app/models/spree/line_item.rb
  spree/core/spec/services/spree/orders/remove_line_item_spec.rb
Due: core, Core

Enhance explanation of store settings options
  docs/user/settings/store-details.mdx
Due: none

Fix: required every invitation to name its role
  spree/api/spec/controllers/spree/api/v3/admin/invitations_controller_spec.rb
  spree/core/app/models/spree/invitation.rb
  spree/core/app/workflows/spree/sellers/invite.rb
  spree/core/lib/spree/testing_support/factories/invitation_factory.rb
  spree/core/spec/models/spree/invitation_spec.rb
  spree/core/spec/models/spree/seller_spec.rb
Due: core, Core

Fix: stopped add-to-cart options from replacing the checked variant or quantity
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/items_controller_spec.rb
  spree/core/app/workflows/spree/carts/add_item.rb
  spree/core/spec/workflows/spree/carts/add_item_spec.rb
Due: core, api, Core, API

Fix: bounded exchanges by returnable units and credited only what came back
  spree/core/app/workflows/spree/exchanges/create.rb
  spree/core/app/workflows/spree/exchanges/fulfill.rb
  spree/core/app/workflows/spree/returns/create.rb
  spree/core/app/workflows/spree/returns/returnable_quantity.rb
  spree/core/spec/workflows/spree/exchanges/lifecycle_spec.rb
Due: core, Core

Fix: bounded claims by the units earlier claims already cover
  spree/core/app/workflows/spree/claims/create.rb
  spree/core/spec/workflows/spree/claims/lifecycle_spec.rb
Due: core, Core

Fix: capped store credit at what the order can still give back
  spree/core/app/workflows/spree/refunds/order_payments.rb
  spree/core/spec/workflows/spree/claims/lifecycle_spec.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, Core

Fix: redacted cart tokens and gift card codes in the webhook delivery log
  spree/core/app/models/concerns/spree/webhook_payload_redaction.rb
  spree/core/spec/models/concerns/spree/webhook_payload_redaction_spec.rb
Due: core, Core

Fix: limited Store and Seller API filters to what those audiences may read
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/resource_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_lines_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/seller_transfers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/core/app/models/concerns/spree/ransackable_attributes.rb
  spree/core/app/models/spree/commission_line.rb
  spree/core/app/models/spree/export.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/search_provider/database.rb
  spree/core/app/models/spree/seller_payout.rb
  spree/core/app/models/spree/seller_transfer.rb
  spree/core/app/models/spree/store_credit.rb
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/concerns/spree/ransackable_attributes_spec.rb
  spree/core/spec/models/spree/export_spec.rb
Due: core, api, Core, API

Fix: delivered password reset events only to endpoints subscribed by name
  spree/api/app/controllers/spree/api/v3/admin/webhook_endpoints_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/webhook_endpoints_controller_spec.rb
  spree/api/spec/subscribers/spree/webhook_event_subscriber_spec.rb
  spree/core/app/models/spree/webhook_endpoint.rb
  spree/core/spec/models/spree/webhook_endpoint_spec.rb
Due: core, api, Core, API

Fix: showed webhook delivery payloads only to callers who can read the record
  packages/admin-sdk/src/types/generated/WebhookDelivery.ts
  spree/api/app/controllers/spree/api/v3/admin/webhook_deliveries_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/webhook_delivery_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/webhook_deliveries_controller_spec.rb
  spree/core/app/models/spree/webhook_delivery.rb
Due: core, api, Core, API

Fix: matched variant option names only against the product's own store
  spree/core/app/models/spree/product_option_type.rb
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/option_type_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
Due: core, Core

Fix: kept stock propagation within the location's own store and seller
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/stock_locations/stock_items/create.rb
  spree/core/app/services/spree/stock_locations/stock_levels/create.rb
  spree/core/spec/models/spree/variant_spec.rb
  spree/core/spec/services/spree/stock_locations/stock_levels/create_spec.rb
Due: core, Core

Fix: kept price list prices to the list's own store variants
  spree/api/app/controllers/spree/api/v3/admin/price_lists_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/core/app/workflows/spree/price_lists/update.rb
Due: core, api, Core, API

Fix: resolved stock locations and reasons on order writes through the current store
  spree/api/app/controllers/concerns/spree/api/v3/orders/fulfillment_actions.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/claims_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/exchanges_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/returns_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/claims_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/exchanges_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/fulfillments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/returns_controller_spec.rb
Due: api, API

Fix: took the custom field parent from the route only
  spree/api/app/controllers/spree/api/v3/admin/custom_fields_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_controller_spec.rb
Due: api, API

Fix: looked up translation targets through the current store
  spree/api/app/controllers/spree/api/v3/admin/translations/batches_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/translations_controller.rb
  spree/core/app/models/concerns/spree/translatable_resource.rb
  spree/core/app/models/spree/option_value.rb
  spree/core/app/models/spree/translations/batch.rb
  spree/core/spec/models/spree/translations/batch_spec.rb
Due: core, api, Core, API
