Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Adapt create-spree-app to the pnpm-native storefront template
  .changeset/pnpm-native-storefront.md
  packages/create-spree-app/src/constants.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/package-json.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/storefront.test.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Release create-spree-app 1.2.0
  .changeset/pnpm-native-storefront.md
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
Due: none

feat(core): read fulfillment discounts from typed lines
  spree/core/app/models/spree/shipment.rb
  spree/core/app/models/spree/shipping_rate.rb
  spree/core/app/services/spree/cart/add_item.rb
  spree/core/spec/services/spree/cart/add_item_spec.rb
Due: core, Core

Address review: never invoke yarn inside the pnpm-pinned storefront
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/package-json.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/src/utils.ts
  packages/create-spree-app/tests/templates.test.ts
  packages/create-spree-app/tests/utils.test.ts
Due: none

create-spree-app 1.2.0: adapt to the pnpm-native storefront template (#14351)
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/constants.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/package-json.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/src/utils.ts
  packages/create-spree-app/tests/storefront.test.ts
  packages/create-spree-app/tests/templates.test.ts
  packages/create-spree-app/tests/utils.test.ts
Due: none

Update 5.5-to-5.6.mdx
  docs/developer/upgrades/5.5-to-5.6.mdx
Due: none

Bump spree to 5.6.0.rc6
  spree/core/lib/spree/core/version.rb
Due: core, Core

Add Spree 5.7 plans
  CLAUDE.md
  docs/plans/5.6-6.0-single-store-promotions-payment-methods.md
  docs/plans/5.7-channel-markets.md
  docs/plans/5.7-payment-method-rules.md
  docs/plans/decisions.md
Due: none

Bump spree to 5.6.0
  spree/core/lib/spree/core/version.rb
Due: core, Core

Add addresses table to customer page in admin dashboard
  spree/admin/app/controllers/spree/admin/user_addresses_controller.rb
  spree/admin/app/views/spree/admin/tables/columns/_address_name.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
Due: admin, Admin

small adjustment
  spree/admin/app/views/spree/admin/tables/columns/_address_name.html.erb
Due: admin, Admin

Add plan for Spree 6 moving payment gateways to monorepo
  docs/plans/6.0-payment-gateways-monorepo.md
Due: none

feat(core): move order and promotion readers to typed adjustment lines
  spree/core/app/models/spree/calculator/returns/default_refund_amount.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order/checkout.rb
  spree/core/app/models/spree/order_merger.rb
  spree/core/app/models/spree/order_promotion.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion_handler/coupon.rb
  spree/core/app/models/spree/promotion_handler/page.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/services/spree/cart/empty.rb
  spree/core/app/services/spree/checkout/get_shipping_rates.rb
  spree/core/app/services/spree/coupon_codes/coupon_codes_handler.rb
  spree/core/app/services/spree/orders/build_shipments.rb
  spree/core/spec/models/spree/calculator/default_tax_spec.rb
  spree/core/spec/models/spree/calculator/refunds/default_refund_amount_spec.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/order/adjustments_spec.rb
  spree/core/spec/models/spree/order/finalizing_spec.rb
  spree/core/spec/models/spree/order/state_machine_spec.rb
  spree/core/spec/models/spree/order/totals_spec.rb
  spree/core/spec/models/spree/order_contents_spec.rb
  spree/core/spec/models/spree/order_promotion_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/promotion_handler/coupon_spec.rb
  spree/core/spec/models/spree/promotion_handler/free_shipping_spec.rb
  spree/core/spec/models/spree/promotion_handler/page_spec.rb
  spree/core/spec/models/spree/promotion_spec.rb
  spree/core/spec/models/spree/reports/products_performance_spec.rb
  spree/core/spec/models/spree/reports/sales_total_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
  spree/core/spec/services/spree/orders/create_spec.rb
Due: core, Core

feat(core): re-run free-shipping activation on delivery rate selection
  spree/api/spec/controllers/spree/api/v3/store/carts/fulfillments_controller_spec.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

feat(core): deprecate legacy adjustment readers, port emails and seeds
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_merger.rb
  spree/core/app/models/spree/order_updater.rb
  spree/core/app/models/spree/permission_sets/order_display.rb
  spree/core/app/models/spree/permission_sets/order_management.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/app/services/spree/cart/empty.rb
  spree/core/db/sample_data/orders.rb
  spree/core/lib/spree/core/controller_helpers/order.rb
  spree/core/spec/models/spree/adjustment_spec.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/promotion_handler/coupon_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/services/spree/cart/empty_spec.rb
  spree/emails/app/views/spree/shared/_purchased_items_table.html.erb
  spree/emails/app/views/spree/shared/_purchased_items_table.text.erb
Due: core, emails, Core, Emails

docs(plans): reconcile split-adjustments design with the shipped Phase 2
  docs/plans/6.0-split-adjustments.md
  spree/core/spec/models/spree/return_item_spec.rb
Due: none

Redesign dashboard auth screens as a two-column layout
  packages/dashboard/src/assets/login_sidebar_background.png
  packages/dashboard/src/components/spree/auth-shell.tsx
  packages/dashboard/src/routes/accept-invitation.$invitationId.tsx
Due: none

Drop the card wrapper on dashboard auth forms
  packages/dashboard/src/routes/accept-invitation.$invitationId.tsx
  packages/dashboard/src/routes/login.tsx
Due: none

feat(core): backfill typed adjustment lines from legacy rows
  docs/plans/6.0-split-adjustments.md
  spree/core/app/models/spree/promotion/actions/create_adjustment.rb
  spree/core/app/services/spree/adjustments/distribute_amount.rb
  spree/core/lib/tasks/migrate_adjustments.rake
  spree/core/spec/lib/tasks/migrate_adjustments_spec.rb
Due: core, Core

improvements
  spree/admin/app/controllers/spree/admin/user_addresses_controller.rb
  spree/admin/app/views/spree/admin/tables/columns/_address_name.html.erb
  spree/admin/app/views/spree/admin/users/_tabs.html.erb
  spree/admin/spec/controllers/spree/admin/user_addresses_controller_spec.rb
Due: admin, Admin

Add addresses table to customer page in admin dashboard (#14352)
  spree/admin/app/controllers/spree/admin/user_addresses_controller.rb
  spree/admin/app/views/spree/admin/tables/columns/_address_name.html.erb
  spree/admin/app/views/spree/admin/user_addresses/index.html.erb
  spree/admin/app/views/spree/admin/users/_tabs.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/config/routes.rb
  spree/admin/spec/controllers/spree/admin/user_addresses_controller_spec.rb
Due: admin, Admin

Hide dashboard "View store" link until a storefront URL is set
  packages/dashboard-core/src/components/top-bar.tsx
Due: none

Auto-enable the storefront wholesale portal on sample-data scaffolds
  .changeset/wholesale-portal-auto-setup.md
  docs/plans/5.6-store-channel-context-and-key-binding.md
  packages/cli/src/commands/init.ts
  packages/cli/src/constants.ts
  packages/cli/tests/init.test.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/src/templates/env.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Release @spree/cli 2.4.8 and create-spree-app 1.2.1
  .changeset/wholesale-portal-auto-setup.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
Due: none

Tolerate an unreadable storefront env when detecting the wholesale opt-in
  packages/cli/src/commands/init.ts
Due: none

Auto-enable the storefront wholesale portal on sample-data scaffolds (#14354)
  docs/plans/5.6-store-channel-context-and-key-binding.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/constants.ts
  packages/cli/tests/init.test.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/src/templates/env.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Gate store-switcher "View store" item and wire it to the storefront
  packages/dashboard-core/src/components/store-switcher.tsx
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-core/src/lib/storefront.ts
Due: none

Expose accessible stores on the admin user and make the sidebar switcher real
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/generated/AdminUser.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/components/store-switcher.tsx
  spree/api/app/serializers/spree/api/v3/admin/admin_user_serializer.rb
  spree/api/lib/spree/api/openapi/schema_helper.rb
  spree/api/spec/serializers/spree/api/v3/admin/admin_user_serializer_spec.rb
Due: api, API

Require a storefront-visible payment method to complete payments setup
  spree/core/app/models/concerns/spree/stores/setup.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

Require storefront-visible payment methods for setup task (#14355)
  spree/core/app/models/concerns/spree/stores/setup.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

Permit channel storefront gating params in the Admin API
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/channels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/channels_spec.rb
Due: api, API

Cover channel gating preferences on create
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
Due: none

Assert a rejected gating update preserves the existing override
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
Due: none

Add storefront gating preferences to Channel API (#14356)
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/channels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/channels_spec.rb
Due: api, API

Address review feedback on the store switcher
  packages/dashboard-core/src/components/store-switcher.tsx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/admin_users_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/admin_user_serializer.rb
Due: api, API

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
