Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Update orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
Due: none

Fix tailwind look up paths in other gems
  spree/admin/lib/spree/admin/tailwind_helper.rb
Due: admin, Admin

Add missing `expand` and `fields` parameters to Admin API OpenAPI spec
  docs/api-reference/admin.yaml
  spree/api/spec/integration/spree/api/v3/admin/custom_field_definitions_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/customers/addresses_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/customers/credit_cards_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/customers/store_credits_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/customers_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/option_types_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/fulfillments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/items_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/payments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/refunds_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/payment_methods_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products/custom_fields_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variants_spec.rb
Due: none

Fix: Set Mobility.locale alongside I18n.locale for consistent translations
  spree/api/app/controllers/concerns/spree/api/v3/locale_and_currency.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/lib/spree/core/controller_helpers/locale.rb
Due: core, api, Core, API

Add tests verifying Mobility.locale synchronization
  spree/api/spec/controllers/concerns/spree/api/v3/locale_and_currency_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/categories_controller_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/locale_spec.rb
  spree/core/spec/mailers/spree/base_mailer_spec.rb
Due: none

Fix BaseMailer spec test data setup
  spree/core/spec/mailers/spree/base_mailer_spec.rb
Due: none

Allow blank gift card code in admin form to honor autogeneration tooltip
  spree/admin/app/views/spree/admin/gift_cards/_form.html.erb
  spree/admin/spec/controllers/spree/admin/gift_cards_controller_spec.rb
  spree/core/spec/models/spree/gift_card_spec.rb
Due: admin, Admin

Render dedicated expired page for invalid/expired admin invitations
  spree/admin/app/controllers/spree/admin/invitations_controller.rb
  spree/admin/app/views/spree/admin/invitations/expired.html.erb
  spree/admin/spec/controllers/spree/admin/invitations_controller_spec.rb
  spree/core/config/locales/en.yml
Due: core, admin, Admin

Add CMD+K to Admin SPA
  packages/admin/package.json
  packages/admin/src/components/spree/app-sidebar.tsx
  packages/admin/src/components/spree/command-palette/command-palette.tsx
  packages/admin/src/components/spree/nav-user.tsx
  packages/admin/src/components/spree/top-bar.tsx
  packages/admin/src/components/ui/command.tsx
  packages/admin/src/components/ui/dialog.tsx
  packages/admin/src/components/ui/sheet.tsx
  packages/admin/src/hooks/use-command-palette.tsx
  packages/admin/src/hooks/use-global-search.ts
  packages/admin/src/routes/_authenticated/$storeId.tsx
  pnpm-lock.yaml
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/app/models/spree/order.rb
Due: core, api, Core, API

improvements
  packages/admin/src/components/spree/command-palette/command-palette.tsx
  packages/admin/src/components/spree/top-bar.tsx
  packages/admin/src/hooks/use-global-search.ts
Due: none

Admin Auth — Cookie-Backed Refresh Tokens
  CLAUDE.md
  docs/plans/5.5-admin-auth-cookie-refresh.md
  packages/admin-sdk/.changeset/admin-cookie-auth.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/client.ts
  packages/admin-sdk/tests/auth.test.ts
  packages/admin/README.md
  packages/admin/src/client.ts
  packages/admin/src/main.tsx
  packages/admin/src/providers/auth-provider.tsx
  packages/admin/src/routes/__root.tsx
  packages/admin/src/routes/_authenticated.tsx
  packages/admin/src/routes/_authenticated/index.tsx
  packages/admin/src/routes/login.tsx
  packages/admin/vite.config.ts
  packages/sdk-core/src/request.ts
  spree/api/app/controllers/concerns/spree/api/v3/admin/auth_cookies.rb
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/auth_controller_spec.rb
Due: api, API

Reduce Admin JWT expiration TTL to 5 minutes
  packages/admin/src/providers/auth-provider.tsx
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/lib/spree/api/configuration.rb
Due: api, API

fixes
  docs/plans/5.5-admin-auth-cookie-refresh.md
  packages/admin/src/main.tsx
  packages/admin/src/providers/auth-provider.tsx
Due: none

fixes
  packages/admin-sdk/.changeset/admin-cookie-auth.md
  packages/sdk-core/src/request.ts
Due: none

Dark mode for Admin SPA
  packages/admin/index.html
  packages/admin/src/components/spree/back-button.tsx
  packages/admin/src/components/spree/json-preview-drawer.tsx
  packages/admin/src/components/spree/nav-main.tsx
  packages/admin/src/components/spree/sticky-form-footer.tsx
  packages/admin/src/components/spree/store-switcher.tsx
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/components/spree/theme-toggle.tsx
  packages/admin/src/components/spree/top-bar.tsx
  packages/admin/src/components/ui/badge.tsx
  packages/admin/src/components/ui/button.tsx
  packages/admin/src/components/ui/calendar.tsx
  packages/admin/src/components/ui/card.tsx
  packages/admin/src/components/ui/combobox.tsx
  packages/admin/src/components/ui/data-table.tsx
  packages/admin/src/components/ui/date-picker.tsx
  packages/admin/src/components/ui/dialog.tsx
  packages/admin/src/components/ui/dropdown-menu.tsx
  packages/admin/src/components/ui/input-group.tsx
  packages/admin/src/components/ui/input.tsx
  packages/admin/src/components/ui/pagination.tsx
  packages/admin/src/components/ui/popover.tsx
  packages/admin/src/components/ui/rich-text-editor.tsx
  packages/admin/src/components/ui/select.tsx
  packages/admin/src/components/ui/sheet.tsx
  packages/admin/src/components/ui/sidebar.tsx
  packages/admin/src/components/ui/switch.tsx
  packages/admin/src/components/ui/textarea.tsx
  packages/admin/src/components/ui/tooltip.tsx
  packages/admin/src/index.css
  packages/admin/src/main.tsx
  packages/admin/src/providers/theme-provider.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/new.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/admin/src/tables/customers.tsx
  packages/admin/src/tables/orders.tsx
  packages/admin/src/tables/products.tsx
Due: none

scrollbar fix
  packages/admin/src/components/spree/json-preview-drawer.tsx
  packages/admin/src/components/ui/calendar.tsx
  packages/admin/src/index.css
Due: none

fixes
  packages/admin/index.html
  packages/admin/src/components/spree/json-preview-drawer.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
Due: none

Admin SPA: Simplify authentication status checking
  packages/admin/src/main.tsx
  packages/admin/src/providers/auth-provider.tsx
  packages/admin/src/router.tsx
  packages/admin/src/routes/__root.tsx
  packages/admin/src/routes/_authenticated.tsx
  packages/admin/src/routes/_authenticated/index.tsx
  packages/admin/src/routes/login.tsx
Due: none

Added Admin SPA settings skeleton + store settings
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin/src/components/spree/form-actions.tsx
  packages/admin/src/components/spree/nav-main.tsx
  packages/admin/src/components/spree/page-header.tsx
  packages/admin/src/components/spree/settings-sidebar.tsx
  packages/admin/src/components/spree/sticky-form-footer.tsx
  packages/admin/src/hooks/use-scrolled.ts
  packages/admin/src/hooks/use-store-settings.ts
  packages/admin/src/lib/permissions.ts
  packages/admin/src/lib/settings-nav-registry.ts
  packages/admin/src/nav/settings.ts
  packages/admin/src/providers/permission-provider.tsx
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/admin/src/schemas/store.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/me_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/store_spec.rb
Due: api, API

fixes
  .github/workflows/spelling_lint.yml
  packages/admin/src/components/spree/form-actions.tsx
  packages/admin/src/hooks/use-scrolled.ts
Due: none

Added `<RelativeTime>` component in Admin SPA
  packages/admin/src/components/spree/custom-fields/custom-fields-drawer.tsx
  packages/admin/src/components/spree/relative-time.tsx
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/lib/formatters.ts
  packages/admin/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/admin/src/tables/customers.tsx
  packages/admin/src/tables/orders.tsx
  packages/admin/src/tables/products.tsx
Due: none

improvements
  .claude/settings.local.json
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/stock_reservation.rb
  spree/core/app/models/spree/stock_reservations/insufficient_stock_error.rb
  spree/core/app/services/spree/cart/add_item.rb
  spree/core/app/services/spree/cart/destroy.rb
  spree/core/app/services/spree/cart/remove_line_item.rb
  spree/core/app/services/spree/cart/set_quantity.rb
  spree/core/app/services/spree/stock_reservations/reserve.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/spec/models/spree/stock_reservation_spec.rb
Due: core, Core

specs improvements
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_stock_reservations_spec.rb
  spree/core/spec/services/spree/cart/add_item_spec.rb
  spree/core/spec/services/spree/cart/destroy_spec.rb
  spree/core/spec/services/spree/cart/empty_spec.rb
  spree/core/spec/services/spree/cart/remove_line_item_spec.rb
  spree/core/spec/services/spree/cart/set_quantity_spec.rb
  spree/core/spec/services/spree/carts/complete_spec.rb
  spree/core/spec/services/spree/carts/update_spec.rb
Due: none

Fix variant.quantifier private method error in VariantSerializer
  spree/api/app/serializers/spree/api/v3/variant_serializer.rb
  spree/core/app/models/spree/variant.rb
Due: core, api, Core, API

Move reserved_quantity/available_quantity from Store to Admin variant serializer
  docs/plans/6.0-stock-reservations.md
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/sdk/src/types/generated/Variant.ts
  packages/sdk/src/zod/generated/Variant.ts
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/variant_serializer.rb
  spree/core/app/models/spree/variant.rb
Due: core, api, Core, API

Address CodeRabbit review on stock reservations
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/stock_reservation.rb
  spree/core/app/services/spree/stock_reservations/reserve.rb
  spree/core/spec/models/spree/stock/quantifier_spec.rb
  spree/core/spec/services/spree/stock_reservations/extend_spec.rb
  spree/core/spec/services/spree/stock_reservations/reserve_spec.rb
Due: core, Core

Move reservation hooks into cart services
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/core/app/services/spree/cart/add_item.rb
  spree/core/app/services/spree/cart/destroy.rb
  spree/core/app/services/spree/cart/empty.rb
  spree/core/app/services/spree/cart/remove_line_item.rb
  spree/core/app/services/spree/cart/set_quantity.rb
  spree/core/app/services/spree/carts/complete.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/services/spree/stock_reservations/refresh.rb
  spree/core/app/services/spree/stock_reservations/sync.rb
  spree/core/spec/services/spree/stock_reservations/refresh_spec.rb
  spree/core/spec/services/spree/stock_reservations/sync_spec.rb
Due: core, api, Core, API

Extract Sync and Refresh as service objects
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/core/app/services/spree/stock_reservations/refresh.rb
  spree/core/app/services/spree/stock_reservations/sync.rb
  spree/core/spec/services/spree/stock_reservations/refresh_spec.rb
  spree/core/spec/services/spree/stock_reservations/sync_spec.rb
Due: core, api, Core, API

Add 5.4-to-5.5 upgrade guide; remove competitor references
  docs/developer/core-concepts/inventory.mdx
  docs/developer/upgrades/5.4-to-5.5.mdx
  docs/docs.json
  docs/plans/6.0-stock-reservations.md
Due: none

Documentation revisions: high-level inventory doc, accurate upgrade guide
  docs/developer/core-concepts/inventory.mdx
  docs/developer/upgrades/5.4-to-5.5.mdx
Due: none

Adopt 6.0 inventory naming today via 5.5 allocated_count shim
  docs/plans/6.0-stock-reservations.md
  packages/admin-sdk/src/types/generated/StockItem.ts
  packages/admin-sdk/src/types/generated/Variant.ts
  spree/api/app/serializers/spree/api/v3/admin/stock_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/stock_item.rb
  spree/core/app/models/spree/variant.rb
Due: core, api, Core, API

Polish: idiomatic column-exists check, cleaner YARD, plan tightening
  docs/plans/6.0-stock-reservations.md
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/stock_item.rb
Due: core, Core

Trim Stock Reservations docs: drop v2/legacy and 6.0 references
  docs/developer/core-concepts/inventory.mdx
  docs/developer/upgrades/5.4-to-5.5.mdx
Due: none

Document Stock Reservations in developer/core-concepts/inventory
  docs/developer/core-concepts/inventory.mdx
Due: none

Propagate Reserve failures from Carts::Update and Cart::RemoveLineItem
  spree/core/app/services/spree/cart/remove_line_item.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/spec/services/spree/cart/remove_line_item_spec.rb
  spree/core/spec/services/spree/carts/update_spec.rb
Due: core, Core

Address CodeRabbit findings: drop bash -c allowlist, restore Spree::Config in reserve_spec
  .claude/settings.local.json
  spree/core/spec/services/spree/stock_reservations/reserve_spec.rb
Due: none

Add Admin API endpoints for CSV exports
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/plans/5.5-admin-spa-csv-export.md
  spree/api/app/controllers/spree/api/v3/admin/exports_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/export_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/exports_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/exports_spec.rb
Due: api, API

Add `client.exports` resource to admin-sdk
  packages/admin-sdk/.changeset/admin-csv-exports.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Export.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/tests/exports.test.ts
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
