Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Removed the legacy Spree::Report system
  docs/developer/core-concepts/reporting.mdx
  docs/developer/how-to/extend-reporting.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-analytics-semantic-layer.md
  docs/plans/decisions.md
  spree/api/app/serializers/spree/api/v3/report_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/serializers/spree/api/v3/report_serializer_spec.rb
  spree/core/app/jobs/spree/reports/generate_job.rb
  spree/core/app/mailers/spree/report_mailer.rb
  spree/core/app/models/concerns/spree/admin_user_methods.rb
  spree/core/app/models/spree/exports/report.rb
  spree/core/app/models/spree/report.rb
  spree/core/app/models/spree/report_line_item.rb
  spree/core/app/models/spree/report_line_items/products_performance.rb
  spree/core/app/models/spree/report_line_items/sales_total.rb
  spree/core/app/models/spree/reports/products_performance.rb
  spree/core/app/models/spree/reports/sales_total.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/subscribers/spree/report_subscriber.rb
  spree/core/app/views/spree/report_mailer/report_done.html.erb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20250204162453_create_spree_reports.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/previews/report_preview.rb
  spree/core/lib/spree/testing_support/factories/report_factory.rb
  spree/core/spec/lib/spree/core_environment_spec.rb
  spree/core/spec/mailers/spree/report_mailer_spec.rb
  spree/core/spec/models/spree/admin_user_spec.rb
  spree/core/spec/models/spree/concerns/admin_user_methods_spec.rb
  spree/core/spec/models/spree/report_line_item_spec.rb
  spree/core/spec/models/spree/report_line_items/products_performance_spec.rb
  spree/core/spec/models/spree/report_line_items/sales_total_spec.rb
  spree/core/spec/models/spree/report_spec.rb
  spree/core/spec/models/spree/reports/products_performance_spec.rb
  spree/core/spec/models/spree/reports/sales_total_spec.rb
  spree/core/spec/subscribers/spree/report_subscriber_spec.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
Due: core, api, Core, API

Changed the counters endpoint to send keys instead of copy
  docs/api-reference/admin.yaml
  docs/developer/core-concepts/reporting.mdx
  docs/developer/how-to/extend-reporting.mdx
  docs/plans/6.0-analytics-semantic-layer.md
  docs/plans/decisions.md
  packages/admin-sdk/src/types/generated/DashboardCounter.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  spree/api/app/serializers/spree/api/v3/admin/dashboard_counter_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/dashboard_controller_spec.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/reporting/counter_result.rb
  spree/core/lib/spree/reporting/counters.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/spec/lib/spree/reporting/counters_spec.rb
Due: core, api, Core, API

Fix: Order page showing every seller's commission lines
  packages/dashboard/src/components/spree/orders/order-discounts-sidebar-card.tsx
  packages/dashboard/src/hooks/use-order.test.ts
  packages/dashboard/src/hooks/use-order.ts
Due: none

Fix: Split-checkout orders could never be fulfilled
  spree/core/app/models/spree/order.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
Due: core, Core

Fix: Stripe webhook registration losing the Connect signing secret
  spree/providers/stripe/app/jobs/spree_stripe/create_webhook_endpoint_job.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/connect.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/webhooks.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: none

Fix: Seller onboarding refused by Stripe for every connected account
  spree/providers/stripe/app/models/spree_stripe/gateway/connect.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/connect_spec.rb
Due: none

Fix: Seller transfers refused for every split checkout
  spree/providers/stripe/app/models/spree_stripe/payout_provider.rb
  spree/providers/stripe/spec/models/spree_stripe/payout_provider_spec.rb
Due: none

Fix: Refunded orders no longer show as paid
  spree/core/app/workflows/spree/carts/recalculate_totals.rb
  spree/core/spec/workflows/spree/carts/recalculate_totals_spec.rb
Due: core, Core

Fix: Cancelling a dispatched order refused without saying why
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/config/locales/en.yml
  spree/core/spec/workflows/spree/orders/cancel_spec.rb
Due: core, Core

Fix: Shipping part of an order charged the customer for delivery twice
  spree/core/app/workflows/spree/fulfillments/create.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/spec/workflows/spree/fulfillments/create_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
Due: core, Core

Fix: five findings from review of the reporting layer
  packages/dashboard/src/hooks/use-dashboard-counters.ts
  packages/dashboard/src/hooks/use-returns.ts
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  spree/core/app/models/concerns/spree/admin_user_methods.rb
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
  spree/core/spec/models/spree/concerns/admin_user_methods_spec.rb
Due: core, Core

Added a currency switcher to the dashboard home screen
  docs/developer/core-concepts/reporting.mdx
  packages/dashboard/e2e/home-dashboard.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
Due: none

Fix: stop scoping currency-free reporting metrics to one currency
  docs/developer/core-concepts/reporting.mdx
  docs/developer/how-to/extend-reporting.mdx
  docs/plans/decisions.md
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
Due: core, Core

Fix mintlify docs build
  docs/.mintignore
  docs/api-reference/seller.yaml
  spree/api/spec/integration/spree/api/v3/seller/package_types_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/payouts_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/transfers_spec.rb
Due: none

Documented the currency query member
  docs/developer/core-concepts/reporting.mdx
Due: none

Fix: stop scoping currency-free reporting metrics to one currency (#14623)
  docs/developer/core-concepts/reporting.mdx
  docs/developer/how-to/extend-reporting.mdx
  docs/plans/decisions.md
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
Due: core, Core

Move default project template backend to server
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/eject.ts
  packages/cli/src/commands/upgrade.ts
  packages/cli/src/context.ts
  packages/cli/tests/context.test.ts
  packages/cli/tests/eject.test.ts
  packages/create-spree-app/src/backend.ts
  packages/create-spree-app/src/constants.ts
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/server.ts
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/dependabot.ts
  packages/create-spree-app/src/templates/env.ts
  packages/create-spree-app/src/templates/gitignore.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/server.test.ts
  packages/create-spree-app/tests/storefront.test.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Move default project template backend to server (#14624)
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/eject.ts
  packages/cli/src/commands/upgrade.ts
  packages/cli/src/context.ts
  packages/cli/tests/context.test.ts
  packages/cli/tests/eject.test.ts
  packages/create-spree-app/src/backend.ts
  packages/create-spree-app/src/constants.ts
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/server.ts
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/dependabot.ts
  packages/create-spree-app/src/templates/env.ts
  packages/create-spree-app/src/templates/gitignore.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/server.test.ts
  packages/create-spree-app/tests/storefront.test.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Use `api_type` everywhere in the API to process types for STI models like Collection Rule
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/admin-sdk/examples/delivery-methods/create.ts
  packages/admin-sdk/examples/exports/create.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/CollectionRule.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/schemas/collection.ts
  spree/api/app/serializers/spree/api/v3/admin/collection_rule_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/collections_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/collections_spec.rb
Due: api, API

enforce rule in CLAUDE.md
  CLAUDE.md
Due: none

fix delivery methods and profiles
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_profiles_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/delivery_methods_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/delivery_method_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/delivery_profile_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/delivery_method_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/delivery_methods_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/delivery_settings_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/delivery_methods_spec.rb
Due: api, API

Removed the class-name fallback from API type resolution
  packages/admin-sdk/src/params.ts
  packages/dashboard/e2e/delivery-settings.spec.ts
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/schemas/collection.ts
  packages/seller-dashboard/src/pages/delivery-methods.tsx
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods/rules_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/exports_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/imports_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/exports_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/imports_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/collections_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/exports_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/imports_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/delivery_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/calculated_adjustments.rb
  spree/core/app/models/spree/collection.rb
  spree/core/spec/models/spree/collection_spec.rb
Due: core, api, Core, API

Added a seller panel test for pricing their own shipping
  packages/dashboard/e2e/seller-delivery-methods.spec.ts
Due: none

Use `api_type` everywhere in the API to process types for STI models … (#14625)
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/examples/delivery-methods/create.ts
  packages/admin-sdk/examples/exports/create.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/CollectionRule.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/e2e/delivery-settings.spec.ts
  packages/dashboard/e2e/seller-delivery-methods.spec.ts
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/schemas/collection.ts
  packages/seller-dashboard/src/pages/delivery-methods.tsx
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods/rules_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_profiles_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/exports_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/imports_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/exports_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/imports_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/collection_rule_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/delivery_method_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/delivery_profile_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/delivery_method_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/collections_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/exports_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/imports_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/delivery_methods_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/collections_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/delivery_settings_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/delivery_methods_spec.rb
  spree/core/app/models/concerns/spree/calculated_adjustments.rb
  spree/core/app/models/spree/collection.rb
  spree/core/spec/models/spree/collection_spec.rb
Due: core, api, Core, API

Fix: remove double delete confirms in dashboard
  docs/plans/6.0-beta-release.md
  packages/dashboard-core/src/components/page-header.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/categories/$categoryId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/collections/$collectionId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-profiles/$profileId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/webhooks/$webhookEndpointId.tsx
Due: none

Fix: remove double delete confirms in dashboard (#14626)
  docs/plans/6.0-beta-release.md
  packages/dashboard-core/src/components/page-header.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/categories/$categoryId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/collections/$collectionId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-profiles/$profileId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/webhooks/$webhookEndpointId.tsx
Due: none

Added carts, promotions and lifetime value to the reporting vocabulary
  docs/plans/6.0-reporting-additional-metrics.md
  docs/plans/decisions.md
  spree/core/app/models/spree/store.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/lib/spree/reporting/schema.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
  spree/core/spec/lib/spree/reporting/schema_spec.rb
Due: core, Core

Added the new reporting contract keys to the SDK and report builder
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/index.ts
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  packages/dashboard/src/components/spree/reporting/report-view.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Fix: pass metric filters through the reporting endpoint allowlist
  spree/api/app/controllers/spree/api/v3/admin/reporting_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/reporting_controller_spec.rb
Due: api, API

Fix: read promotion money through a subquery, not the grouping join
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
Due: core, Core

Fix: six defects found reviewing the new reporting vocabulary
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  spree/core/app/models/spree/line_item.rb
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
Due: core, Core

Moved reporting refusal data into the registry and indexed lifetime lookups
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  spree/core/app/models/spree/line_item.rb
  spree/core/db/migrate/20260912120000_index_reporting_lifetime_and_promotion_columns.rb
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
Due: core, Core

Marked the additional reporting plan implemented
  docs/plans/6.0-reporting-additional-metrics.md
  docs/plans/decisions.md
Due: none

Fix: seven defects found in the second review of the reporting vocabulary
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  packages/dashboard/src/components/spree/reporting/report-draft.ts
  packages/dashboard/src/components/spree/reporting/report-view.tsx
  spree/core/config/brakeman.ignore
  spree/core/config/locales/en.yml
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
Due: core, Core

Recorded the dropped discount_kind axis in the plan
  docs/plans/6.0-reporting-additional-metrics.md
Due: none

Fix: five findings from the review bot on the reporting vocabulary
  docs/plans/6.0-reporting-additional-metrics.md
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  packages/dashboard/src/components/spree/reporting/report-draft.ts
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
Due: core, Core

UI components update
  packages/dashboard-core/src/components/currency-select.tsx
  packages/dashboard-core/src/components/file-upload-field.tsx
  packages/dashboard-ui/src/spree/claim-resolve-dialog.tsx
  packages/dashboard-ui/src/spree/drag-handle.tsx
  packages/dashboard-ui/src/spree/post-sale-create-dialogs.tsx
  packages/dashboard-ui/src/spree/post-sale-fields.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard-ui/src/ui/button.tsx
  packages/dashboard-ui/src/ui/checkbox.tsx
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard-ui/src/ui/input-group.tsx
  packages/dashboard-ui/src/ui/input.tsx
  packages/dashboard-ui/src/ui/radio-group.tsx
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard-ui/src/ui/select.tsx
  packages/dashboard-ui/src/ui/textarea.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/components/spree/post-sale-create-dialogs.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/staff.tsx
Due: none

Fix: adding several products at once on purchase orders and transfers
  packages/dashboard-core/src/components/resource-picker-sheet.tsx
  packages/dashboard/e2e/inventory-line-picker.spec.ts
  packages/dashboard/src/components/spree/variant-line-editor.test.ts
  packages/dashboard/src/components/spree/variant-line-editor.tsx
Due: none

Index the picked batch when adding products
  packages/dashboard/src/components/spree/variant-line-editor.test.ts
  packages/dashboard/src/components/spree/variant-line-editor.tsx
Due: none
