Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Send a seller invitation to the seller panel
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/v6/developer/customization/configuration.mdx
  packages/dashboard-core/src/api-client.ts
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/package.json
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/accept-invitation.tsx
  packages/seller-dashboard/src/routeTree.gen.ts
  packages/seller-dashboard/src/routes/accept-invitation.$invitationId.tsx
  packages/seller-dashboard/src/vite/index.ts
  packages/seller-sdk/src/seller-client.ts
  pnpm-lock.yaml
  spree/api/app/controllers/spree/api/v3/seller/invitation_acceptances_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/invitation_acceptances_controller_spec.rb
  spree/api/spec/requests/seller_invitation_flow_spec.rb
  spree/core/app/finders/spree/sellers/panel_url.rb
  spree/core/config/locales/en.yml
  spree/core/config/routes.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/spec/mailers/spree/invitation_mailer_spec.rb
Due: core, api, Core, API

Build the seller team screen from the operator's staff page
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/seller-dashboard/src/i18n.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/team.tsx
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/Invitation.ts
  spree/api/app/controllers/spree/api/v3/seller/invitations_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/invitation_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/invitations_controller_spec.rb
  spree/api/spec/requests/seller_team_management_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API

Make the seller panel runnable in a worktree
  CLAUDE.md
  package.json
  scripts/worktree/dev-seller.sh
  scripts/worktree/lib.sh
  spree/core/lib/tasks/seller_sample_data.rake
Due: core, Core

Serve the seller panel at /sellers, like the dashboard
  CLAUDE.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/v6/developer/customization/configuration.mdx
  package.json
  packages/seller-dashboard/package.json
  packages/seller-dashboard/src/i18n.ts
  packages/seller-dashboard/src/index.ts
  packages/seller-dashboard/src/pages/team.tsx
  packages/seller-dashboard/src/seller-dashboard.tsx
  pnpm-lock.yaml
  spree/core/app/finders/spree/sellers/panel_url.rb
  spree/core/app/finders/spree/stores/dashboard_url.rb
  spree/core/spec/finders/spree/sellers/panel_url_spec.rb
  spree/dashboard/app/controllers/spree/dashboard/app_controller.rb
  spree/dashboard/app/controllers/spree/dashboard/spa_controller.rb
  spree/dashboard/app/controllers/spree/seller_panel/app_controller.rb
  spree/dashboard/config/routes.rb
  spree/dashboard/lib/spree/dashboard.rb
  spree/dashboard/lib/spree/seller_panel.rb
  spree/dashboard/spec/requests/spree/seller_panel/app_spec.rb
Due: core, Core

Prove the seller CRUD anchor, and make <Can> work on the panel
  packages/seller-dashboard/src/api-client.ts
  packages/seller-sdk/src/index.ts
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/Category.ts
  packages/seller-sdk/src/types/generated/CustomField.ts
  packages/seller-sdk/src/types/generated/Media.ts
  packages/seller-sdk/src/types/generated/OptionType.ts
  packages/seller-sdk/src/types/generated/OptionValue.ts
  packages/seller-sdk/src/types/generated/Price.ts
  packages/seller-sdk/src/types/generated/PriceHistory.ts
  packages/seller-sdk/src/types/generated/Product.ts
  packages/seller-sdk/src/types/generated/Seller.ts
  packages/seller-sdk/src/types/generated/Variant.ts
  packages/seller-sdk/src/types/generated/index.ts
  spree/api/app/controllers/concerns/spree/api/v3/permission_serialization.rb
  spree/api/app/controllers/spree/api/v3/admin/me_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/me_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/address_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/profile_serializer.rb
  spree/api/config/initializers/typelizer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/seller/me_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/products_controller_spec.rb
Due: api, API

Make the seller panel customisable the way the dashboard is
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/dashboard-core/src/components/app-sidebar.tsx
  packages/dashboard-core/src/providers/store-provider.tsx
  packages/seller-dashboard-starter/src/main.tsx
  packages/seller-dashboard-starter/src/plugins.ts
  packages/seller-dashboard/src/index.ts
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/pages/team.tsx
  packages/seller-dashboard/src/panel-chrome.tsx
Due: none

Address review findings on the seller panel bootstrap
  packages/seller-dashboard/src/api-client.ts
  packages/seller-dashboard/src/vite/index.ts
  spree/api/app/controllers/spree/api/v3/seller/invitation_acceptances_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/team_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/team_controller_spec.rb
  spree/core/app/finders/spree/sellers/panel_url.rb
  spree/core/lib/tasks/seller_sample_data.rake
  spree/core/spec/finders/spree/sellers/panel_url_spec.rb
Due: core, api, Core, API

Regenerate the seller SDK types
  packages/seller-sdk/src/types/generated/Media.ts
  packages/seller-sdk/src/types/generated/Product.ts
  packages/seller-sdk/src/types/generated/Variant.ts
Due: none

Add the maintenance tasks plan
  CLAUDE.md
  docs/plans/6.0-maintenance-tasks.md
  docs/plans/6.0-service-workflows.md
  docs/plans/decisions.md
Due: none

Accept seller invitations through the workflow
  spree/api/app/controllers/spree/api/v3/seller/invitation_acceptances_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/invitations_controller_spec.rb
Due: api, API

Let a seller work through their own onboarding checklist
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-seller-onboarding-requirements.md
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/src/components/onboarding-nav-badge.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/pages/onboarding.tsx
  packages/seller-dashboard/src/routeTree.gen.ts
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/onboarding.tsx
  packages/seller-sdk/src/index.ts
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/RequirementStatus.ts
  packages/seller-sdk/src/types/generated/RequirementSubmission.ts
  packages/seller-sdk/src/types/generated/index.ts
  spree/api/app/controllers/spree/api/v3/seller/onboarding_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/profile_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/requirement_submissions_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/requirement_status_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/requirement_submission_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/seller/onboarding_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/profile_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/requirement_submissions_controller_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API

Give the seller panel the dashboard's chrome and profile layout
  packages/dashboard-core/src/components/top-bar.tsx
  packages/seller-dashboard/src/components/seller-switcher.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/onboarding.tsx
  packages/seller-dashboard/src/pages/profile.tsx
  packages/seller-dashboard/src/pages/team.tsx
  packages/seller-dashboard/src/panel-chrome.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId.tsx
  spree/core/lib/tasks/seller_sample_data.rake
Due: core, Core

Add maintenance tasks to core
  spree/core/app/jobs/spree/maintenance_tasks/run_job.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/backfill_order_markets.rb
  spree/core/app/models/spree/maintenance_task.rb
  spree/core/app/models/spree/maintenance_task_run.rb
  spree/core/app/services/spree/maintenance_tasks/argument_parser.rb
  spree/core/app/services/spree/maintenance_tasks/cancel.rb
  spree/core/app/services/spree/maintenance_tasks/pause.rb
  spree/core/app/services/spree/maintenance_tasks/resume.rb
  spree/core/app/services/spree/maintenance_tasks/start.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260815000001_create_spree_maintenance_task_runs.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/lib/spree/testing_support/factories/maintenance_task_run_factory.rb
  spree/core/lib/tasks/maintenance_tasks.rake
  spree/core/spec/jobs/spree/maintenance_tasks/run_job_spec.rb
  spree/core/spec/lib/tasks/maintenance_tasks_spec.rb
  spree/core/spec/maintenance_tasks/spree/maintenance_tasks/upgrade/backfill_order_markets_spec.rb
  spree/core/spec/models/spree/maintenance_task_run_spec.rb
  spree/core/spec/models/spree/maintenance_task_spec.rb
  spree/core/spec/services/spree/maintenance_tasks/control_spec.rb
  spree/core/spec/services/spree/maintenance_tasks/start_spec.rb
Due: core, Core

Make the seller panel's setup checklist actionable
  packages/dashboard-core/src/api-client.ts
  packages/dashboard-core/src/components/address-form-dialog.tsx
  packages/dashboard-core/src/hooks/use-countries.ts
  packages/dashboard/src/api-client-setup.ts
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/src/api-client.ts
  packages/seller-dashboard/src/components/seller-address-card.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/pages/home.tsx
  packages/seller-dashboard/src/pages/onboarding.tsx
  packages/seller-dashboard/src/pages/profile.tsx
  packages/seller-dashboard/src/routeTree.gen.ts
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/index.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/profile.tsx
  packages/seller-sdk/src/index.ts
  packages/seller-sdk/src/seller-client.ts
  spree/api/app/controllers/spree/api/v3/seller/countries_controller.rb
  spree/api/config/routes.rb
  spree/core/app/models/spree/seller_requirements/accept_terms.rb
  spree/core/spec/models/spree/seller_requirements_spec.rb
Due: core, api, Core, API

Expose maintenance tasks through the Admin API
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/MaintenanceTaskRun.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/src/types/maintenance-task.ts
  packages/dashboard-core/src/lib/permissions.ts
  spree/api/app/controllers/spree/api/v3/admin/maintenance_task_runs_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/maintenance_tasks_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/maintenance_task_run_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/maintenance_task_runs_authorization_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/maintenance_task_runs_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/maintenance_tasks_controller_spec.rb
Due: api, API

Run every upgrade step as a maintenance task
  docs/plans/6.0-maintenance-tasks.md
  spree/core/app/jobs/spree/maintenance_tasks/run_job.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/adjustments_to_typed_rows.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/backfill_order_markets.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/calculator_bounds_to_delivery_method_rules.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/capture_methods.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/consolidate_metadata.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/country_state_codes.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/delivery_and_stock_store_ids.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/delivery_profiles.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/fulfillment_statuses.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/incomplete_orders_to_carts.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/product_types.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/rake_step.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/reason_store_ids.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/remove_master_variant.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/returns.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/rich_text_to_columns.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/shipping_to_delivery.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/store_settings_from_config.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/tax_store_ids.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/tax_zones.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/taxons_to_categories_and_collections.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/users_to_customers.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/zones_to_delivery_zones.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade_step.rb
  spree/core/app/models/spree/maintenance_task.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/country_state_code_migrator.rb
  spree/core/lib/spree/upgrade.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/migrate_country_state_codes.rake
  spree/core/lib/tasks/upgrade.rake
  spree/core/spec/lib/tasks/upgrade_manifest_spec.rb
Due: core, Core

Add the maintenance tasks dashboard page
  docs/plans/6.0-maintenance-tasks.md
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/src/components/spree/maintenance-tasks/run-detail-sheet.tsx
  packages/dashboard/src/components/spree/maintenance-tasks/run-task-dialog.tsx
  packages/dashboard/src/components/spree/maintenance-tasks/task-parameters-form.tsx
  packages/dashboard/src/hooks/use-maintenance-tasks.ts
  packages/dashboard/src/lib/maintenance-tasks.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/maintenance-tasks.tsx
  packages/dashboard/src/tables/maintenance-task-runs.tsx
Due: none

Let maintenance tasks read their rows from a CSV
  docs/plans/6.0-maintenance-tasks.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/maintenance-task.ts
  packages/dashboard/src/components/spree/maintenance-tasks/run-task-dialog.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/maintenance_task_runs_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/maintenance_tasks_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/maintenance_task_runs_controller_spec.rb
  spree/core/app/jobs/spree/maintenance_tasks/run_job.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/update_variant_prices.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/rake_step.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade_step.rb
  spree/core/app/models/spree/maintenance_task.rb
  spree/core/app/models/spree/maintenance_task_run.rb
  spree/core/app/services/spree/maintenance_tasks/start.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/maintenance_tasks/spree/maintenance_tasks/csv_collection_spec.rb
Due: core, api, Core, API

Document maintenance tasks
  CLAUDE.md
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/docs.json
  docs/plans/6.0-maintenance-tasks.md
  docs/v6/developer/how-to/maintenance-tasks.mdx
  spree/core/spec/lib/tasks/upgrade_manifest_spec.rb
Due: none

Show the upgrade manifest as a checklist
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/src/types/upgrade-step.ts
  packages/dashboard/src/components/spree/maintenance-tasks/upgrade-panel.tsx
  packages/dashboard/src/hooks/use-maintenance-tasks.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/maintenance-tasks.tsx
  spree/api/app/controllers/spree/api/v3/admin/upgrade_steps_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/upgrade_steps_controller_spec.rb
Due: api, API

Show only the upgrade steps a store still needs
  docs/plans/6.0-maintenance-tasks.md
  docs/v6/developer/how-to/maintenance-tasks.mdx
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/src/types/upgrade-step.ts
  packages/dashboard/src/components/spree/maintenance-tasks/upgrade-panel.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/maintenance-tasks.tsx
  spree/api/app/controllers/spree/api/v3/admin/upgrade_steps_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/upgrade_steps_controller_spec.rb
  spree/core/app/models/spree/upgrade_record.rb
  spree/core/app/services/spree/seeds/all.rb
  spree/core/db/migrate/20260816000001_create_spree_upgrade_records.rb
  spree/core/lib/spree/upgrade.rb
  spree/core/lib/tasks/upgrade.rake
  spree/core/spec/models/spree/upgrade_record_spec.rb
Due: core, api, Core, API

Restructure the maintenance tasks page
  docs/plans/6.0-maintenance-tasks.md
  docs/v6/developer/how-to/maintenance-tasks.mdx
  packages/admin-sdk/src/types/maintenance-task.ts
  packages/admin-sdk/src/types/upgrade-step.ts
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/ui/tabs.tsx
  packages/dashboard/src/components/spree/maintenance-tasks/upgrade-panel.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/maintenance-tasks.tsx
  spree/api/app/controllers/spree/api/v3/admin/maintenance_tasks_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/upgrade_steps_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/maintenance_tasks_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/upgrade_steps_controller_spec.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/update_variant_prices.rb
  spree/core/app/models/spree/upgrade_record.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/upgrade.rb
  spree/core/spec/maintenance_tasks/spree/maintenance_tasks/csv_collection_spec.rb
Due: core, api, Core, API

Run the new upgrade steps as maintenance tasks
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/master_images_to_product_media.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/media_class_names.rb
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/store_credit_categories.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/spec/lib/tasks/upgrade_manifest_spec.rb
  spree/providers/stripe/app/maintenance_tasks/spree_stripe/maintenance_tasks/migrate_webhook_keys.rb
  spree/providers/stripe/lib/spree_stripe/engine.rb
  spree/providers/stripe/spec/registers_upgrade_task_spec.rb
Due: core, Core

Run the search reindex upgrade step as a maintenance task
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/search_reindex.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
Due: core, Core

Run the stock movement upgrade step as a maintenance task
  packages/admin-sdk/src/types/generated/index.ts
  spree/core/app/maintenance_tasks/spree/maintenance_tasks/upgrade/stock_movements_to_typed_rows.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
Due: core, Core

Add Admin API for digital assets and download grants
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  spree/api/app/controllers/spree/api/v3/admin/digital_links_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/direct_uploads_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/digital_assets_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/digital_links_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/digital_assets_controller_spec.rb
  spree/core/lib/spree/core/permission_configuration.rb
Due: core, api, Core, API

Manage digital files and downloads from the dashboard
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/dashboard-core/src/hooks/use-direct-upload.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/components/spree/order-digital-links-card.tsx
  packages/dashboard/src/components/spree/products/digital-assets-card.tsx
  packages/dashboard/src/hooks/use-digital-assets.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/dashboard/src/schemas/store.ts
  packages/sdk/src/types/generated/index.ts
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
Due: api, API

Document the digital products feature as it now stands
  CLAUDE.md
  docs/api-reference/webhooks-events.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-digital-assets.md
  docs/use-case/digital-products/admin-capabilities.mdx
Due: none

Deliver download links by email and give customers a library
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/components/spree/order-digital-links-card.tsx
  packages/dashboard/src/hooks/use-digital-assets.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/sdk/src/store-client.ts
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/digital_links_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/digital_links_controller_spec.rb
  spree/core/config/locales/en.yml
  spree/emails/app/helpers/spree/digital_asset_helper.rb
  spree/emails/app/mailers/spree/digital_asset_mailer.rb
  spree/emails/app/subscribers/spree/digital_asset_email_subscriber.rb
  spree/emails/app/views/spree/digital_asset_mailer/files_ready_email.html.erb
  spree/emails/app/views/spree/digital_asset_mailer/files_ready_email.text.erb
  spree/emails/spec/mailers/spree/digital_asset_mailer_spec.rb
  spree/emails/spec/subscribers/spree/digital_asset_email_subscriber_spec.rb
Due: core, api, emails, API, Emails

Make the digital files card read like a listing
  packages/admin-sdk/src/types/generated/DigitalAsset.ts
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/file-type-icon.tsx
  packages/dashboard/src/components/spree/products/digital-asset-edit-sheet.tsx
  packages/dashboard/src/components/spree/products/digital-assets-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  spree/api/app/serializers/spree/api/v3/admin/digital_asset_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/digital_assets_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/digital_asset_serializer_spec.rb
Due: api, API

Record digital assets post-wave hardening in the plan
  docs/plans/6.0-digital-assets.md
Due: none

Order digital assets by their own table when listing
  spree/api/app/controllers/spree/api/v3/admin/products/digital_assets_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/digital_assets_controller_spec.rb
Due: api, API

Tighten the digital assets code after review
  packages/dashboard-core/src/components/file-upload-field.tsx
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard/src/components/spree/order-digital-links-card.tsx
  packages/dashboard/src/components/spree/products/digital-assets-card.tsx
  packages/dashboard/src/hooks/use-digital-assets.ts
  packages/sdk/src/store-client.ts
  spree/api/app/controllers/spree/api/v3/admin/digital_links_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/digital_assets_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/digital_links_controller.rb
  spree/api/app/models/spree/api/digital_link_urls.rb
  spree/api/app/serializers/spree/api/v3/digital_link_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/digital_links_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/digital_assets_controller_spec.rb
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/app/models/concerns/spree/purchase/digital_items.rb
  spree/core/config/locales/en.yml
  spree/core/spec/workflows/spree/orders/complete_spec.rb
  spree/emails/app/helpers/spree/digital_asset_helper.rb
  spree/emails/app/mailers/spree/digital_asset_mailer.rb
  spree/emails/app/views/spree/digital_asset_mailer/files_ready_email.html.erb
  spree/emails/app/views/spree/digital_asset_mailer/files_ready_email.text.erb
Due: core, api, emails, Core, API, Emails

Resolve a digital asset's variant through its product
  spree/api/app/controllers/spree/api/v3/admin/products/digital_assets_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/digital_assets_controller_spec.rb
Due: api, API

Document authoring a digital asset provider
  docs/docs.json
  docs/v6/developer/how-to/custom-digital-asset-provider.mdx
Due: none

Resolve digital downloads through a provider strategy
  packages/dashboard-starter/src/routeTree.gen.ts
  spree/api/app/controllers/spree/api/v3/store/digital_links_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/digital_links_controller_spec.rb
  spree/core/app/models/spree/digital_asset.rb
  spree/core/app/models/spree/digital_asset_provider/base.rb
  spree/core/app/models/spree/digital_asset_provider/file.rb
  spree/core/app/models/spree/digital_delivery.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260812000001_add_provider_type_to_spree_digital_assets.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/digital_asset_provider/file_spec.rb
  spree/core/spec/models/spree/digital_asset_spec.rb
  spree/core/spec/models/spree/digital_delivery_spec.rb
Due: core, api, Core, API

Design provider assets (wave 6) and license-code pools (wave 7)
  CLAUDE.md
  docs/plans/6.0-digital-assets.md
  docs/plans/decisions.md
Due: none

Mark digital assets wave 6 as shipped
  CLAUDE.md
  docs/plans/6.0-digital-assets.md
Due: none

Expose the asset source through the Admin API
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/DigitalAsset.ts
  spree/api/app/controllers/spree/api/v3/admin/products/digital_assets_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/digital_asset_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/digital_assets_controller_spec.rb
Due: api, API
