Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Refactor newsletter email delivery to use event-driven subscriber pattern
  server/Gemfile.lock
  spree/core/app/models/spree/newsletter_subscriber.rb
  spree/core/app/models/spree/newsletter_subscriber/emails.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
  spree/core/spec/services/spree/newsletter/subscribe_spec.rb
  spree/emails/app/models/spree/newsletter_subscriber/emails.rb
  spree/emails/app/subscribers/spree/newsletter_subscriber_email_subscriber.rb
  spree/emails/lib/spree/emails/engine.rb
  spree/emails/spec/models/spree/newsletter_subscriber_spec.rb
  spree/emails/spec/subscribers/spree/newsletter_subscriber_email_subscriber_spec.rb
Due: core, emails, Core, Emails

Remove unused FilterParam concern
  server/Gemfile.lock
  spree/core/app/models/concerns/spree/filter_param.rb
Due: core, Core

Fix subscriber lookup to use find_by_prefix_id for prefixed event payload IDs
  spree/emails/app/subscribers/spree/newsletter_subscriber_email_subscriber.rb
  spree/emails/spec/subscribers/spree/newsletter_subscriber_email_subscriber_spec.rb
Due: emails, Emails

Remove deprecated Spree::Core::Importer (#13691)
  server/Gemfile.lock
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/importer.rb
  spree/core/lib/spree/core/importer/order.rb
  spree/core/lib/spree/core/importer/product.rb
  spree/core/spec/lib/spree/core/importer/order_spec.rb
Due: core, Core

Remove unused FilterParam concern (#13693)
  spree/core/app/models/concerns/spree/filter_param.rb
Due: core, Core

Remove Order::Emails, Shipment::Emails, Reimbursement::Emails concerns
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order/emails.rb
  spree/core/app/models/spree/reimbursement.rb
  spree/core/app/models/spree/reimbursement/emails.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/app/models/spree/shipment/emails.rb
  spree/core/app/models/spree/shipment_handler.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/emails/app/subscribers/spree/order_email_subscriber.rb
  spree/emails/app/subscribers/spree/reimbursement_email_subscriber.rb
  spree/emails/app/subscribers/spree/shipment_email_subscriber.rb
  spree/emails/spec/subscribers/spree/order_email_subscriber_spec.rb
  spree/emails/spec/subscribers/spree/reimbursement_email_subscriber_spec.rb
  spree/emails/spec/subscribers/spree/shipment_email_subscriber_spec.rb
Due: core, emails, Core, Emails

Refactor newsletter email delivery to use event-driven subscriber (#13692)
  spree/core/app/models/spree/newsletter_subscriber.rb
  spree/core/app/models/spree/newsletter_subscriber/emails.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order/emails.rb
  spree/core/app/models/spree/reimbursement.rb
  spree/core/app/models/spree/reimbursement/emails.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/app/models/spree/shipment/emails.rb
  spree/core/app/models/spree/shipment_handler.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/services/spree/newsletter/subscribe_spec.rb
  spree/emails/app/models/spree/newsletter_subscriber/emails.rb
  spree/emails/app/subscribers/spree/newsletter_subscriber_email_subscriber.rb
  spree/emails/app/subscribers/spree/order_email_subscriber.rb
  spree/emails/app/subscribers/spree/reimbursement_email_subscriber.rb
  spree/emails/app/subscribers/spree/shipment_email_subscriber.rb
  spree/emails/lib/spree/emails/engine.rb
  spree/emails/spec/models/spree/newsletter_subscriber_spec.rb
  spree/emails/spec/subscribers/spree/newsletter_subscriber_email_subscriber_spec.rb
  spree/emails/spec/subscribers/spree/order_email_subscriber_spec.rb
  spree/emails/spec/subscribers/spree/reimbursement_email_subscriber_spec.rb
  spree/emails/spec/subscribers/spree/shipment_email_subscriber_spec.rb
Due: core, emails, Core, Emails

Change server startup command in README
  server/README.md
Due: none

Update server startup command in setup script
  server/bin/setup
Due: none

Update startup command in setup script
  server/bin/setup
Due: none

Change server startup command in README (#13695)
  server/README.md
  server/bin/setup
Due: none

Enforce country exclusivity per market
  spree/admin/app/controllers/spree/admin/markets_controller.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/market_country.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/market_country_spec.rb
Due: core, admin, Core, Admin

Normalize i18n locale file
  spree/core/config/locales/en.yml
Due: core

Enforce country exclusivity per market (#13697)
  spree/admin/app/controllers/spree/admin/markets_controller.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/market_country.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/market_country_spec.rb
Due: core, admin, Core, Admin

Fixed: cleanup and standarize in_stock/out_of_scope scopes for Products API
  spree/admin/app/helpers/spree/admin/products_helper.rb
  spree/admin/app/views/spree/admin/products/_table_filter_dropdown.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
  spree/core/app/finders/spree/products/find.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/product.rb
  spree/core/spec/finders/spree/products/find_spec.rb
  spree/core/spec/models/spree/product/scopes_spec.rb
Due: core, admin, Core, Admin

Fixed: cleanup and standarize in_stock/out_of_scope scopes for Produc… (#13698)
  spree/admin/app/helpers/spree/admin/products_helper.rb
  spree/admin/app/views/spree/admin/products/_table_filter_dropdown.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
  spree/core/app/finders/spree/products/find.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/product.rb
  spree/core/spec/finders/spree/products/find_spec.rb
  spree/core/spec/models/spree/product/scopes_spec.rb
Due: core, admin, Core, Admin

Fix core subscribers to use Prefixed IDs
  spree/admin/app/subscribers/spree/admin/import_row_subscriber.rb
  spree/admin/app/subscribers/spree/admin/import_subscriber.rb
  spree/admin/spec/subscribers/spree/admin/import_row_subscriber_spec.rb
  spree/admin/spec/subscribers/spree/admin/import_subscriber_spec.rb
  spree/core/app/subscribers/spree/invitation_email_subscriber.rb
  spree/core/spec/subscribers/spree/invitation_email_subscriber_spec.rb
Due: core, admin, Core, Admin

Fix core subscribers to use Prefixed IDs (#13699)
  spree/admin/app/subscribers/spree/admin/import_row_subscriber.rb
  spree/admin/app/subscribers/spree/admin/import_subscriber.rb
  spree/admin/spec/subscribers/spree/admin/import_row_subscriber_spec.rb
  spree/admin/spec/subscribers/spree/admin/import_subscriber_spec.rb
  spree/core/app/subscribers/spree/invitation_email_subscriber.rb
  spree/core/spec/subscribers/spree/invitation_email_subscriber_spec.rb
Due: core, admin, Core, Admin

Update products.mdx
  docs/developer/core-concepts/products.mdx
Due: none

Update products.mdx (#13700)
  docs/developer/core-concepts/products.mdx
Due: none

Change Server app defaults
  .github/CONTRIBUTING.md
  docker-compose.yml
  server/Gemfile.common
  server/Gemfile.lock
  server/Procfile.dev
  server/README.md
  server/bin/jobs
  server/config/application.rb
  server/config/cable.yml
  server/config/cache.yml
  server/config/database.yml
  server/config/environments/development.rb
  server/config/environments/production.rb
  server/config/puma.rb
  server/config/queue.yml
  server/config/recurring.yml
  server/db/cable_schema.rb
  server/db/cache_schema.rb
  server/db/queue_schema.rb
Due: none

fix[v-3325]: order_refunded? fix
  spree/core/app/models/spree/order.rb
  spree/core/spec/models/spree/order_spec.rb
Due: core, Core

Change Server app defaults (#13701)
  .github/CONTRIBUTING.md
  docker-compose.yml
  server/Gemfile.common
  server/Gemfile.lock
  server/Procfile.dev
  server/README.md
  server/bin/jobs
  server/config/application.rb
  server/config/cable.yml
  server/config/cache.yml
  server/config/database.yml
  server/config/environments/development.rb
  server/config/environments/production.rb
  server/config/puma.rb
  server/config/queue.yml
  server/config/recurring.yml
  server/db/cable_schema.rb
  server/db/cache_schema.rb
  server/db/queue_schema.rb
Due: none

Update metafields.mdx
  docs/developer/core-concepts/metafields.mdx
Due: none

Update inventory.mdx
  docs/developer/core-concepts/inventory.mdx
Due: none

Update stores.mdx
  docs/developer/core-concepts/stores.mdx
Due: none

Update payments.mdx
  docs/developer/core-concepts/payments.mdx
Due: none

Update orders.mdx
  docs/developer/core-concepts/orders.mdx
Due: none

Update pricing.mdx
  docs/developer/core-concepts/pricing.mdx
Due: none

Update store-credits-gift-cards.mdx
  docs/developer/core-concepts/store-credits-gift-cards.mdx
Due: none

Update architecture.mdx
  docs/developer/core-concepts/architecture.mdx
Due: none

Update events.mdx
  docs/developer/core-concepts/events.mdx
Due: none

Update images-assets.mdx
  docs/developer/core-concepts/images-assets.mdx
Due: none

Update slugs.mdx
  docs/developer/core-concepts/slugs.mdx
Due: none

Update markets.mdx
  docs/developer/core-concepts/markets.mdx
Due: none

new homepage!
  docs/developer/getting-started/quickstart.mdx
  docs/index.mdx
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
