Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Changed the seller account dialog to match the dashboard
  packages/seller-dashboard/src/locales/ar.json
  packages/seller-dashboard/src/locales/de.json
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/locales/fr.json
  packages/seller-dashboard/src/locales/pl.json
  packages/seller-dashboard/src/locales/zh-CN.json
Due: none

Fix: let a seller clear their name
  docs/api-reference/seller.yaml
  packages/seller-dashboard/src/schemas/account.ts
  spree/api/spec/controllers/spree/api/v3/seller/me_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/me_spec.rb
Due: none

Added store-scoped uniqueness to natural keys without one
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/seller.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/models/spree/webhook_endpoint.rb
  spree/core/lib/spree/testing_support/factories/api_key_factory.rb
  spree/core/lib/spree/testing_support/factories/delivery_method_factory.rb
  spree/core/lib/spree/testing_support/factories/payment_method_factory.rb
  spree/core/spec/models/spree/api_key_spec.rb
  spree/core/spec/models/spree/delivery_method_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
  spree/core/spec/models/spree/webhook_endpoint_spec.rb
Due: core, Core

Made seller transfer settlement columns required
  spree/core/app/models/spree/seller_transfer.rb
  spree/core/db/migrate/20260914000001_add_settlement_to_spree_seller_transfers.rb
Due: core, Core

Added a sample data option to first-run setup
  .changeset/admin-sdk-setup-sample-data.md
  .changeset/dashboard-setup-sample-data.md
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/setup.tsx
  packages/dashboard/src/schemas/auth.ts
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/setup_spec.rb
  spree/core/app/jobs/spree/sample_data/load_job.rb
  spree/core/spec/jobs/spree/sample_data/load_job_spec.rb
Due: core, api, Core, API

Scaffold spree.config.yml and deploy it during spree init
  .changeset/create-spree-app-config-file.md
  packages/cli/src/commands/init.ts
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/src/prompts.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/spree-config.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Added spree config: declarative store configuration
  .changeset/cli-configurator.md
  docs/schemas/spree-config/1.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/schemas/spree-config.json
  packages/cli/scripts/emit-config-schema.mjs
  packages/cli/src/commands/config.ts
  packages/cli/src/config/apply.ts
  packages/cli/src/config/client.ts
  packages/cli/src/config/context.ts
  packages/cli/src/config/diff.ts
  packages/cli/src/config/errors.ts
  packages/cli/src/config/index.ts
  packages/cli/src/config/introspect.ts
  packages/cli/src/config/load.ts
  packages/cli/src/config/plan.ts
  packages/cli/src/config/render.ts
  packages/cli/src/config/schema.ts
  packages/cli/src/config/scopes.ts
  packages/cli/src/config/sections/catalog.ts
  packages/cli/src/config/sections/delivery.ts
  packages/cli/src/config/sections/index.ts
  packages/cli/src/config/sections/people.ts
  packages/cli/src/config/sections/section.ts
  packages/cli/src/config/sections/settings.ts
  packages/cli/src/config/types.ts
  packages/cli/src/index.ts
  packages/cli/tests/config-fake-api.ts
  packages/cli/tests/config-load.test.ts
  packages/cli/tests/config-plan.test.ts
  packages/cli/tests/config-schema.test.ts
  packages/cli/tsconfig.json
  packages/cli/tsup.config.ts
  pnpm-lock.yaml
Due: none

Documented spree config and recorded the configurator decisions
  docs/developer/cli/configurator.mdx
  docs/developer/cli/quickstart.mdx
  docs/docs.json
  docs/plans/6.0-cli-configurator.md
  docs/plans/decisions.md
Due: none

Moved the dashboard e2e fixtures to a spree.config.yml
  packages/dashboard/e2e/fixtures/store.yml
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/package.json
Due: none

Fix: configurator review findings
  packages/cli/src/commands/init.ts
  packages/cli/src/config.ts
  packages/cli/src/config/context.ts
  packages/cli/src/config/diff.ts
  packages/cli/src/config/sections/catalog.ts
  packages/cli/src/config/sections/delivery.ts
  packages/cli/src/config/sections/section.ts
  packages/cli/src/config/sections/settings.ts
  packages/cli/tests/config-diff.test.ts
  packages/cli/tests/config-plan.test.ts
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/models/spree/webhook_endpoint.rb
  spree/core/lib/tasks/cli.rake
  spree/core/spec/lib/tasks/cli_spec.rb
  spree/core/spec/models/spree/api_key_spec.rb
  spree/core/spec/models/spree/delivery_method_spec.rb
Due: core, Core

Fix: seller actions use PATCH and delivery methods name their pickup points
  docs/developer/cli/configurator.mdx
  docs/schemas/spree-config/1.json
  packages/cli/schemas/spree-config.json
  packages/cli/src/config/schema.ts
  packages/cli/src/config/sections/delivery.ts
  packages/cli/src/config/sections/people.ts
  packages/cli/tests/config-fake-api.ts
Due: none

Simplified the configurator after review
  packages/cli/src/api/client.ts
  packages/cli/src/commands/api-key.ts
  packages/cli/src/commands/api.ts
  packages/cli/src/commands/config.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/config.ts
  packages/cli/src/config/client.ts
  packages/cli/src/config/context.ts
  packages/cli/src/config/index.ts
  packages/cli/src/config/plan.ts
  packages/cli/src/config/render.ts
  packages/cli/src/config/scopes.ts
  packages/cli/src/config/sections/catalog.ts
  packages/cli/src/config/sections/delivery.ts
  packages/cli/src/config/sections/people.ts
  packages/cli/src/config/sections/section.ts
  packages/cli/src/config/sections/settings.ts
  packages/cli/src/config/types.ts
  packages/cli/tests/config-fake-api.ts
Due: none

Fix: cleaned the CLI build once, checked e2e fixtures by key, matched keys case-insensitively
  packages/cli/package.json
  packages/cli/src/config/sections/catalog.ts
  packages/cli/tsup.config.ts
  packages/dashboard/e2e/global-setup.ts
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/models/spree/webhook_endpoint.rb
Due: core, Core

Simplified natural keys and the engine's section contract
  docs/plans/6.0-cli-configurator.md
  packages/cli/src/config/apply.ts
  packages/cli/src/config/client.ts
  packages/cli/src/config/context.ts
  packages/cli/src/config/index.ts
  packages/cli/src/config/plan.ts
  packages/cli/src/config/render.ts
  packages/cli/src/config/sections/catalog.ts
  packages/cli/src/config/sections/delivery.ts
  packages/cli/src/config/sections/index.ts
  packages/cli/src/config/sections/people.ts
  packages/cli/src/config/sections/section.ts
  packages/cli/src/config/sections/settings.ts
  packages/cli/src/config/types.ts
  spree/core/app/models/concerns/spree/natural_key.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/models/spree/webhook_endpoint.rb
Due: core, Core

Fix: kept removed prices, stock and descriptions visible in the diff
  CLAUDE.md
  docs/plans/6.0-cli-configurator.md
  packages/cli/src/commands/init.ts
  packages/cli/src/config.ts
  packages/cli/src/config/apply.ts
  packages/cli/src/config/context.ts
  packages/cli/src/config/plan.ts
  packages/cli/src/config/sections/catalog.ts
  packages/cli/src/config/sections/delivery.ts
  packages/cli/src/config/sections/index.ts
  packages/cli/src/config/sections/people.ts
  packages/cli/src/config/sections/section.ts
  packages/cli/src/config/sections/settings.ts
  packages/cli/src/config/types.ts
  packages/cli/tests/config-plan.test.ts
  packages/dashboard/e2e/global-setup.ts
  scripts/worktree/e2e.sh
  spree/core/app/models/concerns/spree/natural_key.rb
  spree/core/app/models/concerns/spree/unique_within_store.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/models/spree/webhook_endpoint.rb
Due: core, Core

Changed both panels to share the account form mapping
  packages/dashboard-core/src/lib/form-mappers.ts
  packages/dashboard-core/src/lib/i18n.ts
  packages/dashboard/src/i18n-setup.ts
  packages/dashboard/src/schemas/me.ts
  packages/seller-dashboard/src/schemas/account.ts
Due: none

Fix: decoded HTML entities once when rendering a description
  packages/cli/src/config/sections/catalog.ts
  packages/cli/tests/config-diff.test.ts
Due: none

Renamed the uniqueness concern and included it in Base
  docs/plans/6.0-cli-configurator.md
  spree/core/app/models/concerns/spree/validates_store_uniqueness.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/models/spree/webhook_endpoint.rb
Due: core, Core

Fix: sequenced factory names that now collide per store
  spree/core/lib/spree/testing_support/factories/delivery_method_factory.rb
  spree/providers/stripe/lib/spree_stripe/testing_support/factories/gateway_factory.rb
Due: none

Stopped asking at the terminal what the setup screen asks
  .changeset/cli-setup-no-prompts.md
  .changeset/create-spree-app-no-sample-prompt.md
  packages/cli/src/commands/api-key.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/config.ts
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/src/prompts.ts
  packages/create-spree-app/src/scaffold.ts
Due: none

Fix: stop dashboard counters from adding a duplicate filter
  docs/developer/core-concepts/reporting.mdx
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  spree/api/spec/controllers/spree/api/v3/admin/dashboard_controller_spec.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/spec/lib/spree/reporting/counters_spec.rb
Due: core, Core

Changed how the table toolbar shows what is filtering a list
  packages/dashboard-core/src/components/table-toolbar.tsx
Due: none

Fix: disambiguate the erased-customer filter clicks in E2E
  packages/dashboard/e2e/customers.spec.ts
Due: none

Made per-store name uniqueness one declaration
  .changeset/core-unique-per-store.md
  spree/core/app/models/concerns/spree/named_type.rb
  spree/core/app/models/concerns/spree/unique_name.rb
  spree/core/app/models/concerns/spree/unique_per_store.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/claim_reason.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/option_type.rb
  spree/core/app/models/spree/order_cancellation_reason.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/refund_reason.rb
  spree/core/app/models/spree/return_reason.rb
  spree/core/app/models/spree/role.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/models/spree/webhook_endpoint.rb
  spree/core/app/models/spree/zone.rb
  spree/core/db/migrate/20260914230000_add_store_to_spree_option_types.rb
  spree/core/lib/spree/testing_support/factories/api_key_factory.rb
  spree/core/lib/spree/testing_support/factories/delivery_method_factory.rb
  spree/core/lib/spree/testing_support/factories/payment_method_factory.rb
  spree/core/lib/tasks/cli.rake
  spree/core/spec/lib/tasks/cli_spec.rb
  spree/core/spec/models/spree/api_key_spec.rb
  spree/core/spec/models/spree/concerns/unique_per_store_spec.rb
  spree/core/spec/models/spree/delivery_method_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
  spree/core/spec/models/spree/translations/batch_spec.rb
  spree/core/spec/models/spree/webhook_endpoint_spec.rb
  spree/providers/stripe/lib/spree_stripe/testing_support/factories/gateway_factory.rb
Due: core, Core

Added a way to filter on a field its quick control cannot express
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
Due: none

Fix: scoped option type positions by store and kept store_id nullable
  spree/core/app/models/spree/option_type.rb
  spree/core/db/migrate/20260914230000_add_store_to_spree_option_types.rb
Due: core, Core

Fix: dashboard filter UX and duplicate counter filters (#14646)
  docs/developer/core-concepts/reporting.mdx
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/e2e/customers.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  spree/api/spec/controllers/spree/api/v3/admin/dashboard_controller_spec.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/spec/lib/spree/reporting/counters_spec.rb
Due: core, Core

Fix: addressed review findings on the uniqueness rule
  spree/core/app/models/concerns/spree/unique_per_store.rb
  spree/core/app/models/spree/variant.rb
  spree/core/db/migrate/20260914230000_add_store_to_spree_option_types.rb
  spree/core/lib/tasks/cli.rake
  spree/core/spec/lib/tasks/cli_spec.rb
  spree/core/spec/models/spree/concerns/unique_per_store_spec.rb
Due: core, Core

Improvements to the dark theme
  packages/dashboard-ui/src/styles.css
Due: none

Delete .changeset/core-unique-per-store.md
  .changeset/core-unique-per-store.md
Due: none

Named the macro for what it declares and kept NamedType
  spree/core/app/models/concerns/spree/named_type.rb
  spree/core/app/models/concerns/spree/validates_store_uniqueness.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/claim_reason.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/option_type.rb
  spree/core/app/models/spree/order_cancellation_reason.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/refund_reason.rb
  spree/core/app/models/spree/return_reason.rb
  spree/core/app/models/spree/role.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/models/spree/webhook_endpoint.rb
  spree/core/spec/models/spree/concerns/validates_store_uniqueness_spec.rb
Due: core, Core

Declared the settlement columns required on the column itself
  spree/core/db/migrate/20260914000001_add_settlement_to_spree_seller_transfers.rb
Due: core

Made per-store name uniqueness one declaration (V-3633) (#14647)
  spree/core/app/models/concerns/spree/named_type.rb
  spree/core/app/models/concerns/spree/unique_name.rb
  spree/core/app/models/concerns/spree/validates_store_uniqueness.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/option_type.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/role.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/models/spree/webhook_endpoint.rb
  spree/core/app/models/spree/zone.rb
  spree/core/db/migrate/20260914230000_add_store_to_spree_option_types.rb
  spree/core/lib/spree/testing_support/factories/api_key_factory.rb
  spree/core/lib/spree/testing_support/factories/delivery_method_factory.rb
  spree/core/lib/spree/testing_support/factories/payment_method_factory.rb
  spree/core/lib/tasks/cli.rake
  spree/core/spec/lib/tasks/cli_spec.rb
  spree/core/spec/models/spree/api_key_spec.rb
  spree/core/spec/models/spree/concerns/validates_store_uniqueness_spec.rb
  spree/core/spec/models/spree/delivery_method_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
  spree/core/spec/models/spree/translations/batch_spec.rb
  spree/core/spec/models/spree/webhook_endpoint_spec.rb
  spree/providers/stripe/lib/spree_stripe/testing_support/factories/gateway_factory.rb
Due: core, Core

Fix: Added logo and cover photo uploads to seller profile
  packages/seller-dashboard/src/components/profile-image-field.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/profile.tsx
  packages/seller-dashboard/src/schemas/profile.ts
Due: none

Fix: Show seller and category names on commission rate conditions
  packages/admin-sdk/src/types/generated/CommissionRule.ts
  packages/dashboard/src/routes/_authenticated/$storeId/sellers/commission-rates.tsx
  packages/dashboard/src/schemas/commission-rate.test.ts
  packages/dashboard/src/schemas/commission-rate.ts
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/commission_rule_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
Due: api, API

Changed: Extracted shared form image field to dashboard-core
  packages/dashboard-core/src/components/form-image-field.tsx
  packages/dashboard-core/src/hooks/use-on-sheet-open.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/attachment-image-form.ts
  packages/dashboard/src/components/spree/resource-image-field.tsx
  packages/dashboard/src/hooks/use-on-sheet-open.ts
  packages/dashboard/src/schemas/seller.ts
Due: none
