Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Pin Ruby version for Render
  .ruby-version
Due: none

Allow Render build to update Spree starter lockfile
  bin/render-build.sh
Due: none

Deploy Spree starter with published gems on Render
  bin/render-build.sh
Due: none

Use Render-supported Ruby version
  .ruby-version
Due: none

Override starter Ruby version during Render build
  bin/render-build.sh
Due: none

Remove unsupported Bundler lock option
  bin/render-build.sh
Due: none

Use dummy secret for Rails asset precompile
  bin/render-build.sh
Due: none

Skip database preparation when DATABASE_URL is missing
  bin/render-build.sh
Due: none

Document Render build-only test setup
  RENDER.md
Due: none

docs: record deployment success
  docs/deployment-status.md
Due: none

docs: expand deployment verification notes
  docs/deployment-status.md
Due: none

Set Polish as default dashboard locale
  docs/engine-decisions.md
  packages/dashboard-core/src/lib/i18n.ts
  packages/dashboard-core/src/providers/auth-provider.tsx
  packages/dashboard-core/src/providers/store-provider.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/profile.tsx
Due: none

Localize sidebar trigger label
  packages/dashboard-ui/src/ui/sidebar.tsx
Due: none

docs: document trial Neon and Upstash setup
  docs/deployment-status.md
Due: none

Disable legacy Rails admin UI, migrate to React SPA dashboard
  spree/admin/config/routes.rb
Due: admin

Remove Spree branding and external links for white-label dashboard
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/pl.json
Due: none

Polish language setup + white-label dashboard (#11)
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/pl.json
  spree/admin/config/routes.rb
Due: admin

trigger: Render redeploy with Polish language
  DEPLOY_TIMESTAMP
Due: none

Set cdn_image_url correctly
  spree/core/config/routes.rb
  spree/core/spec/routing/cdn_image_spec.rb
Due: core

update Admin::MediaSerializer
  spree/api/app/serializers/spree/api/v3/admin/media_serializer.rb
  spree/api/spec/serializers/spree/api/v3/admin/media_serializer_spec.rb
  spree/core/config/routes.rb
Due: core, api, API

Fix Meilisearch price-filter spec to drop the placeholder default variant
  spree/api/spec/controllers/spree/api/v3/store/products/meilisearch_integration_spec.rb
Due: none

Add default_variant_id and master-variant retirement task
  docs/plans/6.0-remove-master-variant.md
  spree/core/db/migrate/20260630000001_add_default_variant_id_to_spree_products.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/remove_master_variant.rake
  spree/core/spec/lib/tasks/remove_master_variant_spec.rb
Due: core, Core

Clarify default-variant media-link guard comment
  spree/core/app/jobs/spree/media/migrate_product_assets_job.rb
Due: core, Core

Discontinue kept master variants in remove_master_variant task
  spree/core/lib/tasks/remove_master_variant.rake
  spree/core/spec/lib/tasks/remove_master_variant_spec.rb
Due: core, Core

Fix variant_count left short by spree:remove_master_variant
  spree/core/lib/tasks/remove_master_variant.rake
  spree/core/spec/lib/tasks/remove_master_variant_spec.rb
Due: core, Core

Update master-variant terminology in dashboard + admin-sdk comments
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
Due: none

Unblock CI for the master-variant removal
  spree/admin/spec/features/spree/admin/products/products_spec.rb
  spree/core/config/brakeman.ignore
Due: core

Migrate v3 API off the master variant
  spree/api/app/controllers/spree/api/v3/admin/media_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/price_lists_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/media_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_transfers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/price_lists_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/prices_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variants_spec.rb
  spree/api/spec/integration/spree/api/v3/store/digitals_spec.rb
  spree/api/spec/integration/spree/api/v3/store/line_items_spec.rb
  spree/api/spec/integration/spree/api/v3/store/products_spec.rb
  spree/api/spec/integration/spree/api/v3/store/wishlists_spec.rb
  spree/api/spec/serializers/spree/api/v3/asset_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/line_item_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/price_serializer_spec.rb
Due: api, API

Mark master-coupled spree/admin specs pending
  spree/admin/spec/controllers/spree/admin/classifications_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/dashboard_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/price_list_products_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/stock_items_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/stock_movements_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/users_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/variants_controller_spec.rb
  spree/admin/spec/features/spree/admin/products/products_spec.rb
Due: none

Remove legacy product-level price requirement
  spree/core/app/models/spree/product.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/configuration.rb
Due: core, Core

Address review feedback on the default variant cutover
  spree/core/app/models/spree/product.rb
  spree/core/app/services/spree/products/duplicator.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/spec/models/spree/product_spec.rb
Due: core, Core

fix: build Render backend from this fork's Spree gems
  bin/render-build.sh
Due: none

feat: add Vercel rewrite proxy config for admin dashboard
  packages/dashboard/vercel.json
Due: none

Exclude discontinued variants from product stock availability
  spree/core/app/models/spree/product.rb
  spree/core/spec/models/spree/product_spec.rb
Due: core, Core

fix: add SPA fallback rewrite for client-side routing
  packages/dashboard/vercel.json
Due: none

fix: replace Spree Admin page title with white-label title
  packages/dashboard/index.html
Due: none

fix: prevent infinite reload loop when localStorage is restricted
  packages/dashboard-core/src/lib/i18n.ts
  packages/dashboard-core/src/providers/auth-provider.tsx
Due: none

Set image host for emails correctly
  spree/api/app/serializers/spree/api/v3/admin/media_serializer.rb
  spree/api/spec/serializers/spree/api/v3/admin/media_serializer_spec.rb
  spree/core/config/routes.rb
  spree/core/spec/routing/cdn_image_spec.rb
  spree/emails/spec/mailers/spree/mailer_image_host_spec.rb
Due: core, api, API

docs: record current three-app architecture and session findings
  DEPLOY_TIMESTAMP
  docs/deployment-status.md
Due: none
