Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Fixed rails admin tailwind watch inside docker container
  spree/admin/lib/spree/admin/tailwind_helper.rb
  spree/admin/lib/tasks/tailwind.rake
  spree/admin/spec/lib/spree/admin/tailwind_helper_spec.rb
Due: admin, Admin

fix
  spree/admin/lib/tasks/tailwind.rake
Due: admin, Admin

Fixed rails admin tailwind watch inside docker container (#14256)
  spree/admin/lib/spree/admin/tailwind_helper.rb
  spree/admin/lib/tasks/tailwind.rake
  spree/admin/spec/lib/spree/admin/tailwind_helper_spec.rb
Due: admin, Admin

Add generated gradient avatars to admin dashboard
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/ui/generated-avatar.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/dashboard/src/tables/customers.tsx
Due: none

fix(channels): close gated-storefront enforcement gaps
  docs/plans/6.0-channels-catalogs-b2b.md
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/channels.tsx
  packages/dashboard/src/schemas/channel.ts
  spree/admin/app/views/spree/admin/stores/form/_checkout.html.erb
  spree/admin/config/locales/en.yml
  spree/api/app/controllers/concerns/spree/api/v3/channel_resolution.rb
  spree/api/app/controllers/concerns/spree/api/v3/storefront_gating.rb
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/base_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/app/controllers/spree/api/v3/store/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/store/currencies_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/password_resets_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/api/app/controllers/spree/api/v3/store/digitals_controller.rb
  spree/api/app/controllers/spree/api/v3/store/locales_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets_controller.rb
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/storefront_gating_spec.rb
  spree/api/spec/serializers/spree/api/v3/price_gating_spec.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/carts/complete.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/services/spree/carts/complete_spec.rb
Due: core, api, admin, Core, API, Admin

fix(channels): prices_hidden implies no guest checkout
  docs/plans/6.0-channels-catalogs-b2b.md
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/admin/config/locales/en.yml
  spree/api/spec/controllers/spree/api/v3/store/storefront_gating_spec.rb
  spree/core/app/models/spree/order.rb
Due: core, admin, Core

feat(dashboard): expose store-wide storefront access defaults
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/dashboard/src/schemas/store.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
Due: api, API

chore: add changesets for storefront gating SDK changes
  packages/admin-sdk/.changeset/store-storefront-access-gating.md
  packages/sdk/.changeset/storefront-access-gating.md
Due: none

fix(dashboard): import STOREFRONT_ACCESS_LEVELS as a value
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
Due: none

test(api): render views in storefront gating controller specs
  packages/admin-sdk/src/params.ts
  spree/api/spec/controllers/spree/api/v3/store/storefront_gating_spec.rb
Due: none

fix(api): hide nested serializer prices for gated guests
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/discount_serializer.rb
  spree/api/app/serializers/spree/api/v3/fulfillment_serializer.rb
  spree/api/app/serializers/spree/api/v3/gift_card_serializer.rb
  spree/api/app/serializers/spree/api/v3/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/app/serializers/spree/api/v3/payment_serializer.rb
  spree/api/spec/serializers/spree/api/v3/price_gating_spec.rb
Due: api, API

Fix mangled option labels in channel inheritable selects
  packages/dashboard/src/routes/_authenticated/$storeId/settings/channels.tsx
Due: none

test(api): tighten nested price-gating spec coverage
  spree/api/spec/serializers/spree/api/v3/price_gating_spec.rb
Due: none

fix(api): map custom iso8601 Alba type in typelizer, regenerate SDK types
  packages/admin-sdk/.changeset/nullable-money-types.md
  packages/admin-sdk/src/types/generated/Channel.ts
  packages/admin-sdk/src/types/generated/Country.ts
  packages/admin-sdk/src/types/generated/Discount.ts
  packages/admin-sdk/src/types/generated/Fulfillment.ts
  packages/admin-sdk/src/types/generated/GiftCard.ts
  packages/admin-sdk/src/types/generated/LineItem.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/admin-sdk/src/types/generated/Payment.ts
  packages/admin-sdk/src/types/generated/PromotionRule.ts
  packages/admin-sdk/src/types/generated/State.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/sdk/.changeset/nullable-money-fields.md
  packages/sdk/src/types/generated/Cart.ts
  packages/sdk/src/types/generated/Discount.ts
  packages/sdk/src/types/generated/Fulfillment.ts
  packages/sdk/src/types/generated/GiftCard.ts
  packages/sdk/src/types/generated/LineItem.ts
  packages/sdk/src/types/generated/Order.ts
  packages/sdk/src/types/generated/Payment.ts
  packages/sdk/src/zod/generated/Cart.ts
  packages/sdk/src/zod/generated/Discount.ts
  packages/sdk/src/zod/generated/Fulfillment.ts
  packages/sdk/src/zod/generated/GiftCard.ts
  packages/sdk/src/zod/generated/LineItem.ts
  packages/sdk/src/zod/generated/Order.ts
  packages/sdk/src/zod/generated/Payment.ts
  spree/api/config/initializers/typelizer.rb
Due: api

fix(dashboard): handle nullable order money fields on the order page
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
Due: none

fix(api): keep admin money fields non-nullable in generated types
  packages/admin-sdk/.changeset/nullable-money-types.md
  packages/admin-sdk/src/types/generated/Discount.ts
  packages/admin-sdk/src/types/generated/Fulfillment.ts
  packages/admin-sdk/src/types/generated/GiftCard.ts
  packages/admin-sdk/src/types/generated/LineItem.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/admin-sdk/src/types/generated/Payment.ts
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  spree/api/app/serializers/spree/api/v3/admin/discount_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/fulfillment_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/gift_card_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/payment_serializer.rb
Due: api, API

Cover channel order routing strategy label in edit E2E
  packages/dashboard/e2e/channels-settings.spec.ts
Due: none

Hide nested serializer prices for gated storefront guests (#14258)
  packages/admin-sdk/.changeset/nullable-money-types.md
  packages/admin-sdk/src/types/generated/Channel.ts
  packages/admin-sdk/src/types/generated/Country.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/admin-sdk/src/types/generated/PromotionRule.ts
  packages/admin-sdk/src/types/generated/State.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  packages/sdk/.changeset/nullable-money-fields.md
  packages/sdk/src/types/generated/Cart.ts
  packages/sdk/src/types/generated/Discount.ts
  packages/sdk/src/types/generated/Fulfillment.ts
  packages/sdk/src/types/generated/GiftCard.ts
  packages/sdk/src/types/generated/LineItem.ts
  packages/sdk/src/types/generated/Order.ts
  packages/sdk/src/types/generated/Payment.ts
  packages/sdk/src/zod/generated/Cart.ts
  packages/sdk/src/zod/generated/Discount.ts
  packages/sdk/src/zod/generated/Fulfillment.ts
  packages/sdk/src/zod/generated/GiftCard.ts
  packages/sdk/src/zod/generated/LineItem.ts
  packages/sdk/src/zod/generated/Order.ts
  packages/sdk/src/zod/generated/Payment.ts
  spree/api/app/serializers/spree/api/v3/admin/discount_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/fulfillment_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/gift_card_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/payment_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/discount_serializer.rb
  spree/api/app/serializers/spree/api/v3/fulfillment_serializer.rb
  spree/api/app/serializers/spree/api/v3/gift_card_serializer.rb
  spree/api/app/serializers/spree/api/v3/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/app/serializers/spree/api/v3/payment_serializer.rb
  spree/api/config/initializers/typelizer.rb
  spree/api/spec/serializers/spree/api/v3/price_gating_spec.rb
Due: api, API

Fix i18n lookup for select options with namespace separators (#14259)
  packages/dashboard/e2e/channels-settings.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/channels.tsx
Due: none

Avoid and diagnose Docker host-port conflicts between Spree projects
  CLAUDE.md
  packages/cli/.changeset/port-conflict-diagnosis.md
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/eject.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/constants.ts
  packages/cli/src/context.ts
  packages/cli/src/ports.ts
  packages/cli/tests/db.test.ts
  packages/cli/tests/ports.test.ts
  packages/create-spree-app/.changeset/scaffold-free-ports.md
  packages/create-spree-app/src/constants.ts
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/src/prompts.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/env.ts
  packages/create-spree-app/src/types.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/templates.test.ts
  scripts/server-setup.sh
Due: none

Release @spree/cli 2.3.8 and create-spree-app 1.0.8
  packages/cli/.changeset/port-conflict-diagnosis.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/create-spree-app/.changeset/scaffold-free-ports.md
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
Due: none

Address review: narrow pre-order gate, fix N+1, drop memoization
  docs/plans/5.6-preorders.md
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/search_provider/meilisearch.rb
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/product_preorder_spec.rb
Due: core, Core

Add pre-orders: sell a variant before it's in stock
  docs/plans/5.6-preorders.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/dashboard/src/components/spree/products/variant-edit-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/schemas/product.ts
  spree/admin/app/views/spree/admin/variants/form/_inventory.html.erb
  spree/admin/config/locales/en.yml
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/variant_serializer.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/search_provider/meilisearch.rb
  spree/core/app/models/spree/stock/availability_validator.rb
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/presenters/spree/search_provider/product_presenter.rb
  spree/core/db/migrate/20260630000001_add_preorder_to_spree_variants.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/models/spree/product/scopes_spec.rb
  spree/core/spec/models/spree/product_preorder_spec.rb
  spree/core/spec/services/spree/cart/add_item_spec.rb
Due: core, api, admin, Core, API, Admin

Address review: gate oversell exemption on preorder?, drop stale purchasable memoization
  spree/core/app/models/spree/stock_item.rb
  spree/core/app/models/spree/variant.rb
Due: core, Core

Add backorder_limit: a universal oversell cap for backorders and pre-orders
  docs/plans/5.6-preorders.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/dashboard/src/components/spree/products/variant-edit-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/schemas/product.ts
  spree/admin/app/views/spree/admin/variants/form/_inventory.html.erb
  spree/admin/config/locales/en.yml
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/stock_item.rb
  spree/core/app/models/spree/variant.rb
  spree/core/db/migrate/20260630000002_add_backorder_limit_to_spree_variants.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/models/spree/product_preorder_spec.rb
  spree/core/spec/services/spree/cart/add_item_spec.rb
Due: core, api, admin, Core, API, Admin

Fix Mintlify build: escape <date> placeholder in pre-orders plan
  docs/plans/5.6-preorders.md
Due: none

Use Spree admin form builder for pre-order variant fields
  spree/admin/app/views/spree/admin/variants/form/_inventory.html.erb
Due: admin, Admin

Squash pre-order migrations and surface pre-order in SDK types
  packages/admin-sdk/src/types/generated/LineItem.ts
  packages/admin-sdk/src/types/generated/Product.ts
  packages/sdk/src/types/generated/LineItem.ts
  packages/sdk/src/types/generated/Product.ts
  packages/sdk/src/types/generated/Variant.ts
  packages/sdk/src/zod/generated/LineItem.ts
  packages/sdk/src/zod/generated/Product.ts
  packages/sdk/src/zod/generated/Variant.ts
  spree/core/db/migrate/20260630000001_add_preorder_fields_to_spree_variants.rb
  spree/core/db/migrate/20260630000002_add_backorder_limit_to_spree_variants.rb
Due: core

Resolve the store timezone once in current_timezone
  spree/admin/app/controllers/spree/admin/base_controller.rb
  spree/admin/app/views/spree/admin/products/form/_publishing.html.erb
  spree/admin/app/views/spree/admin/promotions/form/_settings.html.erb
  spree/admin/app/views/spree/admin/reports/new.html.erb
  spree/admin/app/views/spree/admin/variants/form/_inventory.html.erb
Due: admin, Admin

Simplify can_supply? oversell arithmetic
  spree/core/app/models/spree/stock/quantifier.rb
Due: core, Core

Add changesets for pre-order SDK fields
  packages/admin-sdk/.changeset/preorder-fields.md
  packages/sdk/.changeset/preorder-fields.md
Due: none

Wire pre-orders through fulfillment, reservations, and remaining seams
  docs/plans/5.6-preorders.md
  packages/dashboard/src/components/spree/products/variant-edit-sheet.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
  packages/dashboard/src/schemas/product.ts
  spree/admin/app/controllers/spree/admin/variants_controller.rb
  spree/admin/app/views/spree/admin/variants/form/_inventory.html.erb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products/filters_controller.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/search_provider/meilisearch.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/services/spree/stock_reservations/reserve.rb
  spree/core/bin/rspec
  spree/core/spec/models/spree/product_preorder_spec.rb
  spree/core/spec/services/spree/cart/add_item_spec.rb
Due: core, api, admin, Core, API, Admin

Cover the Meilisearch settings self-heal retry
  spree/core/spec/models/spree/search_provider/meilisearch_spec.rb
Due: none

Address review: dedupe port-conflict handling, tidy docs
  CLAUDE.md
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/eject.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/ports.ts
  packages/cli/tests/ports.test.ts
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/tests/templates.test.ts
  scripts/server-setup.sh
Due: none

Regenerate SDK types via typelizer
  packages/admin-sdk/src/types/generated/LineItem.ts
  packages/admin-sdk/src/types/generated/Product.ts
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/sdk/src/types/generated/LineItem.ts
  packages/sdk/src/types/generated/Product.ts
  packages/sdk/src/types/generated/Variant.ts
Due: none

Address review: match compose interpolation, JSDoc port exports
  packages/cli/src/ports.ts
  packages/cli/tests/ports.test.ts
Due: none

Docs: expand/update multi tenant guide
  docs/developer/multi-tenant/quickstart.mdx
Due: none

Address review: skip commented lines in compose interpolation check
  packages/cli/src/ports.ts
  packages/cli/tests/ports.test.ts
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
