Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Include gift card in order email
  spree/emails/app/views/spree/shared/_purchased_items_table.html.erb
  spree/emails/app/views/spree/shared/_purchased_items_table.text.erb
Due: emails, Emails

Update 5.4-6.0-product-media-system.md
  docs/plans/5.4-6.0-product-media-system.md
Due: none

Remove deprecated lib utilities and controller helpers for 5.5
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/controller_helpers/auth.rb
  spree/core/lib/spree/core/controller_helpers/common.rb
  spree/core/lib/spree/core/controller_helpers/currency.rb
  spree/core/lib/spree/core/controller_helpers/order.rb
  spree/core/lib/spree/core/token_generator.rb
  spree/core/lib/spree/database_type_utilities.rb
  spree/core/spec/lib/spree/core/controller_helpers/order_spec.rb
  spree/core/spec/lib/spree/core/token_generator_spec.rb
Due: core, Core

Fix handling auth/capture flow in Payment Sessions webhooks flow
  spree/core/app/services/spree/payments/handle_webhook.rb
  spree/core/spec/services/spree/payments/handle_webhook_spec.rb
Due: core, Core

resue confirm, align with standard flow handling
  spree/core/app/services/spree/payments/handle_webhook.rb
  spree/core/spec/services/spree/payments/handle_webhook_spec.rb
Due: core, Core

Update all badges when shipping to improve UX
  spree/admin/app/views/spree/admin/orders/_shipment.html.erb
Due: admin, Admin

use consistent names for order.completed, order.cancaled, order.resumed
  CLAUDE.md
  docs/developer/core-concepts/events.mdx
  docs/developer/upgrades/5.3-to-5.4.mdx
  spree/core/app/jobs/spree/events/subscriber_job.rb
  spree/core/app/models/concerns/spree/publishable.rb
  spree/core/app/models/spree/event.rb
  spree/core/app/models/spree/subscriber.rb
  spree/core/app/subscribers/spree/event_log_subscriber.rb
  spree/core/lib/spree/events.rb
  spree/core/lib/spree/events/adapters/active_support_notifications.rb
  spree/core/lib/spree/events/adapters/base.rb
  spree/core/lib/spree/events/registry.rb
  spree/core/spec/lib/spree/events/registry_spec.rb
  spree/core/spec/models/spree/event_spec.rb
  spree/core/spec/models/spree/subscriber_spec.rb
  spree/core/spec/subscribers/spree/event_log_subscriber_spec.rb
Due: core, Core

use consistent names for payment and stock item
  docs/developer/core-concepts/events.mdx
  spree/core/app/models/spree/subscriber.rb
  spree/core/spec/models/spree/subscriber_spec.rb
Due: core, Core

Fixed undefined method 'update_thumbnail!' for nil
  spree/admin/spec/controllers/spree/admin/assets_controller_spec.rb
  spree/core/app/models/spree/asset.rb
  spree/core/spec/models/spree/asset_spec.rb
Due: core, Core

fix
  spree/admin/spec/controllers/spree/admin/assets_controller_spec.rb
Due: none

Fixed: backfill existing orders to new status field
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/orders/cancel.rb
  spree/core/db/migrate/20260511000001_backfill_status_on_spree_orders.rb
  spree/core/spec/models/spree/order_spec.rb
Due: core, Core

CR fixes
  spree/core/app/models/spree/order.rb
  spree/core/db/migrate/20260511000001_backfill_status_on_spree_orders.rb
Due: core, Core

Remove deprecated Store#ensure_default_taxonomies/automatic_taxons
  spree/core/app/models/spree/store.rb
Due: core, Core

update spec, update remaining order.cancel
  spree/core/spec/lib/spree/events/registry_spec.rb
  spree/core/spec/models/spree/event_spec.rb
  spree/core/spec/models/spree/subscriber_spec.rb
Due: none

replace unexisting payment.refunded to refund.created in docs
  spree/core/app/models/spree/subscriber.rb
Due: core, Core

Potential fix for code scanning alert no. 111: Workflow does not contain permissions
  .github/workflows/spelling_lint.yml
Due: none

Remove deprecated services, sorter, paginator, finder for 5.5
  spree/core/app/finders/spree/variants/visible_finder.rb
  spree/core/app/paginators/spree/shared/paginate.rb
  spree/core/app/services/spree/addresses/update.rb
  spree/core/app/services/spree/classifications/reposition.rb
  spree/core/app/sorters/spree/orders/sort.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/addresses/update_spec.rb
  spree/core/spec/services/spree/classifications/reposition_spec.rb
Due: core, Core

small regex spec update
  spree/core/spec/subscribers/spree/event_log_subscriber_spec.rb
Due: none

Fixed bearerToken -> token
  docs/api-reference/admin-api/authentication.mdx
  docs/api-reference/store.yaml
  packages/sdk/CHANGELOG.md
Due: none

Update list.ts
  packages/sdk/examples/customer-orders/list.ts
Due: none

fixes
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
Due: none

Implement preprocessing CSV rows to avoid race conditions and deadlocks
  spree/core/app/jobs/spree/imports/process_rows_job.rb
  spree/core/app/models/spree/import.rb
  spree/core/app/models/spree/imports/products.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/app/services/spree/imports/rows_preprocessors/base.rb
  spree/core/app/services/spree/imports/rows_preprocessors/products.rb
  spree/core/spec/jobs/spree/imports/process_rows_job_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
  spree/core/spec/services/spree/imports/rows_preprocessors/products_spec.rb
Due: core, Core

Harden PNPM setup to mitigate supply chain attacks
  package.json
  pnpm-workspace.yaml
Due: none

Switch to node 22 and pnpm v11
  .github/workflows/docs-package.yml
  .github/workflows/packages.yml
  .node-version
  package.json
  pnpm-workspace.yaml
Due: none

CI: install Node 22 before pnpm/action-setup
  .github/workflows/docs-package.yml
  .github/workflows/packages.yml
Due: none

CI: bump pnpm/action-setup to v6 (runs on Node 24)
  .github/workflows/docs-package.yml
  .github/workflows/packages.yml
Due: none

pnpm: explicitly allow esbuild + msw install scripts
  pnpm-workspace.yaml
Due: none

Zone -> update states on country change
  spree/admin/app/controllers/spree/admin/states_controller.rb
  spree/admin/app/javascript/spree/admin/application.js
  spree/admin/app/javascript/spree/admin/controllers/zone_state_select_controller.js
  spree/admin/app/views/spree/admin/zones/_state_members.html.erb
  spree/admin/config/routes.rb
  spree/admin/spec/controllers/spree/admin/states_controller_spec.rb
Due: admin, Admin

improvements
  spree/admin/app/controllers/spree/admin/states_controller.rb
  spree/admin/app/controllers/spree/admin/zones_controller.rb
  spree/admin/app/javascript/spree/admin/controllers/zone_state_select_controller.js
  spree/admin/app/views/spree/admin/zones/_state_members.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/config/routes.rb
Due: admin, Admin

Rename promo rules user/user_logged_in in API to customer/customer_logged_in
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  spree/core/app/models/spree/promotion/rules/user.rb
  spree/core/app/models/spree/promotion/rules/user_logged_in.rb
  spree/core/config/locales/en.yml
Due: core, Core

fix template naming
  spree/admin/app/views/spree/admin/promotion_rules/forms/_category.html.erb
  spree/admin/app/views/spree/admin/promotion_rules/forms/_customer.html.erb
  spree/admin/app/views/spree/admin/promotion_rules/forms/_customer_logged_in.html.erb
  spree/admin/app/views/spree/admin/promotion_rules/forms/_user_logged_in.html.erb
Due: admin, Admin

Create "Marketplace Config" image folder
  docs/images/user/settings/marketplace/placeholder
Due: none

Added "Marketplace Config" image via upload
  docs/images/user/settings/marketplace/1-marketplace-overview.png
Due: none

Delete docs/images/user/settings/marketplace/placeholder
  docs/images/user/settings/marketplace/placeholder
Due: none

Create marketplace configuration documentation
  docs/user/settings/marketplace.mdx
Due: none

Uploaded Marketplace user docs
  docs/user/vendors/commission-rates.mdx
  docs/user/vendors/multi-vendor-checkout.mdx
  docs/user/vendors/vendor-management.mdx
  docs/user/vendors/vendor-onboarding-manual.mdx
  docs/user/vendors/vendor-onboarding-shopify.mdx
  docs/user/vendors/vendor-onboarding-woocommerce.mdx
  docs/user/vendors/vendor-payouts.mdx
Due: none

Delete docs/user/vendors/invite-vendor.mdx
  docs/user/vendors/invite-vendor.mdx
Due: none

Delete docs/user/vendors/vendor-onboarding.mdx
  docs/user/vendors/vendor-onboarding.mdx
Due: none

Create Commission Rates image file
  docs/images/user/vendors/commission-rates/placeholder
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
