Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Preserve localized country order in preloaded filter dropdown
  spree/admin/app/javascript/spree/admin/controllers/query_builder_controller.js
Due: admin, Admin

Fix country select_options dropping label via block precedence
  spree/admin/app/controllers/spree/admin/countries_controller.rb
Due: admin, Admin

Sync 6.0 admin API plan with delivered endpoints
  docs/plans/6.0-admin-api.md
Due: none

Update 6.0 Admin API plan: mark shipped endpoints, resolve bulk ops (#14223)
  docs/plans/6.0-admin-api.md
Due: none

Localize Rails admin country, currency, and locale display names (#14220)
  spree/admin/app/controllers/spree/admin/base_controller.rb
  spree/admin/app/controllers/spree/admin/countries_controller.rb
  spree/admin/app/javascript/spree/admin/application.js
  spree/admin/app/javascript/spree/admin/controllers/autocomplete_select_controller.js
  spree/admin/app/javascript/spree/admin/controllers/display_name_controller.js
  spree/admin/app/javascript/spree/admin/controllers/query_builder_controller.js
  spree/admin/app/javascript/spree/admin/helpers/display_names.js
  spree/admin/app/models/spree/admin/table/column.rb
  spree/admin/app/models/spree/admin/table/query_builder.rb
  spree/admin/app/views/spree/admin/markets/_form.html.erb
  spree/admin/app/views/spree/admin/promotion_rules/forms/_country.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/spec/controllers/spree/admin/countries_controller_spec.rb
  spree/admin/spec/features/spree/admin/markets_spec.rb
  spree/core/app/helpers/spree/base_helper.rb
  spree/core/app/helpers/spree/currency_helper.rb
  spree/core/app/helpers/spree/locale_helper.rb
  spree/core/app/helpers/spree/localized_names_helper.rb
  spree/core/app/models/spree/country.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/localized_names.rb
  spree/core/spec/helpers/currency_helper_spec.rb
  spree/core/spec/helpers/locale_helper_spec.rb
  spree/core/spec/helpers/localized_names_helper_spec.rb
  spree/core/spec/lib/spree/localized_names_spec.rb
Due: core, admin, Core, Admin

Localize country name in admin address display
  spree/admin/app/views/spree/admin/shared/_address.html.erb
  spree/admin/spec/views/spree/admin/shared/_address.html.erb_spec.rb
Due: admin, Admin

Remove address view spec
  spree/admin/spec/views/spree/admin/shared/_address.html.erb_spec.rb
Due: none

Localize country name in dashboard AddressBlock
  packages/dashboard-ui/src/spree/address-block.tsx
Due: none

Localize country name in admin address display (#14224)
  packages/dashboard-ui/src/spree/address-block.tsx
  spree/admin/app/views/spree/admin/shared/_address.html.erb
Due: admin, Admin

Add `store` association to `Spree::RoleUser` and use it for checking user permissions
  spree/core/app/models/spree/ability.rb
  spree/core/app/models/spree/role_user.rb
  spree/core/db/migrate/20260613000001_add_store_id_to_spree_role_users.rb
  spree/core/lib/tasks/role_users.rake
  spree/core/spec/lib/tasks/role_users_spec.rb
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/role_user_spec.rb
Due: core, Core

translated admin table operators + used translations for harcoded values in table definitions
  spree/admin/app/javascript/spree/admin/controllers/query_builder_controller.js
  spree/admin/app/models/spree/admin/table/filter.rb
  spree/admin/app/models/spree/admin/table/query_builder.rb
  spree/admin/config/i18n-tasks.yml
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/config/locales/en.yml
Due: admin, Admin

fixes
  spree/admin/app/views/spree/admin/admin_users/new.html.erb
  spree/admin/app/views/spree/admin/dashboard/_updater.html.erb
  spree/admin/app/views/spree/admin/dashboard/setup_tasks/_set_customer_support_email.html.erb
  spree/admin/app/views/spree/admin/invitations/show.html.erb
  spree/admin/app/views/spree/admin/option_types/_form.html.erb
  spree/admin/app/views/spree/admin/promotions/form/_kind.html.erb
  spree/admin/app/views/spree/admin/stores/form/_basic.html.erb
Due: admin, Admin

Address code review: scope repeat-customer stats, fold split sentences into single keys
  spree/admin/app/helpers/spree/admin/shipment_helper.rb
  spree/admin/app/views/spree/admin/dashboard/setup_tasks/_set_customer_support_email.html.erb
  spree/admin/app/views/spree/admin/integrations/index.html.erb
  spree/admin/app/views/spree/admin/metafields/edit.html.erb
  spree/admin/app/views/spree/admin/orders/_user_overview.html.erb
  spree/admin/app/views/spree/admin/payment_methods/index.html.erb
  spree/admin/app/views/spree/admin/promotions/form/_settings.html.erb
  spree/admin/app/views/spree/admin/webhook_endpoints/_form.html.erb
  spree/admin/config/locales/en.yml
Due: admin, Admin

Simplify ensuring store on role user, document the rake task in the 5.6 manifest
  spree/core/app/models/spree/role_user.rb
  spree/core/lib/spree/upgrades/5_5_to_5_6/manifest.yml
  spree/core/spec/lib/tasks/role_users_spec.rb
  spree/core/spec/models/spree/role_user_spec.rb
Due: core, Core

Adjust verifying permissions in Admin API v3
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/app/controllers/concerns/spree/api/v3/admin_authentication.rb
  spree/api/spec/controllers/spree/api/v3/admin/base_controller_spec.rb
Due: api, API

Use DOMParser for HTML-to-text in translations editor
  packages/dashboard/src/components/spree/translations/resource-translations-dialog.tsx
Due: none

Flag readable resources in translation discovery; reconcile plan write path
  docs/api-reference/admin.yaml
  docs/plans/5.5-6.0-resource-translations-api.md
  packages/admin-sdk/src/types/translations.ts
  spree/api/app/controllers/spree/api/v3/admin/translatable_resources_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/translatable_resources_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/translatable_resources_spec.rb
Due: api, API

Align Locale#default? spec with current-store resolution
  spree/core/spec/models/spree/locale_spec.rb
Due: none

Address CodeRabbit review on translations PR
  packages/dashboard/e2e/option-type-translations.spec.ts
  packages/dashboard/src/components/spree/products/option-type-translations-dialog.tsx
  packages/dashboard/src/components/spree/products/product-translations-dialog.tsx
  packages/dashboard/src/components/spree/translations/resource-translations-dialog.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/translations/batches_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/translations_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/translations/batches_controller_spec.rb
  spree/core/app/services/spree/translations/matrix.rb
Due: core, api, Core, API

Introducing `Spree::Locale` model
  spree/admin/app/helpers/spree/admin/rtl_helper.rb
  spree/admin/lib/spree/admin/engine.rb
  spree/admin/lib/spree/admin/rtl.rb
  spree/admin/spec/lib/spree/admin/rtl_spec.rb
  spree/api/app/controllers/spree/api/v3/admin/locales_controller.rb
  spree/api/app/controllers/spree/api/v3/store/locales_controller.rb
  spree/api/app/serializers/spree/api/v3/locale_serializer.rb
  spree/core/app/helpers/spree/locale_helper.rb
  spree/core/app/models/concerns/spree/stores/markets.rb
  spree/core/app/models/spree/locale.rb
  spree/core/spec/models/spree/locale_spec.rb
Due: core, api, admin, Core, API, Admin

refactor, introduce `Spree::Currency` model
  spree/admin/app/controllers/spree/admin/countries_controller.rb
  spree/admin/app/helpers/spree/admin/base_helper.rb
  spree/admin/app/views/spree/admin/promotion_rules/forms/_country.html.erb
  spree/core/app/helpers/spree/base_helper.rb
  spree/core/app/helpers/spree/currency_helper.rb
  spree/core/app/helpers/spree/locale_helper.rb
  spree/core/app/helpers/spree/localized_names_helper.rb
  spree/core/app/models/spree/country.rb
  spree/core/app/models/spree/currency.rb
  spree/core/app/models/spree/locale.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/localized_names.rb
  spree/core/spec/lib/spree/localized_names_spec.rb
  spree/core/spec/models/spree/country_spec.rb
  spree/core/spec/models/spree/currency_spec.rb
  spree/core/spec/models/spree/locale_spec.rb
Due: core, admin, Core, Admin

refactor batches controller, added `Spree::Translations::Batch` model
  packages/admin-sdk/.changeset/admin-translations-management.md
  spree/api/app/controllers/spree/api/v3/admin/translations/batches_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/translations_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/resource_translations_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/core/app/models/spree/locale.rb
  spree/core/app/models/spree/translations/batch.rb
  spree/core/lib/spree/translations.rb
  spree/core/spec/models/spree/translations/batch_spec.rb
Due: core, api, Core, API

refactor, removed hardcoded `HTML_FIELDS` and `SLUG_FIELDS`
  CLAUDE.md
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/translations.ts
  spree/api/spec/controllers/spree/api/v3/admin/translatable_resources_controller_spec.rb
  spree/core/app/models/concerns/spree/translatable_resource.rb
  spree/core/app/models/spree/policy.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/lib/spree/translations.rb
  spree/core/spec/lib/spree/translations_spec.rb
  spree/core/spec/models/spree/concerns/translatable_resource_spec.rb
Due: core, Core

move `Translations` from services to lib
  docs/plans/5.5-6.0-resource-translations-api.md
  spree/api/app/controllers/spree/api/v3/admin/translatable_resources_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/translations/batches_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/translations_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/core/app/services/spree/translations/matrix.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/translations.rb
  spree/core/spec/lib/spree/translations_spec.rb
  spree/core/spec/models/spree/concerns/translatable_resource_spec.rb
Due: core, api, Core, API

Translate calendar range picker presets in admin
  spree/admin/app/javascript/spree/admin/controllers/calendar_range_controller.js
  spree/admin/app/views/spree/admin/shared/_calendar_range_picker.html.erb
  spree/admin/config/locales/en.yml
Due: admin, Admin

add expand translations support for products/categories/option types in admin api
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/generated/Category.ts
  packages/admin-sdk/src/types/generated/OptionType.ts
  packages/admin-sdk/src/types/generated/Product.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/app/serializers/concerns/spree/api/v3/admin/translatable.rb
  spree/api/app/serializers/spree/api/v3/admin/category_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/option_type_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
Due: api, API

Directly tie Taxon/Category with Store and loose taxonomy dependency
  spree/core/app/models/spree/category.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/db/migrate/20260626000001_add_store_id_to_spree_taxons.rb
  spree/core/lib/tasks/taxons.rake
  spree/core/spec/models/spree/category_spec.rb
  spree/core/spec/models/spree/taxon_spec.rb
Due: core, Core

Update taxon.rb
  spree/core/app/models/spree/taxon.rb
Due: core, Core

Added `Category#products_count`
  packages/admin-sdk/src/types/generated/Category.ts
  spree/api/app/serializers/spree/api/v3/admin/category_serializer.rb
  spree/core/app/models/spree/classification.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/app/services/spree/taxons/add_products.rb
  spree/core/app/services/spree/taxons/remove_products.rb
  spree/core/db/migrate/20260627000001_add_products_count_to_spree_taxons.rb
  spree/core/lib/tasks/taxons.rake
  spree/core/spec/models/spree/category_spec.rb
Due: core, api, Core, API

Added Categories Admin API
  docs/api-reference/admin.yaml
  spree/api/app/controllers/spree/api/v3/admin/categories/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/categories_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/categories/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/categories_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/categories_spec.rb
  spree/core/app/models/spree/taxon.rb
Due: core, api, Core, API

Fixed Admin API translation routes for Categories
  spree/api/app/controllers/spree/api/v3/admin/translations_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/translations_controller_spec.rb
Due: api, API

Added Admin SDK support for Categories
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
Due: none

Added universal `ImageUploadField` component
  packages/dashboard-core/src/components/image-upload-field.tsx
Due: none

Added universal `ResourcePickerSheet` component
  packages/dashboard-core/src/components/resource-picker-sheet.tsx
Due: none

Small dashboard improvements
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/button.tsx
  packages/dashboard-ui/src/ui/card.tsx
  packages/dashboard-ui/src/ui/dialog.tsx
  packages/dashboard-ui/src/ui/sheet.tsx
  packages/dashboard-ui/src/ui/sidebar.tsx
Due: none
