Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Remove deprecated table filter dropdown partials and helper methods
  spree/admin/app/controllers/spree/admin/gift_cards_controller.rb
  spree/admin/app/helpers/spree/admin/orders_helper.rb
  spree/admin/app/helpers/spree/admin/products_helper.rb
  spree/admin/app/helpers/spree/admin/promotions_helper.rb
  spree/admin/app/views/spree/admin/gift_cards/_filters.html.erb
  spree/admin/app/views/spree/admin/gift_cards/_table_filter_dropdown.html.erb
  spree/admin/app/views/spree/admin/orders/_filters.html.erb
  spree/admin/app/views/spree/admin/orders/_table_filter_dropdown.html.erb
  spree/admin/app/views/spree/admin/products/_filters.html.erb
  spree/admin/app/views/spree/admin/products/_table_filter_dropdown.html.erb
  spree/admin/app/views/spree/admin/promotions/_filters.html.erb
  spree/admin/app/views/spree/admin/promotions/_table_filter_dropdown.html.erb
Due: admin, Admin

Remove orphaned filter partials superseded by query builder
  spree/admin/app/helpers/spree/admin/products_helper.rb
  spree/admin/app/views/spree/admin/customer_returns/_filters.html.erb
  spree/admin/app/views/spree/admin/gift_cards/_filters.html.erb
  spree/admin/app/views/spree/admin/metafield_definitions/_filters.html.erb
  spree/admin/app/views/spree/admin/newsletter_subscribers/_filters.html.erb
  spree/admin/app/views/spree/admin/option_types/_filters.html.erb
  spree/admin/app/views/spree/admin/orders/_filters.html.erb
  spree/admin/app/views/spree/admin/policies/_filters.html.erb
  spree/admin/app/views/spree/admin/products/_filters.html.erb
  spree/admin/app/views/spree/admin/promotions/_filters.html.erb
  spree/admin/app/views/spree/admin/return_authorizations/filters.html.erb
  spree/admin/app/views/spree/admin/stock_items/_filters.html.erb
  spree/admin/app/views/spree/admin/stock_transfers/_filters.html.erb
  spree/admin/app/views/spree/admin/taxonomies/filters.html.erb
  spree/admin/app/views/spree/admin/users/_filters.html.erb
Due: admin, Admin

Replace rails runner with rake tasks in CLI, bump versions
  packages/cli/package.json
  packages/cli/src/commands/api-key.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sample-data.ts
  packages/cli/src/commands/seed.ts
  packages/cli/src/commands/user.ts
  packages/cli/src/docker.ts
  packages/cli/src/index.ts
  packages/create-spree-app/src/templates/package-json.ts
  server/Gemfile.lock
  spree/core/lib/spree/core/version.rb
  spree/core/lib/tasks/cli.rake
Due: core, Core

Merge pull request #13704 from spree/damianlegawiec/rm-cursor-rules-gen
  spree/core/lib/generators/spree/cursor_rules/cursor_rules_generator.rb
  spree/core/lib/generators/spree/cursor_rules/templates/spree_rules.mdc
Due: none

Replace rails runner with rake tasks in CLI (#13706)
  packages/cli/package.json
  packages/cli/src/commands/api-key.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sample-data.ts
  packages/cli/src/commands/seed.ts
  packages/cli/src/commands/user.ts
  packages/cli/src/docker.ts
  packages/cli/src/index.ts
  packages/create-spree-app/src/templates/package-json.ts
  server/Gemfile.lock
  spree/core/lib/spree/core/version.rb
  spree/core/lib/tasks/cli.rake
Due: core, Core

Run db:seed before fetching API key in spree init
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/index.ts
  packages/create-spree-app/src/templates/package-json.ts
Due: none

Remove deprecated table filter dropdown partials (#13705)
  spree/admin/app/controllers/spree/admin/gift_cards_controller.rb
  spree/admin/app/helpers/spree/admin/orders_helper.rb
  spree/admin/app/helpers/spree/admin/products_helper.rb
  spree/admin/app/helpers/spree/admin/promotions_helper.rb
  spree/admin/app/views/spree/admin/customer_returns/_filters.html.erb
  spree/admin/app/views/spree/admin/gift_cards/_filters.html.erb
  spree/admin/app/views/spree/admin/gift_cards/_table_filter_dropdown.html.erb
  spree/admin/app/views/spree/admin/metafield_definitions/_filters.html.erb
  spree/admin/app/views/spree/admin/newsletter_subscribers/_filters.html.erb
  spree/admin/app/views/spree/admin/option_types/_filters.html.erb
  spree/admin/app/views/spree/admin/orders/_filters.html.erb
  spree/admin/app/views/spree/admin/orders/_table_filter_dropdown.html.erb
  spree/admin/app/views/spree/admin/policies/_filters.html.erb
  spree/admin/app/views/spree/admin/products/_filters.html.erb
  spree/admin/app/views/spree/admin/products/_table_filter_dropdown.html.erb
  spree/admin/app/views/spree/admin/promotions/_filters.html.erb
  spree/admin/app/views/spree/admin/promotions/_table_filter_dropdown.html.erb
  spree/admin/app/views/spree/admin/return_authorizations/filters.html.erb
  spree/admin/app/views/spree/admin/stock_items/_filters.html.erb
  spree/admin/app/views/spree/admin/stock_transfers/_filters.html.erb
  spree/admin/app/views/spree/admin/taxonomies/filters.html.erb
  spree/admin/app/views/spree/admin/users/_filters.html.erb
Due: admin, Admin

Add lograge for condensed production logs, stream logs after init
  packages/cli/src/commands/init.ts
  server/Gemfile.common
  server/Gemfile.lock
  server/config/environments/production.rb
Due: none

Bump create-spree-app to 0.3.0
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
Due: none

Improve SDK querying interface
  packages/next/README.md
  packages/next/src/actions/orders.ts
  packages/next/src/data/products.ts
  packages/next/src/data/taxons.ts
  packages/sdk/README.md
  packages/sdk/src/params.ts
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/params.test.ts
  packages/sdk/tests/products.test.ts
  packages/sdk/tests/taxons.test.ts
Due: none

Improve handling localization with SDK and Next packages
  packages/next/.changeset/auto-localization.md
  packages/next/.changeset/flat-query-params.md
  packages/next/README.md
  packages/next/package.json
  packages/next/src/actions/locale.ts
  packages/next/src/data/countries.ts
  packages/next/src/data/currencies.ts
  packages/next/src/data/locales.ts
  packages/next/src/data/products.ts
  packages/next/src/data/store.ts
  packages/next/src/data/taxonomies.ts
  packages/next/src/data/taxons.ts
  packages/next/src/index.ts
  packages/next/src/locale.ts
  packages/next/src/middleware.ts
  packages/next/src/types.ts
  packages/next/tsup.config.ts
  packages/sdk/.changeset/auto-localization.md
  packages/sdk/.changeset/flat-query-params.md
  packages/sdk/README.md
  packages/sdk/src/client.ts
  packages/sdk/src/request.ts
  packages/sdk/src/types/index.ts
Due: none

Greatly simplify sorting of products
  packages/sdk/src/params.ts
  packages/sdk/src/request.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/params.test.ts
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/app/services/spree/api/v3/filters_aggregator.rb
  spree/api/spec/controllers/spree/api/v3/store/products/filters_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/taxons/products_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/products_spec.rb
  spree/api/spec/services/spree/api/v3/filters_aggregator_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/taxon.rb
Due: core, api, Core, API

More updates aroung in stock scopes and sorting
  packages/sdk/src/params.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/params.test.ts
  spree/api/spec/integration/spree/api/v3/store/products_spec.rb
  spree/api/spec/integration/spree/api/v3/store/taxons_spec.rb
Due: none

Bump SDK and Next packages versions
  packages/next/.changeset/README.md
  packages/next/.changeset/auto-localization.md
  packages/next/.changeset/flat-query-params.md
  packages/next/.changeset/remove-posts-types.md
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/sdk/.changeset/README.md
  packages/sdk/.changeset/auto-localization.md
  packages/sdk/.changeset/flat-query-params.md
  packages/sdk/.changeset/remove-posts-types.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

Fixed flaky test
  spree/admin/spec/controllers/spree/admin/classifications_controller_spec.rb
Due: none

Remove unused old-style table partials
  spree/admin/app/views/spree/admin/customer_returns/_table_header.html.erb
  spree/admin/app/views/spree/admin/customer_returns/_table_row.html.erb
  spree/admin/app/views/spree/admin/gift_cards/_gift_card.html.erb
  spree/admin/app/views/spree/admin/gift_cards/_list.html.erb
  spree/admin/app/views/spree/admin/metafield_definitions/_table_header.html.erb
  spree/admin/app/views/spree/admin/metafield_definitions/_table_row.html.erb
  spree/admin/app/views/spree/admin/newsletter_subscribers/_table_header.html.erb
  spree/admin/app/views/spree/admin/newsletter_subscribers/_table_row.html.erb
  spree/admin/app/views/spree/admin/option_types/_table_header.html.erb
  spree/admin/app/views/spree/admin/option_types/_table_row.html.erb
  spree/admin/app/views/spree/admin/orders/_list.html.erb
  spree/admin/app/views/spree/admin/orders/_order.html.erb
  spree/admin/app/views/spree/admin/policies/_table_header.html.erb
  spree/admin/app/views/spree/admin/policies/_table_row.html.erb
  spree/admin/app/views/spree/admin/price_lists/_table_header.html.erb
  spree/admin/app/views/spree/admin/products/_list.html.erb
  spree/admin/app/views/spree/admin/products/_product.html.erb
  spree/admin/app/views/spree/admin/products/_product_status.html.erb
  spree/admin/app/views/spree/admin/promotions/_table_header.html.erb
  spree/admin/app/views/spree/admin/promotions/_table_row.html.erb
  spree/admin/app/views/spree/admin/return_authorizations/_list.html.erb
  spree/admin/app/views/spree/admin/stock_items/_table_header.html.erb
  spree/admin/app/views/spree/admin/stock_items/_table_row.html.erb
  spree/admin/app/views/spree/admin/stock_transfers/_table_header.html.erb
  spree/admin/app/views/spree/admin/stock_transfers/_table_row.html.erb
  spree/admin/app/views/spree/admin/webhook_deliveries/_table_header.html.erb
  spree/admin/app/views/spree/admin/webhook_deliveries/_table_row.html.erb
  spree/admin/app/views/spree/admin/webhook_endpoints/_table_header.html.erb
  spree/admin/app/views/spree/admin/webhook_endpoints/_table_row.html.erb
Due: admin, Admin

Remove unused old-style table partials (#13708)
  spree/admin/app/views/spree/admin/customer_returns/_table_header.html.erb
  spree/admin/app/views/spree/admin/customer_returns/_table_row.html.erb
  spree/admin/app/views/spree/admin/gift_cards/_gift_card.html.erb
  spree/admin/app/views/spree/admin/gift_cards/_list.html.erb
  spree/admin/app/views/spree/admin/metafield_definitions/_table_header.html.erb
  spree/admin/app/views/spree/admin/metafield_definitions/_table_row.html.erb
  spree/admin/app/views/spree/admin/newsletter_subscribers/_table_header.html.erb
  spree/admin/app/views/spree/admin/newsletter_subscribers/_table_row.html.erb
  spree/admin/app/views/spree/admin/option_types/_table_header.html.erb
  spree/admin/app/views/spree/admin/option_types/_table_row.html.erb
  spree/admin/app/views/spree/admin/orders/_list.html.erb
  spree/admin/app/views/spree/admin/orders/_order.html.erb
  spree/admin/app/views/spree/admin/policies/_table_header.html.erb
  spree/admin/app/views/spree/admin/policies/_table_row.html.erb
  spree/admin/app/views/spree/admin/price_lists/_table_header.html.erb
  spree/admin/app/views/spree/admin/products/_list.html.erb
  spree/admin/app/views/spree/admin/products/_product.html.erb
  spree/admin/app/views/spree/admin/products/_product_status.html.erb
  spree/admin/app/views/spree/admin/promotions/_table_header.html.erb
  spree/admin/app/views/spree/admin/promotions/_table_row.html.erb
  spree/admin/app/views/spree/admin/return_authorizations/_list.html.erb
  spree/admin/app/views/spree/admin/stock_items/_table_header.html.erb
  spree/admin/app/views/spree/admin/stock_items/_table_row.html.erb
  spree/admin/app/views/spree/admin/stock_transfers/_table_header.html.erb
  spree/admin/app/views/spree/admin/stock_transfers/_table_row.html.erb
  spree/admin/app/views/spree/admin/webhook_deliveries/_table_header.html.erb
  spree/admin/app/views/spree/admin/webhook_deliveries/_table_row.html.erb
  spree/admin/app/views/spree/admin/webhook_endpoints/_table_header.html.erb
  spree/admin/app/views/spree/admin/webhook_endpoints/_table_row.html.erb
Due: admin, Admin

Remove NormalizeString and any_ascii dependency
  spree/core/app/models/spree/address.rb
  spree/core/lib/normalize_string.rb
  spree/core/lib/spree_core.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spree_core.gemspec
Due: core, Core

Remove any_ascii from Gemfile.lock
  server/Gemfile.lock
Due: none

Remove NormalizeString and any_ascii dependency (#13709)
  server/Gemfile.lock
  spree/core/app/models/spree/address.rb
  spree/core/lib/normalize_string.rb
  spree/core/lib/spree_core.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spree_core.gemspec
Due: core, Core

Implement pessimistic order locking for API v3 checkout
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/concerns/spree/api/v3/order_lock.rb
  spree/api/app/controllers/spree/api/v3/store/orders/coupon_codes_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/line_items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/shipments_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/store_credits_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/orders_controller_spec.rb
Due: api, API

Fix locale tests to use Markets instead of legacy store column
  spree/api/spec/controllers/spree/api/v3/store/orders_controller_spec.rb
Due: none

Regenerate TypeScript types with state_lock_version
  packages/sdk/src/types/generated/AdminOrder.ts
  packages/sdk/src/types/generated/StoreOrder.ts
Due: none

Add quick_checkout attribute support to Address in Store API
  packages/sdk/src/types/generated/StoreAddress.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/StoreAddress.ts
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/address_serializer.rb
Due: api, API

Add state_lock_version support to SDK and Next.js packages
  packages/next/src/actions/cart.ts
  packages/next/src/actions/checkout.ts
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/AdminOrder.ts
  packages/sdk/src/zod/generated/StoreOrder.ts
Due: none

Add changesets for quick_checkout address attribute
  packages/next/.changeset/address-quick-checkout.md
  packages/sdk/.changeset/address-quick-checkout.md
Due: none

Add changesets for SDK and Next.js packages
  packages/next/.changeset/order-lock-version.md
  packages/sdk/.changeset/order-lock-version.md
Due: none

Fix Next.js tests for updated SDK method signatures
  packages/next/tests/actions/cart.test.ts
  packages/next/tests/actions/checkout.test.ts
Due: none

Fix bugbot review issues in order lock implementation
  packages/next/src/actions/cart.ts
  packages/next/src/actions/checkout.ts
  packages/next/tests/actions/cart.test.ts
  packages/next/tests/actions/checkout.test.ts
  packages/sdk/src/store-client.ts
  spree/api/app/controllers/concerns/spree/api/v3/order_lock.rb
Due: api, API

Persist version increment before yield to survive reloads
  spree/api/app/controllers/concerns/spree/api/v3/order_lock.rb
Due: api, API

Add quick_checkout attribute to Address in Store API (#13711)
  packages/next/.changeset/address-quick-checkout.md
  packages/sdk/.changeset/address-quick-checkout.md
  packages/sdk/src/types/generated/StoreAddress.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/StoreAddress.ts
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/address_serializer.rb
Due: api, API

Simplify order locking: remove frontend version checking
  packages/next/.changeset/order-lock-version.md
  packages/next/src/actions/checkout.ts
  packages/sdk/.changeset/order-lock-version.md
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  spree/api/app/controllers/concerns/spree/api/v3/order_lock.rb
  spree/api/spec/controllers/spree/api/v3/store/orders_controller_spec.rb
Due: api, API

Move rescue_from Deadlocked/LockWaitTimeout into OrderLock concern
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/concerns/spree/api/v3/order_lock.rb
Due: api, API

Update Security policies around AI-generated submissions
  .github/SECURITY.md
Due: none

Implement pessimistic order locking for API v3 (#13710)
  packages/next/.changeset/order-lock-version.md
  packages/sdk/.changeset/order-lock-version.md
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/generated/AdminOrder.ts
  packages/sdk/src/types/generated/StoreOrder.ts
  packages/sdk/src/zod/generated/AdminOrder.ts
  packages/sdk/src/zod/generated/StoreOrder.ts
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/concerns/spree/api/v3/order_lock.rb
  spree/api/app/controllers/spree/api/v3/store/orders/coupon_codes_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/line_items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/shipments_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/store_credits_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/orders_controller_spec.rb
Due: api, API

Add Spree::Export support for coupon codes and migrate to table API
  spree/admin/app/controllers/spree/admin/coupon_codes_controller.rb
  spree/admin/app/views/spree/admin/coupon_codes/_filters.html.erb
  spree/admin/app/views/spree/admin/coupon_codes/_table_header.html.erb
  spree/admin/app/views/spree/admin/coupon_codes/_table_row.html.erb
  spree/admin/app/views/spree/admin/coupon_codes/index.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/spec/controllers/spree/admin/coupon_codes_controller_spec.rb
  spree/core/app/models/spree/coupon_code.rb
  spree/core/app/models/spree/exports/coupon_codes.rb
  spree/core/app/presenters/spree/csv/coupon_code_presenter.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/presenters/spree/csv/coupon_code_presenter_spec.rb
Due: core, admin, Core, Admin

Remove unused coupon codes CSV template
  spree/admin/app/views/spree/admin/coupon_codes/index.csv.erb
Due: admin, Admin

Add export button to coupon codes page actions
  spree/admin/app/views/spree/admin/coupon_codes/index.html.erb
Due: admin, Admin

Fix export and report jobs to use prefixed ID lookup
  spree/core/app/jobs/spree/exports/generate_job.rb
  spree/core/app/jobs/spree/reports/generate_job.rb
Due: core, Core

Fix subscribers to resolve prefixed IDs before passing to jobs
  spree/core/app/jobs/spree/exports/generate_job.rb
  spree/core/app/jobs/spree/reports/generate_job.rb
  spree/core/app/subscribers/spree/export_subscriber.rb
  spree/core/app/subscribers/spree/report_subscriber.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
