Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Stop the completion copy from re-estimating tax
  spree/core/app/models/spree/line_item.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
Due: core, Core

Let extensions insert their own fulfillment statuses
  docs/v6/developer/core-concepts/fulfillments.mdx
  spree/core/app/models/spree/fulfillment.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

Clean up the fulfillment status rework
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/dashboard/src/components/spree/orders/order-header.tsx
  packages/dashboard/src/lib/fulfillment-items.ts
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/edit.tsx
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/serializers/spree/api/v3/fulfillment_serializer.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/workflows/spree/fulfillments/create.rb
  spree/core/app/workflows/spree/fulfillments/update_tracking.rb
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/lib/tasks/fulfillment_statuses_migration.rake
  spree/providers/easypost/app/controllers/spree_easypost/webhooks_controller.rb
Due: core, api, Core, API

Verify carrier webhooks and unify them under one endpoint
  docs/v6/developer/how-to/custom-delivery-rate-provider.mdx
  spree/api/app/controllers/spree/api/v3/webhooks/fulfillments_controller.rb
  spree/api/config/routes.rb
  spree/core/app/models/spree/integration.rb
  spree/providers/easypost/app/controllers/spree_easypost/webhooks_controller.rb
  spree/providers/easypost/app/models/spree_easypost/integration.rb
  spree/providers/easypost/app/models/spree_easypost/tracker_event.rb
  spree/providers/easypost/lib/spree_easypost/engine.rb
  spree/providers/easypost/spec/models/spree_easypost/tracker_event_spec.rb
  spree/providers/easypost/spec/requests/spree_easypost/fulfillment_webhooks_spec.rb
  spree/providers/easypost/spec/requests/spree_easypost/webhooks_spec.rb
Due: core, api, Core, API

Promote delivery confirmation and tracking to card buttons
  packages/dashboard/src/components/spree/orders/fulfillment-tracking-dialog.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Resolve tracking URLs per fulfillment, with a carrier picker
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Fulfillment.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/orders/fulfillment-tracking-dialog.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/hooks/use-fulfillments.ts
  packages/dashboard/src/hooks/use-tracking-carriers.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/sdk/src/types/generated/Fulfillment.ts
  packages/sdk/src/zod/generated/Fulfillment.ts
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/tracking_carriers_controller.rb
  spree/api/app/serializers/spree/api/v3/fulfillment_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/tracking_carriers_controller_spec.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/db/migrate/20260811100001_add_tracking_carrier_to_fulfillments.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, api, Core, API

Refuse to fulfill draft orders; carrier picker on the fulfill form
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/components/spree/orders/fulfillment-fulfill-form.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/schemas/fulfillment.ts
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/config/locales/en.yml
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
Due: core, api, Core, API

Record the one-tracking-per-fulfillment decision
  CLAUDE.md
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/decisions.md
Due: none

Keep fulfillments in creation order
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/order.rb
Due: core, Core

Validate payment_status against the vocabulary its writer produces
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/orders/update_statuses.rb
  spree/core/app/subscribers/spree/order_status_subscriber.rb
  spree/core/spec/workflows/spree/orders/complete_spec.rb
Due: core, Core

Attach the order status subscriber to the event bus
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/subscribers/spree/order_status_subscriber_spec.rb
Due: core, Core

Delete a delivery zone's methods with it
  spree/core/app/models/spree/delivery_zone.rb
  spree/core/spec/models/spree/delivery_zone_spec.rb
Due: core, Core

Quote carrier rates against the cart's own address
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/stock/package.rb
  spree/providers/easypost/app/models/spree_easypost/delivery_rate_provider.rb
Due: core, Core

Delete an origin group's zones and methods with it
  spree/core/app/models/spree/delivery_origin_group.rb
  spree/core/spec/models/spree/delivery_origin_group_spec.rb
Due: core, Core

Cover the package owner fix with regression tests
  spree/core/spec/models/spree/stock/package_spec.rb
  spree/providers/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
Due: none

Never link cart-phase fulfillment items to an order
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/fulfillment_item.rb
  spree/core/lib/tasks/carts_migration.rake
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

Log every EasyPost API call in development
  spree/providers/easypost/lib/spree_easypost/engine.rb
Due: none

Fix review findings from the delivery cascade and owner work
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-profiles/$profileId/index.tsx
  spree/api/app/controllers/spree/api/v3/admin/delivery_profiles/origin_groups_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_profiles/origin_groups_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_zones_controller_spec.rb
  spree/core/app/models/spree/delivery_method_rules/channel_rule.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/delivery_zone_spec.rb
  spree/core/spec/models/spree/stock/package_spec.rb
  spree/providers/easypost/lib/spree_easypost/engine.rb
  spree/providers/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
Due: core, api, Core, API

Name the carrier service on the fulfillment card
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
Due: none

Buy the label before declaring the parcel fulfilled
  spree/core/app/models/spree/fulfillment_provider/base.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/app/workflows/spree/fulfillments/purchase_label.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
  spree/core/spec/workflows/spree/fulfillments/purchase_label_spec.rb
  spree/providers/easypost/app/models/spree_easypost/fulfillment_provider.rb
  spree/providers/easypost/spec/models/spree_easypost/fulfillment_provider_spec.rb
Due: core, Core

Expose label purchase and provider documents through the API
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/examples/order-fulfillments/purchase-label.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/Fulfillment.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/fulfillment_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/fulfillments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/fulfillments_spec.rb
Due: api, API

Buy label, print label and packing slip on the fulfillment card
  CLAUDE.md
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/decisions.md
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/hooks/use-fulfillments.ts
  packages/dashboard/src/lib/packing-slip.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Register an EndShipper before buying EasyPost labels
  spree/core/config/locales/en.yml
  spree/providers/easypost/app/models/spree_easypost/fulfillment_provider.rb
  spree/providers/easypost/lib/spree_easypost.rb
  spree/providers/easypost/spec/models/spree_easypost/fulfillment_provider_spec.rb
  spree/providers/easypost/spec/vcr/buy_shipment.yml
  spree/providers/easypost/spec/vcr/create_shipment_rates.yml
  spree/providers/easypost/spec/vcr/refund_shipment.yml
Due: core

Ask before buying a shipping label
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Keep carrier-priced delivery methods legible
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/hooks/use-integrations.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-profiles/$profileId/index.tsx
  packages/dashboard/src/tables/delivery-profiles.tsx
Due: none

Restructure the delivery method form around its provider
  packages/dashboard/e2e/delivery-settings.spec.ts
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-profiles/$profileId/index.tsx
Due: none

Say what a carrier method costs, not who supplies it
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-profiles/$profileId/index.tsx
Due: none

Align dashboard branding with the Spree website
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-starter/index.html
  packages/dashboard-starter/public/apple-touch-icon.png
  packages/dashboard-starter/public/favicon-32x32.png
  packages/dashboard-starter/public/favicon.svg
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/button.tsx
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard-ui/src/ui/dialog.tsx
  packages/dashboard-ui/src/ui/input-group.tsx
  packages/dashboard-ui/src/ui/input.tsx
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard-ui/src/ui/select.tsx
  packages/dashboard-ui/src/ui/sheet.tsx
  packages/dashboard-ui/src/ui/sidebar.tsx
  packages/dashboard-ui/src/ui/textarea.tsx
  packages/dashboard/index.html
  packages/dashboard/public/apple-touch-icon.png
  packages/dashboard/public/favicon-32x32.png
  packages/dashboard/public/favicon.svg
  packages/dashboard/src/assets/login_sidebar_background.png
  packages/dashboard/src/assets/login_sidebar_background_dark.png
  packages/dashboard/src/components/spree/auth-shell.tsx
Due: none

Keep the table header and bulk actions in view while scrolling
  packages/dashboard-core/src/components/bulk-action-bar.tsx
  packages/dashboard-core/src/components/resource-table.tsx
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-ui/src/ui/data-table.tsx
Due: none

Soften the dashboard palette and sharpen a few controls
  packages/dashboard-core/src/components/bulk-action-bar.tsx
  packages/dashboard-core/src/components/nav-main.tsx
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-ui/src/spree/language-menu-items.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/dropdown-menu.tsx
  packages/dashboard-ui/src/ui/pagination.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
  packages/dashboard/src/search/default.tsx
Due: none

|| false -> .to_b
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
Due: api, API

|| false => .to_b
  spree/api/app/controllers/spree/api/v3/admin/customers/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods/rules_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/exchanges_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/returns_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/core/app/workflows/spree/claims/create.rb
Due: core, api, Core, API

fix merge conflict
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
Due: none

update docs after fixing merge conflict
  packages/cli/src/generated/admin-spec.json
Due: none

Plan how cross-border pricing works with tax-inclusive prices
  CLAUDE.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
Due: none

Phase 1: Cart pricing follows the cart, persists, and respects explicit market prices
  spree/core/app/models/concerns/spree/vat_price_calculation.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/price.rb
  spree/core/app/models/spree/price_rule.rb
  spree/core/app/models/spree/price_rules/market_rule.rb
  spree/core/app/models/spree/price_rules/zone_rule.rb
  spree/core/app/models/spree/stock/estimator.rb
  spree/core/lib/spree/core/pricing/context.rb
  spree/core/spec/lib/spree/core/pricing/context_spec.rb
  spree/core/spec/models/concerns/spree/vat_price_calculation_spec.rb
  spree/core/spec/models/spree/cart_spec.rb
  spree/core/spec/models/spree/price_rules/market_rule_spec.rb
  spree/core/spec/models/spree/price_rules/volume_rule_spec.rb
  spree/core/spec/models/spree/price_rules/zone_rule_spec.rb
  spree/core/spec/models/spree/price_spec.rb
Due: core, Core

Keep the method sheet out of browser history
  packages/dashboard/e2e/delivery-settings.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-profiles/$profileId/index.tsx
Due: none

Phase 1: close the gaps the review found in cross-border pricing
  spree/core/app/models/concerns/spree/vat_price_calculation.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/price.rb
  spree/core/app/models/spree/price_rules/market_rule.rb
  spree/core/app/models/spree/price_rules/zone_rule.rb
  spree/core/spec/models/concerns/spree/vat_price_calculation_spec.rb
  spree/core/spec/models/spree/price_rules/market_rule_spec.rb
  spree/core/spec/models/spree/price_rules/zone_rule_spec.rb
Due: core, Core

Keep the delivery method sheet out of browser history (#14423)
  packages/dashboard/e2e/delivery-settings.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-profiles/$profileId/index.tsx
Due: none

Restore the spec blocks both branches added around the same lines
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
