Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Plan country-aware first-run setup
  CLAUDE.md
  docs/plans/6.0-store-context-and-first-run-setup.md
  docs/plans/decisions.md
Due: none

Provision country-shaped store defaults from the merchant's answer
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/setup_spec.rb
  spree/core/app/models/spree/country.rb
  spree/core/app/services/spree/seeds/admin_user.rb
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/delivery_zones.rb
  spree/core/app/services/spree/seeds/pickup_delivery.rb
  spree/core/app/services/spree/seeds/stock_locations.rb
  spree/core/app/services/spree/seeds/zones.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/db/sample_data/fulfillment.rb
  spree/core/db/sample_data/markets.rb
  spree/core/spec/services/spree/seeds/admin_user_spec.rb
  spree/core/spec/services/spree/seeds/all_spec.rb
  spree/core/spec/services/spree/seeds/delivery_zones_spec.rb
  spree/core/spec/services/spree/seeds/pickup_delivery_spec.rb
  spree/core/spec/services/spree/stores/provision_defaults_spec.rb
Due: core, api, Core, API

Ask for the store's country during first-run setup
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/setup.tsx
  packages/dashboard/src/schemas/auth.ts
Due: none

Add changeset for the admin SDK setup contract
  .changeset/admin-sdk-setup-country.md
Due: none

Mark the country-aware setup phase as shipped
  docs/plans/6.0-store-context-and-first-run-setup.md
Due: none

Let the country drive the language and prefill the store's location
  packages/dashboard/src/routes/setup.tsx
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
Due: api, API

Say that setup picks a starting point, not a boundary
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/setup.tsx
Due: none

Restate seeded zero-amount rates into the store currency
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/spec/services/spree/stores/provision_defaults_spec.rb
Due: core, Core

Correct the plan on currency: a defaulted choice, not a fixed value
  docs/plans/6.0-store-context-and-first-run-setup.md
  docs/plans/decisions.md
Due: none

Align the language and currency fields
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/setup.tsx
Due: none

Let merchants choose the currency instead of only showing it
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/setup.tsx
  packages/dashboard/src/schemas/auth.ts
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/setup_spec.rb
  spree/core/app/services/spree/seeds/admin_user.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/spec/services/spree/stores/provision_defaults_spec.rb
Due: core, api, Core, API

Stop the browser offering saved addresses over the country list
  packages/dashboard/src/routes/setup.tsx
Due: none

Make the country and currency fields buttons so autofill cannot target them
  packages/dashboard/src/routes/setup.tsx
Due: none

Drop the focus ring from the in-popup search boxes
  packages/dashboard/src/routes/setup.tsx
Due: none

Remove the remaining address-autofill signals from the country field
  packages/dashboard/src/routes/setup.tsx
Due: none

Land on the getting-started checklist after setup
  packages/dashboard-core/src/providers/auth-provider.tsx
  packages/dashboard/src/routes/setup.tsx
Due: none

Regenerate the API reference for the setup contract
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Address review feedback on the setup flow
  .changeset/admin-sdk-setup-country.md
  CLAUDE.md
  docs/plans/6.0-store-context-and-first-run-setup.md
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/setup.tsx
  spree/core/db/sample_data/markets.rb
Due: core

Fall back to English when a country's language has no translations
  docs/plans/6.0-store-context-and-first-run-setup.md
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/spec/services/spree/stores/provision_defaults_spec.rb
Due: core, Core

Settle the marketplace vendor principal and API surface
  CLAUDE.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-admin-rbac.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
Due: none

Settle the marketplace vendor principal and API surface (#14446)
  CLAUDE.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-admin-rbac.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
Due: none

Separate the store back office from future panels by grant audience
  docs/plans/6.0-admin-rbac.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/app/controllers/concerns/spree/api/v3/admin_authentication.rb
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/invitation_acceptances_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/password_resets_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/roles_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/password_resets_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/auth_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/base_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/password_resets_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/roles_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/auth_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/password_resets_controller_spec.rb
  spree/core/app/models/spree/ability.rb
  spree/core/app/models/spree/refresh_token.rb
  spree/core/app/models/spree/role.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260815000001_add_audience_to_spree_refresh_tokens.rb
  spree/core/db/migrate/20260815000002_add_audience_to_spree_roles.rb
  spree/core/db/migrate/20260815000003_scope_spree_role_name_uniqueness_to_audience.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/lib/spree/testing_support/factories/refresh_token_factory.rb
  spree/core/spec/lib/spree/core/permission_configuration_spec.rb
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/refresh_token_spec.rb
  spree/core/spec/models/spree/role_spec.rb
Due: core, api, Core, API

Give roles an owning store
  docs/plans/6.0-admin-rbac.md
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/app/controllers/spree/api/v3/admin/admin_users_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/roles_controller.rb
  spree/core/app/models/concerns/spree/user_management.rb
  spree/core/app/models/concerns/spree/user_roles.rb
  spree/core/app/models/spree/invitation.rb
  spree/core/app/models/spree/role.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/roles.rb
  spree/core/db/migrate/20260815000003_add_store_to_spree_roles.rb
  spree/core/db/migrate/20260815000003_scope_spree_role_name_uniqueness_to_audience.rb
  spree/core/lib/spree/testing_support/factories/role_factory.rb
  spree/core/spec/models/spree/concerns/user_management_spec.rb
  spree/core/spec/models/spree/concerns/user_roles_spec.rb
  spree/core/spec/models/spree/role_spec.rb
Due: core, api, Core, API

Fix CI and address review feedback
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/app/controllers/concerns/spree/api/v3/admin_authentication.rb
  spree/api/spec/controllers/spree/api/v3/admin/base_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/auth_spec.rb
  spree/core/app/models/spree/ability.rb
  spree/core/app/models/spree/role.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/role_spec.rb
Due: core, api, Core, API

Tidy up after the role refactor
  spree/api/app/controllers/spree/api/v3/admin/admin_users_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/roles_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/admin_user_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/role_serializer.rb
  spree/core/app/models/concerns/spree/user_roles.rb
  spree/core/app/models/spree/role.rb
  spree/core/db/migrate/20260815000002_add_resource_to_spree_roles.rb
  spree/core/spec/models/spree/role_spec.rb
Due: core, api, Core, API

Fix the assignment dedupe on MySQL
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260815000002_add_resource_to_spree_roles.rb
Due: core

Resolve an invitation's role once its resource is known
  spree/core/app/models/spree/invitation.rb
  spree/core/spec/models/spree/invitation_spec.rb
Due: core, Core

Keep the admin protection with the store's own super-role
  spree/core/app/models/concerns/spree/user_management.rb
  spree/core/app/models/spree/role.rb
  spree/core/db/migrate/20260613000001_add_store_id_to_spree_role_users.rb
  spree/core/db/migrate/20260815000002_add_resource_to_spree_roles.rb
  spree/core/spec/models/spree/concerns/user_management_spec.rb
  spree/core/spec/models/spree/role_spec.rb
Due: core, Core

Build role assignments through the factory in specs
  spree/api/spec/controllers/spree/api/v3/admin/admin_users_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/base_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/me_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/permissions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/roles_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/translations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/scoped_authorization_spec.rb
  spree/core/spec/models/spree/role_user_spec.rb
Due: none

Read the migration's table names from its own classes
  spree/core/db/migrate/20260815000002_add_resource_to_spree_roles.rb
Due: core

Give the marketplace a seller
  CLAUDE.md
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/core/app/models/concerns/spree/user_roles.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/export.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/report.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/vendor.rb
  spree/core/db/migrate/20260816000001_create_spree_vendors.rb
  spree/core/db/migrate/20260816000002_add_vendor_to_spree_products.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/testing_support/factories/vendor_factory.rb
  spree/core/spec/models/spree/vendor_spec.rb
Due: core, Core

Give vendor translations somewhere to live
  spree/core/app/models/spree/vendor.rb
  spree/core/db/migrate/20260816000001_create_spree_vendors.rb
  spree/core/spec/models/spree/vendor_spec.rb
Due: core, Core

Let several sellers sell the same thing
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
Due: none

Give sellers a panel of their own to sign in to
  CLAUDE.md
  spree/api/app/controllers/concerns/spree/api/v3/jwt_authentication.rb
  spree/api/app/controllers/concerns/spree/api/v3/vendor/auth_cookies.rb
  spree/api/app/controllers/concerns/spree/api/v3/vendor/vendor_context.rb
  spree/api/app/controllers/concerns/spree/api/v3/vendor_authentication.rb
  spree/api/app/controllers/spree/api/v3/vendor/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/vendor/base_controller.rb
  spree/api/app/controllers/spree/api/v3/vendor/me_controller.rb
  spree/api/app/controllers/spree/api/v3/vendor/resource_controller.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/testing_support/v3/base.rb
  spree/api/spec/controllers/spree/api/v3/vendor/base_controller_spec.rb
  spree/core/app/models/concerns/spree/user_roles.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/spec/models/spree/vendor_spec.rb
Due: core, api, Core, API

Keep a seller's catalog inside their own store
  spree/core/app/models/spree/product.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/spec/models/spree/vendor_spec.rb
Due: core, Core

Hold the seller boundary from both sides
  spree/core/app/models/spree/product.rb
  spree/core/spec/models/spree/vendor_spec.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
