Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Drop the unused catalog term counts from the API reference
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Close the gaps the second review found
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/src/products/product-form-mapping.ts
  packages/dashboard-core/src/products/product-schema.ts
  packages/dashboard-core/src/products/variant-edit-sheet.tsx
  packages/dashboard/src/components/spree/catalog-terms-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/core/app/models/concerns/spree/purchase/quantity_rules.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/catalogs/resolve_quantity_rules.rb
  spree/core/spec/models/spree/catalog_for_buyer_spec.rb
  spree/core/spec/models/spree/catalog_quantity_rule_spec.rb
Due: core, api, Core, API

Refuse a fractional quantity rule instead of truncating it
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/src/products/normalize-quantity.test.ts
  packages/dashboard-core/src/products/normalize-quantity.ts
  packages/dashboard/src/components/spree/catalog-terms-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Gate the order minimum behind the price-visibility policy
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Cart.ts
  packages/admin-sdk/src/types/generated/CatalogQuantityRule.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Cart.ts
  packages/sdk/src/zod/generated/Cart.ts
  spree/api/app/serializers/spree/api/v3/admin/catalog_quantity_rule_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/spec/serializers/spree/api/v3/price_gating_spec.rb
  spree/core/app/models/spree/current.rb
  spree/core/spec/models/spree/catalog_for_buyer_spec.rb
Due: core, api, Core, API

Tell core when a transfer's outcome is unknown, as a payout already does
  spree/providers/stripe/app/models/spree_stripe/payout_provider.rb
  spree/providers/stripe/spec/models/spree_stripe/payout_provider_spec.rb
Due: none

Move per-product terms onto the assortment rows
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/plans/6.0-b2b-quantity-rules.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/CatalogProductTerm.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-ui/src/spree/product-membership-list.tsx
  packages/dashboard/src/components/spree/catalog-terms-card.tsx
  packages/dashboard/src/components/spree/deferred-product-membership-card.tsx
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/catalog.ts
  spree/api/app/controllers/spree/api/v3/admin/catalogs/order_minimums_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/catalogs/product_terms_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_product_term_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs/order_minimums_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs/product_terms_controller_spec.rb
  spree/core/app/models/spree/catalogs/product_term.rb
  spree/core/app/services/spree/catalogs/set_order_minimums.rb
  spree/core/app/services/spree/catalogs/set_product_terms.rb
  spree/core/config/locales/en.yml
  spree/core/spec/services/spree/catalogs/set_order_minimums_spec.rb
  spree/core/spec/services/spree/catalogs/set_product_terms_spec.rb
Due: core, api, Core, API

Match the terms columns to the table around them, and explain the terms
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/components/spree/catalog-terms-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
Due: none

Rename the Marcel type check to AttachmentContentTypeValidator
  spree/core/app/models/concerns/spree/purchase/purchase_order.rb
  spree/core/app/models/spree/seller_requirement_submission.rb
  spree/core/app/validators/spree/attachment_content_type_validator.rb
  spree/core/spec/validators/spree/attachment_content_type_validator_spec.rb
Due: core, Core

Apply catalog product terms atomically, and refuse what cannot be a rule
  docs/plans/6.0-b2b-quantity-rules.md
  docs/plans/6.0-b2b-wholesale-shipping.md
  packages/dashboard-core/src/components/resource-picker-sheet.tsx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/components/spree/catalog-terms-card.tsx
  packages/dashboard/src/components/spree/sellers/seller-onboarding-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/companies/$companyId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  spree/core/app/models/spree/current.rb
  spree/core/app/services/spree/catalogs/set_product_terms.rb
  spree/core/spec/models/spree/catalog_for_buyer_spec.rb
  spree/core/spec/services/spree/catalogs/set_product_terms_spec.rb
Due: core, Core

Let keyboard users reach the term explanations
  packages/dashboard/src/components/spree/catalog-terms-card.tsx
Due: none

Stage catalog audience changes behind the page's Save
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/catalog.ts
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/catalogs_spec.rb
  spree/core/app/services/spree/catalogs/set_assignments.rb
  spree/core/spec/services/spree/catalogs/set_assignments_spec.rb
Due: core, api, Core, API

Save a catalog's audience and minimums with the catalog itself
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/catalog.ts
  spree/api/app/controllers/spree/api/v3/admin/catalogs/order_minimums_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs/order_minimums_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/catalogs_spec.rb
  spree/core/app/workflows/spree/catalogs/update.rb
Due: core, api, Core, API

Let a catalog be created with its audience and minimums
  packages/dashboard/e2e/catalogs.spec.ts
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/core/app/workflows/spree/catalogs/create.rb
Due: core, Core

Strike a withdrawn audience through instead of dropping the row
  packages/dashboard/src/components/spree/catalog-terms-card.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/catalog.ts
Due: none

Document every catalog term operation, and stop routing to ones that do not exist
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/config/routes.rb
  spree/api/spec/integration/spree/api/v3/admin/catalogs_spec.rb
Due: api

Phase 1.4: run the Avalara gem in CI
  .github/workflows/tests.yml
  CLAUDE.md
  codecov.yml
Due: none

Phase 1.1: gem skeleton for the Avalara AvaTax provider
  spree/providers/avalara/Gemfile
  spree/providers/avalara/README.md
  spree/providers/avalara/Rakefile
  spree/providers/avalara/config/locales/en.yml
  spree/providers/avalara/lib/spree_avalara.rb
  spree/providers/avalara/lib/spree_avalara/engine.rb
  spree/providers/avalara/spec/spec_helper.rb
  spree/providers/avalara/spec/spree_avalara_spec.rb
  spree/providers/avalara/spec/support/vcr.rb
  spree/providers/avalara/spec/vcr/.keep
  spree/providers/avalara/spree_avalara.gemspec
Due: none

Phase 1.2: AvaTax client wrapper
  spree/providers/avalara/app/services/spree_avalara/client.rb
  spree/providers/avalara/spec/services/spree_avalara/client_spec.rb
Due: none

Phase 1.3: Avalara integration credentials
  spree/providers/avalara/app/models/spree_avalara/integration.rb
  spree/providers/avalara/config/locales/en.yml
  spree/providers/avalara/lib/spree_avalara/engine.rb
  spree/providers/avalara/lib/spree_avalara/factories.rb
  spree/providers/avalara/lib/spree_avalara/testing_support/factories/integration_factory.rb
  spree/providers/avalara/spec/models/spree_avalara/integration_spec.rb
  spree/providers/avalara/spec/spec_helper.rb
Due: none

Add the 6.0 Avalara provider gem plan (spree_avalara)
  CLAUDE.md
  docs/plans/6.0-avalara-provider-gem.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
Due: none

Add missing flow which handles retryable transfers
  spree/core/app/jobs/spree/seller_transfers/execute_pending_due_job.rb
  spree/core/app/jobs/spree/seller_transfers/execute_pending_job.rb
  spree/core/app/models/spree/seller_transfer.rb
  spree/core/app/workflows/spree/seller_transfers/create.rb
  spree/core/spec/jobs/spree/seller_payouts/sweep_seller_job_spec.rb
  spree/core/spec/jobs/spree/seller_transfers/execute_pending_due_job_spec.rb
Due: core, Core

accordion fixes
  packages/dashboard-ui/src/ui/accordion.tsx
Due: none

Refactor address handling: snapshot for orders, dedup in address books (#14533)
  docs/plans/6.0-cart-order-split.md
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/app/models/concerns/spree/purchase/addresses.rb
  spree/core/app/models/concerns/spree/user_address.rb
  spree/core/app/models/spree/address.rb
  spree/core/app/services/spree/addresses/create.rb
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/services/spree/orders/create.rb
  spree/core/app/services/spree/orders/create_from_cart.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/spec/models/concerns/spree/purchase/addresses_spec.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/models/spree/customer_spec.rb
  spree/core/spec/models/spree/user_spec.rb
  spree/core/spec/services/spree/addresses/create_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
Due: core, Core

Show what a catalog's agreement actually charges for each product
  docs/plans/6.0-catalog-agreement-rework.md
  docs/plans/decisions.md
  packages/admin-sdk/src/types/generated/Catalog.ts
  packages/admin-sdk/src/types/generated/CatalogPrice.ts
  packages/admin-sdk/src/types/generated/CatalogProduct.ts
  packages/admin-sdk/src/types/generated/index.ts
  spree/api/app/controllers/spree/api/v3/admin/catalogs/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_price_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_product_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/catalogs_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/catalog_price.rb
  spree/core/app/services/spree/catalogs/resolve_prices.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/services/spree/catalogs/resolve_prices_spec.rb
Due: core, api, Core, API

Show a catalog's prices beside its products, and build a new one in steps
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/index.ts
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/wizard-steps.tsx
  packages/dashboard/src/components/spree/catalog-audience-fields.tsx
  packages/dashboard/src/components/spree/catalog-price-columns.tsx
  packages/dashboard/src/components/spree/deferred-product-membership-card.tsx
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/new.tsx
Due: none

Regenerate the API reference for the catalog pricing payload
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/plans/6.0-catalog-agreement-rework.md
  packages/cli/src/generated/admin-spec.json
Due: none

Pin the catalog price reading to what a buyer is actually charged
  spree/core/spec/services/spree/catalogs/resolve_prices_spec.rb
Due: none

Close the gaps the first review found
  docs/api-reference/admin.yaml
  packages/admin-sdk/examples/catalogs/create.ts
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/components/spree/catalog-price-columns.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/new.tsx
  spree/api/app/controllers/spree/api/v3/admin/catalogs/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs/products_controller_spec.rb
  spree/core/app/models/spree/catalog_price.rb
  spree/core/app/services/spree/catalogs/resolve_prices.rb
Due: core, api, Core, API

Give an adjustment list one place to work out its price
  docs/plans/6.0-catalog-agreement-rework.md
  packages/dashboard-ui/src/spree/product-membership-list.tsx
  packages/dashboard/src/components/spree/catalog-price-columns.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  spree/api/app/controllers/spree/api/v3/admin/catalogs/products_controller.rb
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/services/spree/catalogs/resolve_prices.rb
Due: core, api, Core, API

Say why the wizard will not move on
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/new.tsx
Due: none

Close the gaps the second review found
  docs/plans/6.0-catalog-agreement-rework.md
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/new.tsx
  spree/api/spec/serializers/spree/api/v3/admin/catalog_product_serializer_spec.rb
  spree/core/app/services/spree/catalogs/resolve_prices.rb
  spree/core/spec/services/spree/catalogs/resolve_prices_spec.rb
Due: core, Core

Point the catalog E2E helper at the wizard
  packages/dashboard/e2e/catalogs.spec.ts
Due: none

Make the catalog wizard a dialog that asks for the whole agreement
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/e2e/catalogs.spec.ts
  packages/dashboard/src/components/spree/catalog-audience-fields.tsx
  packages/dashboard/src/components/spree/catalog-pricing-fields.tsx
  packages/dashboard/src/components/spree/catalog-wizard-dialog.tsx
  packages/dashboard/src/components/spree/deferred-product-membership-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/new.tsx
Due: none

Make a catalog go live deliberately, the way a price list does
  docs/api-reference/admin.yaml
  docs/plans/6.0-catalog-agreement-rework.md
  packages/admin-sdk/examples/catalogs/activate.ts
  packages/admin-sdk/examples/catalogs/deactivate.ts
  packages/admin-sdk/src/admin-client.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/catalog-audience-fields.tsx
  packages/dashboard/src/components/spree/catalog-wizard-dialog.tsx
  packages/dashboard/src/components/spree/order-post-sale-cards.tsx
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/sellers/$sellerId.tsx
  packages/dashboard/src/schemas/catalog.ts
  packages/dashboard/src/tables/catalogs.tsx
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/catalogs_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/workflows/spree/catalogs/activate.rb
  spree/core/app/workflows/spree/catalogs/deactivate.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260825000001_create_spree_catalogs.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/testing_support/factories/catalog_factory.rb
  spree/core/spec/workflows/spree/catalogs/activate_spec.rb
  spree/core/spec/workflows/spree/catalogs/deactivate_spec.rb
Due: core, api, Core, API

Pin what deactivating an agreement does to its prices
  spree/core/spec/workflows/spree/catalogs/deactivate_spec.rb
Due: none

Refresh the assortment prices after the spreadsheet saves
  packages/dashboard/e2e/catalogs.spec.ts
  packages/dashboard/src/hooks/use-prices.ts
Due: none

Show how a catalog prices in its listing, and name its status
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/generated/Catalog.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/tables/catalogs.tsx
  spree/api/app/serializers/spree/api/v3/admin/catalog_serializer.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/spec/models/spree/catalog_spec.rb
Due: core, api, Core, API

Make the wizard a component the next flow can use
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/wizard-steps.tsx
  packages/dashboard-ui/src/spree/wizard.tsx
  packages/dashboard/src/components/spree/catalog-wizard-dialog.tsx
Due: none
