Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Dashboard UI for managing Categories
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  packages/dashboard-core/src/components/resource-combobox.tsx
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/e2e/store-settings.spec.ts
  packages/dashboard/src/components/spree/categories/category-form.tsx
  packages/dashboard/src/components/spree/categories/category-image-field.tsx
  packages/dashboard/src/components/spree/categories/category-list.tsx
  packages/dashboard/src/components/spree/categories/category-products-card.tsx
  packages/dashboard/src/components/spree/categories/category-translations-dialog.tsx
  packages/dashboard/src/components/spree/categories/category-tree-utils.test.ts
  packages/dashboard/src/components/spree/categories/category-tree-utils.ts
  packages/dashboard/src/components/spree/categories/category-tree.tsx
  packages/dashboard/src/hooks/use-categories.ts
  packages/dashboard/src/hooks/use-translations.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/categories/$categoryId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/categories/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/categories/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails.tsx
  packages/dashboard/src/schemas/category.ts
Due: none

Fix dashboard production build typecheck errors
  packages/dashboard/src/components/spree/categories/category-products-card.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails.tsx
Due: none

Simplify category reposition controller
  spree/api/app/controllers/spree/api/v3/admin/categories_controller.rb
Due: api, API

Address CodeRabbit review on categories
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/components/image-upload-field.tsx
  packages/dashboard-core/src/components/resource-picker-sheet.tsx
  packages/dashboard/src/components/spree/categories/category-form.tsx
  packages/dashboard/src/components/spree/categories/category-products-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/categories/$categoryId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/categories/index.tsx
  packages/dashboard/src/schemas/category.ts
  spree/api/app/controllers/spree/api/v3/admin/categories/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/categories_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/config/locales/en.yml
  spree/api/spec/controllers/spree/api/v3/admin/categories/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/categories_controller_spec.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/lib/tasks/taxons.rake
  spree/core/spec/models/spree/category_spec.rb
Due: core, api, Core, API

Add destroy edge-case coverage for category products_count
  spree/core/spec/models/spree/category_spec.rb
Due: none

Fix bulk category add/remove for taxonomy-less categories + add e2e
  .claude/settings.local.json
  packages/dashboard/e2e/categories.spec.ts
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/app/models/spree/store.rb
Due: core, api, Core, API

UI fixes
  packages/dashboard-ui/src/ui/checkbox.tsx
  packages/dashboard-ui/src/ui/field.tsx
  packages/dashboard-ui/src/ui/radio-group.tsx
  packages/dashboard/src/components/spree/categories/category-products-card.tsx
  packages/dashboard/src/components/spree/categories/category-tree.tsx
Due: none

Fixed: Made the order detail page's Sales channel and Market values clickable to open their settings edit sheets, and switched Locale to the localized label used on the markets screen
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
Due: none

Update $orderId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
Due: none

Fixed: Made the order detail page's Sales channel and Market values c… (#14229)
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
Due: none

Refactor custom fields components to be more universal
  packages/dashboard-core/src/hooks/use-custom-fields.ts
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard/src/components/spree/categories/category-form.tsx
  packages/dashboard/src/components/spree/categories/category-list.tsx
  packages/dashboard/src/components/spree/categories/category-translations-dialog.tsx
  packages/dashboard/src/components/spree/categories/category-tree.tsx
  packages/dashboard/src/components/spree/custom-fields/custom-fields-card.tsx
  packages/dashboard/src/components/spree/custom-fields/custom-fields-drawer.tsx
  packages/dashboard/src/components/spree/custom-fields/custom-fields-inline.tsx
  packages/dashboard/src/components/spree/custom-fields/definition-form.tsx
  packages/dashboard/src/components/spree/custom-fields/value-input.tsx
  packages/dashboard/src/components/spree/products/option-type-translations-dialog.tsx
  packages/dashboard/src/components/spree/products/product-translations-dialog.tsx
  packages/dashboard/src/components/spree/translations/resource-translations-card.tsx
  packages/dashboard/src/components/spree/translations/resource-translations-dialog.tsx
  packages/dashboard/src/hooks/use-categories.ts
  packages/dashboard/src/hooks/use-product.ts
  packages/dashboard/src/hooks/use-translations.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/customers/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/categories/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/options.tsx
  packages/dashboard/src/schemas/category.ts
  packages/dashboard/src/schemas/custom-field-definition.ts
  packages/dashboard/src/search/default.tsx
  spree/api/app/controllers/spree/api/v3/admin/categories_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/categories_controller_spec.rb
Due: api, API

Address CodeRabbit review on custom fields PR
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/components/spree/custom-fields/custom-fields-inline.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/schemas/category.ts
  packages/dashboard/src/schemas/product.ts
Due: none

Permit array-shaped JSON custom field values in admin API
  spree/api/app/controllers/spree/api/v3/admin/categories_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/categories_controller_spec.rb
Due: api, API

Update product custom-fields E2E for explicit form-save flow
  packages/dashboard/e2e/products-custom-fields.spec.ts
Due: none

Add `store` association to `Spree::RoleUser` and use it for checking user permissions (#14225)
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/app/controllers/concerns/spree/api/v3/admin_authentication.rb
  spree/api/spec/controllers/spree/api/v3/admin/base_controller_spec.rb
  spree/core/app/models/spree/ability.rb
  spree/core/app/models/spree/role_user.rb
  spree/core/db/migrate/20260613000001_add_store_id_to_spree_role_users.rb
  spree/core/lib/spree/upgrades/5_5_to_5_6/manifest.yml
  spree/core/lib/tasks/role_users.rake
  spree/core/spec/lib/tasks/role_users_spec.rb
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/role_user_spec.rb
Due: core, api, Core, API

Make `ensure_store` a global for all store resources
  spree/core/app/models/concerns/spree/single_store_resource.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/role_user.rb
  spree/core/app/models/spree/taxon.rb
Due: core, Core

Update taxon.rb
  spree/core/app/models/spree/taxon.rb
Due: core, Core

Update order.rb
  spree/core/app/models/spree/order.rb
Due: core, Core

Update wishlist_spec.rb
  spree/core/spec/models/spree/wishlist_spec.rb
Due: none

removed useless validation tests
  spree/core/spec/models/spree/allowed_origin_spec.rb
  spree/core/spec/models/spree/customer_group_spec.rb
  spree/core/spec/models/spree/market_spec.rb
Due: none

docs: plan single-store migration for promotions and payment methods
  CLAUDE.md
  docs/plans/6.0-single-store-promotions-payment-methods.md
Due: none

Make `ensure_store` a global for all store resources (#14231)
  spree/core/app/models/concerns/spree/single_store_resource.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/role_user.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/spec/models/spree/allowed_origin_spec.rb
  spree/core/spec/models/spree/customer_group_spec.rb
  spree/core/spec/models/spree/market_spec.rb
  spree/core/spec/models/spree/wishlist_spec.rb
Due: core, Core

docs: retarget single-store plan to 5.6/6.0 and resolve open questions
  CLAUDE.md
  docs/plans/5.6-6.0-single-store-promotions-payment-methods.md
Due: none

feat: migrate promotions and payment methods to single-store ownership
  docs/plans/5.6-6.0-single-store-promotions-payment-methods.md
  spree/admin/spec/controllers/spree/admin/promotions_controller_spec.rb
  spree/api/app/controllers/spree/api/v3/admin/payment_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/promotions_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/core/app/models/concerns/spree/store_scoped_resource.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/payment_method/legacy_multi_store_support.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion/legacy_multi_store_support.rb
  spree/core/app/models/spree/promotion_handler/promotion_duplicator.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/store_payment_method.rb
  spree/core/app/models/spree/store_promotion.rb
  spree/core/db/migrate/20260628000001_add_store_id_to_spree_promotions.rb
  spree/core/db/migrate/20260628000002_add_store_id_to_spree_payment_methods.rb
  spree/core/db/sample_data/promotions.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/lib/spree/testing_support/factories/payment_method_factory.rb
  spree/core/lib/spree/testing_support/factories/promotion_factory.rb
  spree/core/lib/tasks/single_store_associations.rake
  spree/core/spec/lib/spree/core/controller_helpers/store_spec.rb
  spree/core/spec/lib/tasks/single_store_associations_spec.rb
  spree/core/spec/services/spree/seeds/payment_methods_spec.rb
Due: core, api, Core, API

refactor: use SingleStoreResource concern for promotions and payment methods
  docs/plans/5.6-6.0-single-store-promotions-payment-methods.md
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/promotion.rb
Due: core, Core

refactor: centralize single-store helpers shared by promotions and payment methods
  spree/core/app/models/concerns/spree/legacy_multi_store_support.rb
  spree/core/app/models/concerns/spree/single_store_resource.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/payment_method/legacy_multi_store_support.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion/legacy_multi_store_support.rb
  spree/core/app/models/spree/store.rb
  spree/core/spec/lib/tasks/single_store_associations_spec.rb
Due: core, Core

fix: repair coupon export and restore dropped behaviors after single-store migration
  spree/core/app/models/concerns/spree/single_store_resource.rb
  spree/core/app/models/spree/exports/coupon_codes.rb
  spree/core/lib/spree/testing_support/factories/export_factory.rb
  spree/core/lib/tasks/single_store_associations.rake
  spree/core/spec/models/spree/exports/coupon_codes_spec.rb
Due: core, Core

refactor: scope via store associations instead of manual joins
  spree/api/app/controllers/spree/api/v3/admin/payment_methods_controller.rb
  spree/core/app/models/spree/exports/coupon_codes.rb
Due: core, api, Core, API

refactor: require store on promotions and payment methods via SingleStoreResource
  docs/plans/5.6-6.0-single-store-promotions-payment-methods.md
  spree/core/app/models/concerns/spree/single_store_resource.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/lib/spree/testing_support/factories/payment_method_factory.rb
  spree/core/lib/spree/testing_support/factories/promotion_factory.rb
Due: core, Core

test: set store on bare gateway in type-validation spec
  spree/core/spec/models/spree/gateway_spec.rb
Due: none

chore: address PR review on single-store migration
  CLAUDE.md
  spree/core/app/models/spree/exports/coupon_codes.rb
  spree/core/lib/spree/testing_support/factories/payment_method_factory.rb
  spree/core/lib/spree/testing_support/factories/promotion_factory.rb
  spree/core/lib/spree/upgrades/5_5_to_5_6/manifest.yml
  spree/core/lib/tasks/single_store_associations.rake
  spree/core/spec/lib/tasks/single_store_associations_spec.rb
Due: core, Core

refactor: use shared LegacyMultiStoreSupport for Product
  spree/core/app/models/concerns/spree/legacy_multi_store_support.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product/legacy_multi_store_support.rb
Due: core, Core

fix: don't permit store_id on promotion params
  spree/admin/spec/controllers/spree/admin/promotions_controller_spec.rb
  spree/core/lib/spree/permitted_attributes.rb
Due: core, Core

Migrate Payment Method and Promotion from legacy multi-store to standard store resource (#14232)
  CLAUDE.md
  docs/plans/5.6-6.0-single-store-promotions-payment-methods.md
  spree/admin/spec/controllers/spree/admin/promotions_controller_spec.rb
  spree/api/app/controllers/spree/api/v3/admin/payment_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/promotions_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/core/app/models/concerns/spree/legacy_multi_store_support.rb
  spree/core/app/models/concerns/spree/store_scoped_resource.rb
  spree/core/app/models/spree/exports/coupon_codes.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product/legacy_multi_store_support.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion_handler/promotion_duplicator.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/store_payment_method.rb
  spree/core/app/models/spree/store_promotion.rb
  spree/core/db/migrate/20260628000001_add_store_id_to_spree_promotions.rb
  spree/core/db/migrate/20260628000002_add_store_id_to_spree_payment_methods.rb
  spree/core/db/sample_data/promotions.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/lib/spree/testing_support/factories/export_factory.rb
  spree/core/lib/spree/testing_support/factories/payment_method_factory.rb
  spree/core/lib/spree/testing_support/factories/promotion_factory.rb
  spree/core/lib/spree/upgrades/5_5_to_5_6/manifest.yml
  spree/core/lib/tasks/single_store_associations.rake
  spree/core/spec/lib/spree/core/controller_helpers/store_spec.rb
  spree/core/spec/lib/tasks/single_store_associations_spec.rb
  spree/core/spec/models/spree/exports/coupon_codes_spec.rb
  spree/core/spec/models/spree/gateway_spec.rb
  spree/core/spec/services/spree/seeds/payment_methods_spec.rb
Due: core, api, Core, API

Added store_id backfill task to 5.6 upgrade manifest
  spree/core/lib/spree/upgrades/5_5_to_5_6/manifest.yml
Due: core, Core

Fix flaky VariantsController#search spec on unordered LIMIT (#14177)
  spree/admin/spec/controllers/spree/admin/variants_controller_spec.rb
Due: none
