Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Changed dashboard money fields to follow the admin's own number format
  .changeset/money-in-the-admins-number-format.md
  CLAUDE.md
  docs/api-reference/admin-api/monetary-amounts.mdx
  docs/changelog.mdx
  docs/plans/5.5-client-side-money-normalization.md
  docs/plans/6.0-money-correctness.md
  docs/plans/decisions.md
  packages/dashboard-core/src/api-client.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/products/product-bulk-price-editor.tsx
  packages/dashboard-core/src/products/use-money-locale.ts
  packages/dashboard-core/src/products/use-product-form-data.ts
  packages/dashboard/e2e/customers.spec.ts
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/e2e/price-lists.spec.ts
  packages/dashboard/e2e/products-helpers.ts
  packages/dashboard/e2e/products-prices-inventory.spec.ts
  packages/dashboard/src/api-client-setup.ts
  packages/dashboard/src/components/spree/bulk-price-editor/bulk-price-editor.tsx
  packages/dashboard/src/components/spree/customers/customer-lifetime-stats-card.tsx
  packages/dashboard/src/components/spree/store-credits/edit-store-credit-dialog.tsx
  packages/dashboard/src/components/spree/store-credits/issue-store-credit-dialog.tsx
  packages/dashboard/src/hooks/use-currency-locale.ts
Due: none

Fixed review findings in the money changes
  docs/changelog.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-money-correctness.md
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/payments_controller_spec.rb
  spree/core/app/models/spree/calculator/shipping/flat_percent_item_total.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/app/services/spree/prices/bulk_upsert.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/app/workflows/spree/payments/capture.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/money.rb
  spree/core/lib/tasks/money.rake
  spree/core/spec/lib/spree/money_spec.rb
  spree/core/spec/lib/tasks/money_spec.rb
  spree/core/spec/models/spree/calculator/shipping/flat_percent_item_total_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
  spree/core/spec/services/spree/prices/bulk_upsert_spec.rb
  spree/core/spec/workflows/spree/payments/capture_spec.rb
  spree/providers/meilisearch/app/models/spree_meilisearch/search_provider.rb
  spree/providers/meilisearch/spec/models/spree_meilisearch/search_provider_spec.rb
Due: core, api, Core, API

Simplified the money changes and updated specs for exported strings
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/products/normalize-money.ts
  packages/dashboard-core/src/products/product-bulk-price-editor.tsx
  packages/dashboard-core/src/products/product-form-mapping.ts
  packages/dashboard-core/src/products/product-schema.ts
  packages/dashboard/e2e/customers.spec.ts
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/e2e/products-prices-inventory.spec.ts
  packages/dashboard/e2e/validation-messages.spec.ts
  packages/dashboard/src/components/spree/bulk-price-editor/bulk-price-editor.tsx
  packages/dashboard/src/components/spree/customers/customer-lifetime-stats-card.tsx
  packages/dashboard/src/components/spree/orders/order-payments-card.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/loyalty/gift-cards.tsx
  packages/dashboard/src/schemas/gift-card.ts
  packages/dashboard/src/schemas/store-credit.ts
  spree/core/app/models/spree/adjusters/largest_remainder.rb
  spree/core/app/models/spree/adjusters/promotion.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/payment_method/store_credit.rb
  spree/core/app/presenters/spree/csv/price_list_price_presenter.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/app/services/spree/orders/discounts/create.rb
  spree/core/app/workflows/spree/payments/capture.rb
  spree/core/lib/spree/money.rb
  spree/core/lib/tasks/money.rake
  spree/core/spec/models/spree/concerns/vat_price_calculation_spec.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/presenters/spree/csv/order_line_items_presenter_spec.rb
  spree/providers/meilisearch/app/models/spree_meilisearch/search_provider.rb
Due: core, Core

Fixed second-round review findings in the money changes
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/loyalty/gift-cards.tsx
  packages/dashboard/src/schemas/gift-card.ts
  spree/api/app/controllers/concerns/spree/api/v3/money_params.rb
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/payments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/app/models/concerns/spree/canonical_decimals.rb
  spree/core/app/models/concerns/spree/typed_adjustment_line.rb
  spree/core/app/models/spree/calculator/shipping/flat_percent_item_total.rb
  spree/core/app/models/spree/gift_card.rb
  spree/core/app/models/spree/gift_card_batch.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/price.rb
  spree/core/app/models/spree/refund.rb
  spree/core/app/models/spree/store_credit.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/presenters/spree/csv/product_variant_presenter.rb
  spree/core/app/services/spree/prices/bulk_upsert.rb
  spree/core/app/workflows/spree/price_lists/update.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/models/spree/price_spec.rb
  spree/core/spec/presenters/spree/csv/product_variant_presenter_spec.rb
  spree/core/spec/services/spree/prices/bulk_upsert_spec.rb
  spree/providers/easypost/lib/spree_easypost.rb
Due: core, api, Core, API

Updated the money plan for strict money setters
  docs/plans/6.0-money-correctness.md
  docs/plans/decisions.md
Due: none

Fixed review bot findings in money parsing
  packages/dashboard/src/schemas/gift-card.ts
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/payments_controller_spec.rb
  spree/core/lib/spree/money.rb
  spree/core/spec/lib/spree/money_spec.rb
Due: core, api, Core, API

Fixed slow trailing-zero matching on request input
  spree/core/lib/spree/money.rb
Due: core, Core

Fix: a bulk price row with a non-numeric amount could clear the price
  spree/core/app/services/spree/prices/bulk_upsert.rb
  spree/core/lib/spree/money.rb
  spree/core/spec/lib/spree/money_spec.rb
  spree/core/spec/services/spree/prices/bulk_upsert_spec.rb
Due: core, Core

Changed payment gateways to receive amounts with their currency
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-money-correctness.md
  docs/plans/6.0-payment-gateways-monorepo.md
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/payments_controller_spec.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/gateway/bogus.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/payment_method/check.rb
  spree/core/app/models/spree/payment_method/store_credit.rb
  spree/core/app/models/spree/refund.rb
  spree/core/app/workflows/spree/payments/capture.rb
  spree/core/app/workflows/spree/payments/process.rb
  spree/core/lib/spree/money.rb
  spree/core/spec/models/spree/payment_method/store_credit_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/models/spree/refund_spec.rb
  spree/core/spec/workflows/spree/payments/capture_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/app/models/spree_stripe/payout_provider.rb
  spree/providers/stripe/app/models/spree_stripe/units.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
  spree/providers/stripe/spec/models/spree_stripe/units_spec.rb
Due: core, api, Core, API

Changed money columns to decimal(19,4)
  docs/developer/upgrades/5.6-to-6.0.mdx
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/price.rb
  spree/core/db/migrate/20261009000001_change_money_columns_to_decimal_19_4.rb
  spree/core/lib/spree/money.rb
  spree/core/spec/workflows/spree/carts/recalculate_totals_spec.rb
Due: core, Core

Fixed decimal preference defaults and e2e seeds sent as numbers
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/dashboard/e2e/catalogs.spec.ts
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/e2e/products-translations.spec.ts
  packages/dashboard/e2e/purchase-orders.spec.ts
  packages/dashboard/e2e/store-credits.spec.ts
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/spec/models/spree/payment_method_spec.rb
Due: core, Core

Documented the decimal limits on money writes and Stripe's currency rules
  docs/developer/upgrades/5.6-to-6.0.mdx
Due: none

Fix: money and rate fields refused amounts with more than two decimals
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/es.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/lib/validation-messages.ts
  packages/dashboard-ui/src/spree/claim-resolve-dialog.tsx
  packages/dashboard-ui/src/spree/label-upload-dialog.tsx
  packages/dashboard-ui/src/spree/post-sale-create-dialogs.tsx
  packages/dashboard-ui/src/spree/quantity-tier-editor.tsx
  packages/dashboard-ui/src/spree/return-dialogs.tsx
  packages/dashboard/e2e/tax-rates.spec.ts
  packages/dashboard/src/components/spree/catalog-terms-card.tsx
  packages/dashboard/src/components/spree/orders/order-adjustments-cards.tsx
  packages/dashboard/src/components/spree/orders/order-payments-card.tsx
  packages/dashboard/src/components/spree/sellers/seller-edit-settlement-sheet.tsx
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/components/spree/variant-line-editor.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/loyalty/gift-cards.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/sellers/commission-rates.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/marketplace.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/tax-rates.tsx
  packages/dashboard/src/schemas/tax-rate.test.ts
  packages/dashboard/src/schemas/tax-rate.ts
Due: none

Added end-to-end tests for money in promotions, delivery methods and commission rates
  packages/dashboard/e2e/commission-rates.spec.ts
  packages/dashboard/e2e/delivery-settings.spec.ts
  packages/dashboard/e2e/promotions.spec.ts
Due: none

Added a money type for preferences
  .changeset/money-preference-type.md
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/developer/customization/model-preferences.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-money-correctness.md
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/components/preferences-form.tsx
  packages/dashboard-ui/src/spree/calculator-summary.tsx
  packages/dashboard/e2e/promotions.spec.ts
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/app/models/spree/calculator/flat_rate.rb
  spree/core/app/models/spree/calculator/flexi_rate.rb
  spree/core/app/models/spree/calculator/price_sack.rb
  spree/core/app/models/spree/calculator/shipping/digital_delivery.rb
  spree/core/app/models/spree/calculator/shipping/flat_rate.rb
  spree/core/app/models/spree/calculator/shipping/flexi_rate.rb
  spree/core/app/models/spree/calculator/shipping/per_item.rb
  spree/core/app/models/spree/calculator/shipping/price_sack.rb
  spree/core/app/models/spree/calculator/tiered_flat_rate.rb
  spree/core/app/models/spree/commission_rules/item_total_rule.rb
  spree/core/app/models/spree/delivery_method_rules/item_total_rule.rb
  spree/core/app/models/spree/promotion/rules/item_total.rb
  spree/core/app/models/spree/store.rb
  spree/core/lib/spree/core/preferences/masking.rb
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/preferences/masking_spec.rb
  spree/core/spec/models/spree/preferences/preferable_spec.rb
Due: core, Core

Fix: installed migrations with a number in their name were reported missing
  spree/core/lib/spree/migrations.rb
  spree/core/spec/lib/spree/migrations_spec.rb
Due: core, Core

Updated a delivery rule spec for money preferences written as strings
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods/rules_controller_spec.rb
Due: none

Fixed review findings on money preferences and the seller balance card
  docs/developer/customization/model-preferences.mdx
  packages/dashboard/src/components/spree/sellers/seller-balance-card.tsx
  packages/dashboard/src/lib/format-amount.ts
  spree/core/lib/spree/core/preferences/masking.rb
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/preferences/preferable_spec.rb
Due: core, Core

Moved money locale and input helpers out of the products folder
  packages/dashboard-core/src/components/money.tsx
  packages/dashboard-core/src/components/preferences-form.tsx
  packages/dashboard-core/src/hooks/use-money-locale.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/currency-parts.ts
  packages/dashboard-core/src/lib/normalize-money.test.ts
  packages/dashboard-core/src/lib/normalize-money.ts
  packages/dashboard-core/src/products/product-bulk-price-editor.tsx
Due: none

Added the typed preferences plan
  docs/plans/6.0-typed-preferences.md
  docs/plans/decisions.md
Due: none

Fixed review findings in the typed preferences contract
  .changeset/typed-preferences.md
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-typed-preferences.md
  docs/plans/decisions.md
  packages/dashboard-core/src/components/preferences-form.tsx
  packages/dashboard/src/components/spree/payment-method-editors/payment-method-sheets.tsx
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/hooks/use-payment-methods.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/integrations.tsx
  packages/dashboard/src/schemas/payment-method.test.ts
  packages/dashboard/src/schemas/payment-method.ts
  spree/api/app/controllers/concerns/spree/api/v3/legacy_preference_params.rb
  spree/api/app/controllers/spree/api/v3/admin/channels_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/imports_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/payment_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/imports_controller.rb
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
  spree/core/app/models/concerns/spree/calculated_adjustments.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/app/models/concerns/spree/typed_associations.rb
  spree/core/lib/spree/core/preferences/invalid_preferences.rb
  spree/core/lib/spree/core/preferences/masking.rb
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/commission_rate_spec.rb
  spree/core/spec/models/spree/preferences/masking_spec.rb
Due: core, api, Core, API

Fixed second review findings in the typed preferences contract
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-typed-preferences.md
  packages/dashboard-core/src/components/preferences-form.tsx
  packages/sdk-core/src/types.ts
  spree/api/app/controllers/concerns/spree/api/v3/legacy_preference_params.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/delivery_methods_controller.rb
  spree/api/lib/spree/api/preference_types.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/calculated_adjustments.rb
  spree/core/app/models/concerns/spree/preference_schema/json_schema.rb
  spree/core/app/models/concerns/spree/typed_associations.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/preference_schema/json_schema_spec.rb
  spree/core/spec/models/spree/preferences/preferable_spec.rb
  spree/core/spec/models/spree/promotion_spec.rb
Due: core, api, Core, API

Fixed fourth review findings in the typed preferences contract
  spree/api/app/controllers/concerns/spree/api/v3/admin/subclassed_resource.rb
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/delivery_methods_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/delivery_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/calculated_adjustments.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/app/models/concerns/spree/preference_schema/json_schema.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/promotion_spec.rb
Due: core, api, Core, API

Fixed third review findings in the typed preferences contract
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/dashboard-core/src/components/preferences-form.tsx
  packages/sdk-core/src/types.ts
  spree/api/app/controllers/concerns/spree/api/v3/admin/subclassed_resource.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/delivery_methods_controller.rb
  spree/api/lib/spree/api/preference_types.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/calculated_adjustments.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/app/models/concerns/spree/preference_schema/json_schema.rb
  spree/core/app/models/concerns/spree/typed_associations.rb
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/preference_schema/json_schema_spec.rb
Due: core, api, Core, API

Fix: an empty nullable integer or boolean setting reads back as null
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/preferences/preferable_spec.rb
Due: core, Core

Fix: specs and the seller panel starter for the typed preferences contract
  packages/seller-dashboard-starter/package.json
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/order_routing_rule_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/models/spree/promotion_spec.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
Due: none

Changed typed preferences code to share one path per job
  packages/dashboard-core/src/components/preferences-form.tsx
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/schemas/delivery-method.ts
  packages/seller-dashboard/src/pages/delivery-methods.tsx
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/concerns/spree/api/v3/legacy_preference_params.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/delivery_methods_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/channel_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/spec/lib/spree/api/preference_conformance_spec.rb
  spree/core/app/models/concerns/spree/calculated_adjustments.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/app/models/concerns/spree/typed_associations.rb
  spree/core/lib/spree/core/preferences/invalid_preferences.rb
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/lib/spree/core/preferences/preferable_class_methods.rb
  spree/core/spec/models/spree/preferences/preferable_spec.rb
Due: core, api, Core, API

Typed the nested calculator in the SDKs' generated types
  packages/admin-sdk/src/types/generated/PromotionAction.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/preferences.ts
  packages/admin-sdk/src/zod/generated/DeliveryMethod.ts
  packages/admin-sdk/src/zod/generated/PromotionAction.ts
  packages/seller-sdk/src/types/generated/DeliveryMethod.ts
  packages/seller-sdk/src/types/generated/index.ts
  packages/seller-sdk/src/types/preferences.ts
  packages/seller-sdk/src/zod/generated/DeliveryMethod.ts
  spree/api/app/serializers/spree/api/v3/admin/delivery_method_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/promotion_action_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/delivery_method_serializer.rb
  spree/api/lib/spree/api/preference_types.rb
  spree/api/spec/lib/spree/api/preference_types_spec.rb
Due: api, API

Fixed review comments on the typed preferences pull request
  docs/plans/6.0-typed-preferences.md
  packages/dashboard-core/src/components/preferences-form.tsx
  spree/api/lib/spree/api/openapi/schema_helper.rb
Due: api, API

Changed preference casting and exposed settings to match Rails' has_json
  docs/developer/customization/model-preferences.mdx
  docs/plans/6.0-typed-preferences.md
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/lib/spree/core/preferences/preferable_class_methods.rb
  spree/core/spec/models/spree/preferences/preferable_spec.rb
Due: core, Core

Fix: whitespace alone clears a nullable number or boolean setting
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/preferences/preferable_spec.rb
Due: core, Core

Aligned typed preferences with the money changes on main
  CLAUDE.md
  docs/api-reference/store.yaml
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/admin-sdk/src/types/generated/DeliveryMethod.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/zod/generated/Store.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/marketplace.tsx
  packages/seller-dashboard-starter/package.json
  spree/api/app/controllers/concerns/spree/api/v3/strict_money_params.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/preference_schema/json_schema.rb
  spree/core/spec/models/spree/preference_schema/json_schema_spec.rb
Due: core, api, Core, API

Added External References developer documentation
  docs/developer/core-concepts/external-references.mdx
  docs/developer/core-concepts/metafields.mdx
  docs/developer/how-to/build-a-b2b-store.mdx
  docs/developer/providers/erp.mdx
  docs/developer/providers/payouts.mdx
  docs/developer/providers/pim.mdx
  docs/docs.json
Due: none

Aligned typed preferences with the money preference type on main
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/developer/customization/model-preferences.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-typed-preferences.md
  packages/cli/src/generated/admin-spec.json
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/preference_schema/json_schema.rb
  spree/core/lib/spree/core/preferences/masking.rb
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/lib/spree/core/preferences/preferable_class_methods.rb
  spree/core/spec/models/spree/preferences/masking_spec.rb
Due: core, Core
