Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Let the caller decline a refund, and make the adapters honour it
  docs/api-reference/admin.yaml
  docs/developer/core-concepts/orders.mdx
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/spec/integration/spree/api/v3/admin/orders_spec.rb
  spree/core/app/models/spree/gateway/bogus.rb
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/payment_method/check.rb
  spree/core/app/models/spree/payment_method/store_credit.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/spec/models/spree/payment/store_credit_spec.rb
  spree/core/spec/workflows/spree/orders/cancel_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: core, Core

Stop a resumed order reporting itself as canceled
  packages/dashboard/src/components/spree/orders/order-summary-card.tsx
Due: none

Plan: reporting semantic layer roadmap
  CLAUDE.md
  docs/plans/6.0-analytics-semantic-layer.md
  docs/plans/decisions.md
Due: none

Remove the Order Resume workflowe
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  docs/api-reference/webhooks-events.mdx
  docs/developer/customization/workflows.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/admin-sdk/examples/orders/resume.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/tests/orders.test.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/orders/order-header.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/webhook-endpoint.ts
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders_spec.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/subscriber.rb
  spree/core/app/workflows/spree/orders/resume.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/order/state_machine_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/workflows/spree/orders/resume_spec.rb
Due: core, api, Core, API

Turn a failing tax engine into a refusal a storefront can explain
  docs/plans/6.0-avalara-provider-gem.md
  spree/core/app/models/spree/tax_provider/base.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/tax/provider_error.rb
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
  spree/providers/avalara/app/models/spree_avalara/tax_provider.rb
  spree/providers/avalara/lib/spree_avalara.rb
  spree/providers/avalara/spec/models/spree_avalara/tax_provider_spec.rb
  spree/providers/avalara/spec/spree_avalara_spec.rb
Due: core, Core

Remove resuming fulfillments
  docs/api-reference/admin.yaml
  docs/api-reference/webhooks-events.mdx
  docs/developer/customization/workflows.mdx
  docs/developer/providers/fulfillment.mdx
  docs/developer/sdk/admin/resources.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/admin-sdk/examples/order-fulfillments/resume.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/tests/orders.test.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/hooks/use-fulfillments.ts
  packages/dashboard/src/schemas/webhook-endpoint.ts
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/fulfillments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/fulfillments_spec.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/fulfillment/custom_events.rb
  spree/core/app/services/spree/orders/update_statuses.rb
  spree/core/app/workflows/spree/fulfillments/create.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/app/workflows/spree/fulfillments/resume.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/order_updater_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/workflows/spree/fulfillments/create_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
  spree/core/spec/workflows/spree/fulfillments/resume_spec.rb
Due: core, api, Core, API

Update plans
  CLAUDE.md
  docs/plans/6.0-b2b-wholesale-shipping.md
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/6.0-returns-exchanges-claims.md
  docs/plans/6.0-shipping-labels-and-deliveries.md
  docs/plans/decisions.md
Due: none

Fix local claude config after last update
  .claude/settings.local.json
Due: none

Fix commission rates index to return precedence order
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
Due: api, API

Fix resource pickers showing empty state before typing
  packages/dashboard-core/src/components/resource-multi-autocomplete.tsx
Due: none

Show marketplace commission on the order detail page
  packages/admin-sdk/src/types/generated/CommissionLine.ts
  packages/dashboard/src/components/spree/orders/order-commission-lines-card.tsx
  packages/dashboard/src/hooks/use-order.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/index.tsx
  spree/api/app/serializers/spree/api/v3/admin/commission_line_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_lines_controller_spec.rb
Due: api, API

Fix commission rate code rewrite on edit
  packages/dashboard/e2e/commission-rates.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/commission-rates.tsx
Due: none

Refuse commission percentages over 100% and warn on flat fees
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/commission-rates.tsx
  packages/dashboard/src/schemas/commission-rate.ts
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
  spree/core/app/models/spree/commission_rate.rb
  spree/core/spec/models/spree/commission_rate_spec.rb
Due: core, Core

Fix silent failure when promotion code is not yet eligible
  spree/api/app/controllers/spree/api/v3/store/carts/discount_codes_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/discount_codes_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/discount_codes_spec.rb
Due: api, API

Fix list-position ordering on all acts_as_list admin endpoints
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/collections_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_profiles/origin_groups_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_profiles_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/markets_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/payment_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/price_lists_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/seller_requirements_controller.rb
  spree/api/app/controllers/spree/api/v3/store/collections_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/collections_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_profiles_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/markets_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/price_lists_controller_spec.rb
  spree/core/app/models/concerns/spree/has_list_position.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/collection.rb
  spree/core/app/models/spree/commission_rate.rb
  spree/core/app/models/spree/delivery_origin_group.rb
  spree/core/app/models/spree/delivery_profile.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/order_routing_rule.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/seller_requirement.rb
  spree/core/spec/models/concerns/spree/has_list_position_spec.rb
Due: core, api, Core, API

Fix gift card not linked to order on cart completion
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
Due: core, Core

Use expandable commission_rate instead of commission_rate_name
  packages/admin-sdk/src/types/generated/CommissionLine.ts
  packages/dashboard/src/components/spree/orders/order-commission-lines-card.tsx
  packages/dashboard/src/hooks/use-order.ts
  spree/api/app/serializers/spree/api/v3/admin/commission_line_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_lines_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/commission_lines_spec.rb
Due: api, API

Release gift card balance when an incomplete cart is deleted
  spree/core/app/services/spree/carts/destroy.rb
  spree/core/spec/services/spree/carts/destroy_spec.rb
Due: core, Core

Address PR review: qualify ordered scope id and clean up specs
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/collections_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/price_lists_controller_spec.rb
  spree/core/app/models/concerns/spree/has_list_position.rb
  spree/core/spec/models/concerns/spree/has_list_position_spec.rb
Due: core, Core

Call gift card remove workflow directly from cart destroy
  spree/core/app/services/spree/carts/destroy.rb
Due: core, Core

Move commission totals to order summary and hide empty commission card
  packages/dashboard/src/components/spree/orders/order-commission-lines-card.tsx
  packages/dashboard/src/components/spree/orders/order-summary-card.tsx
  packages/dashboard/src/lib/commission-line-totals.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Fix fixed commission rate display in order detail
  packages/dashboard/src/components/spree/orders/order-commission-lines-card.tsx
Due: none

Fix commission line review feedback
  packages/dashboard/src/components/spree/orders/order-commission-lines-card.tsx
  packages/dashboard/src/components/spree/orders/order-summary-card.tsx
  packages/dashboard/src/hooks/use-order.ts
  packages/dashboard/src/lib/commission-line-rate-label.ts
Due: none

Fix gift card not linked to order on cart completion (V-3597) (#14570)
  spree/core/app/services/spree/carts/destroy.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/spec/services/spree/carts/destroy_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
Due: core, Core

Ignore flat-fee caps for currencies without a stated amount
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/commission-rates.tsx
  packages/dashboard/src/schemas/commission-rate.ts
  spree/core/app/models/spree/commission_rate.rb
  spree/core/spec/models/spree/commission_rate_spec.rb
Due: core, Core

Fix list-position ordering on acts_as_list admin endpoints (#14564)
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/collections_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_profiles/origin_groups_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_profiles_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/markets_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/payment_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/price_lists_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/seller_requirements_controller.rb
  spree/api/app/controllers/spree/api/v3/store/collections_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/collections_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_profiles_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/markets_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/price_lists_controller_spec.rb
  spree/core/app/models/concerns/spree/has_list_position.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/collection.rb
  spree/core/app/models/spree/commission_rate.rb
  spree/core/app/models/spree/delivery_origin_group.rb
  spree/core/app/models/spree/delivery_profile.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/order_routing_rule.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/seller_requirement.rb
  spree/core/spec/models/concerns/spree/has_list_position_spec.rb
Due: core, api, Core, API

Fix flat-fee cap clearing and bounds assignment order
  spree/core/app/models/spree/commission_rate.rb
  spree/core/spec/models/spree/commission_rate_spec.rb
Due: core, Core

Fix silent failure when promotion code is not yet eligible (V-3587) (#14569)
  spree/api/app/controllers/spree/api/v3/store/carts/discount_codes_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/discount_codes_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/discount_codes_spec.rb
Due: api, API

Show marketplace commission on order detail page (V-3593) (#14566)
  packages/admin-sdk/src/types/generated/CommissionLine.ts
  packages/dashboard/src/components/spree/orders/order-commission-lines-card.tsx
  packages/dashboard/src/components/spree/orders/order-summary-card.tsx
  packages/dashboard/src/hooks/use-order.ts
  packages/dashboard/src/lib/commission-line-rate-label.ts
  packages/dashboard/src/lib/commission-line-totals.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/index.tsx
  spree/api/app/serializers/spree/api/v3/admin/commission_line_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_lines_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/commission_lines_spec.rb
Due: api, API

Finalize the channel markets design
  CLAUDE.md
  docs/plans/6.0-channel-markets.md
  docs/plans/decisions.md
Due: none

Land an off-market shopper on their channel's default market
  packages/dashboard/e2e/channels-settings.spec.ts
  spree/api/app/controllers/concerns/spree/api/v3/locale_and_currency.rb
  spree/api/spec/controllers/spree/api/v3/store/markets_controller_spec.rb
Due: api, API

Let a channel sell into only some of a store's markets
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Channel.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/e2e/channels-settings.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/channels.tsx
  packages/dashboard/src/schemas/channel.ts
  spree/api/app/controllers/concerns/spree/api/v3/locale_and_currency.rb
  spree/api/app/controllers/spree/api/v3/admin/channels_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/channel_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/markets_controller_spec.rb
  spree/core/app/models/concerns/spree/purchase/market.rb
  spree/core/app/models/spree/channel.rb
  spree/core/app/models/spree/channel_market.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/services/spree/carts/create.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260828180001_create_spree_channel_markets.rb
  spree/core/spec/models/spree/cart_spec.rb
  spree/core/spec/models/spree/channel_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/services/spree/carts/create_spec.rb
  spree/core/spec/support/shared_examples/purchase_channel_markets.rb
Due: core, api, Core, API

Cover currency-driven market resolution on a narrowed channel
  spree/core/spec/support/shared_examples/purchase_channel_markets.rb
Due: none

Keep a new cart on its own store's channel
  spree/core/app/services/spree/carts/create.rb
  spree/core/spec/services/spree/carts/create_spec.rb
Due: core, Core

Refuse a purchase on another store's channel
  spree/core/app/models/concerns/spree/purchase/channel.rb
  spree/core/spec/services/spree/carts/create_spec.rb
  spree/core/spec/support/shared_examples/purchase_channel_markets.rb
Due: core, Core

Hold a narrowed channel to its own markets
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/concerns/spree/api/v3/locale_and_currency.rb
  spree/api/spec/controllers/spree/api/v3/store/markets_controller_spec.rb
  spree/core/app/models/spree/channel.rb
  spree/core/spec/models/spree/channel_spec.rb
  spree/core/spec/support/shared_examples/purchase_channel_markets.rb
Due: core, api, Core, API

Mark the channel markets plan implemented
  CLAUDE.md
  docs/plans/6.0-channel-markets.md
Due: none

Let the suite see a callback pointing at an action that is gone
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/core/lib/generators/spree/dummy/templates/rails/test.rb
Due: api, API

Let the suite see a callback pointing at an action that is gone (#14571)
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/core/lib/generators/spree/dummy/templates/rails/test.rb
Due: api, API

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
