Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Fix SDK release build: use turbo to build sdk-core dependency first
  .github/workflows/packages.yml
Due: none

Fix @spree/sdk: bundle sdk-core instead of declaring as runtime dependency
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/tsup.config.ts
Due: none

Update lockfile after moving sdk-core to devDependencies
  pnpm-lock.yaml
Due: none

Bump @spree/next to 0.7.1 to match SDK release
  packages/next/CHANGELOG.md
  packages/next/package.json
Due: none

Fixed: remove group by in `Product#with_option_value_ids` scope
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
Due: core, api, Core, API

Fixed: remove group by in `Product#with_option_value_ids` scope (#13752)
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
Due: core, api, Core, API

Fixed ability to chain `in_stock` product scope
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/spec/models/spree/product/scopes_spec.rb
Due: core, Core

Update products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
Due: none

Update product_scopes.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
Due: core, Core

Fixed best selling scope distinct issue
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/spec/models/spree/product/scopes_spec.rb
Due: core, api, Core, API

Fixed ability to chain `in_stock` product scope (#13753)
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/spec/models/spree/product/scopes_spec.rb
Due: core, api, Core, API

Fixed SDK docs after store/admin split
  docs/developer/sdk/quickstart.mdx
Due: none

SDK: Added `phone`, `accepts_email_marketing`, and `metadata` fields to `RegisterParams` for customer registration. Added `metadata` and `current_password` fields to `customer.update()`
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/auth.ts
  packages/next/tests/actions/auth.test.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/types.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/generated/Customer.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/Customer.ts
  packages/sdk/tests/auth.test.ts
  packages/sdk/tests/customer.test.ts
  packages/sdk/tests/mocks/handlers.ts
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/account_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/api/app/serializers/spree/api/v3/customer_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/auth_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/account_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/auth_spec.rb
  spree/api/spec/integration/spree/api/v3/store/customers_spec.rb
  spree/core/app/models/concerns/spree/user_methods.rb
Due: core, api, Core, API

SDK: Added `phone`, `accepts_email_marketing`, and `metadata` fields … (#13755)
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/auth.ts
  packages/next/tests/actions/auth.test.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/types.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/generated/Customer.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/Customer.ts
  packages/sdk/tests/auth.test.ts
  packages/sdk/tests/customer.test.ts
  packages/sdk/tests/mocks/handlers.ts
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/account_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/api/app/serializers/spree/api/v3/customer_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/auth_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/account_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/auth_spec.rb
  spree/api/spec/integration/spree/api/v3/store/customers_spec.rb
  spree/core/app/models/concerns/spree/user_methods.rb
Due: core, api, Core, API

Fixed: Restructured the customer registration API from POST /auth/register to POST /customers, making it RESTful
  docs/api-reference/store.yaml
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/auth.ts
  packages/next/tests/actions/auth.test.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/store-client.ts
  packages/sdk/tests/auth.test.ts
  packages/sdk/tests/mocks/handlers.ts
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/account_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/auth_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/auth_spec.rb
  spree/api/spec/integration/spree/api/v3/store/customers_spec.rb
Due: api, API

Update docs
  docs/api-reference/store-api/authentication.mdx
  docs/api-reference/store-api/rate-limitting.mdx
  docs/developer/core-concepts/customers.mdx
  docs/developer/core-concepts/users.mdx
  docs/developer/sdk/authentication.mdx
  packages/next/README.md
  packages/sdk/README.md
Due: none

Fixed: Restructured the customer registration API from POST /auth/reg… (#13756)
  docs/api-reference/store-api/authentication.mdx
  docs/api-reference/store-api/rate-limitting.mdx
  docs/api-reference/store.yaml
  docs/developer/core-concepts/customers.mdx
  docs/developer/core-concepts/users.mdx
  docs/developer/sdk/authentication.mdx
  packages/next/CHANGELOG.md
  packages/next/README.md
  packages/next/package.json
  packages/next/src/actions/auth.ts
  packages/next/tests/actions/auth.test.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/store-client.ts
  packages/sdk/tests/auth.test.ts
  packages/sdk/tests/mocks/handlers.ts
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/account_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/auth_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/auth_spec.rb
  spree/api/spec/integration/spree/api/v3/store/customers_spec.rb
Due: api, API

update docs
  docs/api-reference/store-api/querying.mdx
  docs/api-reference/store-api/relations.mdx
  docs/developer/core-concepts/products.mdx
  docs/developer/core-concepts/search-filtering.mdx
  docs/developer/sdk/configuration.mdx
  docs/developer/sdk/quickstart.mdx
  docs/developer/sdk/store/products.mdx
  docs/developer/storefront/nextjs/spree-next-package.mdx
  packages/next/CHANGELOG.md
  packages/next/README.md
  packages/next/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/console.ts
  packages/sdk/package.json
  packages/sdk/tests/mocks/handlers.ts
Due: none

fixes
  docs/api-reference/store.yaml
  packages/next/package.json
  packages/next/tsup.config.ts
  spree/api/spec/controllers/spree/api/v3/store/categories/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/categories_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/taxonomies_controller_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: none

Update filters_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products/filters_controller_spec.rb
Due: none

Brought back `ensure_default_taxonomies_are_created` and `ensure_default_automatic_taxons` and deprecated them for non-breaking migration
  spree/core/app/models/spree/store.rb
Due: core, Core

naming fixes and docs improvements
  docs/api-reference/store-api/localization.mdx
  docs/api-reference/store-api/querying.mdx
  docs/api-reference/store.yaml
  docs/developer/core-concepts/products.mdx
  docs/developer/core-concepts/search-filtering.mdx
  docs/developer/core-concepts/slugs.mdx
  docs/developer/core-concepts/translations.mdx
  docs/developer/sdk/store/products.mdx
  docs/developer/storefront/nextjs/architecture.mdx
  docs/developer/storefront/nextjs/customization.mdx
  docs/developer/storefront/nextjs/spree-next-package.mdx
  packages/next/README.md
  packages/sdk/README.md
  packages/sdk/src/types/index.ts
  packages/sdk/tests/categories.test.ts
  packages/sdk/tests/mocks/handlers.ts
  packages/sdk/tests/params.test.ts
  spree/api/app/controllers/spree/api/v3/store/categories/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/categories_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/categories_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/categories_spec.rb
  spree/api/spec/integration/spree/api/v3/store/products_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/taxon.rb
Due: core, api, Core, API

Add shipment cancel, resume, and split actions to Admin API
  packages/sdk/src/admin-client.ts
  packages/sdk/src/admin-params.ts
  packages/sdk/tests/admin/shipments.test.ts
  packages/sdk/tests/mocks/admin-handlers.ts
  spree/api/ADMIN_API_PLAN.md
  spree/api/app/controllers/spree/api/v3/admin/orders/shipments_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/shipments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/shipments_spec.rb
Due: api, API

Create ADMIN_API_PLAN.md
  spree/api/ADMIN_API_PLAN.md
Due: api

Admin API: integration tests, OpenAPI spec, and SDK generation for all catalog endpoints
  docs/api-reference/admin.yaml
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/scripts/generate-admin-client.ts
  packages/sdk/src/admin-client.ts
  packages/sdk/src/admin-params.ts
  packages/sdk/src/types/generated/AdminAsset.ts
  packages/sdk/src/types/generated/AdminImage.ts
  packages/sdk/src/types/generated/AdminOptionType.ts
  packages/sdk/src/types/generated/AdminOptionValue.ts
  packages/sdk/src/types/generated/AdminStockItem.ts
  packages/sdk/src/types/generated/AdminTaxonomy.ts
  packages/sdk/src/zod/generated/AdminAsset.ts
  packages/sdk/src/zod/generated/AdminImage.ts
  packages/sdk/src/zod/generated/AdminOptionType.ts
  packages/sdk/src/zod/generated/AdminOptionValue.ts
  packages/sdk/src/zod/generated/AdminProduct.ts
  packages/sdk/src/zod/generated/AdminStockItem.ts
  packages/sdk/src/zod/generated/AdminTaxonomy.ts
  packages/sdk/src/zod/generated/AdminVariant.ts
  spree/api/app/controllers/spree/api/v3/admin/products/assets_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/variants/prices_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/integration/spree/api/v3/admin/assets_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/option_types_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/taxonomies_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/taxons_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variants_spec.rb
  spree/api/spec/swagger_helper.rb
Due: api, API

Admin API: Orders CRUD, state transitions, line items, and full test coverage
  docs/api-reference/admin.yaml
  packages/sdk/scripts/generate-admin-client.ts
  packages/sdk/src/admin-client.ts
  packages/sdk/src/admin-params.ts
  packages/sdk/tests/admin/option-types.test.ts
  packages/sdk/tests/admin/orders.test.ts
  packages/sdk/tests/admin/products.test.ts
  packages/sdk/tests/admin/taxonomies.test.ts
  packages/sdk/tests/admin/taxons.test.ts
  packages/sdk/tests/helpers.ts
  packages/sdk/tests/mocks/admin-handlers.ts
  packages/sdk/tests/mocks/server.ts
  spree/api/ADMIN_API_PLAN.md
  spree/api/app/controllers/spree/api/v3/admin/orders/line_items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/line_items_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/assets_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/line_items_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders_spec.rb
Due: api, API

Admin API - Product cataloig
  packages/sdk/src/types/generated/AdminOptionType.ts
  packages/sdk/src/zod/generated/AdminOptionType.ts
  spree/api/ADMIN_API_PLAN.md
  spree/api/app/controllers/spree/api/v3/admin/option_types_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/assets_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/taxonomies/taxons_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/taxonomies_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/taxons_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/variants/prices_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/option_types_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/taxonomies/taxons_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/taxonomies_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/taxons_controller_spec.rb
  spree/core/app/services/spree/option_types/create.rb
  spree/core/app/services/spree/option_types/update.rb
  spree/core/app/services/spree/products/create.rb
  spree/core/app/services/spree/products/update.rb
  spree/core/app/services/spree/variants/create.rb
  spree/core/app/services/spree/variants/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/option_types/create_spec.rb
  spree/core/spec/services/spree/option_types/update_spec.rb
  spree/core/spec/services/spree/products/create_spec.rb
  spree/core/spec/services/spree/products/update_spec.rb
  spree/core/spec/services/spree/variants/create_spec.rb
  spree/core/spec/services/spree/variants/update_spec.rb
Due: core, api, Core, API

Admin API: Order nested resources — shipments, payments, refunds, adjustments
  packages/sdk/src/admin-client.ts
  packages/sdk/src/admin-params.ts
  packages/sdk/src/types/generated/AdminAdjustment.ts
  packages/sdk/src/types/generated/AdminPayment.ts
  packages/sdk/src/types/generated/AdminRefund.ts
  packages/sdk/src/types/generated/AdminShipment.ts
  packages/sdk/src/zod/generated/AdminAdjustment.ts
  packages/sdk/src/zod/generated/AdminPayment.ts
  packages/sdk/src/zod/generated/AdminRefund.ts
  packages/sdk/src/zod/generated/AdminShipment.ts
  packages/sdk/tests/admin/adjustments.test.ts
  packages/sdk/tests/admin/payments.test.ts
  packages/sdk/tests/admin/refunds.test.ts
  packages/sdk/tests/admin/shipments.test.ts
  packages/sdk/tests/mocks/admin-handlers.ts
  spree/api/app/controllers/spree/api/v3/admin/orders/adjustments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/refunds_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/shipments_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/adjustments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/payments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/refunds_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/shipments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/adjustments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/payments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/refunds_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/shipments_spec.rb
Due: api, API

Fixed: Prefixed IDs Only resolves when a matching association exists
  spree/core/app/models/concerns/spree/prefixed_id.rb
  spree/core/spec/models/spree/concerns/prefixed_id_spec.rb
Due: core, Core

Direct uploads in admin client
  packages/sdk/src/admin-client.ts
Due: none

Add missing admin serializers, use admin serializers in assocations in other admin serializers
  packages/sdk/src/types/generated/AdminAddress.ts
  packages/sdk/src/types/generated/AdminCreditCard.ts
  packages/sdk/src/types/generated/AdminOrderPromotion.ts
  packages/sdk/src/types/generated/AdminPayment.ts
  packages/sdk/src/types/generated/AdminPaymentMethod.ts
  packages/sdk/src/types/generated/AdminPaymentSource.ts
  packages/sdk/src/types/generated/AdminShipment.ts
  packages/sdk/src/types/generated/AdminShippingMethod.ts
  packages/sdk/src/types/generated/AdminShippingRate.ts
  packages/sdk/src/types/generated/AdminStockLocation.ts
  packages/sdk/src/types/generated/AdminStoreCredit.ts
  packages/sdk/src/zod/generated/AdminAddress.ts
  packages/sdk/src/zod/generated/AdminCreditCard.ts
  packages/sdk/src/zod/generated/AdminCustomer.ts
  packages/sdk/src/zod/generated/AdminLineItem.ts
  packages/sdk/src/zod/generated/AdminOrder.ts
  packages/sdk/src/zod/generated/AdminOrderPromotion.ts
  packages/sdk/src/zod/generated/AdminPayment.ts
  packages/sdk/src/zod/generated/AdminPaymentMethod.ts
  packages/sdk/src/zod/generated/AdminPaymentSource.ts
  packages/sdk/src/zod/generated/AdminShipment.ts
  packages/sdk/src/zod/generated/AdminShippingMethod.ts
  packages/sdk/src/zod/generated/AdminShippingRate.ts
  packages/sdk/src/zod/generated/AdminStockLocation.ts
  packages/sdk/src/zod/generated/AdminStoreCredit.ts
Due: none

Fix direct uploads CORS
  server/config/initializers/cors.rb
Due: none

Consolidate prefixed ID resolution at model level and simplify API controllers
  spree/api/app/controllers/concerns/spree/api/v3/params_normalizer.rb
  spree/api/app/controllers/spree/api/v3/admin/option_types_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/line_items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/shipments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/assets_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/spec/controllers/spree/api/v3/params_normalizer_spec.rb
  spree/core/app/models/concerns/spree/prefixed_id.rb
  spree/core/app/models/spree/wished_item.rb
  spree/core/app/services/spree/cart/upsert_items.rb
  spree/core/app/services/spree/products/create.rb
  spree/core/app/services/spree/products/update.rb
  spree/core/app/services/spree/variants/create.rb
  spree/core/app/services/spree/variants/update.rb
Due: core, api, Core, API

Add Direct Uploads API for Admin
  packages/sdk/src/admin-params.ts
  spree/api/app/controllers/spree/api/v3/admin/assets_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/direct_uploads_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/direct_uploads_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/assets_signed_id_spec.rb
  spree/core/lib/spree/permitted_attributes.rb
Due: core, api, Core, API

Use Admin serializers in admin api :)
  packages/sdk/src/types/generated/AdminAdjustment.ts
  packages/sdk/src/types/generated/AdminOptionType.ts
  packages/sdk/src/types/generated/AdminOptionValue.ts
  packages/sdk/src/types/generated/AdminPayment.ts
  packages/sdk/src/types/generated/AdminReimbursement.ts
  packages/sdk/src/types/generated/AdminReturnAuthorization.ts
  packages/sdk/src/types/generated/AdminShipment.ts
  packages/sdk/src/types/generated/AdminShippingCategory.ts
  packages/sdk/src/types/generated/AdminTaxCategory.ts
  packages/sdk/src/types/generated/AdminTaxonomy.ts
  packages/sdk/src/types/generated/StoreShippingCategory.ts
  packages/sdk/src/types/generated/StoreTaxCategory.ts
  packages/sdk/src/zod/generated/AdminAdjustment.ts
  packages/sdk/src/zod/generated/AdminOptionType.ts
  packages/sdk/src/zod/generated/AdminOptionValue.ts
  packages/sdk/src/zod/generated/AdminOrder.ts
  packages/sdk/src/zod/generated/AdminPayment.ts
  packages/sdk/src/zod/generated/AdminProduct.ts
  packages/sdk/src/zod/generated/AdminReimbursement.ts
  packages/sdk/src/zod/generated/AdminReturnAuthorization.ts
  packages/sdk/src/zod/generated/AdminShipment.ts
  packages/sdk/src/zod/generated/AdminShippingCategory.ts
  packages/sdk/src/zod/generated/AdminTaxCategory.ts
  packages/sdk/src/zod/generated/AdminTaxonomy.ts
  packages/sdk/src/zod/generated/AdminVariant.ts
  packages/sdk/src/zod/generated/StoreShippingCategory.ts
  packages/sdk/src/zod/generated/StoreTaxCategory.ts
  spree/api/app/serializers/spree/api/v3/admin/category_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/metafield_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/price_serializer.rb
Due: api, API

Improve product list and sidebar
  packages/admin/src/components/ui/sidebar.tsx
  packages/admin/src/tables/products.tsx
  packages/sdk/src/types/generated/AdminProduct.ts
  packages/sdk/src/zod/generated/AdminProduct.ts
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
