Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Changed the type label shared examples to build their own kind from described_class
  spree/core/spec/models/spree/collection_rule_spec.rb
  spree/core/spec/models/spree/commission_rules/product_rule_spec.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/order_routing_rule_spec.rb
  spree/core/spec/models/spree/promotion_action_spec.rb
  spree/core/spec/models/spree/promotion_rule_spec.rb
  spree/core/spec/models/spree/seller_requirement_spec.rb
  spree/core/spec/support/shared_examples/type_labels.rb
Due: none

Added a shared concern for typed-subclass labels (#14836)
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/core/app/models/concerns/spree/type_labels.rb
  spree/core/app/models/spree/collection_rule.rb
  spree/core/app/models/spree/commission_rule.rb
  spree/core/app/models/spree/delivery_method_rule.rb
  spree/core/app/models/spree/order_routing_rule.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/promotion_rule.rb
  spree/core/app/models/spree/seller_requirement.rb
  spree/core/config/i18n-tasks.yml
  spree/core/spec/models/spree/collection_rule_spec.rb
  spree/core/spec/models/spree/commission_rules/product_rule_spec.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/order_routing_rule_spec.rb
  spree/core/spec/models/spree/promotion_action_spec.rb
  spree/core/spec/models/spree/promotion_rule_spec.rb
  spree/core/spec/models/spree/seller_requirement_spec.rb
  spree/core/spec/support/shared_examples/type_labels.rb
Due: core, api, Core, API

Removed Spree::Taxon handling from the API type names
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/custom_field_definition.rb
  spree/core/spec/models/spree/base_spec.rb
Due: core, Core

Added e2e coverage for the API values changed to short names
  packages/dashboard/e2e/channels-settings.spec.ts
  packages/dashboard/e2e/custom-field-definitions.spec.ts
  packages/dashboard/e2e/customers.spec.ts
  packages/dashboard/e2e/delivery-settings.spec.ts
  packages/dashboard/e2e/markets.spec.ts
  packages/dashboard/e2e/media-library.spec.ts
  packages/dashboard/e2e/orders.spec.ts
  packages/dashboard/e2e/products-edit.spec.ts
Due: none

Fix: OpenAPI custom field schema still listed the removed type field
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
Due: none

Changed custom field type, payment setup session and refund type values back to class names in the Store API
  .changeset/api-type-shorthands.md
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/CustomField.ts
  packages/sdk/src/zod/generated/CustomField.ts
  packages/seller-sdk/src/types/generated/CustomField.ts
  packages/seller-sdk/src/zod/generated/CustomField.ts
  spree/api/app/serializers/spree/api/v3/admin/custom_field_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/refund_serializer.rb
  spree/api/app/serializers/spree/api/v3/custom_field_serializer.rb
  spree/api/app/serializers/spree/api/v3/payment_setup_session_serializer.rb
  spree/api/app/serializers/spree/api/v3/refund_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/payment_setup_sessions_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/payment_setup_sessions_spec.rb
  spree/api/spec/serializers/spree/api/v3/custom_field_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/refund_serializer_spec.rb
Due: api, API

Revert "Changed custom field type, payment setup session and refund type values back to class names in the Store API"
  .changeset/api-type-shorthands.md
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/CustomField.ts
  packages/sdk/src/zod/generated/CustomField.ts
  packages/seller-sdk/src/types/generated/CustomField.ts
  packages/seller-sdk/src/zod/generated/CustomField.ts
  spree/api/app/serializers/spree/api/v3/admin/custom_field_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/refund_serializer.rb
  spree/api/app/serializers/spree/api/v3/custom_field_serializer.rb
  spree/api/app/serializers/spree/api/v3/payment_setup_session_serializer.rb
  spree/api/app/serializers/spree/api/v3/refund_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/payment_setup_sessions_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/payment_setup_sessions_spec.rb
  spree/api/spec/serializers/spree/api/v3/custom_field_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/refund_serializer_spec.rb
Due: api, API

Added an upgrade note for type values sent as short names
  .changeset/api-type-shorthands.md
  docs/developer/upgrades/5.6-to-6.0.mdx
Due: none

Fix: Media added from the library showed a blank tile after saving the product
  packages/dashboard/e2e/media-library.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
Due: none

Removed the refund row from the type values upgrade note
  docs/developer/upgrades/5.6-to-6.0.mdx
Due: none

Fix: Customer custom fields card still asked for definitions by class name
  packages/dashboard/e2e/custom-field-definitions.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
Due: none

Fix: Saving a product could discard edits made while its media reloaded
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
Due: none

Fix: Charge market prices as entered for buyers abroad
  spree/core/app/models/concerns/spree/vat_price_calculation.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20261007000001_add_tax_display_and_default_country_code_to_spree_markets.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/markets.rake
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
  spree/core/spec/models/concerns/spree/vat_price_calculation_spec.rb
  spree/core/spec/models/spree/concerns/vat_price_calculation_spec.rb
  spree/core/spec/models/spree/market_spec.rb
  spree/core/spec/models/spree/price_spec.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
  spree/core/spec/services/spree/stores/provision_defaults_spec.rb
Due: core, Core

Added tax display and main country to the Admin API markets
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/generated/Market.ts
  packages/admin-sdk/src/zod/generated/Market.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/markets_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/market_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/markets_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/markets_spec.rb
Due: api, API

Docs: Market tax display and main country
  docs/developer/core-concepts/markets.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-drop-country-state-models.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
  docs/user/settings/markets.mdx
Due: none

Added tax display and main country to the market form
  .changeset/admin-sdk-market-tax-display.md
  .changeset/dashboard-market-tax-display.md
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/components/country-combobox.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/markets.tsx
  packages/dashboard/src/schemas/market.ts
Due: none

Changed permission subjects to short names instead of Ruby class names
  .changeset/permission-subject-short-names.md
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  docs/developer/dashboard/customization/navigation.mdx
  docs/developer/dashboard/customization/permissions.mdx
  docs/developer/dashboard/customization/routes.mdx
  docs/developer/dashboard/customization/slots.mdx
  docs/developer/dashboard/recipes/page-action-button.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/admin-sdk/examples/me/get.ts
  packages/admin-sdk/src/admin-client.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/components/can.tsx
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-core/tests/create-action-matching.test.ts
  packages/dashboard-core/tests/settings-nav-permissions.test.ts
  packages/dashboard/src/components/spree/role-sheet.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles.tsx
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/nav/settings.ts
  packages/seller-sdk/src/seller-client.ts
  spree/api/app/controllers/concerns/spree/api/v3/permission_serialization.rb
  spree/api/lib/spree/api/openapi/schema_helper.rb
  spree/api/spec/controllers/spree/api/v3/admin/me_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/me_controller_spec.rb
Due: api, API

Added the rule for exposing typed values in the API to CLAUDE.md
  CLAUDE.md
Due: none

Fixed Stripe charging a saved card the customer has removed
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: none

Fix: Stripe saved-card refusal no longer uses the deprecated Spree.t
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: none

Added removed cards to the saved Stripe card decision
  docs/plans/decisions.md
Due: none

Fix: Product media list loaded only its first page into the form
  packages/dashboard/src/hooks/use-product-media.ts
Due: none

Fix: Nested providers could share a short name
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/generated/Market.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/custom_field_definitions_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/market_serializer.rb
  spree/core/app/models/concerns/spree/api_typed.rb
  spree/core/spec/models/concerns/spree/api_typed_spec.rb
Due: core, api, Core, API

Fixed plugin permission examples in the dashboard docs to use short names
  docs/developer/dashboard/customization/permissions.mdx
Due: none

Fixed the remaining plugin permission examples in the dashboard docs
  docs/developer/dashboard/recipes/sidebar-widget.mdx
  docs/developer/dashboard/slots-catalog.mdx
Due: none

Fix: Product media form now loads every page of a product's media
  packages/dashboard/src/hooks/use-product-media.test.ts
  packages/dashboard/src/hooks/use-product-media.ts
Due: none

Fixed the rejected options sentence in the V-3655 decision entry
  docs/plans/decisions.md
Due: none

Changed permission subjects to short names instead of Ruby class names (#14839)
  .changeset/permission-subject-short-names.md
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  docs/developer/dashboard/customization/navigation.mdx
  docs/developer/dashboard/customization/permissions.mdx
  docs/developer/dashboard/customization/routes.mdx
  docs/developer/dashboard/customization/slots.mdx
  docs/developer/dashboard/recipes/page-action-button.mdx
  docs/developer/dashboard/recipes/sidebar-widget.mdx
  docs/developer/dashboard/slots-catalog.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/admin-sdk/examples/me/get.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/Market.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/components/can.tsx
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-core/tests/create-action-matching.test.ts
  packages/dashboard-core/tests/settings-nav-permissions.test.ts
  packages/dashboard/src/components/spree/role-sheet.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles.tsx
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/nav/settings.ts
  packages/seller-sdk/src/seller-client.ts
  spree/api/app/controllers/concerns/spree/api/v3/permission_serialization.rb
  spree/api/app/controllers/spree/api/v3/admin/custom_field_definitions_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/market_serializer.rb
  spree/api/lib/spree/api/openapi/schema_helper.rb
  spree/api/spec/controllers/spree/api/v3/admin/me_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/me_controller_spec.rb
  spree/core/app/models/concerns/spree/api_typed.rb
  spree/core/spec/models/concerns/spree/api_typed_spec.rb
Due: core, api, Core, API

Fix: Saving a product could briefly put back its pre-save values
  packages/dashboard/e2e/media-library.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
Due: none

Fix: A failed media reload after saving could drop new media from the form
  packages/dashboard/e2e/media-library.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
Due: none

Create Product Types image folder
  docs/images/user/settings/product-types/placeholder
Due: none

Uploaded Product Types screenshots
  docs/images/user/settings/product-types/1-product-types-overview.png
  docs/images/user/settings/product-types/2-new-product-type.png
Due: none

Fix: A failed media reload kept saved product values out of the form
  packages/dashboard/e2e/media-library.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
Due: none

Revise product types documentation for clarity
  docs/user/settings/product-types.mdx
Due: none

Delete docs/images/user/settings/product-types/placeholder
  docs/images/user/settings/product-types/placeholder
Due: none

Fix: Updated npm dependencies to clear the reported security alerts
  AGENTS.md
  biome.json
  packages/admin-sdk/biome.json
  packages/cli/biome.json
  packages/cli/src/commands/plugin.ts
  packages/create-spree-app/biome.json
  packages/dashboard-core/biome.json
  packages/dashboard-plugin-example/biome.json
  packages/dashboard-starter/biome.json
  packages/dashboard-starter/public/favicon.svg
  packages/dashboard-ui/biome.json
  packages/dashboard-ui/src/spree/data-grid/fill-handle.tsx
  packages/dashboard-ui/src/spree/route-error-boundary.tsx
  packages/dashboard/biome.json
  packages/dashboard/public/favicon.svg
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/$.tsx
  packages/sdk-core/biome.json
  packages/sdk/biome.json
  packages/seller-dashboard-starter/biome.json
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/biome.json
  packages/seller-dashboard/package.json
  packages/seller-dashboard/src/routeTree.gen.ts
  packages/seller-sdk/biome.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none
