Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Add Store API support for Newsletter Subscribers
  docs/api-reference/store.yaml
  docs/developer/core-concepts/customers.mdx
  docs/developer/deployment/emails.mdx
  docs/developer/storefront/nextjs/customization.mdx
  packages/sdk/.changeset/store-newsletter-subscribers.md
  packages/sdk/examples/newsletter-subscribers/create.ts
  packages/sdk/examples/newsletter-subscribers/verify.ts
  packages/sdk/src/store-client.ts
  packages/sdk/tests/mocks/handlers.ts
  packages/sdk/tests/newsletter-subscribers.test.ts
  spree/admin/app/helpers/spree/admin/webhook_endpoints_helper.rb
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/config/locales/en.yml
  spree/api/config/routes.rb
  spree/api/spec/integration/spree/api/v3/store/newsletter_subscribers_spec.rb
  spree/api/spec/swagger_helper.rb
  spree/core/app/models/spree/newsletter_subscriber.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
  spree/core/spec/models/spree/newsletter_subscriber_spec.rb
  spree/core/spec/services/spree/newsletter/subscribe_spec.rb
  spree/emails/app/mailers/spree/newsletter_mailer.rb
  spree/emails/app/subscribers/spree/newsletter_subscriber_email_subscriber.rb
  spree/emails/spec/mailers/spree/newsletter_mailer_spec.rb
  spree/emails/spec/subscribers/spree/newsletter_subscriber_email_subscriber_spec.rb
Due: core, api, admin, emails, Core, API, Admin, Emails

Link matching newsletter subscriber on customer registration
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/sdk/.changeset/store-newsletter-subscribers.md
  packages/sdk/examples/newsletter-subscribers/create.ts
  packages/sdk/src/store-client.ts
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/customers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/newsletter_subscribers_spec.rb
  spree/core/app/services/spree/newsletter/link_user.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
  spree/core/spec/services/spree/newsletter/subscribe_spec.rb
  spree/emails/app/mailers/spree/newsletter_mailer.rb
  spree/emails/app/subscribers/spree/newsletter_subscriber_email_subscriber.rb
  spree/emails/spec/mailers/spree/newsletter_mailer_spec.rb
Due: core, api, emails, Core, API, Emails

Add guards against conrurrent processing of option types/values during Products CSV import
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

add more specs, simplify as possible
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: none

improvements
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
Due: core, Core

simplify and tidy code + explicit retry logic baked in + regression test
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/jobs/spree/imports/process_rows_job.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
Due: core, Core

narrow down retry on error list for all jobs
  spree/core/app/jobs/spree/imports/assign_tags_job.rb
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/jobs/spree/imports/process_rows_job.rb
Due: core, Core

tidy up, plus removed discard_on ActiveRecord::RecordNotFound
  spree/core/app/jobs/spree/imports/assign_tags_job.rb
  spree/core/app/jobs/spree/imports/base_job.rb
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/app/jobs/spree/imports/create_rows_job.rb
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/jobs/spree/imports/process_rows_job.rb
Due: core, Core

handle orphaned processing rows
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/models/spree/import_row.rb
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
Due: core, Core

[CSV Import] Add guards against conrurrent processing of option types/values (#14060)
  spree/core/app/jobs/spree/imports/assign_tags_job.rb
  spree/core/app/jobs/spree/imports/base_job.rb
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/app/jobs/spree/imports/create_rows_job.rb
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/jobs/spree/imports/process_rows_job.rb
  spree/core/app/models/spree/import_row.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Added global sane retry_on defaults to all Spree jobs
  spree/api/app/jobs/spree/webhook_delivery_job.rb
  spree/core/app/jobs/spree/base_job.rb
  spree/core/app/jobs/spree/events/subscriber_job.rb
  spree/core/app/jobs/spree/imports/base_job.rb
  spree/core/app/jobs/spree/search_provider/index_job.rb
  spree/core/app/jobs/spree/search_provider/remove_job.rb
Due: core, api, Core, API

simplify
  spree/api/app/jobs/spree/webhook_delivery_job.rb
  spree/core/app/jobs/spree/base_job.rb
  spree/core/app/jobs/spree/events/subscriber_job.rb
  spree/core/app/jobs/spree/exports/generate_job.rb
  spree/core/app/jobs/spree/reports/generate_job.rb
  spree/core/app/jobs/spree/search_provider/index_job.rb
  spree/core/app/jobs/spree/search_provider/remove_job.rb
  spree/core/spec/jobs/spree/base_job_spec.rb
Due: core, api, Core, API

fix discard on serialization
  spree/api/app/jobs/spree/webhook_delivery_job.rb
  spree/api/spec/jobs/spree/webhook_delivery_job_spec.rb
  spree/core/app/jobs/spree/search_provider/index_job.rb
  spree/core/app/jobs/spree/search_provider/remove_job.rb
  spree/core/spec/jobs/spree/base_job_spec.rb
Due: core, api, Core, API

Added global sane retry_on defaults to all Spree jobs (#14068)
  spree/api/app/jobs/spree/webhook_delivery_job.rb
  spree/api/spec/jobs/spree/webhook_delivery_job_spec.rb
  spree/core/app/jobs/spree/base_job.rb
  spree/core/app/jobs/spree/events/subscriber_job.rb
  spree/core/app/jobs/spree/exports/generate_job.rb
  spree/core/app/jobs/spree/imports/base_job.rb
  spree/core/app/jobs/spree/reports/generate_job.rb
  spree/core/app/jobs/spree/search_provider/index_job.rb
  spree/core/app/jobs/spree/search_provider/remove_job.rb
  spree/core/spec/jobs/spree/base_job_spec.rb
Due: core, api, Core, API

Added Gift Cards and Gift Card Batches Admin API
  packages/admin-sdk/src/types/generated/GiftCard.ts
  packages/admin-sdk/src/types/generated/GiftCardBatch.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  spree/api/app/controllers/spree/api/v3/admin/gift_card_batches_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/gift_cards_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/gift_card_batch_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/gift_card_serializer.rb
  spree/api/config/locales/en.yml
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/gift_card_batches_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/gift_cards_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/gift_card_batches_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/gift_cards_spec.rb
  spree/core/app/models/spree/gift_card.rb
  spree/core/app/models/spree/gift_card_batch.rb
Due: core, api, Core, API

Simplify and standardise handling Customers and Admin staff users initials/full name/avatars
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/AdminUser.ts
  packages/admin/src/components/spree/promotion-editors/promotion-form.tsx
  packages/admin/src/components/spree/top-bar.tsx
  packages/admin/src/components/ui/avatar.tsx
  packages/admin/src/lib/formatters.ts
  packages/admin/src/providers/auth-provider.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/admin/src/tables/customers.tsx
  spree/api/app/serializers/spree/api/v3/admin/admin_user_serializer.rb
Due: api, API

Fixed country pickers in admin spa
  packages/admin/src/components/spree/address-form-dialog.tsx
  packages/admin/src/components/spree/country-combobox.tsx
  packages/admin/src/components/spree/country-state-fields.tsx
  packages/admin/src/components/spree/promotion-editors/rule-country.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  spree/core/app/models/spree/country.rb
Due: core, Core

Add `<StoreDatePicker>` component
  CLAUDE.md
  packages/admin/package.json
  packages/admin/src/components/spree/promotion-editors/promotion-form.tsx
  packages/admin/src/components/spree/store-date-picker.tsx
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/components/ui/date-picker.tsx
  packages/admin/src/providers/store-provider.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  pnpm-lock.yaml
Due: none

Improve user fuzzy search
  spree/core/app/models/concerns/spree/searchable.rb
  spree/core/app/models/concerns/spree/user_methods.rb
  spree/core/spec/models/spree/concerns/user_methods_spec.rb
Due: core, Core

Fixed Currency Select default value passing
  packages/admin/e2e/promotions.spec.ts
  packages/admin/src/components/spree/currency-select.tsx
  packages/admin/src/components/spree/resource-multi-autocomplete.tsx
Due: none

Added Gift Cards and Gift Cards Batches support to Admin SDK
  packages/admin-sdk/examples/gift-card-batches/create.ts
  packages/admin-sdk/examples/gift-card-batches/get.ts
  packages/admin-sdk/examples/gift-card-batches/list.ts
  packages/admin-sdk/examples/gift-cards/create.ts
  packages/admin-sdk/examples/gift-cards/delete.ts
  packages/admin-sdk/examples/gift-cards/get.ts
  packages/admin-sdk/examples/gift-cards/list.ts
  packages/admin-sdk/examples/gift-cards/update.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
Due: none

Unify Invitation types and serializers
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/index.ts
  packages/admin-sdk/src/types/generated/Invitation.ts
  packages/admin/src/routes/accept-invitation.$invitationId.tsx
  spree/api/app/controllers/spree/api/v3/admin/invitation_acceptances_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/invitation_serializer.rb
Due: api, API

Fixed: User display name loses email fallback
  packages/admin/src/components/spree/top-bar.tsx
Due: none

add react-i18n
  packages/admin/package.json
  packages/admin/src/lib/i18n.ts
  packages/admin/src/locales/en.json
  pnpm-lock.yaml
Due: none

Add `<ResourceCombobox>` component
  packages/admin/src/components/spree/resource-combobox.tsx
  packages/admin/src/hooks/use-admin-users.ts
  packages/admin/src/hooks/use-customers.ts
Due: none

Use translations for all Admin UI
  packages/admin/src/components/spree/command-palette/command-palette.tsx
  packages/admin/src/components/spree/confirm-dialog.tsx
  packages/admin/src/components/spree/country-combobox.tsx
  packages/admin/src/components/spree/country-state-fields.tsx
  packages/admin/src/components/spree/currency-select.tsx
  packages/admin/src/components/spree/custom-fields/value-input.tsx
  packages/admin/src/components/spree/preferences-form.tsx
  packages/admin/src/components/spree/products/media-edit-sheet.tsx
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/locales/en.json
  packages/admin/src/nav/default.ts
  packages/admin/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/groups.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/drafts.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/new.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/options.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/transfers.tsx
  packages/admin/src/routes/_authenticated/$storeId/promotions/gift-cards.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/payment-methods.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/tax-categories.tsx
  packages/admin/src/routes/accept-invitation.$invitationId.tsx
  packages/admin/src/routes/login.tsx
  packages/admin/src/tables/products.tsx
Due: none

Added Gift Card management UI
  packages/admin/e2e/gift-cards.spec.ts
  packages/admin/src/hooks/use-gift-cards.ts
  packages/admin/src/lib/permissions.ts
  packages/admin/src/nav/default.ts
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId/promotions/gift-cards.tsx
  packages/admin/src/tables/gift-cards.tsx
Due: none

Standardize forms to expose server validation errors and use translations
  CLAUDE.md
  docs/plans/6.0-admin-spa.md
  packages/admin/src/components/spree/address-form-dialog.tsx
  packages/admin/src/components/spree/custom-fields/definition-form.tsx
  packages/admin/src/components/spree/payment-method-editors/payment-method-form.tsx
  packages/admin/src/components/spree/preferences-form.tsx
  packages/admin/src/components/spree/promotion-editors/promotion-form.tsx
  packages/admin/src/components/spree/promotion-editors/rule-category.tsx
  packages/admin/src/components/spree/promotion-editors/rule-customer-group.tsx
  packages/admin/src/components/spree/promotion-editors/rule-product.tsx
  packages/admin/src/components/spree/promotion-editors/rule-user.tsx
  packages/admin/src/components/spree/promotion-editors/types.ts
  packages/admin/src/hooks/use-resource-mutation.ts
  packages/admin/src/lib/form-errors.ts
  packages/admin/src/main.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/groups.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/new.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/options.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/payment-methods.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/tax-categories.tsx
  packages/admin/src/routes/accept-invitation.$invitationId.tsx
  packages/admin/src/routes/login.tsx
  packages/admin/src/schemas/order.ts
  packages/admin/src/schemas/promotion.ts
Due: none

Improve date picker component
  packages/admin/src/components/ui/date-picker.tsx
Due: none

More translations in admin spa
  packages/admin/e2e/customers.spec.ts
  packages/admin/e2e/gift-cards.spec.ts
  packages/admin/src/components/spree/address-form-dialog.tsx
  packages/admin/src/components/spree/color-picker.tsx
  packages/admin/src/components/spree/country-combobox.tsx
  packages/admin/src/components/spree/currency-select.tsx
  packages/admin/src/components/spree/custom-fields/definition-form.tsx
  packages/admin/src/components/spree/payment-method-editors/payment-method-form.tsx
  packages/admin/src/components/spree/payment-method-editors/types.ts
  packages/admin/src/components/spree/products/media-edit-sheet.tsx
  packages/admin/src/components/spree/promotion-editors/promotion-form.tsx
  packages/admin/src/components/spree/resource-combobox.tsx
  packages/admin/src/components/ui/date-picker.tsx
  packages/admin/src/hooks/use-admin-users.ts
  packages/admin/src/hooks/use-customers.ts
  packages/admin/src/hooks/use-gift-cards.ts
  packages/admin/src/lib/form-mappers.ts
  packages/admin/src/locales/en.json
  packages/admin/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/groups.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/transfers.tsx
  packages/admin/src/routes/_authenticated/$storeId/promotions/gift-cards.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/payment-methods.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/tax-categories.tsx
  packages/admin/src/schemas/customer-group.ts
  packages/admin/src/schemas/gift-card.ts
  packages/admin/src/schemas/payment-method.ts
  packages/admin/src/schemas/promotion.ts
  packages/admin/src/schemas/stock-location.ts
  packages/admin/src/schemas/store-credit.ts
  packages/admin/src/schemas/store.ts
  packages/admin/src/tables/customers.tsx
  packages/admin/src/tables/gift-cards.tsx
  packages/admin/src/tables/products.tsx
Due: none

gift card api fixes
  docs/api-reference/admin.yaml
  spree/api/spec/integration/spree/api/v3/admin/gift_cards_spec.rb
Due: none

code review fixes
  packages/admin-sdk/src/admin-client.ts
  packages/admin/src/components/spree/preferences-form.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/admin/src/routes/_authenticated/$storeId/promotions/gift-cards.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/payment-methods.tsx
Due: none

Fixed sanitization of customer search query
  spree/core/app/models/concerns/spree/searchable.rb
  spree/core/app/models/concerns/spree/user_methods.rb
Due: core, Core

Fixed biome errors + added missing translations
  packages/admin/e2e/gift-cards.spec.ts
  packages/admin/src/locales/en.json
  packages/admin/src/schemas/promotion.ts
Due: none

Added bulk operations for products in admin APi/SDK/SPA
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/admin-client.ts
  packages/admin/e2e/global-setup.ts
  packages/admin/e2e/helpers.ts
  packages/admin/e2e/products-bulk.spec.ts
  packages/admin/src/components/spree/bulk-dialog.tsx
  packages/admin/src/components/spree/resource-table.tsx
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/components/spree/tag-list.tsx
  packages/admin/src/hooks/use-products.ts
  packages/admin/src/locales/en.json
  packages/admin/src/routes/_authenticated/$storeId/products/index.tsx
  spree/api/app/controllers/concerns/spree/api/v3/bulk_operations.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
Due: api, API

Add filtering by tags to Orders, Customers and Products in Admin API/SDK/SPA
  packages/admin/src/components/spree/resource-multi-autocomplete.tsx
  packages/admin/src/components/ui/combobox.tsx
  packages/admin/src/hooks/use-categories.ts
  packages/admin/src/lib/filters-to-ransack.ts
  packages/admin/src/lib/table-registry.ts
  packages/admin/src/tables/customers.tsx
  packages/admin/src/tables/orders.tsx
  packages/admin/src/tables/products.tsx
  spree/core/app/models/spree/order.rb
Due: core, Core

Re-use `ResourceMultiAutocomplete` in Product form in Admin SPA
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
Due: none

Add tags bulk operations to Customers in Admin API/SDK/SPA
  docs/api-reference/admin.yaml
  packages/admin-sdk/examples/customers/bulk-add-tags.ts
  packages/admin-sdk/examples/customers/bulk-remove-tags.ts
  packages/admin/e2e/customers.spec.ts
  packages/admin/src/hooks/use-customers.ts
  packages/admin/src/routes/_authenticated/$storeId/customers/index.tsx
  spree/api/app/controllers/spree/api/v3/admin/customers_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/customers_spec.rb
Due: api, API

Make taggable types more flexible and extendable
  packages/admin/src/components/spree/tag-combobox.tsx
  packages/admin/src/lib/table-registry.ts
  packages/admin/src/tables/customers.tsx
  packages/admin/src/tables/orders.tsx
  packages/admin/src/tables/products.tsx
  spree/api/app/controllers/spree/api/v3/admin/tags_controller.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
Due: core, api, Core, API
