Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Update subscriber specs to test prefixed ID resolution
  spree/core/spec/subscribers/spree/export_subscriber_spec.rb
  spree/core/spec/subscribers/spree/report_subscriber_spec.rb
Due: none

Use prefixed IDs consistently through subscriber-to-job chain
  spree/core/app/jobs/spree/exports/generate_job.rb
  spree/core/app/jobs/spree/reports/generate_job.rb
  spree/core/app/subscribers/spree/export_subscriber.rb
  spree/core/app/subscribers/spree/report_subscriber.rb
  spree/core/spec/jobs/spree/exports/generate_job_spec.rb
  spree/core/spec/subscribers/spree/export_subscriber_spec.rb
  spree/core/spec/subscribers/spree/report_subscriber_spec.rb
Due: core, Core

Add Spree::Export support for coupon codes (#13712)
  spree/admin/app/controllers/spree/admin/coupon_codes_controller.rb
  spree/admin/app/views/spree/admin/coupon_codes/_filters.html.erb
  spree/admin/app/views/spree/admin/coupon_codes/_table_header.html.erb
  spree/admin/app/views/spree/admin/coupon_codes/_table_row.html.erb
  spree/admin/app/views/spree/admin/coupon_codes/index.csv.erb
  spree/admin/app/views/spree/admin/coupon_codes/index.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/spec/controllers/spree/admin/coupon_codes_controller_spec.rb
  spree/core/app/jobs/spree/exports/generate_job.rb
  spree/core/app/jobs/spree/reports/generate_job.rb
  spree/core/app/models/spree/coupon_code.rb
  spree/core/app/models/spree/exports/coupon_codes.rb
  spree/core/app/presenters/spree/csv/coupon_code_presenter.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/jobs/spree/exports/generate_job_spec.rb
  spree/core/spec/presenters/spree/csv/coupon_code_presenter_spec.rb
  spree/core/spec/subscribers/spree/export_subscriber_spec.rb
  spree/core/spec/subscribers/spree/report_subscriber_spec.rb
Due: core, admin, Core, Admin

Bump SDK and Next packages
  packages/next/.changeset/address-quick-checkout.md
  packages/next/.changeset/order-lock-version.md
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/sdk/.changeset/address-quick-checkout.md
  packages/sdk/.changeset/order-lock-version.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

Bump SDK and Next packages (#13713)
  packages/next/.changeset/address-quick-checkout.md
  packages/next/.changeset/order-lock-version.md
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/sdk/.changeset/address-quick-checkout.md
  packages/sdk/.changeset/order-lock-version.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

Migrate 11 admin resources from index_table to Tables API
  spree/admin/app/views/spree/admin/refund_reasons/_table_header.html.erb
  spree/admin/app/views/spree/admin/refund_reasons/_table_row.html.erb
  spree/admin/app/views/spree/admin/refund_reasons/index.html.erb
  spree/admin/app/views/spree/admin/reimbursement_types/_table_header.html.erb
  spree/admin/app/views/spree/admin/reimbursement_types/_table_row.html.erb
  spree/admin/app/views/spree/admin/reimbursement_types/index.html.erb
  spree/admin/app/views/spree/admin/return_authorization_reasons/_table_header.html.erb
  spree/admin/app/views/spree/admin/return_authorization_reasons/_table_row.html.erb
  spree/admin/app/views/spree/admin/return_authorization_reasons/index.html.erb
  spree/admin/app/views/spree/admin/return_authorizations/_table_header.html.erb
  spree/admin/app/views/spree/admin/return_authorizations/_table_row.html.erb
  spree/admin/app/views/spree/admin/return_authorizations/index.html.erb
  spree/admin/app/views/spree/admin/shipping_categories/_table_header.html.erb
  spree/admin/app/views/spree/admin/shipping_categories/_table_row.html.erb
  spree/admin/app/views/spree/admin/shipping_categories/index.html.erb
  spree/admin/app/views/spree/admin/shipping_methods/_table_header.html.erb
  spree/admin/app/views/spree/admin/shipping_methods/_table_row.html.erb
  spree/admin/app/views/spree/admin/shipping_methods/index.html.erb
  spree/admin/app/views/spree/admin/stock_locations/_table_header.html.erb
  spree/admin/app/views/spree/admin/stock_locations/_table_row.html.erb
  spree/admin/app/views/spree/admin/stock_locations/index.html.erb
  spree/admin/app/views/spree/admin/tables/columns/_shipping_method_display_on.html.erb
  spree/admin/app/views/spree/admin/tax_categories/_table_header.html.erb
  spree/admin/app/views/spree/admin/tax_categories/_table_row.html.erb
  spree/admin/app/views/spree/admin/tax_categories/index.html.erb
  spree/admin/app/views/spree/admin/tax_rates/_table_header.html.erb
  spree/admin/app/views/spree/admin/tax_rates/_table_row.html.erb
  spree/admin/app/views/spree/admin/tax_rates/index.html.erb
  spree/admin/app/views/spree/admin/taxonomies/_table_header.html.erb
  spree/admin/app/views/spree/admin/taxonomies/_table_row.html.erb
  spree/admin/app/views/spree/admin/taxonomies/index.html.erb
  spree/admin/app/views/spree/admin/zones/_table_header.html.erb
  spree/admin/app/views/spree/admin/zones/_table_row.html.erb
  spree/admin/app/views/spree/admin/zones/index.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
Due: admin, Admin

Add wrap option to table columns, simplify shipping methods table
  spree/admin/app/helpers/spree/admin/table_helper.rb
  spree/admin/app/models/spree/admin/table/column.rb
  spree/admin/app/views/spree/admin/tables/columns/_shipping_method_display_on.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/spec/helpers/spree/admin/table_helper_spec.rb
Due: admin, Admin

Use status badges for active columns, fix tax rate tax_category method
  spree/admin/config/initializers/spree_admin_tables.rb
Due: admin

Fix failing feature and helper specs after table migration
  spree/admin/spec/features/spree/admin/settings/shipping_categories_spec.rb
  spree/admin/spec/features/spree/admin/settings/tax_categories_spec.rb
  spree/admin/spec/features/spree/admin/settings/tax_rates_spec.rb
  spree/admin/spec/helpers/spree/admin/table_helper_spec.rb
Due: none

Migrate 11 admin resources from index_table to Tables API (#13714)
  spree/admin/app/helpers/spree/admin/table_helper.rb
  spree/admin/app/models/spree/admin/table/column.rb
  spree/admin/app/views/spree/admin/refund_reasons/_table_header.html.erb
  spree/admin/app/views/spree/admin/refund_reasons/_table_row.html.erb
  spree/admin/app/views/spree/admin/refund_reasons/index.html.erb
  spree/admin/app/views/spree/admin/reimbursement_types/_table_header.html.erb
  spree/admin/app/views/spree/admin/reimbursement_types/_table_row.html.erb
  spree/admin/app/views/spree/admin/reimbursement_types/index.html.erb
  spree/admin/app/views/spree/admin/return_authorization_reasons/_table_header.html.erb
  spree/admin/app/views/spree/admin/return_authorization_reasons/_table_row.html.erb
  spree/admin/app/views/spree/admin/return_authorization_reasons/index.html.erb
  spree/admin/app/views/spree/admin/return_authorizations/_table_header.html.erb
  spree/admin/app/views/spree/admin/return_authorizations/_table_row.html.erb
  spree/admin/app/views/spree/admin/return_authorizations/index.html.erb
  spree/admin/app/views/spree/admin/shipping_categories/_table_header.html.erb
  spree/admin/app/views/spree/admin/shipping_categories/_table_row.html.erb
  spree/admin/app/views/spree/admin/shipping_categories/index.html.erb
  spree/admin/app/views/spree/admin/shipping_methods/_table_header.html.erb
  spree/admin/app/views/spree/admin/shipping_methods/_table_row.html.erb
  spree/admin/app/views/spree/admin/shipping_methods/index.html.erb
  spree/admin/app/views/spree/admin/stock_locations/_table_header.html.erb
  spree/admin/app/views/spree/admin/stock_locations/_table_row.html.erb
  spree/admin/app/views/spree/admin/stock_locations/index.html.erb
  spree/admin/app/views/spree/admin/tax_categories/_table_header.html.erb
  spree/admin/app/views/spree/admin/tax_categories/_table_row.html.erb
  spree/admin/app/views/spree/admin/tax_categories/index.html.erb
  spree/admin/app/views/spree/admin/tax_rates/_table_header.html.erb
  spree/admin/app/views/spree/admin/tax_rates/_table_row.html.erb
  spree/admin/app/views/spree/admin/tax_rates/index.html.erb
  spree/admin/app/views/spree/admin/taxonomies/_table_header.html.erb
  spree/admin/app/views/spree/admin/taxonomies/_table_row.html.erb
  spree/admin/app/views/spree/admin/taxonomies/index.html.erb
  spree/admin/app/views/spree/admin/zones/_table_header.html.erb
  spree/admin/app/views/spree/admin/zones/_table_row.html.erb
  spree/admin/app/views/spree/admin/zones/index.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/spec/features/spree/admin/settings/shipping_categories_spec.rb
  spree/admin/spec/features/spree/admin/settings/tax_categories_spec.rb
  spree/admin/spec/features/spree/admin/settings/tax_rates_spec.rb
  spree/admin/spec/helpers/spree/admin/table_helper_spec.rb
Due: admin, Admin

Added dedicated Markets API
  spree/api/app/controllers/spree/api/v3/store/markets/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets_controller.rb
  spree/api/app/serializers/spree/api/v3/country_serializer.rb
  spree/api/app/serializers/spree/api/v3/market_country_serializer.rb
  spree/api/app/serializers/spree/api/v3/market_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/integration/spree/api/v3/store/markets_spec.rb
Due: api, API

Extend `Zone.match` to accept country and use market zone as `Current#zone`
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/zone.rb
Due: core, Core

Simplify serializers and re-use existing ones
  packages/sdk/src/types/generated/StoreCountry.ts
  packages/sdk/src/types/generated/StoreMarket.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/zod/generated/StoreAddress.ts
  packages/sdk/src/zod/generated/StoreCountry.ts
  packages/sdk/src/zod/generated/StoreMarket.ts
  packages/sdk/src/zod/generated/index.ts
  spree/api/app/controllers/spree/api/v3/store/markets/countries_controller.rb
  spree/api/app/serializers/spree/api/v3/country_serializer.rb
  spree/api/app/serializers/spree/api/v3/market_country_serializer.rb
  spree/api/app/serializers/spree/api/v3/market_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/integration/spree/api/v3/store/countries_spec.rb
  spree/api/spec/integration/spree/api/v3/store/markets_spec.rb
  spree/core/app/models/spree/country.rb
  spree/core/spec/models/spree/country_spec.rb
Due: core, api, Core, API

Update SDK and next packages
  packages/next/.changeset/add-markets-api.md
  packages/next/src/data/countries.ts
  packages/next/src/data/markets.ts
  packages/next/src/index.ts
  packages/next/tsup.config.ts
  packages/sdk/.changeset/add-markets-api.md
  packages/sdk/src/store-client.ts
  packages/sdk/tests/markets.test.ts
  packages/sdk/tests/mocks/handlers.ts
Due: none

More tests, updated docs and OpenAPI
  docs/api-reference/store.yaml
  docs/developer/core-concepts/markets.mdx
  spree/api/spec/controllers/spree/api/v3/store/markets_controller_spec.rb
Due: none

Bump SDK and Next packages to 0.6.3
  packages/next/.changeset/add-markets-api.md
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/sdk/.changeset/add-markets-api.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

Rename updateAddresses to updateOrder, bump @spree/next to 0.6.4
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/checkout.ts
  packages/next/src/index.ts
  packages/next/tests/actions/checkout.test.ts
Due: none

Merge pull request #13716 from spree/fix/next-update-order
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/checkout.ts
  packages/next/src/index.ts
  packages/next/tests/actions/checkout.test.ts
Due: none

Rename `per_page` to `limit` in API v3
  packages/next/CHANGELOG.md
  packages/next/README.md
  packages/next/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/params.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/params.test.ts
  packages/sdk/tests/products.test.ts
  spree/api/app/controllers/concerns/spree/api/v3/http_caching.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/taxons/products_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/addresses_spec.rb
  spree/api/spec/integration/spree/api/v3/store/credit_cards_spec.rb
  spree/api/spec/integration/spree/api/v3/store/customer_orders_spec.rb
  spree/api/spec/integration/spree/api/v3/store/gift_cards_spec.rb
  spree/api/spec/integration/spree/api/v3/store/products_spec.rb
  spree/api/spec/integration/spree/api/v3/store/taxonomies_spec.rb
  spree/api/spec/integration/spree/api/v3/store/taxons_spec.rb
  spree/api/spec/integration/spree/api/v3/store/wishlists_spec.rb
Due: api, API

Rename `includes` to `expand` in API
  packages/next/CHANGELOG.md
  packages/next/README.md
  packages/next/package.json
  packages/next/src/actions/checkout.ts
  packages/next/src/data/countries.ts
  packages/next/src/data/markets.ts
  packages/next/src/data/products.ts
  packages/next/tests/actions/checkout.test.ts
  packages/next/tests/actions/orders.test.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/src/params.ts
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/params.test.ts
  spree/api/app/controllers/concerns/spree/api/v3/http_caching.rb
  spree/api/app/controllers/concerns/spree/api/v3/resource_serializer.rb
  spree/api/app/controllers/spree/api/v3/store/markets_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/taxon_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/taxonomy_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/app/serializers/spree/api/v3/country_serializer.rb
  spree/api/app/serializers/spree/api/v3/market_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/taxon_serializer.rb
  spree/api/app/serializers/spree/api/v3/taxonomy_serializer.rb
  spree/api/app/serializers/spree/api/v3/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/wishlist_serializer.rb
  spree/api/spec/integration/spree/api/v3/store/countries_spec.rb
  spree/api/spec/integration/spree/api/v3/store/markets_spec.rb
  spree/api/spec/integration/spree/api/v3/store/orders_spec.rb
  spree/api/spec/integration/spree/api/v3/store/products_spec.rb
  spree/api/spec/integration/spree/api/v3/store/shipments_spec.rb
  spree/api/spec/integration/spree/api/v3/store/taxonomies_spec.rb
  spree/api/spec/integration/spree/api/v3/store/taxons_spec.rb
  spree/api/spec/integration/spree/api/v3/store/wishlists_spec.rb
Due: api, API

Update taxons_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/taxons_controller_spec.rb
Due: none

fixes
  spree/api/spec/serializers/spree/api/v3/product_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/variant_serializer_spec.rb
Due: none

Fix TS packages version dependencies
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

fix: stray backticks in testing tutorial code block
  docs/developer/tutorial/testing.mdx
Due: none

SDK: Standardize `expand` parameter to accept only `string[]`
  packages/next/CHANGELOG.md
  packages/next/README.md
  packages/next/package.json
  packages/next/src/actions/checkout.ts
  packages/next/src/data/countries.ts
  packages/next/src/data/markets.ts
  packages/next/src/data/products.ts
  packages/next/tests/actions/checkout.test.ts
  packages/next/tests/actions/orders.test.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/params.test.ts
  packages/sdk/tests/products.test.ts
Due: none

SDK: Standardize `expand` parameter to accept only `string[]` (#13719)
  packages/next/CHANGELOG.md
  packages/next/README.md
  packages/next/package.json
  packages/next/src/actions/checkout.ts
  packages/next/src/data/countries.ts
  packages/next/src/data/markets.ts
  packages/next/src/data/products.ts
  packages/next/tests/actions/checkout.test.ts
  packages/next/tests/actions/orders.test.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/params.test.ts
  packages/sdk/tests/products.test.ts
Due: none

Rename nextjs-starter to just storefront
  README.md
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/constants.ts
Due: none

Rename nextjs-starter to just storefront (#13720)
  README.md
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/constants.ts
Due: none

Hide already-selected option values from variant dropdowns
  spree/admin/app/javascript/spree/admin/controllers/multi_tom_select_controller.js
Due: admin, Admin

Fix multi tom select option refresh handling
  spree/admin/app/javascript/spree/admin/controllers/multi_tom_select_controller.js
Due: admin, Admin

Fix event listener leak and clear values on unknown option name
  spree/admin/app/javascript/spree/admin/controllers/multi_tom_select_controller.js
  spree/admin/app/javascript/spree/admin/controllers/variants_form_controller.js
Due: admin, Admin

Improve Products API response times
  spree/api/app/controllers/concerns/spree/api/v3/http_caching.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/variant.rb
Due: core, api, Core, API

Update http_caching.rb
  spree/api/app/controllers/concerns/spree/api/v3/http_caching.rb
Due: api, API

HTTP caching fixes
  spree/api/app/controllers/concerns/spree/api/v3/http_caching.rb
  spree/api/spec/controllers/concerns/spree/api/v3/http_caching_spec.rb
Due: api, API

Improve Products API response times (#13722)
  spree/api/app/controllers/concerns/spree/api/v3/http_caching.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/spec/controllers/concerns/spree/api/v3/http_caching_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/variant.rb
Due: core, api, Core, API

Bump spree to 5.4.0.beta4
  spree/core/lib/spree/core/version.rb
Due: core, Core

Pull latest Docker image during `spree init` to ensure fresh setups always use the newest version and show docker pull progress
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/update.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/templates/package-json.ts
Due: none

Pull latest Docker image during `spree init` to ensure fresh setups a… (#13723)
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/update.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/templates/package-json.ts
Due: none

CLI: Automatically setup Storefront API key during init
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/tests/init.test.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/templates/package-json.ts
Due: none
