Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Add CSV export UI to Products, Orders, and Customers index
  packages/admin/src/components/spree/export-button.tsx
  packages/admin/src/components/spree/resource-table.tsx
  packages/admin/src/hooks/use-export.ts
  packages/admin/src/lib/filters-to-ransack.ts
  packages/admin/src/routes/_authenticated/$storeId/customers/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/index.tsx
Due: none

Stream CSV inline from /exports/:id/download instead of redirecting
  docs/api-reference/admin.yaml
  spree/api/app/controllers/spree/api/v3/admin/exports_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/exports_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/exports_spec.rb
Due: api, API

Simplify CSV export feature based on /simplify review
  packages/admin-sdk/src/admin-client.ts
  packages/admin/src/components/spree/export-button.tsx
  packages/admin/src/hooks/use-export.ts
  spree/api/app/controllers/spree/api/v3/admin/exports_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/export_serializer.rb
Due: api, API

Address CodeRabbit + CodeQL review
  docs/api-reference/admin.yaml
  packages/admin/src/components/spree/export-button.tsx
  packages/admin/src/hooks/use-export.ts
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/spree/api/v3/admin/exports_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/export_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/exports_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/exports_spec.rb
Due: api, API

Make exports API usable by apps (secret API keys)
  docs/api-reference/admin.yaml
  docs/plans/5.5-admin-api-key-scopes.md
  spree/api/spec/controllers/spree/api/v3/admin/exports_controller_spec.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/export.rb
Due: core, Core

Add export model specs for no-user (app-created) case
  spree/core/spec/models/spree/export_spec.rb
Due: none

Make the VIPS installation on CI minimal to speed up tests
  .github/workflows/tests.yml
Due: none

try cache-apt-pkgs
  .github/workflows/tests.yml
Due: none

Update tests.yml
  .github/workflows/tests.yml
Due: none

Fix orphaned inventory units when destroying line items on completed orders
  .claude/scheduled_tasks.lock
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order_inventory.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/order_inventory_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

fix
  spree/core/app/models/spree/order_inventory.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

Delete scheduled_tasks.lock
  .claude/scheduled_tasks.lock
Due: none

leave only bulk_set_active
  spree/admin/app/controllers/spree/admin/bulk_operations_controller.rb
  spree/admin/config/initializers/spree_admin_tables.rb
Due: admin, Admin

use plain string
  spree/admin/app/controllers/spree/admin/bulk_operations_controller.rb
Due: admin, Admin

Added Stock Locations Admin API
  docs/api-reference/admin.yaml
  packages/admin-sdk/.changeset/admin-stock-locations.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/StockLocation.ts
  packages/admin/src/hooks/use-stock-locations.ts
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId/products/stock.tsx
  packages/admin/src/tables/stock-locations.tsx
  spree/api/app/controllers/spree/api/v3/admin/stock_locations_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_location_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_locations_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_locations_spec.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/db/migrate/20260508175303_add_pickup_to_spree_stock_locations.rb
  spree/core/spec/models/spree/stock_location_spec.rb
Due: core, api, Core, API

fixes
  docs/api-reference/admin.yaml
  packages/admin-sdk/.changeset/admin-stock-locations.md
  packages/admin-sdk/src/params.ts
  packages/admin/src/hooks/use-stock-locations.ts
  packages/admin/src/routes/_authenticated/$storeId/products/stock.tsx
  spree/api/app/controllers/spree/api/v3/admin/stock_locations_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_locations_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_locations_spec.rb
Due: api, API

Update stock.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/stock.tsx
Due: none

fixed openapi
  docs/api-reference/admin.yaml
  packages/admin-sdk/.changeset/admin-stock-locations.md
  packages/admin-sdk/src/params.ts
  spree/api/spec/integration/spree/api/v3/admin/stock_locations_spec.rb
Due: none

Update upgrade notes for Spree 5.5
  docs/developer/upgrades/5.4-to-5.5.mdx
Due: none

Improve Stock Locations UI in Admin SPA
  CLAUDE.md
  packages/admin/src/components/spree/address-form-dialog.tsx
  packages/admin/src/components/spree/country-state-fields.tsx
  packages/admin/src/nav/default.ts
  packages/admin/src/nav/settings.ts
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/admin/src/tables/stock-locations.tsx
Due: none

Fix custom fields admin API parent lookup for customers
  spree/api/app/controllers/spree/api/v3/admin/custom_fields_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_polymorphic_parent_spec.rb
Due: api, API

Simplify parent_route_map: trim comment, replace tap with merge
  spree/api/app/controllers/spree/api/v3/admin/custom_fields_controller.rb
Due: api, API

Simplify regression spec to remove user_class from enabled_resources
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_polymorphic_parent_spec.rb
Due: none

Drop redundant regression block; existing customers test covers it
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_polymorphic_parent_spec.rb
Due: none

Add focused regression test for customer route alias
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_polymorphic_parent_spec.rb
Due: none

Replace stub-based regression test with real request
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_polymorphic_parent_spec.rb
Due: none

Drop artificial regression block; existing customers test covers it
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_polymorphic_parent_spec.rb
Due: none

Add regression test simulating dev-mode reload of user_class
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_polymorphic_parent_spec.rb
Due: none

Align docs with Store API/SDK fulfillment terminology
  docs/api-reference/webhooks-events.mdx
  docs/developer/core-concepts/adjustments.mdx
  docs/developer/core-concepts/events.mdx
  docs/developer/core-concepts/orders.mdx
  docs/developer/core-concepts/payments.mdx
  docs/developer/core-concepts/shipments.mdx
  docs/developer/core-concepts/webhooks.mdx
Due: none

bulk_set_active -> bulk_activate
  spree/admin/app/controllers/spree/admin/bulk_operations_controller.rb
  spree/admin/config/initializers/spree_admin_tables.rb
Due: admin, Admin

Remove deprecated helpers and presenters scheduled for 5.5
  spree/admin/app/helpers/spree/admin/base_helper.rb
  spree/admin/app/helpers/spree/admin/modal_helper.rb
  spree/admin/app/helpers/spree/admin/orders_helper.rb
  spree/admin/app/helpers/spree/admin/turbo_helper.rb
  spree/admin/app/views/spree/admin/shared/_modal.html.erb
  spree/core/app/helpers/spree/base_helper.rb
  spree/core/app/helpers/spree/currency_helper.rb
  spree/core/app/helpers/spree/products_helper.rb
  spree/core/app/presenters/spree/product_summary_presenter.rb
  spree/core/app/presenters/spree/variant_presenter.rb
  spree/core/spec/helpers/base_helper_spec.rb
  spree/core/spec/helpers/currency_helper_spec.rb
  spree/emails/app/helpers/spree/mail_helper.rb
Due: core, admin, emails, Core, Admin, Emails

Remove deprecated filter and variant options presenters
  spree/core/app/presenters/spree/filters/price_presenter.rb
  spree/core/app/presenters/spree/filters/price_range_presenter.rb
  spree/core/app/presenters/spree/filters/quantified_price_range_presenter.rb
  spree/core/app/presenters/spree/variants/options_presenter.rb
  spree/core/spec/presenters/spree/variants/options_presenter_spec.rb
Due: core, Core

Remove deprecated model methods scheduled for 5.5
  spree/core/app/models/spree/option_type.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/store_credit.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/spec/models/spree/option_type_spec.rb
  spree/core/spec/models/spree/product_spec.rb
Due: core, Core

flaky test fixes
  spree/admin/app/views/spree/admin/assets/edit.html.erb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/variant_media_spec.rb
Due: core, admin, Admin

Introducing new Product Media system
  docs/plans/5.4-6.0-product-media-system.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Media.ts
  packages/admin/package.json
  packages/admin/src/components/spree/products/media-edit-sheet.tsx
  packages/admin/src/components/spree/products/variant-media-picker.tsx
  packages/admin/src/hooks/use-direct-upload.ts
  packages/admin/src/hooks/use-product-media.ts
  packages/admin/src/hooks/use-product.ts
  packages/admin/src/hooks/use-variant-media.ts
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/admin/vite.config.ts
  pnpm-lock.yaml
  spree/admin/app/controllers/spree/admin/assets_controller.rb
  spree/admin/app/controllers/spree/admin/products_controller.rb
  spree/admin/app/views/spree/admin/assets/edit.html.erb
  spree/admin/app/views/spree/admin/products/_form.html.erb
  spree/admin/spec/controllers/spree/admin/assets_controller_spec.rb
  spree/api/app/controllers/spree/api/v3/admin/media_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/media_serializer.rb
  spree/api/app/serializers/spree/api/v3/media_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/media_controller_spec.rb
  spree/core/app/models/spree/asset.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/models/spree/variant_media.rb
  spree/core/db/migrate/20260507162651_create_spree_variant_media.rb
  spree/core/lib/tasks/media.rake
  spree/core/spec/lib/tasks/media_spec.rb
  spree/core/spec/models/spree/variant_media_spec.rb
Due: core, api, admin, Core, API, Admin

fixes
  spree/core/app/jobs/spree/media/migrate_product_assets_job.rb
  spree/core/app/models/spree/asset.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/models/spree/variant_media.rb
  spree/core/spec/jobs/spree/media/migrate_product_assets_job_spec.rb
  spree/core/spec/models/spree/variant_media_spec.rb
Due: core, Core

overall improvements, performance fixes, support csv import, improve rails admin
  docs/developer/core-concepts/media.mdx
  docs/developer/upgrades/5.4-to-5.5.mdx
  packages/admin/src/components/spree/products/media-edit-sheet.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  spree/admin/app/views/spree/admin/assets/edit.html.erb
  spree/admin/app/views/spree/admin/shared/_media_asset.html.erb
  spree/admin/app/views/spree/admin/variants/edit.html.erb
  spree/admin/spec/controllers/spree/admin/assets_controller_spec.rb
  spree/core/app/jobs/spree/images/save_from_url_job.rb
  spree/core/app/jobs/spree/media/migrate_product_assets_job.rb
  spree/core/app/models/spree/asset.rb
  spree/core/app/models/spree/variant_media.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/config/locales/en.yml
  spree/core/lib/tasks/media.rake
  spree/core/spec/jobs/spree/images/save_from_url_job_spec.rb
  spree/core/spec/jobs/spree/media/migrate_product_assets_job_spec.rb
  spree/core/spec/lib/tasks/media_spec.rb
  spree/core/spec/models/spree/asset_media_spec.rb
  spree/core/spec/models/spree/asset_spec.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, admin, Core, Admin

fixes for rails admin ui
  spree/admin/app/helpers/spree/admin/assets_helper.rb
  spree/admin/app/views/spree/admin/assets/edit.html.erb
  spree/admin/spec/helpers/spree/admin/assets_helper_spec.rb
Due: admin, Admin

fixes
  spree/core/app/jobs/spree/media/migrate_product_assets_job.rb
  spree/core/lib/tasks/media.rake
  spree/core/spec/lib/tasks/media_spec.rb
  spree/core/spec/models/spree/asset_spec.rb
Due: core, Core

Update edit.html.erb
  spree/admin/app/views/spree/admin/assets/edit.html.erb
Due: admin, Admin

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
