Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Split one tax rate's jurisdictions all or nothing
  spree/core/lib/tasks/tax_zones_migration.rake
Due: core, Core

Correct the plans where they no longer describe the code
  CLAUDE.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-core-rewrite-tasks.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
Due: none

Deprecate allow_checkout_on_gateway_error instead of moving it
  docs/plans/6.0-store-scoped-configuration.md
  docs/v6/developer/customization/configuration.mdx
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/dashboard/src/schemas/store.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/spree/store.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/lib/tasks/store_settings.rake
  spree/core/spec/models/concerns/spree/purchase/payment_processing_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
Due: core, api, Core, API

Stop eager-loading the associations the certificate no longer has
  spree/api/app/controllers/spree/api/v3/admin/companies/tax_exemption_certificates_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/companies/tax_exemption_certificates_controller_spec.rb
Due: api, API

Give a store back its default tax category when seeding again
  spree/core/app/services/spree/seeds/tax_categories.rb
  spree/core/spec/services/spree/seeds/tax_categories_spec.rb
Due: core, Core

Stop promising a null the company schema cannot produce
  spree/api/app/serializers/spree/api/v3/admin/company_contact_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/company_location_serializer.rb
Due: api, API

Fixed: make Admin API rate limits stricter per client/not endpoint
  docs/plans/6.0-platform-auth.md
  docs/v6/developer/customization/configuration.mdx
  spree/api/app/controllers/concerns/spree/api/v3/api_key_authentication.rb
  spree/api/app/controllers/concerns/spree/api/v3/rate_limit_headers.rb
  spree/api/app/controllers/concerns/spree/api/v3/scoped_authorization.rb
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/invitation_acceptances_controller.rb
  spree/api/app/controllers/spree/api/v3/base_controller.rb
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/payments_controller.rb
  spree/api/lib/spree/api/configuration.rb
  spree/api/spec/controllers/concerns/spree/api/v3/rate_limiting_spec.rb
Due: api, API

Bound the certificate document, require an idempotent commit, tidy specs
  spree/core/app/models/spree/tax_exemption_certificate.rb
  spree/core/app/models/spree/tax_provider/base.rb
  spree/core/lib/spree/testing_support/factories/return_factory.rb
  spree/core/spec/jobs/spree/tax_identifiers/validate_job_spec.rb
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
  spree/core/spec/models/spree/tax_exemption_certificate_spec.rb
  spree/core/spec/models/spree/tax_identifier_spec.rb
  spree/core/spec/services/spree/tax_identifiers/validate_spec.rb
  spree/core/spec/support/tax_identifier_validators.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, Core

Stub store preferences in specs instead of writing them
  docs/plans/6.0-store-scoped-configuration.md
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/api/spec/spec_helper.rb
  spree/core/lib/spree/testing_support/preferences.rb
  spree/core/spec/models/concerns/spree/purchase/payment_processing_spec.rb
  spree/core/spec/models/concerns/spree/store_preferences_spec.rb
  spree/core/spec/models/spree/order/payment_spec.rb
  spree/core/spec/models/spree/order_inventory_spec.rb
  spree/core/spec/models/spree/order_routing/strategy/parity_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/models/spree/price_spec.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/models/spree/stock/packer_spec.rb
  spree/core/spec/models/spree/stock/quantifier_spec.rb
  spree/core/spec/models/spree/stock_movement_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
  spree/core/spec/services/spree/carts/remove_out_of_stock_items_spec.rb
  spree/core/spec/services/spree/stock_reservations/extend_spec.rb
  spree/core/spec/services/spree/stock_reservations/reserve_spec.rb
  spree/core/spec/spec_helper.rb
  spree/core/spec/workflows/spree/carts/add_item_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
  spree/core/spec/workflows/spree/orders/complete_spec.rb
Due: none

End a tax identifier's verdict when its number changes
  docs/plans/6.0-tax-provider.md
  spree/core/app/models/spree/tax_identifier.rb
  spree/core/spec/models/spree/tax_identifier_spec.rb
Due: core, Core

fixup! Fixed: make Admin API rate limits stricter per client/not endpoint
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/spec/controllers/concerns/spree/api/v3/rate_limiting_spec.rb
Due: api, API

Backfill the two settings that were renamed onto the store
  docs/plans/6.0-store-scoped-configuration.md
  docs/v6/developer/customization/configuration.mdx
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/store_settings.rake
  spree/core/spec/lib/tasks/store_settings_spec.rb
Due: core, Core

Fixed: make Admin API rate limits stricter per client/not endpoint (#14426)
  docs/plans/6.0-platform-auth.md
  docs/v6/developer/customization/configuration.mdx
  spree/api/app/controllers/concerns/spree/api/v3/api_key_authentication.rb
  spree/api/app/controllers/concerns/spree/api/v3/rate_limit_headers.rb
  spree/api/app/controllers/concerns/spree/api/v3/scoped_authorization.rb
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/invitation_acceptances_controller.rb
  spree/api/app/controllers/spree/api/v3/base_controller.rb
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/payments_controller.rb
  spree/api/lib/spree/api/configuration.rb
  spree/api/spec/controllers/concerns/spree/api/v3/rate_limiting_spec.rb
Due: api, API

Fixed: make Admin API rate limits stricter per client/not endpoint (#14426)
  spree/api/app/controllers/concerns/spree/api/v3/api_key_authentication.rb
  spree/api/app/controllers/concerns/spree/api/v3/rate_limit_headers.rb
  spree/api/app/controllers/concerns/spree/api/v3/scoped_authorization.rb
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/invitation_acceptances_controller.rb
  spree/api/app/controllers/spree/api/v3/base_controller.rb
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/payments_controller.rb
  spree/api/lib/spree/api/configuration.rb
  spree/api/spec/controllers/concerns/spree/api/v3/rate_limiting_spec.rb
Due: api, API

Make the backfill skip test able to fail
  spree/core/spec/lib/tasks/store_settings_spec.rb
Due: none

Fixes around order cancelled email (#14421)
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/customers/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods/rules_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/claims_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/exchanges_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/returns_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders_spec.rb
  spree/core/app/models/concerns/spree/display_on.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/workflows/spree/claims/create.rb
  spree/emails/app/subscribers/spree/order_email_subscriber.rb
  spree/emails/spec/subscribers/spree/order_email_subscriber_spec.rb
Due: core, api, emails, Core, API, Emails

Extract Meilisearch search provider into spree_meilisearch gem
  .github/workflows/tests.yml
  CLAUDE.md
  docs/developer/core-concepts/search-filtering.mdx
  docs/developer/deployment/environment_variables.mdx
  docs/developer/how-to/custom-search-provider.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/integrations/search/meilisearch.mdx
  docs/plans/5.4-search-provider.md
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/common_spree_dependencies.rb
  spree/core/app/models/concerns/spree/search_indexable.rb
  spree/core/app/models/spree/search_provider.rb
  spree/core/app/models/spree/search_provider/meilisearch.rb
  spree/core/app/presenters/spree/search_provider/product_presenter.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/core/dependencies_helper.rb
  spree/core/spec/models/concerns/spree/search_indexable_spec.rb
  spree/core/spec/models/spree/search_provider/meilisearch_spec.rb
  spree/core/spec/presenters/spree/search_provider/product_presenter_spec.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
  spree/providers/meilisearch/Gemfile
  spree/providers/meilisearch/README.md
  spree/providers/meilisearch/Rakefile
  spree/providers/meilisearch/app/models/spree_meilisearch/search_provider.rb
  spree/providers/meilisearch/app/presenters/spree_meilisearch/product_presenter.rb
  spree/providers/meilisearch/lib/spree_meilisearch.rb
  spree/providers/meilisearch/lib/spree_meilisearch/engine.rb
  spree/providers/meilisearch/spec/controllers/spree_meilisearch/products_controller_spec.rb
  spree/providers/meilisearch/spec/models/spree_meilisearch/deprecated_constants_spec.rb
  spree/providers/meilisearch/spec/models/spree_meilisearch/search_provider_spec.rb
  spree/providers/meilisearch/spec/presenters/spree_meilisearch/product_presenter_spec.rb
  spree/providers/meilisearch/spec/requests/spree_meilisearch/search_integration_spec.rb
  spree/providers/meilisearch/spec/spec_helper.rb
  spree/providers/meilisearch/spree_meilisearch.gemspec
Due: core, Core

Release provider gems to RubyGems
  spree/Rakefile
Due: none

Pin provider gems to an exact spree_core version
  spree/providers/easypost/spree_easypost.gemspec
  spree/providers/meilisearch/spree_meilisearch.gemspec
Due: none

Address review feedback
  CLAUDE.md
  docs/plans/5.4-search-provider.md
  spree/providers/meilisearch/spec/presenters/spree_meilisearch/product_presenter_spec.rb
Due: none

Take the price facet range from Meilisearch facet stats
  spree/providers/meilisearch/app/models/spree_meilisearch/search_provider.rb
  spree/providers/meilisearch/spec/models/spree_meilisearch/search_provider_spec.rb
Due: none

Run provider gems in one CI lane
  .github/workflows/tests.yml
Due: none

Drop the dead matrix.dir fallback from the test workflow
  .github/workflows/tests.yml
Due: none

Leave the current-release search docs alone
  docs/developer/core-concepts/search-filtering.mdx
  docs/developer/deployment/environment_variables.mdx
  docs/developer/how-to/custom-search-provider.mdx
  docs/integrations/search/meilisearch.mdx
Due: none

Extract Meilisearch search provider into spree_meilisearch gem (#14428)
  .github/workflows/tests.yml
  CLAUDE.md
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/5.4-search-provider.md
  spree/Rakefile
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/common_spree_dependencies.rb
  spree/core/app/models/concerns/spree/search_indexable.rb
  spree/core/app/models/spree/search_provider.rb
  spree/core/app/models/spree/search_provider/meilisearch.rb
  spree/core/app/presenters/spree/search_provider/product_presenter.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/core/dependencies_helper.rb
  spree/core/spec/models/concerns/spree/search_indexable_spec.rb
  spree/core/spec/models/spree/search_provider/meilisearch_spec.rb
  spree/core/spec/presenters/spree/search_provider/product_presenter_spec.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
  spree/providers/meilisearch/Gemfile
  spree/providers/meilisearch/README.md
  spree/providers/meilisearch/Rakefile
  spree/providers/meilisearch/app/models/spree_meilisearch/search_provider.rb
  spree/providers/meilisearch/app/presenters/spree_meilisearch/product_presenter.rb
  spree/providers/meilisearch/lib/spree_meilisearch.rb
  spree/providers/meilisearch/lib/spree_meilisearch/engine.rb
  spree/providers/meilisearch/spec/controllers/spree_meilisearch/products_controller_spec.rb
  spree/providers/meilisearch/spec/models/spree_meilisearch/deprecated_constants_spec.rb
  spree/providers/meilisearch/spec/models/spree_meilisearch/search_provider_spec.rb
  spree/providers/meilisearch/spec/presenters/spree_meilisearch/product_presenter_spec.rb
  spree/providers/meilisearch/spec/requests/spree_meilisearch/search_integration_spec.rb
  spree/providers/meilisearch/spec/spec_helper.rb
  spree/providers/meilisearch/spree_meilisearch.gemspec
Due: core, Core

Keep the unusable-exemption error reachable when a host swaps the resolver
  spree/core/app/services/spree/tax/resolve_exemptions.rb
  spree/core/app/services/spree/tax/unusable_exemption_error.rb
Due: core, Core

Align status badge colours with the Geist colour system
  .changeset/dashboard-status-badge-colors.md
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard/src/components/spree/price-list-editors/status-badge.tsx
Due: none

Align status badge colours with the Geist colour system (#14429)
  .changeset/dashboard-status-badge-colors.md
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard/src/components/spree/price-list-editors/status-badge.tsx
Due: none

Resolve the API store from the credential, not the request host
  packages/dashboard/src/routes/_authenticated/$storeId.tsx
  packages/dashboard/src/routes/_authenticated/index.tsx
  spree/api/app/controllers/concerns/spree/api/v3/admin/store_context.rb
  spree/api/app/controllers/concerns/spree/api/v3/admin_authentication.rb
  spree/api/app/controllers/concerns/spree/api/v3/api_key_authentication.rb
  spree/api/app/controllers/concerns/spree/api/v3/key_store_context.rb
  spree/api/app/controllers/concerns/spree/api/v3/scoped_authorization.rb
  spree/api/app/controllers/spree/api/v3/admin/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/base_controller.rb
  spree/api/app/controllers/spree/api/v3/store/data_feeds_controller.rb
  spree/api/app/controllers/spree/api/v3/store/digitals_controller.rb
  spree/api/app/controllers/spree/api/v3/store/resource_controller.rb
  spree/api/config/locales/en.yml
  spree/api/lib/spree/api/testing_support/v3/base.rb
  spree/api/spec/controllers/concerns/spree/api/v3/admin/store_context_spec.rb
  spree/api/spec/controllers/concerns/spree/api/v3/admin_authentication_spec.rb
  spree/api/spec/controllers/concerns/spree/api/v3/key_store_context_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/base_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/me_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/digitals_controller_spec.rb
Due: api, API

Close gaps in store context and first-run setup found in review
  packages/cli/src/commands/init.ts
  packages/dashboard/src/routes/_authenticated/index.tsx
  packages/dashboard/src/routes/login.tsx
  packages/dashboard/src/routes/setup.tsx
  spree/api/app/controllers/concerns/spree/api/v3/admin/store_context.rb
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/seeds/admin_user.rb
  spree/core/lib/tasks/cli.rake
  spree/core/lib/tasks/setup.rake
  spree/core/spec/models/spree/store_spec.rb
Due: core, api, Core, API

Configure the dashboard origin from the environment
  CLAUDE.md
  docs/plans/6.0-store-context-and-first-run-setup.md
  scripts/worktree/setup.sh
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/invitation_serializer.rb
  spree/core/app/finders/spree/stores/dashboard_url.rb
  spree/core/app/models/spree/store.rb
  spree/core/config/routes.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/lib/spree/core/preferences/runtime_configuration.rb
  spree/core/spec/finders/spree/stores/dashboard_url_spec.rb
  spree/core/spec/lib/spree/core/preferences/runtime_configuration_spec.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, api, Core, API

Stop the install paths from minting a well-known admin
  docs/v6/developer/customization/configuration.mdx
  packages/admin-sdk/src/client.ts
  packages/cli/src/commands/init.ts
  packages/dashboard-core/src/providers/auth-provider.tsx
  spree/api/app/controllers/concerns/spree/api/v3/admin/store_context.rb
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/app/controllers/spree/api/v3/store/digitals_controller.rb
  spree/api/spec/controllers/concerns/spree/api/v3/admin/store_context_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/digitals_controller_spec.rb
  spree/core/app/services/spree/seeds/admin_user.rb
  spree/core/lib/tasks/cli.rake
  spree/lib/generators/spree/install/install_generator.rb
  spree/template.rb
Due: core, api, Core, API

Fix cart address updates not always recalculating tax (#14419)
  spree/core/app/services/spree/carts/update.rb
  spree/core/spec/services/spree/carts/update_spec.rb
Due: core, Core

fixup! Add ability for merchants to customize order number format
  docs/plans/6.0-document-numbers.md
  docs/plans/6.0-inventory-operations.md
  docs/v6/developer/how-to/custom-document-numbers.mdx
  packages/dashboard/src/schemas/store.ts
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
  spree/core/app/models/concerns/spree/has_number.rb
  spree/core/app/models/spree/number_generators/sequential.rb
  spree/core/app/models/spree/number_sequence.rb
  spree/core/app/models/spree/payment/gateway_options.rb
  spree/core/app/models/spree/store.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/concerns/derived_number_spec.rb
  spree/core/spec/models/spree/number_customization_scenarios_spec.rb
  spree/core/spec/models/spree/payment/gateway_options_spec.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

fixup! Add ability for merchants to customize order number format
  spree/core/config/locales/en.yml
Due: core

Point the setup link at a dashboard that is actually running
  CLAUDE.md
  docs/plans/6.0-store-context-and-first-run-setup.md
  packages/cli/src/commands/init.ts
  spree/core/app/finders/spree/stores/dashboard_url.rb
  spree/core/app/services/spree/seeds/admin_user.rb
  spree/core/lib/tasks/setup.rake
  spree/core/spec/finders/spree/stores/dashboard_url_spec.rb
Due: core, Core
