Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Improve design tokens (#14607)
  CLAUDE.md
  packages/dashboard-core/src/components/resource-table.tsx
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-core/src/products/variants-options-builder.tsx
  packages/dashboard-core/src/products/variants-section.tsx
  packages/dashboard-ui/src/spree/fulfill-items-form.tsx
  packages/dashboard-ui/src/spree/product-membership-list.tsx
  packages/dashboard-ui/src/spree/theme-toggle.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard-ui/src/ui/button.tsx
  packages/dashboard-ui/src/ui/command.tsx
  packages/dashboard-ui/src/ui/data-table.tsx
  packages/dashboard-ui/src/ui/dialog.tsx
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard-ui/src/ui/sheet.tsx
  packages/dashboard-ui/src/ui/sidebar.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/index.tsx
  packages/dashboard/src/tables/channels.tsx
  packages/seller-dashboard/src/pages/delivery-methods.tsx
  packages/seller-dashboard/src/pages/onboarding.tsx
  packages/seller-dashboard/src/pages/policies.tsx
Due: none

Fix: Keep the configured calculator when editing promotion actions
  packages/admin-sdk/tests/promotions.test.ts
  packages/dashboard/e2e/promotions.spec.ts
  packages/dashboard/src/components/spree/promotion-editors/action-adjustment.tsx
  packages/dashboard/src/lib/promotion-calculator-type.test.ts
  packages/dashboard/src/lib/promotion-calculator-type.ts
  spree/api/spec/controllers/spree/api/v3/admin/promotion_actions_controller_spec.rb
Due: none

Fix: Keep the configured calculator when editing promotion actions (#14608)
  packages/admin-sdk/tests/promotions.test.ts
  packages/dashboard/e2e/promotions.spec.ts
  packages/dashboard/src/components/spree/promotion-editors/action-adjustment.tsx
  packages/dashboard/src/lib/promotion-calculator-type.test.ts
  packages/dashboard/src/lib/promotion-calculator-type.ts
  spree/api/spec/controllers/spree/api/v3/admin/promotion_actions_controller_spec.rb
Due: none

Made the payout sweep fan-out resumable
  spree/core/app/jobs/spree/seller_payouts/sweep_due_job.rb
  spree/core/spec/jobs/spree/seller_payouts/sweep_due_job_spec.rb
Due: core, Core

Added settling a seller by hand
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/admin-client.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/sellers/seller-balance-card.tsx
  packages/dashboard/src/hooks/use-seller-ledger.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/sellers/payouts_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/sellers/payouts_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/sellers_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API

Documented the payout sweep a marketplace has to schedule
  docs/developer/deployment/background_jobs.mdx
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-multi-vendor-marketplace.md
Due: none

Fixed API descriptions naming endpoints by a path nobody can call
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/sellers/payouts_controller.rb
  spree/api/spec/integration/spree/api/v3/admin/sellers_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/payouts_spec.rb
Due: api, API

Fixed settling reporting a refused payout as nothing to settle
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/dashboard/src/hooks/use-seller-ledger.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/sellers/payouts_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/sellers/payouts_controller_spec.rb
  spree/core/spec/jobs/spree/seller_payouts/sweep_due_job_spec.rb
Due: api, API

Fixed seller payouts never being created (#14606)
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/developer/deployment/background_jobs.mdx
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/admin-sdk/src/admin-client.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/sellers/seller-balance-card.tsx
  packages/dashboard/src/hooks/use-seller-ledger.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/sellers/payouts_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/sellers/payouts_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/sellers_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/payouts_spec.rb
  spree/core/app/jobs/spree/seller_payouts/sweep_due_job.rb
  spree/core/config/locales/en.yml
  spree/core/spec/jobs/spree/seller_payouts/sweep_due_job_spec.rb
Due: core, api, Core, API

Improve plan skills/commands to auto-track publish Github Roadmap and Linear tracking
  .claude/commands/create-plan.md
  .claude/commands/implement-plan.md
  .claude/commands/update-plan.md
  CLAUDE.md
  docs/plans/6.1-b2b-order-documents.md
  docs/plans/6.1-exchange-rates.md
  docs/plans/6.1-marketplace-message-relay.md
  docs/plans/6.1-order-change-substrate.md
  docs/plans/6.1-order-stages.md
  docs/plans/6.1-product-market-availability.md
  docs/plans/6.1-vies-vat-validation.md
  docs/plans/_template.md
Due: none

Added Page Up and Page Down navigation to the command palette
  packages/dashboard/e2e/command-palette.spec.ts
  packages/dashboard/src/components/spree/command-palette/command-palette.tsx
  packages/dashboard/src/components/spree/command-palette/page-command-selection.test.ts
  packages/dashboard/src/components/spree/command-palette/page-command-selection.ts
Due: none

Groom the inventory operations plan for implementation
  docs/plans/6.0-inventory-operations.md
  docs/plans/decisions.md
Due: none

Teach the admin SDK about transfers, suppliers and purchase orders
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/PurchaseOrder.ts
  packages/admin-sdk/src/types/generated/PurchaseOrderItem.ts
  packages/admin-sdk/src/types/generated/StockMovement.ts
  packages/admin-sdk/src/types/generated/StockTransfer.ts
  packages/admin-sdk/src/types/generated/StockTransferItem.ts
  packages/admin-sdk/src/types/generated/Supplier.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  spree/api/app/serializers/spree/api/v3/admin/purchase_order_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_transfer_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/supplier_serializer.rb
  spree/api/config/initializers/typelizer.rb
Due: api, API

Expose inventory operations on the Admin API
  spree/api/app/controllers/concerns/spree/api/v3/admin/receivable_actions.rb
  spree/api/app/controllers/spree/api/v3/admin/purchase_orders_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_transfers_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/suppliers_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/purchase_order_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/purchase_order_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_movement_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_transfer_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_transfer_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/supplier_serializer.rb
  spree/api/app/serializers/spree/api/v3/purchase_order_event_serializer.rb
  spree/api/app/serializers/spree/api/v3/stock_transfer_serializer.rb
  spree/api/app/serializers/spree/api/v3/supplier_event_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/purchase_orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_transfers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/suppliers_controller_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API

Give stock transfers a life, and supplier receives a purchase order
  spree/core/app/models/concerns/spree/receivable.rb
  spree/core/app/models/concerns/spree/receivable_item.rb
  spree/core/app/models/spree/purchase_order.rb
  spree/core/app/models/spree/purchase_order_item.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/stock_movement.rb
  spree/core/app/models/spree/stock_transfer.rb
  spree/core/app/models/spree/stock_transfer_item.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/supplier.rb
  spree/core/app/workflows/spree/purchase_orders/cancel.rb
  spree/core/app/workflows/spree/purchase_orders/create.rb
  spree/core/app/workflows/spree/purchase_orders/mark_ordered.rb
  spree/core/app/workflows/spree/purchase_orders/receive.rb
  spree/core/app/workflows/spree/purchase_orders/update.rb
  spree/core/app/workflows/spree/stock_transfers/cancel.rb
  spree/core/app/workflows/spree/stock_transfers/create.rb
  spree/core/app/workflows/spree/stock_transfers/mark_in_transit.rb
  spree/core/app/workflows/spree/stock_transfers/mark_ready.rb
  spree/core/app/workflows/spree/stock_transfers/receive.rb
  spree/core/app/workflows/spree/stock_transfers/update.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260907000001_add_inventory_operations.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/lib/spree/testing_support/factories/purchase_order_factory.rb
  spree/core/lib/spree/testing_support/factories/stock_transfer_factory.rb
  spree/core/lib/spree/testing_support/factories/supplier_factory.rb
  spree/core/lib/tasks/inventory_operations_migration.rake
  spree/core/spec/models/spree/purchase_order_spec.rb
  spree/core/spec/models/spree/stock_location_spec.rb
  spree/core/spec/models/spree/stock_movement_spec.rb
  spree/core/spec/models/spree/stock_transfer_spec.rb
  spree/core/spec/models/spree/supplier_spec.rb
  spree/core/spec/workflows/spree/purchase_orders/lifecycle_spec.rb
  spree/core/spec/workflows/spree/stock_transfers/lifecycle_spec.rb
Due: core, Core

Give merchants screens for transfers, purchase orders and suppliers
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-core/src/pages/stock-locations.tsx
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard/src/components/spree/inventory-status-badge.tsx
  packages/dashboard/src/components/spree/stock-history-card.tsx
  packages/dashboard/src/components/spree/variant-line-editor.tsx
  packages/dashboard/src/hooks/use-purchase-orders.ts
  packages/dashboard/src/hooks/use-stock-transfers.ts
  packages/dashboard/src/hooks/use-suppliers.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/suppliers.tsx
  packages/dashboard/src/schemas/inventory-operations.ts
  packages/dashboard/src/tables/purchase-orders.tsx
  packages/dashboard/src/tables/stock-transfers.tsx
  packages/dashboard/src/tables/suppliers.tsx
Due: none

Document the inventory operations endpoints
  packages/admin-sdk/examples/purchase-orders/create.ts
  packages/admin-sdk/examples/purchase-orders/list.ts
  packages/admin-sdk/examples/purchase-orders/receive.ts
  packages/admin-sdk/examples/stock-transfers/create.ts
  packages/admin-sdk/examples/stock-transfers/mark-in-transit.ts
  packages/admin-sdk/examples/stock-transfers/receive.ts
  packages/admin-sdk/examples/suppliers/create.ts
  packages/admin-sdk/examples/suppliers/list.ts
  spree/api/spec/controllers/spree/api/v3/admin/stock_movements_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/purchase_orders_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_transfers_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/suppliers_spec.rb
Due: none

Cover the inventory upgrade path, and load a supplier's orders for its count
  spree/api/app/controllers/spree/api/v3/admin/suppliers_controller.rb
  spree/core/spec/lib/tasks/inventory_operations_migration_spec.rb
Due: api, API

Exempt suppliers from customer erasure, and drive the receive screen in a browser
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/e2e/stock-transfers.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/new.tsx
  spree/core/spec/models/spree/customer_personal_data_coverage_spec.rb
Due: none

Act on the first code review
  docs/plans/6.0-inventory-operations.md
  packages/dashboard-core/src/hooks/use-resource-mutation.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/suppliers.tsx
  spree/api/app/controllers/concerns/spree/api/v3/admin/receivable_actions.rb
  spree/core/app/models/spree/purchase_order.rb
  spree/core/app/models/spree/stock_transfer.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/supplier.rb
  spree/core/app/workflows/spree/stock_transfers/receive.rb
  spree/core/db/migrate/20260907000001_add_inventory_operations.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/inventory_operations_migration.rake
  spree/core/spec/models/spree/supplier_spec.rb
  spree/core/spec/workflows/spree/purchase_orders/lifecycle_spec.rb
  spree/core/spec/workflows/spree/stock_transfers/lifecycle_spec.rb
Due: core, api, Core, API

Share the items-payload parsing instead of copying it
  packages/dashboard/src/components/spree/stock-history-card.tsx
  spree/api/app/controllers/concerns/spree/api/v3/admin/receivable_actions.rb
  spree/api/app/controllers/concerns/spree/api/v3/items_payload.rb
  spree/api/app/controllers/concerns/spree/api/v3/orders/post_sale_actions.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/returns_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_transfers_controller_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API

Act on the second code review
  packages/admin-sdk/src/types/generated/Supplier.ts
  packages/dashboard-core/src/hooks/use-resource-mutation.ts
  packages/dashboard/src/hooks/use-purchase-orders.ts
  packages/dashboard/src/hooks/use-stock-transfers.ts
  packages/dashboard/src/hooks/use-suppliers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId.tsx
  spree/api/app/controllers/concerns/spree/api/v3/admin/receivable_actions.rb
  spree/api/app/controllers/spree/api/v3/admin/purchase_orders_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_transfers_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/suppliers_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/supplier_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_transfers_controller_spec.rb
  spree/core/app/models/spree/purchase_order.rb
  spree/core/app/models/spree/stock_transfer.rb
  spree/core/app/workflows/spree/purchase_orders/create.rb
  spree/core/app/workflows/spree/stock_transfers/create.rb
  spree/core/db/migrate/20260907000001_add_inventory_operations.rb
  spree/core/lib/tasks/inventory_operations_migration.rake
  spree/core/spec/lib/tasks/inventory_operations_migration_spec.rb
  spree/core/spec/workflows/spree/purchase_orders/lifecycle_spec.rb
  spree/core/spec/workflows/spree/stock_transfers/lifecycle_spec.rb
Due: core, api, Core, API

Document buying stock in, and the four steps a transfer takes
  docs/developer/core-concepts/inventory.mdx
  docs/developer/sdk/admin/resources.mdx
Due: none

Put a transfer's and an order's actions where the others are
  packages/dashboard/e2e/stock-transfers.spec.ts
  packages/dashboard/src/components/spree/transfer-cancel-dialog.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId.tsx
Due: none

Show a line as the product it is
  packages/admin-sdk/src/types/generated/PurchaseOrderItem.ts
  packages/admin-sdk/src/types/generated/StockTransferItem.ts
  packages/dashboard/src/components/spree/variant-link.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId.tsx
  spree/api/app/controllers/concerns/spree/api/v3/admin/receivable_actions.rb
  spree/api/app/controllers/spree/api/v3/admin/purchase_orders_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_transfers_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/purchase_order_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_transfer_item_serializer.rb
  spree/core/app/models/concerns/spree/receivable_item.rb
  spree/core/spec/models/spree/purchase_order_spec.rb
Due: core, api, Core, API

Let a merchant ask what is on order from one supplier
  packages/dashboard/src/hooks/use-suppliers.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/new.tsx
  packages/dashboard/src/tables/purchase-orders.tsx
Due: none

Make the inventory tables read like the rest of the dashboard
  packages/dashboard/src/components/spree/quantity-cell.tsx
  packages/dashboard/src/components/spree/stock-history-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId.tsx
Due: none

Say which shelf a stock movement happened on
  packages/admin-sdk/src/types/generated/StockMovement.ts
  packages/dashboard/src/components/spree/stock-history-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/stock_movements_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_movement_serializer.rb
Due: api, API

Show a transfer's own movements, not its warehouse's
  packages/dashboard/src/components/spree/stock-history-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId.tsx
Due: none

Let a table in a card scroll sideways again
  packages/dashboard-ui/src/ui/data-table.tsx
  packages/dashboard/src/components/spree/stock-history-card.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId.tsx
Due: none

Offer only the SKUs a warehouse can actually send
  packages/dashboard/e2e/stock-transfers.spec.ts
  packages/dashboard/src/components/spree/variant-line-editor.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/new.tsx
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/variant_spec.rb
Due: core, Core

Let a merchant correct a draft transfer or order
  packages/admin-sdk/src/params.ts
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/e2e/stock-transfers.spec.ts
  packages/dashboard/src/components/spree/purchase-order-form.tsx
  packages/dashboard/src/components/spree/stock-transfer-form.tsx
  packages/dashboard/src/components/spree/variant-line-editor.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId/edit.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId/edit.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/new.tsx
Due: none

Let only one receive at a time credit a delivery
  spree/core/app/workflows/spree/purchase_orders/receive.rb
  spree/core/app/workflows/spree/stock_transfers/receive.rb
  spree/core/spec/workflows/spree/purchase_orders/lifecycle_spec.rb
  spree/core/spec/workflows/spree/stock_transfers/lifecycle_spec.rb
Due: core, Core

Act on the bot review
  packages/dashboard/src/components/spree/purchase-order-form.tsx
  packages/dashboard/src/components/spree/stock-transfer-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId/index.tsx
  spree/core/lib/tasks/inventory_operations_migration.rake
  spree/core/spec/lib/tasks/inventory_operations_migration_spec.rb
Due: core, Core

Refuse a receive that lists the same line twice
  spree/core/app/workflows/spree/purchase_orders/receive.rb
  spree/core/app/workflows/spree/stock_transfers/receive.rb
  spree/core/config/locales/en.yml
  spree/core/spec/workflows/spree/purchase_orders/lifecycle_spec.rb
  spree/core/spec/workflows/spree/stock_transfers/lifecycle_spec.rb
Due: core, Core

Only offer to delete a supplier that can be deleted
  packages/admin-sdk/src/types/generated/Supplier.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/suppliers.tsx
  spree/api/app/serializers/spree/api/v3/admin/supplier_serializer.rb
  spree/core/app/models/spree/supplier.rb
  spree/core/spec/models/spree/supplier_spec.rb
Due: core, api, Core, API

Offer Delete on a draft transfer or order where you are standing
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId/index.tsx
Due: none

Let only one caller at a time ship or cancel a transfer
  spree/core/app/models/concerns/spree/receivable_item.rb
  spree/core/app/workflows/spree/stock_transfers/cancel.rb
  spree/core/app/workflows/spree/stock_transfers/mark_in_transit.rb
Due: core, Core

Refuse a warehouse filter that names something else
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/variant_spec.rb
Due: core, Core

Say what the Purchasing permission covers
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/core/config/locales/en.yml
Due: core
