Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Stop deriving invoice codes in core
  docs/plans/6.0-tax-provider.md
  packages/admin-sdk/src/types/generated/TaxLine.ts
  spree/api/app/serializers/spree/api/v3/admin/tax_line_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/tax_lines_controller_spec.rb
  spree/core/app/models/spree/tax_line.rb
  spree/core/spec/models/spree/tax_line_spec.rb
  spree/core/spec/models/spree/tax_provider/internal_spec.rb
Due: core, api, Core, API

Document what belongs in a tax identifier kind, and drop an unused helper
  spree/core/app/models/spree/tax_identifier.rb
  spree/core/spec/models/spree/tax_identifier_spec.rb
Due: core, Core

Let each tax provider describe itself to the admin
  spree/api/app/controllers/spree/api/v3/admin/tax_providers_controller.rb
  spree/core/app/models/spree/tax_provider/base.rb
  spree/core/db/migrate/20260806000003_create_spree_tax_identifiers.rb
  spree/core/spec/models/spree/tax_provider/base_spec.rb
Due: core, api, Core, API

Book the 6.1 tax cleanup as a phase of its own
  CLAUDE.md
  docs/plans/6.0-tax-provider.md
Due: none

Say what a tax engine's declared limits cost the merchant
  docs/plans/6.0-tax-provider.md
  spree/api/spec/controllers/spree/api/v3/admin/tax_providers_controller_spec.rb
  spree/core/app/models/spree/tax_provider/base.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/tax_provider/base_spec.rb
Due: core, Core

Regenerate SDK types after rebasing onto main
  packages/admin-sdk/src/types/generated/Order.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/sdk/src/types/generated/index.ts
Due: none

Credit tax only on returned items that arrived
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/tax_provider/base.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, Core

Settle on one tax provider config, returning a class
  docs/plans/6.0-core-rewrite-tasks.md
  docs/plans/6.0-tax-provider.md
  spree/core/app/models/concerns/spree/purchase/taxation.rb
  spree/core/app/models/spree/adjusters/base.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/tax_line.rb
  spree/core/app/models/spree/tax_provider/base.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/tax_provider/base_spec.rb
Due: core, Core

Add the missing reason label to the post-sale dialogs
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Seed the reason vocabularies after the store exists
  spree/core/app/services/spree/seeds/all.rb
  spree/core/spec/services/spree/seeds/all_spec.rb
Due: core, Core

Drop Claim#claim_type in favour of the claim reason
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-returns-exchanges-claims.md
  docs/plans/decisions.md
  docs/v6/developer/core-concepts/returns-exchanges-claims.mdx
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Claim.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/order-post-sale-cards.tsx
  packages/dashboard/src/components/spree/post-sale-create-dialogs.tsx
  packages/dashboard/src/hooks/use-post-sale.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/tables/post-sale.tsx
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/generated/Claim.ts
  packages/sdk/src/zod/generated/Claim.ts
  packages/sdk/tests/mocks/handlers.ts
  packages/sdk/tests/post-sale.test.ts
  spree/api/app/controllers/spree/api/v3/admin/orders/claims_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/claims_controller.rb
  spree/api/app/serializers/spree/api/v3/claim_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/claims_controller_spec.rb
  spree/core/app/models/spree/claim.rb
  spree/core/app/workflows/spree/claims/create.rb
  spree/core/db/migrate/20260807120001_remove_claim_type_from_spree_claims.rb
  spree/core/lib/spree/testing_support/factories/claim_factory.rb
  spree/core/spec/models/spree/claim_spec.rb
  spree/core/spec/workflows/spree/claims/lifecycle_spec.rb
Due: core, api, Core, API

Reduce tax rate matching to one primitive
  spree/core/app/models/spree/tax_rate.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
Due: core, Core

Remove StateChange and LogEntry
  docs/developer/core-concepts/payments.mdx
  docs/plans/6.0-cart-order-split.md
  docs/plans/decisions.md
  spree/core/app/models/concerns/spree/publishable.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/log_entry.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/models/spree/refund.rb
  spree/core/app/models/spree/state_change.rb
  spree/core/app/services/spree/carts/empty.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/testing_support/factories/log_entry_factory.rb
  spree/core/lib/spree/testing_support/factories/state_change_factory.rb
  spree/core/lib/tasks/carts_migration.rake
  spree/core/lib/tasks/delivery_migration.rake
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
  spree/core/spec/models/spree/log_entry_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/models/spree/refund_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

Embed the reason on returns, exchanges and claims
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Claim.ts
  packages/admin-sdk/src/types/generated/Exchange.ts
  packages/admin-sdk/src/types/generated/Return.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Claim.ts
  packages/sdk/src/types/generated/ClaimReason.ts
  packages/sdk/src/types/generated/Return.ts
  packages/sdk/src/types/generated/ReturnReason.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/zod/generated/Claim.ts
  packages/sdk/src/zod/generated/ClaimReason.ts
  packages/sdk/src/zod/generated/Return.ts
  packages/sdk/src/zod/generated/ReturnReason.ts
  packages/sdk/src/zod/generated/index.ts
  spree/api/app/serializers/spree/api/v3/admin/claim_reason_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/claim_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/exchange_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/return_reason_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/return_serializer.rb
  spree/api/app/serializers/spree/api/v3/claim_reason_serializer.rb
  spree/api/app/serializers/spree/api/v3/claim_serializer.rb
  spree/api/app/serializers/spree/api/v3/exchange_serializer.rb
  spree/api/app/serializers/spree/api/v3/return_reason_serializer.rb
  spree/api/app/serializers/spree/api/v3/return_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/serializers/spree/api/v3/reason_embed_spec.rb
Due: api, API

Record that Store API exchanges wait for the 6.1 portal
  docs/plans/6.0-returns-exchanges-claims.md
Due: none

fixup! Remove StateChange and LogEntry
  docs/developer/upgrades/5.6-to-6.0.mdx
Due: none

Remove StateChange and LogEntry (#14407)
  docs/developer/core-concepts/payments.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-cart-order-split.md
  docs/plans/decisions.md
  spree/core/app/models/concerns/spree/publishable.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/log_entry.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/models/spree/refund.rb
  spree/core/app/models/spree/state_change.rb
  spree/core/app/services/spree/carts/empty.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/testing_support/factories/log_entry_factory.rb
  spree/core/lib/spree/testing_support/factories/state_change_factory.rb
  spree/core/lib/tasks/carts_migration.rake
  spree/core/lib/tasks/delivery_migration.rake
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
  spree/core/spec/models/spree/log_entry_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/models/spree/refund_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

Plan dropping the Country/State AR models in favour of ISO codes
  CLAUDE.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-delivery-zones.md
  docs/plans/6.0-drop-country-state-models.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
Due: none

Stop accepting country and state ids on address params
  spree/api/app/controllers/spree/api/v3/admin/customers/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/core/app/models/spree/address.rb
  spree/core/app/services/spree/addresses/create.rb
  spree/core/app/services/spree/addresses/helper.rb
  spree/core/app/services/spree/addresses/update.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/services/spree/addresses/update_spec.rb
Due: core, api, Core, API

Add an ISO reference registry for countries and subdivisions
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/iso_data.rb
  spree/core/spec/lib/spree/iso_data_spec.rb
Due: core, Core

Reclaim vertical space in the dashboard chrome
  packages/dashboard-core/src/components/nav-main.tsx
  packages/dashboard-core/src/components/page-header.tsx
  packages/dashboard-core/src/components/settings-sidebar.tsx
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-core/src/hooks/use-auto-collapse-sidebar.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/providers/sticky-header-provider.tsx
  packages/dashboard-ui/src/hooks/use-prefers-reduced-motion.ts
  packages/dashboard-ui/src/hooks/use-scrolled.ts
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard-ui/src/ui/button.tsx
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard-ui/src/ui/dropdown-menu.tsx
  packages/dashboard-ui/src/ui/input-group.tsx
  packages/dashboard-ui/src/ui/input.tsx
  packages/dashboard-ui/src/ui/popover.tsx
  packages/dashboard-ui/src/ui/progress.tsx
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard-ui/src/ui/sheet.tsx
  packages/dashboard-ui/src/ui/sidebar.tsx
  packages/dashboard-ui/src/ui/textarea.tsx
  packages/dashboard-ui/src/ui/tooltip.tsx
  packages/dashboard/src/routes/_authenticated/$storeId.tsx
Due: none

Add ISO code columns and backfill them from the foreign keys
  spree/core/db/migrate/20260807130001_add_iso_codes_to_country_state_consumers.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/migrate_country_state_isos.rake
  spree/core/spec/lib/tasks/migrate_country_state_isos_spec.rb
Due: core, Core

Address review feedback on the collapsed nav
  packages/dashboard-core/src/components/nav-main.tsx
  packages/dashboard-core/src/hooks/use-auto-collapse-sidebar.ts
Due: none

Store the country and state codes on addresses
  spree/core/app/models/spree/address.rb
  spree/core/app/services/spree/addresses/update.rb
  spree/core/spec/models/spree/base_spec.rb
Due: core, Core

Drop the button press scale under reduced motion
  packages/dashboard-ui/src/ui/button.tsx
Due: none

Make Taxonomy data-only and fix category uniqueness
  docs/plans/6.0-replace-taxons-with-categories.md
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/e2e/helpers.ts
  packages/sdk/tests/integration/global-setup.ts
  spree/api/app/controllers/spree/api/v3/admin/categories_controller.rb
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/app/jobs/spree/products/touch_categories_job.rb
  spree/core/app/models/concerns/spree/search_indexable.rb
  spree/core/app/models/spree/category.rb
  spree/core/app/models/spree/exports/products.rb
  spree/core/app/models/spree/permission_sets/default_customer.rb
  spree/core/app/models/spree/permission_sets/product_display.rb
  spree/core/app/models/spree/permission_sets/product_management.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/taxonomy.rb
  spree/core/db/migrate/20260807150001_reindex_spree_categories_by_store.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/lib/spree/testing_support/factories/category_factory.rb
  spree/core/lib/spree/testing_support/factories/taxon_factory.rb
  spree/core/lib/spree/testing_support/factories/taxonomy_factory.rb
  spree/core/lib/tasks/categories_and_collections.rake
  spree/core/spec/jobs/spree/imports/create_categories_job_spec.rb
  spree/core/spec/jobs/spree/products/touch_categories_job_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/store_spec.rb
  spree/core/spec/lib/tasks/categories_and_collections_spec.rb
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/category_spec.rb
  spree/core/spec/models/spree/permission_sets/product_management_spec.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/models/spree/taxon_spec.rb
  spree/core/spec/models/spree/taxonomy_spec.rb
Due: core, api, Core, API

Match delivery zones, markets and stock locations by country code
  spree/core/app/models/spree/delivery_zone_member.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/market_country.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/carts/update.rb
Due: core, Core

Animate translate and scale, not just transform
  packages/dashboard-core/src/components/page-header.tsx
  packages/dashboard-ui/src/ui/dialog.tsx
  packages/dashboard-ui/src/ui/dropdown-menu.tsx
  packages/dashboard-ui/src/ui/popover.tsx
  packages/dashboard-ui/src/ui/sheet.tsx
  packages/dashboard-ui/src/ui/tooltip.tsx
Due: none

Phase 11: answer "where is this buyer taxed" with a country everywhere
  docs/plans/6.0-delivery-zones.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
  spree/core/app/models/concerns/spree/purchase/taxation.rb
  spree/core/app/models/concerns/spree/vat_price_calculation.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/price_rules/zone_rule.rb
  spree/core/app/models/spree/stock/estimator.rb
  spree/core/app/models/spree/zone.rb
  spree/core/lib/spree/core/controller_helpers/store.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/pricing/context.rb
  spree/core/lib/spree/testing_support/factories/price_rule_factory.rb
  spree/core/lib/tasks/tax_zones_migration.rake
  spree/core/spec/lib/spree/core/controller_helpers/store_spec.rb
  spree/core/spec/lib/spree/core/pricing/context_spec.rb
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
  spree/core/spec/models/concerns/spree/purchase/taxation_spec.rb
  spree/core/spec/models/spree/concerns/vat_price_calculation_spec.rb
  spree/core/spec/models/spree/current_spec.rb
  spree/core/spec/models/spree/price_rules/zone_rule_spec.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
  spree/core/spec/models/spree/zone_spec.rb
Due: core, Core

Read delivery zone members and country endpoints by code
  packages/admin-sdk/src/types/generated/DeliveryZoneMember.ts
  packages/sdk/src/types/generated/DeliveryZoneMember.ts
  packages/sdk/src/zod/generated/DeliveryZoneMember.ts
  spree/api/app/controllers/spree/api/v3/admin/delivery_zones_controller.rb
  spree/api/app/controllers/spree/api/v3/store/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets/countries_controller.rb
  spree/api/app/serializers/spree/api/v3/delivery_zone_member_serializer.rb
Due: api, API

Make the reduced-motion rules actually apply
  packages/dashboard-core/src/hooks/use-auto-collapse-sidebar.ts
  packages/dashboard-ui/src/styles.css
Due: none

Animate the button press scale
  packages/dashboard-ui/src/ui/button.tsx
Due: none

Resolve duplicate permalinks in the migration, not the upgrade task
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/e2e/helpers.ts
  spree/core/db/migrate/20260807150001_reindex_spree_categories_by_store.rb
  spree/core/lib/spree/category_permalink_deduplicator.rb
  spree/core/lib/tasks/categories_and_collections.rake
  spree/core/spec/lib/spree/category_permalink_deduplicator_spec.rb
Due: core, Core

Bind the deduplicator's SQL and stop its spec issuing DDL
  docs/plans/6.0-replace-taxons-with-categories.md
  spree/core/lib/spree/category_permalink_deduplicator.rb
  spree/core/spec/lib/spree/category_permalink_deduplicator_spec.rb
Due: core, Core

Keep category trees inside one store
  spree/core/app/models/spree/category.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/lib/spree/category_permalink_deduplicator_spec.rb
  spree/core/spec/lib/tasks/categories_and_collections_spec.rb
  spree/core/spec/models/spree/category_spec.rb
Due: core, Core

Record the cross-store parent guarantee in the plan
  docs/plans/6.0-replace-taxons-with-categories.md
Due: none

Build test countries and states from real ISO data
  spree/api/spec/controllers/spree/api/v3/store/customer/addresses_controller_spec.rb
  spree/core/lib/spree/testing_support/country_pool.rb
  spree/core/lib/spree/testing_support/factories.rb
  spree/core/lib/spree/testing_support/factories/address_factory.rb
  spree/core/lib/spree/testing_support/factories/country_factory.rb
  spree/core/lib/spree/testing_support/factories/state_factory.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/services/spree/addresses/update_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
Due: none

Simplify the permalink deduplicator and share the category factory
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/app/models/spree/category.rb
  spree/core/lib/spree/category_permalink_deduplicator.rb
  spree/core/lib/spree/testing_support/factories/taxon_factory.rb
  spree/core/lib/tasks/categories_and_collections.rake
Due: core, Core

Record what shipped and what the Zone dependency still blocks
  CLAUDE.md
  docs/plans/6.0-drop-country-state-models.md
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
