Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Fix CI: normalize i18n locale and address code quality feedback
  spree/admin/app/views/spree/admin/api_keys/_token_card.html.erb
  spree/admin/config/locales/en.yml
  spree/core/spec/models/spree/api_key_spec.rb
Due: admin, Admin

Add secret API key hashing (Stripe model) (#13673)
  server/db/schema.rb
  spree/admin/app/controllers/spree/admin/api_keys_controller.rb
  spree/admin/app/helpers/spree/admin/api_keys_helper.rb
  spree/admin/app/views/spree/admin/api_keys/_token_card.html.erb
  spree/admin/app/views/spree/admin/api_keys/_usage_info.html.erb
  spree/admin/config/locales/en.yml
  spree/admin/spec/controllers/spree/admin/api_keys_controller_spec.rb
  spree/api/app/controllers/concerns/spree/api/v3/api_key_authentication.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/db/migrate/20260226100000_add_token_digest_to_spree_api_keys.rb
  spree/core/spec/models/spree/api_key_spec.rb
Due: core, api, admin, Core, API, Admin

Remove deprecated QueryFilters, Search::Base, and ControllerHelpers::Search
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/lib/spree/core/controller_helpers/search.rb
  spree/core/lib/spree/core/query_filters.rb
  spree/core/lib/spree/core/query_filters/comparable.rb
  spree/core/lib/spree/core/query_filters/date.rb
  spree/core/lib/spree/core/query_filters/number.rb
  spree/core/lib/spree/core/query_filters/text.rb
  spree/core/lib/spree/core/search/base.rb
  spree/core/spec/lib/search/base_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/search_spec.rb
  spree/core/spec/lib/spree/core/query_filters/comparable_spec.rb
  spree/core/spec/lib/spree/core/query_filters/text_spec.rb
  spree/core/spec/lib/spree/core_spec.rb
Due: core, Core

Add upgrade note about removed Spree.searcher_class
  docs/developer/upgrades/5.3-to-5.4.mdx
Due: none

Remove Products::Find recommendation from upgrade guide
  docs/developer/upgrades/5.3-to-5.4.mdx
Due: none

Keep Spree.searcher_class as deprecated accessor instead of removing it
  docs/developer/upgrades/5.3-to-5.4.mdx
  spree/core/lib/spree/core.rb
Due: core, Core

Remove searcher_class notice from upgrade guide
  docs/developer/upgrades/5.3-to-5.4.mdx
Due: none

Remove deprecated QueryFilters, Search::Base, and ControllerHelpers::Search (#13674)
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/lib/spree/core/controller_helpers/search.rb
  spree/core/lib/spree/core/query_filters.rb
  spree/core/lib/spree/core/query_filters/comparable.rb
  spree/core/lib/spree/core/query_filters/date.rb
  spree/core/lib/spree/core/query_filters/number.rb
  spree/core/lib/spree/core/query_filters/text.rb
  spree/core/lib/spree/core/search/base.rb
  spree/core/spec/lib/search/base_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/search_spec.rb
  spree/core/spec/lib/spree/core/query_filters/comparable_spec.rb
  spree/core/spec/lib/spree/core/query_filters/text_spec.rb
  spree/core/spec/lib/spree/core_spec.rb
Due: core, Core

Added ability to persist metadata for Carts/Orders/LineItems in Store API
  docs/api-reference/store.yaml
  packages/next/.changeset/deprecate-store-checkout-zone.md
  packages/next/CHANGELOG.md
  packages/next/README.md
  packages/next/package.json
  packages/next/src/actions/cart.ts
  packages/sdk/.changeset/deprecate-store-checkout-zone.md
  packages/sdk/.changeset/slow-moments-behave.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/types/generated/StorePaymentSource.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/StorePaymentSource.ts
  spree/api/app/controllers/spree/api/v3/store/orders/line_items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/payment_source_serializer.rb
  spree/api/app/services/spree/api/v3/orders/update.rb
  spree/api/spec/integration/spree/api/v3/store/line_items_spec.rb
  spree/api/spec/integration/spree/api/v3/store/orders_spec.rb
  spree/api/spec/services/spree/api/v3/orders/update_spec.rb
  spree/core/app/models/concerns/spree/metadata.rb
  spree/core/app/services/spree/cart/add_item.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/models/spree/concerns/metadata_spec.rb
  spree/core/spec/services/spree/cart/add_item_spec.rb
Due: core, api, Core, API

added ability to create cart with metadata
  docs/api-reference/store.yaml
  packages/next/CHANGELOG.md
  packages/next/src/actions/cart.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  spree/api/app/controllers/spree/api/v3/store/cart_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/cart_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/orders/line_items_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/orders_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/cart_spec.rb
  spree/api/spec/serializers/spree/api/v3/payment_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/payment_source_serializer_spec.rb
  spree/core/app/services/spree/cart/create.rb
Due: core, api, Core, API

added admin serializers for order/line item with metadata
  packages/sdk/src/types/generated/AdminLineItem.ts
  packages/sdk/src/types/generated/AdminOrder.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/zod/generated/AdminLineItem.ts
  packages/sdk/src/zod/generated/AdminOrder.ts
  packages/sdk/src/zod/generated/index.ts
  spree/api/app/serializers/spree/api/v3/admin/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/serializers/spree/api/v3/admin/line_item_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/order_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/line_item_serializer_spec.rb
Due: api, API

Docs: updated metadata/metafields documentation
  docs/developer/core-concepts/metafields.mdx
  docs/developer/customization/metadata.mdx
Due: none

Fixed: improve persisting when API key is used
  spree/api/app/controllers/concerns/spree/api/v3/api_key_authentication.rb
  spree/api/app/jobs/spree/api_keys/mark_as_used.rb
  spree/api/spec/controllers/concerns/spree/api/v3/api_key_authentication_spec.rb
  spree/api/spec/jobs/spree/api_keys/mark_as_used_spec.rb
  spree/core/app/jobs/spree/api_key_touch_job.rb
  spree/core/spec/jobs/spree/api_key_touch_job_spec.rb
Due: core, api, Core, API

Fixed: improve persisting when API key is used (#13676)
  spree/api/app/controllers/concerns/spree/api/v3/api_key_authentication.rb
  spree/api/app/jobs/spree/api_keys/mark_as_used.rb
  spree/api/spec/controllers/concerns/spree/api/v3/api_key_authentication_spec.rb
  spree/api/spec/jobs/spree/api_keys/mark_as_used_spec.rb
  spree/core/app/jobs/spree/api_key_touch_job.rb
  spree/core/spec/jobs/spree/api_key_touch_job_spec.rb
Due: core, api, Core, API

Fixed displaying CURL example in admin
  spree/admin/app/views/spree/admin/api_keys/_usage_info.html.erb
Due: admin, Admin

Remove model level caching
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/core/app/models/concerns/spree/adjustment_source.rb
  spree/core/app/models/spree/adjustable/promotion_accumulator.rb
  spree/core/app/models/spree/adjustment.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion_handler/coupon.rb
  spree/core/app/models/spree/variant.rb
  spree/core/lib/spree/core/pricing/resolver.rb
  spree/core/spec/lib/spree/pricing/resolver_spec.rb
  spree/core/spec/models/spree/adjustment_spec.rb
  spree/core/spec/models/spree/promotion_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
Due: core, api, Core, API

Remove even more model caching + simplify code + use more performant SQL queries
  spree/core/app/models/concerns/spree/stores/markets.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/shipping_category.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/tax_category.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/models/spree/zone.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

Fixed loading default tax zone
  spree/core/app/models/concerns/spree/vat_price_calculation.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/zone.rb
  spree/core/spec/models/spree/current_spec.rb
Due: core, Core

Simplify markets code
  spree/core/app/models/concerns/spree/stores/markets.rb
Due: core, Core

fixes
  spree/core/app/models/spree/country.rb
  spree/core/spec/lib/spree/core/pricing/context_spec.rb
Due: core, Core

Update markets.rb
  spree/core/app/models/concerns/spree/stores/markets.rb
Due: core, Core

fixes
  spree/api/app/controllers/spree/api/v3/store/countries_controller.rb
  spree/api/app/serializers/spree/api/v3/country_serializer.rb
  spree/core/app/models/concerns/spree/vat_price_calculation.rb
  spree/core/spec/models/spree/country_spec.rb
  spree/core/spec/spec_helper.rb
Due: core, api, Core, API

Fix: Replace deprecated Image#plp_url with cdn_image_url variant(:xlarge)
  spree/core/app/services/spree/data_feeds/google/required_attributes.rb
  spree/core/spec/services/spree/data_feeds/google/rss_spec.rb
Due: core, Core

Update store.rb
  spree/core/lib/spree/testing_support/store.rb
Due: none

Fix: Replace deprecated Image#plp_url with cdn_image_url variant(:xlarge) (#13678)
  spree/core/app/services/spree/data_feeds/google/required_attributes.rb
  spree/core/spec/services/spree/data_feeds/google/rss_spec.rb
Due: core, Core

fix
  spree/api/spec/integration/spree/api/v3/store/countries_spec.rb
  spree/api/spec/integration/spree/api/v3/store/currencies_spec.rb
  spree/api/spec/integration/spree/api/v3/store/locales_spec.rb
  spree/core/lib/spree/testing_support/store.rb
Due: none

revert
  spree/api/spec/integration/spree/api/v3/store/countries_spec.rb
  spree/core/lib/spree/testing_support/store.rb
Due: none

revert
  spree/api/app/controllers/spree/api/v3/store/countries_controller.rb
  spree/api/app/serializers/spree/api/v3/country_serializer.rb
Due: api, API

revert more
  spree/api/spec/integration/spree/api/v3/store/currencies_spec.rb
  spree/api/spec/integration/spree/api/v3/store/locales_spec.rb
Due: none

Remove model level caching (#13677)
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/core/app/models/concerns/spree/adjustment_source.rb
  spree/core/app/models/concerns/spree/stores/markets.rb
  spree/core/app/models/concerns/spree/vat_price_calculation.rb
  spree/core/app/models/spree/adjustable/promotion_accumulator.rb
  spree/core/app/models/spree/adjustment.rb
  spree/core/app/models/spree/country.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion_handler/coupon.rb
  spree/core/app/models/spree/shipping_category.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/tax_category.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/models/spree/zone.rb
  spree/core/lib/spree/core/pricing/resolver.rb
  spree/core/spec/lib/spree/core/pricing/context_spec.rb
  spree/core/spec/lib/spree/pricing/resolver_spec.rb
  spree/core/spec/models/spree/adjustment_spec.rb
  spree/core/spec/models/spree/country_spec.rb
  spree/core/spec/models/spree/current_spec.rb
  spree/core/spec/models/spree/promotion_spec.rb
  spree/core/spec/models/spree/store_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
  spree/core/spec/spec_helper.rb
Due: core, api, Core, API

Remove Order model dead methods
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order/checkout.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/tasks/exchanges.rake
  spree/core/spec/lib/tasks/exchanges_spec.rb
  spree/core/spec/models/spree/order/checkout_spec.rb
Due: core, Core

Remove Order model dead methods (#13679)
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order/checkout.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/tasks/exchanges.rake
  spree/core/spec/lib/tasks/exchanges_spec.rb
  spree/core/spec/models/spree/order/checkout_spec.rb
Due: core, Core

Remove Product & Variant dead methods
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/variant.rb
Due: core, Core

Remove Product & Variant dead methods (#13680)
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/variant.rb
Due: core, Core

Remove old magic methods to generate image thumbnails
  spree/core/app/helpers/spree/base_helper.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
