Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

chore(deps): pin security fixes via pnpm overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix calculating discounts for Spree::Cart as well as for Spree::Order
  spree/core/app/models/concerns/spree/purchase/totals.rb
  spree/core/app/models/spree/order.rb
  spree/core/spec/models/concerns/spree/purchase/totals_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/promotion/actions/create_adjustment_spec.rb
Due: core, Core

Report what a marketplace charged on every order it commissioned
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/admin-sdk/src/types/generated/Order.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/orders/order-summary-card.tsx
  packages/dashboard/src/lib/commission-line-totals.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/seller-dashboard/src/components/orders/order-cards.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-sdk/src/types/generated/Order.ts
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/order_serializer.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/commissions/commission_order.rb
  spree/core/app/workflows/spree/carts/recalculate_totals.rb
  spree/core/app/workflows/spree/seller_transfers/create.rb
  spree/core/db/migrate/20260906000001_add_commission_total_to_orders.rb
  spree/core/spec/services/spree/commissions/commission_order_spec.rb
  spree/core/spec/workflows/spree/carts/recalculate_totals_spec.rb
Due: core, api, Core, API

keep json under <3 before handling breaking changes
  spree/common_spree_dependencies.rb
Due: none

Say the marketplace fee total the way Polish says it
  packages/dashboard/src/locales/pl.json
Due: none

Keep amount BigDecimal when cart is empty
  spree/core/app/models/concerns/spree/purchase/totals.rb
  spree/core/spec/models/concerns/spree/purchase/totals_spec.rb
Due: core, Core

Do not mark cart as complete as long as order has not been placed
  docs/plans/6.0-cart-order-split.md
  spree/api/spec/controllers/spree/api/v3/store/carts/gift_card_controller_spec.rb
  spree/core/app/models/concerns/spree/purchase/checkout_steps.rb
  spree/core/app/models/spree/checkout/default_requirements.rb
  spree/core/spec/models/spree/cart_spec.rb
  spree/core/spec/models/spree/checkout/requirements_spec.rb
Due: core, Core

Preserve HTTP errors and session recovery in SDKs
  .changeset/steady-http-error-recovery.md
  docs/developer/sdk/admin/querying-and-errors.mdx
  docs/developer/sdk/configuration.mdx
  packages/admin-sdk/tests/auth.test.ts
  packages/sdk-core/src/request.ts
  packages/sdk/tests/retry.test.ts
  packages/seller-sdk/tests/auth.test.ts
Due: none

Fix translations editor dirty-on-open and stale coverage after save.
  .changeset/translations-dialog-dirty-and-cache.md
  packages/dashboard-core/src/hooks/use-import.ts
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/lib/same-rich-text.ts
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard/e2e/products-translations.spec.ts
  packages/dashboard/src/components/spree/translations/resource-translations-dialog.tsx
  packages/dashboard/src/hooks/use-categories.ts
  packages/dashboard/src/hooks/use-collections.ts
  packages/dashboard/src/hooks/use-option-types.ts
  packages/dashboard/src/hooks/use-product.ts
  packages/dashboard/src/hooks/use-translations.test.ts
  packages/dashboard/src/hooks/use-translations.ts
  packages/dashboard/src/lib/same-rich-text.test.ts
Due: none

Compare rich text without relying on a browser DOM parser.
  packages/dashboard-ui/src/lib/same-rich-text.ts
Due: none

Refresh the translations page after the source record is edited.
  packages/dashboard-ui/src/lib/same-rich-text.ts
  packages/dashboard/e2e/products-translations.spec.ts
  packages/dashboard/src/components/spree/translations/resource-translations-dialog.tsx
  packages/dashboard/src/hooks/use-categories.ts
  packages/dashboard/src/hooks/use-collections.ts
  packages/dashboard/src/hooks/use-option-types.ts
  packages/dashboard/src/hooks/use-product.ts
  packages/dashboard/src/hooks/use-translations.test.ts
  packages/dashboard/src/hooks/use-translations.ts
  packages/dashboard/src/lib/same-rich-text.test.ts
Due: none

Keep image-only rich text distinct from an empty field.
  packages/dashboard-ui/src/lib/same-rich-text.ts
  packages/dashboard/src/hooks/use-translations.test.ts
  packages/dashboard/src/lib/same-rich-text.test.ts
Due: none

Point translations e2e at the records search, not Settings.
  packages/dashboard/e2e/products-translations.spec.ts
  packages/dashboard/e2e/validation-messages.spec.ts
Due: none

Display all company members including subunits
  docs/developer/core-concepts/companies.mdx
  spree/api/app/serializers/spree/api/v3/admin/company_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/companies_controller_spec.rb
  spree/core/app/models/spree/company.rb
  spree/core/spec/models/spree/company_spec.rb
Due: core, api, Core, API

Company doc small clarification
  docs/developer/core-concepts/companies.mdx
Due: none

Refetch inactive translations after catalog create and delete.
  packages/dashboard/src/hooks/use-categories.ts
  packages/dashboard/src/hooks/use-collections.ts
  packages/dashboard/src/hooks/use-option-types.ts
  packages/dashboard/src/hooks/use-product.ts
  packages/dashboard/src/hooks/use-translations.test.ts
Due: none

Wait for the category edit route before clicking Back.
  packages/dashboard/e2e/categories.spec.ts
Due: none

Keep price lists priced in every currency the store adds
  docs/plans/decisions.md
  docs/user/manage-products/price-lists.mdx
  spree/core/app/jobs/spree/price_lists/sync_currencies_job.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/services/spree/imports/row_processors/price_list_price.rb
  spree/core/spec/jobs/spree/price_lists/sync_currencies_job_spec.rb
  spree/core/spec/models/spree/market_spec.rb
  spree/core/spec/services/spree/imports/row_processors/price_list_price_spec.rb
Due: core, Core

Fix promotion action adding line item
  spree/core/app/models/concerns/spree/purchase/line_item_lookup.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/order.rb
  spree/core/spec/models/concerns/spree/purchase/line_item_lookup_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/promotion/actions/create_line_items_spec.rb
Due: core, Core

Fix product import dropping weight and dimension units
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Added weight and dimension units to the Store API variant
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/sdk/src/types/generated/Variant.ts
  packages/sdk/src/zod/generated/Variant.ts
  packages/seller-sdk/src/types/generated/Variant.ts
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/variant_serializer.rb
Due: api, API

Fix product form pickers not seeing newly created records
  packages/dashboard-core/src/products/use-product-form-data.ts
Due: none

Changed the variant packing card to explain itself when empty
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/src/products/variant-edit-sheet.tsx
Due: none

Fix bulk variant editor cutting off its right-hand columns
  packages/dashboard-core/src/products/bulk-variants-dialog.tsx
  packages/dashboard-ui/src/spree/bulk-variants-table.tsx
  packages/dashboard-ui/src/spree/data-grid/data-grid.tsx
Due: none

Fix the data grid header not sticking while scrolling
  packages/dashboard-core/src/products/bulk-variants-dialog.tsx
  packages/dashboard-ui/src/spree/data-grid/data-grid.tsx
Due: none

Fixed review findings on the variant packing card
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/src/products/use-product-form-data.ts
  packages/dashboard-core/src/products/variant-edit-sheet.tsx
Due: none

Added seller-owned package types
  docs/plans/6.0-b2b-wholesale-shipping.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-seller-onboarding-requirements.md
  docs/plans/6.0-seller-package-types.md
  docs/plans/decisions.md
  packages/seller-sdk/src/types/generated/PackageType.ts
  packages/seller-sdk/src/types/generated/index.ts
  spree/api/app/controllers/spree/api/v3/admin/package_types_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/package_types_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/package_type_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/app/models/spree/seller.rb
  spree/core/app/models/spree/seller_requirement.rb
  spree/core/app/models/spree/seller_requirements/package_type.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260908000001_add_seller_to_spree_package_types.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/lib/spree/testing_support/factories/package_type_factory.rb
  spree/core/lib/spree/testing_support/factories/seller_requirement_factory.rb
  spree/core/spec/models/spree/package_type_spec.rb
  spree/core/spec/models/spree/seller_requirement_spec.rb
  spree/core/spec/models/spree/seller_requirements_spec.rb
  spree/core/spec/models/spree/stock/package_spec.rb
  spree/core/spec/models/spree/variant/shared_catalog_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, api, Core, API

Documented the seller package types API
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/spec/integration/spree/api/v3/admin/package_types_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/package_types_spec.rb
  spree/core/config/locales/en.yml
Due: core

Added the packaging page to the seller panel
  packages/dashboard-core/src/api-client.ts
  packages/dashboard-core/src/hooks/use-package-types.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/src/pages/package-types.tsx
  packages/dashboard-core/src/schemas/package-type.ts
  packages/dashboard-core/src/tables/package-types.tsx
  packages/dashboard/src/hooks/use-package-types.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/package-types.tsx
  packages/dashboard/src/tables/package-types.tsx
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/src/api-client.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/nav/settings.ts
  packages/seller-dashboard/src/pages/onboarding.tsx
  packages/seller-dashboard/src/routeTree.gen.ts
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/settings/package-types.tsx
Due: none

Added the seller API for package types
  packages/seller-sdk/src/index.ts
  packages/seller-sdk/src/seller-client.ts
  spree/api/spec/controllers/spree/api/v3/admin/package_types_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/package_types_controller_spec.rb
  spree/core/spec/lib/spree/core/permission_configuration_spec.rb
Due: none

Added an end-to-end test for seller packaging
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/e2e/seller-package-types.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Documented packaging and seller-owned boxes
  docs/developer/core-concepts/delivery-setup.mdx
  docs/developer/core-concepts/sellers.mdx
  docs/plans/6.0-seller-package-types.md
Due: none

Fixed the operator losing writes on the packaging page
  packages/dashboard-core/src/api-client.ts
  packages/dashboard-core/src/hooks/use-package-types.ts
  packages/dashboard-core/src/pages/package-types.tsx
  packages/dashboard-core/src/products/use-product-form-data.ts
  packages/dashboard-core/src/schemas/package-type.ts
  packages/dashboard-core/src/tables/package-types.tsx
  packages/dashboard-ui/src/spree/resource-name-cell.tsx
  packages/dashboard/src/api-client-setup.test.ts
  packages/dashboard/src/api-client-setup.ts
  packages/dashboard/src/tables/package-types.tsx
  packages/seller-sdk/src/seller-client.ts
Due: none

Recorded the shipping-box requirement in the onboarding plan
  docs/plans/6.0-seller-onboarding-requirements.md
Due: none

Made the packaging migration roll back
  spree/core/db/migrate/20260908000001_add_seller_to_spree_package_types.rb
Due: core

Fixed silent save failures on the packaging form
  docs/api-reference/seller.yaml
  docs/plans/6.0-seller-onboarding-requirements.md
  packages/dashboard-core/src/hooks/use-package-types.ts
  packages/dashboard-core/src/pages/package-types.tsx
  packages/dashboard-core/src/products/use-product-form-data.ts
  spree/api/app/controllers/spree/api/v3/seller/package_types_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/package_types_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/package_types_spec.rb
Due: api, API

Applied the simplify pass
  packages/dashboard-core/src/api-client.ts
  packages/dashboard-core/src/hooks/use-package-types.ts
  packages/dashboard-core/src/pages/package-types.tsx
  packages/dashboard-core/src/products/use-product-form-data.ts
  packages/dashboard-core/src/schemas/package-type.ts
  packages/dashboard/src/api-client-setup.test.ts
  spree/api/spec/controllers/spree/api/v3/admin/sellers_controller_spec.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/app/models/spree/seller_requirements/package_type.rb
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/seller_requirements_spec.rb
Due: core, Core

Fixed the shipping-box check reading a stale association
  packages/dashboard-core/src/pages/package-types.tsx
  packages/dashboard-core/src/products/use-product-form-data.ts
  spree/core/app/models/spree/seller_requirements/package_type.rb
  spree/core/db/sample_data/fulfillment.rb
  spree/core/spec/models/spree/seller_requirements_spec.rb
Due: core, Core

Fixed the packaging list failing on PostgreSQL
  spree/api/app/controllers/spree/api/v3/seller/package_types_controller.rb
Due: api, API

Showed sellers only their own packaging
  docs/api-reference/seller.yaml
  docs/developer/core-concepts/delivery-setup.mdx
  docs/plans/6.0-seller-package-types.md
  packages/dashboard-core/src/hooks/use-package-types.ts
  packages/seller-sdk/src/seller-client.ts
  spree/api/app/controllers/spree/api/v3/seller/package_types_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/package_types_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/package_types_spec.rb
Due: api, API
