Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Remove super old rake tasks
  spree/core/lib/tasks/core.rake
Due: core, Core

Removed outdated and unused test helpers
  spree/core/lib/spree/testing_support/flash.rb
  spree/core/lib/spree/testing_support/flatpickr_capybara.rb
Due: none

Update base_helper.rb
  spree/core/app/helpers/spree/base_helper.rb
Due: core, Core

fix
  spree/core/app/helpers/spree/base_helper.rb
  spree/core/spec/helpers/base_helper_spec.rb
Due: core, Core

Remove previously deprecated TaxonImage and deprecate more old Image mthods
  spree/core/app/models/concerns/spree/image_methods.rb
  spree/core/app/models/spree/image.rb
  spree/core/app/models/spree/image/configuration/active_storage.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/app/models/spree/taxon_image.rb
  spree/core/app/models/spree/taxon_image/configuration/active_storage.rb
  spree/core/lib/spree/testing_support/factories/taxon_image_factory.rb
  spree/core/spec/models/spree/image_spec.rb
  spree/core/spec/models/spree/taxon_image_spec.rb
Due: core, Core

Update taxon.rb
  spree/core/app/models/spree/taxon.rb
Due: core, Core

Remove dead code `StoreFaviconImage` replaced in Spree 5 with active storage
  spree/core/app/models/spree/store_favicon_image.rb
  spree/core/lib/spree/testing_support/factories/favicon_image_factory.rb
  spree/core/spec/models/spree/store_favicon_image_spec.rb
Due: core, Core

Removed `StoreLogo` and `StoreMailerLogo` dead models
  spree/core/app/models/spree/store_logo.rb
  spree/core/app/models/spree/store_mailer_logo.rb
Due: core, Core

Deprecate old ability methods
  spree/core/app/models/spree/ability.rb
Due: core, Core

Even more deprecations
  spree/core/app/models/spree/shipment/emails.rb
Due: core, Core

Remove more dead code (#13681)
  spree/core/app/helpers/spree/base_helper.rb
  spree/core/app/models/concerns/spree/image_methods.rb
  spree/core/app/models/spree/ability.rb
  spree/core/app/models/spree/image.rb
  spree/core/app/models/spree/image/configuration/active_storage.rb
  spree/core/app/models/spree/shipment/emails.rb
  spree/core/app/models/spree/store_favicon_image.rb
  spree/core/app/models/spree/store_logo.rb
  spree/core/app/models/spree/store_mailer_logo.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/app/models/spree/taxon_image.rb
  spree/core/app/models/spree/taxon_image/configuration/active_storage.rb
  spree/core/lib/spree/testing_support/factories/favicon_image_factory.rb
  spree/core/lib/spree/testing_support/factories/taxon_image_factory.rb
  spree/core/lib/spree/testing_support/flash.rb
  spree/core/lib/spree/testing_support/flatpickr_capybara.rb
  spree/core/lib/tasks/core.rake
  spree/core/spec/helpers/base_helper_spec.rb
  spree/core/spec/models/spree/image_spec.rb
  spree/core/spec/models/spree/store_favicon_image_spec.rb
  spree/core/spec/models/spree/taxon_image_spec.rb
Due: core, Core

Remove obsolet `BogusSimple` payment method
  spree/core/app/models/spree/gateway/bogus_simple.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/testing_support/factories/payment_method_factory.rb
  spree/core/spec/models/spree/gateway/bogus_simple.rb
Due: core, Core

Remove obsolet `BogusSimple` payment method (#13682)
  spree/core/app/models/spree/gateway/bogus_simple.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/testing_support/factories/payment_method_factory.rb
  spree/core/spec/models/spree/gateway/bogus_simple.rb
Due: core, Core

Remove page builder leftovers
  server/config/initializers/spree.rb
  spree/core/app/models/concerns/spree/has_one_link.rb
  spree/core/app/models/concerns/spree/linkable.rb
  spree/core/app/models/concerns/spree/previewable.rb
  spree/core/app/models/spree/ability.rb
  spree/core/app/models/spree/permission_sets/default_customer.rb
  spree/core/lib/spree/core.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
Due: core, Core

Remove page builder leftovers (#13683)
  server/config/initializers/spree.rb
  spree/core/app/models/concerns/spree/has_one_link.rb
  spree/core/app/models/concerns/spree/linkable.rb
  spree/core/app/models/concerns/spree/previewable.rb
  spree/core/app/models/spree/ability.rb
  spree/core/app/models/spree/permission_sets/default_customer.rb
  spree/core/lib/spree/core.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
Due: core, Core

Refactor Data Feeds
  spree/api/app/controllers/spree/api/v3/store/data_feeds_controller.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/store/data_feeds_controller_spec.rb
  spree/core/app/models/spree/data_feed.rb
  spree/core/app/models/spree/data_feed/google.rb
  spree/core/app/presenters/spree/data_feeds/base_presenter.rb
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/app/services/spree/data_feeds/google/optional_attributes.rb
  spree/core/app/services/spree/data_feeds/google/optional_sub_attributes.rb
  spree/core/app/services/spree/data_feeds/google/products_list.rb
  spree/core/app/services/spree/data_feeds/google/required_attributes.rb
  spree/core/app/services/spree/data_feeds/google/rss.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/data_feed/google_spec.rb
  spree/core/spec/presenters/spree/data_feeds/google_presenter_spec.rb
  spree/core/spec/services/spree/data_feeds/google/required_attributes_spec.rb
  spree/core/spec/services/spree/data_feeds/google/rss_spec.rb
Due: core, api, Core, API

Refactor Data Feeds (#13684)
  spree/api/app/controllers/spree/api/v3/store/data_feeds_controller.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/store/data_feeds_controller_spec.rb
  spree/core/app/models/spree/data_feed.rb
  spree/core/app/models/spree/data_feed/google.rb
  spree/core/app/presenters/spree/data_feeds/base_presenter.rb
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/app/services/spree/data_feeds/google/optional_attributes.rb
  spree/core/app/services/spree/data_feeds/google/optional_sub_attributes.rb
  spree/core/app/services/spree/data_feeds/google/products_list.rb
  spree/core/app/services/spree/data_feeds/google/required_attributes.rb
  spree/core/app/services/spree/data_feeds/google/rss.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/data_feed/google_spec.rb
  spree/core/spec/presenters/spree/data_feeds/google_presenter_spec.rb
  spree/core/spec/services/spree/data_feeds/google/required_attributes_spec.rb
  spree/core/spec/services/spree/data_feeds/google/rss_spec.rb
Due: core, api, Core, API

Move ActionText video embed functionality from core to admin gem
  spree/admin/app/models/action_text/video_embed.rb
  spree/admin/app/views/action_text/video_embeds/_thumbnail.html.erb
  spree/admin/app/views/action_text/video_embeds/_video_embed.html.erb
  spree/admin/app/views/layouts/action_text/contents/_content.html.erb
  spree/admin/config/initializers/oembed.rb
  spree/admin/config/locales/en.yml
  spree/admin/db/migrate/20250217171018_create_action_text_video_embeds.rb
  spree/admin/lib/spree/admin.rb
  spree/admin/spree_admin.gemspec
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core.rb
  spree/core/spree_core.gemspec
Due: core, admin, Core, Admin

Add migrations initializer to admin engine
  spree/admin/lib/spree/admin/engine.rb
Due: admin, Admin

Fixes
  spree/admin/app/views/spree/admin/shared/sidebar/_storefront_nav.html.erb
  spree/api/lib/spree/api/dependencies.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/admin_user_spec.rb
Due: core, api, admin, Core, API, Admin

Move ActionText video embed functionality from core to admin gem (#13685)
  spree/admin/app/models/action_text/video_embed.rb
  spree/admin/app/views/action_text/video_embeds/_thumbnail.html.erb
  spree/admin/app/views/action_text/video_embeds/_video_embed.html.erb
  spree/admin/app/views/layouts/action_text/contents/_content.html.erb
  spree/admin/config/initializers/oembed.rb
  spree/admin/config/locales/en.yml
  spree/admin/db/migrate/20250217171018_create_action_text_video_embeds.rb
  spree/admin/lib/spree/admin.rb
  spree/admin/lib/spree/admin/engine.rb
  spree/admin/spree_admin.gemspec
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core.rb
  spree/core/spree_core.gemspec
Due: core, admin, Core, Admin

Added changesets to SDK/Next packages
  packages/next/.changeset/remove-posts-types.md
  packages/sdk/.changeset/remove-posts-types.md
Due: none

Remove deprecated admin legacy nav
  spree/admin/app/helpers/spree/admin/navigation_helper.rb
  spree/admin/app/views/spree/admin/shared/sidebar/_customers_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_integrations_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_orders_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_products_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_promotions_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_returns_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_store_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_storefront_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_vendors_nav.html.erb
  spree/admin/spec/helpers/spree/admin/navigation_helper_spec.rb
Due: admin, Admin

Remove deprecated admin legacy nav (#13687)
  spree/admin/app/helpers/spree/admin/navigation_helper.rb
  spree/admin/app/views/spree/admin/shared/sidebar/_customers_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_integrations_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_orders_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_products_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_promotions_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_returns_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_store_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_storefront_nav.html.erb
  spree/admin/app/views/spree/admin/shared/sidebar/_vendors_nav.html.erb
  spree/admin/spec/helpers/spree/admin/navigation_helper_spec.rb
Due: admin, Admin

Extract Data Feeds feature to spree_data_feeds extension
  spree/api/app/controllers/spree/api/v3/store/data_feeds_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/data_feeds_controller_spec.rb
  spree/core/app/models/spree/data_feed.rb
  spree/core/app/models/spree/data_feed/google.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/presenters/spree/data_feeds/base_presenter.rb
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/db/migrate/20221229132350_create_spree_data_feed_settings.rb
  spree/core/db/migrate/20230415155958_rename_data_feed_settings_table.rb
  spree/core/db/migrate/20230415160828_rename_data_feed_table_columns.rb
  spree/core/db/migrate/20230415161226_add_indexes_to_data_feeds_table.rb
  spree/core/db/migrate/20230512094803_rename_data_feeds_column_provider_to_type.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/testing_support/factories/google_data_feed_factory.rb
  spree/core/spec/lib/spree/core_environment_spec.rb
  spree/core/spec/models/spree/data_feed/google_spec.rb
  spree/core/spec/presenters/spree/data_feeds/google_presenter_spec.rb
Due: core, api, Core, API

Remove TestMailer and emails.rake
  server/Gemfile.lock
  spree/core/app/mailers/spree/test_mailer.rb
  spree/core/app/views/spree/test_mailer/test_email.html.erb
  spree/core/app/views/spree/test_mailer/test_email.text.erb
  spree/core/config/locales/en.yml
  spree/emails/lib/tasks/email.rake
  spree/emails/spec/mailers/spree/test_mailer_spec.rb
Due: core, emails, Core, Emails

Extract Data Feeds to spree_data_feeds extension (#13688)
  spree/api/app/controllers/spree/api/v3/store/data_feeds_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/data_feeds_controller_spec.rb
  spree/core/app/models/spree/data_feed.rb
  spree/core/app/models/spree/data_feed/google.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/presenters/spree/data_feeds/base_presenter.rb
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/db/migrate/20221229132350_create_spree_data_feed_settings.rb
  spree/core/db/migrate/20230415155958_rename_data_feed_settings_table.rb
  spree/core/db/migrate/20230415160828_rename_data_feed_table_columns.rb
  spree/core/db/migrate/20230415161226_add_indexes_to_data_feeds_table.rb
  spree/core/db/migrate/20230512094803_rename_data_feeds_column_provider_to_type.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/testing_support/factories/google_data_feed_factory.rb
  spree/core/spec/lib/spree/core_environment_spec.rb
  spree/core/spec/models/spree/data_feed/google_spec.rb
  spree/core/spec/presenters/spree/data_feeds/google_presenter_spec.rb
Due: core, api, Core, API

Cleanup server app
  server/Gemfile.lock
  server/db/schema.rb
Due: none

Remove TestMailer and emails.rake (#13689)
  spree/core/app/mailers/spree/test_mailer.rb
  spree/core/app/views/spree/test_mailer/test_email.html.erb
  spree/core/app/views/spree/test_mailer/test_email.text.erb
  spree/core/config/locales/en.yml
  spree/emails/lib/tasks/email.rake
  spree/emails/spec/mailers/spree/test_mailer_spec.rb
Due: core, emails, Core, Emails

Update schema.rb
  server/db/schema.rb
Due: none

remove properties migrations
  server/db/schema.rb
  spree/core/db/migrate/20210914000000_spree_four_three.rb
Due: core

remove old migrations
  spree/core/db/migrate/20210915064329_add_metadata_to_spree_multiple_tables.rb
  spree/core/db/migrate/20240914153106_add_display_on_to_spree_properties.rb
  spree/core/db/migrate/20240915144935_add_position_to_spree_properties.rb
  spree/core/db/migrate/20250127083740_add_kind_to_spree_properties.rb
Due: core

Update dependencies.rb
  spree/api/lib/spree/api/dependencies.rb
Due: api, API

Small Admin UI fixes
  spree/admin/app/views/spree/admin/payment_methods/index.html.erb
  spree/core/config/locales/en.yml
Due: core, admin, Admin

Bump spree to 5.4.0.beta2
  spree/core/lib/spree/core/version.rb
Due: core, Core

Remove deprecated Spree::Core::Importer
  server/Gemfile.lock
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/importer.rb
  spree/core/lib/spree/core/importer/order.rb
  spree/core/lib/spree/core/importer/product.rb
  spree/core/spec/lib/spree/core/importer/order_spec.rb
Due: core, Core
