Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Add patch changesets for modified TS packages
  .changeset/admin-sdk-user-stores.md
  .changeset/cli-admin-spec-user-stores.md
  .changeset/store-switcher-view-store-gating.md
Due: none

Dashboard: gate "View store" links on storefront URL, make the sidebar store switcher real (#14357)
  .changeset/admin-sdk-user-stores.md
  .changeset/cli-admin-spec-user-stores.md
  .changeset/store-switcher-view-store-gating.md
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/generated/AdminUser.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/components/store-switcher.tsx
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-core/src/lib/storefront.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/admin_users_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/admin_user_serializer.rb
  spree/api/lib/spree/api/openapi/schema_helper.rb
  spree/api/spec/serializers/spree/api/v3/admin/admin_user_serializer_spec.rb
Due: api, API

Align example plugin brands list with core list pages
  packages/dashboard-plugin-example/src/locales/en.json
  packages/dashboard-plugin-example/src/pages/brands-list.tsx
Due: none

Drop the card wrapper on dashboard auth forms
  packages/dashboard/src/routes/accept-invitation.$invitationId.tsx
  packages/dashboard/src/routes/login.tsx
Due: none

Redesign dashboard auth screens as a two-column layout
  packages/dashboard/src/assets/login_sidebar_background.png
  packages/dashboard/src/components/spree/auth-shell.tsx
  packages/dashboard/src/routes/accept-invitation.$invitationId.tsx
Due: none

UI fixes
  packages/dashboard/src/assets/login_sidebar_background.png
  packages/dashboard/src/components/spree/auth-shell.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/forgot-password.tsx
Due: none

Address review: JSDoc on BrandsListPage, typed list-params cast
  packages/dashboard-plugin-example/src/client.ts
  packages/dashboard-plugin-example/src/pages/brands-list.tsx
Due: none

Keep a cleared storefront_access preference nil
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
  spree/core/app/models/concerns/spree/stores/setup.rb
  spree/core/app/models/spree/channel/gating.rb
  spree/core/lib/spree/core/preferences/preferable.rb
Due: core, Core

Nicer login screen layout for react dashboard (#14358)
  packages/dashboard/src/assets/login_sidebar_background.png
  packages/dashboard/src/components/spree/auth-shell.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/accept-invitation.$invitationId.tsx
  packages/dashboard/src/routes/forgot-password.tsx
  packages/dashboard/src/routes/login.tsx
Due: none

Simplify BrandsListPage layout using ResourceTable's built-in toolbar (#14359)
  packages/dashboard-plugin-example/src/client.ts
  packages/dashboard-plugin-example/src/locales/en.json
  packages/dashboard-plugin-example/src/pages/brands-list.tsx
Due: none

Cover clearing storefront_access with a blank string
  spree/core/spec/models/spree/channel/gating_spec.rb
Due: none

Expose `product_id` and Product at Wishlist Item API
  .changeset/open-parrots-search.md
  docs/api-reference/store.yaml
  packages/sdk/src/types/generated/WishlistItem.ts
  packages/sdk/src/zod/generated/WishlistItem.ts
  spree/api/app/serializers/spree/api/v3/wishlist_item_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/wishlist_items_controller_spec.rb
Due: api, API

update docs
  docs/api-reference/store.yaml
  packages/sdk/examples/wishlists/get.ts
  spree/api/spec/integration/spree/api/v3/store/wishlists_spec.rb
Due: none

Expose `product_id` and Product at Wishlist Item API (#14361)
  .changeset/open-parrots-search.md
  docs/api-reference/store.yaml
  packages/sdk/examples/wishlists/get.ts
  packages/sdk/src/types/generated/WishlistItem.ts
  packages/sdk/src/zod/generated/WishlistItem.ts
  spree/api/app/serializers/spree/api/v3/wishlist_item_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/wishlist_items_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/wishlists_spec.rb
Due: api, API

Make storefront_access preference nullable to inherit store default (#14360)
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
  spree/core/app/models/concerns/spree/stores/setup.rb
  spree/core/app/models/spree/channel/gating.rb
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/channel/gating_spec.rb
Due: core, Core

Fix Store API credit card scoping
  spree/api/app/controllers/spree/api/v3/store/customer/credit_cards_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/credit_cards_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/credit_cards_spec.rb
Due: api, API

Fix store credit card scope (#14362)
  spree/api/app/controllers/spree/api/v3/store/customer/credit_cards_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/credit_cards_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/credit_cards_spec.rb
Due: api, API

Update the 'prepare_product_params' method to check if the class exists before instantiating it
  spree/admin/app/controllers/spree/admin/products_controller.rb
Due: admin, Admin

Add ability to download import template / example CSV in admin UI
  spree/admin/app/views/spree/admin/imports/new.html.erb
  spree/admin/config/locales/en.yml
  spree/admin/spec/controllers/spree/admin/imports_controller_spec.rb
  spree/api/app/controllers/spree/api/v3/admin/imports_controller.rb
  spree/core/app/models/spree/import.rb
  spree/core/spec/models/spree/import_spec.rb
Due: core, api, admin, Core, API, Admin

fixes
  .changeset/import-sheet-example-csv.md
  packages/dashboard-core/src/components/import-button.tsx
  packages/dashboard-core/src/hooks/use-import.ts
  packages/dashboard-core/src/lib/sample-csv.ts
  packages/dashboard-core/src/locales/en.json
  spree/api/app/controllers/spree/api/v3/admin/imports_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/imports_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/imports_spec.rb
  spree/core/app/models/spree/import.rb
  spree/core/spec/models/spree/import_spec.rb
Due: core, api, Core, API

Add ability to download import template / example CSV in admin UI (#14364)
  .changeset/import-sheet-example-csv.md
  packages/dashboard-core/src/components/import-button.tsx
  packages/dashboard-core/src/hooks/use-import.ts
  packages/dashboard-core/src/lib/sample-csv.ts
  packages/dashboard-core/src/locales/en.json
  spree/admin/app/views/spree/admin/imports/new.html.erb
  spree/admin/config/locales/en.yml
  spree/admin/spec/controllers/spree/admin/imports_controller_spec.rb
  spree/api/app/controllers/spree/api/v3/admin/imports_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/imports_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/imports_spec.rb
  spree/core/app/models/spree/import.rb
  spree/core/spec/models/spree/import_spec.rb
Due: core, api, admin, Core, API, Admin

Fix backfill_product_tag_tenants rake task
  spree/core/lib/tasks/product_tag_tenants.rake
  spree/core/spec/lib/tasks/product_tag_tenants_spec.rb
Due: core, Core

Fix backfill_product_tag_tenants rake task (#14366)
  spree/core/lib/tasks/product_tag_tenants.rake
  spree/core/spec/lib/tasks/product_tag_tenants_spec.rb
Due: core, Core

Fix import locale spec broken by master-variant removal
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
Due: none

Refactor `ImportRunner` also added option to run imports inline
  spree/core/app/jobs/spree/imports/create_rows_job.rb
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/jobs/spree/imports/process_rows_job.rb
  spree/core/app/models/spree/import.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/app/services/spree/sample_data/helper.rb
  spree/core/app/services/spree/sample_data/import_builder.rb
  spree/core/app/services/spree/sample_data/import_runner.rb
  spree/core/app/services/spree/sample_data/loader.rb
  spree/core/spec/services/spree/sample_data/import_runner_spec.rb
Due: core, Core

Speed-up seed/sample States creation + eliminate duplicates when re-run
  spree/core/app/services/spree/seeds/allowed_origins.rb
  spree/core/app/services/spree/seeds/states.rb
  spree/core/db/migrate/20260727000001_add_unique_country_abbr_index_to_spree_states.rb
  spree/core/spec/services/spree/seeds/states_spec.rb
Due: core, Core

docs(plans): finalize the 6.0 split-adjustments design
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-split-adjustments.md
  docs/plans/decisions.md
  spree/core/spec/models/spree/promotion_spec.rb
Due: none

docs(plans): reconcile split-adjustments design with the shipped Phase 2
  docs/plans/6.0-split-adjustments.md
  spree/core/spec/models/spree/return_item_spec.rb
Due: none

feat(core): re-run free-shipping activation on delivery rate selection
  spree/api/spec/controllers/spree/api/v3/store/carts/fulfillments_controller_spec.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

feat(core): read fulfillment discounts from typed lines
  spree/core/app/models/spree/shipment.rb
  spree/core/app/models/spree/shipping_rate.rb
  spree/core/app/services/spree/cart/add_item.rb
  spree/core/spec/services/spree/cart/add_item_spec.rb
Due: core, Core

feat(core): move order and promotion readers to typed adjustment lines
  spree/core/app/models/spree/calculator/returns/default_refund_amount.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order/checkout.rb
  spree/core/app/models/spree/order_merger.rb
  spree/core/app/models/spree/order_promotion.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion_handler/coupon.rb
  spree/core/app/models/spree/promotion_handler/page.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/services/spree/cart/empty.rb
  spree/core/app/services/spree/checkout/get_shipping_rates.rb
  spree/core/app/services/spree/coupon_codes/coupon_codes_handler.rb
  spree/core/app/services/spree/orders/build_shipments.rb
  spree/core/spec/models/spree/calculator/default_tax_spec.rb
  spree/core/spec/models/spree/calculator/refunds/default_refund_amount_spec.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/order/adjustments_spec.rb
  spree/core/spec/models/spree/order/finalizing_spec.rb
  spree/core/spec/models/spree/order/state_machine_spec.rb
  spree/core/spec/models/spree/order/totals_spec.rb
  spree/core/spec/models/spree/order_contents_spec.rb
  spree/core/spec/models/spree/order_promotion_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/promotion_handler/coupon_spec.rb
  spree/core/spec/models/spree/promotion_handler/free_shipping_spec.rb
  spree/core/spec/models/spree/promotion_handler/page_spec.rb
  spree/core/spec/models/spree/promotion_spec.rb
  spree/core/spec/models/spree/reports/products_performance_spec.rb
  spree/core/spec/models/spree/reports/sales_total_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
  spree/core/spec/services/spree/orders/create_spec.rb
Due: core, Core

feat(core): deprecate legacy adjustment readers, port emails and seeds
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_merger.rb
  spree/core/app/models/spree/order_updater.rb
  spree/core/app/models/spree/permission_sets/order_display.rb
  spree/core/app/models/spree/permission_sets/order_management.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/app/services/spree/cart/empty.rb
  spree/core/db/sample_data/orders.rb
  spree/core/lib/spree/core/controller_helpers/order.rb
  spree/core/spec/models/spree/adjustment_spec.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/promotion_handler/coupon_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/services/spree/cart/empty_spec.rb
  spree/emails/app/views/spree/shared/_purchased_items_table.html.erb
  spree/emails/app/views/spree/shared/_purchased_items_table.text.erb
Due: core, emails, Core, Emails

feat(core): write tax and promotion results as typed adjustment lines
  spree/core/app/models/concerns/spree/adjustment_source.rb
  spree/core/app/models/spree/promotion/actions/create_adjustment.rb
  spree/core/app/models/spree/promotion/actions/create_item_adjustments.rb
  spree/core/app/models/spree/promotion/actions/free_shipping.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/spec/models/spree/adjustable/adjuster/promotion_spec.rb
  spree/core/spec/models/spree/promotion/actions/create_adjustment_spec.rb
  spree/core/spec/models/spree/promotion/actions/create_item_adjustments_spec.rb
  spree/core/spec/models/spree/promotion/actions/free_shipping_spec.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
  spree/core/spec/support/concerns/adjustment_source.rb
Due: core, Core

feat(core): replace adjustment recalculation with the typed adjusters pipeline
  spree/core/app/models/spree/adjustable/adjuster/base.rb
  spree/core/app/models/spree/adjustable/adjuster/promotion.rb
  spree/core/app/models/spree/adjustable/adjuster/tax.rb
  spree/core/app/models/spree/adjustable/adjustments_updater.rb
  spree/core/app/models/spree/adjustable/promotion_accumulator.rb
  spree/core/app/models/spree/adjusters/base.rb
  spree/core/app/models/spree/adjusters/order_level_promotion.rb
  spree/core/app/models/spree/adjusters/promotion.rb
  spree/core/app/models/spree/adjusters/tax.rb
  spree/core/app/models/spree/adjustment.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_updater.rb
  spree/core/app/models/spree/promotion/actions/create_adjustment.rb
  spree/core/app/models/spree/promotion/actions/create_item_adjustments.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/app/services/spree/cart/recalculate.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/adjustable/adjuster/base_spec.rb
  spree/core/spec/models/spree/adjustable/adjuster/tax_spec.rb
  spree/core/spec/models/spree/adjustable/adjustments_updater_spec.rb
  spree/core/spec/models/spree/adjusters/base_spec.rb
  spree/core/spec/models/spree/adjusters/order_level_promotion_spec.rb
  spree/core/spec/models/spree/adjusters/promotion_spec.rb
  spree/core/spec/models/spree/adjusters/tax_spec.rb
  spree/core/spec/models/spree/adjustment_spec.rb
  spree/core/spec/models/spree/discount_line_spec.rb
  spree/core/spec/models/spree/order_updater_spec.rb
  spree/core/spec/models/spree/promotion_handler/cart_spec.rb
  spree/core/spec/models/spree/promotion_spec.rb
  spree/core/spec/models/spree/promotion_tax_recalculation_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
Due: core, Core

feat(core): add typed adjustment line models
  spree/core/app/models/concerns/spree/adjustment_line.rb
  spree/core/app/models/spree/discount_line.rb
  spree/core/app/models/spree/fee.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/app/models/spree/tax_line.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/testing_support/factories/discount_line_factory.rb
  spree/core/lib/spree/testing_support/factories/fee_factory.rb
  spree/core/lib/spree/testing_support/factories/tax_line_factory.rb
  spree/core/spec/models/spree/discount_line_spec.rb
  spree/core/spec/models/spree/fee_spec.rb
  spree/core/spec/models/spree/tax_line_spec.rb
  spree/core/spec/support/concerns/adjustment_line.rb
Due: core, Core

feat(core): backfill typed adjustment lines from legacy rows
  docs/plans/6.0-split-adjustments.md
  spree/core/app/models/spree/promotion/actions/create_adjustment.rb
  spree/core/app/services/spree/adjustments/distribute_amount.rb
  spree/core/lib/tasks/migrate_adjustments.rake
  spree/core/spec/lib/tasks/migrate_adjustments_spec.rb
Due: core, Core

feat(core): add typed adjustment tables (split-adjustments Phase 1)
  spree/core/db/migrate/20260722000001_create_typed_adjustment_tables.rb
Due: core

fix(api): serialize fresh per-line totals and nest fulfillment lines
  packages/admin-sdk/src/types/generated/Fulfillment.ts
  packages/sdk/src/types/generated/Fulfillment.ts
  packages/sdk/src/zod/generated/Fulfillment.ts
  spree/api/app/controllers/concerns/spree/api/v3/cart_resolvable.rb
  spree/api/app/serializers/spree/api/v3/fulfillment_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/items_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/fulfillment_serializer_spec.rb
Due: api, API

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
