Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Rebuild the transfer and purchase order screens
  packages/dashboard/e2e/stock-transfers.spec.ts
  packages/dashboard/src/components/spree/purchase-order-form.tsx
  packages/dashboard/src/components/spree/stock-transfer-form.tsx
  packages/dashboard/src/components/spree/variant-line-editor.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId/edit.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/$purchaseOrderId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/purchase-orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId/edit.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/$transferId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers/new.tsx
Due: none

Give inventory its own place in the sidebar
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/src/components/spree/supplier-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/suppliers.tsx
Due: none

Fix: stop Products lighting up alongside Inventory
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/e2e/stock-transfers.spec.ts
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/purchase-orders/$purchaseOrderId/edit.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/purchase-orders/$purchaseOrderId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/purchase-orders/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/purchase-orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/suppliers.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/transfers/$transferId/edit.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/transfers/$transferId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/transfers/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/transfers/new.tsx
  packages/dashboard/src/search/create-actions.ts
Due: none

Plan how a delivery is recorded, and what the dock can say about it
  docs/plans/6.0-inventory-operations.md
  docs/plans/decisions.md
Due: none

Create a supplier without leaving the purchase order
  packages/dashboard-core/src/components/resource-combobox.tsx
  packages/dashboard/src/components/spree/purchase-order-form.tsx
  packages/dashboard/src/components/spree/stock-transfer-form.tsx
  packages/dashboard/src/components/spree/variant-line-editor.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Lay out deliveries the way fulfillments are laid out
  packages/dashboard/src/components/spree/stock-receipts-card.tsx
Due: none

Count a delivery in the way the dock does
  docs/developer/core-concepts/inventory.mdx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/e2e/stock-transfers.spec.ts
  packages/dashboard/src/components/spree/close-short-dialog.tsx
  packages/dashboard/src/components/spree/inventory-status-badge.tsx
  packages/dashboard/src/components/spree/purchase-order-form.tsx
  packages/dashboard/src/components/spree/receive-delivery-card.tsx
  packages/dashboard/src/components/spree/stock-receipts-card.tsx
  packages/dashboard/src/hooks/use-purchase-orders.ts
  packages/dashboard/src/hooks/use-stock-transfers.ts
  packages/dashboard/src/lib/import-types.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/purchase-orders/$purchaseOrderId/edit.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/purchase-orders/$purchaseOrderId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/purchase-orders/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/purchase-orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/transfers/$transferId/index.tsx
  packages/dashboard/src/schemas/inventory-operations.ts
  packages/dashboard/src/tables/purchase-orders.tsx
  packages/dashboard/src/tables/stock-transfers.tsx
Due: none

Lead each exported purchase order row with the order, then the line
  spree/core/app/presenters/spree/csv/purchase_order_item_presenter.rb
  spree/core/spec/models/spree/exports/purchase_orders_spec.rb
Due: core, Core

Make a whole variant line the link, and link delivery lines too
  packages/admin-sdk/src/types/generated/StockReceiptItem.ts
  packages/dashboard/src/components/spree/stock-receipts-card.tsx
  packages/dashboard/src/components/spree/variant-link.tsx
  spree/api/app/serializers/spree/api/v3/admin/stock_receipt_item_serializer.rb
Due: api, API

UI fixes to the receive stock card
  packages/dashboard/src/components/spree/receive-delivery-card.tsx
Due: none

Regenerate the admin OpenAPI spec for the delivery line's product
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Removed the command palette Page Up and Page Down end-to-end test
  packages/dashboard/e2e/command-palette.spec.ts
Due: none

Bring the inventory guide up to date with purchasing and deliveries
  docs/developer/core-concepts/inventory.mdx
Due: none

Move a product's stock history behind a button and link each row to its cause
  packages/admin-sdk/src/types/generated/StockMovement.ts
  packages/dashboard-core/src/products/product-form-cards.tsx
  packages/dashboard/src/components/spree/stock-history-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  spree/api/app/controllers/spree/api/v3/admin/stock_movements_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_movement_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_movements_controller_spec.rb
Due: api, API

Document the cause numbers on stock movements
  docs/api-reference/admin.yaml
Due: none

Record the self-registration implementation decisions
  docs/plans/6.0-b2b-company-self-registration.md
  docs/plans/decisions.md
Due: none

Add company self-registration and the activation policy
  spree/core/app/models/concerns/spree/purchase/company.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/channel/gating.rb
  spree/core/app/models/spree/checkout/default_requirements.rb
  spree/core/app/models/spree/companies/activation_policy.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/services/spree/seeds/customer_groups.rb
  spree/core/app/workflows/spree/companies/register.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/testing_support/company_activation_policy.rb
  spree/core/spec/models/concerns/spree/purchase/company_spec.rb
  spree/core/spec/models/spree/catalog_for_buyer_spec.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/models/spree/channel/gating_spec.rb
  spree/core/spec/models/spree/checkout/requirements_spec.rb
  spree/core/spec/models/spree/companies/activation_policy_spec.rb
  spree/core/spec/spec_helper.rb
  spree/core/spec/workflows/spree/companies/register_spec.rb
Due: core, Core

Give a variant its own review lifecycle and open products to sellers
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-seller-master-catalog-listings.md
  docs/plans/6.0-seller-product-submission.md
  docs/plans/decisions.md
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product_submission.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/product_submissions/close.rb
  spree/core/app/services/spree/products/select_buy_box.rb
  spree/core/app/workflows/spree/variants/activate.rb
  spree/core/app/workflows/spree/variants/approve.rb
  spree/core/app/workflows/spree/variants/archive.rb
  spree/core/app/workflows/spree/variants/draft.rb
  spree/core/app/workflows/spree/variants/propose.rb
  spree/core/app/workflows/spree/variants/reject.rb
  spree/core/app/workflows/spree/variants/update.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260905000001_add_open_to_sellers_to_spree_products.rb
  spree/core/db/migrate/20260905000002_add_status_to_spree_variants.rb
  spree/core/db/migrate/20260905000003_add_variant_to_spree_product_submissions.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/backfill_variant_statuses.rake
  spree/core/spec/models/spree/variant_status_visibility_spec.rb
  spree/core/spec/workflows/spree/variants/review_spec.rb
  spree/providers/meilisearch/app/presenters/spree_meilisearch/product_presenter.rb
Due: core, api, Core, API

Give the seller panel an Offers section
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/products/variant-field-sections.tsx
  packages/sdk/src/zod/generated/OptionType.ts
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/src/components/offer-status-card.tsx
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/$variantId.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/index.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/new.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  packages/seller-dashboard/src/tables/offers.tsx
  spree/api/app/serializers/spree/api/v3/option_type_serializer.rb
Due: api, API

Let a seller list and manage offers through the API
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/sdk/src/types/generated/Customer.ts
  packages/sdk/src/zod/generated/Customer.ts
  packages/sdk/src/zod/generated/Order.ts
  packages/sdk/src/zod/generated/index.ts
  packages/seller-sdk/src/index.ts
  packages/seller-sdk/src/seller-client.ts
  spree/api/app/controllers/concerns/spree/api/v3/seller/catalog_params.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/master_products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/product_submission_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/variant_serializer.rb
  spree/api/config/locales/en.yml
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/master_products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/variants_controller_spec.rb
  spree/core/app/models/spree/variant.rb
Due: core, api, Core, API

Document the offer endpoints and ship them in the seller SDK
  spree/api/spec/integration/spree/api/v3/seller/offers_spec.rb
Due: none

Show offers in the operator dashboard, and document the shared catalog
  docs/developer/core-concepts/sellers.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard-core/src/products/product-form-mapping.ts
  packages/dashboard-core/src/products/product-schema.ts
  packages/dashboard-core/src/products/product-types.ts
  packages/dashboard/src/components/spree/products/product-marketplace-card.tsx
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/dashboard/src/components/spree/products/product-seller-card.tsx
  packages/dashboard/src/hooks/use-products.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
  packages/dashboard/src/tables/products.tsx
Due: none

Apply the simplify pass
  packages/dashboard/src/hooks/use-sellers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  spree/api/app/controllers/concerns/spree/api/v3/status_actions.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/app/services/spree/api/v3/filters_aggregator.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product_submission.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/app/services/spree/products/select_buy_box.rb
  spree/core/db/migrate/20260905000002_add_status_to_spree_variants.rb
  spree/core/spec/models/spree/variant_status_visibility_spec.rb
  spree/providers/meilisearch/app/presenters/spree_meilisearch/product_presenter.rb
Due: core, api, Core, API

Address the first review round
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/dashboard/src/tables/products.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/workflows/spree/variants/archive.rb
  spree/core/app/workflows/spree/variants/draft.rb
  spree/core/config/locales/en.yml
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: core, api, Core, API

Expose company registration and the pricing_access code on the Store API
  packages/admin-sdk/src/types/generated/LineItem.ts
  packages/sdk/examples/companies/create.ts
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/generated/LineItem.ts
  packages/sdk/src/types/generated/Product.ts
  packages/sdk/src/zod/generated/Cart.ts
  packages/sdk/src/zod/generated/LineItem.ts
  packages/sdk/src/zod/generated/Order.ts
  packages/sdk/src/zod/generated/Product.ts
  packages/sdk/src/zod/generated/Variant.ts
  spree/api/app/controllers/concerns/spree/api/v3/storefront_gating.rb
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/variant_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/companies_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/storefront_gating_spec.rb
  spree/api/spec/integration/spree/api/v3/store/companies_spec.rb
  spree/api/spec/spec_helper.rb
Due: api, API

Keep an unapproved offer out of the product's sale state
  docs/plans/6.0-seller-master-catalog-listings.md
  spree/core/app/models/spree/product.rb
  spree/core/spec/models/spree/variant_status_visibility_spec.rb
Due: core, Core

Fix the offers page heading, a missing label and the sample offer
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/tables/offers.tsx
Due: none

Offer the approval_required posture in the dashboard
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/channel.ts
  packages/dashboard/src/schemas/store.ts
Due: none

Address the second review round
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  spree/api/app/controllers/concerns/spree/api/v3/seller/catalog_params.rb
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/variants_controller_spec.rb
  spree/core/app/services/spree/products/duplicator.rb
  spree/core/app/workflows/spree/variants/update.rb
  spree/core/spec/services/spree/products/duplicator_spec.rb
Due: core, api, Core, API

Record what the seller offers work settled
  docs/plans/6.0-seller-master-catalog-listings.md
  docs/plans/decisions.md
Due: none

Simplify the activation mechanisms
  spree/api/app/controllers/concerns/spree/api/v3/storefront_gating.rb
  spree/core/app/models/concerns/spree/purchase/company.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/checkout/default_requirements.rb
  spree/core/app/models/spree/companies/activation_policy.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/workflows/spree/companies/register.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/models/concerns/spree/purchase/company_spec.rb
  spree/core/spec/models/spree/checkout/requirements_spec.rb
Due: core, api, Core, API

Document company self-registration, activation and the approval posture
  docs/developer/core-concepts/channels.mdx
  docs/developer/core-concepts/companies.mdx
Due: none

Harden the activation mechanisms after review
  spree/api/app/controllers/concerns/spree/api/v3/storefront_gating.rb
  spree/api/app/controllers/spree/api/v3/store/companies_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/gift_cards_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/companies_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/storefront_gating_spec.rb
  spree/core/app/models/concerns/spree/purchase/company.rb
  spree/core/app/models/spree/checkout/default_requirements.rb
  spree/core/app/models/spree/companies/activation_policy.rb
  spree/core/app/workflows/spree/companies/register.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/testing_support/company_activation_policy.rb
  spree/core/spec/models/concerns/spree/purchase/company_spec.rb
  spree/core/spec/models/spree/checkout/requirements_spec.rb
  spree/core/spec/models/spree/companies/activation_policy_spec.rb
Due: core, api, Core, API

Address review notes: document the posture value, cross-reference the retarget
  docs/plans/decisions.md
  packages/dashboard/src/schemas/channel.ts
  packages/dashboard/src/schemas/store.ts
Due: none

Refine the activation gating after the second review
  docs/plans/6.0-b2b-company-self-registration.md
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/core/app/models/concerns/spree/purchase/company.rb
  spree/core/app/models/concerns/spree/purchase/lifecycle.rb
  spree/core/app/models/spree/checkout/default_requirements.rb
  spree/core/app/models/spree/companies/activation_policy.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/services/spree/tax/resolve_exemptions.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/testing_support/company_activation_policy.rb
  spree/core/spec/models/concerns/spree/purchase/company_spec.rb
  spree/core/spec/models/concerns/spree/purchase/lifecycle_spec.rb
  spree/core/spec/models/spree/checkout/requirements_spec.rb
  spree/core/spec/services/spree/tax/resolve_exemptions_spec.rb
Due: core, api, Core, API

Keep a placed order's exemptions frozen with its tax registration
  spree/core/app/services/spree/tax/resolve_exemptions.rb
  spree/core/spec/services/spree/tax/resolve_exemptions_spec.rb
  spree/core/spec/workflows/spree/companies/register_spec.rb
Due: core, Core

Simplify the activation lookups and the receipts opt-out
  spree/api/app/controllers/concerns/spree/api/v3/storefront_gating.rb
  spree/api/app/controllers/spree/api/v3/store/customer/gift_cards_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/core/app/models/spree/companies/activation_policy.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/services/spree/tax/resolve_exemptions.rb
Due: core, api, Core, API

Follow main's error-code convention and regenerate API artifacts
  spree/core/app/workflows/spree/companies/register.rb
Due: core, Core
