Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Remove SUPPORTED_SOCIAL_NETWORKS reference and old policies store form
  spree/admin/app/controllers/spree/admin/stores_controller.rb
  spree/admin/app/views/spree/admin/stores/edit.html.erb
  spree/admin/app/views/spree/admin/stores/form/_policies.html.erb
Due: admin, Admin

Remove unused _buttons.html.erb store form partial
  spree/admin/app/views/spree/admin/stores/form/_buttons.html.erb
Due: admin, Admin

Move Rails storefront leftovers out of core and admin (#13744)
  spree/admin/app/controllers/spree/admin/stores_controller.rb
  spree/admin/app/views/spree/admin/shared/_page_section_image.html.erb
  spree/admin/app/views/spree/admin/shared/_page_section_logo.html.erb
  spree/admin/app/views/spree/admin/stores/edit.html.erb
  spree/admin/app/views/spree/admin/stores/form/_buttons.html.erb
  spree/admin/app/views/spree/admin/stores/form/_checkout.html.erb
  spree/admin/app/views/spree/admin/stores/form/_checkout_links.html.erb
  spree/admin/app/views/spree/admin/stores/form/_policies.html.erb
  spree/core/app/models/concerns/spree/stores/socials.rb
  spree/core/app/models/spree/store.rb
  spree/core/lib/spree/core/controller_helpers/strong_parameters.rb
Due: core, admin, Core, Admin

Make HTTP caching for API v3 opt-in
  spree/api/app/controllers/concerns/spree/api/v3/http_caching.rb
  spree/api/app/controllers/spree/api/v3/admin/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/base_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/store/currencies_controller.rb
  spree/api/app/controllers/spree/api/v3/store/locales_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/taxonomies_controller.rb
  spree/api/app/controllers/spree/api/v3/store/taxons_controller.rb
Due: api, API

Make HTTP caching for API v3 opt-in (#13745)
  spree/api/app/controllers/concerns/spree/api/v3/http_caching.rb
  spree/api/app/controllers/spree/api/v3/admin/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/base_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/store/currencies_controller.rb
  spree/api/app/controllers/spree/api/v3/store/locales_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/taxonomies_controller.rb
  spree/api/app/controllers/spree/api/v3/store/taxons_controller.rb
Due: api, API

Ability to create / update Cart/Order with line items in one API call
  docs/api-reference/store.yaml
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/cart.ts
  packages/next/src/index.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/types/index.ts
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/spree/api/v3/store/cart_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/app/services/spree/api/v3/orders/update.rb
  spree/api/spec/controllers/spree/api/v3/store/cart_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/orders_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/cart_spec.rb
  spree/api/spec/integration/spree/api/v3/store/orders_spec.rb
  spree/api/spec/services/spree/api/v3/orders/update_spec.rb
  spree/core/app/services/spree/cart/create.rb
  spree/core/app/services/spree/cart/upsert_items.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/cart/create_spec.rb
  spree/core/spec/services/spree/cart/upsert_items_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
Due: core, api, Core, API

Ability to create / update Cart/Order with line items in one API call (#13746)
  docs/api-reference/store.yaml
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/cart.ts
  packages/next/src/index.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/types/index.ts
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/spree/api/v3/store/cart_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/app/services/spree/api/v3/orders/update.rb
  spree/api/spec/controllers/spree/api/v3/store/cart_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/orders_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/cart_spec.rb
  spree/api/spec/integration/spree/api/v3/store/orders_spec.rb
  spree/api/spec/services/spree/api/v3/orders/update_spec.rb
  spree/core/app/services/spree/cart/create.rb
  spree/core/app/services/spree/cart/upsert_items.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/cart/create_spec.rb
  spree/core/spec/services/spree/cart/upsert_items_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
Due: core, api, Core, API

Create ADMIN_API_PLAN.md
  spree/api/ADMIN_API_PLAN.md
Due: api

Admin API - Product cataloig
  packages/sdk/src/types/generated/AdminOptionType.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/zod/generated/AdminOptionType.ts
  packages/sdk/src/zod/generated/index.ts
  spree/api/ADMIN_API_PLAN.md
  spree/api/app/controllers/spree/api/v3/admin/option_types_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/assets_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/taxonomies/taxons_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/taxonomies_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/taxons_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/variants/prices_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/option_type_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/option_types_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/taxonomies/taxons_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/taxonomies_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/taxons_controller_spec.rb
  spree/core/app/services/spree/option_types/create.rb
  spree/core/app/services/spree/option_types/update.rb
  spree/core/app/services/spree/products/create.rb
  spree/core/app/services/spree/products/update.rb
  spree/core/app/services/spree/variants/create.rb
  spree/core/app/services/spree/variants/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/option_types/create_spec.rb
  spree/core/spec/services/spree/option_types/update_spec.rb
  spree/core/spec/services/spree/products/create_spec.rb
  spree/core/spec/services/spree/products/update_spec.rb
  spree/core/spec/services/spree/variants/create_spec.rb
  spree/core/spec/services/spree/variants/update_spec.rb
Due: core, api, Core, API

Admin API: Orders CRUD, state transitions, line items, and full test coverage
  docs/api-reference/admin.yaml
  packages/sdk/scripts/generate-admin-client.ts
  packages/sdk/src/admin-client.ts
  packages/sdk/src/admin-params.ts
  packages/sdk/tests/admin/option-types.test.ts
  packages/sdk/tests/admin/orders.test.ts
  packages/sdk/tests/admin/products.test.ts
  packages/sdk/tests/admin/taxonomies.test.ts
  packages/sdk/tests/admin/taxons.test.ts
  packages/sdk/tests/helpers.ts
  packages/sdk/tests/mocks/admin-handlers.ts
  packages/sdk/tests/mocks/server.ts
  spree/api/ADMIN_API_PLAN.md
  spree/api/app/controllers/spree/api/v3/admin/orders/line_items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/line_items_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/assets_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/line_items_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders_spec.rb
Due: api, API

Admin API: Order nested resources — shipments, payments, refunds, adjustments
  packages/sdk/src/admin-client.ts
  packages/sdk/src/admin-params.ts
  packages/sdk/src/types/generated/AdminAdjustment.ts
  packages/sdk/src/types/generated/AdminPayment.ts
  packages/sdk/src/types/generated/AdminRefund.ts
  packages/sdk/src/types/generated/AdminShipment.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/zod/generated/AdminAdjustment.ts
  packages/sdk/src/zod/generated/AdminPayment.ts
  packages/sdk/src/zod/generated/AdminRefund.ts
  packages/sdk/src/zod/generated/AdminShipment.ts
  packages/sdk/src/zod/generated/index.ts
  packages/sdk/tests/admin/adjustments.test.ts
  packages/sdk/tests/admin/payments.test.ts
  packages/sdk/tests/admin/refunds.test.ts
  packages/sdk/tests/admin/shipments.test.ts
  packages/sdk/tests/mocks/admin-handlers.ts
  spree/api/app/controllers/spree/api/v3/admin/orders/adjustments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/refunds_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/shipments_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/adjustment_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/payment_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/refund_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/shipment_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/adjustments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/payments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/refunds_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/shipments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/adjustments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/payments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/refunds_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/shipments_spec.rb
Due: api, API

Add shipment cancel, resume, and split actions to Admin API
  packages/sdk/src/admin-client.ts
  packages/sdk/src/admin-params.ts
  packages/sdk/tests/admin/shipments.test.ts
  packages/sdk/tests/mocks/admin-handlers.ts
  spree/api/ADMIN_API_PLAN.md
  spree/api/app/controllers/spree/api/v3/admin/orders/shipments_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/shipments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/shipments_spec.rb
Due: api, API

Consolidate prefixed ID resolution at model level and simplify API controllers
  spree/api/app/controllers/concerns/spree/api/v3/params_normalizer.rb
  spree/api/app/controllers/spree/api/v3/admin/option_types_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/line_items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/shipments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/assets_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/spec/controllers/spree/api/v3/params_normalizer_spec.rb
  spree/core/app/models/concerns/spree/prefixed_id.rb
  spree/core/app/models/spree/wished_item.rb
  spree/core/app/services/spree/cart/upsert_items.rb
  spree/core/app/services/spree/products/create.rb
  spree/core/app/services/spree/products/update.rb
  spree/core/app/services/spree/variants/create.rb
  spree/core/app/services/spree/variants/update.rb
Due: core, api, Core, API

Remove another batch of rails storefront features from core
  docs/developer/core-concepts/stores.mdx
  spree/admin/app/helpers/spree/admin/stores_helper.rb
  spree/core/app/models/spree/store.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/lib/spree/testing_support/factories/store_factory.rb
  spree/core/lib/tasks/core.rake
  spree/core/spec/models/spree/store_spec.rb
Due: core, admin, Core, Admin

Remove another batch of rails storefront features from core (#13748)
  docs/developer/core-concepts/stores.mdx
  spree/admin/app/helpers/spree/admin/stores_helper.rb
  spree/core/app/models/spree/store.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/lib/spree/testing_support/factories/store_factory.rb
  spree/core/lib/tasks/core.rake
  spree/core/spec/models/spree/store_spec.rb
Due: core, admin, Core, Admin

Fix PG duplicate column assignment in upsert_all calls
  spree/core/app/services/spree/option_types/update.rb
  spree/core/app/services/spree/products/create.rb
  spree/core/app/services/spree/products/update.rb
  spree/core/app/services/spree/variants/create.rb
  spree/core/app/services/spree/variants/update.rb
Due: core, Core

Fix code injection warning in AssetsController
  spree/api/app/controllers/spree/api/v3/admin/products/assets_controller.rb
Due: api, API

Fix pnpm lock
  pnpm-lock.yaml
Due: none

Greatly simplify Product/Variant create/update services
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/core/app/models/spree/product/slugs.rb
  spree/core/app/services/spree/option_types/update.rb
  spree/core/app/services/spree/products/create.rb
  spree/core/app/services/spree/products/update.rb
  spree/core/app/services/spree/variants/create.rb
  spree/core/app/services/spree/variants/update.rb
  spree/core/spec/services/spree/products/create_spec.rb
  spree/core/spec/services/spree/variants/create_spec.rb
  spree/core/spec/services/spree/variants/update_spec.rb
Due: core, api, Core, API

Added Admin API Auth endpoints
  docs/api-reference/admin.yaml
  packages/sdk/scripts/generate-admin-client.ts
  packages/sdk/src/admin-client.ts
  packages/sdk/src/admin-params.ts
  packages/sdk/src/types/generated/AdminAdminUser.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/AdminAdminUser.ts
  packages/sdk/src/zod/generated/index.ts
  packages/sdk/tests/admin/auth.test.ts
  packages/sdk/tests/mocks/admin-handlers.ts
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/admin_user_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/lib/spree/api/openapi/schema_helper.rb
  spree/api/spec/controllers/spree/api/v3/admin/auth_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/auth_spec.rb
  spree/api/spec/swagger_helper.rb
Due: api, API

Fixed Admin API authentication in SDK + added support of Admin API in dev console in SDK package
  packages/sdk/console.ts
  packages/sdk/src/client.ts
  packages/sdk/tests/client.test.ts
Due: none

DRY-up admin api controllers
  spree/api/app/controllers/spree/api/v3/admin/option_types_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/adjustments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/line_items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/refunds_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/shipments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
Due: api, API

Fixed: Prefixed IDs Only resolves when a matching association exists
  spree/core/app/models/concerns/spree/prefixed_id.rb
  spree/core/spec/models/spree/concerns/prefixed_id_spec.rb
Due: core, Core

Improve Asset management in Admin API
  docs/api-reference/admin.yaml
  packages/sdk/scripts/generate-admin-client.ts
  packages/sdk/src/admin-client.ts
  packages/sdk/src/admin-params.ts
  packages/sdk/src/request.ts
  packages/sdk/tests/admin/products.test.ts
  packages/sdk/tests/mocks/admin-handlers.ts
  spree/api/app/controllers/spree/api/v3/admin/assets_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/assets_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/assets_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/product_assets_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variant_assets_spec.rb
  spree/core/lib/spree/permitted_attributes.rb
Due: core, api, Core, API

Replace services with just model setters for Product and Variant
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variants_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/products/create.rb
  spree/core/app/services/spree/products/update.rb
  spree/core/app/services/spree/variants/create.rb
  spree/core/app/services/spree/variants/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
  spree/core/spec/services/spree/products/create_spec.rb
  spree/core/spec/services/spree/products/update_spec.rb
  spree/core/spec/services/spree/variants/create_spec.rb
  spree/core/spec/services/spree/variants/update_spec.rb
Due: core, api, Core, API

Product listing PoC
  packages/admin/package.json
  packages/admin/src/components/app-sidebar.tsx
  packages/admin/src/components/nav-main.tsx
  packages/admin/src/components/nav-user.tsx
  packages/admin/src/components/store-switcher.tsx
  packages/admin/src/components/table-toolbar.tsx
  packages/admin/src/components/tabler-icon.tsx
  packages/admin/src/components/ui/badge.tsx
  packages/admin/src/components/ui/button.tsx
  packages/admin/src/components/ui/card.tsx
  packages/admin/src/components/ui/data-table.tsx
  packages/admin/src/components/ui/dropdown-menu.tsx
  packages/admin/src/components/ui/input.tsx
  packages/admin/src/components/ui/label.tsx
  packages/admin/src/components/ui/pagination.tsx
  packages/admin/src/components/ui/sheet.tsx
  packages/admin/src/components/ui/sidebar.tsx
  packages/admin/src/components/ui/tooltip.tsx
  packages/admin/src/hooks/use-products.ts
  packages/admin/src/index.css
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated.tsx
  packages/admin/src/routes/_authenticated/products/$productId.tsx
  packages/admin/src/routes/_authenticated/products/index.tsx
  packages/admin/src/routes/login.tsx
  pnpm-lock.yaml
Due: none

Fix `ascend_by_price` and `descend_by_price` scopes
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
Due: core, api, Core, API

Fix `ascend_by_price` and `descend_by_price` scopes (#13749)
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
Due: core, api, Core, API

FIX datetime filter to respect EOD
  spree/admin/app/controllers/spree/admin/resource_controller.rb
Due: admin, Admin

ADD spec
  spree/admin/spec/controllers/spree/admin/resource_controller_spec.rb
Due: none

Complete admin serializer isolation from store serializers
  spree/api/app/serializers/spree/api/v3/admin/adjustment_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/admin_user_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/asset_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/digital_link_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/image_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/option_type_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/option_value_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/refund_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/reimbursement_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/return_authorization_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/shipping_category_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/tax_category_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/taxon_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/taxonomy_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
Due: api, API

Update package.json
  packages/admin-sdk/package.json
Due: none

fix createSpreeClient -> createClient
  docs/api-reference/store-api/authentication.mdx
  docs/api-reference/store-api/idempotency.mdx
  docs/api-reference/store-api/introduction.mdx
  docs/api-reference/store-api/localization.mdx
  docs/api-reference/store-api/rate-limitting.mdx
  docs/api-reference/store.yaml
  docs/developer/sdk/admin/quickstart.mdx
  docs/developer/sdk/configuration.mdx
  docs/developer/sdk/quickstart.mdx
  docs/snippets/store-api/sdk-client-setup.mdx
  packages/sdk/README.md
  packages/sdk/console.ts
  spree/api/spec/support/code_samples_helper.rb
Due: none

removed consumed changesets
  packages/next/.changeset/split-sdk-packages.md
  packages/sdk/.changeset/add-checkout-steps.md
  packages/sdk/.changeset/add-field-selection.md
  packages/sdk/.changeset/api-sort-notation.md
  packages/sdk/.changeset/nested-expand.md
  packages/sdk/.changeset/split-sdk-packages.md
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
