Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

DRY-up admin api controllers
  spree/api/app/controllers/spree/api/v3/admin/option_types_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/adjustments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/line_items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/refunds_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/shipments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
Due: api, API

PoC Admin Product edit screen
  package.json
  packages/admin/package.json
  packages/admin/src/components/nav-main.tsx
  packages/admin/src/components/resource-table.tsx
  packages/admin/src/components/ui/calendar.tsx
  packages/admin/src/components/ui/combobox.tsx
  packages/admin/src/components/ui/date-picker.tsx
  packages/admin/src/components/ui/dialog.tsx
  packages/admin/src/components/ui/field.tsx
  packages/admin/src/components/ui/input-group.tsx
  packages/admin/src/components/ui/label.tsx
  packages/admin/src/components/ui/pagination.tsx
  packages/admin/src/components/ui/popover.tsx
  packages/admin/src/components/ui/rich-text-editor.tsx
  packages/admin/src/components/ui/separator.tsx
  packages/admin/src/components/ui/sidebar.tsx
  packages/admin/src/components/ui/switch.tsx
  packages/admin/src/components/ui/textarea.tsx
  packages/admin/src/hooks/use-direct-upload.ts
  packages/admin/src/hooks/use-product-assets.ts
  packages/admin/src/hooks/use-product.ts
  packages/admin/src/hooks/use-shipping-categories.ts
  packages/admin/src/hooks/use-tax-categories.ts
  packages/admin/src/hooks/use-taxons.ts
  packages/admin/src/routes/__root.tsx
  packages/admin/src/routes/_authenticated/orders/$orderId.tsx
  packages/admin/src/routes/_authenticated/products/$productId.tsx
  packages/admin/src/schemas/product.ts
  packages/sdk/src/admin-client.ts
  packages/sdk/src/zod/generated/AdminOrder.ts
  skills-lock.json
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
Due: api, API

Fix pnpm lock
  pnpm-lock.yaml
Due: none

Greatly simplify Product/Variant create/update services
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/core/app/models/spree/product/slugs.rb
  spree/core/app/services/spree/option_types/update.rb
  spree/core/app/services/spree/products/create.rb
  spree/core/app/services/spree/products/update.rb
  spree/core/app/services/spree/variants/create.rb
  spree/core/app/services/spree/variants/update.rb
  spree/core/spec/services/spree/products/create_spec.rb
  spree/core/spec/services/spree/variants/create_spec.rb
  spree/core/spec/services/spree/variants/update_spec.rb
Due: core, api, Core, API

Fixed N+1s on Admin Products API
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/core/app/models/spree/product.rb
Due: core, api, Core, API

Enable CORS in development for new admin
  server/config/initializers/cors.rb
Due: none

Added simple shipping/tax categories endpoint for Admin API
  spree/api/app/controllers/spree/api/v3/admin/shipping_categories_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/tax_categories_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/shipping_categories_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/tax_categories_controller_spec.rb
Due: api, API

Replace services with just model setters for Product and Variant
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variants_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/products/create.rb
  spree/core/app/services/spree/products/update.rb
  spree/core/app/services/spree/variants/create.rb
  spree/core/app/services/spree/variants/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
  spree/core/spec/services/spree/products/create_spec.rb
  spree/core/spec/services/spree/products/update_spec.rb
  spree/core/spec/services/spree/variants/create_spec.rb
  spree/core/spec/services/spree/variants/update_spec.rb
Due: core, api, Core, API

Add admin test for Product price sorting
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
Due: none

Admin UI fixes
  packages/admin/src/components/app-sidebar.tsx
  packages/admin/src/components/nav-main.tsx
  packages/admin/src/components/nav-user.tsx
  packages/admin/src/components/resource-table.tsx
  packages/admin/src/components/store-switcher.tsx
  packages/admin/src/components/table-toolbar.tsx
  packages/admin/src/components/tabler-icon.tsx
  packages/admin/src/components/ui/sidebar.tsx
  packages/admin/src/index.css
Due: none

Fix code injection warning in AssetsController
  spree/api/app/controllers/spree/api/v3/admin/products/assets_controller.rb
Due: api, API

Introduce admin table registry
  packages/admin/docs/tables.mdx
  packages/admin/src/components/resource-table.tsx
  packages/admin/src/components/table-toolbar.tsx
  packages/admin/src/hooks/use-products.ts
  packages/admin/src/lib/formatters.ts
  packages/admin/src/lib/table-registry.ts
  packages/admin/src/routes/_authenticated/products/index.tsx
  packages/admin/src/tables/products.tsx
Due: none

fix
  packages/sdk/src/types/generated/AdminProduct.ts
  packages/sdk/src/zod/generated/AdminProduct.ts
Due: none

Added Admin API Auth endpoints
  docs/api-reference/admin.yaml
  packages/sdk/scripts/generate-admin-client.ts
  packages/sdk/src/admin-client.ts
  packages/sdk/src/admin-params.ts
  packages/sdk/src/types/generated/AdminAdminUser.ts
  packages/sdk/src/zod/generated/AdminAdminUser.ts
  packages/sdk/tests/admin/auth.test.ts
  packages/sdk/tests/mocks/admin-handlers.ts
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/auth_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/auth_spec.rb
  spree/api/spec/swagger_helper.rb
Due: api, API

Product listing PoC
  packages/admin/package.json
  packages/admin/src/components/app-sidebar.tsx
  packages/admin/src/components/nav-main.tsx
  packages/admin/src/components/nav-user.tsx
  packages/admin/src/components/store-switcher.tsx
  packages/admin/src/components/table-toolbar.tsx
  packages/admin/src/components/tabler-icon.tsx
  packages/admin/src/components/ui/badge.tsx
  packages/admin/src/components/ui/button.tsx
  packages/admin/src/components/ui/card.tsx
  packages/admin/src/components/ui/data-table.tsx
  packages/admin/src/components/ui/dropdown-menu.tsx
  packages/admin/src/components/ui/input.tsx
  packages/admin/src/components/ui/label.tsx
  packages/admin/src/components/ui/pagination.tsx
  packages/admin/src/components/ui/sheet.tsx
  packages/admin/src/components/ui/sidebar.tsx
  packages/admin/src/components/ui/tooltip.tsx
  packages/admin/src/hooks/use-products.ts
  packages/admin/src/index.css
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated.tsx
  packages/admin/src/routes/_authenticated/products/$productId.tsx
  packages/admin/src/routes/_authenticated/products/index.tsx
  packages/admin/src/routes/login.tsx
Due: none

Fix PG duplicate column assignment in upsert_all calls
  spree/core/app/services/spree/option_types/update.rb
  spree/core/app/services/spree/products/create.rb
  spree/core/app/services/spree/products/update.rb
  spree/core/app/services/spree/variants/create.rb
  spree/core/app/services/spree/variants/update.rb
Due: core, Core

Replace @spree/sdk with @spree/admin-sdk in admin app
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin/package.json
  packages/admin/src/client.ts
  packages/admin/src/hooks/use-direct-upload.ts
  packages/admin/src/hooks/use-product-assets.ts
  packages/admin/src/hooks/use-product.ts
  packages/admin/src/hooks/use-products.ts
  packages/admin/src/hooks/use-shipping-categories.ts
  packages/admin/src/hooks/use-tax-categories.ts
  packages/admin/src/hooks/use-taxons.ts
  packages/admin/src/providers/auth-provider.tsx
  packages/admin/src/providers/store-provider.tsx
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId.tsx
  packages/admin/src/routes/_authenticated/$storeId/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/drafts.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/index.tsx
  packages/admin/src/routes/_authenticated/orders/drafts.tsx
  packages/admin/src/routes/_authenticated/orders/index.tsx
  spree/api/app/controllers/concerns/spree/api/v3/admin_authentication.rb
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/auth_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/base_controller_spec.rb
Due: api, API

Improve Asset management in Admin API
  docs/api-reference/admin.yaml
  packages/sdk-core/src/request.ts
  packages/sdk/scripts/generate-admin-client.ts
  packages/sdk/src/admin-client.ts
  packages/sdk/src/admin-params.ts
  packages/sdk/tests/admin/products.test.ts
  packages/sdk/tests/mocks/admin-handlers.ts
  spree/api/app/controllers/spree/api/v3/admin/assets_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/assets_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/assets_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/product_assets_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variant_assets_spec.rb
  spree/core/lib/spree/permitted_attributes.rb
Due: core, api, Core, API

Replace taxonomies/taxons with categories across admin API and frontend
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin/src/components/app-sidebar.tsx
  packages/admin/src/hooks/use-categories.ts
  packages/admin/src/hooks/use-product.ts
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/admin/src/routes/_authenticated/products/$productId.tsx
  packages/admin/src/schemas/product.ts
  spree/api/app/controllers/spree/api/v3/admin/categories_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/taxonomies/taxons_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/taxonomies_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/taxons_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/taxonomies/taxons_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/taxonomies_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/taxons_controller_spec.rb
Due: api, API

Added missing Category ransackable attributes needed for API filtering
  spree/core/app/models/spree/taxon.rb
Due: core, Core

Update lockfile for @base-ui/react dependency
  pnpm-lock.yaml
Due: none

Fix admin-sdk: define AuthTokens and LoginCredentials locally
  packages/admin-sdk/src/admin-client.ts
Due: none

Remove admin tests from @spree/sdk, admin functionality moved to admin-sdk
  packages/sdk/tests/admin/adjustments.test.ts
  packages/sdk/tests/admin/auth.test.ts
  packages/sdk/tests/admin/option-types.test.ts
  packages/sdk/tests/admin/orders.test.ts
  packages/sdk/tests/admin/payments.test.ts
  packages/sdk/tests/admin/products.test.ts
  packages/sdk/tests/admin/refunds.test.ts
  packages/sdk/tests/admin/shipments.test.ts
  packages/sdk/tests/admin/taxonomies.test.ts
  packages/sdk/tests/admin/taxons.test.ts
  packages/sdk/tests/helpers.ts
Due: none

Fix CI: add AuthTokens.user, export all generated types, remove unused token vars
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin/src/routes/_authenticated/orders/$orderId.tsx
  packages/admin/src/routes/_authenticated/products/$productId.tsx
Due: none

Added missing Category ransackable attributes needed for API filtering (#13758)
  spree/core/app/models/spree/taxon.rb
Due: core, Core

Add admin_schemas method to OpenAPI SchemaHelper
  spree/api/lib/spree/api/openapi/schema_helper.rb
Due: api, API

Fix admin OpenAPI integration specs: use unprefixed schema names
  spree/api/spec/integration/spree/api/v3/admin/auth_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/option_types_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/taxonomies_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/taxons_spec.rb
Due: none

Fix admin API integration tests: schema mismatches and auth issues
  packages/admin-sdk/src/types/generated/Category.ts
  packages/admin-sdk/src/types/generated/Metafield.ts
  packages/admin-sdk/src/types/generated/OptionType.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/admin-sdk/src/types/generated/Price.ts
  packages/admin-sdk/src/types/generated/Product.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/sdk/src/types/generated/Category.ts
  packages/sdk/src/types/generated/Product.ts
  packages/sdk/src/types/generated/StoreShippingCategory.ts
  packages/sdk/src/types/generated/StoreTaxCategory.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/zod/generated/StoreShippingCategory.ts
  packages/sdk/src/zod/generated/StoreTaxCategory.ts
  spree/api/app/serializers/spree/api/v3/admin/option_type_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/lib/spree/api/openapi/schema_helper.rb
  spree/api/spec/integration/spree/api/v3/admin/auth_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/option_types_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
Due: api, API

Bump spree to 5.4.0.beta5
  spree/core/lib/spree/core/version.rb
Due: core, Core

Revert product_scopes.rb to match main branch
  spree/core/app/models/concerns/spree/product_scopes.rb
Due: core, Core

Fixed: bring temporary back legacy API v2 posts dependencies
  spree/api/lib/spree/api/dependencies.rb
Due: api, API

Fixed: bring temporary back legacy API v2 posts dependencies (#13759)
  spree/api/lib/spree/api/dependencies.rb
Due: api, API

Bump spree_stripe in server app
  server/Gemfile.lock
Due: none

Discontinue variants with completed orders, instead of destroying them
  spree/admin/app/controllers/spree/admin/products_controller.rb
  spree/core/app/services/spree/products/prepare_nested_attributes.rb
  spree/core/spec/services/spree/products/prepare_nested_attributes_spec.rb
Due: core, admin, Core, Admin

add reorder
  spree/core/app/services/spree/products/prepare_nested_attributes.rb
Due: core, Core

refactor for readability
  spree/core/app/services/spree/products/prepare_nested_attributes.rb
Due: core, Core

Move admin client generator and test mocks from sdk to admin-sdk
  packages/admin-sdk/package.json
  packages/admin-sdk/scripts/generate-admin-client.ts
  packages/admin-sdk/tests/mocks/admin-handlers.ts
  packages/admin-sdk/tests/mocks/server.ts
  packages/admin-sdk/tests/setup.ts
  packages/admin-sdk/vitest.config.ts
  packages/sdk/package.json
  packages/sdk/tests/mocks/server.ts
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
