Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Changed the Admin API reference to drop never-delivered webhook events
  docs/api-reference/admin.yaml
Due: none

Fix: never-delivered events could reach webhooks before their model loaded
  spree/api/app/controllers/spree/api/v3/admin/webhook_endpoints_controller.rb
  spree/core/lib/spree/events/catalog.rb
  spree/core/spec/lib/spree/events/catalog_spec.rb
Due: core, api, Core, API

Fixed review findings on the webhook event picker and reset specs
  packages/dashboard/src/components/spree/webhook-endpoint-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/spec/controllers/spree/api/v3/admin/password_resets_controller_spec.rb
Due: none

Added issuing store credits from Loyalty → Store Credits
  .changeset/dashboard-issue-store-credit.md
  docs/user/loyalty/store-credits-list.mdx
  docs/user/loyalty/store-credits.mdx
  packages/dashboard/e2e/store-credits.spec.ts
  packages/dashboard/src/components/spree/customers/customer-store-credits-card.tsx
  packages/dashboard/src/components/spree/store-credits/issue-store-credit-dialog.tsx
  packages/dashboard/src/hooks/use-customer-store-credits.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/loyalty/store-credits.tsx
  packages/dashboard/src/schemas/store-credit.ts
  packages/dashboard/src/tables/store-credits.tsx
Due: none

Create Returns & Reasons image folder
  docs/images/user/settings/returns-and-reasons/placeholder
Due: none

Uploaded Returns & Reasons screenshot
  docs/images/user/settings/returns-and-reasons/1-returns-and-reasons.png
Due: none

Fix: Match the state error message in the company address test
  packages/dashboard/e2e/companies.spec.ts
Due: none

Changed the company address test to accept either state error message
  packages/dashboard/e2e/companies.spec.ts
Due: none

Revise Returns & Reasons documentation for clarity
  docs/user/settings/returns-and-reasons.mdx
Due: none

Create placeholder
  docs/images/user/settings/tax-categories/placeholder
Due: none

Uploaded Tax Categories screenshots
  docs/images/user/settings/tax-categories/1-tax-categories-overview.png
  docs/images/user/settings/tax-categories/2-add-tax-category.png
Due: none

Delete docs/images/user/settings/tax-categories/placeholder
  docs/images/user/settings/tax-categories/placeholder
Due: none

Delete docs/images/user/settings/returns-and-reasons/placeholder
  docs/images/user/settings/returns-and-reasons/placeholder
Due: none

Revise tax categories documentation for clarity
  docs/user/settings/tax-categories.mdx
Due: none

Create Tax Rates image folder
  docs/images/user/settings/tax-rates/placeholder
Due: none

Uploaded Tax Rates screenshots
  docs/images/user/settings/tax-rates/1-tax-rates-overview.png
  docs/images/user/settings/tax-rates/2-add-tax-rate.png
Due: none

Delete docs/images/user/settings/tax-rates/placeholder
  docs/images/user/settings/tax-rates/placeholder
Due: none

Revise tax rates documentation for clarity
  docs/user/settings/tax-rates.mdx
Due: none

Changed integrations gallery to list only third-party payment methods
  .changeset/admin-sdk-provider-listing.md
  .changeset/dashboard-integrations-gallery.md
  docs/developer/how-to/custom-payment-method.mdx
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/PaymentMethod.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/zod/generated/PaymentMethod.ts
  packages/admin-sdk/src/zod/generated/Store.ts
  packages/dashboard/e2e/integrations.spec.ts
  packages/dashboard/src/components/spree/integrations/configure-integration-sheet.tsx
  packages/dashboard/src/components/spree/integrations/integration-card.tsx
  packages/dashboard/src/components/spree/integrations/setup-guide-link.tsx
  packages/dashboard/src/components/spree/payment-method-editors/payment-method-form.tsx
  packages/dashboard/src/components/spree/payment-method-editors/payment-method-sheets.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/integrations.tsx
  spree/api/app/serializers/spree/api/v3/admin/payment_method_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/payment_method_serializer_spec.rb
  spree/core/app/models/spree/gateway.rb
  spree/core/app/models/spree/gateway/custom_payment_source_method.rb
  spree/core/app/models/spree/payment_method.rb
Due: core, api, Core, API

Fixed custom payment method guide example missing from the integrations gallery
  docs/developer/how-to/custom-payment-method.mdx
Due: none

Fix: Show newly created records in search pickers without a reload
  .changeset/dashboard-picker-refetch.md
  packages/dashboard-core/src/components/resource-combobox.tsx
  packages/dashboard/e2e/store-credits.spec.ts
Due: none

Fix: Refresh repeated searches in pickers
  packages/dashboard-core/src/components/resource-combobox.tsx
Due: none

Changed integrations gallery to list only third-party payment methods (#14819)
  .changeset/admin-sdk-provider-listing.md
  .changeset/dashboard-integrations-gallery.md
  docs/developer/how-to/custom-payment-method.mdx
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/PaymentMethod.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/zod/generated/PaymentMethod.ts
  packages/admin-sdk/src/zod/generated/Store.ts
  packages/dashboard/e2e/integrations.spec.ts
  packages/dashboard/src/components/spree/integrations/configure-integration-sheet.tsx
  packages/dashboard/src/components/spree/integrations/integration-card.tsx
  packages/dashboard/src/components/spree/integrations/setup-guide-link.tsx
  packages/dashboard/src/components/spree/payment-method-editors/payment-method-form.tsx
  packages/dashboard/src/components/spree/payment-method-editors/payment-method-sheets.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/integrations.tsx
  spree/api/app/serializers/spree/api/v3/admin/payment_method_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/payment_method_serializer_spec.rb
  spree/core/app/models/spree/gateway.rb
  spree/core/app/models/spree/gateway/custom_payment_source_method.rb
  spree/core/app/models/spree/payment_method.rb
Due: core, api, Core, API

Fix: Find the seller settings page by its heading in the invitation test
  packages/dashboard/e2e/seller-invitation-acceptance.spec.ts
Due: none

Added issuing store credits from Loyalty → Store Credits (#14818)
  .changeset/dashboard-issue-store-credit.md
  .changeset/dashboard-picker-refetch.md
  docs/user/loyalty/store-credits-list.mdx
  docs/user/loyalty/store-credits.mdx
  packages/dashboard-core/src/components/resource-combobox.tsx
  packages/dashboard/e2e/companies.spec.ts
  packages/dashboard/e2e/seller-invitation-acceptance.spec.ts
  packages/dashboard/e2e/store-credits.spec.ts
  packages/dashboard/src/components/spree/customers/customer-store-credits-card.tsx
  packages/dashboard/src/components/spree/store-credits/issue-store-credit-dialog.tsx
  packages/dashboard/src/hooks/use-customer-store-credits.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/loyalty/store-credits.tsx
  packages/dashboard/src/schemas/store-credit.ts
  packages/dashboard/src/tables/store-credits.tsx
Due: none

Settled the email editor's variables, draft conflicts and revert history
  docs/plans/6.0-email-template-editor.md
  docs/plans/decisions.md
Due: none

Added generated TypeScript types for email template data
  lefthook.yml
  packages/admin-sdk/src/types/generated/emails/EmailAmountLine.ts
  packages/admin-sdk/src/types/generated/emails/EmailFulfillment.ts
  packages/admin-sdk/src/types/generated/emails/EmailFulfillmentGroup.ts
  packages/admin-sdk/src/types/generated/emails/EmailLineItem.ts
  packages/admin-sdk/src/types/generated/emails/EmailOrder.ts
  packages/admin-sdk/src/types/generated/emails/EmailOrderGroup.ts
  packages/admin-sdk/src/types/generated/emails/EmailParcelItem.ts
  packages/admin-sdk/src/types/generated/emails/EmailReturn.ts
  packages/admin-sdk/src/types/generated/emails/EmailStore.ts
  packages/admin-sdk/src/types/generated/emails/Enums.ts
  packages/admin-sdk/src/types/generated/emails/index.ts
  packages/admin-sdk/src/types/index.ts
  spree/api/Rakefile
  spree/api/config/initializers/typelizer.rb
  spree/api/lib/spree/api/typelizer_generation.rb
  spree/emails/Rakefile
  spree/emails/app/serializers/spree/emails/fulfillment_serializer.rb
  spree/emails/app/serializers/spree/emails/line_item_serializer.rb
  spree/emails/app/serializers/spree/emails/order_group_serializer.rb
  spree/emails/app/serializers/spree/emails/purchase_summary_attributes.rb
  spree/emails/app/serializers/spree/emails/return_serializer.rb
  spree/emails/config/initializers/typelizer.rb
Due: api, emails, API, Emails

Added the email template editor to the dashboard
  .changeset/dashboard-email-templates.md
  packages/dashboard-core/src/hooks/use-global-search.ts
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard-ui/package.json
  packages/dashboard-ui/src/hooks/use-debounced-value.ts
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/icons.ts
  packages/dashboard-ui/src/ui/code-editor.tsx
  packages/dashboard/src/components/spree/email-templates/default-diff-dialog.tsx
  packages/dashboard/src/components/spree/email-templates/email-preview-frame.tsx
  packages/dashboard/src/components/spree/email-templates/emails-tabs.tsx
  packages/dashboard/src/components/spree/email-templates/history-sheet.tsx
  packages/dashboard/src/hooks/use-email-templates.ts
  packages/dashboard/src/lib/email-template-name.ts
  packages/dashboard/src/lib/email-template-variables.test.ts
  packages/dashboard/src/lib/email-template-variables.ts
  packages/dashboard/src/lib/line-diff.test.ts
  packages/dashboard/src/lib/line-diff.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/index.tsx
  packages/dashboard/src/schemas/store-emails.ts
  pnpm-lock.yaml
Due: none

Added rebasing an email template draft onto Spree's current default
  packages/admin-sdk/src/params.ts
  spree/api/app/controllers/spree/api/v3/admin/email_templates/drafts_controller.rb
  spree/api/spec/integration/spree/api/v3/admin/email_templates_spec.rb
  spree/core/app/workflows/spree/email_templates/save_draft.rb
  spree/core/spec/workflows/spree/email_templates/save_draft_spec.rb
Due: core, api, Core, API

Documented editing customer email templates and branding
  CLAUDE.md
  docs/developer/customization/email-variables.mdx
  docs/developer/customization/emails.mdx
  docs/plans/6.0-email-template-editor.md
  docs/plans/decisions.md
  docs/user/settings/emails.mdx
  spree/emails/app/services/spree/emails/samples/base.rb
Due: emails, Emails

Added store branding for customer emails
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/types/generated/emails/EmailStore.ts
  packages/admin-sdk/src/zod/generated/Store.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/concerns/spree/api/v3/admin/email_template_lookup.rb
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/previews_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/email_templates_spec.rb
  spree/core/app/models/concerns/spree/stores/email_branding.rb
  spree/core/app/models/spree/emails/branding.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/serializers/spree/emails/store_serializer.rb
  spree/core/app/services/spree/email_templates/preview.rb
  spree/core/app/services/spree/emails/renderer.rb
  spree/core/app/views/layouts/spree/base_mailer.liquid
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/emails/branding_spec.rb
  spree/emails/app/views/spree/return_mailer/refunded_email.liquid
  spree/emails/config/initializers/typelizer.rb
Due: core, api, emails, Core, API, Emails

Fixed email template review findings
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  spree/api/app/controllers/concerns/spree/api/v3/admin/email_template_lookup.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/drafts_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/previews_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/publications_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/test_emails_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/drafts_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/previews_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/publications_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/test_emails_controller_spec.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/mailers/spree/email_template_mailer.rb
  spree/core/app/services/spree/email_templates/check.rb
  spree/core/app/services/spree/emails/template_resolver.rb
  spree/core/app/workflows/spree/email_templates/discard_draft.rb
  spree/core/app/workflows/spree/email_templates/publish.rb
  spree/core/app/workflows/spree/email_templates/revert.rb
  spree/core/app/workflows/spree/email_templates/save_draft.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/mailers/spree/admin_user_mailer_spec.rb
  spree/core/spec/mailers/spree/email_template_mailer_spec.rb
  spree/core/spec/workflows/spree/email_templates/discard_draft_spec.rb
  spree/core/spec/workflows/spree/email_templates/publish_spec.rb
  spree/core/spec/workflows/spree/email_templates/revert_spec.rb
  spree/emails/app/services/spree/emails/samples/base.rb
  spree/emails/app/services/spree/emails/samples/company_invitation.rb
  spree/emails/app/services/spree/emails/samples/fulfillment.rb
Due: core, api, emails, Core, API, Emails

Documented the rebase option of email template drafts in the API reference
  docs/api-reference/admin.yaml
Due: none

Documented the draft version check on publishing, discarding and reverting
  docs/api-reference/admin.yaml
  spree/api/spec/integration/spree/api/v3/admin/email_templates_spec.rb
Due: none

Simplified the email template editor
  packages/dashboard-ui/src/ui/code-editor.tsx
  packages/dashboard/src/components/spree/email-templates/conflict-dialog.tsx
  packages/dashboard/src/components/spree/email-templates/preview-card.tsx
  packages/dashboard/src/components/spree/email-templates/problems-alert.tsx
  packages/dashboard/src/components/spree/email-templates/variables-card.tsx
  packages/dashboard/src/lib/email-template-variables.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
Due: none

Fix: email template editor loses work and reports false conflicts
  packages/dashboard/src/hooks/use-email-templates.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
Due: none

Simplified the email template backend
  spree/api/app/controllers/concerns/spree/api/v3/admin/email_template_lookup.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/drafts_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/publications_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/restorations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/revisions_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates_controller.rb
  spree/core/app/models/concerns/spree/email_template_identity.rb
  spree/core/app/models/spree/email_templates/entry.rb
  spree/core/app/services/spree/email_templates/preview.rb
  spree/core/app/services/spree/emails/renderer.rb
  spree/core/app/services/spree/emails/template_resolver.rb
  spree/core/app/workflows/spree/email_templates/discard_draft.rb
  spree/core/app/workflows/spree/email_templates/publish.rb
  spree/core/app/workflows/spree/email_templates/revert.rb
  spree/core/app/workflows/spree/email_templates/save_draft.rb
Due: core, api, Core, API

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
