Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Revise supplier documentation for clarity and detail
  docs/user/inventory/suppliers.mdx
Due: none

Uploaded Suppliers guide screenshot
  docs/images/user/inventory/suppliers/1-suppliers-overview.png
Due: none

Fix: refund a return for the units the warehouse received
  spree/core/app/models/spree/return.rb
  spree/core/app/models/spree/return_line_item.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/spec/models/spree/return_spec.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, Core

Documented where a return's refundable value is worked out
  docs/plans/6.0-returns-exchanges-claims.md
  docs/plans/decisions.md
Due: none

Fix: show why a workflow refused, not its internal symbol
  docs/api-reference/seller.yaml
  spree/api/app/controllers/spree/api/v3/base_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/returns_controller_spec.rb
Due: api, API

Revise purchase orders documentation for clarity
  docs/user/inventory/purchase-orders.mdx
Due: none

Delete docs/images/user/inventory/suppliers/placeholder
  docs/images/user/inventory/suppliers/placeholder
Due: none

Uploaded Purchase Order guide screenshots
  docs/images/user/inventory/purchase-orders/1-purchase-order-overview.png
  docs/images/user/inventory/purchase-orders/2-new-purchase-order.png
  docs/images/user/inventory/purchase-orders/3-purchase-order-detail.png
  docs/images/user/inventory/purchase-orders/4-receive-delivery.png
  docs/images/user/inventory/purchase-orders/5-purchase-order-deliveries.png
  docs/images/user/inventory/purchase-orders/6-stock-movements.png
Due: none

Delete docs/images/user/inventory/purchase-orders/placeholder
  docs/images/user/inventory/purchase-orders/placeholder
Due: none

Update export description in purchase-orders.mdx
  docs/user/inventory/purchase-orders.mdx
Due: none

Update instructions for counting a transfer in
  docs/user/inventory/stock-transfers.mdx
Due: none

Added a complete Spanish locale for the admin dashboard (#14676)
  .changeset/dashboard-spanish-locale.md
  packages/dashboard-core/src/locales/es.json
  packages/dashboard/src/locales/es.json
Due: none

Fix: orders from a multi-seller checkout reported nothing paid (#14673)
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/core/app/models/concerns/spree/purchase/totals.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/payment_split.rb
  spree/core/app/services/spree/order_groups/allocate_payments.rb
  spree/core/app/workflows/spree/carts/recalculate_totals.rb
  spree/core/spec/models/spree/fulfillment/grouped_capture_spec.rb
  spree/core/spec/subscribers/spree/payment_split_subscriber_spec.rb
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
Due: core, Core

Fix: refund a return for the units the warehouse received (#14678)
  docs/api-reference/seller.yaml
  docs/plans/6.0-returns-exchanges-claims.md
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/base_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/returns_controller_spec.rb
  spree/core/app/models/spree/return.rb
  spree/core/app/models/spree/return_line_item.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/spec/models/spree/return_spec.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, api, Core, API

Fix: keep payment session credentials out of the webhook delivery log
  spree/api/spec/controllers/spree/api/v3/admin/webhook_deliveries_controller_spec.rb
  spree/core/app/models/concerns/spree/webhook_payload_redaction.rb
  spree/core/spec/models/concerns/spree/webhook_payload_redaction_spec.rb
Due: core, Core

Fixed the secret path keys and made restore fill only redacted slots
  spree/core/app/models/concerns/spree/webhook_payload_redaction.rb
  spree/core/spec/models/concerns/spree/webhook_payload_redaction_spec.rb
Due: core, Core

Escaped path segments through a lookup table
  spree/core/app/models/concerns/spree/webhook_payload_redaction.rb
  spree/core/spec/models/concerns/spree/webhook_payload_redaction_spec.rb
Due: core, Core

Fix: keep payment session credentials out of the webhook delivery log (#14680)
  spree/api/spec/controllers/spree/api/v3/admin/webhook_deliveries_controller_spec.rb
  spree/core/app/models/concerns/spree/webhook_payload_redaction.rb
  spree/core/spec/models/concerns/spree/webhook_payload_redaction_spec.rb
Due: core, Core

Added Settings -> Marketplace page to manage all marketplace related settings from one place
  docs/user/settings/marketplace.mdx
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/components/top-bar-breadcrumbs.tsx
  packages/dashboard-core/src/lib/settings-nav-registry.ts
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/checkbox.tsx
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard-ui/src/ui/input-group.tsx
  packages/dashboard-ui/src/ui/input.tsx
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard-ui/src/ui/select.tsx
  packages/dashboard-ui/src/ui/textarea.tsx
  packages/dashboard/src/components/spree/shipping/delivery-zone-region-picker.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/marketplace.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/payouts.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/dashboard/src/routes/forgot-password.tsx
  packages/dashboard/src/routes/login.tsx
  packages/dashboard/src/routes/reset-password.tsx
  packages/dashboard/src/routes/setup.tsx
  packages/dashboard/src/schemas/marketplace.ts
  packages/dashboard/src/schemas/payouts.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
Due: api, API

Fix: address review findings on the Marketplace settings page
  packages/dashboard-ui/src/ui/checkbox.tsx
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/nav/settings.ts
Due: none

Documented the Marketplace settings screen
  docs/api-reference/admin.yaml
  docs/developer/providers/payouts.mdx
  docs/docs.json
  docs/integrations/payments/stripe-connect.mdx
  docs/user/sellers/payouts.mdx
  docs/user/sellers/sellers.mdx
  docs/user/settings/marketplace.mdx
  docs/user/settings/seller-requirements.mdx
Due: none

Keep `country_isos` readable on markets with a deprecation
  packages/admin-sdk/src/types/generated/Market.ts
  packages/sdk/src/types/generated/Market.ts
  packages/sdk/src/zod/generated/Market.ts
  spree/api/app/serializers/spree/api/v3/market_serializer.rb
Due: api, API

Keep `country_isos` readable on markets with a deprecation (#14682)
  packages/admin-sdk/src/types/generated/Market.ts
  packages/sdk/src/types/generated/Market.ts
  packages/sdk/src/zod/generated/Market.ts
  spree/api/app/serializers/spree/api/v3/market_serializer.rb
Due: api, API

Fix: resolve subdivisions the countries gem names with a locale tag (#14674)
  packages/dashboard-core/src/components/address-form-dialog.tsx
  spree/core/lib/spree/iso_data.rb
  spree/core/spec/lib/spree/iso_data_spec.rb
Due: core, Core

Fix: an admin-raised order never got its seller
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/services/spree/orders/attribute_to_seller.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/spec/workflows/spree/orders/complete_spec.rb
Due: core, Core

Take the operator to the orders a split produced
  packages/admin-sdk/examples/orders/complete.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/index.ts
  packages/admin-sdk/src/order-group.ts
  packages/admin-sdk/tests/orders.test.ts
  packages/dashboard/src/components/spree/orders/order-header.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Answer admin order completion with the group when it divided
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders_spec.rb
Due: api, API

Record where seller attribution lives, and why
  docs/developer/core-concepts/sellers.mdx
  docs/plans/6.0-cart-order-split.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
Due: none

Spell the Arabic singular as a word, not a numeral
  packages/dashboard/src/locales/ar.json
Due: none

Carry the split message into Spanish, and record that #14673 landed
  docs/plans/decisions.md
  packages/dashboard/src/locales/es.json
Due: none

Update docs/user/inventory/stock-transfers.mdx
  docs/user/inventory/stock-transfers.mdx
Due: none

Delete draft orders in admin dashboard
  docs/user/orders/cancelling-orders.mdx
  docs/user/orders/creating-orders.mdx
  packages/dashboard/e2e/orders.spec.ts
  packages/dashboard/src/components/spree/orders/order-header.tsx
  packages/dashboard/src/hooks/use-order.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/seller-dashboard/src/pages/order.tsx
Due: none

Give the division one home instead of a service between two
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
  spree/core/app/services/spree/orders/attribute_to_seller.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/orders/complete.rb
Due: core, Core

Updated Inventory user guides (#14679)
  docs/images/user/inventory/purchase-orders/1-purchase-order-overview.png
  docs/images/user/inventory/purchase-orders/2-new-purchase-order.png
  docs/images/user/inventory/purchase-orders/3-purchase-order-detail.png
  docs/images/user/inventory/purchase-orders/4-receive-delivery.png
  docs/images/user/inventory/purchase-orders/5-purchase-order-deliveries.png
  docs/images/user/inventory/purchase-orders/6-stock-movements.png
  docs/images/user/inventory/stock-levels/1-inventory-overview.png
  docs/images/user/inventory/stock-levels/2-correct-count.png
  docs/images/user/inventory/stock-transfers/1-transfers-overview.png
  docs/images/user/inventory/stock-transfers/2-new-transfer-form.png
  docs/images/user/inventory/stock-transfers/3-transfer-detail.png
  docs/images/user/inventory/stock-transfers/4-receive-transfer.png
  docs/images/user/inventory/stock-transfers/5-transfer-deliveries.png
  docs/images/user/inventory/stock-transfers/6-stock-movements.png
  docs/images/user/inventory/stock-transfers/7-cancel-in-transit.png
  docs/images/user/inventory/suppliers/1-suppliers-overview.png
  docs/user/inventory/purchase-orders.mdx
  docs/user/inventory/stock-levels.mdx
  docs/user/inventory/stock-transfers.mdx
  docs/user/inventory/suppliers.mdx
Due: none

Revise stock transfer receiving instructions
  docs/user/inventory/stock-transfers.mdx
Due: none

Delete draft orders in admin dashboard (#14683)
  docs/user/orders/cancelling-orders.mdx
  docs/user/orders/creating-orders.mdx
  packages/dashboard/e2e/orders.spec.ts
  packages/dashboard/src/components/spree/orders/order-header.tsx
  packages/dashboard/src/hooks/use-order.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/seller-dashboard/src/pages/order.tsx
Due: none

Fix: refuse quantity breaks that charge more for a bigger order (#14665)
  docs/plans/6.0-volume-pricing.md
  docs/user/pricing/price-lists.mdx
  packages/dashboard-ui/src/spree/bulk-price-table.tsx
  packages/dashboard/src/components/spree/bulk-price-editor/bulk-price-editor.tsx
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
  spree/core/app/models/spree/price.rb
  spree/core/app/services/spree/imports/row_processors/price_list_price.rb
  spree/core/app/services/spree/prices/bulk_upsert.rb
  spree/core/app/workflows/spree/price_lists/update.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/price_spec.rb
  spree/core/spec/services/spree/prices/bulk_upsert_spec.rb
Due: core, api, Core, API

Moved the emails gem's translations into the emails gem
  spree/core/config/locales/en.yml
  spree/emails/config/i18n-tasks.yml
  spree/emails/config/locales/en.yml
  spree/emails/spec/i18n_spec.rb
Due: core, emails

Fix: a crash before the group was announced lost the event
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/spec/workflows/spree/orders/complete_spec.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
