Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Expose setup tasks in the Admin API store payload
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/SetupTask.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/zod/generated/ProductFilterAvailability.ts
  packages/sdk/src/zod/generated/ProductFilterAvailabilityOption.ts
  packages/sdk/src/zod/generated/ProductFilterCategory.ts
  packages/sdk/src/zod/generated/ProductFilterCategoryOption.ts
  packages/sdk/src/zod/generated/ProductFilterOption.ts
  packages/sdk/src/zod/generated/ProductFilterOptionValue.ts
  packages/sdk/src/zod/generated/ProductFilterPriceRange.ts
  packages/sdk/src/zod/generated/ProductFilterSortOption.ts
  packages/sdk/src/zod/generated/ProductFilters.ts
  packages/sdk/src/zod/generated/index.ts
  spree/admin/app/views/spree/admin/dashboard/_setup_tasks.html.erb
  spree/api/app/serializers/spree/api/v3/admin/setup_task_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/integration/spree/api/v3/admin/store_spec.rb
  spree/core/app/models/concerns/spree/stores/setup.rb
  spree/core/app/models/spree/setup_task.rb
  spree/core/app/models/spree/setup_tasks.rb
  spree/core/app/models/spree/stores/setup_tasks.rb
  spree/core/config/initializers/spree_store_setup_tasks.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/models/spree/setup_tasks_spec.rb
Due: core, api, admin, Core, API, Admin

feat: Add shipping methods, tax rates, zones CRUD + webhook secret rotation
  docs/deployment-oracle.md
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard/src/hooks/use-shipping-methods.ts
  packages/dashboard/src/hooks/use-tax-rates.ts
  packages/dashboard/src/hooks/use-webhook-endpoints.ts
  packages/dashboard/src/hooks/use-zones.ts
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/shipping-methods.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/tax-rates.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/zones.tsx
  render.yaml
  spree/api/app/controllers/spree/api/v3/admin/shipping_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/tax_rates_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/webhook_endpoints_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/zones_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/shipping_method_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/tax_rate_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/zone_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/core/app/models/spree/webhook_endpoint.rb
Due: core, api, Core, API

docs: Update status for F21 (shipping/tax/zones UI) and F17 (webhook secret rotation)
  docs/roadmap.md
  docs/stan-projektu.md
Due: none

Add Getting Started screen to the React dashboard
  packages/admin-sdk/src/types/index.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
Due: none

Fix initial expansion on Getting Started to target first pending task
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
Due: none

Add setup-progress badge to the dashboard sidebar nav
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/dashboard-core/src/components/app-sidebar.tsx
  packages/dashboard-core/src/components/nav-main.tsx
  packages/dashboard-core/src/lib/nav-registry.ts
  packages/dashboard/src/components/spree/getting-started-nav-badge.tsx
  packages/dashboard/src/nav/default.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
Due: api, API

Add storefront-connect sheet to the dashboard Getting Started page
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard/src/components/spree/getting-started-nav-badge.tsx
  packages/dashboard/src/components/spree/storefront-connect-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
Due: none

Regenerate OpenAPI specs for the new admin store fields
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-ui/src/ui/badge.tsx
Due: none

Add demo and installation links to the storefront-connect sheet
  packages/dashboard/src/components/spree/storefront-connect-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Fix TinyMCE assets 404ing in development with Propshaft
  spree/admin/lib/spree/admin.rb
Due: admin, Admin

Refresh the store snapshot when entering Getting Started
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard/src/components/spree/getting-started-nav-badge.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
Due: none

Drive setup-task freshness through TanStack Query invalidation
  packages/dashboard-core/src/providers/store-provider.tsx
  packages/dashboard/src/hooks/use-payment-methods.ts
  packages/dashboard/src/hooks/use-product.ts
  packages/dashboard/src/hooks/use-products.ts
  packages/dashboard/src/hooks/use-store-settings.ts
Due: none

Rename SetupTasks::Task to SetupTasks::Definition
  spree/core/app/models/spree/setup_tasks.rb
  spree/core/spec/models/spree/setup_tasks_spec.rb
Due: core, Core

Permit admin_name on stock location strong params (#14279)
  spree/admin/spec/controllers/spree/admin/stock_locations_controller_spec.rb
  spree/core/lib/spree/permitted_attributes.rb
Due: core, Core

Adds serializers for Store API product filters (#14277)
  packages/sdk/src/types/generated/ProductFilterAvailability.ts
  packages/sdk/src/types/generated/ProductFilterAvailabilityOption.ts
  packages/sdk/src/types/generated/ProductFilterCategory.ts
  packages/sdk/src/types/generated/ProductFilterCategoryOption.ts
  packages/sdk/src/types/generated/ProductFilterOption.ts
  packages/sdk/src/types/generated/ProductFilterOptionValue.ts
  packages/sdk/src/types/generated/ProductFilterPriceRange.ts
  packages/sdk/src/types/generated/ProductFilterSortOption.ts
  packages/sdk/src/types/generated/ProductFilters.ts
  packages/sdk/src/types/generated/index.ts
  spree/api/app/controllers/spree/api/v3/store/products/filters_controller.rb
  spree/api/app/serializers/spree/api/v3/product_filter_availability_option_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_filter_availability_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_filter_category_option_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_filter_category_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_filter_option_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_filter_option_value_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_filter_price_range_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_filter_sort_option_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_filters_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/serializers/spree/api/v3/product_filters_serializer_spec.rb
Due: api, API

Fix Import group performance issues (#14280)
  .claude/settings.local.json
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/jobs/spree/imports/process_rows_job.rb
  spree/core/app/models/spree/import.rb
  spree/core/app/services/spree/imports/row_processors/base.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/jobs/spree/imports/process_rows_job_spec.rb
Due: core, Core

Fix: disable Turbo for sign-out to allow following different hosts fo… (#14283)
  spree/admin/app/views/spree/admin/shared/_user_dropdown.html.erb
Due: admin, Admin

Apply /simplify review to the Getting Started work
  packages/dashboard-core/src/components/app-sidebar.tsx
  packages/dashboard-core/src/hooks/use-resource-mutation.ts
  packages/dashboard-core/src/lib/nav-registry.ts
  packages/dashboard-core/src/providers/store-provider.tsx
  packages/dashboard/src/components/spree/storefront-connect-sheet.tsx
  packages/dashboard/src/hooks/use-api-keys.ts
  packages/dashboard/src/hooks/use-payment-methods.ts
  packages/dashboard/src/hooks/use-product.ts
  packages/dashboard/src/hooks/use-products.ts
  packages/dashboard/src/hooks/use-store-settings.ts
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
  spree/admin/app/controllers/spree/admin/storefront_controller.rb
  spree/admin/app/views/spree/admin/dashboard/_setup_tasks.html.erb
  spree/core/app/models/concerns/spree/stores/setup.rb
  spree/core/app/models/spree/allowed_origin.rb
  spree/core/app/models/spree/setup_tasks.rb
  spree/core/app/models/spree/store.rb
  spree/core/spec/models/spree/setup_tasks_spec.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, admin, Core, Admin

Distinguish reply-to mail header + DRY
  spree/core/app/mailers/spree/admin_user_mailer.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/mailers/spree/export_mailer.rb
  spree/core/app/mailers/spree/invitation_mailer.rb
  spree/core/app/mailers/spree/report_mailer.rb
  spree/core/spec/mailers/spree/base_mailer_spec.rb
  spree/core/spec/mailers/spree/invitation_mailer_spec.rb
  spree/core/spec/mailers/spree/report_mailer_spec.rb
  spree/emails/app/mailers/spree/customer_mailer.rb
  spree/emails/app/mailers/spree/order_mailer.rb
  spree/emails/app/mailers/spree/reimbursement_mailer.rb
  spree/emails/app/mailers/spree/shipment_mailer.rb
  spree/emails/spec/mailers/spree/order_mailer_spec.rb
  spree/emails/spec/mailers/spree/reimbursement_mailer_spec.rb
  spree/emails/spec/mailers/spree/shipment_mailer_spec.rb
Due: core, emails, Core, Emails

validate customer_support_email as email
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/models/spree/store.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

Distinguish reply-to mail header + DRY (#14292)
  spree/core/app/mailers/spree/admin_user_mailer.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/mailers/spree/export_mailer.rb
  spree/core/app/mailers/spree/invitation_mailer.rb
  spree/core/app/mailers/spree/report_mailer.rb
  spree/core/app/models/spree/store.rb
  spree/core/spec/mailers/spree/base_mailer_spec.rb
  spree/core/spec/mailers/spree/invitation_mailer_spec.rb
  spree/core/spec/mailers/spree/report_mailer_spec.rb
  spree/core/spec/models/spree/store_spec.rb
  spree/emails/app/mailers/spree/customer_mailer.rb
  spree/emails/app/mailers/spree/order_mailer.rb
  spree/emails/app/mailers/spree/reimbursement_mailer.rb
  spree/emails/app/mailers/spree/shipment_mailer.rb
  spree/emails/spec/mailers/spree/order_mailer_spec.rb
  spree/emails/spec/mailers/spree/reimbursement_mailer_spec.rb
  spree/emails/spec/mailers/spree/shipment_mailer_spec.rb
Due: core, emails, Core, Emails

Make Getting Started task bodies pluggable via the slot registry
  packages/dashboard/src/components/spree/setup-tasks/register.ts
  packages/dashboard/src/components/spree/setup-tasks/storefront-connect-task.tsx
  packages/dashboard/src/components/spree/setup-tasks/types.ts
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
Due: none

Recalculate tax from the discounted basis for all promotion types
  spree/core/app/models/spree/calculator/default_tax.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/spec/models/spree/promotion_tax_recalculation_spec.rb
Due: core, Core

Address PR review feedback
  packages/dashboard/src/components/spree/storefront-connect-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
  spree/core/app/models/concerns/spree/stores/setup.rb
  spree/core/app/models/spree/allowed_origin.rb
  spree/core/spec/models/spree/allowed_origin_spec.rb
Due: core, Core

Set default from: address in BaseMailer so no need to calling it every time
  spree/core/app/mailers/spree/admin_user_mailer.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/mailers/spree/export_mailer.rb
  spree/core/app/mailers/spree/invitation_mailer.rb
  spree/core/app/mailers/spree/report_mailer.rb
  spree/core/app/mailers/spree/webhook_mailer.rb
  spree/core/spec/mailers/spree/base_mailer_spec.rb
  spree/emails/app/mailers/spree/customer_mailer.rb
  spree/emails/app/mailers/spree/newsletter_mailer.rb
  spree/emails/app/mailers/spree/order_mailer.rb
  spree/emails/app/mailers/spree/reimbursement_mailer.rb
  spree/emails/app/mailers/spree/shipment_mailer.rb
Due: core, emails, Core, Emails

Move Getting Started copy under the admin.pages i18n namespace
  packages/dashboard/src/components/spree/setup-tasks/storefront-connect-task.tsx
  packages/dashboard/src/components/spree/storefront-connect-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
Due: none

Address Bugbot findings on the connect flow
  packages/dashboard/src/hooks/use-store-settings.ts
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
Due: none

Set default from: address in BaseMailer so no need to calling it every time (#14294)
  spree/core/app/mailers/spree/admin_user_mailer.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/mailers/spree/export_mailer.rb
  spree/core/app/mailers/spree/invitation_mailer.rb
  spree/core/app/mailers/spree/report_mailer.rb
  spree/core/app/mailers/spree/webhook_mailer.rb
  spree/core/spec/mailers/spree/base_mailer_spec.rb
  spree/emails/app/mailers/spree/customer_mailer.rb
  spree/emails/app/mailers/spree/newsletter_mailer.rb
  spree/emails/app/mailers/spree/order_mailer.rb
  spree/emails/app/mailers/spree/reimbursement_mailer.rb
  spree/emails/app/mailers/spree/shipment_mailer.rb
Due: core, emails, Core, Emails

Address review: reload-safe checklist memo, safer connect ordering
  packages/dashboard/src/hooks/use-store-settings.ts
  spree/core/app/models/concerns/spree/stores/setup.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

Bump spree to 5.5.3
  spree/core/lib/spree/core/version.rb
Due: core, Core

Clean up taxable-basis internals after review
  spree/core/app/models/spree/calculator/default_tax.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

Add 5.6 admin SPA CSV import plan
  CLAUDE.md
  docs/plans/5.6-admin-spa-csv-import.md
Due: none

Prepare Spree::Import for the Admin API surface
  spree/core/app/models/spree/import.rb
  spree/core/app/models/spree/import_row.rb
  spree/core/app/models/spree/imports/product_translations.rb
  spree/core/db/migrate/20260710000001_add_import_id_status_index_to_spree_import_rows.rb
Due: core, Core

Add CSV imports to the Admin API v3
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Import.ts
  packages/admin-sdk/src/types/generated/ImportMapping.ts
  packages/admin-sdk/src/types/generated/ImportRow.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  spree/api/app/controllers/spree/api/v3/admin/import_rows_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/imports_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/import_mapping_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/import_row_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/import_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/import_rows_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/imports_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/imports_spec.rb
Due: api, API

Add imports resource to @spree/admin-sdk
  packages/admin-sdk/.changeset/csv-imports.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/tests/imports.test.ts
Due: none

Add ImportButton and the CSV upload flow to @spree/dashboard-core
  packages/dashboard-core/src/components/import-button.tsx
  packages/dashboard-core/src/hooks/use-import.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
Due: none

Add the CSV import wizard and history to the dashboard
  packages/dashboard/src/hooks/use-imports.ts
  packages/dashboard/src/lib/import-types.test.ts
  packages/dashboard/src/lib/import-types.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/customers/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/imports/$importId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/imports/index.tsx
  packages/dashboard/src/tables/imports.tsx
Due: none

Run ActiveJob in-process for the dashboard e2e server; add imports e2e
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/e2e/global-teardown.ts
  packages/dashboard/e2e/imports.spec.ts
  packages/dashboard/e2e/paths.ts
Due: none
