Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Fix: route insertion and uniqueness scope from review
  spree/core/lib/generators/spree/api_resource/api_resource_generator.rb
  spree/core/lib/generators/spree/model/model_generator.rb
  spree/core/lib/generators/spree/model/templates/create_table_migration.rb.tt
  spree/core/lib/generators/spree/model/templates/model.rb.tt
  spree/core/spec/lib/generators/spree/model/model_generator_spec.rb
Due: none

Fix: generated API resources are broken in a real application (#14666)
  package.json
  scripts/server-setup.sh
  scripts/worktree/setup.sh
  spree/core/lib/generators/spree/api_resource/api_resource_generator.rb
  spree/core/lib/generators/spree/api_resource/templates/admin_controller.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/admin_controller_spec.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/store_controller_spec.rb.tt
  spree/core/lib/generators/spree/model/model_generator.rb
  spree/core/lib/generators/spree/model/templates/create_table_migration.rb.tt
  spree/core/lib/generators/spree/model/templates/model.rb.tt
  spree/core/lib/spree/testing_support/factories/user_factory.rb
  spree/core/spec/lib/generators/spree/model/model_generator_spec.rb
Due: none

One import for dashboard apps, and a structure to grow into
  packages/dashboard-starter/AGENTS.md
  packages/dashboard-starter/README.md
  packages/dashboard-starter/package.json
  packages/dashboard-starter/src/hooks/.gitkeep
  packages/dashboard-starter/src/locales/en.json
  packages/dashboard-starter/src/pages/.gitkeep
  packages/dashboard-starter/src/plugins.ts
  packages/dashboard-starter/src/schemas/.gitkeep
  packages/dashboard-starter/src/tables/.gitkeep
  packages/dashboard-starter/tsconfig.json
  packages/dashboard/src/facade.test.ts
  packages/dashboard/src/index.ts
  packages/seller-dashboard-starter/AGENTS.md
  packages/seller-dashboard-starter/package.json
  packages/seller-dashboard-starter/src/hooks/.gitkeep
  packages/seller-dashboard-starter/src/locales/en.json
  packages/seller-dashboard-starter/src/pages/.gitkeep
  packages/seller-dashboard-starter/src/plugins.ts
  packages/seller-dashboard-starter/src/schemas/.gitkeep
  packages/seller-dashboard-starter/src/tables/.gitkeep
  packages/seller-dashboard-starter/tsconfig.json
  packages/seller-dashboard/src/index.ts
  pnpm-lock.yaml
Due: none

Rebuild the tutorial around Brands and five steps
  docs/developer/tutorial/admin-api.mdx
  docs/developer/tutorial/dashboard-plugin.mdx
  docs/developer/tutorial/dashboard.mdx
  docs/developer/tutorial/events.mdx
  docs/developer/tutorial/introduction.mdx
  docs/developer/tutorial/model-and-api.mdx
  docs/developer/tutorial/model.mdx
  docs/developer/tutorial/store-api.mdx
  docs/developer/tutorial/storefront.mdx
  docs/developer/tutorial/testing.mdx
  docs/docs.json
  docs/index.mdx
Due: none

Remove the Solutions pages and redirect them
  docs/developer/how-to/custom-digital-asset-provider.mdx
  docs/use-case/b2b/b2b-admin-capabilities.mdx
  docs/use-case/b2b/b2b-buyer-capabilities.mdx
  docs/use-case/b2b/b2b-capabilities.mdx
  docs/use-case/b2b/b2b-commerce-model.mdx
  docs/use-case/digital-products/admin-capabilities.mdx
  docs/use-case/digital-products/capabilities.mdx
  docs/use-case/digital-products/model.mdx
  docs/use-case/marketplace/admin-dashboard.mdx
  docs/use-case/marketplace/capabilities.mdx
  docs/use-case/marketplace/customer-ux.mdx
  docs/use-case/marketplace/model.mdx
  docs/use-case/marketplace/vendor-dashboard.mdx
  docs/use-case/multi-tenant/franchises-and-reseller-networks.mdx
  docs/use-case/multi-tenant/multi-brand-enterprise-model.mdx
  docs/use-case/multi-tenant/multi-tenant-capabilities.mdx
  docs/use-case/multi-tenant/multi-tenant-model.mdx
  docs/use-case/multi-tenant/super-admin-capabilities.mdx
  docs/use-case/multi-tenant/tenant-capabilities.mdx
  docs/use-case/multi-tenant/white-label-saas.mdx
  docs/use-case/overview.mdx
  docs/user/how-to/selling-to-businesses.mdx
  docs/user/products/creating-products.mdx
  docs/user/user-quickstart-guide.mdx
  docs/v5/user/products/creating-products.mdx
  docs/v5/user/user-quickstart-guide.mdx
Due: none

Import from the app package in dashboard docs
  docs/developer/dashboard/customization/backend.mdx
  docs/developer/dashboard/customization/navigation.mdx
  docs/developer/dashboard/customization/permissions.mdx
  docs/developer/dashboard/customization/quickstart.mdx
  docs/developer/dashboard/customization/routes.mdx
  docs/developer/dashboard/customization/slots.mdx
  docs/developer/dashboard/customization/tables.mdx
  docs/developer/dashboard/customization/translations.mdx
  docs/developer/dashboard/overview.mdx
  docs/developer/dashboard/public-api.mdx
  docs/developer/dashboard/recipes/attribute-end-to-end.mdx
  docs/developer/dashboard/recipes/custom-form-field.mdx
  docs/developer/dashboard/recipes/page-action-button.mdx
  docs/developer/dashboard/recipes/sidebar-widget.mdx
  docs/developer/dashboard/slots-catalog.mdx
Due: none

Drop version framing from the current docs
  docs/api-reference/webhooks-events.mdx
  docs/developer/contributing/developing-spree.mdx
  docs/developer/core-concepts/metafields.mdx
  docs/developer/core-concepts/store-credits-gift-cards.mdx
  docs/developer/core-concepts/stores.mdx
  docs/developer/customization/configuration.mdx
  docs/developer/customization/dependencies.mdx
  docs/developer/customization/metadata.mdx
  docs/developer/customization/quickstart.mdx
  docs/developer/customization/validations.mdx
  docs/developer/how-to/build-a-marketplace.mdx
  docs/developer/how-to/custom-document-numbers.mdx
  docs/developer/how-to/custom-promotion.mdx
  docs/developer/how-to/sell-digital-products.mdx
  docs/developer/providers/dam.mdx
  docs/developer/providers/erp.mdx
  docs/developer/providers/pim.mdx
  docs/developer/providers/sso.mdx
  docs/plans/6.0-telemetry-and-update-check.md
Due: none

Fix: review findings on the docs
  docs/developer/customization/metadata.mdx
  docs/developer/dashboard/customization/backend.mdx
  docs/developer/dashboard/customization/navigation.mdx
  docs/developer/dashboard/customization/permissions.mdx
  docs/developer/dashboard/customization/routes.mdx
  docs/developer/dashboard/customization/slots.mdx
  docs/developer/dashboard/customization/tables.mdx
  docs/developer/dashboard/customization/translations.mdx
  docs/developer/dashboard/recipes/page-action-button.mdx
  docs/developer/how-to/custom-document-numbers.mdx
  docs/developer/tutorial/dashboard.mdx
  docs/developer/tutorial/introduction.mdx
  docs/developer/tutorial/model-and-api.mdx
  docs/developer/tutorial/storefront.mdx
  docs/developer/tutorial/testing.mdx
  docs/index.mdx
  packages/dashboard-starter/README.md
Due: none

Make the product brand card editable, and fix the scaffolded agent files
  docs/developer/tutorial/dashboard.mdx
  docs/developer/tutorial/model-and-api.mdx
  packages/create-spree-app/src/prompts.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Fix: combobox value and Next.js route params
  docs/developer/tutorial/dashboard.mdx
  docs/developer/tutorial/storefront.mdx
Due: none

Add changesets for the dashboard facade and starter changes
  .changeset/create-spree-app-agent-instructions.md
  .changeset/dashboard-single-import-facade.md
  .changeset/starter-project-structure.md
Due: none

Fix: facade test timed out in CI
  packages/dashboard/src/facade.test.ts
  packages/dashboard/src/index.ts
  packages/seller-dashboard/src/index.ts
Due: none

Align the dashboard docs with the facade and the starter layout
  docs/developer/dashboard/concepts.mdx
  docs/developer/dashboard/overview.mdx
  docs/developer/dashboard/recipes/attribute-end-to-end.mdx
  docs/developer/dashboard/recipes/custom-form-field.mdx
  docs/developer/dashboard/recipes/sidebar-widget.mdx
  packages/dashboard-starter/AGENTS.md
  packages/dashboard-starter/README.md
  packages/dashboard-starter/src/slots/.gitkeep
  packages/seller-dashboard-starter/AGENTS.md
  packages/seller-dashboard-starter/src/slots/.gitkeep
Due: none

Fix: inaccurate dashboard reference docs
  docs/developer/dashboard/concepts.mdx
  docs/developer/dashboard/customization/backend.mdx
  docs/developer/dashboard/customization/navigation.mdx
  docs/developer/dashboard/customization/quickstart.mdx
  docs/developer/dashboard/plugins/distributing.mdx
  docs/developer/dashboard/public-api.mdx
  docs/developer/dashboard/recipes/attribute-end-to-end.mdx
  docs/developer/dashboard/recipes/page-action-button.mdx
  docs/developer/dashboard/recipes/sidebar-widget.mdx
  docs/developer/dashboard/slots-catalog.mdx
Due: none

Fix: charge a company the best price when it has two catalogs (#14661)
  docs/developer/core-concepts/catalogs.mdx
  docs/plans/6.0-b2b-companies-and-catalogs.md
  docs/plans/decisions.md
  packages/admin-sdk/src/types/generated/LineItem.ts
  packages/dashboard-ui/src/spree/fulfillment-item-list.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/components/spree/orders/line-item-price-source.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/line_item_serializer.rb
  spree/api/spec/serializers/spree/api/v3/admin/line_item_serializer_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/spec/lib/spree/core/pricing/catalog_pricing_spec.rb
Due: core, api, Core, API

Added a sample data option to first-run setup
  .changeset/admin-sdk-setup-sample-data.md
  .changeset/dashboard-setup-sample-data.md
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/setup.tsx
  packages/dashboard/src/schemas/auth.ts
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/setup_spec.rb
  spree/core/app/jobs/spree/sample_data/load_job.rb
  spree/core/spec/jobs/spree/sample_data/load_job_spec.rb
Due: core, api, Core, API

Stopped asking at the terminal what the setup screen asks
  .changeset/cli-setup-no-prompts.md
  packages/cli/src/commands/api-key.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/config.ts
Due: none

Extracted the store questions from the setup screen
  packages/dashboard/package.json
  packages/dashboard/src/components/spree/store-setup-fields.tsx
  packages/dashboard/src/routes/setup.tsx
Due: none

Recorded that store setup is one shared step
  docs/plans/decisions.md
Due: none

Fixed the French sample data help text
  packages/dashboard/src/locales/fr.json
Due: none

Added a sample data option to first-run setup (V-3633) (#14644)
  .changeset/admin-sdk-setup-sample-data.md
  .changeset/cli-setup-no-prompts.md
  .changeset/dashboard-setup-sample-data.md
  docs/api-reference/admin.yaml
  docs/plans/decisions.md
  packages/admin-sdk/src/params.ts
  packages/cli/src/commands/api-key.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/config.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/package.json
  packages/dashboard/src/components/spree/store-setup-fields.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/setup.tsx
  packages/dashboard/src/schemas/auth.ts
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/setup_spec.rb
  spree/core/app/jobs/spree/sample_data/load_job.rb
  spree/core/spec/jobs/spree/sample_data/load_job_spec.rb
Due: core, api, Core, API

Align the dashboard docs with the facade and the starter layout (#14668)
  docs/developer/dashboard/concepts.mdx
  docs/developer/dashboard/customization/backend.mdx
  docs/developer/dashboard/customization/navigation.mdx
  docs/developer/dashboard/customization/quickstart.mdx
  docs/developer/dashboard/overview.mdx
  docs/developer/dashboard/plugins/distributing.mdx
  docs/developer/dashboard/public-api.mdx
  docs/developer/dashboard/recipes/attribute-end-to-end.mdx
  docs/developer/dashboard/recipes/custom-form-field.mdx
  docs/developer/dashboard/recipes/page-action-button.mdx
  docs/developer/dashboard/recipes/sidebar-widget.mdx
  docs/developer/dashboard/slots-catalog.mdx
  packages/dashboard-starter/AGENTS.md
  packages/dashboard-starter/README.md
  packages/dashboard-starter/src/slots/.gitkeep
  packages/seller-dashboard-starter/AGENTS.md
  packages/seller-dashboard-starter/src/slots/.gitkeep
Due: none

Fix: refuse quantity breaks that charge more for a bigger order
  docs/plans/6.0-volume-pricing.md
  docs/user/pricing/price-lists.mdx
  packages/dashboard-ui/src/spree/bulk-price-table.tsx
  packages/dashboard/src/components/spree/bulk-price-editor/bulk-price-editor.tsx
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
  spree/core/app/models/spree/price.rb
  spree/core/app/services/spree/imports/row_processors/price_list_price.rb
  spree/core/app/services/spree/prices/bulk_upsert.rb
  spree/core/app/workflows/spree/price_lists/update.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/price_spec.rb
  spree/core/spec/services/spree/prices/bulk_upsert_spec.rb
Due: core, api, Core, API

Improve Store setup flow
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/setup.tsx
Due: none

Fix: purchase confirmation over-counted apportioned money and goods
  packages/admin-sdk/src/types/generated/OrderGroup.ts
  spree/api/app/serializers/spree/api/v3/admin/order_group_serializer.rb
  spree/core/app/models/spree/fulfillment_group.rb
  spree/core/app/models/spree/order_group.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/lib/spree/testing_support/factories/payment_factory.rb
  spree/core/spec/models/spree/order_group_spec.rb
  spree/emails/app/views/spree/order_group_mailer/confirm_email.html.erb
  spree/emails/app/views/spree/order_group_mailer/confirm_email.text.erb
  spree/emails/app/views/spree/shared/_fulfillment_group_section.html.erb
  spree/emails/app/views/spree/shared/_fulfillment_group_section.text.erb
  spree/emails/app/views/spree/shared/_purchase_totals.html.erb
  spree/emails/app/views/spree/shared/_purchase_totals.text.erb
  spree/emails/app/views/spree/shared/purchased_items_table/_line_item.html.erb
  spree/emails/lib/spree/emails/previews/order_group_preview.rb
  spree/emails/spec/mailers/spree/order_group_mailer_spec.rb
Due: core, api, emails, Core, API, Emails

Improve Store setup flow (#14669)
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/setup.tsx
Due: none

Fix: text-part money carried an HTML entity, and a replay could skip the operator
  docs/developer/core-concepts/events.mdx
  spree/emails/app/subscribers/spree/order_group_email_subscriber.rb
  spree/emails/app/views/spree/shared/_purchase_totals.text.erb
  spree/emails/spec/mailers/spree/order_group_mailer_spec.rb
  spree/emails/spec/subscribers/spree/order_group_email_subscriber_spec.rb
Due: emails, Emails

Move the agent-tool registry into spree_core
  spree/core/app/tools/spree/agent_tools/create_export.rb
  spree/core/app/tools/spree/agent_tools/create_resource.rb
  spree/core/app/tools/spree/agent_tools/delete_resource.rb
  spree/core/app/tools/spree/agent_tools/describe_import_mapping.rb
  spree/core/app/tools/spree/agent_tools/describe_reporting.rb
  spree/core/app/tools/spree/agent_tools/describe_resource.rb
  spree/core/app/tools/spree/agent_tools/get_import_status.rb
  spree/core/app/tools/spree/agent_tools/get_resource.rb
  spree/core/app/tools/spree/agent_tools/propose_import_mapping.rb
  spree/core/app/tools/spree/agent_tools/query_report.rb
  spree/core/app/tools/spree/agent_tools/resource_write.rb
  spree/core/app/tools/spree/agent_tools/search_resources.rb
  spree/core/app/tools/spree/agent_tools/update_resource.rb
  spree/core/app/workflows/spree/purchase_orders/create.rb
  spree/core/lib/spree/agent_tool.rb
  spree/core/lib/spree/agent_tools.rb
  spree/core/lib/spree/agent_tools/context.rb
  spree/core/lib/spree/agent_tools/default_catalog.rb
  spree/core/lib/spree/agent_tools/record_summary.rb
  spree/core/lib/spree/agent_tools/registry.rb
  spree/core/lib/spree/agent_tools/resource_map.rb
  spree/core/lib/spree/agent_tools/workflow_schema.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/lib/spree/agent_tools/authorization_spec.rb
  spree/core/spec/lib/spree/agent_tools/record_summary_spec.rb
  spree/core/spec/lib/spree/agent_tools/resource_map_spec.rb
  spree/core/spec/tools/spree/agent_tools/create_export_spec.rb
  spree/core/spec/tools/spree/agent_tools/import_tools_spec.rb
  spree/core/spec/tools/spree/agent_tools/search_resources_spec.rb
Due: core, Core

Record the MCP server delivery decisions
  docs/plans/6.0-mcp-server.md
  docs/plans/decisions.md
Due: none

Derive the agent resource map from the admin controllers
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/lib/spree/api/agent_write_schemas.rb
  spree/api/lib/spree/api/engine.rb
Due: api, API

Keep the agent catalog honest against the admin controllers
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/api/agent_tools_contract_spec.rb
  spree/core/lib/spree/agent_tools/workflow_schema.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
Due: core, api, Core, API

Add the spree_mcp gem serving the agent tools over MCP
  scripts/test/rspec
  spree/mcp/Gemfile
  spree/mcp/LICENSE
  spree/mcp/Rakefile
  spree/mcp/app/controllers/spree/api/v3/admin/mcp_controller.rb
  spree/mcp/config/routes.rb
  spree/mcp/lib/spree/mcp/engine.rb
  spree/mcp/lib/spree/mcp/server.rb
  spree/mcp/lib/spree/mcp/tool_adapter.rb
  spree/mcp/lib/spree_mcp.rb
  spree/mcp/spec/lib/spree/mcp/server_spec.rb
  spree/mcp/spec/requests/spree/api/v3/admin/mcp_spec.rb
  spree/mcp/spec/spec_helper.rb
  spree/mcp/spree_mcp.gemspec
Due: none

Point the moved agent tool specs at the derived map
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/agent_tools/authorization_spec.rb
  spree/api/spec/lib/spree/agent_tools/resource_map_spec.rb
  spree/api/spec/tools/spree/agent_tools/create_export_spec.rb
  spree/api/spec/tools/spree/agent_tools/import_tools_spec.rb
  spree/api/spec/tools/spree/agent_tools/search_resources_spec.rb
  spree/core/spec/lib/spree/agent_tools/record_summary_spec.rb
Due: api, API

Document the admin MCP server and register its gem
  .github/dependabot.yml
  .github/workflows/tests.yml
  docs/developer/agentic/admin-mcp.mdx
  docs/developer/agentic/mcp.mdx
  docs/developer/agentic/overview.mdx
  docs/docs.json
  spree/Rakefile
  spree/mcp/README.md
Due: none

Fix: MCP endpoint was drawn twice
  spree/mcp/lib/spree/mcp/engine.rb
Due: none

Cover the generic record writes and the reporting tools
  spree/api/spec/tools/spree/agent_tools/reporting_tools_spec.rb
  spree/api/spec/tools/spree/agent_tools/resource_write_spec.rb
  spree/core/app/tools/spree/agent_tools/create_resource.rb
  spree/core/app/tools/spree/agent_tools/query_report.rb
  spree/core/app/tools/spree/agent_tools/resource_write.rb
Due: core, Core

Fix: agent write tools skipped the record-level permission check
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/agent_tools/authorization_spec.rb
  spree/api/spec/lib/spree/api/agent_tools_contract_spec.rb
  spree/core/app/tools/spree/agent_tools/create_export.rb
  spree/core/app/tools/spree/agent_tools/describe_import_mapping.rb
  spree/core/app/tools/spree/agent_tools/propose_import_mapping.rb
  spree/core/app/tools/spree/agent_tools/query_report.rb
  spree/core/lib/spree/agent_tool.rb
  spree/core/lib/spree/agent_tools/context.rb
  spree/core/lib/spree/agent_tools/workflow_schema.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
  spree/mcp/lib/spree/mcp/tool_adapter.rb
  spree/mcp/spec/lib/spree/mcp/server_spec.rb
Due: core, api, Core, API

Fix: bearer header parsing could be made to backtrack
  spree/mcp/app/controllers/spree/api/v3/admin/mcp_controller.rb
  spree/mcp/spec/requests/spree/api/v3/admin/mcp_spec.rb
Due: none

Assert that a generic write needs a documented request body
  spree/api/spec/lib/spree/api/agent_tools_contract_spec.rb
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
