Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Show why an order tax line is zero (#14530)
  .changeset/tax-line-exemption-reason.md
  packages/dashboard/src/components/spree/orders/order-adjustments-cards.tsx
  packages/dashboard/src/components/spree/orders/order-summary-card.tsx
  packages/dashboard/src/lib/tax-line-groups.test.ts
  packages/dashboard/src/lib/tax-line-groups.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/edit.tsx
Due: none

Stop the retry job resending an earning nobody can account for
  spree/api/app/controllers/spree/api/v3/admin/sellers_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/sellers_controller_spec.rb
  spree/core/app/jobs/spree/seller_payouts/sweep_due_job.rb
  spree/core/app/jobs/spree/seller_payouts/sweep_seller_job.rb
  spree/core/app/jobs/spree/seller_transfers/execute_pending_job.rb
  spree/core/app/models/spree/seller.rb
  spree/core/app/models/spree/seller_requirement.rb
  spree/core/app/models/spree/seller_requirements/payout_account.rb
  spree/core/app/models/spree/seller_transfer.rb
  spree/core/app/services/spree/sellers/requirements.rb
  spree/core/spec/jobs/spree/seller_payouts/sweep_due_job_spec.rb
  spree/core/spec/jobs/spree/seller_payouts/sweep_seller_job_spec.rb
  spree/core/spec/jobs/spree/seller_transfers/execute_pending_job_spec.rb
  spree/core/spec/models/spree/seller_requirements/payout_account_spec.rb
Due: core, api, Core, API

Target the empty paragraph for the editor placeholder
  packages/dashboard-ui/src/styles.css
Due: none

Show each delivery amount against the currency it belongs to
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/lib/delivery-method-summary.test.ts
  packages/dashboard/src/lib/delivery-method-summary.ts
Due: none

Fix rich-text editor shortcuts and missing list, quote, and link styles (#14532)
  .changeset/rich-text-editor-toolbar-and-shortcuts.md
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard-ui/src/ui/sidebar.tsx
  packages/dashboard/e2e/products-edit.spec.ts
Due: none

Refuse a settlement reference that already belongs to another one
  spree/core/app/workflows/spree/seller_payouts/complete.rb
  spree/core/spec/workflows/spree/seller_payouts/complete_spec.rb
Due: core, Core

Let a catalog's price list price by quantity
  docs/plans/6.0-price-list-automatic-pricing.md
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/price_rule.rb
  spree/core/app/models/spree/price_rules/volume_rule.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/pricing_provider/internal_resolution_spec.rb
Due: core, api, Core, API

Deprecate Spree::Address#clone and UserAddress#persist_order_address
  docs/plans/6.0-cart-order-split.md
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/app/models/concerns/spree/user_address.rb
  spree/core/app/models/spree/address.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/models/spree/customer_spec.rb
  spree/core/spec/models/spree/user_spec.rb
Due: core, Core

Offer a minimum quantity on the catalog's pricing card
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/components/spree/catalog-pricing-fields.tsx
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/catalog.ts
Due: none

Normalize stored delivery currencies before matching them
  packages/dashboard/src/lib/delivery-method-summary.test.ts
  packages/dashboard/src/lib/delivery-method-summary.ts
Due: none

Read the live provider on every checklist, the stamp only on the list
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/sellers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/onboarding_controller_spec.rb
Due: none

Record what actually scopes an automatic price list
  docs/plans/6.0-price-list-automatic-pricing.md
Due: none

Fix delivery method amounts shown in the wrong currency (#14531)
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/components/spree/shipping/delivery-method-list.tsx
  packages/dashboard/src/lib/delivery-method-summary.test.ts
  packages/dashboard/src/lib/delivery-method-summary.ts
Due: none

Stop a catalog save from dropping rules it does not edit
  docs/plans/6.0-price-list-automatic-pricing.md
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/catalog.ts
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
Due: none

Check the reference before writing it rather than rescuing the index
  spree/core/app/workflows/spree/seller_payouts/complete.rb
Due: core, Core

Address review: legacy geography keys, guest edits in place, labelled entries
  spree/core/app/models/concerns/spree/purchase/addresses.rb
  spree/core/app/models/spree/address.rb
  spree/core/app/services/spree/addresses/create.rb
  spree/core/spec/models/concerns/spree/purchase/addresses_spec.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/services/spree/addresses/create_spec.rb
Due: core, Core

Let the catalog payload speak only for the rules it owns
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/catalog.ts
  packages/dashboard/src/schemas/price-list.ts
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/price_rule.rb
  spree/core/app/workflows/spree/catalogs/set_price_list.rb
  spree/core/spec/workflows/spree/catalogs/set_price_list_spec.rb
Due: core, Core

Serialize address-book writes per owner
  spree/core/app/services/spree/addresses/create.rb
  spree/core/spec/services/spree/addresses/create_spec.rb
Due: core, Core

Keep a catalog save from re-validating rules it only passes through
  spree/core/app/workflows/spree/catalogs/set_price_list.rb
  spree/core/spec/workflows/spree/catalogs/set_price_list_spec.rb
Due: core, Core

Clarify how the old address copy grew the buyer's book
  docs/plans/6.0-cart-order-split.md
Due: none

Cover the agreement's quantity threshold in the browser
  packages/dashboard/e2e/catalogs.spec.ts
Due: none

Stop leaking the missing file-command error to buyers and sellers
  spree/core/app/models/concerns/spree/purchase/purchase_order.rb
  spree/core/app/models/concerns/spree/translates_missing_file_command.rb
  spree/core/app/models/spree/seller_requirement_submission.rb
  spree/core/app/models/spree/seller_requirements/document.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/testing_support/purchase_order.rb
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/core/spec/services/spree/orders/create_spec.rb
  spree/core/spec/workflows/spree/seller_requirement_submissions/lifecycle_spec.rb
Due: core, Core

Document the file command as a runtime requirement for document uploads
  docs/developer/core-concepts/sellers.mdx
  docs/developer/deployment/docker.mdx
  docs/plans/6.0-b2b-customer-po-numbers.md
  docs/plans/6.0-seller-onboarding-requirements.md
Due: none

Stop judging the quantity a merchant can no longer see
  packages/dashboard/e2e/catalogs.spec.ts
  packages/dashboard/src/schemas/catalog.ts
Due: none

Confirm document type from the bytes in process
  docs/developer/core-concepts/sellers.mdx
  docs/developer/deployment/docker.mdx
  docs/plans/6.0-b2b-customer-po-numbers.md
  docs/plans/6.0-seller-onboarding-requirements.md
  spree/core/app/models/concerns/spree/purchase/purchase_order.rb
  spree/core/app/models/concerns/spree/translates_missing_file_command.rb
  spree/core/app/models/spree/seller_requirement_submission.rb
  spree/core/app/models/spree/seller_requirements/document.rb
  spree/core/app/validators/spree/bytes_content_type_validator.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/testing_support/purchase_order.rb
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/core/spec/services/spree/orders/create_spec.rb
  spree/core/spec/validators/spree/bytes_content_type_validator_spec.rb
  spree/core/spec/workflows/spree/seller_requirement_submissions/lifecycle_spec.rb
Due: core, Core

Cover the storefront attach path in the bytes type check
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/core/spec/validators/spree/bytes_content_type_validator_spec.rb
Due: none

Give the pricing card its percentage sign and its space back
  packages/dashboard/src/components/spree/catalog-pricing-fields.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Record why Marcel replaces the gem's file-command check
  docs/plans/6.0-b2b-customer-po-numbers.md
  docs/plans/6.0-seller-onboarding-requirements.md
  spree/core/app/validators/spree/bytes_content_type_validator.rb
Due: core, Core

Make the pricing numbers actual number fields
  packages/dashboard/e2e/catalogs.spec.ts
  packages/dashboard/src/components/spree/catalog-pricing-fields.tsx
Due: none

Key Stripe calls so a corrected request is not answered by a stale refusal
  spree/api/app/controllers/spree/api/v3/seller/onboarding_controller.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/connect.rb
  spree/providers/stripe/app/models/spree_stripe/payout_provider.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/connect_spec.rb
  spree/providers/stripe/spec/models/spree_stripe/payout_provider_spec.rb
Due: core, api, Core, API

Let a catalog's price list discount by quantity (#14534)
  docs/plans/6.0-price-list-automatic-pricing.md
  docs/plans/decisions.md
  packages/admin-sdk/src/params.ts
  packages/dashboard/e2e/catalogs.spec.ts
  packages/dashboard/src/components/spree/catalog-pricing-fields.tsx
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/catalog.ts
  packages/dashboard/src/schemas/price-list.ts
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/price_rule.rb
  spree/core/app/models/spree/price_rules/volume_rule.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/workflows/spree/catalogs/set_price_list.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/pricing_provider/internal_resolution_spec.rb
  spree/core/spec/workflows/spree/catalogs/set_price_list_spec.rb
Due: core, api, Core, API

Record the quantity-rules implementation decisions
  docs/plans/6.0-b2b-quantity-rules.md
  docs/plans/6.0-b2b-wholesale-shipping.md
  docs/plans/decisions.md
Due: none

Add B2B quantity rules to the purchasing layer
  spree/core/app/models/concerns/spree/purchase/quantity_rules.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/catalog_order_minimum.rb
  spree/core/app/models/spree/catalog_quantity_rule.rb
  spree/core/app/models/spree/checkout/default_requirements.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/quantity_rule.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/catalogs/resolve_quantity_rules.rb
  spree/core/app/workflows/spree/carts/add_item.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260831000002_add_quantity_rules_to_spree_variants.rb
  spree/core/db/migrate/20260831000003_create_spree_catalog_terms.rb
  spree/core/lib/spree/testing_support/factories/catalog_factory.rb
  spree/core/spec/models/spree/catalog_order_minimum_spec.rb
  spree/core/spec/models/spree/catalog_quantity_rule_spec.rb
  spree/core/spec/models/spree/purchase/quantity_rules_spec.rb
  spree/core/spec/models/spree/quantity_rule_spec.rb
  spree/core/spec/models/spree/variant_quantity_rules_spec.rb
  spree/core/spec/services/spree/catalogs/resolve_quantity_rules_spec.rb
  spree/core/spec/workflows/spree/carts/quantity_rules_enforcement_spec.rb
Due: core, Core

Expose quantity rules and order minimums over the API
  packages/admin-sdk/src/types/generated/Cart.ts
  packages/admin-sdk/src/types/generated/Catalog.ts
  packages/admin-sdk/src/types/generated/CatalogOrderMinimum.ts
  packages/admin-sdk/src/types/generated/CatalogQuantityRule.ts
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/sdk/src/types/generated/Cart.ts
  packages/sdk/src/types/generated/Variant.ts
  packages/sdk/src/zod/generated/Cart.ts
  packages/sdk/src/zod/generated/Variant.ts
  packages/seller-sdk/src/types/generated/Variant.ts
  spree/api/app/controllers/spree/api/v3/admin/catalogs/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/catalogs/order_minimums_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/catalogs/quantity_rules_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_order_minimum_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_quantity_rule_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/variant_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs/order_minimums_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs/quantity_rules_controller_spec.rb
Due: api, API

Add the quantity-rule editors to the dashboard
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/index.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/src/products/normalize-quantity.test.ts
  packages/dashboard-core/src/products/normalize-quantity.ts
  packages/dashboard-core/src/products/product-form-mapping.ts
  packages/dashboard-core/src/products/product-schema.ts
  packages/dashboard-core/src/products/product-types.ts
  packages/dashboard-core/src/products/variant-edit-sheet.tsx
  packages/dashboard-core/src/products/variants-section.tsx
  packages/dashboard/src/components/spree/catalog-terms-card.tsx
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
  packages/dashboard/src/schemas/catalog.ts
Due: none

Document the catalog terms endpoints
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/spec/integration/spree/api/v3/admin/catalogs_spec.rb
Due: none

Normalize the core locale file
  spree/core/config/locales/en.yml
Due: core

Cover per-field resolution within a single catalog
  spree/core/spec/services/spree/catalogs/resolve_quantity_rules_spec.rb
Due: none

Fix two quantity-rule resolution bugs found in review
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/components/spree/catalog-terms-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/spec/serializers/spree/api/v3/variant_quantity_rules_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/checkout/default_requirements.rb
  spree/core/app/models/spree/quantity_rule.rb
  spree/core/app/services/spree/catalogs/resolve_quantity_rules.rb
  spree/core/app/services/spree/products/for_context.rb
  spree/core/spec/models/spree/catalog_for_buyer_spec.rb
  spree/core/spec/models/spree/quantity_rule_spec.rb
  spree/core/spec/services/spree/catalogs/resolve_quantity_rules_spec.rb
Due: core, api, Core, API

Consolidate the catalog resolution and quantity-rule plumbing
  packages/admin-sdk/src/types/generated/Catalog.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard/src/components/spree/catalog-terms-card.tsx
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/schemas/catalog.ts
  spree/api/app/controllers/spree/api/v3/admin/catalogs/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/spec/serializers/spree/api/v3/variant_quantity_rules_spec.rb
  spree/core/app/models/concerns/spree/purchase/company.rb
  spree/core/app/models/concerns/spree/purchase/quantity_rules.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/catalog_assignment.rb
  spree/core/app/models/spree/catalog_order_minimum.rb
  spree/core/app/models/spree/catalog_quantity_rule.rb
  spree/core/app/models/spree/checkout/default_requirements.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/models/spree/quantity_rule.rb
  spree/core/app/services/spree/catalogs/resolve_quantity_rules.rb
  spree/core/app/services/spree/products/for_context.rb
  spree/core/app/workflows/spree/carts/add_item.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
  spree/core/spec/models/spree/catalog_for_buyer_spec.rb
  spree/core/spec/models/spree/purchase/quantity_rules_spec.rb
  spree/core/spec/models/spree/quantity_rule_spec.rb
  spree/core/spec/workflows/spree/carts/quantity_rules_enforcement_spec.rb
Due: core, api, Core, API

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
