Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Fix: a gift qualified the order for the promotion giving it away
  spree/core/app/models/spree/promotion/actions/create_line_items.rb
  spree/core/spec/models/spree/promotion/actions/create_line_items_spec.rb
Due: core, Core

Changed dashboard copy to say the gift is free
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/es.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Fix: the free-gift promotion action charged for the gift
  spree/core/app/models/spree/adjusters/promotion.rb
  spree/core/app/models/spree/promotion/actions/create_line_items.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/promotion/actions/create_line_items_spec.rb
Due: core, Core

Fix: stop listing quick-filter fields twice in the Add filter panel (#14713)
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/es.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
Due: none

Guard every unit of work that declares a store
  docs/plans/6.0-store-context-and-first-run-setup.md
  docs/plans/decisions.md
  spree/core/app/models/spree/current.rb
  spree/core/lib/spree/store_scope_guard.rb
  spree/core/spec/lib/spree/store_scope_guard_spec.rb
Due: core, Core

Fix: ship spark-md5 types with dashboard-core
  .changeset/dashboard-core-spark-md5-types.md
  packages/dashboard-core/package.json
  pnpm-lock.yaml
Due: none

Added subpath exports for the dashboard's auth building blocks
  .changeset/dashboard-auth-building-blocks.md
  docs/developer/dashboard/public-api.mdx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/es.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/package.json
  packages/dashboard/src/components/spree/store-setup-fields.test.tsx
  packages/dashboard/src/hooks/use-auth-providers.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/login.tsx
Due: none

Added lightweight subpath entries to dashboard-core
  .changeset/dashboard-core-slim-entries.md
  docs/developer/dashboard/public-api.mdx
  packages/dashboard-core/package.json
  packages/dashboard-core/src/components/currency-select.tsx
  packages/dashboard-core/src/lib/currencies.ts
  packages/dashboard/src/components/spree/store-setup-fields.tsx
Due: none

Fixed SSO callback error lookup for inherited property names
  packages/dashboard/src/hooks/use-auth-providers.test.ts
  packages/dashboard/src/hooks/use-auth-providers.ts
Due: none

Update .changeset/dashboard-core-slim-entries.md
  .changeset/dashboard-core-slim-entries.md
Due: none

Translated the seller panel into five languages
  packages/seller-dashboard/src/locales/ar.json
  packages/seller-dashboard/src/locales/de.json
  packages/seller-dashboard/src/locales/fr.json
  packages/seller-dashboard/src/locales/pl.json
  packages/seller-dashboard/src/locales/zh-CN.json
Due: none

Added a self-service account endpoint to the Seller API
  docs/api-reference/seller.yaml
  packages/seller-dashboard/src/api-client.ts
  packages/seller-dashboard/src/components/seller-switcher.tsx
  packages/seller-dashboard/src/pages/seller-picker.tsx
  packages/seller-dashboard/src/routes/_authenticated/index.tsx
  packages/seller-sdk/src/index.ts
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/Account.ts
  packages/seller-sdk/src/types/generated/index.ts
  packages/seller-sdk/src/types/index.ts
  spree/api/app/controllers/spree/api/v3/seller/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/invitation_acceptances_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/me_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/password_resets_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/account_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/lib/spree/api/openapi/schema_helper.rb
  spree/api/spec/controllers/spree/api/v3/seller/auth_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/me_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/me_spec.rb
Due: api, API

Added a profile dialog to the seller panel
  packages/seller-dashboard/src/components/account-dialog.tsx
  packages/seller-dashboard/src/hooks/use-account.ts
  packages/seller-dashboard/src/i18n.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/panel-chrome.tsx
  packages/seller-dashboard/src/schemas/account.ts
Due: none

Shared account editing and panel languages across both panels
  packages/dashboard-core/src/api-client.ts
  packages/dashboard-core/src/hooks/use-switch-admin-locale.ts
  packages/dashboard-core/src/lib/form-mappers.ts
  packages/dashboard-core/src/lib/i18n.ts
  packages/dashboard-core/src/providers/auth-provider.tsx
  packages/dashboard-core/tests/i18n-init.test.ts
  packages/dashboard/src/api-client-setup.ts
  packages/dashboard/src/components/spree/profile-dialog.tsx
  packages/dashboard/src/hooks/use-profile.ts
  packages/dashboard/src/i18n-setup.ts
  packages/dashboard/src/schemas/me.ts
  packages/seller-dashboard/src/api-client.ts
Due: none

Added lightweight subpath entries to dashboard-core (#14717)
  .changeset/dashboard-core-slim-entries.md
  docs/developer/dashboard/public-api.mdx
  packages/dashboard-core/package.json
  packages/dashboard-core/src/components/currency-select.tsx
  packages/dashboard-core/src/lib/currencies.ts
  packages/dashboard/src/components/spree/store-setup-fields.tsx
Due: none

Added subpath exports for the dashboard's auth building blocks (#14716)
  .changeset/dashboard-auth-building-blocks.md
  docs/developer/dashboard/public-api.mdx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/es.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/package.json
  packages/dashboard/src/components/spree/store-setup-fields.test.tsx
  packages/dashboard/src/hooks/use-auth-providers.test.ts
  packages/dashboard/src/hooks/use-auth-providers.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/login.tsx
Due: none

Fix: ship spark-md5 types with dashboard-core (#14714)
  .changeset/dashboard-core-spark-md5-types.md
  packages/dashboard-core/package.json
  pnpm-lock.yaml
Due: none

Added establishSession to AuthProvider
  .changeset/dashboard-core-establish-session.md
  docs/developer/dashboard/public-api.mdx
  packages/dashboard-core/package.json
  packages/dashboard-core/src/providers/auth-provider.tsx
  packages/dashboard-core/tests/auth-provider.test.ts
  pnpm-lock.yaml
Due: none

Fixed stale sign-in results overriding a newer session
  packages/dashboard-core/src/providers/auth-provider.tsx
  packages/dashboard-core/tests/auth-provider.test.ts
Due: none

Fixed an older sign-in request overriding a newer session
  packages/dashboard-core/src/providers/auth-provider.tsx
  packages/dashboard-core/tests/auth-provider.test.ts
Due: none

Fixed sign-in state races in AuthProvider
  packages/dashboard-core/src/providers/auth-provider.tsx
  packages/dashboard-core/tests/auth-provider.test.ts
Due: none

Changed logout to always end the session
  packages/dashboard-core/src/providers/auth-provider.tsx
  packages/dashboard-core/tests/auth-provider.test.ts
Due: none

Guard every unit of work that declares a store (#14439)
  docs/plans/6.0-store-context-and-first-run-setup.md
  docs/plans/decisions.md
  spree/core/app/models/spree/current.rb
  spree/core/lib/spree/store_scope_guard.rb
  spree/core/spec/lib/spree/store_scope_guard_spec.rb
Due: core, Core

Fix: Resolve provider webhooks in the store that owns the payment method or integration
  spree/api/app/controllers/spree/api/v3/webhooks/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/payouts_controller.rb
  spree/api/spec/controllers/spree/api/v3/webhooks/payments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/webhooks/payouts_controller_spec.rb
  spree/core/app/jobs/spree/payments/handle_webhook_job.rb
  spree/core/app/jobs/spree/seller_transfers/execute_pending_job.rb
  spree/core/spec/jobs/spree/payments/handle_webhook_job_spec.rb
  spree/core/spec/jobs/spree/seller_transfers/execute_pending_job_spec.rb
  spree/providers/easypost/spec/requests/spree_easypost/fulfillment_webhooks_spec.rb
Due: core, api, Core, API

Fix: webhook picker offers the customer events Spree actually sends
  packages/dashboard/src/schemas/webhook-endpoint.ts
Due: none

Fix: dashboard actions refused by the server now show the reason
  packages/dashboard/src/components/spree/orders/order-header.tsx
  packages/dashboard/src/components/spree/promotion-editors/promotion-form.tsx
  packages/dashboard/src/hooks/use-companies.ts
  packages/dashboard/src/hooks/use-promotions.ts
  packages/dashboard/src/hooks/use-stock-levels.ts
Due: none

Fix: exchange replacements show the product actually being sent
  .changeset/dashboard-exchange-replacement-names.md
  packages/dashboard-core/src/lib/fulfillment-items.test.ts
  packages/dashboard-core/src/lib/fulfillment-items.ts
  packages/dashboard/src/components/spree/order-post-sale-cards.tsx
  packages/dashboard/src/components/spree/order-returns-card.tsx
  packages/dashboard/src/lib/variant-label.ts
Due: none

Fix: admin password reset email links to the dashboard reset page
  spree/core/app/mailers/spree/admin_user_mailer.rb
  spree/core/spec/mailers/spree/admin_user_mailer_spec.rb
  spree/core/spec/mailers/spree/seller_user_mailer_spec.rb
Due: core, Core

Fix: failed webhook deliveries are retried with backoff
  docs/developer/core-concepts/webhooks.mdx
  docs/developer/tutorial/events.mdx
  spree/api/app/jobs/spree/webhook_delivery_job.rb
  spree/api/spec/jobs/spree/webhook_delivery_job_spec.rb
Due: api, API

Fix: turning off customer emails no longer stops the store's new order email
  spree/emails/app/subscribers/spree/order_email_subscriber.rb
  spree/emails/spec/subscribers/spree/order_email_subscriber_spec.rb
Due: emails, Emails

Fix: order confirmation email totals add up when shipping is discounted
  spree/emails/app/views/spree/shared/_purchased_items_table.html.erb
  spree/emails/app/views/spree/shared/_purchased_items_table.text.erb
  spree/emails/spec/mailers/spree/order_mailer_spec.rb
Due: emails, Emails

Fix: the customers CSV export finishes again
  spree/core/app/models/spree/exports/customers.rb
  spree/core/spec/models/spree/export_spec.rb
Due: core, Core

Fix: the Customers list's Tags filter offers the store's customer tags
  .changeset/dashboard-customer-class-name.md
  docs/developer/dashboard/customization/slots.mdx
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/tests/custom-fields.test.ts
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-core/src/lib/table-registry.ts
  packages/dashboard/e2e/customers.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/custom-field-definition.ts
Due: none

Fix: cancelling an edited order releases its stock
  spree/core/app/services/spree/orders/build_fulfillments.rb
  spree/core/spec/services/spree/orders/update_spec.rb
  spree/core/spec/workflows/spree/orders/cancel_spec.rb
Due: core, Core

Fix: grid cells keep a value left by clicking elsewhere
  .changeset/dashboard-ui-grid-click-away.md
  packages/dashboard-ui/src/spree/data-grid/data-grid.tsx
  packages/dashboard/e2e/products-prices-inventory.spec.ts
Due: none

Fix: a period typed into Edit prices on a comma-decimal market saved a hundred times the price
  .changeset/dashboard-comma-decimal-prices.md
  packages/dashboard-core/src/products/normalize-money.test.ts
  packages/dashboard-core/src/products/normalize-money.ts
  packages/dashboard-ui/src/spree/data-grid/cells.tsx
  packages/dashboard/e2e/price-lists.spec.ts
  packages/dashboard/src/components/spree/bulk-price-editor/bulk-price-editor.tsx
Due: none

Fix: order.created and order.paid events carry the order's settled figures
  spree/core/app/models/spree/payment/custom_events.rb
  spree/core/app/services/spree/orders/update_statuses.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/spec/models/spree/payment/custom_events_spec.rb
  spree/core/spec/subscribers/spree/order_status_subscriber_spec.rb
  spree/core/spec/subscribers/spree/payment_split_subscriber_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
Due: core, Core

Changed the webhook retry wording to match the actual delay schedule
  docs/developer/tutorial/events.mdx
Due: none

Fix: webhook picker offers the customer events Spree actually sends (#14719)
  packages/dashboard/src/schemas/webhook-endpoint.ts
Due: none

Fix: Resolve provider webhooks in the store that owns the payment method or integration (#14718)
  spree/api/app/controllers/spree/api/v3/webhooks/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/payouts_controller.rb
  spree/api/spec/controllers/spree/api/v3/webhooks/payments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/webhooks/payouts_controller_spec.rb
  spree/core/app/jobs/spree/payments/handle_webhook_job.rb
  spree/core/app/jobs/spree/seller_transfers/execute_pending_job.rb
  spree/core/spec/jobs/spree/payments/handle_webhook_job_spec.rb
  spree/core/spec/jobs/spree/seller_transfers/execute_pending_job_spec.rb
  spree/providers/easypost/spec/requests/spree_easypost/fulfillment_webhooks_spec.rb
Due: core, api, Core, API

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
