Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Fixed Store serializer generator decimal values handling
  spree/core/lib/generators/spree/api_resource/templates/store_serializer.rb.tt
  spree/core/spec/lib/generators/spree/api_resource/api_resource_generator_spec.rb
Due: none

Fixed N+1s in Store API Products endpoint after adding Channels
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
Due: api, API

Fixed N+1s in Store API Products endpoint after adding Channels (#14149)
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
Due: api, API

Release `@spree/cli` and `create-spree-app`
  README.md
  docs/developer/agentic/mcp.mdx
  docs/developer/agentic/overview.mdx
  packages/cli/.changeset/cli-dev-foreground-and-resilience.md
  packages/cli/.changeset/cli-hot-path-wrappers.md
  packages/cli/.changeset/cli-passthrough-commands.md
  packages/cli/.changeset/cli-upgrade-command.md
  packages/cli/.changeset/reindex-on-init.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
Due: none

Release `@spree/cli` and `create-spree-app` (#14151)
  README.md
  docs/developer/agentic/mcp.mdx
  docs/developer/agentic/overview.mdx
  packages/cli/.changeset/cli-dev-foreground-and-resilience.md
  packages/cli/.changeset/cli-hot-path-wrappers.md
  packages/cli/.changeset/cli-passthrough-commands.md
  packages/cli/.changeset/cli-upgrade-command.md
  packages/cli/.changeset/reindex-on-init.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
Due: none

Release SDK 1.1 and Admin SDK 0.2.0
  .github/CONTRIBUTING.md
  docs/developer/contributing/developing-spree.mdx
  packages/admin-sdk/.changeset/admin-cookie-auth.md
  packages/admin-sdk/.changeset/admin-csv-exports.md
  packages/admin-sdk/.changeset/admin-custom-fields-crud.md
  packages/admin-sdk/.changeset/admin-sprint-3-writes.md
  packages/admin-sdk/.changeset/admin-sprint-4-promotions.md
  packages/admin-sdk/.changeset/admin-staff-and-api-keys.md
  packages/admin-sdk/.changeset/admin-stock-locations.md
  packages/admin-sdk/.changeset/admin-store-credit-categories.md
  packages/admin-sdk/.changeset/login-provider-dispatch.md
  packages/admin-sdk/.changeset/product-option-values.md
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/sdk/.changeset/login-provider-dispatch.md
  packages/sdk/.changeset/product-meta-title.md
  packages/sdk/.changeset/product-option-values.md
  packages/sdk/.changeset/store-channel-header.md
  packages/sdk/.changeset/store-newsletter-subscribers.md
  packages/sdk/.changeset/storefront-custom-field-tokens.md
  packages/sdk/.changeset/zod-schema-customer-payment-method-fields.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

added admin-sdk docs
  docs/developer/sdk/admin/authentication.mdx
  docs/developer/sdk/admin/querying-and-errors.mdx
  docs/developer/sdk/admin/quickstart.mdx
  docs/developer/sdk/admin/resources.mdx
  docs/developer/sdk/quickstart.mdx
  docs/developer/tutorial/api.mdx
  docs/docs.json
  packages/README.md
  packages/admin-sdk/README.md
  packages/sdk/README.md
Due: none

Release SDK 1.1 and Admin SDK 0.2.0 (#14152)
  .github/CONTRIBUTING.md
  docs/developer/contributing/developing-spree.mdx
  docs/developer/sdk/admin/authentication.mdx
  docs/developer/sdk/admin/querying-and-errors.mdx
  docs/developer/sdk/admin/quickstart.mdx
  docs/developer/sdk/admin/resources.mdx
  docs/developer/sdk/quickstart.mdx
  docs/developer/tutorial/api.mdx
  docs/docs.json
  packages/README.md
  packages/admin-sdk/.changeset/admin-cookie-auth.md
  packages/admin-sdk/.changeset/admin-csv-exports.md
  packages/admin-sdk/.changeset/admin-custom-fields-crud.md
  packages/admin-sdk/.changeset/admin-sprint-3-writes.md
  packages/admin-sdk/.changeset/admin-sprint-4-promotions.md
  packages/admin-sdk/.changeset/admin-staff-and-api-keys.md
  packages/admin-sdk/.changeset/admin-stock-locations.md
  packages/admin-sdk/.changeset/admin-store-credit-categories.md
  packages/admin-sdk/.changeset/login-provider-dispatch.md
  packages/admin-sdk/.changeset/product-option-values.md
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/README.md
  packages/admin-sdk/package.json
  packages/sdk/.changeset/login-provider-dispatch.md
  packages/sdk/.changeset/product-meta-title.md
  packages/sdk/.changeset/product-option-values.md
  packages/sdk/.changeset/store-channel-header.md
  packages/sdk/.changeset/store-newsletter-subscribers.md
  packages/sdk/.changeset/storefront-custom-field-tokens.md
  packages/sdk/.changeset/zod-schema-customer-payment-method-fields.md
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/package.json
Due: none

Fixed: spree eject command with auto-heal
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/eject.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/tests/scaffold.test.ts
Due: none

Add test coverage for spree eject
  packages/cli/tests/eject.test.ts
Due: none

Guard eject test cleanup against uninitialized projectDir
  packages/cli/tests/eject.test.ts
Due: none

Fixed: spree eject command with auto-heal (#14154)
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/eject.ts
  packages/cli/tests/eject.test.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/tests/scaffold.test.ts
Due: none

Uploaded Sales Channels user doc (#14145)
  docs/docs.json
  docs/images/user/settings/sales-channels/1-sales-channels-overview.png
  docs/images/user/settings/sales-channels/2-new-sales-channel.png
  docs/images/user/settings/sales-channels/3-product-publishing-card.png
  docs/images/user/settings/sales-channels/4-manage-channels.png
  docs/images/user/settings/sales-channels/5-channel-scheduling.png
  docs/images/user/settings/sales-channels/6-orders-list-channel-column.png
  docs/images/user/settings/sales-channels/7-order-details-channel.png
  docs/user/settings/sales-channels.mdx
Due: none

Docs fixes for CLI usage
  docs/developer/admin/admin.mdx
  docs/developer/admin/custom-css.mdx
  docs/developer/core-concepts/pricing.mdx
  docs/developer/core-concepts/translations.mdx
  docs/developer/customization/authentication.mdx
  docs/developer/customization/decorators.mdx
  docs/developer/customization/emails.mdx
  docs/developer/customization/model-preferences.mdx
  docs/developer/deployment/caching.mdx
  docs/developer/deployment/environment_variables.mdx
  docs/developer/multi-store/quickstart.mdx
  docs/developer/multi-tenant/core-concepts.mdx
  docs/developer/multi-tenant/installation.mdx
  docs/developer/multi-vendor/installation.mdx
  docs/developer/storefront/rails/custom-css.mdx
  docs/developer/storefront/rails/storefront.mdx
  docs/developer/storefront/rails/themes.mdx
  docs/developer/upgrades/5.4-to-5.5.mdx
  docs/integrations/analytics/google-analytics.mdx
  docs/integrations/analytics/google-tag-manager.mdx
  docs/integrations/marketing/klaviyo.mdx
  docs/integrations/payments/adyen.mdx
  docs/integrations/payments/paypal.mdx
  docs/integrations/payments/razorpay.mdx
  docs/integrations/payments/stripe.mdx
  docs/integrations/search/meilisearch.mdx
  docs/integrations/tax/avalara.mdx
Due: none

`spree generate controller` now forwards to the Rails `controller` generator instead of the non-existent `spree:controller`.
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/generate.ts
Due: none

Docs fixes for CLI usage (#14156)
  docs/developer/admin/admin.mdx
  docs/developer/admin/custom-css.mdx
  docs/developer/core-concepts/pricing.mdx
  docs/developer/core-concepts/translations.mdx
  docs/developer/customization/authentication.mdx
  docs/developer/customization/decorators.mdx
  docs/developer/customization/emails.mdx
  docs/developer/customization/model-preferences.mdx
  docs/developer/deployment/caching.mdx
  docs/developer/deployment/environment_variables.mdx
  docs/developer/multi-store/quickstart.mdx
  docs/developer/multi-tenant/core-concepts.mdx
  docs/developer/multi-tenant/installation.mdx
  docs/developer/multi-vendor/installation.mdx
  docs/developer/storefront/rails/custom-css.mdx
  docs/developer/storefront/rails/storefront.mdx
  docs/developer/storefront/rails/themes.mdx
  docs/developer/upgrades/5.4-to-5.5.mdx
  docs/integrations/analytics/google-analytics.mdx
  docs/integrations/analytics/google-tag-manager.mdx
  docs/integrations/marketing/klaviyo.mdx
  docs/integrations/payments/adyen.mdx
  docs/integrations/payments/paypal.mdx
  docs/integrations/payments/razorpay.mdx
  docs/integrations/payments/stripe.mdx
  docs/integrations/search/meilisearch.mdx
  docs/integrations/tax/avalara.mdx
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/generate.ts
Due: none

Harden Admin API
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/app/controllers/spree/api/v3/admin/admin_users_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/api_keys_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/custom_fields_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/credit_cards_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/store_credits_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/invitations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/price_lists_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_reservations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/lib/spree/api/testing_support/v3/base.rb
  spree/api/spec/controllers/spree/api/v3/admin/admin_users_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/api_keys_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/credit_cards_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/store_credits_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/items_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/price_lists_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
Due: api, API

Address admin API review feedback
  spree/api/app/controllers/spree/api/v3/admin/api_keys_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/base_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/credit_cards_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/store_credits_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/items_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
Due: api, API

Harden Admin API (#14158)
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/app/controllers/spree/api/v3/admin/admin_users_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/api_keys_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/custom_fields_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/credit_cards_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/store_credits_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/invitations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/price_lists_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_reservations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/lib/spree/api/testing_support/v3/base.rb
  spree/api/spec/controllers/spree/api/v3/admin/admin_users_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/api_keys_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/credit_cards_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/store_credits_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/items_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/price_lists_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
Due: api, API

Guard Admin API Admin Users endpoint for host app issues with json columns and other distinct issues
  spree/api/app/controllers/spree/api/v3/admin/admin_users_controller.rb
Due: api, API

Guard Admin API Admin Users endpoint for host app issues with json co… (#14159)
  spree/api/app/controllers/spree/api/v3/admin/admin_users_controller.rb
Due: api, API

Fixed `spree_user_identities` json to jsonb type for PosrgreSQL
  spree/core/db/migrate/20260612000001_change_spree_user_identities_info_to_jsonb.rb
Due: core

Add more Admin SDK tests
  packages/admin-sdk/tests/admin-users.test.ts
  packages/admin-sdk/tests/allowed-origins.test.ts
  packages/admin-sdk/tests/api-keys.test.ts
  packages/admin-sdk/tests/auth.test.ts
  packages/admin-sdk/tests/channels.test.ts
  packages/admin-sdk/tests/customer-groups.test.ts
  packages/admin-sdk/tests/customers.test.ts
  packages/admin-sdk/tests/exports.test.ts
  packages/admin-sdk/tests/gift-cards.test.ts
  packages/admin-sdk/tests/helpers.ts
  packages/admin-sdk/tests/invitations.test.ts
  packages/admin-sdk/tests/markets.test.ts
  packages/admin-sdk/tests/option-types.test.ts
  packages/admin-sdk/tests/orders.test.ts
  packages/admin-sdk/tests/payment-methods.test.ts
  packages/admin-sdk/tests/price-lists.test.ts
  packages/admin-sdk/tests/products.test.ts
  packages/admin-sdk/tests/promotions.test.ts
  packages/admin-sdk/tests/read-only-resources.test.ts
  packages/admin-sdk/tests/stock.test.ts
  packages/admin-sdk/tests/store-settings.test.ts
  packages/admin-sdk/tests/tax-categories.test.ts
  packages/admin-sdk/tests/webhook-endpoints.test.ts
Due: none

Restore authenticated default in admin-sdk test helper
  packages/admin-sdk/tests/auth.test.ts
  packages/admin-sdk/tests/helpers.test.ts
  packages/admin-sdk/tests/helpers.ts
Due: none

Guard against missing locale in `Spree::Current` if both store and market don't have it set
  spree/core/app/models/spree/current.rb
  spree/core/spec/models/spree/current_spec.rb
Due: core, Core

Assert no Authorization credential for unauthenticated test client
  packages/admin-sdk/tests/helpers.test.ts
Due: none

Add more Admin SDK tests (#14162)
  packages/admin-sdk/tests/admin-users.test.ts
  packages/admin-sdk/tests/allowed-origins.test.ts
  packages/admin-sdk/tests/api-keys.test.ts
  packages/admin-sdk/tests/auth.test.ts
  packages/admin-sdk/tests/channels.test.ts
  packages/admin-sdk/tests/customer-groups.test.ts
  packages/admin-sdk/tests/customers.test.ts
  packages/admin-sdk/tests/exports.test.ts
  packages/admin-sdk/tests/gift-cards.test.ts
  packages/admin-sdk/tests/helpers.test.ts
  packages/admin-sdk/tests/helpers.ts
  packages/admin-sdk/tests/invitations.test.ts
  packages/admin-sdk/tests/markets.test.ts
  packages/admin-sdk/tests/option-types.test.ts
  packages/admin-sdk/tests/orders.test.ts
  packages/admin-sdk/tests/payment-methods.test.ts
  packages/admin-sdk/tests/price-lists.test.ts
  packages/admin-sdk/tests/products.test.ts
  packages/admin-sdk/tests/promotions.test.ts
  packages/admin-sdk/tests/read-only-resources.test.ts
  packages/admin-sdk/tests/stock.test.ts
  packages/admin-sdk/tests/store-settings.test.ts
  packages/admin-sdk/tests/tax-categories.test.ts
  packages/admin-sdk/tests/webhook-endpoints.test.ts
Due: none

Guard against missing locale in `Spree::Current` if both store and ma… (#14163)
  spree/core/app/models/spree/current.rb
  spree/core/spec/models/spree/current_spec.rb
Due: core, Core

Fixed `spree_user_identities` json to jsonb type for PosrgreSQL (#14160)
  spree/core/db/migrate/20260612000001_change_spree_user_identities_info_to_jsonb.rb
Due: core

Fixed `api-keys` cli command with secret keys
  docs/api-reference/admin-api/authentication.mdx
  packages/cli/.changeset/api-key-create-scopes.md
  packages/cli/src/commands/api-key.ts
  spree/core/lib/tasks/cli.rake
  spree/core/spec/lib/tasks/cli_spec.rb
Due: core, Core

Hardening Admin API scopes
  CLAUDE.md
  docs/api-reference/admin-api/authentication.mdx
  docs/api-reference/admin.yaml
  docs/plans/5.5-admin-api-cli.md
  docs/plans/5.5-admin-api-key-scopes.md
  docs/plans/5.5-admin-spa-csv-export.md
  docs/plans/5.5-agent-skills.md
  packages/dashboard/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  spree/api/app/controllers/concerns/spree/api/v3/scoped_authorization.rb
  spree/api/app/controllers/spree/api/v3/admin/api_keys_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/custom_field_definitions_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/custom_fields_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/exports_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_locations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_transfers_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/webhook_deliveries_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/webhook_endpoints_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/api_keys_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/custom_field_definitions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/exports_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/scoped_authorization_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/api_keys_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/custom_field_definitions_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/exports_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_locations_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/webhook_deliveries_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/webhook_endpoints_spec.rb
  spree/api/spec/support/code_samples_helper.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/export.rb
  spree/core/app/models/spree/exports/coupon_codes.rb
  spree/core/app/models/spree/exports/newsletter_subscribers.rb
  spree/core/app/models/spree/exports/product_translations.rb
  spree/core/spec/models/spree/export_spec.rb
Due: core, api, Core, API

Address review feedback on scope hardening
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  spree/api/app/controllers/spree/api/v3/admin/custom_fields_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_controller_spec.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/spec/models/spree/api_key_spec.rb
Due: core, api, Core, API

Add spree api/auth CLI commands for the Admin API
  docs/api-reference/admin-api/endpoints.mdx
  docs/developer/cli/admin-api.mdx
  docs/developer/cli/quickstart.mdx
  docs/developer/sdk/admin/resources.mdx
  docs/docs.json
  docs/plans/5.5-admin-api-cli.md
  packages/cli/.changeset/admin-api-commands.md
  packages/cli/README.md
  packages/cli/biome.json
  packages/cli/package.json
  packages/cli/scripts/bundle-spec.mjs
  packages/cli/scripts/generate-endpoints-doc.mjs
  packages/cli/src/api/body.ts
  packages/cli/src/api/output.ts
  packages/cli/src/api/params.ts
  packages/cli/src/api/ping.ts
  packages/cli/src/api/spec.ts
  packages/cli/src/commands/api.ts
  packages/cli/src/commands/auth.ts
  packages/cli/src/config.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/index.ts
  packages/cli/tests/api-body.test.ts
  packages/cli/tests/api-params.test.ts
  packages/cli/tests/api-spec.test.ts
  packages/cli/tests/config.test.ts
  packages/create-spree-app/.changeset/spree-credentials-gitignore.md
  packages/create-spree-app/src/templates/gitignore.ts
  pnpm-lock.yaml
Due: none

Added missing Admin SDK examples
  packages/admin-sdk/examples/channels/add-products.ts
  packages/admin-sdk/examples/channels/create.ts
  packages/admin-sdk/examples/channels/delete.ts
  packages/admin-sdk/examples/channels/get.ts
  packages/admin-sdk/examples/channels/list.ts
  packages/admin-sdk/examples/channels/remove-products.ts
  packages/admin-sdk/examples/channels/update.ts
  packages/admin-sdk/examples/custom-field-definitions/delete.ts
  packages/admin-sdk/examples/custom-field-definitions/get.ts
  packages/admin-sdk/examples/custom-field-definitions/update.ts
  packages/admin-sdk/examples/option-types/create.ts
  packages/admin-sdk/examples/product-custom-fields/delete.ts
  packages/admin-sdk/examples/product-custom-fields/get.ts
  packages/admin-sdk/examples/product-custom-fields/update.ts
  packages/admin-sdk/examples/products/bulk-add-tags.ts
  packages/admin-sdk/examples/products/bulk-add-to-categories.ts
  packages/admin-sdk/examples/products/bulk-add-to-channels.ts
  packages/admin-sdk/examples/products/bulk-destroy.ts
  packages/admin-sdk/examples/products/bulk-remove-from-categories.ts
  packages/admin-sdk/examples/products/bulk-remove-from-channels.ts
  packages/admin-sdk/examples/products/bulk-remove-tags.ts
  packages/admin-sdk/examples/products/bulk-status-update.ts
  packages/admin-sdk/examples/promotion-actions/delete.ts
  packages/admin-sdk/examples/promotion-rules/delete.ts
  packages/admin-sdk/examples/promotion-rules/update.ts
  packages/admin-sdk/examples/promotions/delete.ts
  packages/admin-sdk/examples/promotions/get.ts
  packages/admin-sdk/package.json
  spree/api/spec/integration/spree/api/v3/admin/channels_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/custom_field_definitions_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/price_lists_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products/custom_fields_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/promotion_actions_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/promotion_rules_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/promotions_spec.rb
Due: none

`spree api`: Improve output, add autocompletion, add help
  docs/api-reference/admin-api/introduction.mdx
  docs/developer/cli/admin-api.mdx
  packages/cli/.changeset/admin-api-commands.md
  packages/cli/README.md
  packages/cli/src/api/output.ts
  packages/cli/src/api/ping.ts
  packages/cli/src/api/spec.ts
  packages/cli/src/commands/api.ts
  packages/cli/src/commands/auth.ts
  packages/cli/src/commands/completion.ts
  packages/cli/src/config.ts
  packages/cli/src/index.ts
  packages/cli/tests/api-output.test.ts
  packages/cli/tests/completion.test.ts
  packages/cli/tests/config.test.ts
Due: none

Add Admin CLI to Admin API examples
  docs/api-reference/admin.yaml
  spree/api/spec/support/code_samples_helper.rb
Due: none

Simplify CLI: precompute completion paths, dedupe --format option
  packages/cli/scripts/bundle-spec.mjs
  packages/cli/src/api/spec.ts
  packages/cli/src/commands/api.ts
  packages/cli/src/commands/completion.ts
  packages/cli/src/config.ts
  packages/cli/src/generated/resource-paths.json
Due: none

Fix order routing reducer constant lookup
  spree/core/app/models/spree/order_routing/strategy/rules.rb
  spree/core/spec/models/spree/order_routing/strategy/rules_spec.rb
Due: core, Core

Fix order routing reducer constant lookup (#14168)
  spree/core/app/models/spree/order_routing/strategy/rules.rb
  spree/core/spec/models/spree/order_routing/strategy/rules_spec.rb
Due: core, Core

fix no products partial on product translations page
  spree/admin/app/views/spree/admin/product_translations/index.html.erb
Due: admin, Admin
