Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Pin that a seller may pick any value on the axis
  spree/api/spec/controllers/spree/api/v3/seller/variants_controller_spec.rb
Due: none

Regenerate the API specs and SDK types
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/sdk/src/types/generated/Customer.ts
  packages/sdk/src/zod/generated/Customer.ts
  packages/sdk/src/zod/generated/Order.ts
  packages/sdk/src/zod/generated/index.ts
Due: none

Keep a seller's backorder setting, and repair stale sample offers
  packages/dashboard-core/src/products/product-types.ts
  packages/seller-dashboard/src/pages/offer.tsx
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/spec/services/spree/products/duplicator_spec.rb
Due: core, Core

Fix the review trail on a corrected rejection, and two ordering bugs
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/services/spree/product_submissions/close.rb
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: core, api, Core, API

Pin that the offers list filters in SQL
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
Due: none

Pin the refusal to activate a draft offer directly
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: none

Put the list screen title in the table card, as the dashboard does
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/pages/orders.tsx
  packages/seller-dashboard/src/pages/products.tsx
  packages/seller-dashboard/src/tables/offers.tsx
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-dashboard/src/tables/products.tsx
Due: none

Name the reason a variant review step refuses
  spree/core/app/workflows/spree/variants/activate.rb
  spree/core/app/workflows/spree/variants/approve.rb
  spree/core/app/workflows/spree/variants/archive.rb
  spree/core/app/workflows/spree/variants/draft.rb
  spree/core/app/workflows/spree/variants/propose.rb
  spree/core/app/workflows/spree/variants/reject.rb
  spree/core/app/workflows/spree/variants/update.rb
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: core, Core

Record the rejection form and the seller error-shape gap
  docs/plans/6.0-seller-master-catalog-listings.md
  docs/plans/decisions.md
Due: none

Give an offer the same price and inventory grids the operator uses
  packages/dashboard-core/src/products/inventory-section.tsx
  packages/dashboard-core/src/products/product-bulk-price-editor.tsx
  packages/dashboard-core/src/products/product-form-cards.tsx
  packages/dashboard-core/src/products/product-types.ts
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/pages/orders.tsx
  packages/seller-dashboard/src/pages/products.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-dashboard/src/tables/products.tsx
Due: none

Keep the page heading and drop the duplicated card title instead
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/pages/orders.tsx
  packages/seller-dashboard/src/pages/products.tsx
  packages/seller-dashboard/src/tables/offers.tsx
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-dashboard/src/tables/products.tsx
Due: none

Rebuild the shared variant fields from main's sheet
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/OptionType.ts
  packages/admin-sdk/src/types/generated/Product.ts
  packages/admin-sdk/src/types/generated/ProductSubmission.ts
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/dashboard-core/src/products/variant-field-sections.tsx
  packages/sdk/src/types/generated/OptionType.ts
  packages/seller-dashboard/src/routeTree.gen.ts
  packages/seller-sdk/src/types/generated/OptionType.ts
  packages/seller-sdk/src/types/generated/ProductSubmission.ts
  packages/seller-sdk/src/types/generated/Variant.ts
Due: none

Restore the offers scope lost in the rebase
  spree/core/app/models/spree/variant.rb
Due: core, Core

Address the review round after the rebase
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/dashboard/src/tables/products.tsx
  packages/seller-dashboard/src/components/offer-status-card.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-sdk/src/seller-client.ts
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/variants_controller_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/variant.rb
Due: core, api, Core, API

Regenerate API artifacts against main
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Cart.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/admin-sdk/src/types/generated/Product.ts
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Cart.ts
  packages/sdk/src/types/generated/Order.ts
  packages/sdk/src/types/generated/Variant.ts
  packages/seller-sdk/src/types/generated/Product.ts
  packages/seller-sdk/src/types/generated/Variant.ts
Due: none

Restore the offers surface in the generated specs
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Planned the Inventory page and the stock-level counters behind it
  docs/plans/6.0-inventory-operations.md
  docs/plans/decisions.md
Due: none

Settled the open questions on the Inventory page and its counters
  docs/plans/6.0-inventory-operations.md
  docs/plans/decisions.md
Due: none

Added reserved and incoming counters to stock levels
  spree/core/app/jobs/spree/stock_reservations/expire_job.rb
  spree/core/app/models/concerns/spree/receivable_item.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_reservation.rb
  spree/core/app/services/spree/stock_levels/recount.rb
  spree/core/app/services/spree/stock_reservations/release.rb
  spree/core/app/services/spree/stock_reservations/reserve.rb
  spree/core/app/workflows/spree/purchase_orders/cancel.rb
  spree/core/app/workflows/spree/purchase_orders/close.rb
  spree/core/app/workflows/spree/purchase_orders/mark_draft.rb
  spree/core/app/workflows/spree/purchase_orders/mark_ordered.rb
  spree/core/app/workflows/spree/receivables/incoming_counter.rb
  spree/core/app/workflows/spree/stock_receipts/recording.rb
  spree/core/app/workflows/spree/stock_transfers/cancel.rb
  spree/core/app/workflows/spree/stock_transfers/close.rb
  spree/core/app/workflows/spree/stock_transfers/mark_in_transit.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260910000002_add_counters_to_spree_stock_levels.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/stock.rake
  spree/core/spec/jobs/spree/stock_reservations/expire_job_spec.rb
  spree/core/spec/lib/tasks/stock_spec.rb
  spree/core/spec/models/spree/purchase_order_spec.rb
  spree/core/spec/models/spree/stock_level_spec.rb
  spree/core/spec/services/spree/stock_reservations/release_spec.rb
  spree/core/spec/services/spree/stock_reservations/reserve_spec.rb
  spree/core/spec/workflows/spree/purchase_orders/lifecycle_spec.rb
  spree/core/spec/workflows/spree/stock_transfers/lifecycle_spec.rb
Due: core, Core

Exposed the stock level counters and a relative adjustment in the Admin API
  docs/api-reference/admin.yaml
  packages/admin-sdk/examples/stock-levels/list.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/StockLevel.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_level_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_levels_spec.rb
Due: api, API

Added the Inventory page to the dashboard
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/e2e/inventory.spec.ts
  packages/dashboard/src/components/spree/inventory-cells.tsx
  packages/dashboard/src/hooks/use-stock-levels.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/inventory/index.tsx
  packages/dashboard/src/tables/stock-levels.tsx
Due: none

Described the reserved and incoming counters and the Inventory page in the inventory guide
  docs/developer/core-concepts/inventory.mdx
Due: none

Updated the developer and user docs for the Inventory page and the stock level counters
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/user/manage-products/stock-levels.mdx
  packages/dashboard/src/tables/stock-levels.tsx
Due: none

Kept the reserved counter on the reservation row and made the recount safe on a live store
  docs/api-reference/admin.yaml
  docs/plans/6.0-inventory-operations.md
  packages/admin-sdk/src/types/generated/StockLevel.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/src/components/spree/inventory-cells.tsx
  packages/dashboard/src/tables/stock-levels.tsx
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_level_serializer.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_reservation.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/stock_levels/recount.rb
  spree/core/app/services/spree/stock_reservations/reserve.rb
  spree/core/app/workflows/spree/purchase_orders/mark_ordered.rb
  spree/core/config/locales/en.yml
  spree/core/spec/jobs/spree/stock_reservations/expire_job_spec.rb
  spree/core/spec/lib/tasks/stock_spec.rb
  spree/core/spec/models/spree/stock_level_spec.rb
  spree/core/spec/models/spree/stock_reservation_spec.rb
  spree/core/spec/services/spree/stock_reservations/release_spec.rb
  spree/core/spec/services/spree/stock_reservations/reserve_spec.rb
Due: core, api, Core, API

Simplified the counter wiring and the Inventory page
  packages/admin-sdk/src/types/generated/StockLevel.ts
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/e2e/inventory.spec.ts
  packages/dashboard/e2e/stock-transfers.spec.ts
  packages/dashboard/src/components/spree/inventory-cells.tsx
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/tables/stock-levels.tsx
  spree/api/app/serializers/spree/api/v3/admin/stock_level_serializer.rb
  spree/core/app/jobs/spree/stock_reservations/expire_job.rb
  spree/core/app/models/concerns/spree/receivable.rb
  spree/core/app/models/concerns/spree/receivable_item.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_reservation.rb
  spree/core/app/services/spree/stock_levels/recount.rb
  spree/core/app/workflows/spree/purchase_orders/cancel.rb
  spree/core/app/workflows/spree/receivables/incoming_counter.rb
  spree/core/app/workflows/spree/stock_transfers/cancel.rb
  spree/core/app/workflows/spree/stock_transfers/close.rb
Due: core, api, Core, API

Opened a transfer or purchase order from an Inventory row with that SKU on it
  packages/dashboard/e2e/inventory.spec.ts
  packages/dashboard/src/components/spree/inventory-cells.tsx
  packages/dashboard/src/lib/prefilled-variant.ts
  packages/dashboard/src/routes/_authenticated/$storeId/inventory/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/purchase-orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/transfers/new.tsx
  packages/dashboard/src/tables/stock-levels.tsx
Due: none

Moved the correction rules into a service and the reason list onto the server
  packages/admin-sdk/src/types/generated/StockLevel.ts
  packages/dashboard-core/src/components/resource-table.tsx
  packages/dashboard-ui/src/ui/popover.tsx
  packages/dashboard/src/components/spree/inventory-cells.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/tables/stock-levels.tsx
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_level_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_controller_spec.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_movement.rb
  spree/core/app/services/spree/stock_levels/bulk_upsert.rb
  spree/core/app/services/spree/stock_levels/correct.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/tasks/stock.rake
  spree/core/spec/models/spree/stock_level_spec.rb
  spree/core/spec/services/spree/stock_levels/correct_spec.rb
Due: core, api, Core, API

Documented the purchasable count on stock levels
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Fix: Built the availability scopes in Arel instead of interpolated SQL
  spree/core/app/models/spree/stock_level.rb
Due: core, Core

Folded the Inventory filters into one stock status, and made location a quick filter
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard/e2e/inventory.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/tables/stock-levels.tsx
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_controller_spec.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/spec/models/spree/stock_level_spec.rb
Due: core, Core

Coloured the stock-status dots and explained every figure on the Inventory page
  docs/user/manage-products/stock-levels.mdx
  packages/dashboard-core/src/components/resource-table.tsx
  packages/dashboard-core/src/lib/table-registry.ts
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard/e2e/inventory.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/tables/stock-levels.tsx
Due: none

Made the location filter a plain list of warehouses
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-core/src/lib/table-registry.ts
  packages/dashboard/e2e/inventory.spec.ts
  packages/dashboard/src/hooks/use-stock-levels.ts
Due: none

Fix: Give cancel confirmation dialogs distinct button labels
  packages/dashboard/src/components/spree/order-post-sale-cards.tsx
  packages/dashboard/src/components/spree/order-returns-card.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Named the allocated column after the field it reads
  docs/developer/core-concepts/inventory.mdx
  docs/user/manage-products/stock-levels.mdx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/tables/stock-levels.tsx
Due: none

Fix: Held the Inventory list still when a count is corrected
  packages/dashboard/e2e/inventory.spec.ts
  packages/dashboard/src/hooks/use-stock-levels.ts
  packages/dashboard/src/tables/stock-levels.tsx
Due: none

Fix: Give cancel confirmation dialogs distinct button labels (V-3625) (#14619)
  packages/dashboard/src/components/spree/order-post-sale-cards.tsx
  packages/dashboard/src/components/spree/order-returns-card.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Fix: stock level corrections applying the wrong figure or landing half-written
  docs/api-reference/admin.yaml
  docs/developer/core-concepts/inventory.mdx
  docs/user/manage-products/stock-levels.mdx
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/inventory-cells.tsx
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_levels_spec.rb
  spree/core/app/models/spree/stock_reservation.rb
  spree/core/app/services/spree/stock_levels/correct.rb
  spree/core/app/workflows/spree/receivables/incoming_counter.rb
  spree/core/app/workflows/spree/stock_receipts/recording.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/stock_reservation_spec.rb
  spree/core/spec/services/spree/stock_levels/correct_spec.rb
Due: core, api, Core, API

Added the missing API reference for marking a seller payout paid
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  spree/api/spec/integration/spree/api/v3/admin/sellers_spec.rb
Due: none

Fix: stock level corrections applying the wrong figure or landing half-written (#14620)
  docs/api-reference/admin.yaml
  docs/developer/core-concepts/inventory.mdx
  docs/user/manage-products/stock-levels.mdx
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  packages/dashboard/src/components/spree/inventory-cells.tsx
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/sellers_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_levels_spec.rb
  spree/core/app/models/spree/stock_reservation.rb
  spree/core/app/services/spree/stock_levels/correct.rb
  spree/core/app/workflows/spree/receivables/incoming_counter.rb
  spree/core/app/workflows/spree/stock_receipts/recording.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/stock_reservation_spec.rb
  spree/core/spec/services/spree/stock_levels/correct_spec.rb
Due: core, api, Core, API

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
