Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Keep erasing reachable, and leave an order's address where it is
  packages/dashboard/src/components/spree/customers/customer-privacy-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/core/app/workflows/spree/customers/anonymize.rb
  spree/core/spec/workflows/spree/customers/anonymize_spec.rb
Due: core, Core

Document the offer endpoints and ship them in the seller SDK
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/spec/integration/spree/api/v3/seller/offers_spec.rb
Due: none

Stop repeating type names on every rule row
  docs/developer/dashboard/customization/translations.mdx
  packages/admin-sdk/src/types/generated/CommissionRule.ts
  packages/admin-sdk/src/types/generated/DeliveryMethodRule.ts
  packages/admin-sdk/src/types/generated/OrderRoutingRule.ts
  packages/admin-sdk/src/types/generated/PriceRule.ts
  packages/admin-sdk/src/types/generated/PromotionAction.ts
  packages/admin-sdk/src/types/generated/PromotionRule.ts
  packages/dashboard-core/README.md
  packages/dashboard-core/src/plugin.ts
  packages/dashboard-core/tests/plugin-locales.test.ts
  packages/dashboard/src/components/spree/order-routing-rules-section.tsx
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/components/spree/promotion-editors/action-adjustment.tsx
  packages/dashboard/src/components/spree/promotion-editors/promotion-form.tsx
  packages/dashboard/src/components/spree/promotion-editors/types.ts
  packages/dashboard/src/schemas/price-list.ts
  packages/dashboard/src/tables/commission-rates.tsx
  packages/seller-sdk/src/types/generated/DeliveryMethodRule.ts
  spree/api/app/serializers/spree/api/v3/admin/commission_rule_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/delivery_method_rule_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_routing_rule_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/price_rule_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/promotion_action_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/promotion_rule_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/delivery_method_rule_serializer.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
Due: core, api, Core, API

Regenerate the API reference
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Mark the admin copy plan implemented
  docs/plans/6.0-admin-ui-owns-its-copy.md
Due: none

Give the seller panel an Offers section
  packages/admin-sdk/src/types/generated/OptionType.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/products/variant-edit-sheet.tsx
  packages/dashboard-core/src/products/variant-field-sections.tsx
  packages/sdk/src/types/generated/OptionType.ts
  packages/sdk/src/zod/generated/OptionType.ts
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/src/components/offer-status-card.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/routeTree.gen.ts
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/$variantId.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/index.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/new.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  packages/seller-dashboard/src/tables/offers.tsx
  packages/seller-sdk/src/types/generated/OptionType.ts
  spree/api/app/serializers/spree/api/v3/option_type_serializer.rb
Due: api, API

Show offers in the operator dashboard, and document the shared catalog
  docs/developer/core-concepts/sellers.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard-core/src/products/product-form-mapping.ts
  packages/dashboard-core/src/products/product-schema.ts
  packages/dashboard-core/src/products/product-types.ts
  packages/dashboard/src/components/spree/products/product-marketplace-card.tsx
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/dashboard/src/components/spree/products/product-seller-card.tsx
  packages/dashboard/src/hooks/use-products.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
  packages/dashboard/src/tables/products.tsx
  spree/core/lib/tasks/seller_sample_data.rake
Due: core, Core

Address the first review round
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/dashboard/src/tables/products.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/workflows/spree/variants/archive.rb
  spree/core/app/workflows/spree/variants/draft.rb
  spree/core/config/locales/en.yml
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: core, api, Core, API

Apply the simplify pass
  packages/dashboard/src/hooks/use-sellers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  spree/api/app/controllers/concerns/spree/api/v3/status_actions.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/app/services/spree/api/v3/filters_aggregator.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product_submission.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/app/services/spree/products/select_buy_box.rb
  spree/core/db/migrate/20260905000002_add_status_to_spree_variants.rb
  spree/core/spec/models/spree/variant_status_visibility_spec.rb
  spree/providers/meilisearch/app/presenters/spree_meilisearch/product_presenter.rb
Due: core, api, Core, API

Record what the seller offers work settled
  docs/plans/6.0-seller-master-catalog-listings.md
  docs/plans/decisions.md
Due: none

Address the second review round
  packages/dashboard-core/src/products/variant-field-sections.tsx
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  spree/api/app/controllers/concerns/spree/api/v3/seller/catalog_params.rb
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/variants_controller_spec.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/products/duplicator.rb
  spree/core/app/workflows/spree/variants/update.rb
  spree/core/spec/services/spree/products/duplicator_spec.rb
Due: core, api, Core, API

Keep an unapproved offer out of the product's sale state
  docs/plans/6.0-seller-master-catalog-listings.md
  spree/core/app/models/spree/product.rb
  spree/core/spec/models/spree/variant_status_visibility_spec.rb
Due: core, Core

Move a gift card to the cart that presents its code
  spree/api/spec/controllers/spree/api/v3/store/carts/gift_card_controller_spec.rb
  spree/core/app/models/spree/gift_card.rb
  spree/core/app/workflows/spree/gift_cards/apply.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core.rb
  spree/core/spec/models/spree/gift_card_spec.rb
  spree/core/spec/models/spree/promotion_handler/coupon_with_gift_card_spec.rb
  spree/core/spec/workflows/spree/gift_cards/apply_spec.rb
Due: core, Core

Assert rule rows carry no server-resolved label
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/order_routing_rule_serializer_spec.rb
Due: none

Document the gift card apply lock ordering
  spree/core/app/workflows/spree/gift_cards/apply.rb
Due: core, Core

Release gift card holds before locking the card
  spree/api/spec/controllers/spree/api/v3/store/carts/gift_card_controller_spec.rb
  spree/core/app/workflows/spree/gift_cards/apply.rb
  spree/core/spec/workflows/spree/gift_cards/apply_spec.rb
Due: core, Core

Name the location a stock transfer could not draw from
  packages/dashboard/e2e/price-lists.spec.ts
  spree/core/app/models/spree/stock_transfer.rb
  spree/core/spec/models/spree/stock_transfer_spec.rb
Due: core, Core

Fix the offers page heading, a missing label and the sample offer
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/tables/offers.tsx
  spree/core/lib/tasks/seller_sample_data.rake
Due: core, Core

Keep the catalog name as the fallback on saved rule rows
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard/src/components/spree/order-routing-rules-section.tsx
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/components/spree/promotion-editors/action-adjustment.tsx
  packages/dashboard/src/components/spree/promotion-editors/promotion-form.tsx
  packages/dashboard/src/components/spree/promotion-editors/types.ts
  packages/dashboard/src/tables/commission-rates.tsx
  packages/dashboard/src/tables/seller-requirements.tsx
  spree/api/app/controllers/concerns/spree/api/v3/admin/validation_details.rb
  spree/api/spec/controllers/spree/api/v3/admin/validation_details_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API

Re-check a gift card hold before releasing it
  spree/core/app/workflows/spree/gift_cards/apply.rb
  spree/core/app/workflows/spree/gift_cards/remove.rb
  spree/core/spec/workflows/spree/gift_cards/apply_spec.rb
Due: core, Core

Let a price list with rules save again
  packages/dashboard/e2e/price-lists.spec.ts
  packages/dashboard/src/schemas/price-list.ts
Due: none

Report the values a translated error message needs
  packages/dashboard/e2e/price-lists.spec.ts
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/seller_requirements/accept_terms.rb
  spree/core/app/models/spree/store_credit.rb
  spree/core/app/services/spree/shipping_labels/store_file.rb
Due: core, api, Core, API

Lock every gift card hold before the first release
  spree/core/app/workflows/spree/gift_cards/apply.rb
  spree/core/spec/workflows/spree/gift_cards/apply_spec.rb
Due: core, Core

Give an offer the same price and inventory grids the operator uses
  packages/dashboard-core/src/products/inventory-section.tsx
  packages/dashboard-core/src/products/product-bulk-price-editor.tsx
  packages/dashboard-core/src/products/product-form-cards.tsx
  packages/dashboard-core/src/products/product-types.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/pages/orders.tsx
  packages/seller-dashboard/src/pages/products.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-dashboard/src/tables/products.tsx
Due: none

Lock the apply target before releasing any hold
  spree/core/app/workflows/spree/gift_cards/apply.rb
  spree/core/spec/workflows/spree/gift_cards/apply_spec.rb
Due: core, Core

Re-check the completion claim and lock in one global order
  spree/core/app/workflows/spree/gift_cards/apply.rb
  spree/core/spec/workflows/spree/gift_cards/apply_spec.rb
Due: core, Core

Move a gift card to the cart that presents its code (#14577)
  spree/api/spec/controllers/spree/api/v3/store/carts/gift_card_controller_spec.rb
  spree/core/app/models/spree/gift_card.rb
  spree/core/app/workflows/spree/gift_cards/apply.rb
  spree/core/app/workflows/spree/gift_cards/remove.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core.rb
  spree/core/spec/models/spree/gift_card_spec.rb
  spree/core/spec/models/spree/promotion_handler/coupon_with_gift_card_spec.rb
  spree/core/spec/workflows/spree/gift_cards/apply_spec.rb
Due: core, Core

Give data requests their own queue and stop overriding the base retries
  spree/core/app/jobs/spree/data_requests/process_job.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/jobs/spree/data_requests/process_job_spec.rb
Due: core, Core

Leave CLAUDE.md alone
  CLAUDE.md
Due: none

Ask a store owner where they ship from
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/lib/form-mappers.ts
  packages/dashboard/src/components/spree/setup-tasks/register.ts
  packages/dashboard/src/components/spree/setup-tasks/store-address-task.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/seller-dashboard/src/components/seller-returns-location-card.tsx
  packages/seller-dashboard/src/pages/onboarding.tsx
  packages/seller-sdk/src/seller-client.ts
  spree/core/app/models/concerns/spree/stores/setup.rb
  spree/core/app/models/spree/seller.rb
  spree/core/app/models/spree/seller_requirements/returns_address.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/workflows/spree/returns/create.rb
  spree/core/config/initializers/spree_store_setup_tasks.rb
  spree/core/spec/models/spree/setup_tasks_spec.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

Stop recording a consent gesture nobody made
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/components/page-header.tsx
  packages/dashboard/src/components/spree/customers/customer-privacy-card.tsx
  packages/dashboard/src/components/spree/orders/order-customer-card.tsx
  packages/dashboard/src/hooks/use-customers.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/tables/gift-cards.tsx
  spree/api/app/controllers/spree/api/v3/admin/customers_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/data_requests_controller.rb
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/app/models/spree/consent_record.rb
  spree/core/app/services/spree/customers/data_export.rb
  spree/core/app/workflows/spree/customers/anonymize.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260902000002_add_eu_legal_compliance.rb
  spree/core/spec/models/spree/customer_marketing_consent_spec.rb
Due: core, api, Core, API

Keep erasure inside the data it owns, and finish the job
  spree/core/app/workflows/spree/customers/anonymize.rb
  spree/core/app/workflows/spree/data_requests/fulfill.rb
  spree/core/spec/models/spree/customer_personal_data_coverage_spec.rb
  spree/core/spec/workflows/spree/customers/anonymize_spec.rb
  spree/core/spec/workflows/spree/data_requests/fulfill_spec.rb
Due: core, Core

Ask the server which location the address belongs to
  packages/dashboard/src/components/spree/setup-tasks/store-address-task.tsx
  spree/api/spec/integration/spree/api/v3/admin/store_spec.rb
Due: none

Read the returns location the same way in the seller panel
  packages/dashboard/src/components/spree/setup-tasks/store-address-task.tsx
  packages/seller-dashboard/src/components/seller-returns-location-card.tsx
Due: none

Say when the seller's returns lookup failed
  packages/seller-dashboard/src/components/seller-returns-location-card.tsx
Due: none

Ask a store owner where they ship from (#14579)
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/lib/form-mappers.ts
  packages/dashboard/src/components/spree/setup-tasks/register.ts
  packages/dashboard/src/components/spree/setup-tasks/store-address-task.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/seller-dashboard/src/components/seller-returns-location-card.tsx
  packages/seller-dashboard/src/pages/onboarding.tsx
  packages/seller-sdk/src/seller-client.ts
  spree/api/spec/integration/spree/api/v3/admin/store_spec.rb
  spree/core/app/models/concerns/spree/stores/setup.rb
  spree/core/app/models/spree/seller.rb
  spree/core/app/models/spree/seller_requirements/returns_address.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/workflows/spree/returns/create.rb
  spree/core/config/initializers/spree_store_setup_tasks.rb
  spree/core/spec/models/spree/setup_tasks_spec.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

Queue and cap local test runs, leave the full suite to CI
  .claude/commands/implement-plan.md
  .claude/hooks/pre-commit-gate.sh
  CLAUDE.md
  docs/plans/6.1-vies-vat-validation.md
  package.json
  scripts/test/changed
  scripts/test/rspec
  scripts/test/with-slot
  scripts/worktree/e2e.sh
Due: none
