Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Removed carrying the installation id to a new default store
  spree/core/app/models/spree/store.rb
  spree/core/spec/lib/spree/core_spec.rb
Due: core, Core

Removed copying the installation id during the preferences upgrade
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-json-preferences.md
  docs/plans/decisions.md
  spree/core/db/migrate/20261001000001_convert_preferences_to_json.rb
Due: core

Changed install id specs to stub the default store instead of saving it
  CLAUDE.md
  spree/core/spec/lib/spree/core_spec.rb
  spree/core/spec/models/spree/store_spec.rb
Due: none

Changed installer: optional Seller Panel, --no-dashboard, consistent app setup
  .changeset/installer-optional-seller-panel.md
  docs/developer/create-spree-app/quickstart.mdx
  packages/cli/README.md
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/open.ts
  packages/cli/src/commands/upgrade.ts
  packages/create-spree-app/README.md
  packages/create-spree-app/src/constants.ts
  packages/create-spree-app/src/dashboard.ts
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/src/prompts.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/dependabot.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/src/types.ts
  packages/create-spree-app/tests/dashboard.test.ts
  packages/create-spree-app/tests/prompts.test.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Fix: An order shipping outside its market no longer completes in that market's currency
  spree/api/spec/controllers/spree/api/v3/admin/tax_providers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/addresses_controller_spec.rb
  spree/core/app/models/concerns/spree/purchase/addresses.rb
  spree/core/app/models/concerns/spree/purchase/currency.rb
  spree/core/app/models/concerns/spree/purchase/market.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/tax_provider/base.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/services/spree/orders/create.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/checkout/default_requirements.rb
  spree/core/spec/lib/spree/checkout/requirements_spec.rb
  spree/core/spec/models/spree/stock/coordinator_spec.rb
  spree/core/spec/models/spree/tax_provider/base_spec.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/core/spec/services/spree/orders/create_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
  spree/core/spec/services/spree/tax/resolve_exemptions_spec.rb
Due: core, Core

Changed the market form to show tax-inclusive pricing only where the tax engine uses it
  packages/dashboard/src/components/spree/orders/order-customer-card.tsx
  packages/dashboard/src/components/spree/tax-provider-field.tsx
  packages/dashboard/src/hooks/use-tax-rates.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/markets.tsx
  packages/dashboard/src/tables/markets.tsx
  packages/seller-dashboard/src/components/orders/order-cards.tsx
Due: none

Documented that a market sells only to its own countries
  docs/api-reference/store-api/localization.mdx
  docs/developer/core-concepts/carts.mdx
  docs/developer/core-concepts/markets.mdx
  docs/developer/core-concepts/taxes.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-channel-markets.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
  docs/user/settings/markets.mdx
Due: none

Fix: preferences upgrade reshapes tiers left as a hash in JSON rows
  spree/core/lib/spree/core/preferences/json_conversion.rb
  spree/core/spec/lib/tasks/preferences_json_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
Due: core, Core

Fix: filling in preference defaults no longer marks a loaded record changed
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/base_spec.rb
Due: core, Core

Fix matching option values on import
  spree/core/app/models/concerns/spree/parameterizable_name.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Fix: decimal preference defaults are stored and read like set values
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/lib/spree/core/preferences/preferable_class_methods.rb
  spree/core/spec/models/spree/preferences/preferable_spec.rb
Due: core, Core

Fixed spree init opening the wrong page without a dashboard app
  packages/cli/src/commands/init.ts
Due: none

Distinguish import when there are no categories and when categories are to be unassigned from product
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Changed installer: optional Seller Panel, --no-dashboard, consistent app setup (#14814)
  .changeset/installer-optional-seller-panel.md
  docs/developer/create-spree-app/quickstart.mdx
  packages/cli/README.md
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/open.ts
  packages/cli/src/commands/upgrade.ts
  packages/create-spree-app/README.md
  packages/create-spree-app/src/constants.ts
  packages/create-spree-app/src/dashboard.ts
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/src/prompts.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/dependabot.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/src/types.ts
  packages/create-spree-app/tests/dashboard.test.ts
  packages/create-spree-app/tests/prompts.test.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Fix: store payout and commission tax settings are returned as numbers
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
Due: api, API

Added integrations gallery with payment providers, instant switches and setup guides
  .changeset/admin-sdk-provider-listing.md
  .changeset/dashboard-integrations-gallery.md
  docs/developer/how-to/custom-delivery-rate-provider.mdx
  docs/developer/how-to/custom-payment-method.mdx
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/PaymentMethod.ts
  packages/admin-sdk/src/zod/generated/PaymentMethod.ts
  packages/dashboard/e2e/integrations.spec.ts
  packages/dashboard/src/components/spree/integrations/configure-integration-sheet.tsx
  packages/dashboard/src/components/spree/integrations/integration-card.tsx
  packages/dashboard/src/components/spree/payment-method-editors/payment-method-sheets.tsx
  packages/dashboard/src/hooks/use-integrations.ts
  packages/dashboard/src/hooks/use-payment-methods.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/integrations.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/payment-methods.tsx
  spree/api/app/serializers/spree/api/v3/admin/payment_method_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/integrations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/app/models/concerns/spree/provider_listing.rb
  spree/core/app/models/spree/integration.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/spec/models/spree/integration_spec.rb
  spree/providers/easypost/app/models/spree_easypost/integration.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
Due: core, api, Core, API

Fixed integration switch saves landing out of order and an empty state flash
  packages/dashboard/e2e/integrations.spec.ts
  packages/dashboard/src/components/spree/integrations/integration-card.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/integrations.tsx
Due: none

Fixed integration switch briefly showing an older value during a queued save
  packages/dashboard/e2e/integrations.spec.ts
  packages/dashboard/src/components/spree/integrations/integration-card.tsx
Due: none

Changed switch race test to wait for the refetched list to render
  packages/dashboard/e2e/integrations.spec.ts
Due: none

ui fixes
  packages/dashboard-core/src/pages/settings-index.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/button.tsx
Due: none

Added integrations gallery with payment providers, instant switches and setup guides (#14816)
  .changeset/admin-sdk-provider-listing.md
  .changeset/dashboard-integrations-gallery.md
  docs/developer/how-to/custom-delivery-rate-provider.mdx
  docs/developer/how-to/custom-payment-method.mdx
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/PaymentMethod.ts
  packages/admin-sdk/src/zod/generated/PaymentMethod.ts
  packages/dashboard-core/src/pages/settings-index.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/button.tsx
  packages/dashboard/e2e/integrations.spec.ts
  packages/dashboard/src/components/spree/integrations/configure-integration-sheet.tsx
  packages/dashboard/src/components/spree/integrations/integration-card.tsx
  packages/dashboard/src/components/spree/payment-method-editors/payment-method-sheets.tsx
  packages/dashboard/src/hooks/use-integrations.ts
  packages/dashboard/src/hooks/use-payment-methods.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/integrations.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/payment-methods.tsx
  spree/api/app/serializers/spree/api/v3/admin/payment_method_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/integrations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/app/models/concerns/spree/provider_listing.rb
  spree/core/app/models/spree/integration.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/spec/models/spree/integration_spec.rb
  spree/providers/easypost/app/models/spree_easypost/integration.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
Due: core, api, Core, API

Added quantity discount tiers to standalone price lists
  .changeset/dashboard-standalone-quantity-discount.md
  docs/developer/core-concepts/pricing.mdx
  docs/developer/how-to/build-a-b2b-store.mdx
  docs/plans/6.0-price-list-automatic-pricing.md
  docs/plans/6.0-volume-pricing.md
  docs/plans/decisions.md
  docs/user/pricing/price-lists.mdx
  packages/dashboard/src/components/spree/adjustment-tier-fields.tsx
  packages/dashboard/src/components/spree/catalog-pricing-fields.tsx
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/catalog.ts
  packages/dashboard/src/schemas/price-list.test.ts
  packages/dashboard/src/schemas/price-list.ts
  spree/api/spec/controllers/spree/api/v3/admin/price_lists_controller_spec.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/pricing_provider/internal_resolution_spec.rb
Due: core, Core

Fix: gateways get typed preference values, and tiers skip non-numeric entries
  spree/core/app/models/concerns/spree/calculator/tiers.rb
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/calculator/tiered_percent_spec.rb
  spree/core/spec/models/spree/gateway_spec.rb
Due: core, Core

Fix: unconverted tiers still discount, and a stopped conversion can be rerun
  spree/core/app/models/concerns/spree/calculator/tiers.rb
  spree/core/lib/spree/core/preferences/json_conversion.rb
  spree/core/spec/lib/tasks/preferences_json_spec.rb
  spree/core/spec/models/spree/calculator/tiered_percent_spec.rb
Due: core, Core

Fix: Allowed activating a price list that only carries quantity tiers
  spree/core/app/workflows/spree/price_lists/activate.rb
  spree/core/config/locales/en.yml
  spree/core/spec/workflows/spree/price_lists/status_transitions_spec.rb
Due: core, Core

Fix: Kept stored quantity tiers unchanged when a price list save does not edit them
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/price-list.test.ts
  packages/dashboard/src/schemas/price-list.ts
Due: none

Added the typed webhook events plan
  CLAUDE.md
  docs/plans/6.0-typed-webhook-events.md
  docs/plans/decisions.md
Due: none

Fixed specs to read notify_customer from event metadata
  packages/sdk/biome.json
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
  spree/core/spec/workflows/spree/orders/cancel_spec.rb
  spree/core/spec/workflows/spree/orders/complete_spec.rb
  spree/emails/spec/models/spree/order_spec.rb
  spree/emails/spec/subscribers/spree/order_email_subscriber_spec.rb
  spree/emails/spec/subscribers/spree/order_group_email_subscriber_spec.rb
Due: none

Changed the webhook event picker to read the server's event catalog
  packages/dashboard/src/components/spree/webhook-endpoint-form.tsx
  packages/dashboard/src/hooks/use-webhook-endpoints.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/webhook-endpoint.ts
Due: none

Fixed review findings on typed webhook events
  lefthook.yml
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/sdk/src/webhooks/index.ts
  packages/sdk/tests/webhooks.test.ts
  spree/api/spec/lib/spree/api/webhook_event_types_spec.rb
Due: none

Added documentation for declared and typed webhook events
  .changeset/typed-webhook-events.md
  docs/api-reference/webhooks-events.mdx
  docs/developer/core-concepts/events.mdx
  docs/developer/core-concepts/webhooks.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-typed-webhook-events.md
Due: none

Changed the event catalog code to be simpler and cheaper
  packages/dashboard/src/components/spree/webhook-endpoint-form.tsx
  spree/api/app/controllers/spree/api/v3/admin/webhook_endpoints_controller.rb
  spree/api/lib/spree/api/webhook_event_types.rb
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/app/models/concerns/spree/publishable.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_level/custom_events.rb
  spree/core/app/models/spree/webhook_endpoint.rb
  spree/core/app/models/spree/wishlist_item.rb
  spree/core/app/models/spree/wishlist_item/custom_events.rb
  spree/core/lib/spree/events/catalog.rb
Due: core, api, Core, API

Added the webhook events endpoint to the Admin API
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/examples/webhook-events/list.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/WebhookEvent.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/src/zod/generated/WebhookEvent.ts
  packages/admin-sdk/src/zod/generated/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  spree/api/app/controllers/spree/api/v3/admin/webhook_events_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/webhook_event_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/webhook_events_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/webhook_events_spec.rb
Due: api, API

Fix: SDK type check failed on the generated webhook schema map
  packages/sdk/src/webhooks/generated/schemas.ts
  spree/api/lib/spree/api/webhook_event_types.rb
Due: api, API

Fix: webhooks e2e picked two event checkboxes for one name
  packages/dashboard/e2e/webhooks.spec.ts
Due: none

Fix: staff and seller reset events described as subscribable webhooks
  docs/api-reference/webhooks-events.mdx
  docs/developer/core-concepts/webhooks.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-typed-webhook-events.md
  docs/plans/decisions.md
  packages/sdk/src/webhooks/generated/events.ts
  packages/sdk/src/webhooks/generated/schemas.ts
  spree/api/app/controllers/spree/api/v3/admin/webhook_events_controller.rb
  spree/api/app/subscribers/spree/webhook_event_subscriber.rb
  spree/api/lib/spree/api/webhook_event_types.rb
  spree/api/spec/controllers/spree/api/v3/admin/webhook_events_controller_spec.rb
  spree/api/spec/lib/spree/api/webhook_event_types_spec.rb
  spree/api/spec/subscribers/spree/webhook_event_subscriber_spec.rb
  spree/core/app/models/concerns/spree/admin_user_methods.rb
  spree/core/app/models/concerns/spree/publishable.rb
  spree/core/lib/spree/events/catalog.rb
  spree/core/spec/lib/spree/events/catalog_spec.rb
Due: core, api, Core, API

Regenerated SDK types and the CLI spec after rebasing onto main
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Enums.ts
  packages/sdk/src/types/generated/ExchangeLineItem.ts
  packages/sdk/src/zod/generated/ExchangeLineItem.ts
Due: none
