Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Update the test harnesses for the removed admin seed defaults
  packages/create-spree-app/tests/templates.test.ts
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/e2e/roles.spec.ts
  packages/sdk/tests/integration/global-setup.ts
Due: none

Apply review feedback on the first-run setup flow
  .changeset/cli-first-run-setup.md
  .changeset/create-spree-app-first-run-setup.md
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-store-context-and-first-run-setup.md
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/generated/admin-spec.json
  packages/create-spree-app/src/templates/readme.ts
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/e2e/roles.spec.ts
  packages/sdk/tests/integration/global-setup.ts
  spree/core/lib/tasks/setup.rake
  spree/core/spec/services/spree/sample_data/loader_spec.rb
  spree/template.rb
Due: core, Core

fixup! fixup! Add ability for merchants to customize order number format
  spree/core/spec/models/spree/number_sequence_spec.rb
Due: none

Fixes ability to zero-out Price via Price List
  spree/core/lib/spree/core/pricing/resolver.rb
  spree/core/spec/lib/spree/pricing/resolver_spec.rb
Due: core, Core

Fixes ability to zero-out Price via Price List (#14432)
  spree/core/lib/spree/core/pricing/resolver.rb
  spree/core/spec/lib/spree/pricing/resolver_spec.rb
Due: core, Core

Fix six cross-store leaks in store-owned models
  spree/api/app/controllers/concerns/spree/api/v3/idempotent.rb
  spree/core/app/models/spree/data_feed.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/variant.rb
  spree/core/db/migrate/20260813130001_add_unique_indexes_to_spree_data_feeds.rb
  spree/core/lib/tasks/single_store_associations.rake
  spree/core/spec/models/spree/delivery_method_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
Due: core, api, Core, API

Add isolation tripwires under the store-scoping discipline
  CLAUDE.md
  docs/plans/6.0-store-context-and-first-run-setup.md
  docs/plans/decisions.md
  spree/api/app/controllers/concerns/spree/api/v3/api_key_authentication.rb
  spree/api/app/controllers/spree/api/v3/base_controller.rb
  spree/api/spec/spec_helper.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/lib/spree/core/preferences/runtime_configuration.rb
  spree/core/lib/spree/store_scope_guard.rb
  spree/core/spec/lib/spree/store_scope_guard_spec.rb
  spree/core/spec/lib/spree/store_scoped_cache_keys_spec.rb
  spree/core/spec/lib/spree/store_scoped_list_positions_spec.rb
Due: core, api, Core, API

Tighten the tripwires per review
  CLAUDE.md
  docs/plans/decisions.md
  spree/core/lib/spree/store_scope_guard.rb
  spree/core/spec/lib/spree/store_scope_guard_spec.rb
  spree/core/spec/lib/spree/store_scoped_cache_keys_spec.rb
  spree/core/spec/lib/spree/store_scoped_list_positions_spec.rb
Due: core, Core

Match store_id predicates under every adapter's quoting
  spree/core/lib/spree/store_scope_guard.rb
  spree/core/spec/lib/spree/store_scope_guard_spec.rb
Due: core, Core

Address review findings on the capture method change
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/v6/developer/customization/configuration.mdx
  packages/admin-sdk/src/params.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/spec/models/concerns/spree/purchase/payment_processing_spec.rb
  spree/core/spec/models/spree/order/payment_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
  spree/core/spec/workflows/spree/payments/handle_webhook_spec.rb
Due: core, api, Core, API

Cover every quoting style in the null-check spec
  spree/core/spec/lib/spree/store_scope_guard_spec.rb
Due: none

Store isolation tripwires + six cross-store leak fixes (#14435)
  CLAUDE.md
  docs/plans/6.0-store-context-and-first-run-setup.md
  docs/plans/decisions.md
  spree/api/app/controllers/concerns/spree/api/v3/api_key_authentication.rb
  spree/api/app/controllers/concerns/spree/api/v3/idempotent.rb
  spree/api/app/controllers/spree/api/v3/base_controller.rb
  spree/api/spec/spec_helper.rb
  spree/core/app/models/spree/data_feed.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/variant.rb
  spree/core/db/migrate/20260813130001_add_unique_indexes_to_spree_data_feeds.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/lib/spree/core/preferences/runtime_configuration.rb
  spree/core/lib/spree/store_scope_guard.rb
  spree/core/lib/tasks/single_store_associations.rake
  spree/core/spec/lib/spree/store_scope_guard_spec.rb
  spree/core/spec/lib/spree/store_scoped_cache_keys_spec.rb
  spree/core/spec/lib/spree/store_scoped_list_positions_spec.rb
  spree/core/spec/models/spree/delivery_method_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
Due: core, api, Core, API

Add extendable validations plan
  CLAUDE.md
  docs/plans/6.0-extendable-validations.md
  docs/plans/decisions.md
Due: none

Make address validation rules adjustable without decorators
  docs/developer/customization/validations.mdx
  docs/developer/customization/workflows.mdx
  docs/docs.json
  spree/core/app/models/spree/address.rb
  spree/core/app/models/spree/store.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/validators.rb
  spree/core/spec/lib/spree/validators_spec.rb
  spree/core/spec/models/spree/address_spec.rb
Due: core, Core

Add product create, update and destroy workflows
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/app/workflows/spree/products/create.rb
  spree/core/app/workflows/spree/products/destroy.rb
  spree/core/app/workflows/spree/products/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/workflow.rb
  spree/core/spec/workflows/spree/products/lifecycle_spec.rb
Due: core, api, Core, API

Route every non-increment cart item mutation through one workflow
  spree/api/app/controllers/concerns/spree/api/v3/cart_resolvable.rb
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/core/app/jobs/spree/variants/remove_line_item_job.rb
  spree/core/app/models/spree/carts/item_warning.rb
  spree/core/app/models/spree/carts/resolved_item.rb
  spree/core/app/services/spree/carts/create.rb
  spree/core/app/services/spree/carts/remove_line_item.rb
  spree/core/app/services/spree/carts/remove_out_of_stock_items.rb
  spree/core/app/services/spree/carts/set_quantity.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/services/spree/carts/upsert_items.rb
  spree/core/app/services/spree/orders/upsert_items.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
  spree/core/app/workflows/spree/orders/upsert_items.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/returns/eligibility_validator_spec.rb
  spree/core/spec/workflows/spree/carts/upsert_items_spec.rb
  spree/core/spec/workflows/spree/orders/upsert_items_spec.rb
Due: core, api, Core, API

Surface skipped cart items through the cart warnings array
  spree/api/app/controllers/concerns/spree/api/v3/cart_resolvable.rb
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/items_controller_spec.rb
  spree/core/app/models/spree/carts/item_warning.rb
  spree/core/app/services/spree/carts/create.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
Due: core, api, Core, API

Carry workflow rejections as ActiveModel::Errors
  spree/core/app/services/spree/returns/eligibility_validator.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/workflow.rb
  spree/core/spec/lib/spree/workflow_spec.rb
  spree/core/spec/workflows/spree/carts/merge_spec.rb
  spree/core/spec/workflows/spree/customers/create_spec.rb
  spree/core/spec/workflows/spree/payments/capture_spec.rb
  spree/core/spec/workflows/spree/payments/refund_spec.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, Core

Mark extendable validations plan complete
  CLAUDE.md
  docs/plans/6.0-extendable-validations.md
  docs/plans/decisions.md
Due: none

Cover nested product data in the workflow specs
  docs/plans/6.0-extendable-validations.md
  spree/core/app/workflows/spree/products/create.rb
  spree/core/app/workflows/spree/products/update.rb
  spree/core/spec/workflows/spree/products/lifecycle_spec.rb
Due: core, Core

Add request specs for cart item and product validation failures
  packages/admin-sdk/src/types/generated/Store.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
  spree/api/spec/integration/spree/api/v3/store/line_items_spec.rb
Due: api, API

Address review feedback on validation workflows
  docs/developer/customization/workflows.mdx
  docs/docs.json
  docs/plans/6.0-extendable-validations.md
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/items_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
  spree/core/app/jobs/spree/variants/remove_line_item_job.rb
  spree/core/app/services/spree/carts/remove_line_item.rb
  spree/core/app/services/spree/carts/remove_out_of_stock_items.rb
  spree/core/app/services/spree/carts/set_quantity.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
  spree/core/app/workflows/spree/products/create.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/carts/set_quantity_spec.rb
  spree/core/spec/workflows/spree/carts/upsert_items_spec.rb
  spree/core/spec/workflows/spree/products/lifecycle_spec.rb
Due: core, api, Core, API

Fix i18n ordering and owner-aware line item removal
  spree/core/app/jobs/spree/variants/remove_line_item_job.rb
  spree/core/app/services/spree/carts/remove_out_of_stock_items.rb
  spree/core/config/locales/en.yml
  spree/core/spec/jobs/spree/variants/remove_line_item_job_spec.rb
Due: core, Core

Route the deprecated cart shims by owner too
  spree/core/app/services/spree/carts/remove_line_item.rb
  spree/core/app/services/spree/carts/set_quantity.rb
  spree/core/spec/services/spree/orders/remove_line_item_spec.rb
Due: core, Core

Regenerate API artifacts after rebasing onto main
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Store.ts
  packages/cli/src/generated/admin-spec.json
Due: none

Add dashboard pages for business customers and tax configuration
  .changeset/dashboard-companies-and-tax-rates.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard/src/components/spree/company-location-sheet.tsx
  packages/dashboard/src/components/spree/enterprise-upsell.tsx
  packages/dashboard/src/components/spree/jurisdiction-label.tsx
  packages/dashboard/src/components/spree/tax-category-label.tsx
  packages/dashboard/src/components/spree/tax-exemption-certificates-card.tsx
  packages/dashboard/src/components/spree/tax-identifiers-card.tsx
  packages/dashboard/src/components/spree/tax-provider-field.tsx
  packages/dashboard/src/hooks/use-companies.ts
  packages/dashboard/src/hooks/use-customers.ts
  packages/dashboard/src/hooks/use-tax-rates.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/companies/$companyId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/companies/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/companies/locations.$locationId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/markets.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/tax-rates.tsx
  packages/dashboard/src/schemas/company.ts
  packages/dashboard/src/schemas/market.ts
  packages/dashboard/src/schemas/tax-rate.ts
  packages/dashboard/src/tables/companies.tsx
  packages/dashboard/src/tables/tax-rates.tsx
Due: none

Declare item_index on the cart warning schema
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Cart.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Cart.ts
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/lib/spree/api/openapi/schema_helper.rb
Due: api, API

Replaced outdated screenshot
  docs/images/user/settings/sales-channels/2-new-sales-channel.png
Due: none

Enhance sales channels documentation with access controls
  docs/user/settings/sales-channels.mdx
Due: none

Updated channel creation form screenshot
  docs/images/user/settings/sales-channels/2-new-sales-channel.png
Due: none

Revise product properties and digital products sections
  docs/user/products/creating-products.mdx
Due: none

Retire zone price rules onto markets and shell the Zone model
  docs/plans/6.0-delivery-zones.md
  docs/plans/decisions.md
  spree/core/app/models/spree/country.rb
  spree/core/app/models/spree/price_rules/zone_rule.rb
  spree/core/app/models/spree/state.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/zone.rb
  spree/core/app/models/spree/zone_member.rb
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/zones.rb
  spree/core/db/sample_data/markets.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/lib/spree/testing_support/factories.rb
  spree/core/lib/spree/testing_support/factories/price_rule_factory.rb
  spree/core/lib/spree/testing_support/factories/zone_factory.rb
  spree/core/lib/spree/testing_support/order_walkthrough.rb
  spree/core/lib/tasks/tax_zones_migration.rake
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/price_rules/zone_rule_spec.rb
  spree/core/spec/models/spree/zone_member_spec.rb
  spree/core/spec/models/spree/zone_spec.rb
Due: core, Core

Add first-class OpenTelemetry support
  .github/workflows/tests.yml
  CLAUDE.md
  docs/developer/deployment/telemetry.mdx
  docs/docs.json
  docs/plans/6.0-opentelemetry.md
  docs/plans/decisions.md
  spree/Rakefile
  spree/api/app/services/spree/webhooks/deliver_webhook.rb
  spree/api/spec/services/spree/webhooks/deliver_webhook_spec.rb
  spree/core/app/models/concerns/spree/instruments_gateway_calls.rb
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/payment_method/session_instrumentation.rb
  spree/core/app/models/spree/refund.rb
  spree/core/lib/spree/events/adapters/base.rb
  spree/core/lib/spree/hooks.rb
  spree/core/lib/spree/workflow.rb
  spree/core/spec/lib/spree/events_spec.rb
  spree/core/spec/lib/spree/workflow_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/models/spree/refund_spec.rb
  spree/opentelemetry/Gemfile
  spree/opentelemetry/README.md
  spree/opentelemetry/Rakefile
  spree/opentelemetry/lib/spree_opentelemetry.rb
  spree/opentelemetry/lib/spree_opentelemetry/configuration.rb
  spree/opentelemetry/lib/spree_opentelemetry/engine.rb
  spree/opentelemetry/lib/spree_opentelemetry/span_subscriber.rb
  spree/opentelemetry/lib/spree_opentelemetry/subscribers.rb
  spree/opentelemetry/lib/spree_opentelemetry/webhook_trace_propagation.rb
  spree/opentelemetry/spec/lib/span_subscriber_spec.rb
  spree/opentelemetry/spec/lib/spree_opentelemetry_spec.rb
  spree/opentelemetry/spec/lib/subscribers_spec.rb
  spree/opentelemetry/spec/lib/webhook_trace_propagation_spec.rb
  spree/opentelemetry/spec/spec_helper.rb
  spree/opentelemetry/spree_opentelemetry.gemspec
Due: core, api, Core, API

Make sample data rate-ready and surface EasyPost rating failures
  spree/core/app/services/spree/sample_data/loader.rb
  spree/core/db/sample_data/fulfillment.rb
  spree/core/db/sample_data/shipping_methods.rb
  spree/providers/easypost/app/models/spree_easypost/delivery_rate_provider.rb
  spree/providers/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
Due: core, Core

Address PR review feedback on telemetry
  spree/api/app/services/spree/webhooks/deliver_webhook.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/db/sample_data/fulfillment.rb
  spree/core/lib/spree/hooks.rb
  spree/opentelemetry/README.md
  spree/opentelemetry/lib/spree_opentelemetry.rb
  spree/opentelemetry/lib/spree_opentelemetry/span_subscriber.rb
  spree/opentelemetry/lib/spree_opentelemetry/subscribers.rb
  spree/opentelemetry/lib/spree_opentelemetry/webhook_trace_propagation.rb
  spree/opentelemetry/spec/lib/spree_opentelemetry_spec.rb
  spree/opentelemetry/spec/lib/webhook_trace_propagation_spec.rb
  spree/providers/easypost/app/models/spree_easypost/delivery_rate_provider.rb
  spree/providers/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
Due: core, api, Core, API

Add an ISO reference registry for countries and subdivisions
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/iso_data.rb
  spree/core/spec/lib/spree/iso_data_spec.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
