Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Changed store seeding to list each seed explicitly
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/store_resources.rb
Due: core, Core

Changed Seeds::All to seed each store through StoreResources
  docs/developer/core-concepts/stores.mdx
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/store_resources.rb
Due: core, Core

Removed platform wording from store seeding comments
  spree/core/app/services/spree/seeds/store_resources.rb
Due: core, Core

Removed the no store access slot from the public docs
  .changeset/dashboard-no-store-access.md
  docs/developer/dashboard/slots-catalog.mdx
  docs/plans/6.0-admin-spa.md
  packages/dashboard-core/src/lib/slot-registry.ts
Due: none

Removed store selection from the sample data docs
  docs/developer/cli/quickstart.mdx
  spree/core/spec/services/spree/sample_data/loader_spec.rb
Due: none

Fix: OIDC sign-in dropped the given name from the identity
  spree/core/app/models/spree/authentication/strategies/oidc_strategy.rb
  spree/core/spec/models/spree/authentication/strategies/oidc_strategy_spec.rb
Due: core, Core

Fix: OIDC sign-in dropped the given name from the identity (#14701)
  spree/core/app/models/spree/authentication/strategies/oidc_strategy.rb
  spree/core/spec/models/spree/authentication/strategies/oidc_strategy_spec.rb
Due: core, Core

Added store argument to sample data loading (#14700)
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/core/app/jobs/spree/sample_data/load_job.rb
  spree/core/app/models/concerns/spree/has_number.rb
  spree/core/app/models/spree/number_generators/sequential.rb
  spree/core/app/services/spree/imports/row_processors/product_translation.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/app/services/spree/sample_data/import_builder.rb
  spree/core/app/services/spree/sample_data/loader.rb
  spree/core/db/sample_data/channels.rb
  spree/core/db/sample_data/collections.rb
  spree/core/db/sample_data/custom_field_definitions.rb
  spree/core/db/sample_data/digital_products.rb
  spree/core/db/sample_data/fulfillment.rb
  spree/core/db/sample_data/options.rb
  spree/core/db/sample_data/orders.rb
  spree/core/db/sample_data/payment_methods.rb
  spree/core/db/sample_data/product_type_categories.rb
  spree/core/db/sample_data/product_types.rb
  spree/core/db/sample_data/promotions.rb
  spree/core/db/sample_data/wholesale.rb
  spree/core/lib/tasks/sample_data.rake
  spree/core/spec/jobs/spree/sample_data/load_job_spec.rb
  spree/core/spec/models/spree/concerns/has_number_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
  spree/core/spec/services/spree/sample_data/loader_spec.rb
Due: core, api, Core, API

Fix: API v3 uses the configured ability class (#14693)
  docs/developer/customization/permissions.mdx
  spree/api/app/controllers/spree/api/v3/base_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/me_controller.rb
  spree/api/spec/controllers/concerns/spree/api/v3/admin_authentication_spec.rb
Due: api, API

Added per-store seeding for newly created stores (#14690)
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/allowed_origins.rb
  spree/core/app/services/spree/seeds/api_keys.rb
  spree/core/app/services/spree/seeds/channels.rb
  spree/core/app/services/spree/seeds/commission_rates.rb
  spree/core/app/services/spree/seeds/customer_groups.rb
  spree/core/app/services/spree/seeds/digital_delivery.rb
  spree/core/app/services/spree/seeds/payment_methods.rb
  spree/core/app/services/spree/seeds/product_types.rb
  spree/core/app/services/spree/seeds/returns_environment.rb
  spree/core/app/services/spree/seeds/roles.rb
  spree/core/app/services/spree/seeds/saved_reports.rb
  spree/core/app/services/spree/seeds/seller_requirements.rb
  spree/core/app/services/spree/seeds/store_resources.rb
  spree/core/app/services/spree/seeds/store_scoped.rb
  spree/core/app/services/spree/seeds/tax_categories.rb
  spree/core/spec/services/spree/seeds/all_spec.rb
  spree/core/spec/services/spree/seeds/store_resources_spec.rb
  spree/core/spec/services/spree/seeds/tax_categories_spec.rb
Due: core, Core

Added a no store access screen to the dashboard (#14691)
  .changeset/dashboard-no-store-access.md
  docs/plans/6.0-admin-spa.md
  packages/dashboard-core/src/lib/slot-registry.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/es.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/components/spree/no-store-access.test.tsx
  packages/dashboard/src/components/spree/no-store-access.tsx
  packages/dashboard/src/routes/_authenticated/index.tsx
  spree/api/app/controllers/spree/api/v3/admin/me_controller.rb
  spree/api/spec/controllers/concerns/spree/api/v3/admin/store_context_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/me_controller_spec.rb
Due: api, API

Fix: run the coupon code and actor type backfills during spree:upgrade (#14692)
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/spec/lib/tasks/upgrade_manifests_spec.rb
Due: core, Core

Fix: give every prefixed-ID prefix a single owner (#14699)
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/dashboard/src/schemas/commission-rate.test.ts
  spree/core/app/models/concerns/spree/prefixed_id.rb
  spree/core/app/models/spree/commission_rule.rb
  spree/core/app/models/spree/payment_source.rb
  spree/core/spec/models/spree/concerns/prefixed_id_spec.rb
Due: core, Core

Fix: customer.carts returns the customer's open Spree::Cart records (#14698)
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/spec/models/spree/concerns/user_methods_spec.rb
  spree/core/spec/models/spree/user_spec.rb
Due: core, Core

Fix: spree:upgrade DRY_RUN lists the steps a real run executes (#14697)
  .changeset/cli-upgrade-next-steps.md
  packages/cli/src/commands/upgrade.ts
  spree/core/lib/tasks/upgrade.rake
  spree/core/spec/lib/tasks/upgrade_spec.rb
Due: core, Core

Fix: send refund_reason_id from @spree/admin-sdk refunds.create (#14696)
  .changeset/admin-sdk-refund-reason-param.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/tests/orders.test.ts
Due: none

Fix: type carts.complete as Order | OrderGroup in @spree/sdk (#14695)
  .changeset/sdk-cart-complete-order-group.md
  docs/developer/core-concepts/carts.mdx
  docs/developer/core-concepts/sellers.mdx
  docs/developer/sdk/store/cart-checkout.mdx
  packages/sdk/src/index.ts
  packages/sdk/src/order-group.ts
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/cart.test.ts
Due: none

Fix: let stores unregister the default returns eligibility validator (#14694)
  docs/developer/upgrades/5.6-to-6.0.mdx
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/lib/spree/core/engine_spec.rb
Due: core, Core

Fix: an order refunded to store credit still showed as paid (#14687)
  docs/plans/6.0-cart-order-split.md
  docs/plans/6.0-returns-exchanges-claims.md
  docs/plans/decisions.md
  spree/core/app/models/spree/claim.rb
  spree/core/app/models/spree/exchange.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/store_credit.rb
  spree/core/app/services/spree/orders/update_statuses.rb
  spree/core/app/subscribers/spree/order_status_subscriber.rb
  spree/core/app/workflows/spree/claims/resolve.rb
  spree/core/app/workflows/spree/exchanges/fulfill.rb
  spree/core/app/workflows/spree/refunds/order_payments.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/db/migrate/20260922000001_add_refunded_order_to_spree_store_credits.rb
  spree/core/spec/models/spree/order_updater_spec.rb
  spree/core/spec/subscribers/spree/order_status_subscriber_spec.rb
  spree/core/spec/subscribers/spree/payment_split_subscriber_spec.rb
  spree/core/spec/workflows/spree/claims/lifecycle_spec.rb
  spree/core/spec/workflows/spree/exchanges/lifecycle_spec.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, Core

Docs: Add build a B2B store guide
  docs/developer/core-concepts/channels.mdx
  docs/developer/how-to/build-a-b2b-store.mdx
Due: none

Fix: generators and scaffolds produce working Spree 6 code
  .changeset/admin-sdk-refund-reason-prefix.md
  .changeset/cli-plugin-template-peers.md
  .changeset/create-spree-app-admin-and-render.md
  docs/developer/cli/quickstart.mdx
  docs/developer/contributing/creating-an-extension.mdx
  docs/developer/dashboard/plugins/publishing.mdx
  docs/developer/dashboard/plugins/scaffolding.mdx
  docs/developer/deployment/background_jobs.mdx
  docs/developer/tutorial/model-and-api.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/admin-sdk/examples/order-refunds/create.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/tests/orders.test.ts
  packages/cli/scripts/plugin-peer-ranges.mjs
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/plugin.ts
  packages/cli/src/lib/plugin-peer-ranges.ts
  packages/cli/templates/plugin/.gitignore
  packages/cli/templates/plugin/README.md.tt
  packages/cli/templates/plugin/packages/dashboard/package.json.tt
  packages/cli/tests/build-production.test.ts
  packages/cli/tests/plugin-template.test.ts
  packages/cli/tsup.config.ts
  packages/cli/vitest.config.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/server.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/server.test.ts
  packages/create-spree-app/tests/templates.test.ts
  spree/core/lib/generators/spree/api_resource/api_resource_generator.rb
  spree/core/lib/generators/spree/api_resource/templates/admin_controller.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/permissions.en.yml.tt
  spree/core/lib/generators/spree/api_resource/templates/store_controller.rb.tt
  spree/core/lib/generators/spree/subscriber/subscriber_generator.rb
  spree/core/spec/lib/generators/spree/api_resource/api_resource_generator_spec.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
Due: none

Fix: escape scope notes in the Admin API endpoints page and use Spree 6 event names in email docs
  docs/api-reference/admin-api/endpoints.mdx
  docs/developer/deployment/emails.mdx
  docs/developer/storefront/nextjs/emails.mdx
  packages/cli/scripts/generate-endpoints-doc.mjs
Due: none

Fix: cart metadata was lost when the cart was placed as an order
  docs/developer/core-concepts/carts.mdx
  docs/developer/core-concepts/orders.mdx
  docs/developer/customization/checkout.mdx
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
Due: core, Core

Fix: registrations made before Spree's defaults no longer get wiped at boot
  docs/developer/customization/validations.mdx
  docs/developer/how-to/custom-delivery-rate-provider.mdx
  docs/developer/how-to/custom-digital-asset-provider.mdx
  docs/developer/how-to/custom-stock-splitter.mdx
  docs/developer/providers/payouts.mdx
  spree/core/lib/spree/authentication/strategy_registry.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/validators.rb
  spree/core/spec/fixtures/registry_boot/boot.rb
  spree/core/spec/fixtures/registry_boot/initializers/register_probes.rb
  spree/core/spec/fixtures/registry_boot/registries.rb
  spree/core/spec/lib/spree/core/engine_spec.rb
  spree/providers/stripe/lib/spree_stripe/engine.rb
Due: core, Core

Fix: a return could only be refunded once
  .changeset/return-partially-refunded.md
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  docs/developer/core-concepts/events.mdx
  docs/developer/core-concepts/returns-exchanges-claims.mdx
  docs/plans/6.0-returns-exchanges-claims.md
  packages/admin-sdk/src/types/generated/Enums.ts
  packages/admin-sdk/src/types/generated/Return.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/order-returns-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/tables/post-sale.tsx
  packages/sdk/src/types/generated/Enums.ts
  packages/sdk/src/types/generated/Return.ts
  packages/seller-dashboard/src/components/orders/returns-card.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-sdk/src/types/generated/Enums.ts
  packages/seller-sdk/src/types/generated/Return.ts
  spree/core/app/models/concerns/spree/has_status.rb
  spree/core/app/models/spree/return.rb
  spree/core/app/models/spree/tax_provider/base.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/app/workflows/spree/shipping_labels/purchase.rb
  spree/core/app/workflows/spree/shipping_labels/record.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/spec/models/concerns/spree/has_status_spec.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, Core

Address review feedback
  .changeset/admin-sdk-order-company-id.md
  docs/developer/how-to/build-a-b2b-store.mdx
  packages/admin-sdk/src/params.ts
Due: none

Docs: register extension subscribers in the extension initializer
  docs/developer/contributing/creating-an-extension.mdx
Due: none

Fix: cart metadata was lost when the cart was placed as an order (#14705)
  docs/developer/core-concepts/carts.mdx
  docs/developer/core-concepts/orders.mdx
  docs/developer/customization/checkout.mdx
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
Due: core, Core

Address review feedback
  packages/seller-dashboard/src/components/orders/returns-card.tsx
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, Core

Fix: escape scope notes in the Admin API endpoints page and use Spree 6 event names in email docs (#14704)
  docs/api-reference/admin-api/endpoints.mdx
  docs/developer/deployment/emails.mdx
  docs/developer/storefront/nextjs/emails.mdx
  packages/cli/scripts/generate-endpoints-doc.mjs
Due: none

Fix: generators and scaffolds produce working Spree 6 code (#14703)
  .changeset/admin-sdk-refund-reason-prefix.md
  .changeset/cli-plugin-template-peers.md
  .changeset/create-spree-app-admin-and-render.md
  docs/developer/cli/quickstart.mdx
  docs/developer/contributing/creating-an-extension.mdx
  docs/developer/dashboard/plugins/publishing.mdx
  docs/developer/dashboard/plugins/scaffolding.mdx
  docs/developer/deployment/background_jobs.mdx
  docs/developer/tutorial/model-and-api.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/admin-sdk/examples/order-refunds/create.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/tests/orders.test.ts
  packages/cli/scripts/plugin-peer-ranges.mjs
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/plugin.ts
  packages/cli/src/lib/plugin-peer-ranges.ts
  packages/cli/templates/plugin/.gitignore
  packages/cli/templates/plugin/README.md.tt
  packages/cli/templates/plugin/packages/dashboard/package.json.tt
  packages/cli/tests/build-production.test.ts
  packages/cli/tests/plugin-template.test.ts
  packages/cli/tsup.config.ts
  packages/cli/vitest.config.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/server.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/server.test.ts
  packages/create-spree-app/tests/templates.test.ts
  spree/core/lib/generators/spree/api_resource/api_resource_generator.rb
  spree/core/lib/generators/spree/api_resource/templates/admin_controller.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/permissions.en.yml.tt
  spree/core/lib/generators/spree/api_resource/templates/store_controller.rb.tt
  spree/core/lib/generators/spree/subscriber/subscriber_generator.rb
  spree/core/spec/lib/generators/spree/api_resource/api_resource_generator_spec.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
Due: none

Docs: Add build a B2B store guide (#14702)
  .changeset/admin-sdk-order-company-id.md
  docs/developer/core-concepts/channels.mdx
  docs/developer/how-to/build-a-b2b-store.mdx
  packages/admin-sdk/src/params.ts
Due: none

Fix: OAuth tokens on user identities are now encrypted at rest
  docs/developer/how-to/custom-api-authentication.mdx
  spree/core/app/models/spree/user_identity.rb
  spree/core/db/migrate/20260923000001_change_spree_user_identities_tokens_to_text.rb
  spree/core/lib/generators/spree/dummy/templates/rails/test.rb
  spree/core/spec/models/spree/user_identity_spec.rb
Due: core, Core

Fix: storefront checkout follows order routing rules and strategies
  docs/developer/core-concepts/fulfillments.mdx
  docs/developer/core-concepts/inventory.mdx
  docs/developer/how-to/custom-order-routing.mdx
  docs/developer/how-to/custom-stock-splitter.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/6.0-order-routing.md
  spree/core/app/models/concerns/spree/purchase/order_routing.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_routing/rules/minimize_splits.rb
  spree/core/app/models/spree/order_routing/strategy/base.rb
  spree/core/app/models/spree/order_routing/strategy/rules.rb
  spree/core/app/models/spree/stock/coordinator.rb
  spree/core/app/services/spree/orders/build_fulfillments.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/spec/models/spree/cart_spec.rb
  spree/core/spec/models/spree/order_routing/strategy/rules_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
  spree/core/spec/workflows/spree/orders/cancel_spec.rb
Due: core, Core

Address review feedback
  spree/core/app/models/spree/user_identity.rb
  spree/core/db/migrate/20260923000001_change_spree_user_identities_tokens_to_text.rb
  spree/core/spec/models/spree/user_identity_spec.rb
Due: core, Core

Fix: new projects encrypt secrets at rest out of the box
  .changeset/cli-encryption-init.md
  .changeset/create-spree-app-encryption-keys.md
  docs/developer/cli/quickstart.mdx
  docs/developer/core-concepts/payments.mdx
  docs/developer/create-spree-app/quickstart.mdx
  docs/developer/deployment/aws.mdx
  docs/developer/deployment/aws_ecs.mdx
  docs/developer/deployment/docker.mdx
  docs/developer/deployment/environment_variables.mdx
  docs/developer/deployment/render.mdx
  docs/developer/security/security_policy.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/cli/README.md
  packages/cli/src/commands/encryption.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/encryption.ts
  packages/cli/tests/encryption.test.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/env.ts
  packages/create-spree-app/src/utils.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/templates.test.ts
  packages/create-spree-app/tests/utils.test.ts
  scripts/server-setup.sh
  scripts/worktree/setup.sh
Due: none

Address review feedback
  docs/developer/how-to/custom-order-routing.mdx
  docs/plans/6.0-order-routing.md
  spree/core/app/models/spree/cart.rb
  spree/core/spec/models/spree/cart_spec.rb
Due: core, Core

Address review feedback
  docs/developer/deployment/environment_variables.mdx
  packages/cli/src/commands/encryption.ts
  packages/cli/src/lib/encryption.ts
  packages/cli/tests/encryption.test.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/tests/scaffold.test.ts
Due: none

Fix: saving a product overwrote its base price with a price-list amount
  packages/dashboard-core/src/products/product-form-mapping.test.ts
  packages/dashboard-core/src/products/product-form-mapping.ts
  packages/dashboard-core/src/products/product-types.ts
Due: none

Fix flaky customer search spec
  spree/core/spec/models/spree/concerns/user_methods_spec.rb
Due: none
