Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Let a wrong label be removed after the parcel has shipped
  spree/api/app/controllers/spree/api/v3/admin/orders/labels_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/labels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/labels_controller_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API

Give back the postage when a return is abandoned
  packages/dashboard/src/components/spree/orders/shipping-label-row.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/core/app/models/spree/delivery.rb
  spree/core/app/services/spree/fulfillments/stand_down_provider.rb
  spree/core/app/workflows/spree/returns/cancel.rb
  spree/core/spec/models/spree/delivery_spec.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, Core

Give the store a packaging vocabulary and teach freight to quote later
  docs/plans/6.0-b2b-wholesale-shipping.md
  docs/plans/decisions.md
  spree/core/app/models/spree/delivery_method_rules/company_rule.rb
  spree/core/app/models/spree/delivery_method_rules/volume_rule.rb
  spree/core/app/models/spree/delivery_rate.rb
  spree/core/app/models/spree/delivery_rate_provider/estimate.rb
  spree/core/app/models/spree/delivery_rate_provider/freight.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/app/models/spree/stock/estimator.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/variant.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260831100001_create_spree_package_types.rb
  spree/core/db/migrate/20260831100002_add_carton_details_to_spree_variants.rb
  spree/core/db/migrate/20260831100003_add_unpriced_to_spree_delivery_rates.rb
  spree/core/db/sample_data/fulfillment.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/measurement.rb
  spree/core/lib/spree/testing_support/factories/package_type_factory.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/package_types.rake
  spree/core/spec/lib/spree/measurement_spec.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/delivery_rate_provider/freight_spec.rb
  spree/core/spec/models/spree/freight_summary_spec.rb
  spree/core/spec/models/spree/package_type_spec.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
  spree/core/spec/models/spree/stock/package_spec.rb
  spree/core/spec/models/spree/variant_carton_details_spec.rb
Due: core, Core

Document the packaging endpoints and stop reporting freight nobody measured
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/examples/package-types/create.ts
  packages/admin-sdk/examples/package-types/delete.ts
  packages/admin-sdk/examples/package-types/get.ts
  packages/admin-sdk/examples/package-types/list.ts
  packages/admin-sdk/examples/package-types/update.ts
  packages/admin-sdk/src/types/generated/PackageType.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  spree/api/app/serializers/spree/api/v3/admin/package_type_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_method_rules_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/package_types_spec.rb
  spree/api/spec/serializers/spree/api/v3/delivery_rate_serializer_spec.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/spec/models/spree/freight_summary_spec.rb
  spree/providers/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
Due: core, api, Core, API

Give volume one meaning, and let a package know its buyer from birth
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
  spree/core/app/models/concerns/spree/purchase/freight.rb
  spree/core/app/models/spree/delivery_method_rules/company_rule.rb
  spree/core/app/models/spree/delivery_rate.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_routing/strategy/rules.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/app/models/spree/stock/content_item.rb
  spree/core/app/models/spree/stock/coordinator.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/app/models/spree/stock/packer.rb
  spree/core/app/models/spree/stock/splitter/base.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/variant.rb
  spree/core/lib/tasks/package_types.rake
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/purchase/freight_spec.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
  spree/providers/easypost/lib/spree_easypost.rb
Due: core, Core

Remember the rollup correctly, and stop hiding a method nobody could diagnose
  docs/api-reference/admin.yaml
  docs/plans/6.0-b2b-wholesale-shipping.md
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
  spree/core/app/models/concerns/spree/purchase/freight.rb
  spree/core/app/models/spree/delivery_method_rules/volume_rule.rb
  spree/core/app/models/spree/delivery_rate.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/presenters/spree/csv/product_variant_presenter.rb
  spree/core/config/locales/en.yml
  spree/core/lib/tasks/package_types.rake
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/delivery_rate_spec.rb
  spree/core/spec/models/spree/freight_summary_spec.rb
  spree/core/spec/models/spree/package_type_spec.rb
  spree/core/spec/models/spree/purchase/freight_spec.rb
Due: core, api, Core, API

Convert every measurement before comparing or sending it
  docs/api-reference/admin.yaml
  docs/plans/6.0-b2b-wholesale-shipping.md
  packages/admin-sdk/src/params.ts
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
  spree/core/app/models/concerns/spree/purchase/freight.rb
  spree/core/app/models/spree/delivery_rate.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/app/models/spree/stock/coordinator.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/measurement.rb
  spree/core/spec/lib/spree/measurement_spec.rb
  spree/core/spec/models/spree/freight_summary_spec.rb
  spree/core/spec/models/spree/package_type_spec.rb
  spree/core/spec/models/spree/purchase/freight_spec.rb
  spree/core/spec/models/spree/stock/coordinator_spec.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
  spree/core/spec/models/spree/stock/package_spec.rb
  spree/providers/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
Due: core, Core

Record what shipped in the plan index
  CLAUDE.md
Due: none

Let freight speak every currency, and weigh a catalog by its own store
  spree/core/app/models/spree/stock/estimator.rb
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
  spree/core/spec/models/spree/variant_carton_details_spec.rb
Due: core, Core

Regenerate the API artifacts against main
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/cli/src/generated/admin-spec.json
Due: none

Set a package's owner in one place, not two
  spree/core/app/models/spree/stock/coordinator.rb
Due: core, Core

Give a collapsed carton its packaging weight back
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/spec/models/spree/freight_summary_spec.rb
Due: core, Core

Stop losing packaging weight, volume and the store's own box
  CLAUDE.md
  docs/plans/6.0-b2b-wholesale-shipping.md
  spree/api/app/serializers/spree/api/v3/delivery_rate_serializer.rb
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/freight_summary_spec.rb
  spree/core/spec/models/spree/package_type_spec.rb
Due: core, api, Core, API

Record why the freight summary stays an unstructured object in the specs
  docs/plans/6.0-b2b-wholesale-shipping.md
Due: none

Regenerate the API artifacts against main
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Order.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
Due: none

Say quoted-after-review on the fulfillment line too, not just the rate
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Fulfillment.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Fulfillment.ts
  packages/sdk/src/zod/generated/Fulfillment.ts
  spree/api/app/serializers/spree/api/v3/fulfillment_serializer.rb
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
  spree/core/app/models/spree/fulfillment.rb
Due: core, api, Core, API

Fix refunds on split-checkout orders
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-seller-order-management.md
  spree/core/app/models/concerns/spree/refunds_order_payments.rb
  spree/core/app/models/spree/payment_split.rb
  spree/core/app/workflows/spree/claims/resolve.rb
  spree/core/app/workflows/spree/exchanges/fulfill.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/spec/workflows/spree/grouped_order_refunds_spec.rb
Due: core, Core

Give sellers the post-sale surface on their own orders
  spree/api/app/controllers/spree/api/v3/seller/claim_reasons_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/claims_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/exchanges_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/returns_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/return_reasons_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/tracking_carriers_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/claim_line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/claim_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/exchange_line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/exchange_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/reason_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/return_line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/return_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/claims_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/exchanges_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/fulfillments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/returns_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/return_reasons_controller_spec.rb
Due: api, API

Add the post-sale resources to the seller SDK
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/Claim.ts
  packages/seller-sdk/src/types/generated/ClaimLineItem.ts
  packages/seller-sdk/src/types/generated/Exchange.ts
  packages/seller-sdk/src/types/generated/ExchangeLineItem.ts
  packages/seller-sdk/src/types/generated/Reason.ts
  packages/seller-sdk/src/types/generated/Return.ts
  packages/seller-sdk/src/types/generated/ReturnLineItem.ts
  packages/seller-sdk/src/types/generated/index.ts
Due: none

Rebuild the seller order page around the dashboard's
  packages/seller-dashboard/src/components/orders/fulfillment-fulfill-form.tsx
  packages/seller-dashboard/src/components/orders/fulfillment-split-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillment-tracking-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillments-card.tsx
  packages/seller-dashboard/src/components/orders/order-cards.tsx
  packages/seller-dashboard/src/components/orders/post-sale-cards.tsx
  packages/seller-dashboard/src/components/orders/post-sale-create-dialogs.tsx
  packages/seller-dashboard/src/components/orders/returns-card.tsx
  packages/seller-dashboard/src/hooks/use-fulfillments.ts
  packages/seller-dashboard/src/hooks/use-order.ts
  packages/seller-dashboard/src/hooks/use-post-sale.ts
  packages/seller-dashboard/src/hooks/use-reasons.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/order.tsx
  packages/seller-sdk/src/types/generated/FulfillmentItem.ts
  spree/api/app/serializers/spree/api/v3/seller/fulfillment_item_serializer.rb
Due: api, API

Document the seller post-sale endpoints
  docs/api-reference/seller.yaml
  spree/api/app/controllers/spree/api/v3/seller/orders/exchanges_controller.rb
  spree/api/spec/integration/spree/api/v3/seller/claims_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/exchanges_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/fulfillments_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/returns_spec.rb
Due: api, API

Fix the seller order page's post-sale cards
  docs/api-reference/seller.yaml
  packages/seller-dashboard/src/components/orders/fulfillment-fulfill-form.tsx
  packages/seller-dashboard/src/components/orders/post-sale-cards.tsx
  packages/seller-dashboard/src/components/orders/returns-card.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/order.tsx
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/ClaimLineItem.ts
  packages/seller-sdk/src/types/generated/ExchangeLineItem.ts
  packages/seller-sdk/src/types/generated/ReturnLineItem.ts
  spree/api/app/controllers/spree/api/v3/seller/orders/fulfillments_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/claim_line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/exchange_line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/return_line_item_serializer.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/returns_controller_spec.rb
Due: api, API

Leave delivery confirmation to the operator
  docs/api-reference/seller.yaml
  packages/seller-dashboard/src/components/orders/fulfillments-card.tsx
  packages/seller-dashboard/src/hooks/use-fulfillments.ts
  packages/seller-dashboard/src/locales/en.json
  spree/api/app/controllers/spree/api/v3/seller/orders/fulfillments_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/fulfillments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/fulfillments_spec.rb
Due: api, API

Drive the seller fulfillment forms with react-hook-form
  packages/seller-dashboard/src/components/orders/fulfillment-fulfill-form.tsx
  packages/seller-dashboard/src/components/orders/fulfillment-tracking-dialog.tsx
  packages/seller-dashboard/src/schemas/fulfillment.ts
Due: none

Tidy the seller order work
  packages/seller-dashboard/src/components/orders/fulfillment-fulfill-form.tsx
  packages/seller-dashboard/src/components/orders/fulfillment-split-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillments-card.tsx
  packages/seller-dashboard/src/components/orders/line-label.ts
  packages/seller-dashboard/src/components/orders/post-sale-cards.tsx
  packages/seller-dashboard/src/components/orders/post-sale-create-dialogs.tsx
  packages/seller-dashboard/src/components/orders/returns-card.tsx
  packages/seller-dashboard/src/hooks/use-order.ts
  packages/seller-dashboard/src/pages/order.tsx
  spree/api/app/controllers/spree/api/v3/seller/claim_reasons_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/reasons_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/return_reasons_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/claim_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/reason_serializer.rb
  spree/core/app/models/concerns/spree/refunds_order_payments.rb
  spree/core/app/models/spree/payment_split.rb
  spree/core/app/workflows/spree/claims/resolve.rb
  spree/core/app/workflows/spree/exchanges/fulfill.rb
  spree/core/app/workflows/spree/refunds/create.rb
  spree/core/app/workflows/spree/refunds/order_payments.rb
  spree/core/app/workflows/spree/returns/refund.rb
Due: core, api, Core, API

Fix the expand parameter, and other review findings
  packages/seller-dashboard/src/components/orders/fulfillment-split-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillments-card.tsx
  packages/seller-dashboard/src/components/orders/post-sale-cards.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/tests/mocks/server.ts
  packages/seller-sdk/tests/post-sale-expand.test.ts
  packages/seller-sdk/tests/setup.ts
  spree/api/app/controllers/spree/api/v3/seller/orders/claims_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/exchanges_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/returns_controller.rb
  spree/core/app/workflows/spree/refunds/order_payments.rb
Due: core, api, Core, API

Drop resuming a parcel from the seller panel
  packages/seller-dashboard/src/components/orders/fulfillments-card.tsx
  packages/seller-dashboard/src/hooks/use-fulfillments.ts
  packages/seller-dashboard/src/locales/en.json
  spree/api/app/controllers/spree/api/v3/seller/orders/fulfillments_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/fulfillments_controller_spec.rb
Due: api, API

Let a seller name why they cancelled
  docs/api-reference/seller.yaml
  packages/seller-dashboard/src/components/orders/order-cancel-dialog.tsx
  packages/seller-dashboard/src/hooks/use-order.ts
  packages/seller-dashboard/src/hooks/use-reasons.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/order.tsx
  packages/seller-sdk/src/seller-client.ts
  spree/api/app/controllers/spree/api/v3/seller/order_cancellation_reasons_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/order_cancellation_reasons_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/orders_spec.rb
Due: api, API

Regenerate the API artifacts against main
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Fulfillment.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Fulfillment.ts
Due: none

Carry the seller order work onto the consignment model
  packages/seller-dashboard/src/components/orders/fulfillment-tracking-dialog.tsx
  packages/seller-sdk/src/seller-client.ts
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/fulfillments_controller_spec.rb
Due: api

Count each consignment once, and stop an understated load hiding its own tier
  docs/plans/6.0-b2b-wholesale-shipping.md
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
  spree/core/app/models/spree/delivery_method_rules/volume_rule.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/stock/estimator.rb
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
Due: core, api, Core, API

Bring the seller parcel screens up to the dashboard's
  docs/api-reference/seller.yaml
  packages/seller-dashboard/src/components/orders/fulfillment-deliveries.tsx
  packages/seller-dashboard/src/components/orders/fulfillment-delivery-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillment-label-upload-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillment-tracking-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillments-card.tsx
  packages/seller-dashboard/src/components/orders/shipping-label-row.tsx
  packages/seller-dashboard/src/hooks/use-fulfillments.ts
  packages/seller-dashboard/src/hooks/use-stock-locations.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/schemas/fulfillment.ts
  spree/api/app/controllers/spree/api/v3/seller/orders/fulfillments_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/fulfillments_controller_spec.rb
Due: api, API

Let a seller move a parcel to another of their shelves
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
  packages/seller-dashboard/src/components/orders/fulfillment-origin-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillments-card.tsx
  packages/seller-dashboard/src/hooks/use-fulfillments.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/Fulfillment.ts
  spree/api/app/serializers/spree/api/v3/seller/fulfillment_serializer.rb
Due: api, API

Keep a carton a carton while products are packed into it
  spree/core/app/models/spree/package_type.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/package_type_spec.rb
Due: core, Core

Bring the seller order view to parity with the dashboard
  docs/api-reference/seller.yaml
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/fulfillment-edit-dialog.tsx
  packages/dashboard/src/components/spree/orders/fulfillment-edit-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillment-edit-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillment-origin-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillments-card.tsx
  packages/seller-dashboard/src/components/orders/order-cards.tsx
  packages/seller-dashboard/src/hooks/use-fulfillments.ts
  packages/seller-dashboard/src/lib/packing-slip.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/order.tsx
  packages/seller-sdk/src/index.ts
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/DeliveryRate.ts
  packages/seller-sdk/src/types/generated/Fulfillment.ts
  packages/seller-sdk/src/types/generated/Order.ts
  packages/seller-sdk/src/types/generated/index.ts
  spree/api/app/controllers/spree/api/v3/seller/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/delivery_rate_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/fulfillment_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/order_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/fulfillments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/orders_spec.rb
Due: api, API

Share the order sub-resource controllers between admin and seller
  packages/dashboard-core/src/lib/fulfillment-items.test.ts
  packages/dashboard-core/src/lib/fulfillment-items.ts
  spree/api/app/controllers/concerns/spree/api/v3/orders/claim_actions.rb
  spree/api/app/controllers/concerns/spree/api/v3/orders/delivery_actions.rb
  spree/api/app/controllers/concerns/spree/api/v3/orders/exchange_actions.rb
  spree/api/app/controllers/concerns/spree/api/v3/orders/fulfillment_actions.rb
  spree/api/app/controllers/concerns/spree/api/v3/orders/post_sale_actions.rb
  spree/api/app/controllers/concerns/spree/api/v3/orders/return_actions.rb
  spree/api/app/controllers/concerns/spree/api/v3/orders/shipping_label_actions.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/claims_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/deliveries_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/exchanges_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/labels_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/returns_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/base_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/claims_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/deliveries_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/exchanges_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/labels_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/returns_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/returns_controller_spec.rb
Due: api, API

Share the order fulfillment components between both panels
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/delivery-form.ts
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/delivery-form-dialog.tsx
  packages/dashboard-ui/src/spree/fulfill-items-form.tsx
  packages/dashboard-ui/src/spree/fulfillment-item-list.tsx
  packages/dashboard-ui/src/spree/fulfillment-panel.tsx
  packages/dashboard/src/components/spree/orders/fulfillment-delivery-dialog.tsx
  packages/dashboard/src/components/spree/orders/fulfillment-fulfill-form.tsx
  packages/dashboard/src/components/spree/orders/fulfillment-item-list.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/components/spree/orders/order-header.tsx
  packages/dashboard/src/lib/packing-slip.ts
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/edit.tsx
  packages/dashboard/src/schemas/order.ts
  packages/seller-dashboard/src/components/orders/fulfillment-deliveries.tsx
  packages/seller-dashboard/src/components/orders/fulfillment-delivery-dialog.tsx
  packages/seller-dashboard/src/components/orders/fulfillment-fulfill-form.tsx
  packages/seller-dashboard/src/components/orders/fulfillments-card.tsx
  packages/seller-dashboard/src/components/orders/order-cards.tsx
  packages/seller-dashboard/src/components/orders/post-sale-cards.tsx
  packages/seller-dashboard/src/components/orders/returns-card.tsx
  packages/seller-dashboard/src/components/orders/shipping-label-row.tsx
  packages/seller-dashboard/src/locales/en.json
Due: none

Share the post-sale dialogs between both panels
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/claim-resolve-dialog.tsx
  packages/dashboard-ui/src/spree/post-sale-fields.tsx
  packages/dashboard-ui/src/spree/return-dialogs.tsx
  packages/dashboard/src/components/spree/order-returns-card.tsx
  packages/dashboard/src/components/spree/post-sale-create-dialogs.tsx
  packages/seller-dashboard/src/components/orders/post-sale-cards.tsx
  packages/seller-dashboard/src/components/orders/post-sale-create-dialogs.tsx
  packages/seller-dashboard/src/components/orders/returns-card.tsx
  packages/seller-dashboard/src/hooks/use-post-sale.ts
  packages/seller-dashboard/src/locales/en.json
Due: none

Share the post-sale create dialogs and give sellers order notes
  docs/api-reference/seller.yaml
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/editable-note-card.tsx
  packages/dashboard-ui/src/spree/post-sale-create-dialogs.tsx
  packages/dashboard/src/components/spree/orders/order-notes-cards.tsx
  packages/dashboard/src/components/spree/post-sale-create-dialogs.tsx
  packages/seller-dashboard/src/components/orders/order-cards.tsx
  packages/seller-dashboard/src/components/orders/order-notes-cards.tsx
  packages/seller-dashboard/src/components/orders/post-sale-create-dialogs.tsx
  packages/seller-dashboard/src/hooks/use-order.ts
  packages/seller-dashboard/src/hooks/use-post-sale.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/order.tsx
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/Order.ts
  spree/api/app/controllers/spree/api/v3/seller/orders/notes_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/order_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/notes_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/orders_spec.rb
Due: api, API

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
