Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Migrate first-party code off the user->customer deprecation aliases
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/address_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/credit_card_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/gift_card_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/store_credit_serializer.rb
  spree/api/app/serializers/spree/api/v3/newsletter_subscriber_serializer.rb
  spree/core/app/models/spree/address.rb
  spree/core/app/models/spree/gateway/custom_payment_source_method.rb
  spree/core/app/models/spree/gateway_customer.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order/address_book.rb
  spree/core/app/models/spree/order/checkout.rb
  spree/core/app/models/spree/order/store_credit.rb
  spree/core/app/models/spree/order_merger.rb
  spree/core/app/models/spree/payment_session.rb
  spree/core/app/models/spree/permission_sets/default_customer.rb
  spree/core/app/models/spree/promotion/rules/first_order.rb
  spree/core/app/models/spree/reimbursement_type/reimbursement_helpers.rb
  spree/core/app/models/spree/store_credit.rb
  spree/core/app/presenters/spree/csv/gift_card_presenter.rb
  spree/core/app/presenters/spree/csv/newsletter_subscriber_presenter.rb
  spree/core/app/services/spree/addresses/create.rb
  spree/core/app/services/spree/addresses/update.rb
  spree/core/app/services/spree/cart/associate.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/services/spree/checkout/add_store_credit.rb
  spree/core/app/services/spree/gift_cards/apply.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
  spree/core/app/services/spree/newsletter/verify.rb
  spree/core/app/services/spree/orders/create.rb
  spree/core/app/services/spree/payments/create.rb
  spree/core/config/locales/en.yml
Due: core, api, Core, API

Consolidate cart schema and standardize totals naming
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/cart_updater.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order/digital.rb
  spree/core/app/models/spree/order_updater.rb
  spree/core/app/models/spree/payment/gateway_options.rb
  spree/core/app/models/spree/report_line_items/sales_total.rb
  spree/core/app/models/spree/return_authorization.rb
  spree/core/app/presenters/spree/csv/order_line_item_presenter.rb
  spree/core/app/services/spree/carts/remove_out_of_stock_items.rb
  spree/core/db/migrate/20260728000003_create_spree_carts.rb
  spree/core/db/migrate/20260729100001_add_checkout_columns_to_spree_carts.rb
  spree/core/db/migrate/20260729100003_add_gift_card_to_spree_carts.rb
  spree/core/db/migrate/20260729120001_rename_order_totals_to_standard_names.rb
  spree/core/spec/models/spree/payment/gateway_options_spec.rb
Due: core, Core

Point dev server at spree-starter 6-0-dev
  package.json
  scripts/server-setup.sh
Due: none

Wire pickup stock locations and CSV product type
  packages/admin-sdk/src/types/generated/DeliveryMethod.ts
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  packages/dashboard/src/schemas/delivery-method.ts
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/store/delivery_methods_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/delivery_method_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/delivery_methods_controller_spec.rb
  spree/core/app/models/spree/delivery_method_stock_location.rb
  spree/core/app/models/spree/import_schemas/products.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
Due: core, api, Core, API

Persist coupon codes on carts and orders
  packages/admin-sdk/src/types/generated/Order.ts
  packages/sdk/src/types/generated/Cart.ts
  packages/sdk/src/types/generated/Order.ts
  packages/sdk/src/zod/generated/Cart.ts
  packages/sdk/src/zod/generated/Order.ts
  spree/api/app/controllers/spree/api/v3/store/carts/discount_codes_controller.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/core/app/models/spree/adjusters/promotion.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion_handler/coupon.rb
  spree/core/app/services/spree/carts/complete.rb
  spree/core/db/migrate/20260729140001_add_coupon_code_to_spree_orders.rb
  spree/core/spec/models/spree/adjusters/coupon_code_retry_spec.rb
  spree/core/spec/models/spree/promotion_handler/coupon_spec.rb
Due: core, api, Core, API

Update 6.0 plans and regenerate API artifacts
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-cart-order-split.md
  docs/plans/6.0-core-rewrite-tasks.md
  docs/plans/6.0-delivery-rate-provider.md
  docs/plans/decisions.md
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-starter/src/routeTree.gen.ts
Due: none

Add 5.6 to 6.0 data migration tasks and upgrade manifest
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/carts_migration.rake
  spree/core/lib/tasks/delivery_migration.rake
  spree/core/lib/tasks/order_market_backfill.rake
  spree/core/lib/tasks/products.rake
  spree/core/lib/tasks/typed_adjustments_migration.rake
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
Due: core, Core

Add delivery method rules (Phase 1)
  docs/plans/6.0-delivery-method-rules.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/DeliveryMethodRule.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  packages/dashboard/src/hooks/use-delivery-methods.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-methods.tsx
  spree/api/app/controllers/spree/api/v3/admin/delivery_method_rules_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods/rules_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/delivery_method_rule_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_method_rules_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods/rules_controller_spec.rb
  spree/core/app/models/spree/calculator/shipping/flat_rate.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/delivery_method_rule.rb
  spree/core/app/models/spree/delivery_method_rules/item_total_rule.rb
  spree/core/app/models/spree/delivery_method_rules/weight_rule.rb
  spree/core/app/models/spree/permission_sets/configuration_management.rb
  spree/core/app/models/spree/stock/estimator.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260729130001_create_spree_delivery_method_rules.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/tasks/delivery_method_rules_migration.rake
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
Due: core, api, Core, API

Report ineligible coupons as retryable in the coupon handler
  spree/api/spec/controllers/spree/api/v3/store/carts/discount_codes_controller_spec.rb
  spree/core/app/models/spree/promotion_handler/coupon.rb
Due: core, Core

Let admins apply discount codes to draft orders
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  spree/api/app/controllers/spree/api/v3/admin/orders/discount_codes_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/discount_codes_controller_spec.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/config/locales/en.yml
Due: core, api, Core, API

Record admin discount application decision
  docs/plans/decisions.md
Due: none

Seed product types and switch sample products to them
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/product_types.rb
  spree/core/config/locales/en.yml
  spree/core/db/sample_data/products.csv
  spree/core/spec/services/spree/sample_data/loader_spec.rb
  spree/core/spec/services/spree/seeds/product_types_spec.rb
Due: core, Core

Drop spree_admin Tailwind steps from the edge web command
  scripts/docker-compose.edge.yml
Due: none

Rename create_proposed_shipments to create_proposed_fulfillments
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_inventory.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/services/spree/checkout/get_shipping_rates.rb
  spree/core/app/services/spree/orders/build_shipments.rb
  spree/core/db/sample_data/orders.rb
  spree/core/spec/models/spree/calculator/shipping/digital_delivery_spec.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/order/adjustments_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

Stop seeding shipping categories
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/shipping_categories.rb
  spree/core/config/locales/en.yml
Due: core, Core

Remove dead Checkout::Update and Checkout::GetShippingRates
  spree/core/app/services/spree/checkout/get_shipping_rates.rb
  spree/core/app/services/spree/checkout/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/checkout/get_shipping_rates_spec.rb
  spree/core/spec/services/spree/checkout/select_shipping_method_spec.rb
  spree/core/spec/services/spree/checkout/update_spec.rb
Due: core, Core

Preview the computed amount for percent manual discounts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
Due: none

Derive statuses for sample orders
  spree/core/db/sample_data/orders.rb
  spree/core/spec/services/spree/sample_data/loader_spec.rb
Due: core

Drop the forced cart_ id prefix from the cart serializer
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
Due: api, API

Exclude completed carts from store cart resolution
  spree/api/app/controllers/concerns/spree/api/v3/cart_resolvable.rb
  spree/api/app/controllers/spree/api/v3/store/carts/payment_sessions_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/payment_sessions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
Due: api, API

Make completed carts readonly at the model level
  spree/api/app/controllers/concerns/spree/api/v3/order_lock.rb
  spree/core/app/models/spree/cart.rb
  spree/core/spec/models/spree/cart_spec.rb
Due: core, api, Core, API

Resolve store orders by their cart handle
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/orders_controller_spec.rb
Due: api, API

Add user→customer data migration path (platform-auth Phase 2)
  docs/plans/6.0-platform-auth.md
  docs/plans/decisions.md
  spree/core/db/migrate/20260728000000_create_spree_admin_users.rb
  spree/core/db/migrate/20260728000000_create_spree_customers_and_admin_users.rb
  spree/core/db/migrate/20260728000001_create_spree_customers.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/migrate_users_to_customers.rake
  spree/core/spec/lib/tasks/migrate_users_to_customers_spec.rb
  spree/core/spec/models/spree/legacy_encrypted_password_recipe_spec.rb
  spree/core/spec/services/spree/orders/create_spec.rb
Due: core, Core

Publish cart lifecycle events
  docs/plans/6.0-cart-order-split.md
  spree/core/app/models/spree/cart.rb
  spree/core/spec/models/spree/cart_spec.rb
Due: core, Core

Rename order.completed to order.placed
  docs/plans/6.0-cart-order-split.md
  docs/plans/decisions.md
  packages/dashboard/src/schemas/webhook-endpoint.ts
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/subscribers/spree/webhook_event_subscriber.rb
  spree/core/README.md
  spree/core/app/jobs/spree/events/subscriber_job.rb
  spree/core/app/models/concerns/spree/publishable.rb
  spree/core/app/models/spree/event.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/subscriber.rb
  spree/core/app/subscribers/spree/event_log_subscriber.rb
  spree/core/app/subscribers/spree/product_metrics_subscriber.rb
  spree/core/spec/lib/spree/events_spec.rb
  spree/core/spec/models/spree/event_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/subscriber_spec.rb
  spree/core/spec/models/spree/webhook_delivery_spec.rb
  spree/core/spec/models/spree/webhook_endpoint_spec.rb
  spree/emails/app/subscribers/spree/order_email_subscriber.rb
  spree/emails/spec/models/spree/order_spec.rb
Due: core, api, emails, Core, API, Emails

Expose cart_id on order payloads
  packages/admin-sdk/src/types/generated/Order.ts
  packages/sdk/src/types/generated/Order.ts
  packages/sdk/src/zod/generated/Order.ts
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/core/app/models/concerns/spree/prefixed_id.rb
  spree/core/spec/models/spree/concerns/prefixed_id_spec.rb
Due: core, api, Core, API

Expand the originating cart on admin orders
  packages/admin-sdk/src/types/generated/Cart.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/admin-sdk/src/types/generated/index.ts
  spree/api/app/serializers/spree/api/v3/admin/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
Due: api, API

Require Rails 8.1 across the CI matrix
  .github/workflows/tests.yml
  CLAUDE.md
  docs/plans/decisions.md
Due: none

fixup! Rename order.completed to order.placed
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/examples/webhook-endpoints/create.ts
  packages/admin-sdk/examples/webhook-endpoints/update.ts
  packages/admin-sdk/tests/webhook-endpoints.test.ts
  packages/dashboard/e2e/webhooks.spec.ts
  packages/sdk/tests/webhooks.test.ts
  spree/api/spec/integration/spree/api/v3/admin/webhook_endpoints_spec.rb
  spree/api/spec/subscribers/spree/webhook_event_subscriber_spec.rb
  spree/core/spec/lib/generators/spree/subscriber/subscriber_generator_spec.rb
  spree/core/spec/lib/spree/events/registry_spec.rb
  spree/core/spec/subscribers/spree/event_log_subscriber_spec.rb
  spree/core/spec/subscribers/spree/product_metrics_subscriber_spec.rb
Due: none

Close authorization gaps in delivery method configuration
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/store/delivery_methods_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/delivery_methods_controller_spec.rb
  spree/core/app/models/spree/permission_sets/configuration_management.rb
Due: core, api, Core, API

Dual-emit order.completed alongside order.placed for one release
  docs/plans/6.0-cart-order-split.md
  docs/plans/decisions.md
  spree/core/app/models/spree/order.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/emails/spec/models/spree/order_spec.rb
Due: core, Core

Bind delivery zones to their store
  CLAUDE.md
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_zones_controller.rb
  spree/core/app/models/spree/delivery_zone.rb
  spree/core/app/models/spree/store.rb
  spree/core/db/migrate/20260728000002_create_spree_delivery_zones.rb
  spree/core/db/sample_data/shipping_methods.rb
  spree/core/lib/spree/testing_support/factories/delivery_zone_factory.rb
Due: core, api, Core, API

Bind delivery methods and stock locations to their store
  CLAUDE.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods/rules_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_zones_controller.rb
  spree/api/app/controllers/spree/api/v3/store/delivery_methods_controller.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/order_routing/strategy/rules.rb
  spree/core/app/models/spree/stock/coordinator.rb
  spree/core/app/models/spree/stock/estimator.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/orders/create.rb
  spree/core/app/services/spree/seeds/digital_delivery.rb
  spree/core/app/services/spree/seeds/stock_locations.rb
  spree/core/db/migrate/20260729150001_add_store_to_delivery_methods_and_stock_locations.rb
  spree/core/db/sample_data/shipping_methods.rb
  spree/core/lib/spree/testing_support/factories/delivery_method_factory.rb
  spree/core/lib/spree/testing_support/factories/stock_location_factory.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/store_binding_migration.rake
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/core/spec/services/spree/checkout/select_shipping_method_spec.rb
Due: core, api, Core, API

Gate delivery zone members behind expand and finish serializer naming
  packages/admin-sdk/src/types/generated/DeliveryRate.ts
  packages/admin-sdk/src/types/generated/DeliveryZone.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-zones.tsx
  packages/dashboard/src/tables/delivery-zones.tsx
  packages/sdk/src/types/generated/DeliveryRate.ts
  packages/sdk/src/types/generated/DeliveryZone.ts
  packages/sdk/src/zod/generated/DeliveryZone.ts
  spree/api/app/serializers/spree/api/v3/admin/delivery_rate_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/delivery_zone_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/fulfillment_serializer.rb
  spree/api/app/serializers/spree/api/v3/delivery_rate_serializer.rb
  spree/api/app/serializers/spree/api/v3/delivery_zone_serializer.rb
  spree/api/app/serializers/spree/api/v3/fulfillment_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_zones_controller_spec.rb
Due: api, API

Rename the admin embedded discounts key to applied_promotions
  packages/admin-sdk/src/types/generated/Cart.ts
  packages/admin-sdk/src/types/generated/Order.ts
  spree/api/app/serializers/spree/api/v3/admin/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
Due: api, API

Enforce account lockout in the auth strategy (platform-auth Phase 4)
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/core/app/models/concerns/spree/account_lockout.rb
  spree/core/app/models/spree/admin_user.rb
  spree/core/app/models/spree/authentication/strategies/email_password_strategy.rb
  spree/core/app/models/spree/customer.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/spec/models/spree/admin_user_spec.rb
  spree/core/spec/models/spree/authentication/strategies/email_password_strategy_spec.rb
  spree/core/spec/models/spree/customer_spec.rb
  spree/core/spec/support/shared_examples/account_lockout.rb
Due: core, api, Core, API

Remove Devise and the legacy auth models (platform-auth Phase 5)
  spree/api/app/controllers/spree/api/v3/admin/customers_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/core/app/models/concerns/spree/admin_user_methods.rb
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/app/models/spree/legacy_admin_user.rb
  spree/core/app/models/spree/legacy_user.rb
  spree/core/lib/generators/spree/authentication/custom/custom_generator.rb
  spree/core/lib/generators/spree/authentication/custom/templates/authentication_helpers.rb.tt
  spree/core/lib/generators/spree/authentication/devise/devise_generator.rb
  spree/core/lib/generators/spree/authentication/devise/templates/authentication_helpers.rb.tt
  spree/core/lib/spree/testing_support/common_rake.rb
  spree/core/spec/models/spree/base_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/promotion/rules/one_use_per_user_spec.rb
  spree/core/spec/models/spree/user_spec.rb
  spree/lib/generators/spree/install/install_generator.rb
Due: core, api, Core, API

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
