Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Released the dashboard packages at 1.0.0-beta.5
  .changeset/pin-base-ui.md
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/seller-dashboard/CHANGELOG.md
  packages/seller-dashboard/package.json
Due: none

Fix: pin Base UI so a scaffolded dashboard boots (#14742)
  package.json
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/seller-dashboard/CHANGELOG.md
  packages/seller-dashboard/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Added a delivery cost override to the Admin fulfillment update endpoint
  packages/admin-sdk/src/types/generated/Fulfillment.ts
  spree/api/app/controllers/concerns/spree/api/v3/orders/fulfillment_actions.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/fulfillment_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/fulfillments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/fulfillments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/fulfillments_spec.rb
Due: api, API

Fix: let staff override a fulfillment's delivery cost
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/workflows/spree/fulfillments/cost_parsing.rb
  spree/core/app/workflows/spree/fulfillments/create.rb
  spree/core/app/workflows/spree/fulfillments/update.rb
  spree/core/db/migrate/20260924000001_add_cost_source_to_spree_fulfillments.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/workflows/spree/fulfillments/create_spec.rb
  spree/core/spec/workflows/spree/fulfillments/update_spec.rb
Due: core, Core

Pinned dashboard-ui dependencies to exact versions
  .changeset/pin-dashboard-ui-deps.md
  packages/dashboard-ui/package.json
  packages/dashboard/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix: hold Base UI at 1.5.0 so a scaffolded dashboard starts
  .changeset/hold-base-ui-1-5.md
  package.json
  packages/dashboard-ui/package.json
  packages/dashboard/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Included the seller panel in the release
  .changeset/hold-base-ui-1-5.md
  .changeset/pin-dashboard-ui-deps.md
Due: none

Released the dashboard packages at 1.0.0-beta.6
  .changeset/hold-base-ui-1-5.md
  .changeset/pin-dashboard-ui-deps.md
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/seller-dashboard/CHANGELOG.md
  packages/seller-dashboard/package.json
Due: none

Fix: hold Base UI at 1.5.0 and pin dashboard-ui dependencies (#14744)
  package.json
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/seller-dashboard/CHANGELOG.md
  packages/seller-dashboard/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix: dashboard failing to start in newly created projects
  .changeset/dashboard-starts-when-installed.md
  package.json
  packages/dashboard-ui/package.json
  packages/dashboard/package.json
  packages/dashboard/src/components/spree/store-setup-fields.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Released the dashboard packages at 1.0.0-beta.7
  .changeset/dashboard-starts-when-installed.md
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/seller-dashboard/CHANGELOG.md
  packages/seller-dashboard/package.json
Due: none

Fix: dashboard failing to start in newly created projects (#14745)
  package.json
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/dashboard/src/components/spree/store-setup-fields.tsx
  packages/seller-dashboard/CHANGELOG.md
  packages/seller-dashboard/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix: setup screen claiming setup is unavailable when rate limited
  .changeset/setup-screen-rate-limit.md
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/login.tsx
  packages/dashboard/src/routes/setup.tsx
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
Due: api, API

Included the seller panel in the release
  .changeset/setup-screen-rate-limit.md
Due: none

Released Spree 6.0.0.beta4 and the dashboard packages at 1.0.0-beta.8
  .changeset/setup-screen-rate-limit.md
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/seller-dashboard/CHANGELOG.md
  packages/seller-dashboard/package.json
  spree/core/lib/spree/core/version.rb
Due: core, Core

Fix: setup screen claiming setup is unavailable when rate limited; release 6.0.0.beta4 (#14746)
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/login.tsx
  packages/dashboard/src/routes/setup.tsx
  packages/seller-dashboard/CHANGELOG.md
  packages/seller-dashboard/package.json
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/core/lib/spree/core/version.rb
Due: core, api, Core, API

Added end-to-end test for first-run store setup; fixed setup screen reloading in new projects
  .changeset/stable-route-tree-paths.md
  .github/workflows/packages.yml
  packages/cli/src/commands/add.ts
  packages/cli/tests/add-dashboard.test.ts
  packages/dashboard-core/src/vite/discover.ts
  packages/dashboard-core/tests/discover.test.ts
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/.gitignore
  packages/dashboard/e2e/first-run/global-setup.ts
  packages/dashboard/e2e/first-run/global-teardown.ts
  packages/dashboard/e2e/first-run/setup.spec.ts
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/e2e/global-teardown.ts
  packages/dashboard/e2e/paths.ts
  packages/dashboard/e2e/rails.ts
  packages/dashboard/package.json
  packages/dashboard/playwright.config.ts
  packages/dashboard/playwright.first-run.config.ts
  packages/dashboard/src/vite/index.ts
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/src/vite/index.ts
Due: none

Fix: newly created projects fail typecheck and lint
  .changeset/cli-starter-typecheck-lint.md
  .changeset/dashboard-router-error-types.md
  packages/dashboard-ui/src/spree/route-error-boundary.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/$.tsx
  packages/seller-dashboard-starter/tsconfig.json
  scripts/sync-starter.mjs
Due: none

Fix: Run installation-wide sweep jobs in the store that owns each record
  spree/core/app/jobs/spree/base_job.rb
  spree/core/app/jobs/spree/carts/reap_expired_job.rb
  spree/core/app/jobs/spree/collections/regenerate_time_based_job.rb
  spree/core/app/jobs/spree/orders/finalize_stale_drafts_job.rb
  spree/core/app/jobs/spree/seller_payouts/sweep_seller_job.rb
  spree/core/app/models/spree/current.rb
  spree/core/spec/jobs/spree/carts/reap_expired_job_spec.rb
  spree/core/spec/jobs/spree/collections/regenerate_time_based_job_spec.rb
  spree/core/spec/jobs/spree/orders/finalize_stale_drafts_job_spec.rb
  spree/core/spec/jobs/spree/seller_payouts/sweep_seller_job_spec.rb
  spree/core/spec/models/spree/current_spec.rb
Due: core, Core

Fixed E2E servers being mistaken for one another
  packages/dashboard/e2e/first-run/global-teardown.ts
  packages/dashboard/e2e/global-teardown.ts
  packages/dashboard/e2e/rails.ts
Due: none

Documented overriding a fulfillment's delivery cost
  docs/developer/core-concepts/fulfillments.mdx
  docs/plans/6.0-b2b-wholesale-shipping.md
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/decisions.md
  docs/user/orders/editing-orders.mdx
Due: none

Added a delivery cost field to the fulfillment edit dialog
  .changeset/admin-sdk-fulfillment-cost.md
  .changeset/dashboard-fulfillment-cost.md
  packages/admin-sdk/examples/order-fulfillments/update.ts
  packages/admin-sdk/src/params.ts
  packages/dashboard-ui/src/spree/fulfillment-edit-dialog.tsx
  packages/dashboard/src/components/spree/orders/fulfillment-edit-dialog.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/hooks/use-fulfillments.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Added the delivery rebuild decision to the decisions log
  docs/plans/6.0-delivery-rate-provider.md
  docs/plans/decisions.md
Due: none

Fix: item changes dropped delivery to zero and reset the chosen rate
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/orders/build_fulfillments.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/spec/models/spree/cart_spec.rb
  spree/core/spec/models/spree/order/shipments_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
Due: core, Core

Fix: a phone or name edit reset the chosen delivery rate
  docs/plans/decisions.md
  spree/core/app/models/spree/address.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
Due: core, Core

Fix: changing the quantity of an exchanged line deletes its original fulfillment
  spree/core/app/models/spree/fulfillment_changer.rb
  spree/core/app/models/spree/order_inventory.rb
  spree/core/app/workflows/spree/claims/resolve.rb
  spree/core/app/workflows/spree/exchanges/fulfill.rb
  spree/core/app/workflows/spree/fulfillments/create.rb
  spree/core/app/workflows/spree/fulfillments/replacements.rb
  spree/core/db/migrate/20260925000001_add_replacement_to_spree_fulfillment_items.rb
  spree/core/spec/models/spree/order_inventory_spec.rb
  spree/core/spec/workflows/spree/claims/lifecycle_spec.rb
  spree/core/spec/workflows/spree/exchanges/lifecycle_spec.rb
Due: core, Core

Added replacement unit behaviour to the returns docs and plans
  docs/developer/core-concepts/returns-exchanges-claims.mdx
  docs/plans/6.0-returns-exchanges-claims.md
  docs/plans/decisions.md
Due: none

Fix: an address change sent with items kept the old delivery choice
  spree/core/app/services/spree/carts/update.rb
  spree/core/spec/services/spree/carts/update_spec.rb
Due: core, Core

Added a spec for a refused order edit through the Admin API
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
Due: none

Fix: a refused order edit no longer saves part of the changes
  spree/core/app/services/spree/orders/update.rb
  spree/core/spec/services/spree/orders/update_spec.rb
Due: core, Core

Changed plans to list order money edits as a payment status trigger
  docs/plans/6.0-cart-order-split.md
  docs/plans/decisions.md
Due: none

Fix: placed order keeps its old payment status after its total is edited
  spree/core/app/services/spree/orders/discounts/create.rb
  spree/core/app/services/spree/orders/discounts/destroy.rb
  spree/core/app/services/spree/orders/discounts/update.rb
  spree/core/app/services/spree/orders/fees/create.rb
  spree/core/app/services/spree/orders/fees/destroy.rb
  spree/core/app/services/spree/orders/fees/update.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/app/services/spree/orders/update_item.rb
  spree/core/app/services/spree/orders/update_statuses.rb
  spree/core/app/workflows/spree/orders/add_item.rb
  spree/core/spec/services/spree/orders/discounts/create_spec.rb
  spree/core/spec/services/spree/orders/discounts/destroy_spec.rb
  spree/core/spec/services/spree/orders/discounts/update_spec.rb
  spree/core/spec/services/spree/orders/fees/create_spec.rb
  spree/core/spec/services/spree/orders/fees/destroy_spec.rb
  spree/core/spec/services/spree/orders/fees/update_spec.rb
  spree/core/spec/services/spree/orders/item_services_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
  spree/core/spec/workflows/spree/orders/add_item_spec.rb
Due: core, Core

Fix: placed order keeps its old payment status after its total is edited (#14754)
  docs/plans/6.0-cart-order-split.md
  docs/plans/decisions.md
  spree/core/app/services/spree/orders/discounts/create.rb
  spree/core/app/services/spree/orders/discounts/destroy.rb
  spree/core/app/services/spree/orders/discounts/update.rb
  spree/core/app/services/spree/orders/fees/create.rb
  spree/core/app/services/spree/orders/fees/destroy.rb
  spree/core/app/services/spree/orders/fees/update.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/app/services/spree/orders/update_item.rb
  spree/core/app/services/spree/orders/update_statuses.rb
  spree/core/app/workflows/spree/orders/add_item.rb
  spree/core/spec/services/spree/orders/discounts/create_spec.rb
  spree/core/spec/services/spree/orders/discounts/destroy_spec.rb
  spree/core/spec/services/spree/orders/discounts/update_spec.rb
  spree/core/spec/services/spree/orders/fees/create_spec.rb
  spree/core/spec/services/spree/orders/fees/destroy_spec.rb
  spree/core/spec/services/spree/orders/fees/update_spec.rb
  spree/core/spec/services/spree/orders/item_services_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
  spree/core/spec/workflows/spree/orders/add_item_spec.rb
Due: core, Core

Fix: a refused order edit no longer saves part of the changes (#14753)
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/spec/services/spree/orders/update_spec.rb
Due: core, Core

Record the MCP server delivery decisions
  docs/plans/6.0-mcp-server.md
  docs/plans/decisions.md
Due: none

Move the agent-tool registry into spree_core
  spree/core/app/tools/spree/agent_tools/create_export.rb
  spree/core/app/tools/spree/agent_tools/create_resource.rb
  spree/core/app/tools/spree/agent_tools/delete_resource.rb
  spree/core/app/tools/spree/agent_tools/describe_import_mapping.rb
  spree/core/app/tools/spree/agent_tools/describe_reporting.rb
  spree/core/app/tools/spree/agent_tools/describe_resource.rb
  spree/core/app/tools/spree/agent_tools/get_import_status.rb
  spree/core/app/tools/spree/agent_tools/get_resource.rb
  spree/core/app/tools/spree/agent_tools/propose_import_mapping.rb
  spree/core/app/tools/spree/agent_tools/query_report.rb
  spree/core/app/tools/spree/agent_tools/resource_write.rb
  spree/core/app/tools/spree/agent_tools/search_resources.rb
  spree/core/app/tools/spree/agent_tools/update_resource.rb
  spree/core/app/workflows/spree/purchase_orders/create.rb
  spree/core/lib/spree/agent_tool.rb
  spree/core/lib/spree/agent_tools.rb
  spree/core/lib/spree/agent_tools/context.rb
  spree/core/lib/spree/agent_tools/default_catalog.rb
  spree/core/lib/spree/agent_tools/record_summary.rb
  spree/core/lib/spree/agent_tools/registry.rb
  spree/core/lib/spree/agent_tools/resource_map.rb
  spree/core/lib/spree/agent_tools/workflow_schema.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/lib/spree/agent_tools/authorization_spec.rb
  spree/core/spec/lib/spree/agent_tools/record_summary_spec.rb
  spree/core/spec/lib/spree/agent_tools/resource_map_spec.rb
  spree/core/spec/tools/spree/agent_tools/create_export_spec.rb
  spree/core/spec/tools/spree/agent_tools/import_tools_spec.rb
  spree/core/spec/tools/spree/agent_tools/search_resources_spec.rb
Due: core, Core

Keep the agent catalog honest against the admin controllers
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/api/agent_tools_contract_spec.rb
  spree/core/lib/spree/agent_tools/workflow_schema.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
Due: core, api, Core, API

Derive the agent resource map from the admin controllers
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/lib/spree/api/agent_write_schemas.rb
  spree/api/lib/spree/api/engine.rb
Due: api, API

Point the moved agent tool specs at the derived map
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/agent_tools/authorization_spec.rb
  spree/api/spec/lib/spree/agent_tools/resource_map_spec.rb
  spree/api/spec/tools/spree/agent_tools/create_export_spec.rb
  spree/api/spec/tools/spree/agent_tools/import_tools_spec.rb
  spree/api/spec/tools/spree/agent_tools/search_resources_spec.rb
  spree/core/spec/lib/spree/agent_tools/record_summary_spec.rb
Due: api, API

Add the spree_mcp gem serving the agent tools over MCP
  scripts/test/rspec
  spree/mcp/Gemfile
  spree/mcp/LICENSE
  spree/mcp/Rakefile
  spree/mcp/app/controllers/spree/api/v3/admin/mcp_controller.rb
  spree/mcp/config/routes.rb
  spree/mcp/lib/spree/mcp/engine.rb
  spree/mcp/lib/spree/mcp/server.rb
  spree/mcp/lib/spree/mcp/tool_adapter.rb
  spree/mcp/lib/spree_mcp.rb
  spree/mcp/spec/lib/spree/mcp/server_spec.rb
  spree/mcp/spec/requests/spree/api/v3/admin/mcp_spec.rb
  spree/mcp/spec/spec_helper.rb
  spree/mcp/spree_mcp.gemspec
Due: none
