Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Phase P0.5: Rename stock items to stock levels in the SDK and dashboard
  .changeset/stock-item-renamed-to-stock-level.md
  packages/admin-sdk/examples/products/create.ts
  packages/admin-sdk/examples/variants/create.ts
  packages/admin-sdk/examples/variants/get.ts
  packages/admin-sdk/examples/variants/list.ts
  packages/admin-sdk/examples/variants/update.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/tests/read-only-resources.test.ts
  packages/admin-sdk/tests/stock.test.ts
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/e2e/products-prices-inventory.spec.ts
  packages/dashboard/src/components/spree/products/inventory-section.tsx
  packages/dashboard/src/components/spree/products/variant-edit-sheet.tsx
  packages/dashboard/src/components/spree/products/variants-matrix.ts
  packages/dashboard/src/components/spree/products/variants-section.tsx
  packages/dashboard/src/hooks/use-product.ts
  packages/dashboard/src/hooks/use-stock-coverage.test.ts
  packages/dashboard/src/hooks/use-stock-coverage.ts
  packages/dashboard/src/hooks/use-stock-levels.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  packages/dashboard/src/schemas/product.ts
  packages/dashboard/src/schemas/webhook-endpoint.ts
Due: none

Phase P3.1: Type the stock history and reconcile open fulfillments
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/typed_stock_movements_migration.rake
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
Due: core, Core

Phase P2.4: Move stock off the shelf at dispatch instead of placement
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
  spree/core/spec/workflows/spree/orders/cancel_spec.rb
  spree/core/spec/workflows/spree/orders/complete_spec.rb
Due: core, Core

Phase P2.7: Restate the remaining specs against the new stock semantics
  spree/core/spec/models/spree/inventory_unit_spec.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/product_preorder_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: none

Phase P2.5: Move the promise, not the goods, on every other stock event
  spree/core/app/models/spree/fulfillment_changer.rb
  spree/core/app/workflows/spree/fulfillments/create.rb
  spree/core/app/workflows/spree/fulfillments/resume.rb
  spree/core/spec/models/spree/fulfilment_changer_spec.rb
  spree/core/spec/models/spree/order_inventory_spec.rb
  spree/core/spec/workflows/spree/fulfillments/cancel_spec.rb
  spree/core/spec/workflows/spree/fulfillments/create_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
  spree/core/spec/workflows/spree/fulfillments/resume_spec.rb
Due: core, Core

Phase P2.6: Record manual stock corrections in the ledger
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_controller_spec.rb
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/variant_spec.rb
Due: core, api, Core, API

Phase P2.3: Subtract allocations everywhere availability is read
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/fulfillment_changer.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_routing/rules/minimize_splits.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/stock_reservations/reserve.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/models/spree/stock_level_spec.rb
Due: core, Core

Phase P2.2: Give stock locations the five stock verbs
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/order_inventory.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/stock_transfer.rb
  spree/core/app/workflows/spree/fulfillments/cancel.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/models/spree/stock_location_spec.rb
  spree/core/spec/models/spree/stock_transfer_spec.rb
Due: core, Core

Let only a forced dispatch send goods the shelf cannot cover
  docs/plans/6.0-typed-stock-movements.md
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/stock_movement.rb
  spree/core/app/models/spree/stock_transfer.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/models/spree/stock_level_spec.rb
  spree/core/spec/models/spree/stock_location_spec.rb
  spree/core/spec/models/spree/stock_movement_spec.rb
  spree/core/spec/models/spree/stock_transfer_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
Due: core, Core

Record holding the shelf at zero as a decision, not a detail
  docs/plans/6.0-typed-stock-movements.md
  spree/core/app/models/spree/variant.rb
Due: core, Core

Fix seven gaps found reviewing the typed stock movements work
  packages/admin-sdk/src/params.ts
  spree/api/app/controllers/spree/api/v3/store/delivery_methods_controller.rb
  spree/api/lib/spree/api.rb
  spree/api/spec/serializers/spree/api/v3/stock_movement_serializer_spec.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/order_inventory.rb
  spree/core/app/models/spree/stock_movement.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/workflows/spree/fulfillments/cancel.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/models/spree/stock_movement_spec.rb
  spree/core/spec/models/spree/stock_transfer_spec.rb
  spree/core/spec/workflows/spree/fulfillments/cancel_spec.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
Due: core, api, Core, API

Drop a dead quantity calculation from the fulfillment changer
  spree/core/app/models/spree/fulfillment_changer.rb
Due: core, Core

Phase P4.1: Expose the stock ledger through a read-only admin endpoint
  packages/admin-sdk/examples/stock-movements/get.ts
  packages/admin-sdk/examples/stock-movements/list.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/StockMovement.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/tests/stock.test.ts
  spree/api/app/controllers/spree/api/v3/admin/stock_movements_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_movement_serializer.rb
  spree/api/app/serializers/spree/api/v3/stock_movement_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_movements_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_movements_spec.rb
  spree/core/app/models/spree/stock_movement.rb
Due: core, api, Core, API

Give a fulfillment an association for the ledger rows it caused
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/stock_transfer.rb
Due: core, Core

Phase P4.2: Let a client label a stock correction
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_controller_spec.rb
Due: api, API

Refresh the generated type digests after the rebase
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/admin-sdk/src/types/generated/index.ts
Due: none

Fixed setting admin language when running first time setup
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/spec/services/spree/stores/provision_defaults_spec.rb
Due: core, Core

Let several sellers list the same item
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Variant.ts
  packages/sdk/src/zod/generated/Variant.ts
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/variant_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/concerns/spree/purchase/addresses.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/option_type.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/stock/coordinator.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/app/models/spree/stock/splitter/delivery_profile.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/presenters/spree/csv/order_line_item_presenter.rb
  spree/core/app/services/spree/products/select_buy_box.rb
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/option_types.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260817000002_add_seller_and_delivery_profile_to_spree_variants.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/spec/models/spree/product/shared_catalog_spec.rb
  spree/core/spec/models/spree/product_scopes_option_matching_spec.rb
  spree/core/spec/models/spree/stock/splitter/delivery_profile_spec.rb
  spree/core/spec/models/spree/variant/shared_catalog_spec.rb
  spree/core/spec/services/spree/products/select_buy_box_spec.rb
  spree/providers/meilisearch/app/models/spree_meilisearch/search_provider.rb
  spree/providers/meilisearch/app/presenters/spree_meilisearch/product_presenter.rb
  spree/providers/meilisearch/spec/requests/spree_meilisearch/search_integration_spec.rb
Due: core, api, Core, API

Fixed setting admin language when running first time setup (#14453)
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/spec/services/spree/stores/provision_defaults_spec.rb
Due: core, Core

Restore the npm package the rename renamed
  pnpm-lock.yaml
Due: none

Answer an option filter exactly, whatever the index holds
  spree/core/app/models/concerns/spree/purchase/addresses.rb
  spree/core/app/models/spree/stock/splitter/delivery_profile.rb
  spree/core/app/services/spree/seeds/option_types.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/providers/meilisearch/app/models/spree_meilisearch/search_provider.rb
  spree/providers/meilisearch/app/presenters/spree_meilisearch/product_presenter.rb
Due: core, Core

Say what the variant's seller column actually means
  docs/plans/6.0-multi-vendor-marketplace.md
Due: none

Fixed NPM package name broken during vendor -> seller rename
  pnpm-lock.yaml
Due: none

Keep a movement readable after its stock level is deleted
  spree/core/app/models/spree/stock_movement.rb
  spree/core/spec/models/spree/stock_movement_spec.rb
Due: core, Core

Make the shared catalog hold under the cases a review found
  packages/admin-sdk/src/types/generated/Product.ts
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/sdk/src/types/generated/Product.ts
  packages/sdk/src/zod/generated/Product.ts
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/core/app/models/spree/option_type.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/seller.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/products/select_buy_box.rb
  spree/core/app/services/spree/seeds/option_types.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/models/spree/product/shared_catalog_spec.rb
  spree/core/spec/models/spree/variant/shared_catalog_spec.rb
  spree/core/spec/services/spree/products/select_buy_box_spec.rb
  spree/providers/meilisearch/app/models/spree_meilisearch/search_provider.rb
  spree/providers/meilisearch/app/presenters/spree_meilisearch/product_presenter.rb
  spree/providers/meilisearch/spec/requests/spree_meilisearch/search_integration_spec.rb
Due: core, api, Core, API

Keep default_variant_id stable and name the buy box beside it
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
Due: api, API

improv colorz
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/data-table.tsx
Due: none

more improvs
  packages/dashboard-core/src/components/resource-table.tsx
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/card.tsx
  packages/dashboard-ui/src/ui/command.tsx
  packages/dashboard-ui/src/ui/data-table.tsx
  packages/dashboard-ui/src/ui/dialog.tsx
  packages/dashboard-ui/src/ui/dropdown-menu.tsx
  packages/dashboard-ui/src/ui/pagination.tsx
  packages/dashboard-ui/src/ui/separator.tsx
  packages/dashboard-ui/src/ui/sheet.tsx
  packages/dashboard/src/components/spree/command-palette/command-palette.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/api-keys.tsx
Due: none

iprovs
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard/src/components/spree/order-post-sale-cards.tsx
  packages/dashboard/src/components/spree/order-returns-card.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/components/spree/orders/order-customer-card.tsx
  packages/dashboard/src/components/spree/orders/order-notes-cards.tsx
  packages/dashboard/src/components/spree/orders/order-payments-card.tsx
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/components/spree/promotion-editors/promotion-form.tsx
  packages/dashboard/src/components/spree/tax-exemption-certificates-card.tsx
  packages/dashboard/src/components/spree/tax-identifiers-card.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/companies/locations.$locationId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers.tsx
Due: none

design improvements
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-ui/src/ui/field.tsx
  packages/dashboard-ui/src/ui/select.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers.tsx
Due: none

fixed tables
  packages/dashboard/src/components/spree/imports/import-wizard-dialog.tsx
  packages/dashboard/src/components/spree/orders/order-edit-items-table.tsx
  packages/dashboard/src/components/spree/orders/order-payments-card.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/edit.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/reasons.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
Due: none

improv loading skeletongs
  packages/dashboard-core/src/components/resource-table.tsx
  packages/dashboard-ui/src/ui/data-table.tsx
  packages/dashboard-ui/src/ui/skeleton.tsx
  packages/dashboard/src/components/spree/product-membership-card.tsx
  packages/dashboard/src/components/spree/route-pending.tsx
  packages/dashboard/src/create-router.ts
  packages/dashboard/src/routes/_authenticated/$storeId/companies/$companyId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/companies/locations.$locationId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/sellers/$sellerId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/reasons.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/staff.tsx
Due: none

Let the seller and delivery profile columns mean what a column means
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/sdk/src/types/generated/Variant.ts
  packages/sdk/src/zod/generated/Variant.ts
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/variant_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/core/app/models/concerns/spree/purchase/addresses.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/stock/coordinator.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/app/models/spree/stock/splitter/delivery_profile.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/products/select_buy_box.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/models/spree/variant/shared_catalog_spec.rb
Due: core, api, Core, API

Address review feedback on dashboard design changes
  packages/dashboard-core/src/components/resource-combobox.tsx
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard/src/components/spree/route-pending.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/orders/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/transfers.tsx
Due: none

Promise the stock an exchange or claim sends as a replacement
  spree/core/app/workflows/spree/claims/resolve.rb
  spree/core/app/workflows/spree/exchanges/fulfill.rb
  spree/core/spec/workflows/spree/claims/lifecycle_spec.rb
  spree/core/spec/workflows/spree/exchanges/lifecycle_spec.rb
Due: core, Core

Give remove controls distinct accessible names
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/components/spree/promotion-editors/promotion-form.tsx
Due: none

Model the seller as two modes, not an inheritance chain
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/sdk/src/types/generated/Variant.ts
  packages/sdk/src/zod/generated/Variant.ts
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/variant_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/variant/shared_catalog_spec.rb
Due: core, api, Core, API

Fix E2E specs for the combobox variant picker and chip labels
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard/e2e/order-fulfillments.spec.ts
  packages/dashboard/e2e/orders.spec.ts
Due: none
