Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Sanitize CSV export output to avoid CSV formula injection attacks
  spree/core/app/models/spree/export.rb
  spree/core/app/models/spree/exports/product_translations.rb
  spree/core/app/presenters/spree/csv/formula_sanitizer.rb
  spree/core/spec/models/spree/export_spec.rb
  spree/core/spec/presenters/spree/csv/formula_sanitizer_spec.rb
Due: core, Core

fix deprecation warning on destroying CC (#14044)
  spree/core/app/services/spree/credit_cards/destroy.rb
Due: core, Core

Document Spree's Shopify vendor integration process
  docs/user/vendors/vendor-onboarding-shopify.mdx
Due: none

Allow CI on prev releases stable branches
  .github/workflows/tests.yml
Due: none

Allow tests to run on stable branches
  .github/workflows/tests.yml
Due: none

fix
  spree/core/app/presenters/spree/csv/formula_sanitizer.rb
  spree/core/spec/presenters/spree/csv/formula_sanitizer_spec.rb
Due: core, Core

Allow tests to run on stable branches (#14048)
  .github/workflows/tests.yml
Due: none

CI: only run backend tests when spree/ changes (#13968)
  .github/workflows/tests.yml
Due: none

Sanitize CSV export output to avoid CSV formula injection attacks (#14045)
  spree/core/app/models/spree/export.rb
  spree/core/app/models/spree/exports/product_translations.rb
  spree/core/app/presenters/spree/csv/formula_sanitizer.rb
  spree/core/spec/models/spree/export_spec.rb
  spree/core/spec/presenters/spree/csv/formula_sanitizer_spec.rb
Due: core, Core

Bump version to v5.4.3
  spree/core/lib/spree/core/version.rb
Due: core, Core

Clarify vendor onboarding instructions for Shopify
  docs/user/vendors/vendor-onboarding-shopify.mdx
Due: none

Sanitize CSV export output to avoid CSV formula injection attacks (#14045)
  core/app/models/spree/export.rb
  core/app/presenters/spree/csv/formula_sanitizer.rb
  core/spec/models/spree/export_spec.rb
  core/spec/presenters/spree/csv/formula_sanitizer_spec.rb
Due: none

Bump version to v5.2.8
  core/lib/spree/core/version.rb
Due: none

Bump version to v5.3.6
  core/lib/spree/core/version.rb
Due: none

Document Spree's Shopify vendor integration process (#14046)
  docs/user/vendors/vendor-onboarding-shopify.mdx
Due: none

Fix formatting for app-base-url instruction
  docs/user/vendors/vendor-onboarding-shopify.mdx
Due: none

Fix formatting for app-base-url instruction (#14049)
  docs/user/vendors/vendor-onboarding-shopify.mdx
Due: none

Add `currency` type filter for Admin SPA
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/lib/table-registry.ts
  packages/admin/src/tables/orders.tsx
  spree/core/app/models/spree/order.rb
Due: core, Core

fix assigning product to store on CSV import
  spree/core/app/models/spree/import.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/models/spree/import_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

keep the correct order of building product and assigning to store
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
Due: core, Core

[CSV Import] fix assigning product to store (#14051)
  spree/core/app/models/spree/import.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/models/spree/import_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Improve assigning tags to product on CSV import
  spree/core/app/jobs/spree/imports/assign_tags_job.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/jobs/spree/imports/assign_tags_job_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

[CSV Import] fix assigning tags to product (#14052)
  spree/core/app/jobs/spree/imports/assign_tags_job.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/jobs/spree/imports/assign_tags_job_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Added Migrating from Storefront API v2 guide
  docs/api-reference/store-api/migrating-from-storefront-api-v2.mdx
  docs/docs.json
Due: none

Added Migrating from Storefront API v2 guide (#14053)
  docs/api-reference/store-api/migrating-from-storefront-api-v2.mdx
  docs/docs.json
Due: none

Bumped `@spree/sdk` to v1.1.0
  packages/sdk/.changeset/product-meta-title.md
  packages/sdk/.changeset/storefront-custom-field-tokens.md
  packages/sdk/.changeset/zod-schema-customer-payment-method-fields.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

Docs: plans update
  CLAUDE.md
  docs/plans/5.4-6.0-eu-legal-compliance.md
  docs/plans/5.4-6.0-product-media-system.md
  docs/plans/5.4-disjunctive-option-faceting.md
  docs/plans/5.4-search-provider.md
  docs/plans/5.4-store-api-naming-standardization.md
  docs/plans/5.5-6.0-custom-fields-rename.md
  docs/plans/5.5-6.0-display-on-to-boolean.md
  docs/plans/5.5-6.0-order-cancellation-and-approval.md
  docs/plans/5.5-admin-api-key-scopes.md
  docs/plans/5.5-admin-auth-cookie-refresh.md
  docs/plans/5.5-admin-customers-api.md
  docs/plans/5.5-admin-spa-csv-export.md
  docs/plans/6.0-order-routing.md
  docs/plans/6.0-replace-taxons-with-categories.md
  docs/plans/6.0-stock-reservations.md
Due: none

Fixed mintlify ignore
  docs/.mintgnore
Due: none

Add guards against conrurrent processing of option types/values during Products CSV import
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

improvements
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
Due: core, Core

add more specs, simplify as possible
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: none

feat(store-api): add newsletter subscribe endpoint
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/config/locales/en.yml
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/newsletter_subscribers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/newsletter_subscribers_spec.rb
Due: api, API

feat(store-api): add newsletter verification endpoint
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/config/locales/en.yml
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/newsletter_subscribers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/newsletter_subscribers_spec.rb
Due: api, API

feat(newsletter): add storefront verification mailer link
  spree/core/config/routes.rb
  spree/core/spec/mailers/spree/newsletter_verification_route_spec.rb
  spree/emails/app/mailers/spree/newsletter_mailer.rb
  spree/emails/spec/mailers/spree/newsletter_mailer_spec.rb
Due: core, emails, Emails

fix(newsletter): link subscribers after customer registration
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/customers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/customers_spec.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
  spree/core/spec/services/spree/newsletter/subscribe_spec.rb
Due: core, api, Core, API

Fix json preview to now respect admin name space dependecies
  spree/admin/app/helpers/spree/admin/json_preview_helper.rb
  spree/admin/spec/helpers/spree/admin/json_preview_helper_spec.rb
Due: admin, Admin

Fix json preview to now respect admin namespace dependecies (#14064)
  spree/admin/app/helpers/spree/admin/json_preview_helper.rb
  spree/admin/spec/helpers/spree/admin/json_preview_helper_spec.rb
Due: admin, Admin
