Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Fix: removing an item from an order leaves its total unchanged
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  docs/plans/decisions.md
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/orders/items_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/items_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/items_spec.rb
  spree/core/app/services/spree/orders/remove_line_item.rb
  spree/core/spec/services/spree/orders/remove_line_item_spec.rb
Due: core, api, Core, API

Fix: seller SDK callers of client.me() break after 1.0.0-beta.3 (#14780)
  .changeset/seller-sdk-me-callable.md
  docs/developer/how-to/build-a-marketplace.mdx
  packages/seller-sdk/README.md
  packages/seller-sdk/src/index.ts
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/tests/me.test.ts
Due: none

Replaced the generated email variables reference with a hand-maintained one
  CLAUDE.md
  docs/developer/customization/email-variables.mdx
  docs/developer/customization/emails.mdx
  docs/plans/6.0-email-template-editor.md
  docs/plans/6.0-liquid-mjml-emails.md
  spree/emails/lib/spree/emails/variable_reference.rb
  spree/emails/lib/tasks/spree_emails.rake
  spree/emails/spec/lib/spree/emails/variable_reference_spec.rb
Due: emails, Emails

Fix: CDN can serve one market's cached Store API response to another (#14781)
  docs/api-reference/store-api/localization.mdx
  docs/developer/core-concepts/pricing.mdx
  docs/developer/deployment/caching.mdx
  docs/developer/deployment/cdn.mdx
  spree/api/app/controllers/concerns/spree/api/v3/http_caching.rb
  spree/api/spec/controllers/concerns/spree/api/v3/http_caching_spec.rb
Due: api, API

Fix: EasyPost quotes every package of a split order with its own contents (#14779)
  docs/developer/how-to/custom-delivery-rate-provider.mdx
  spree/providers/easypost/app/models/spree_easypost/delivery_rate_provider.rb
  spree/providers/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
Due: none

Address review feedback
  spree/core/app/models/concerns/spree/webhook_payload_redaction.rb
  spree/core/spec/models/concerns/spree/webhook_payload_redaction_spec.rb
  spree/core/spec/models/spree/webhook_delivery_spec.rb
Due: core, Core

Allow operator-trusted internal hosts for webhooks
  docs/developer/core-concepts/webhooks.mdx
  docs/developer/customization/configuration.mdx
  spree/api/app/services/spree/webhooks/deliver_webhook.rb
  spree/api/lib/spree/api/configuration.rb
  spree/api/spec/lib/spree/api/configuration_spec.rb
  spree/api/spec/services/spree/webhooks/deliver_webhook_spec.rb
  spree/core/app/models/spree/webhook_endpoint.rb
  spree/core/spec/models/spree/webhook_endpoint_spec.rb
Due: core, api, Core, API

Connect directly, without a proxy, to allowed internal webhook hosts
  spree/api/app/services/spree/webhooks/deliver_webhook.rb
  spree/api/spec/services/spree/webhooks/deliver_webhook_spec.rb
  spree/core/app/models/spree/webhook_endpoint.rb
  spree/core/spec/models/spree/webhook_endpoint_spec.rb
Due: core, api, Core, API

Update failing spec
  spree/api/spec/controllers/spree/api/v3/store/carts/payments_controller_spec.rb
Due: none

Added dashboard slots for newer detail pages and refreshed the slots catalog
  .changeset/dashboard-detail-page-slots.md
  docs/developer/dashboard/customization/slots.mdx
  docs/developer/dashboard/recipes/custom-form-field.mdx
  docs/developer/dashboard/slots-catalog.mdx
  docs/developer/how-to/build-a-marketplace.mdx
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/components/spree/promotion-editors/promotion-form.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/purchase-orders/$purchaseOrderId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/sellers/payouts/$payoutId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/webhooks/$webhookEndpointId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/transfers/$transferId/index.tsx
  packages/seller-dashboard/src/pages/order.tsx
  packages/seller-dashboard/src/pages/payout.tsx
  packages/seller-dashboard/src/pages/product.tsx
  packages/seller-dashboard/src/pages/profile.tsx
Due: none

Changed promotion and price list slots to save with the page form
  .changeset/dashboard-detail-page-slots.md
  CLAUDE.md
  docs/developer/dashboard/customization/slots.mdx
  docs/developer/dashboard/recipes/custom-form-field.mdx
  docs/developer/dashboard/slots-catalog.mdx
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/components/spree/promotion-editors/promotion-form.tsx
  spree/api/app/controllers/spree/api/v3/admin/price_lists_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/price_lists_controller_spec.rb
Due: api, API

Settled the email editor's variables, draft conflicts and revert history
  docs/plans/6.0-email-template-editor.md
  docs/plans/decisions.md
Due: none

Added generated TypeScript types for email template data
  lefthook.yml
  packages/admin-sdk/src/types/generated/emails/EmailAmountLine.ts
  packages/admin-sdk/src/types/generated/emails/EmailFulfillment.ts
  packages/admin-sdk/src/types/generated/emails/EmailFulfillmentGroup.ts
  packages/admin-sdk/src/types/generated/emails/EmailLineItem.ts
  packages/admin-sdk/src/types/generated/emails/EmailOrder.ts
  packages/admin-sdk/src/types/generated/emails/EmailOrderGroup.ts
  packages/admin-sdk/src/types/generated/emails/EmailParcelItem.ts
  packages/admin-sdk/src/types/generated/emails/EmailReturn.ts
  packages/admin-sdk/src/types/generated/emails/EmailStore.ts
  packages/admin-sdk/src/types/generated/emails/Enums.ts
  packages/admin-sdk/src/types/generated/emails/index.ts
  packages/admin-sdk/src/types/index.ts
  spree/api/Rakefile
  spree/api/config/initializers/typelizer.rb
  spree/api/lib/spree/api/typelizer_generation.rb
  spree/emails/Rakefile
  spree/emails/app/serializers/spree/emails/fulfillment_serializer.rb
  spree/emails/app/serializers/spree/emails/line_item_serializer.rb
  spree/emails/app/serializers/spree/emails/order_group_serializer.rb
  spree/emails/app/serializers/spree/emails/purchase_summary_attributes.rb
  spree/emails/app/serializers/spree/emails/return_serializer.rb
  spree/emails/config/initializers/typelizer.rb
Due: api, emails, API, Emails

Added store branding for customer emails
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/types/generated/emails/EmailStore.ts
  packages/admin-sdk/src/zod/generated/Store.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/concerns/spree/api/v3/admin/email_template_lookup.rb
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/previews_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/email_templates_spec.rb
  spree/core/app/models/concerns/spree/stores/email_branding.rb
  spree/core/app/models/spree/emails/branding.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/serializers/spree/emails/store_serializer.rb
  spree/core/app/services/spree/email_templates/preview.rb
  spree/core/app/services/spree/emails/renderer.rb
  spree/core/app/views/layouts/spree/base_mailer.liquid
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/emails/branding_spec.rb
  spree/emails/app/views/spree/return_mailer/refunded_email.liquid
  spree/emails/config/initializers/typelizer.rb
Due: core, api, emails, Core, API, Emails

Added rebasing an email template draft onto Spree's current default
  packages/admin-sdk/src/params.ts
  spree/api/app/controllers/spree/api/v3/admin/email_templates/drafts_controller.rb
  spree/api/spec/integration/spree/api/v3/admin/email_templates_spec.rb
  spree/core/app/workflows/spree/email_templates/save_draft.rb
  spree/core/spec/workflows/spree/email_templates/save_draft_spec.rb
Due: core, api, Core, API

Added the email template editor to the dashboard
  .changeset/dashboard-email-templates.md
  packages/dashboard-core/src/hooks/use-global-search.ts
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard-ui/package.json
  packages/dashboard-ui/src/hooks/use-debounced-value.ts
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/icons.ts
  packages/dashboard-ui/src/ui/code-editor.tsx
  packages/dashboard/src/components/spree/email-templates/default-diff-dialog.tsx
  packages/dashboard/src/components/spree/email-templates/email-preview-frame.tsx
  packages/dashboard/src/components/spree/email-templates/emails-tabs.tsx
  packages/dashboard/src/components/spree/email-templates/history-sheet.tsx
  packages/dashboard/src/hooks/use-email-templates.ts
  packages/dashboard/src/lib/email-template-name.ts
  packages/dashboard/src/lib/email-template-variables.test.ts
  packages/dashboard/src/lib/email-template-variables.ts
  packages/dashboard/src/lib/line-diff.test.ts
  packages/dashboard/src/lib/line-diff.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/index.tsx
  packages/dashboard/src/schemas/store-emails.ts
  pnpm-lock.yaml
Due: none

Documented editing customer email templates and branding
  CLAUDE.md
  docs/developer/customization/email-variables.mdx
  docs/developer/customization/emails.mdx
  docs/plans/6.0-email-template-editor.md
  docs/plans/decisions.md
  docs/user/settings/emails.mdx
  spree/emails/app/services/spree/emails/samples/base.rb
Due: emails, Emails

Documented the rebase option of email template drafts in the API reference
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Fixed email template review findings
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  spree/api/app/controllers/concerns/spree/api/v3/admin/email_template_lookup.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/drafts_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/previews_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/publications_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/test_emails_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/drafts_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/previews_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/publications_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/test_emails_controller_spec.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/mailers/spree/email_template_mailer.rb
  spree/core/app/services/spree/email_templates/check.rb
  spree/core/app/services/spree/emails/template_resolver.rb
  spree/core/app/workflows/spree/email_templates/discard_draft.rb
  spree/core/app/workflows/spree/email_templates/publish.rb
  spree/core/app/workflows/spree/email_templates/revert.rb
  spree/core/app/workflows/spree/email_templates/save_draft.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/mailers/spree/admin_user_mailer_spec.rb
  spree/core/spec/mailers/spree/email_template_mailer_spec.rb
  spree/core/spec/workflows/spree/email_templates/discard_draft_spec.rb
  spree/core/spec/workflows/spree/email_templates/publish_spec.rb
  spree/core/spec/workflows/spree/email_templates/revert_spec.rb
  spree/emails/app/services/spree/emails/samples/base.rb
  spree/emails/app/services/spree/emails/samples/company_invitation.rb
  spree/emails/app/services/spree/emails/samples/fulfillment.rb
Due: core, api, emails, Core, API, Emails

Fix: email template editor loses work and reports false conflicts
  packages/dashboard/src/hooks/use-email-templates.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
Due: none

Documented the draft version check on publishing, discarding and reverting
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/spec/integration/spree/api/v3/admin/email_templates_spec.rb
Due: none

Simplified the email template backend
  spree/api/app/controllers/concerns/spree/api/v3/admin/email_template_lookup.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/drafts_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/publications_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/restorations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/revisions_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates_controller.rb
  spree/core/app/models/concerns/spree/email_template_identity.rb
  spree/core/app/models/spree/email_templates/entry.rb
  spree/core/app/services/spree/email_templates/preview.rb
  spree/core/app/services/spree/emails/renderer.rb
  spree/core/app/services/spree/emails/template_resolver.rb
  spree/core/app/workflows/spree/email_templates/discard_draft.rb
  spree/core/app/workflows/spree/email_templates/publish.rb
  spree/core/app/workflows/spree/email_templates/revert.rb
  spree/core/app/workflows/spree/email_templates/save_draft.rb
Due: core, api, Core, API

Simplified the email template editor
  packages/dashboard-ui/src/ui/code-editor.tsx
  packages/dashboard/src/components/spree/email-templates/conflict-dialog.tsx
  packages/dashboard/src/components/spree/email-templates/preview-card.tsx
  packages/dashboard/src/components/spree/email-templates/problems-alert.tsx
  packages/dashboard/src/components/spree/email-templates/variables-card.tsx
  packages/dashboard/src/lib/email-template-variables.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
Due: none

Fixed second-round email template review findings
  spree/api/app/controllers/concerns/spree/api/v3/admin/email_template_lookup.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/publications_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/publications_controller_spec.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/services/spree/email_templates/check.rb
  spree/core/app/services/spree/emails/file_system.rb
  spree/core/app/services/spree/emails/renderer.rb
  spree/core/app/services/spree/emails/template_resolver.rb
  spree/core/app/workflows/spree/email_templates/discard_draft.rb
  spree/core/app/workflows/spree/email_templates/revert.rb
  spree/core/app/workflows/spree/email_templates/save_draft.rb
  spree/core/spec/mailers/spree/admin_user_mailer_spec.rb
  spree/core/spec/services/spree/emails/renderer_spec.rb
  spree/core/spec/workflows/spree/email_templates/revert_spec.rb
  spree/core/spec/workflows/spree/email_templates/save_draft_spec.rb
Due: core, api, Core, API

Changed the seller panel product page to save plugin fields with the product
  .changeset/dashboard-detail-page-slots.md
  CLAUDE.md
  docs/developer/customization/api.mdx
  docs/developer/dashboard/slots-catalog.mdx
  packages/seller-dashboard/src/pages/product.tsx
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/products_controller_spec.rb
  spree/core/app/models/spree/base.rb
Due: core, api, Core, API

Fixed CI and review feedback on the email template editor
  docs/api-reference/admin.yaml
  docs/developer/customization/emails.mdx
  docs/plans/6.0-email-template-editor.md
  docs/user/settings/emails.mdx
  packages/admin-sdk/examples/email-templates/send-test.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/concerns/spree/api/v3/admin/email_template_lookup.rb
  spree/api/spec/integration/spree/api/v3/admin/email_templates_spec.rb
  spree/core/app/models/concerns/spree/admin_user_methods.rb
  spree/core/app/models/spree/email_templates/entry.rb
  spree/core/lib/spree/testing_support/editable_email_templates.rb
Due: core, api, Core, API

Documented the test email SDK sample with a signed-in client
  docs/api-reference/admin.yaml
  spree/api/spec/integration/spree/api/v3/admin/email_templates_spec.rb
  spree/api/spec/support/code_samples_helper.rb
Due: none

Added plan for storing preferences as JSON in 6.0
  CLAUDE.md
  docs/plans/6.0-json-preferences.md
  docs/plans/decisions.md
Due: none

Added encrypted secret storage to the JSON preferences plan
  CLAUDE.md
  docs/plans/6.0-json-preferences.md
  docs/plans/decisions.md
Due: none

Fix: Carts preselect Store Pickup before an address is entered (V-3718)
  spree/core/app/models/concerns/spree/purchase/addresses.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/services/spree/checkout/advance.rb
  spree/core/spec/models/spree/cart_spec.rb
Due: core, Core

Added the V-3718 decision and documented when carts get delivery options
  docs/developer/core-concepts/carts.mdx
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/decisions.md
Due: none

Fix: adding a hidden product to a cart answers not found
  spree/api/app/controllers/concerns/spree/api/v3/store/storefront_products.rb
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/items_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
Due: api, API

Documented that catalogs decide what a buyer can buy
  docs/developer/core-concepts/carts.mdx
  docs/developer/core-concepts/catalogs.mdx
  docs/plans/6.0-b2b-companies-and-catalogs.md
  docs/plans/decisions.md
Due: none

Fix: a buyer can order products their catalogs hide
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/checkout/default_requirements.rb
  spree/core/spec/lib/spree/checkout/requirements_spec.rb
  spree/core/spec/models/spree/cart_spec.rb
  spree/core/spec/services/spree/carts/update_spec.rb
Due: core, Core

Added a spec for adding a product already unpublished from the cart's channel
  spree/api/spec/controllers/spree/api/v3/store/carts/items_controller_spec.rb
Due: none

Fix: a product unpublished from the channel could still be added to a cart
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/cart.rb
  spree/core/lib/spree/checkout/default_requirements.rb
  spree/core/spec/lib/spree/checkout/requirements_spec.rb
  spree/core/spec/models/spree/cart_spec.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
