Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Disallow editing `scopes` of existing Secret Keys
  docs/api-reference/admin.yaml
  packages/admin-sdk/.changeset/api-key-scopes-immutable.md
  packages/admin-sdk/examples/api-keys/current.ts
  packages/admin-sdk/examples/api-keys/update.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/cli/.changeset/api-status-live-scopes.md
  packages/cli/src/api/ping.ts
  packages/cli/src/commands/api.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/tests/ping.test.ts
  packages/dashboard-core/src/locales/en.json
  packages/dashboard/src/hooks/use-api-keys.ts
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  spree/admin/app/controllers/spree/admin/api_keys_controller.rb
  spree/admin/app/views/spree/admin/api_keys/_form.html.erb
  spree/admin/config/locales/en.yml
  spree/admin/spec/controllers/spree/admin/api_keys_controller_spec.rb
  spree/admin/spec/features/spree/admin/api_keys_spec.rb
  spree/api/app/controllers/spree/api/v3/admin/api_keys_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/me_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/api_keys_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/api_keys_spec.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/api_key_spec.rb
Due: core, api, admin, Core, API, Admin

Fix exports controller specs broken by scope immutability
  spree/api/spec/controllers/spree/api/v3/admin/exports_controller_spec.rb
Due: none

Version @spree/admin-sdk 0.3.1 and @spree/cli 2.3.2
  packages/admin-sdk/.changeset/api-key-scopes-immutable.md
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/cli/.changeset/api-status-live-scopes.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: none

Address review: admin-sdk minor bump, live empty-scopes, edit-form i18n
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/cli/src/commands/api.ts
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/api-keys.tsx
Due: none

Add JSDoc to useUpdateApiKey
  packages/dashboard/src/hooks/use-api-keys.ts
Due: none

Disallow editing `scopes` of existing Secret Keys (#14182)
  docs/api-reference/admin.yaml
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/examples/api-keys/current.ts
  packages/admin-sdk/examples/api-keys/update.ts
  packages/admin-sdk/package.json
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/api/ping.ts
  packages/cli/src/commands/api.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/tests/ping.test.ts
  packages/dashboard-core/src/locales/en.json
  packages/dashboard/src/hooks/use-api-keys.ts
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  spree/admin/app/controllers/spree/admin/api_keys_controller.rb
  spree/admin/app/views/spree/admin/api_keys/_form.html.erb
  spree/admin/config/locales/en.yml
  spree/admin/spec/controllers/spree/admin/api_keys_controller_spec.rb
  spree/admin/spec/features/spree/admin/api_keys_spec.rb
  spree/api/app/controllers/spree/api/v3/admin/api_keys_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/me_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/api_keys_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/exports_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/api_keys_spec.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/api_key_spec.rb
Due: core, api, admin, Core, API, Admin

Fix money normalization corrupting untouched prices on save
  packages/dashboard/e2e/products-prices-inventory.spec.ts
  packages/dashboard/src/components/spree/bulk-price-editor/product-bulk-price-editor.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
Due: none

Reformat store-credit amount on currency switch
  packages/dashboard/e2e/customers.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
Due: none

Address review: harden money normalizer, fix stale docs and test guards
  docs/plans/5.5-client-side-money-normalization.md
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/e2e/products-prices-inventory.spec.ts
  packages/dashboard/src/components/spree/bulk-price-editor/normalize-money.test.ts
  packages/dashboard/src/components/spree/bulk-price-editor/normalize-money.ts
  packages/dashboard/src/hooks/use-currency-locale.ts
Due: none

Never use the UI language for money locale in price editors
  packages/dashboard/src/components/spree/bulk-price-editor/bulk-price-editor.tsx
  packages/dashboard/src/components/spree/bulk-price-editor/product-bulk-price-editor.tsx
Due: none

Treat a normalized-empty price as no value in the product editor
  packages/dashboard/src/components/spree/bulk-price-editor/product-bulk-price-editor.tsx
Due: none

Fixed: make dashboard money entry handle localized currencies (e.g. E… (#14183)
  docs/api-reference/admin-api/monetary-amounts.mdx
  docs/plans/5.5-client-side-money-normalization.md
  packages/dashboard/e2e/customers.spec.ts
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/e2e/markets.spec.ts
  packages/dashboard/e2e/price-lists.spec.ts
  packages/dashboard/e2e/products-prices-inventory.spec.ts
  packages/dashboard/src/components/spree/bulk-price-editor/bulk-price-editor.tsx
  packages/dashboard/src/components/spree/bulk-price-editor/normalize-money.test.ts
  packages/dashboard/src/components/spree/bulk-price-editor/normalize-money.ts
  packages/dashboard/src/components/spree/bulk-price-editor/product-bulk-price-editor.tsx
  packages/dashboard/src/hooks/use-currency-locale.ts
  packages/dashboard/src/hooks/use-customer-store-credits.ts
  packages/dashboard/src/hooks/use-prices.ts
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
Due: none

Unify Store <> Payment Method fetching via `store.payment_methods`
  spree/api/app/controllers/spree/api/v3/admin/payment_methods_controller.rb
  spree/api/spec/integration/spree/api/v3/admin/payment_methods_spec.rb
  spree/core/app/models/concerns/spree/store_scoped_resource.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/store_payment_method.rb
  spree/core/app/services/spree/gift_cards/apply.rb
  spree/core/app/services/spree/seeds/payment_methods.rb
  spree/core/db/sample_data/payment_methods.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/payment_method/store_credit_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/services/spree/seeds/payment_methods_spec.rb
Due: core, api, Core, API

Unify Store <> Payment Method fetching via `store.payment_methods` (#14185)
  spree/api/app/controllers/spree/api/v3/admin/payment_methods_controller.rb
  spree/api/spec/integration/spree/api/v3/admin/payment_methods_spec.rb
  spree/core/app/models/concerns/spree/store_scoped_resource.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/store_payment_method.rb
  spree/core/app/services/spree/gift_cards/apply.rb
  spree/core/app/services/spree/seeds/payment_methods.rb
  spree/core/db/sample_data/payment_methods.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/payment_method/store_credit_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/services/spree/seeds/payment_methods_spec.rb
Due: core, api, Core, API

Make the dashboard CMD+K palette complete and extensible
  packages/dashboard-core/src/hooks/use-global-search.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/search-registry.ts
  packages/dashboard/src/components/spree/command-palette/command-palette.tsx
  packages/dashboard/src/main.tsx
  packages/dashboard/src/search/default.tsx
  spree/api/spec/controllers/spree/api/v3/admin/promotions_controller_spec.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/spec/models/spree/promotion_spec.rb
Due: core, Core

Update use-global-search.ts
  packages/dashboard-core/src/hooks/use-global-search.ts
Due: none

Trim debounced query before caching and fetching in global search
  packages/dashboard-core/src/hooks/use-global-search.ts
Due: none

Address review findings in command-palette search
  packages/dashboard-core/src/hooks/use-global-search.ts
  packages/dashboard/src/components/spree/command-palette/command-palette.tsx
Due: none

Make the dashboard CMD+K palette complete and extensible (#14186)
  packages/dashboard-core/src/hooks/use-global-search.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/search-registry.ts
  packages/dashboard/src/components/spree/command-palette/command-palette.tsx
  packages/dashboard/src/main.tsx
  packages/dashboard/src/search/default.tsx
  spree/api/spec/controllers/spree/api/v3/admin/promotions_controller_spec.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/spec/models/spree/promotion_spec.rb
Due: core, Core

Harden Admin API resource scopes and added missing permission checks
  spree/api/app/controllers/spree/api/v3/admin/channels_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/coupon_codes_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/custom_fields_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/media_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/refunds_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/promotion_actions_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/promotion_rules_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_transfers_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/payment_setup_sessions_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/coupon_codes_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/payments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/promotion_actions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/promotion_rules_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_transfers_controller_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product/channels.rb
  spree/core/spec/models/spree/product_spec.rb
Due: core, api, Core, API

Update payment_setup_sessions_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/payment_setup_sessions_controller.rb
Due: api, API

fix
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/core/app/models/spree/store.rb
Due: core, api, Core, API

Harden Admin API resource scopes and added missing permission checks (#14187)
  spree/api/app/controllers/spree/api/v3/admin/channels_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/coupon_codes_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/custom_fields_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/media_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/refunds_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/promotion_actions_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/promotion_rules_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_transfers_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/coupon_codes_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/payments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/promotion_actions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/promotion_rules_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_transfers_controller_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product/channels.rb
  spree/core/app/models/spree/store.rb
  spree/core/spec/models/spree/product_spec.rb
Due: core, api, Core, API

Tighten `Store#allowed_origin?` check
  spree/core/app/models/spree/allowed_origin.rb
  spree/core/app/models/spree/store.rb
  spree/core/spec/models/spree/allowed_origin_spec.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

update custom API authentication docs
  docs/developer/how-to/custom-api-authentication.mdx
Due: none

Tighten `Store#allowed_origin?` check (#14188)
  spree/core/app/models/spree/allowed_origin.rb
  spree/core/app/models/spree/store.rb
  spree/core/spec/models/spree/allowed_origin_spec.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

update custom API authentication docs (#14189)
  docs/developer/how-to/custom-api-authentication.mdx
Due: none

Harden Admin API scopes (part 2)
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/app/controllers/concerns/spree/api/v3/admin_authentication.rb
  spree/api/app/controllers/spree/api/v3/admin/admin_users_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/credit_cards_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/store_credits_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/adjustments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/gift_cards_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/store_credits_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_locations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/tags_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/admin_users_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/base_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/credit_cards_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/store_credits_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/fulfillments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/store_credits_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_items_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_locations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/tags_controller_spec.rb
  spree/core/app/models/spree/ability.rb
  spree/core/spec/models/spree/ability_spec.rb
Due: core, api, Core, API

mysql fix
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/core/app/models/spree/ability.rb
Due: core, api, Core, API

fixes
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/spec/controllers/spree/api/v3/admin/admin_users_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_items_controller_spec.rb
Due: api, API

Harden Admin API scopes (part 2) (#14190)
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/app/controllers/concerns/spree/api/v3/admin_authentication.rb
  spree/api/app/controllers/spree/api/v3/admin/admin_users_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/credit_cards_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/store_credits_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/adjustments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/gift_cards_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/store_credits_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_locations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/tags_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/admin_users_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/base_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/credit_cards_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/store_credits_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/fulfillments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/store_credits_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_items_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_locations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/tags_controller_spec.rb
  spree/core/app/models/spree/ability.rb
  spree/core/spec/models/spree/ability_spec.rb
Due: core, api, Core, API

Fixed refreshing in-memtory associations after saving resources in Admin API
  docs/plans/6.0-remove-master-variant.md
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/app/models/concerns/spree/typed_associations.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/models/spree/promotion_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
Due: core, Core

Fixed Admin Variants API shape
  docs/api-reference/admin.yaml
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variants_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/spec/models/concerns/spree/default_price_spec.rb
Due: core, api, Core, API

Bumped admin-sdk to 0.5.0
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/admin-sdk/src/params.ts
Due: none

CI: Persist Turbo's local cache across runs
  .github/workflows/packages.yml
Due: none

Delete spelling_lint.yml
  .github/workflows/spelling_lint.yml
Due: none

Use a combo of shards and parallel_tests gem for Ruby tests
  .github/workflows/tests.yml
  spree/admin/spec/spec_helper.rb
  spree/api/spec/spec_helper.rb
  spree/core/lib/spree/testing_support/common_rake.rb
  spree/core/spec/spec_helper.rb
Due: none

fixup! Use a combo of shards and parallel_tests gem for Ruby tests
  spree/core/lib/spree/testing_support/common_rake.rb
Due: none

Fix 500 on GET /api/v3/admin/me with secret API key auth
  spree/api/app/controllers/spree/api/v3/admin/me_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/me_controller_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API

fixup! Use a combo of shards and parallel_tests gem for Ruby tests
  .github/workflows/tests.yml
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
