Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Simplified class settings, staff email locales and gateway options
  spree/core/app/mailers/spree/admin_user_mailer.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/mailers/spree/seller_user_mailer.rb
  spree/core/app/models/spree/payment/gateway_options.rb
  spree/core/lib/spree/core.rb
Due: core, Core

Removed five classes that only tests called
  docs/developer/upgrades/5.6-to-6.0.mdx
  spree/core/app/models/spree/promotion_handler/page.rb
  spree/core/app/services/spree/carts/empty.rb
  spree/core/app/services/spree/payments/create.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/app/workflows/spree/fulfillments/purchase_label.rb
  spree/core/app/workflows/spree/returns/purchase_label.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/promotion_handler/page_spec.rb
  spree/core/spec/models/spree/stock_reservation_spec.rb
  spree/core/spec/services/spree/carts/destroy_spec.rb
  spree/core/spec/services/spree/carts/empty_spec.rb
  spree/core/spec/services/spree/payments/create_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
  spree/core/spec/workflows/spree/fulfillments/purchase_label_spec.rb
  spree/core/spec/workflows/spree/returns/purchase_label_spec.rb
Due: core, Core

Fix: kept an unsaved region from a failed update over a new region name
  spree/core/app/models/spree/address.rb
  spree/core/spec/models/spree/address_spec.rb
Due: core, Core

Fix: kept a stale region when the country changed after validation
  spree/core/app/models/spree/address.rb
  spree/core/spec/models/spree/address_spec.rb
Due: core, Core

Removed five classes that only tests called (#14805)
  docs/developer/upgrades/5.6-to-6.0.mdx
  spree/core/app/models/spree/promotion_handler/page.rb
  spree/core/app/services/spree/carts/empty.rb
  spree/core/app/services/spree/payments/create.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/app/workflows/spree/fulfillments/purchase_label.rb
  spree/core/app/workflows/spree/returns/purchase_label.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/promotion_handler/page_spec.rb
  spree/core/spec/models/spree/stock_reservation_spec.rb
  spree/core/spec/services/spree/carts/destroy_spec.rb
  spree/core/spec/services/spree/carts/empty_spec.rb
  spree/core/spec/services/spree/payments/create_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
  spree/core/spec/workflows/spree/fulfillments/purchase_label_spec.rb
  spree/core/spec/workflows/spree/returns/purchase_label_spec.rb
Due: core, Core

Fix: Restored per-row timestamps on bulk inserts
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/customer_group.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/services/spree/collections/regenerate_products.rb
  spree/core/app/services/spree/coupon_codes/bulk_generate.rb
  spree/core/app/services/spree/product_memberships.rb
  spree/core/app/services/spree/products/auto_match_collections.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
Due: core, Core

Added the typed webhook events plan
  CLAUDE.md
  docs/plans/6.0-typed-webhook-events.md
  docs/plans/decisions.md
Due: none

Added the webhook events endpoint to the Admin API
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/examples/webhook-events/list.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/WebhookEvent.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/src/zod/generated/WebhookEvent.ts
  packages/admin-sdk/src/zod/generated/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  spree/api/app/controllers/spree/api/v3/admin/webhook_events_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/webhook_event_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/webhook_events_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/webhook_events_spec.rb
Due: api, API

Fixed specs to read notify_customer from event metadata
  packages/sdk/biome.json
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
  spree/core/spec/workflows/spree/orders/cancel_spec.rb
  spree/core/spec/workflows/spree/orders/complete_spec.rb
  spree/emails/spec/models/spree/order_spec.rb
  spree/emails/spec/subscribers/spree/order_email_subscriber_spec.rb
  spree/emails/spec/subscribers/spree/order_group_email_subscriber_spec.rb
Due: none

Fixed review findings on typed webhook events
  lefthook.yml
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/sdk/src/webhooks/index.ts
  packages/sdk/tests/webhooks.test.ts
  spree/api/spec/lib/spree/api/webhook_event_types_spec.rb
Due: none

Changed the webhook event picker to read the server's event catalog
  packages/dashboard/src/components/spree/webhook-endpoint-form.tsx
  packages/dashboard/src/hooks/use-webhook-endpoints.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/webhook-endpoint.ts
Due: none

Added documentation for declared and typed webhook events
  .changeset/typed-webhook-events.md
  docs/api-reference/webhooks-events.mdx
  docs/developer/core-concepts/events.mdx
  docs/developer/core-concepts/webhooks.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-typed-webhook-events.md
Due: none

Fix: webhooks e2e picked two event checkboxes for one name
  packages/dashboard/e2e/webhooks.spec.ts
Due: none

Changed the event catalog code to be simpler and cheaper
  packages/dashboard/src/components/spree/webhook-endpoint-form.tsx
  spree/api/app/controllers/spree/api/v3/admin/webhook_endpoints_controller.rb
  spree/api/lib/spree/api/webhook_event_types.rb
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/app/models/concerns/spree/publishable.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_level/custom_events.rb
  spree/core/app/models/spree/webhook_endpoint.rb
  spree/core/app/models/spree/wishlist_item.rb
  spree/core/app/models/spree/wishlist_item/custom_events.rb
  spree/core/lib/spree/events/catalog.rb
Due: core, api, Core, API

Fix: staff and seller reset events described as subscribable webhooks
  docs/api-reference/webhooks-events.mdx
  docs/developer/core-concepts/webhooks.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-typed-webhook-events.md
  docs/plans/decisions.md
  packages/sdk/src/webhooks/generated/events.ts
  packages/sdk/src/webhooks/generated/schemas.ts
  spree/api/app/controllers/spree/api/v3/admin/webhook_events_controller.rb
  spree/api/app/subscribers/spree/webhook_event_subscriber.rb
  spree/api/lib/spree/api/webhook_event_types.rb
  spree/api/spec/controllers/spree/api/v3/admin/webhook_events_controller_spec.rb
  spree/api/spec/lib/spree/api/webhook_event_types_spec.rb
  spree/api/spec/subscribers/spree/webhook_event_subscriber_spec.rb
  spree/core/app/models/concerns/spree/admin_user_methods.rb
  spree/core/app/models/concerns/spree/publishable.rb
  spree/core/lib/spree/events/catalog.rb
  spree/core/spec/lib/spree/events/catalog_spec.rb
Due: core, api, Core, API

Changed the Admin API reference to drop never-delivered webhook events
  docs/api-reference/admin.yaml
Due: none

Fixed review findings on the webhook event picker and reset specs
  packages/dashboard/src/components/spree/webhook-endpoint-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/spec/controllers/spree/api/v3/admin/password_resets_controller_spec.rb
Due: none

Fix: never-delivered events could reach webhooks before their model loaded
  spree/api/app/controllers/spree/api/v3/admin/webhook_endpoints_controller.rb
  spree/core/lib/spree/events/catalog.rb
  spree/core/spec/lib/spree/events/catalog_spec.rb
Due: core, api, Core, API

Fix: SDK type check failed on the generated webhook schema map
  packages/sdk/src/webhooks/generated/schemas.ts
  spree/api/lib/spree/api/webhook_event_types.rb
Due: api, API

Regenerated SDK types and the CLI spec after rebasing onto main
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Enums.ts
  packages/sdk/src/types/generated/ExchangeLineItem.ts
  packages/sdk/src/zod/generated/ExchangeLineItem.ts
Due: none

Fix: Stock location delete dialog matches behavior
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/es.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/e2e/stock-locations.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Fix: Stock location delete dialog matches behavior (#14807)
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/es.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/e2e/stock-locations.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Fix: An unreachable provider left an unused payment session payable
  spree/core/app/jobs/spree/payments/cancel_unused_sessions_job.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/spec/jobs/spree/base_job_spec.rb
  spree/core/spec/jobs/spree/payments/cancel_unused_sessions_job_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
Due: core, Core

Fix: A Stripe outage while reusing a session canceled an intent the buyer could still pay
  spree/core/app/models/spree/payment_method.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
Due: core, Core

Fix: A paid Stripe session still let checkout open another charge
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
Due: none

Fix: A failed Stripe session left its PaymentIntent payable
  spree/core/app/models/concerns/spree/payment_session_transitions.rb
  spree/core/app/models/spree/payment_session.rb
  spree/core/spec/jobs/spree/payments/cancel_unused_sessions_job_spec.rb
  spree/core/spec/models/spree/payment_session_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
Due: core, Core

Added a redesigned packing slip document (#14686)
  packages/dashboard/src/lib/packing-slip.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Fix: Creating a Stripe payment session always opens a new one
  docs/developer/core-concepts/payments.mdx
  docs/developer/how-to/custom-payment-method.mdx
  docs/plans/6.0-payment-gateways-monorepo.md
  docs/plans/decisions.md
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
Due: none

Small settings UX improvements
  packages/dashboard-core/src/components/settings-sidebar.tsx
  packages/dashboard-core/src/components/store-switcher.tsx
  packages/dashboard-ui/src/ui/sidebar.tsx
  packages/seller-dashboard/src/components/seller-switcher.tsx
Due: none

Removed the Stripe session examples written for handing one back
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
Due: none

Fix: An outage canceling the first unused payment session was never retried
  spree/core/app/jobs/spree/payments/cancel_unused_sessions_job.rb
  spree/core/spec/jobs/spree/payments/cancel_unused_sessions_job_spec.rb
Due: core, Core

Fix: Two Stripe payment sessions on one cart could both be charged (#14777)
  docs/developer/core-concepts/payments.mdx
  docs/developer/how-to/custom-payment-method.mdx
  docs/plans/6.0-payment-gateways-monorepo.md
  docs/plans/decisions.md
  spree/core/app/jobs/spree/payments/cancel_unused_sessions_job.rb
  spree/core/app/models/concerns/spree/payment_session_transitions.rb
  spree/core/app/models/spree/gateway/bogus.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/payment_method/session_instrumentation.rb
  spree/core/app/models/spree/payment_session.rb
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/spec/jobs/spree/base_job_spec.rb
  spree/core/spec/jobs/spree/payments/cancel_unused_sessions_job_spec.rb
  spree/core/spec/models/spree/payment_session_spec.rb
  spree/core/spec/workflows/spree/orders/complete_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/config/locales/en.yml
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
Due: core, Core

Fix: Stop re-adding product type categories when opening a product
  packages/dashboard-core/src/products/product-form-cards.tsx
Due: none

Added E2E coverage for product type category removal on reload
  packages/dashboard/e2e/products-helpers.ts
  packages/dashboard/e2e/products-type-categories.spec.ts
Due: none

Fix: Stop re-adding product type categories when opening a product (#14808)
  packages/dashboard-core/src/products/product-form-cards.tsx
  packages/dashboard/e2e/products-helpers.ts
  packages/dashboard/e2e/products-type-categories.spec.ts
Due: none

Changed the bulk price delete to refuse a rising ladder as a whole
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/prices_spec.rb
Due: api, API

Fix: deleting a price can leave a bigger order costing more per unit (V-3727)
  spree/core/app/models/spree/price.rb
  spree/core/app/services/spree/prices/bulk_destroy.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/price_spec.rb
  spree/core/spec/services/spree/prices/bulk_destroy_spec.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
