Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Change invalid/expired invitation handling to render 404 page (#13988)
  spree/admin/app/controllers/spree/admin/invitations_controller.rb
  spree/admin/app/views/spree/admin/invitations/expired.html.erb
  spree/admin/spec/controllers/spree/admin/invitations_controller_spec.rb
  spree/core/config/locales/en.yml
Due: core, admin, Admin

Fix orphaned inventory units when destroying line items on completed … (#13999)
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order_inventory.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/order_inventory_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

Include gift card in order email (#14012)
  spree/emails/app/views/spree/shared/_purchased_items_table.html.erb
  spree/emails/app/views/spree/shared/_purchased_items_table.text.erb
Due: emails, Emails

Fix handling auth/capture flow in Payment Sessions webhooks flow (#14014)
  spree/core/app/services/spree/payments/handle_webhook.rb
  spree/core/spec/services/spree/payments/handle_webhook_spec.rb
Due: core, Core

Update all badges when shipping to improve UX (#14016)
  spree/admin/app/views/spree/admin/orders/_shipment.html.erb
Due: admin, Admin

Fixed undefined method 'update_thumbnail!' for nil (#14018)
  spree/admin/spec/controllers/spree/admin/assets_controller_spec.rb
  spree/core/app/models/spree/asset.rb
  spree/core/spec/models/spree/asset_spec.rb
Due: core, Core

Potential fix for code scanning alert no. 111: Workflow does not contain permissions (#14021)
  .github/workflows/spelling_lint.yml
Due: none

Use correct even names in docs, specs, examples, comments. (#14017)
  CLAUDE.md
  docs/developer/core-concepts/events.mdx
  docs/developer/upgrades/5.3-to-5.4.mdx
  spree/core/app/jobs/spree/events/subscriber_job.rb
  spree/core/app/models/concerns/spree/publishable.rb
  spree/core/app/models/spree/event.rb
  spree/core/app/models/spree/subscriber.rb
  spree/core/app/subscribers/spree/event_log_subscriber.rb
  spree/core/lib/spree/events.rb
  spree/core/lib/spree/events/adapters/active_support_notifications.rb
  spree/core/lib/spree/events/adapters/base.rb
  spree/core/lib/spree/events/registry.rb
  spree/core/spec/lib/spree/events/registry_spec.rb
  spree/core/spec/models/spree/event_spec.rb
  spree/core/spec/models/spree/subscriber_spec.rb
  spree/core/spec/subscribers/spree/event_log_subscriber_spec.rb
Due: core, Core

improve admin product bulk actions permissions (#13960)
  spree/admin/app/controllers/spree/admin/bulk_operations_controller.rb
  spree/admin/config/initializers/spree_admin_tables.rb
Due: admin, Admin

State Based Zone -> update states on country change (#13940)
  spree/admin/app/controllers/spree/admin/states_controller.rb
  spree/admin/app/controllers/spree/admin/zones_controller.rb
  spree/admin/app/javascript/spree/admin/application.js
  spree/admin/app/javascript/spree/admin/controllers/zone_state_select_controller.js
  spree/admin/app/views/spree/admin/zones/_state_members.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/config/routes.rb
  spree/admin/spec/controllers/spree/admin/states_controller_spec.rb
Due: admin, Admin

Remove CLA CI pipeline (#14030)
  .github/workflows/cla.yml
Due: none

make admin line item partial more robust for spree multi vendor (#13937)
  spree/admin/app/views/spree/admin/orders/_line_item.html.erb
Due: admin, Admin

FIX datetime filter to respect EOD (#13750)
  spree/admin/app/controllers/spree/admin/resource_controller.rb
  spree/admin/spec/controllers/spree/admin/resource_controller_spec.rb
Due: admin, Admin

Rename `status` to `enum` in table registry
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/lib/table-registry.ts
  packages/admin/src/tables/orders.tsx
  packages/admin/src/tables/products.tsx
  packages/admin/src/tables/stock-locations.tsx
Due: none

Move Stock transfer to just Product Transfers in nav
  CLAUDE.md
  docs/plans/6.0-inventory-operations.md
  packages/admin/src/nav/default.ts
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId/products/stock/-tabs.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/transfers.tsx
Due: none

Add `<ResourceNameCell>` component to standardize displaying resource names in tables
  packages/admin/src/components/spree/resource-name-cell.tsx
  packages/admin/src/tables/payment-methods.tsx
  packages/admin/src/tables/promotions.tsx
  packages/admin/src/tables/stock-locations.tsx
  packages/admin/src/tables/stock-transfers.tsx
  packages/admin/src/tables/tax-categories.tsx
Due: none

Added color picker component
  packages/admin/package.json
  packages/admin/src/components/spree/color-picker.tsx
  packages/admin/src/index.css
  pnpm-lock.yaml
Due: none

Improve Admin UI styling
  packages/admin/src/components/spree/drag-handle.tsx
  packages/admin/src/components/spree/export-button.tsx
  packages/admin/src/components/spree/promotion-editors/match-policy-picker.tsx
  packages/admin/src/components/spree/resource-table.tsx
  packages/admin/src/components/spree/secret-input.tsx
  packages/admin/src/components/spree/settings-sidebar.tsx
  packages/admin/src/components/spree/top-bar.tsx
  packages/admin/src/components/ui/badge.tsx
  packages/admin/src/components/ui/data-table.tsx
  packages/admin/src/components/ui/dialog.tsx
  packages/admin/src/components/ui/input.tsx
  packages/admin/src/components/ui/select.tsx
  packages/admin/src/components/ui/sheet.tsx
  packages/admin/src/components/ui/sidebar.tsx
  packages/admin/src/index.css
Due: none

Add ability to manage option tyoes and values in Admin SPA
  CLAUDE.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/OptionType.ts
  packages/admin/src/components/ui/badge.tsx
  packages/admin/src/hooks/use-option-types.ts
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/options.tsx
  packages/admin/src/tables/option-types.tsx
  spree/api/app/controllers/spree/api/v3/admin/option_types_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/option_type_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/option_types_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/option_types_spec.rb
  spree/core/app/models/spree/option_type.rb
  spree/core/app/services/spree/option_types/create.rb
  spree/core/app/services/spree/option_types/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/option_type_spec.rb
  spree/core/spec/services/spree/option_types/create_spec.rb
  spree/core/spec/services/spree/option_types/update_spec.rb
Due: core, api, Core, API

Fixed enum filtering
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/tables/option-types.tsx
Due: none

Add more Admin SPA e2e tests
  CLAUDE.md
  packages/admin/e2e/auth.spec.ts
  packages/admin/e2e/customers.spec.ts
  packages/admin/e2e/fixtures.ts
  packages/admin/e2e/global-setup.ts
  packages/admin/e2e/helpers.ts
  packages/admin/e2e/invitation-acceptance.spec.ts
  packages/admin/e2e/option-types.spec.ts
  packages/admin/e2e/payment-methods.spec.ts
  packages/admin/e2e/promotions.spec.ts
  packages/admin/e2e/stock-locations.spec.ts
  packages/admin/e2e/stock-transfers.spec.ts
  packages/admin/e2e/tax-categories.spec.ts
Due: none

fixes
  packages/admin/e2e/customers.spec.ts
  packages/admin/e2e/global-setup.ts
  packages/admin/e2e/helpers.ts
  packages/admin/e2e/invitation-acceptance.spec.ts
  packages/admin/e2e/option-types.spec.ts
  packages/admin/e2e/payment-methods.spec.ts
  packages/admin/e2e/promotions.spec.ts
  packages/admin/e2e/stock-locations.spec.ts
  packages/admin/e2e/stock-transfers.spec.ts
  packages/admin/e2e/tax-categories.spec.ts
Due: none

Add more Admin SPA e2e tests (#14039)
  CLAUDE.md
  packages/admin/e2e/auth.spec.ts
  packages/admin/e2e/customers.spec.ts
  packages/admin/e2e/fixtures.ts
  packages/admin/e2e/global-setup.ts
  packages/admin/e2e/helpers.ts
  packages/admin/e2e/invitation-acceptance.spec.ts
  packages/admin/e2e/option-types.spec.ts
  packages/admin/e2e/payment-methods.spec.ts
  packages/admin/e2e/promotions.spec.ts
  packages/admin/e2e/stock-locations.spec.ts
  packages/admin/e2e/stock-transfers.spec.ts
  packages/admin/e2e/tax-categories.spec.ts
Due: none

Assign default store automatically to newsletter subscriber
  spree/admin/spec/controllers/spree/admin/newsletter_subscribers_controller_spec.rb
  spree/core/lib/spree/testing_support/factories/newsletter_subscriber_factory.rb
Due: none

remove one more redundant store assignment
  spree/core/spec/lib/tasks/core_spec.rb
Due: none

Add store_id to Spree::NewsletterSubscriber (#14035)
  spree/admin/spec/controllers/spree/admin/newsletter_subscribers_controller_spec.rb
  spree/core/app/models/spree/newsletter_subscriber.rb
  spree/core/app/models/spree/order/checkout.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
  spree/core/db/migrate/20260515000001_add_store_id_to_spree_newsletter_subscribers.rb
  spree/core/lib/spree/testing_support/factories/newsletter_subscriber_factory.rb
  spree/core/lib/tasks/core.rake
  spree/core/spec/models/spree/newsletter_subscriber_spec.rb
  spree/core/spec/models/spree/order/checkout_spec.rb
  spree/core/spec/services/spree/newsletter/subscribe_spec.rb
  spree/emails/app/mailers/spree/newsletter_mailer.rb
  spree/emails/app/subscribers/spree/newsletter_subscriber_email_subscriber.rb
  spree/emails/spec/subscribers/spree/newsletter_subscriber_email_subscriber_spec.rb
Due: core, emails, Core, Emails

Fix cart item removal when an order holds its own stock reservation
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/stock/availability_validator.rb
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/spec/models/spree/stock/quantifier_spec.rb
  spree/core/spec/services/spree/cart/remove_out_of_stock_items_spec.rb
Due: core, Core

Address review: guard unsaved excluded order, dedup scope, preload reservations
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/stock_reservation.rb
  spree/core/app/services/spree/cart/remove_out_of_stock_items.rb
  spree/core/spec/models/spree/stock/quantifier_spec.rb
Due: core, Core

Inline order exclusion instead of a single-use scope
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/stock_reservation.rb
Due: core, Core

Fix data migration part of the `20260515000001_add_store_id_to_spree_newsletter_subscribers` migration.
  spree/core/db/migrate/20260515000001_add_store_id_to_spree_newsletter_subscribers.rb
Due: core

Skip reservation reject when no order is excluded
  spree/core/app/models/spree/stock/quantifier.rb
Due: core, Core

Exclude order's own reservations from stock availability checks (#14040)
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/stock/availability_validator.rb
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/services/spree/cart/remove_out_of_stock_items.rb
  spree/core/spec/models/spree/stock/quantifier_spec.rb
  spree/core/spec/services/spree/cart/remove_out_of_stock_items_spec.rb
Due: core, Core

Skip running `20260515000001_add_store_id_to_spree_newsletter_subscribers.rb` on spree_multi_tenant
  spree/core/db/migrate/20260515000001_add_store_id_to_spree_newsletter_subscribers.rb
Due: core

Skip running `20260515000001_add_store_id_to_spree_newsletter_subscribers.rb` on spree_multi_tenant (#14042)
  spree/core/db/migrate/20260515000001_add_store_id_to_spree_newsletter_subscribers.rb
Due: core

Add `<Checkbox>` and `<RadioGroup>` components
  packages/admin/e2e/promotions.spec.ts
  packages/admin/src/components/spree/address-form-dialog.tsx
  packages/admin/src/components/spree/export-button.tsx
  packages/admin/src/components/spree/promotion-editors/match-policy-picker.tsx
  packages/admin/src/components/ui/checkbox.tsx
  packages/admin/src/components/ui/radio-group.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/staff.tsx
Due: none

Add `<BulkAction>` component
  packages/admin/src/components/spree/bulk-action-bar.tsx
Due: none

Implement Customer Groups in Admin SPA
  docs/api-reference/admin.yaml
  packages/admin-sdk/examples/customer-groups/create.ts
  packages/admin-sdk/examples/customer-groups/delete.ts
  packages/admin-sdk/examples/customer-groups/get.ts
  packages/admin-sdk/examples/customer-groups/list.ts
  packages/admin-sdk/examples/customer-groups/update.ts
  packages/admin-sdk/examples/customers/bulk-add-to-groups.ts
  packages/admin-sdk/examples/customers/bulk-remove-from-groups.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/admin-sdk/src/types/generated/CustomerGroup.ts
  packages/admin/e2e/customer-groups.spec.ts
  packages/admin/e2e/customers.spec.ts
  packages/admin/src/components/spree/promotion-editors/rule-customer-group.tsx
  packages/admin/src/components/spree/resource-table.tsx
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/hooks/use-customer-groups.ts
  packages/admin/src/lib/filters-to-ransack.ts
  packages/admin/src/lib/permissions.ts
  packages/admin/src/lib/table-registry.ts
  packages/admin/src/nav/default.ts
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId/customers/groups.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/index.tsx
  packages/admin/src/tables/customer-groups.tsx
  packages/admin/src/tables/customers.tsx
  spree/api/app/controllers/spree/api/v3/admin/customer_groups_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/customer_group_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/customer_groups_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/customer_groups_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/customers_spec.rb
  spree/core/app/models/concerns/spree/user_methods.rb
  spree/core/app/models/spree/customer_group.rb
Due: core, api, Core, API

fix deprecation warning on destroying CC
  spree/core/app/services/spree/credit_cards/destroy.rb
Due: core, Core

fix deprecation warning on destroying CC (#14044)
  spree/core/app/services/spree/credit_cards/destroy.rb
Due: core, Core

Use Shadcn `<Empty>` component
  packages/admin/src/components/spree/custom-fields/custom-fields-card.tsx
  packages/admin/src/components/spree/custom-fields/custom-fields-drawer.tsx
  packages/admin/src/components/spree/empty-state.tsx
  packages/admin/src/components/spree/metadata/metadata-card.tsx
  packages/admin/src/components/spree/resource-table.tsx
  packages/admin/src/components/spree/route-error-boundary.tsx
  packages/admin/src/components/ui/empty.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/admin/src/tables/customer-groups.tsx
  packages/admin/src/tables/customers.tsx
  packages/admin/src/tables/option-types.tsx
  packages/admin/src/tables/orders.tsx
  packages/admin/src/tables/payment-methods.tsx
  packages/admin/src/tables/products.tsx
  packages/admin/src/tables/promotions.tsx
  packages/admin/src/tables/stock-locations.tsx
  packages/admin/src/tables/stock-transfers.tsx
  packages/admin/src/tables/tax-categories.tsx
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
