Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Drop orphaned confirmation email, sweep Devise mentions + docs (platform-auth Phase 6)
  .claude/settings.local.json
  docs/developer/admin/admin.mdx
  docs/developer/admin/authentication.mdx
  docs/developer/admin/extending-ui.mdx
  docs/developer/admin/tables.mdx
  docs/developer/advanced/adding_spree_to_rails_app.mdx
  docs/developer/core-concepts/events.mdx
  docs/developer/core-concepts/imports-exports.mdx
  docs/developer/core-concepts/users.mdx
  docs/developer/customization/authentication.mdx
  docs/developer/customization/permissions.mdx
  docs/developer/customization/quickstart.mdx
  docs/developer/how-to/custom-api-authentication.mdx
  docs/developer/storefront/rails/helper-methods.mdx
  docs/plans/6.0-platform-auth.md
  docs/plans/decisions.md
  spree/core/app/mailers/spree/admin_user_mailer.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/views/spree/admin_user_mailer/confirmation_email.html.erb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/controller_helpers/auth.rb
  spree/core/lib/spree/core/previews/admin_user_preview.rb
  spree/core/lib/spree/core/routes.rb
  spree/core/spec/mailers/spree/admin_user_mailer_spec.rb
  spree/core/spec/mailers/spree/base_mailer_spec.rb
  spree/core/spec/services/spree/account/create_spec.rb
Due: core, Core

Add 6.0 changesets and thread expand through the zones integration spec
  .changeset/six-zero-admin-sdk.md
  .changeset/six-zero-dashboard.md
  .changeset/six-zero-store-api-line.md
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/spec/integration/spree/api/v3/admin/delivery_settings_spec.rb
Due: none

V-3518 restrict_cancelled_order_management
  spree/core/app/models/spree/permission_sets/base.rb
  spree/core/app/models/spree/permission_sets/order_management.rb
  spree/core/app/models/spree/permission_sets/super_user.rb
  spree/core/spec/models/spree/permission_sets/order_management_spec.rb
  spree/core/spec/models/spree/permission_sets/super_user_spec.rb
Due: core, Core

V-3518
  spree/core/app/models/spree/permission_sets/base.rb
Due: core, Core

V-3518
  spree/core/spec/models/spree/permission_sets/order_management_spec.rb
Due: none

Drop the legacy admin shipment branch from cart recalculation
  spree/core/app/services/spree/carts/recalculate.rb
  spree/core/spec/services/spree/carts/legacy_add_item_spec.rb
  spree/core/spec/services/spree/carts/legacy_remove_item_spec.rb
  spree/core/spec/services/spree/carts/legacy_remove_line_item_spec.rb
  spree/core/spec/services/spree/line_items/destroy_spec.rb
  spree/core/spec/services/spree/line_items/update_spec.rb
Due: core, Core

Deprecate OrderMerger and rename ensure_updated_shipments
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_merger.rb
  spree/core/app/services/spree/carts/recalculate.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/spec/services/spree/carts/legacy_add_item_spec.rb
  spree/core/spec/services/spree/carts/legacy_remove_item_spec.rb
  spree/core/spec/services/spree/carts/legacy_remove_line_item_spec.rb
  spree/core/spec/services/spree/line_items/destroy_spec.rb
  spree/core/spec/services/spree/line_items/update_spec.rb
Due: core, Core

Convert PickupPointOption from Struct to an ActiveModel class
  CLAUDE.md
  spree/core/app/models/spree/pickup_point_option.rb
  spree/core/spec/models/spree/pickup_point_option_spec.rb
Due: core, Core

feat(dashboard): redesign user dropdown theme and language preferences
  .changeset/dashboard-preferences-theme-language.md
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-ui/src/spree/language-menu-items.tsx
  packages/dashboard-ui/src/spree/theme-toggle.tsx
  packages/dashboard-ui/src/ui/dropdown-menu.tsx
Due: none

Rename LineItem#target_shipment to target_fulfillment
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order_inventory.rb
  spree/core/app/services/spree/carts/add_item.rb
  spree/core/app/services/spree/carts/remove_item.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/order_inventory_spec.rb
Due: core, Core

Redesign user dropdown preferences into compact theme & language controls (#14378)
  .changeset/dashboard-preferences-theme-language.md
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-ui/src/spree/language-menu-items.tsx
  packages/dashboard-ui/src/spree/theme-toggle.tsx
  packages/dashboard-ui/src/ui/dropdown-menu.tsx
Due: none

chore: point ruby-lsp at spree/Gemfile in Zed settings
  .zed/settings.json
Due: none

chore: point rubocop at spree/Gemfile in Zed settings
  .zed/settings.json
Due: none

Make the Rails app template a headless, gem-owned install
  packages/dashboard/src/routes/login.tsx
  spree/core/db/migrate/20250122113708_add_first_and_last_name_to_spree_admin_class.rb
  spree/core/db/migrate/20250508060800_add_selected_locale_to_spree_admin_users.rb
  spree/template.rb
Due: core

Reconcile platform-auth plan status with landed work
  docs/plans/6.0-platform-auth.md
Due: none

Configure LSP for Ruby development in Spree monorepo (#14379)
  .zed/settings.json
Due: none

Cart services speak cart:, draft orders get their own seams
  spree/api/app/controllers/spree/api/v3/admin/orders/items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/core/app/finders/spree/line_items/find_by_variant.rb
  spree/core/app/models/spree/promotion/actions/create_line_items.rb
  spree/core/app/models/spree/promotion_handler/coupon.rb
  spree/core/app/services/spree/carts/add_item.rb
  spree/core/app/services/spree/carts/associate.rb
  spree/core/app/services/spree/carts/complete.rb
  spree/core/app/services/spree/carts/destroy.rb
  spree/core/app/services/spree/carts/empty.rb
  spree/core/app/services/spree/carts/recalculate.rb
  spree/core/app/services/spree/carts/remove_item.rb
  spree/core/app/services/spree/carts/remove_line_item.rb
  spree/core/app/services/spree/carts/remove_out_of_stock_items.rb
  spree/core/app/services/spree/carts/set_quantity.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/services/spree/carts/upsert_items.rb
  spree/core/app/services/spree/orders/add_item.rb
  spree/core/app/services/spree/orders/build_fulfillments.rb
  spree/core/app/services/spree/orders/create.rb
  spree/core/app/services/spree/orders/recalculate.rb
  spree/core/app/services/spree/orders/remove_item.rb
  spree/core/app/services/spree/orders/remove_line_item.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/app/services/spree/orders/update_item.rb
  spree/core/app/services/spree/orders/upsert_items.rb
  spree/core/app/services/spree/stock_reservations/extend.rb
  spree/core/app/services/spree/stock_reservations/release.rb
  spree/core/app/services/spree/stock_reservations/reserve.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/service_module.rb
  spree/core/spec/services/spree/orders/item_services_spec.rb
Due: core, api, Core, API

Record the provider architecture decisions
  CLAUDE.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
Due: none

Remove the dead API v2 service layer
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/line_items/create.rb
  spree/core/app/services/spree/line_items/destroy.rb
  spree/core/app/services/spree/line_items/helper.rb
  spree/core/app/services/spree/line_items/update.rb
  spree/core/app/services/spree/orders/update_contact_information.rb
  spree/core/app/services/spree/shipments/add_item.rb
  spree/core/app/services/spree/shipments/change_state.rb
  spree/core/app/services/spree/shipments/create.rb
  spree/core/app/services/spree/shipments/helper.rb
  spree/core/app/services/spree/shipments/remove_item.rb
  spree/core/spec/services/spree/line_items/create_spec.rb
  spree/core/spec/services/spree/line_items/destroy_spec.rb
  spree/core/spec/services/spree/line_items/update_spec.rb
  spree/core/spec/services/spree/shipments/add_item_spec.rb
  spree/core/spec/services/spree/shipments/create_spec.rb
  spree/core/spec/services/spree/shipments/remove_item_spec.rb
Due: core, Core

Wire status recomputation to its event triggers
  spree/core/app/models/spree/order_updater.rb
  spree/core/app/subscribers/spree/order_status_subscriber.rb
  spree/core/spec/subscribers/spree/order_status_subscriber_spec.rb
Due: core, Core

chore: point Ruby LSP at spree/Gemfile in Cursor/VS Code settings
  .gitignore
  .vscode/settings.json
Due: none

Revert developer docs changes; keep docs/plans
  docs/developer/admin/admin.mdx
  docs/developer/admin/authentication.mdx
  docs/developer/admin/extending-ui.mdx
  docs/developer/admin/tables.mdx
  docs/developer/advanced/adding_spree_to_rails_app.mdx
  docs/developer/core-concepts/events.mdx
  docs/developer/core-concepts/imports-exports.mdx
  docs/developer/core-concepts/users.mdx
  docs/developer/customization/authentication.mdx
  docs/developer/customization/permissions.mdx
  docs/developer/customization/quickstart.mdx
  docs/developer/how-to/custom-api-authentication.mdx
  docs/developer/storefront/rails/helper-methods.mdx
Due: none

Import spine on ActiveJob Continuations
  CLAUDE.md
  docs/plans/6.0-service-workflows.md
  spree/api/spec/controllers/spree/api/v3/admin/imports_controller_spec.rb
  spree/core/app/jobs/spree/imports/create_rows_job.rb
  spree/core/app/jobs/spree/imports/process_job.rb
  spree/core/app/jobs/spree/imports/process_rows_job.rb
  spree/core/app/models/spree/import.rb
  spree/core/spec/jobs/spree/imports/create_rows_job_spec.rb
  spree/core/spec/jobs/spree/imports/process_job_spec.rb
  spree/core/spec/jobs/spree/imports/process_rows_job_spec.rb
  spree/core/spec/models/spree/import_spec.rb
  spree/core/spec/services/spree/sample_data/import_runner_spec.rb
Due: core, Core

Order cancellation graduates to the workflow tier
  CLAUDE.md
  docs/plans/6.0-service-workflows.md
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/core/app/jobs/spree/orders/finalize_stale_drafts_job.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/promotion/actions/create_line_items.rb
  spree/core/app/services/spree/carts/remove_item.rb
  spree/core/app/services/spree/carts/remove_line_item.rb
  spree/core/app/services/spree/carts/set_quantity.rb
  spree/core/app/services/spree/checkout/complete.rb
  spree/core/app/services/spree/orders/cancel.rb
  spree/core/app/services/spree/orders/complete.rb
  spree/core/app/services/spree/payments/handle_webhook.rb
  spree/core/app/workflows/spree/carts/add_item.rb
  spree/core/app/workflows/spree/carts/recalculate.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/app_dependencies_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/workflows/spree/orders/cancel_spec.rb
Due: core, api, Core, API

Require a password on Store API customer self-registration
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/customers_controller_spec.rb
Due: api, API

Workflows compose named steps inside a plain perform method
  CLAUDE.md
  docs/plans/6.0-service-workflows.md
  spree/core/app/models/spree/order.rb
  spree/core/app/workflows/spree/carts/add_item.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/carts/recalculate.rb
  spree/core/app/workflows/spree/carts/recalculate_totals.rb
  spree/core/app/workflows/spree/orders/add_item.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/app/workflows/spree/orders/recalculate.rb
  spree/core/app/workflows/spree/orders/recalculate_totals.rb
  spree/core/app/workflows/spree/orders/resume.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/hooks.rb
  spree/core/lib/spree/workflow.rb
  spree/core/spec/lib/spree/workflow_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/workflows/spree/orders/resume_spec.rb
Due: core, Core

Slim Cart and Order into shared Purchase concerns
  spree/core/app/models/concerns/spree/purchase/checkout_steps.rb
  spree/core/app/models/concerns/spree/purchase/digital_items.rb
  spree/core/app/models/concerns/spree/purchase/gift_cards.rb
  spree/core/app/models/concerns/spree/purchase/line_item_currencies.rb
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/concerns/spree/purchase/store_credits.rb
  spree/core/app/models/concerns/spree/purchase/taxation.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/cart_updater.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order/address_book.rb
  spree/core/app/models/spree/order/checkout.rb
  spree/core/app/models/spree/order/digital.rb
  spree/core/app/models/spree/order/gift_card.rb
  spree/core/app/models/spree/order/payments.rb
  spree/core/app/models/spree/order/webhooks.rb
  spree/core/app/services/spree/carts/empty.rb
  spree/core/app/services/spree/checkout/add_store_credit.rb
  spree/core/app/services/spree/fulfillments/auto_fulfill.rb
  spree/core/app/subscribers/spree/order_placed_subscriber.rb
  spree/core/app/workflows/spree/carts/recalculate.rb
  spree/core/app/workflows/spree/carts/recalculate_totals.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/app/workflows/spree/orders/resume.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/order/checkout_spec.rb
  spree/core/spec/models/spree/order/finalizing_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/order_updater_spec.rb
Due: core, Core

Move order discount/fee mutations behind Tier 1 services
  spree/api/app/controllers/spree/api/v3/admin/orders/discounts_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/fees_controller.rb
  spree/core/app/services/spree/orders/discounts/destroy.rb
  spree/core/app/services/spree/orders/discounts/update.rb
  spree/core/app/services/spree/orders/fees/create.rb
  spree/core/app/services/spree/orders/fees/destroy.rb
  spree/core/app/services/spree/orders/fees/update.rb
  spree/core/lib/spree/core/dependencies.rb
Due: core, api, Core, API

Address platform-auth review: finish customer rename + harden migration and lockout
  docs/plans/6.0-platform-auth.md
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/gift_card_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/core/app/models/concerns/spree/account_lockout.rb
  spree/core/app/models/spree/authentication/strategies/email_password_strategy.rb
  spree/core/app/models/spree/credit_card.rb
  spree/core/app/models/spree/gateway_customer.rb
  spree/core/app/models/spree/order/address_book.rb
  spree/core/app/models/spree/promotion/rules/user.rb
  spree/core/app/models/spree/reimbursement_type/reimbursement_helpers.rb
  spree/core/app/models/spree/store_credit.rb
  spree/core/app/models/spree/wishlist.rb
  spree/core/app/services/spree/gift_cards/apply.rb
  spree/core/db/migrate/20260728000000_create_spree_customers_and_admin_users.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/migrate_users_to_customers.rake
  spree/core/spec/lib/tasks/migrate_users_to_customers_spec.rb
  spree/core/spec/models/spree/authentication/strategies/email_password_strategy_spec.rb
  spree/core/spec/support/shared_examples/account_lockout.rb
Due: core, api, Core, API

WIP base: uncommitted working-copy state from feature/6-0-core-rewrite
  .zed/settings.json
  packages/dashboard-core/src/components/page-header.tsx
  packages/dashboard-ui/src/spree/back-button.tsx
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/services/spree/carts/empty.rb
  spree/core/app/services/spree/orders/add_manual_discount.rb
  spree/core/app/services/spree/orders/recompute_statuses.rb
  spree/core/app/services/spree/shipments/update.rb
  spree/core/app/workflows/spree/carts/recalculate.rb
  spree/core/app/workflows/spree/carts/recalculate_totals.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

Rename Shipments::Update and RecomputeStatuses to their 6.0 names
  CLAUDE.md
  docs/plans/6.0-cart-order-split.md
  docs/plans/6.0-core-rewrite-tasks.md
  spree/admin/app/controllers/spree/admin/shipments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_updater.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/services/spree/fulfillments/update.rb
  spree/core/app/services/spree/orders/update_statuses.rb
  spree/core/app/services/spree/shipments/update.rb
  spree/core/app/subscribers/spree/order_status_subscriber.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/carts/recalculate_totals.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/app/workflows/spree/orders/resume.rb
  spree/core/db/sample_data/orders.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/app_dependencies_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, api, admin, Core, API, Admin

Cover reviewed platform-auth fixes; migrate addresses service off alias
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/newsletter_subscribers_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/order_serializer_spec.rb
  spree/core/app/services/spree/addresses/update.rb
  spree/core/spec/lib/tasks/migrate_users_to_customers_spec.rb
Due: core, Core

Match customer email case-insensitivity in the migration preflight
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/core/lib/tasks/migrate_users_to_customers.rake
  spree/core/spec/lib/tasks/migrate_users_to_customers_spec.rb
Due: core, Core

Fix migration conflict preflight returning no rows on MySQL
  spree/core/lib/tasks/migrate_users_to_customers.rake
Due: core, Core

Extract Market/Locale/Currency/Channel code to Purchase concerns
  spree/core/app/models/concerns/spree/purchase/channel.rb
  spree/core/app/models/concerns/spree/purchase/currency.rb
  spree/core/app/models/concerns/spree/purchase/locale.rb
  spree/core/app/models/concerns/spree/purchase/market.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/order.rb
Due: core, Core

Fixed deprecations when calling old method names
  spree/api/spec/controllers/spree/api/v3/admin/orders/fulfillments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/fulfillments_spec.rb
  spree/api/spec/serializers/spree/api/v3/delivery_rate_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/fulfillment_serializer_spec.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/presenters/spree/csv/order_line_item_presenter.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/services/spree/orders/build_fulfillments.rb
  spree/core/spec/models/spree/calculator/shipping/digital_delivery_spec.rb
  spree/core/spec/models/spree/delivery_method_spec.rb
  spree/core/spec/models/spree/delivery_rate_spec.rb
  spree/core/spec/models/spree/fulfilment_changer_spec.rb
  spree/core/spec/models/spree/inventory_unit_spec.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/order/digital_spec.rb
  spree/core/spec/models/spree/order/payment_spec.rb
  spree/core/spec/models/spree/order/shipments_spec.rb
  spree/core/spec/models/spree/order/totals_spec.rb
  spree/core/spec/models/spree/order_inventory_spec.rb
  spree/core/spec/models/spree/order_merger_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/order_updater_spec.rb
  spree/core/spec/models/spree/promotion/actions/create_line_items_spec.rb
  spree/core/spec/models/spree/promotion_handler/coupon_spec.rb
  spree/core/spec/models/spree/promotion_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/models/spree/shipping_method_spec.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
  spree/core/spec/services/spree/checkout/add_store_credit_spec.rb
  spree/core/spec/services/spree/checkout/select_shipping_method_spec.rb
  spree/core/spec/services/spree/fulfillments/create_spec.rb
  spree/core/spec/services/spree/orders/create_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
  spree/core/spec/workflows/spree/carts/recalculate_totals_spec.rb
Due: core, Core

Make SingleStoreResource concern now useful for something
  docs/plans/5.6-6.0-single-store-promotions-payment-methods.md
  docs/plans/6.0-delivery-rate-provider.md
  docs/plans/6.0-product-types.md
  spree/core/app/models/concerns/spree/legacy_multi_store_support.rb
  spree/core/app/models/concerns/spree/single_store_resource.rb
  spree/core/app/models/concerns/spree/store_scoped_resource.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/app/models/spree/category.rb
  spree/core/app/models/spree/customer_group.rb
  spree/core/app/models/spree/customer_return.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/delivery_zone.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product_type.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/role_user.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/lib/spree/core/configuration.rb
Due: core, Core

Streamline Cart model + add tests
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/cart_updater.rb
  spree/core/db/migrate/20260728000003_create_spree_carts.rb
  spree/core/spec/models/spree/cart_spec.rb
  spree/core/spec/models/spree/order/adjustments_spec.rb
Due: core, Core

Rename `Orders::AddManualDiscount` to `Orders::Discounts::Create`
  spree/api/app/controllers/spree/api/v3/admin/orders/discounts_controller.rb
  spree/core/app/services/spree/orders/add_manual_discount.rb
  spree/core/app/services/spree/orders/discounts/create.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/orders/discounts/create_spec.rb
  spree/core/spec/services/spree/orders/discounts/destroy_spec.rb
  spree/core/spec/services/spree/orders/discounts/update_spec.rb
  spree/core/spec/services/spree/orders/fees/create_spec.rb
  spree/core/spec/services/spree/orders/fees/destroy_spec.rb
  spree/core/spec/services/spree/orders/fees/update_spec.rb
Due: core, api, Core, API
