Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Address review: close the ransack company leak, unblock removals
  docs/plans/6.1-order-change-substrate.md
  packages/dashboard/src/schemas/order.test.ts
  packages/dashboard/src/schemas/order.ts
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/config/locales/en.yml
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
Due: core, Core

Drop negating operators on scope-backed table filters
  packages/dashboard-core/src/lib/filters-to-ransack.test.ts
  packages/dashboard-core/src/lib/filters-to-ransack.ts
Due: none

Drop the cross-store customer/company machinery
  docs/plans/6.0-b2b-companies-and-catalogs.md
  packages/admin-sdk/src/types/generated/Customer.ts
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/api/spec/serializers/spree/api/v3/admin/customer_serializer_spec.rb
  spree/core/app/models/concerns/spree/customer_methods.rb
Due: core, api, Core, API

Added `/implement-plan` agent command
  .claude/commands/implement-plan.md
  CLAUDE.md
Due: none

Trim the comments to what is not obvious from the code
  packages/dashboard-core/src/lib/filters-to-ransack.ts
  packages/dashboard-core/src/lib/table-registry.ts
  packages/dashboard/src/components/spree/orders/order-edit-items-table.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/edit.tsx
  packages/dashboard/src/schemas/order.ts
  packages/dashboard/src/tables/customers.tsx
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/app/services/spree/carts/price_items.rb
  spree/core/app/services/spree/orders/create.rb
  spree/core/app/services/spree/orders/create_from_cart.rb
  spree/core/app/services/spree/orders/update_item.rb
  spree/core/app/workflows/spree/carts/add_item.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
Due: core, api, Core, API

Stand up a catalog and the price list it prices through in one request
  docs/plans/6.0-catalog-agreement-rework.md
  packages/admin-sdk/src/types/generated/Catalog.ts
  packages/dashboard/src/components/spree/catalog-pricing-fields.tsx
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/catalog.ts
  packages/dashboard/src/schemas/price-list.ts
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/core/app/workflows/spree/catalogs/create.rb
  spree/core/app/workflows/spree/catalogs/set_price_list.rb
  spree/core/app/workflows/spree/catalogs/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/workflows/spree/catalogs/set_price_list_spec.rb
Due: core, api, Core, API

Derive price list prices from a percentage adjustment
  packages/admin-sdk/src/types/generated/PriceList.ts
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/price-list.ts
  spree/api/app/controllers/spree/api/v3/admin/price_lists_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/price_list_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/price_lists_controller_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260830000002_add_price_adjustment_to_spree_price_lists.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/pricing_provider/internal_resolution_spec.rb
Due: core, api, Core, API

Declare the inline price_list payload on CatalogParams
  packages/admin-sdk/src/params.ts
Due: none

Delete a catalog's price list rather than releasing it, and fix the editor
  docs/developer/core-concepts/catalogs.mdx
  docs/plans/6.0-catalog-agreement-rework.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Catalog.ts
  packages/dashboard/src/components/spree/catalog-pricing-fields.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/price-lists/index.tsx
  packages/dashboard/src/schemas/catalog.ts
  packages/dashboard/src/tables/catalogs.tsx
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/workflows/spree/catalogs/set_price_list.rb
  spree/core/db/migrate/20260825000001_create_spree_catalogs.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/workflows/spree/catalogs/set_price_list_spec.rb
Due: core, api, Core, API

Report why an invalid price list was rejected, and keep the catalog's timestamp honest
  docs/plans/6.0-catalog-agreement-rework.md
  spree/core/app/models/spree/catalog.rb
  spree/core/spec/models/spree/catalog_spec.rb
Due: core, Core

Address review: empty payload is not a removal, and zero is not a discount
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/schemas/price-list.ts
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/workflows/spree/catalogs/set_price_list.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/workflows/spree/catalogs/set_price_list_spec.rb
Due: core, Core

Reserve the percentage adjustment for catalog-owned price lists
  CLAUDE.md
  docs/plans/6.0-price-list-automatic-pricing.md
  docs/plans/decisions.md
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/price-list.ts
  spree/api/spec/controllers/spree/api/v3/admin/price_lists_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/price_lists_spec.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/workflows/spree/catalogs/set_price_list.rb
  spree/core/app/workflows/spree/price_lists/activate.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/pricing_provider/internal_resolution_spec.rb
  spree/core/spec/workflows/spree/price_lists/status_transitions_spec.rb
Due: core, Core

Gate the PO document upload and put its requirement on a reachable step
  packages/dashboard/src/components/spree/orders/order-purchase-order-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/store/carts/po_documents_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/po_documents_controller_spec.rb
  spree/core/app/models/concerns/spree/purchase/purchase_order.rb
  spree/core/app/models/spree/checkout/default_requirements.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/testing_support/purchase_order.rb
  spree/core/spec/models/spree/checkout/requirements_spec.rb
Due: core, api, Core, API

Assert the upload gate writes no blob
  spree/api/spec/controllers/spree/api/v3/store/carts/po_documents_controller_spec.rb
Due: none

Let merchants attach the purchase order, not just its number
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/components/file-upload-field.tsx
  packages/dashboard/e2e/orders.spec.ts
  packages/dashboard/src/components/spree/orders/order-purchase-order-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/new.tsx
Due: none

Stop a cancelled upload from attaching itself
  packages/dashboard/src/components/spree/orders/order-purchase-order-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Record the upload surfaces in the PO plan
  docs/plans/6.0-b2b-customer-po-numbers.md
Due: none

Give the purchase order its own card and lift New Order into the header
  packages/dashboard/src/routes/_authenticated/$storeId/orders/new.tsx
Due: none

Regenerate the admin types and CLI spec after the rebase
  packages/admin-sdk/src/types/generated/Order.ts
  packages/cli/src/generated/admin-spec.json
Due: none

Improve autocompletes with filtering fields + added Order customers filter autocomplete
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard/src/hooks/use-admin-users.ts
  packages/dashboard/src/hooks/use-categories.ts
  packages/dashboard/src/hooks/use-channels.ts
  packages/dashboard/src/hooks/use-collections.ts
  packages/dashboard/src/hooks/use-custom-field-definitions.ts
  packages/dashboard/src/hooks/use-customer-groups.ts
  packages/dashboard/src/hooks/use-customers.ts
  packages/dashboard/src/hooks/use-gift-cards.ts
  packages/dashboard/src/hooks/use-option-types.ts
  packages/dashboard/src/hooks/use-product-types.ts
  packages/dashboard/src/hooks/use-products.ts
  packages/dashboard/src/hooks/use-sellers.ts
  packages/dashboard/src/tables/orders.tsx
Due: none

Switch color scheme to stone
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/card.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/index.tsx
Due: none

Fixed login screen TAB usage/order
  packages/dashboard/src/routes/login.tsx
Due: none

Added Accordion component and use it in getting started
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/ui/accordion.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
Due: none

Separate a transfer nobody can account for from one that will be retried
  spree/api/app/controllers/spree/api/v3/admin/seller_payouts_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/seller_payouts_controller_spec.rb
  spree/core/app/models/spree/seller_transfer.rb
  spree/core/app/workflows/spree/seller_transfers/create.rb
  spree/core/app/workflows/spree/seller_transfers/reverse.rb
  spree/core/spec/workflows/spree/seller_transfers/create_spec.rb
Due: core, api, Core, API

Address review feedback on the design changes
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-ui/src/ui/accordion.tsx
  packages/dashboard/src/hooks/use-option-types.ts
  packages/dashboard/src/routes/login.tsx
Due: none

Record why customer hydration stays unscoped
  packages/dashboard/src/hooks/use-customers.ts
Due: none

Some minor design improvements (#14529)
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/accordion.tsx
  packages/dashboard-ui/src/ui/card.tsx
  packages/dashboard/src/hooks/use-admin-users.ts
  packages/dashboard/src/hooks/use-categories.ts
  packages/dashboard/src/hooks/use-channels.ts
  packages/dashboard/src/hooks/use-collections.ts
  packages/dashboard/src/hooks/use-custom-field-definitions.ts
  packages/dashboard/src/hooks/use-customer-groups.ts
  packages/dashboard/src/hooks/use-customers.ts
  packages/dashboard/src/hooks/use-gift-cards.ts
  packages/dashboard/src/hooks/use-option-types.ts
  packages/dashboard/src/hooks/use-product-types.ts
  packages/dashboard/src/hooks/use-products.ts
  packages/dashboard/src/hooks/use-sellers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/index.tsx
  packages/dashboard/src/routes/login.tsx
  packages/dashboard/src/tables/orders.tsx
Due: none

Add the catalog description in its own migration
  spree/core/db/migrate/20260825000001_create_spree_catalogs.rb
  spree/core/db/migrate/20260831000001_add_description_to_spree_catalogs.rb
Due: core

Show why an order tax line is zero
  .changeset/tax-line-exemption-reason.md
  packages/dashboard/src/components/spree/orders/order-adjustments-cards.tsx
  packages/dashboard/src/components/spree/orders/order-summary-card.tsx
  packages/dashboard/src/lib/tax-line-groups.test.ts
  packages/dashboard/src/lib/tax-line-groups.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/edit.tsx
Due: none

Fix delivery profile list showing the wrong currency symbol
  packages/dashboard/src/components/spree/shipping/delivery-method-list.tsx
  packages/dashboard/src/lib/delivery-method-summary.test.ts
  packages/dashboard/src/lib/delivery-method-summary.ts
Due: none

Keep a catalog's price list in step with its assortment
  docs/plans/6.0-catalog-agreement-rework.md
  spree/api/app/controllers/spree/api/v3/admin/catalogs/products_controller.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/workflows/spree/catalogs/set_price_list.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/workflows/spree/catalogs/set_price_list_spec.rb
Due: core, api, Core, API

Fix rich-text editor shortcuts and missing list, quote, and link styles.
  .changeset/rich-text-editor-toolbar-and-shortcuts.md
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard-ui/src/ui/sidebar.tsx
  packages/dashboard/e2e/products-edit.spec.ts
Due: none

Leave products staged for removal out of the price spreadsheet
  docs/plans/6.0-catalog-agreement-rework.md
  packages/dashboard/e2e/catalogs.spec.ts
  packages/dashboard/src/components/spree/bulk-price-editor/bulk-price-editor-dialog.tsx
  packages/dashboard/src/components/spree/bulk-price-editor/bulk-price-editor.tsx
  packages/dashboard/src/components/spree/catalog-pricing-fields.tsx
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
Due: none

Document the listed delivery amount type
  packages/dashboard/src/lib/delivery-method-summary.ts
Due: none

Keep unmatched tax copy off loading and failed fetches
  packages/dashboard/src/components/spree/orders/order-adjustments-cards.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/fr.json
Due: none

Light up toolbar buttons after applying a format to a full selection.
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard/e2e/products-edit.spec.ts
Due: none

Stop checkout filing a copy of the buyer's address on every order
  docs/plans/6.0-cart-order-split.md
  spree/core/app/models/concerns/spree/purchase/addresses.rb
  spree/core/app/models/spree/address.rb
  spree/core/app/services/spree/addresses/create.rb
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/services/spree/orders/create.rb
  spree/core/app/services/spree/orders/create_from_cart.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/spec/models/concerns/spree/purchase/addresses_spec.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/services/spree/addresses/create_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
