Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

e2e: biome format fix
  packages/dashboard/e2e/products-publishing.spec.ts
Due: none

Dashboard: when creating a new product automatically enable default channel (#14131)
  packages/dashboard/e2e/products-publishing.spec.ts
  packages/dashboard/src/components/spree/products/publishing-card.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
Due: none

Added guardrails for agents and commit hooks for humans when editing TS files
  .claude/settings.json
  lefthook.yml
  pnpm-workspace.yaml
Due: none

add typecheck as well
  .claude/hooks/pre-commit-gate.sh
  .claude/settings.json
Due: none

Fix Claude hook path resolution and remove stale allowBuilds placeholder
  .claude/settings.json
  pnpm-workspace.yaml
Due: none

Make lefthook biome glob recursive for nested files
  lefthook.yml
  packages/dashboard/src/main.tsx
  packages/sdk/src/index.ts
Due: none

Remove accidental test comments from verification scratch
  packages/dashboard/src/main.tsx
  packages/sdk/src/index.ts
Due: none

Move git commit/push detection into pre-commit-gate.sh with word-level parsing
  .claude/hooks/pre-commit-gate.sh
  .claude/settings.json
Due: none

Catch prefixed git invocations and run pre-push biome on every push
  .claude/hooks/pre-commit-gate.sh
  lefthook.yml
Due: none

Invoke pre-commit gate via 'bash' so the hook works without the executable bit
  .claude/settings.json
Due: none

Revert exec-via-bash; the script is already tracked +x in git
  .claude/settings.json
Due: none

Make PostToolUse biome cd to project root before invoking pnpm
  .claude/settings.json
Due: none

Skip gate when 'git -C path' targets a different repo
  .claude/hooks/pre-commit-gate.sh
Due: none

Extract PostToolUse hook to script, fixing path-with-spaces splitting
  .claude/hooks/post-edit-format.sh
  .claude/settings.json
Due: none

Resolve project root from CLAUDE_PROJECT_DIR and fail closed if unresolvable
  .claude/hooks/pre-commit-gate.sh
Due: none

Added guardrails for agents and commit hooks for humans when editing TS files (#14132)
  .claude/hooks/post-edit-format.sh
  .claude/hooks/pre-commit-gate.sh
  .claude/settings.json
  lefthook.yml
Due: none

Dashboard: fixed displaying variant names in product form
  packages/dashboard/package.json
  packages/dashboard/src/components/spree/bulk-price-editor/product-bulk-price-editor.tsx
  packages/dashboard/src/components/spree/products/inventory-section.tsx
  packages/dashboard/src/components/spree/products/variant-edit-sheet.tsx
  packages/dashboard/src/components/spree/products/variants-matrix.test.ts
  packages/dashboard/src/components/spree/products/variants-matrix.ts
  packages/dashboard/src/components/spree/products/variants-section.tsx
  packages/dashboard/vitest.config.ts
  pnpm-lock.yaml
Due: none

fixes
  packages/dashboard/src/components/spree/products/variants-matrix.test.ts
  packages/dashboard/src/components/spree/products/variants-matrix.ts
Due: none

reuse admin-sdk OptionType interface
  packages/dashboard/src/components/spree/products/variants-matrix.test.ts
  packages/dashboard/src/components/spree/products/variants-matrix.ts
  packages/dashboard/src/components/spree/products/variants-section.tsx
Due: none

fixed e2e tests
  packages/dashboard/e2e/products-new.spec.ts
  packages/dashboard/e2e/products-prices-inventory.spec.ts
  packages/dashboard/e2e/products-variants.spec.ts
Due: none

Dashboard: fixed displaying variant names in product form (#14136)
  packages/dashboard/e2e/products-new.spec.ts
  packages/dashboard/e2e/products-prices-inventory.spec.ts
  packages/dashboard/e2e/products-variants.spec.ts
  packages/dashboard/package.json
  packages/dashboard/src/components/spree/bulk-price-editor/product-bulk-price-editor.tsx
  packages/dashboard/src/components/spree/products/inventory-section.tsx
  packages/dashboard/src/components/spree/products/variant-edit-sheet.tsx
  packages/dashboard/src/components/spree/products/variants-matrix.test.ts
  packages/dashboard/src/components/spree/products/variants-matrix.ts
  packages/dashboard/src/components/spree/products/variants-section.tsx
  packages/dashboard/vitest.config.ts
  pnpm-lock.yaml
Due: none

Fixed E2E dashboard tests
  packages/dashboard/e2e/products-new.spec.ts
  packages/dashboard/e2e/products-prices-inventory.spec.ts
Due: none

Fixed E2E dashboard tests (#14137)
  packages/dashboard/e2e/products-new.spec.ts
  packages/dashboard/e2e/products-prices-inventory.spec.ts
Due: none

Add `spree exec`, `rails`, `bundle`, `rake`, `task` passthrough commands
  docs/plans/spree-dev-cli-and-generators.md
  packages/cli/src/commands/bundle.ts
  packages/cli/src/commands/console.ts
  packages/cli/src/commands/exec.ts
  packages/cli/src/commands/rails.ts
  packages/cli/src/commands/rake.ts
  packages/cli/src/commands/task.ts
  packages/cli/src/docker.ts
  packages/cli/src/index.ts
Due: none

Add `spree generate`, `migrate`, `build`, `db:reset`, `db:console`, `routes`
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/eject.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/migrate.ts
  packages/cli/src/commands/routes.ts
  packages/cli/src/index.ts
Due: none

added changesets
  packages/cli/.changeset/cli-hot-path-wrappers.md
  packages/cli/.changeset/cli-passthrough-commands.md
Due: none

Restructure Admin API docs for more clarity
  docs/api-reference/admin.yaml
  spree/api/spec/integration/spree/api/v3/admin/admin_users_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/allowed_origins_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/api_keys_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/customer_groups_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/invitations_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/markets_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/option_types_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/fulfillments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/payments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/refunds_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/payment_methods_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/roles_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_locations_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/store_credit_categories_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/store_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/tags_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variants_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/webhook_deliveries_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/webhook_endpoints_spec.rb
  spree/api/spec/swagger_helper.rb
Due: none

reorder endpoints via tags
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  spree/api/Rakefile
  spree/api/lib/spree/api/openapi/path_sorter.rb
Due: api, API

fix
  spree/api/lib/spree/api/openapi/path_sorter.rb
Due: api, API

Restructure Admin API docs for more clarity (#14138)
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  spree/api/Rakefile
  spree/api/lib/spree/api/openapi/path_sorter.rb
  spree/api/spec/integration/spree/api/v3/admin/admin_users_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/allowed_origins_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/api_keys_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/customer_groups_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/invitations_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/markets_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/option_types_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/fulfillments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/payments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/refunds_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/payment_methods_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/roles_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_locations_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/store_credit_categories_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/store_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/tags_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variants_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/webhook_deliveries_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/webhook_endpoints_spec.rb
  spree/api/spec/swagger_helper.rb
Due: api, API

Fix checkout crash from non-strategy Reducer routing option
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/schemas/channel.ts
  spree/admin/app/helpers/spree/admin/channels_helper.rb
  spree/admin/config/locales/en.yml
  spree/core/app/models/spree/order.rb
  spree/core/spec/models/spree/order_spec.rb
Due: core, admin, Core, Admin

docs: reflect resilient order routing strategy fallback
  docs/developer/how-to/custom-order-routing.mdx
Due: none

Drop yard comment from private routing helper
  spree/core/app/models/spree/order.rb
Due: core, Core

docs: trim order routing fallback note to developer altitude
  docs/developer/how-to/custom-order-routing.mdx
Due: none

Persist store preference in routing fallback specs
  spree/core/spec/models/spree/order_spec.rb
Due: none

Fixed rails admin product creation with publications
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
  spree/admin/spec/features/spree/admin/products/products_spec.rb
  spree/core/app/models/spree/product/channels.rb
Due: core, Core

Make order routing strategy resolution graceful with fallback (#14140)
  docs/developer/how-to/custom-order-routing.mdx
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/schemas/channel.ts
  spree/admin/app/helpers/spree/admin/channels_helper.rb
  spree/admin/config/locales/en.yml
  spree/core/app/models/spree/order.rb
  spree/core/spec/models/spree/order_spec.rb
Due: core, admin, Core, Admin

Fixed rails admin product creation with publications (#14141)
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
  spree/admin/spec/features/spree/admin/products/products_spec.rb
  spree/core/app/models/spree/product/channels.rb
Due: core, Core
