Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

docs(api): regenerate OpenAPI spec for typed adjustment lines
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

chore(admin-sdk): reconcile generated types digest after rebase
  packages/admin-sdk/src/types/generated/index.ts
Due: none

chore(core): register spree:migrate_adjustments in the 6.0 upgrade manifest
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
Due: core, Core

Add ability to skip publishing events in Import
  spree/core/app/jobs/spree/imports/create_rows_job.rb
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/jobs/spree/imports/process_rows_job.rb
  spree/core/app/models/spree/import.rb
  spree/core/app/services/spree/sample_data/import_builder.rb
  spree/core/app/services/spree/sample_data/import_runner.rb
  spree/core/spec/services/spree/sample_data/import_runner_spec.rb
Due: core, Core

Keep import lifecycle events outside the row-event suppression
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/spec/services/spree/sample_data/import_runner_spec.rb
Due: core, Core

Fix leftover `inline?` calls in the product row processor
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
Due: core, Core

Stop the skip_events specs from truncating the shared test database
  spree/core/spec/services/spree/sample_data/import_runner_spec.rb
Due: none

Assert the row-event suppression instead of documenting it
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
  spree/core/spec/services/spree/sample_data/import_runner_spec.rb
Due: none

Revert "docs(api): regenerate OpenAPI spec for typed adjustment lines"
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Add ability to skip publishing events in Import (#14369)
  spree/core/app/jobs/spree/imports/create_rows_job.rb
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/jobs/spree/imports/process_rows_job.rb
  spree/core/app/models/spree/import.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/app/services/spree/sample_data/import_builder.rb
  spree/core/app/services/spree/sample_data/import_runner.rb
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
  spree/core/spec/services/spree/sample_data/import_runner_spec.rb
Due: core, Core

Renames metafield search/sort key prefix from mf_ to cf_
  docs/developer/core-concepts/metafields.mdx
  docs/developer/core-concepts/search-filtering.mdx
  docs/developer/how-to/custom-search-provider.mdx
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/tests/custom-fields.test.ts
  packages/admin-sdk/tests/mocks/handlers.ts
  spree/api/spec/controllers/spree/api/v3/admin/custom_field_definitions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products/filters_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products/meilisearch_integration_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/custom_field_definitions_spec.rb
  spree/core/app/models/spree/metafield_definition/search_capabilities.rb
  spree/core/app/models/spree/search_provider/database.rb
  spree/core/app/presenters/spree/search_provider/product_presenter.rb
  spree/core/spec/models/spree/metafield_definition_spec.rb
  spree/core/spec/models/spree/search_provider/database_spec.rb
  spree/core/spec/models/spree/search_provider/meilisearch_spec.rb
  spree/core/spec/presenters/spree/search_provider/product_presenter_spec.rb
  spree/core/spec/services/spree/search_provider/metafield_schema_spec.rb
Due: core, Core

Added filtering and searchinb by metafields in Admin API / React Dashboard
  .changeset/admin-sdk-searchable-sortable-custom-fields.md
  .changeset/cli-admin-spec-user-stores.md
  .changeset/dashboard-metafield-search-sort.md
  .changeset/sdk-metafield-sort-label.md
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/developer/core-concepts/metafields.mdx
  docs/developer/core-concepts/search-filtering.mdx
  docs/plans/6.0-store-scoped-custom-field-definitions.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/CustomFieldDefinition.ts
  packages/admin-sdk/tests/custom-fields.test.ts
  packages/admin-sdk/tests/mocks/handlers.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/components/resource-table.tsx
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-core/src/lib/table-registry.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
  spree/api/app/serializers/spree/api/v3/admin/custom_field_definition_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/custom_field_definitions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products/filters_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products/meilisearch_integration_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/custom_field_definitions_spec.rb
  spree/core/app/models/concerns/spree/metafield_filterable.rb
  spree/core/app/models/spree/export.rb
  spree/core/app/models/spree/metafield_definition/search_capabilities.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/search_provider/database.rb
  spree/core/app/models/spree/search_provider/meilisearch.rb
  spree/core/app/presenters/spree/search_provider/product_presenter.rb
  spree/core/app/services/spree/search_provider/metafield_schema.rb
  spree/core/spec/models/concerns/spree/metafield_filterable_spec.rb
  spree/core/spec/models/spree/export_spec.rb
  spree/core/spec/models/spree/metafield_definition_spec.rb
  spree/core/spec/models/spree/search_provider/database_spec.rb
  spree/core/spec/models/spree/search_provider/meilisearch_spec.rb
  spree/core/spec/presenters/spree/search_provider/product_presenter_spec.rb
  spree/core/spec/services/spree/search_provider/metafield_schema_spec.rb
Due: core, api, Core, API

Fixes adapter-specific identifier quoting in metafield expression spec
  spree/core/spec/models/concerns/spree/metafield_filterable_spec.rb
Due: none

Bump TS packages to align with Spree 5.6.1 release
  .changeset/admin-sdk-searchable-sortable-custom-fields.md
  .changeset/admin-sdk-user-stores.md
  .changeset/cli-admin-spec-user-stores.md
  .changeset/dashboard-import-export-type-shorthand.md
  .changeset/dashboard-metafield-search-sort.md
  .changeset/import-export-api-type-shorthand.md
  .changeset/import-sheet-example-csv.md
  .changeset/invitation-polymorphic-type-shorthand.md
  .changeset/open-parrots-search.md
  .changeset/sdk-metafield-sort-label.md
  .changeset/store-switcher-view-store-gating.md
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

Bump TS packages to align with Spree 5.6.1 release (#14370)
  .changeset/admin-sdk-searchable-sortable-custom-fields.md
  .changeset/admin-sdk-user-stores.md
  .changeset/cli-admin-spec-user-stores.md
  .changeset/dashboard-import-export-type-shorthand.md
  .changeset/dashboard-metafield-search-sort.md
  .changeset/import-export-api-type-shorthand.md
  .changeset/import-sheet-example-csv.md
  .changeset/invitation-polymorphic-type-shorthand.md
  .changeset/open-parrots-search.md
  .changeset/sdk-metafield-sort-label.md
  .changeset/store-switcher-view-store-gating.md
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Due: none

Update plans for Spree 6.0
  CLAUDE.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-cart-order-split.md
  docs/plans/6.0-delivery-rate-provider.md
  docs/plans/6.0-delivery-zones.md
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-product-types.md
  docs/plans/6.0-split-adjustments.md
  docs/plans/6.0-tax-provider.md
  docs/plans/6.0-typed-stock-movements.md
  docs/plans/decisions.md
Due: none

Bump spree to 5.6.1
  spree/core/lib/spree/core/version.rb
Due: core, Core

Update Platform auth model for Spree 6
  docs/plans/6.0-platform-auth.md
  docs/plans/decisions.md
Due: none

Update Product Types Spree 6 plan
  docs/plans/5.4-6.0-custom-fields-rename.md
  docs/plans/5.5-6.0-display-on-to-boolean.md
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/6.0-product-types.md
  docs/plans/6.0-replace-taxons-with-categories.md
  docs/plans/6.0-store-scoped-custom-field-definitions.md
Due: none

Add additional Product description sanitization
  CLAUDE.md
  docs/developer/upgrades/5.5-to-5.6.mdx
  docs/plans/5.4-6.0-custom-fields-rename.md
  docs/plans/5.4-metafield-translations.md
  docs/plans/5.4-search-provider.md
  docs/plans/5.5-6.0-resource-translations-api.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-replace-taxons-with-categories.md
  docs/plans/6.0-rich-text-descriptions.md
  spree/core/app/models/concerns/spree/sanitizable_rich_text.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/rich_text_sanitizer.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/upgrades/5_5_to_5_6/manifest.yml
  spree/core/lib/tasks/rich_text.rake
  spree/core/spec/lib/tasks/rich_text_spec.rb
  spree/core/spec/models/spree/rich_text_sanitizer_spec.rb
  spree/core/spec/models/spree/sanitizable_rich_text_spec.rb
  spree/core/spree_core.gemspec
Due: core, Core

Address review feedback on description sanitization
  docs/developer/upgrades/5.5-to-5.6.mdx
  docs/plans/5.4-metafield-translations.md
  docs/plans/6.0-rich-text-descriptions.md
  spree/core/app/models/concerns/spree/sanitizable_rich_text.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/upgrades/5_5_to_5_6/manifest.yml
  spree/core/spree_core.gemspec
Due: core, Core

Process products and translations sequentially in sanitize task
  spree/core/lib/tasks/rich_text.rake
Due: core, Core

Correct severity framing for description sanitization
  docs/plans/6.0-rich-text-descriptions.md
  spree/core/lib/spree/upgrades/5_5_to_5_6/manifest.yml
Due: core, Core

Record vendor sanitization obligation in the multi-vendor plan
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-rich-text-descriptions.md
Due: none

Guard the sanitize backfill against concurrent edits
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/core/lib/tasks/rich_text.rake
  spree/core/spec/lib/tasks/rich_text_spec.rb
Due: core, Core

Fix guest credit card fingerprint validation
  spree/core/app/models/spree/credit_card.rb
  spree/core/spec/models/spree/credit_card_spec.rb
Due: core, Core

Add additional Product description sanitization (#14371)
  CLAUDE.md
  docs/developer/upgrades/5.5-to-5.6.mdx
  docs/plans/5.4-6.0-custom-fields-rename.md
  docs/plans/5.4-metafield-translations.md
  docs/plans/5.4-search-provider.md
  docs/plans/5.5-6.0-resource-translations-api.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-replace-taxons-with-categories.md
  docs/plans/6.0-rich-text-descriptions.md
  spree/core/app/models/concerns/spree/sanitizable_rich_text.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/rich_text_sanitizer.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/upgrades/5_5_to_5_6/manifest.yml
  spree/core/lib/tasks/rich_text.rake
  spree/core/spec/lib/tasks/rich_text_spec.rb
  spree/core/spec/models/spree/rich_text_sanitizer_spec.rb
  spree/core/spec/models/spree/sanitizable_rich_text_spec.rb
  spree/core/spree_core.gemspec
Due: core, Core

Fix guest credit card fingerprint validation (#14372)
  spree/core/app/models/spree/credit_card.rb
  spree/core/spec/models/spree/credit_card_spec.rb
Due: core, Core

Add 6.0 core-rewrite task plan and record settled decisions
  docs/plans/6.0-cart-order-split.md
  docs/plans/6.0-core-rewrite-tasks.md
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/6.0-split-adjustments.md
  docs/plans/decisions.md
Due: none

Rename Prototype to ProductType with fulfillment_types (product-types Phase 1)
  spree/core/app/models/spree/category.rb
  spree/core/app/models/spree/option_type.rb
  spree/core/app/models/spree/option_type_product_type.rb
  spree/core/app/models/spree/option_type_prototype.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product_type.rb
  spree/core/app/models/spree/product_type_category.rb
  spree/core/app/models/spree/prototype.rb
  spree/core/app/models/spree/prototype_taxon.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260728000001_rename_prototypes_to_product_types.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/lib/spree/testing_support/factories/product_type_factory.rb
  spree/core/lib/spree/testing_support/factories/prototype_factory.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/models/spree/product_type_spec.rb
  spree/core/spec/models/spree/prototype_spec.rb
Due: core, Core

Add DeliveryZone with typed members (delivery-zones Phase A)
  spree/core/app/models/spree/address.rb
  spree/core/app/models/spree/delivery_zone.rb
  spree/core/app/models/spree/delivery_zone_member.rb
  spree/core/db/migrate/20260728000002_create_spree_delivery_zones.rb
  spree/core/lib/spree/testing_support/factories/delivery_zone_factory.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/models/spree/delivery_zone_member_spec.rb
  spree/core/spec/models/spree/delivery_zone_spec.rb
Due: core, Core

Remove legacy API v2 dependency registrations
  spree/api/lib/spree/api.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/lib/spree/api/api_dependencies_spec.rb
  spree/api/spec/models/spree/api_dependencies_spec.rb
Due: api, API

Add fulfillment providers with digital auto-fulfillment and lifecycle events (core rewrite Wave 4)
  docs/plans/6.0-core-rewrite-tasks.md
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/fulfillment/custom_events.rb
  spree/core/app/models/spree/fulfillment/webhooks.rb
  spree/core/app/models/spree/fulfillment_provider/base.rb
  spree/core/app/models/spree/fulfillment_provider/digital.rb
  spree/core/app/models/spree/fulfillment_provider/manual.rb
  spree/core/app/models/spree/fulfillment_provider/pickup.rb
  spree/core/app/models/spree/fulfillment_provider/pickup_point.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order/checkout.rb
  spree/core/app/models/spree/order/digital.rb
  spree/core/app/models/spree/pickup_point_option.rb
  spree/core/app/models/spree/pickup_point_provider/base.rb
  spree/core/app/services/spree/seeds/digital_delivery.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/testing_support/factories/delivery_method_factory.rb
  spree/core/spec/models/spree/fulfillment/custom_events_spec.rb
  spree/core/spec/models/spree/fulfillment_provider/base_spec.rb
  spree/core/spec/models/spree/fulfillment_provider/digital_spec.rb
  spree/core/spec/models/spree/order/digital_auto_fulfillment_spec.rb
  spree/core/spec/models/spree/shipment/custom_events_spec.rb
Due: core, Core

Add gem-owned Customer/AdminUser tables and rename user_id to customer_id
  spree/core/db/migrate/20220201103922_add_first_name_and_last_name_to_spree_users.rb
  spree/core/db/migrate/20221215151408_add_selected_locale_to_spree_users.rb
  spree/core/db/migrate/20250127151258_add_phone_to_spree_users.rb
  spree/core/db/migrate/20250207084000_add_accepts_email_marketing_field_to_spree_users_table.rb
  spree/core/db/migrate/20250605131334_add_missing_fields_to_users.rb
  spree/core/db/migrate/20260728000000_create_spree_admin_users.rb
  spree/core/db/migrate/20260728000001_create_spree_customers.rb
  spree/core/db/migrate/20260728000003_rename_user_id_to_customer_id.rb
Due: core
