Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Let a digital asset provider declare per-asset settings
  CLAUDE.md
  docs/developer/how-to/custom-digital-asset-provider.mdx
  docs/plans/6.0-digital-assets.md
  packages/admin-sdk/src/types/generated/DigitalAsset.ts
  spree/api/app/controllers/spree/api/v3/admin/products/digital_assets_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/digital_asset_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/digital_assets_controller_spec.rb
  spree/core/app/models/spree/digital_asset.rb
  spree/core/app/models/spree/digital_asset_provider/base.rb
  spree/core/db/migrate/20260812000002_add_metadata_to_spree_digital_assets.rb
  spree/core/spec/models/spree/digital_asset_provider/base_spec.rb
  spree/core/spec/models/spree/digital_asset_spec.rb
Due: core, api, Core, API

Make the empty digital files card a drag-and-drop dropzone
  packages/dashboard/src/components/spree/products/digital-assets-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Add a fully digital product to the sample data
  spree/core/app/services/spree/sample_data/loader.rb
  spree/core/db/sample_data/digital_products.rb
  spree/core/db/sample_data/products.csv
  spree/core/spec/services/spree/sample_data/loader_spec.rb
Due: core, Core

Add digital files to the product create page
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Product.ts
  packages/dashboard-core/src/products/product-schema.ts
  packages/dashboard/src/components/spree/products/digital-files-form-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/app/workflows/spree/products/create.rb
  spree/core/app/workflows/spree/products/nested_attributes.rb
  spree/core/app/workflows/spree/products/update.rb
  spree/core/spec/workflows/spree/products/lifecycle_spec.rb
Due: core, api, Core, API

Regenerate the OpenAPI specs for the digital assets API
  CLAUDE.md
  docs/plans/6.0-digital-assets.md
Due: none

Render a provider's settings form in the dashboard
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/components/spree/products/digital-asset-edit-sheet.tsx
  packages/dashboard/src/components/spree/products/digital-asset-provider-sheet.tsx
  packages/dashboard/src/components/spree/products/digital-assets-card.tsx
  packages/dashboard/src/components/spree/products/provider-settings-fields.tsx
Due: none

Defer digital asset license-code pools to 6.1
  CLAUDE.md
  docs/plans/6.0-digital-assets.md
Due: none

Regenerate OpenAPI specs with the digital assets surface
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Add digital files E2E and fix two upload-flow bugs it surfaced
  packages/dashboard/e2e/digital-assets.spec.ts
  packages/dashboard/src/components/spree/products/digital-assets-card.tsx
  packages/dashboard/src/components/spree/products/digital-files-form-card.tsx
  packages/dashboard/src/hooks/use-digital-assets.ts
Due: none

Order the customer downloads list by its own table
  spree/api/app/controllers/spree/api/v3/store/customer/digital_links_controller.rb
Due: api, API

Reconcile inline digital files by id and fix their error message
  spree/api/app/controllers/spree/api/v3/admin/products/digital_assets_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/digital_assets_controller_spec.rb
  spree/core/app/workflows/spree/products/nested_attributes.rb
  spree/core/spec/workflows/spree/products/lifecycle_spec.rb
Due: core, api, Core, API

Order the admin downloads list by its own table
  spree/api/app/controllers/spree/api/v3/admin/digital_links_controller.rb
Due: api, API

Keep existing downloads attached across the digital asset rename
  spree/core/db/migrate/20260810000001_rename_digitals_to_digital_assets.rb
Due: core

Restore the digital serializer bridge and narrow the token fallback
  spree/api/app/controllers/concerns/spree/api/v3/jwt_authentication.rb
  spree/api/lib/spree/api/dependencies.rb
Due: api, API

Surface digital asset save errors and guard empty numeric settings
  packages/dashboard/src/components/spree/products/digital-asset-edit-sheet.tsx
  packages/dashboard/src/components/spree/products/digital-asset-provider-sheet.tsx
  packages/dashboard/src/components/spree/products/provider-settings-fields.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
Due: none

Sync digital asset docs with the shipped state
  docs/docs.json
  docs/plans/6.0-digital-assets.md
  packages/dashboard/src/locales/de.json
Due: none

Permit the id that makes inline digital asset updates idempotent
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
Due: api, API

Keep a preference schema whole when a declaration predates internal preferences
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/spec/models/spree/payment_method_spec.rb
Due: core, Core

Let a broken preference schema fail loudly instead of coming back empty
  spree/core/app/models/concerns/spree/preference_schema.rb
Due: core, Core

Keep the worktree template in step with the gem migrations
  CLAUDE.md
  scripts/worktree/lib.sh
  scripts/worktree/make-template.sh
  scripts/worktree/setup.sh
Due: none

Fix the search bar position in table toolbar on desktop
  packages/dashboard-core/src/components/table-toolbar.tsx
Due: none

Let merchants pick a channel's default catalog
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/channels.tsx
  packages/dashboard/src/schemas/channel.ts
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
Due: none

Scope shared table components by tenant, not store
  .changeset/table-toolbar-tenant-scoped.md
  packages/dashboard-core/src/components/media-picker-sheet.tsx
  packages/dashboard-core/src/components/resource-combobox.tsx
  packages/dashboard-core/src/components/table-toolbar.tsx
Due: none

Name the catalog picker for screen readers
  packages/dashboard-core/src/components/resource-combobox.tsx
  packages/dashboard-ui/src/spree/resource-combobox.tsx
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/channels.tsx
  packages/dashboard/src/schemas/channel.ts
Due: none

Guard the catalog picker's accessible name
  packages/dashboard/e2e/channels-settings.spec.ts
Due: none

Make a digital link's store public so the keyless download works
  spree/api/spec/controllers/spree/api/v3/store/digital_links_controller_spec.rb
  spree/core/app/models/spree/digital_link.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/spec/models/spree/digital_link_spec.rb
Due: core, Core

Fix filter panel crash in the seller panel (#14514)
  .changeset/table-toolbar-tenant-scoped.md
  packages/dashboard-core/src/components/media-picker-sheet.tsx
  packages/dashboard-core/src/components/resource-combobox.tsx
  packages/dashboard-core/src/components/table-toolbar.tsx
Due: none

Let merchants pick a channel's default catalog (#14513)
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/components/resource-combobox.tsx
  packages/dashboard-ui/src/spree/resource-combobox.tsx
  packages/dashboard/e2e/channels-settings.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/channels.tsx
  packages/dashboard/src/schemas/channel.ts
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
Due: none

Reject an invalid provider_type cleanly instead of 500ing
  spree/core/app/models/spree/digital_asset.rb
  spree/core/spec/models/spree/digital_asset_spec.rb
Due: core, Core

Roll a replaced digital file back when the update is invalid
  spree/api/app/controllers/spree/api/v3/admin/products/digital_assets_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/digital_assets_controller_spec.rb
Due: api, API

Surface a failed digital file upload on the product page
  packages/dashboard/src/components/spree/products/digital-assets-card.tsx
Due: none

Narrow catalog assignments to buyer audiences
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/plans/6.0-b2b-companies-and-catalogs.md
  docs/plans/decisions.md
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_assignment_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/integration/spree/api/v3/admin/catalogs_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/catalog_assignment.rb
  spree/core/app/models/spree/channel.rb
  spree/core/app/models/spree/market.rb
  spree/core/spec/models/spree/catalog_spec.rb
Due: core, api, Core, API

Fix Stripe checkout for logged-in customers
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: none

Give carts the same name helper as orders
  spree/core/app/models/spree/cart.rb
  spree/core/spec/models/spree/cart_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: core, Core

Narrow catalog assignments to buyer audiences (#14516)
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/plans/6.0-b2b-companies-and-catalogs.md
  docs/plans/decisions.md
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_assignment_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/integration/spree/api/v3/admin/catalogs_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/catalog_assignment.rb
  spree/core/app/models/spree/channel.rb
  spree/core/app/models/spree/market.rb
  spree/core/spec/models/spree/catalog_spec.rb
Due: core, api, Core, API

Fix Stripe checkout for logged-in customers (#14517)
  spree/core/app/models/spree/cart.rb
  spree/core/spec/models/spree/cart_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: core, Core

Hold a settlement whose outcome nobody knows instead of retrying it
  spree/core/app/models/spree/seller.rb
  spree/core/app/models/spree/seller_payout.rb
  spree/core/app/workflows/spree/seller_payouts/complete.rb
  spree/core/app/workflows/spree/seller_payouts/sweep.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/models/spree/seller_payout_spec.rb
  spree/core/spec/workflows/spree/seller_payouts/sweep_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/connect.rb
  spree/providers/stripe/app/models/spree_stripe/payout_provider.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/connect_spec.rb
  spree/providers/stripe/spec/models/spree_stripe/payout_provider_spec.rb
Due: core, Core

Correct comments that still described a timeout as a refusal
  spree/core/app/workflows/spree/seller_payouts/sweep.rb
  spree/providers/stripe/app/models/spree_stripe/payout_provider.rb
Due: core, Core

Memoize applicable catalogs during product pricing
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/catalog_assignment.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/spec/lib/spree/core/pricing/catalog_pricing_spec.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/models/spree/current_spec.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
