Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Pin the refusal to activate a draft offer directly
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: none

Let a wholesale order be placed on its deposit
  docs/plans/6.0-b2b-wholesale-shipping.md
  docs/plans/decisions.md
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/concerns/spree/purchase/payment_terms.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/delivery_rate_provider/freight.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/payment_schedule.rb
  spree/core/app/models/spree/payment_terms.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/db/migrate/20260905100001_add_payment_terms_to_purchases.rb
  spree/core/db/migrate/20260905100002_add_deposit_terms_to_delivery_methods.rb
  spree/core/spec/models/spree/payment_terms_spec.rb
  spree/core/spec/models/spree/purchase/payment_terms_spec.rb
  spree/core/spec/workflows/spree/carts/deposit_completion_spec.rb
Due: core, Core

Make the company rule a switch, and stop offering services freight has none of
  docs/api-reference/seller.yaml
  docs/plans/6.0-b2b-wholesale-shipping.md
  packages/dashboard/src/components/spree/shipping/delivery-method-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/core/app/models/spree/delivery_method_rules/company_rule.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
Due: core, Core

Count each consignment once, and stop an understated load hiding its own tier
  docs/plans/6.0-b2b-wholesale-shipping.md
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
  spree/core/app/models/spree/delivery_method_rules/volume_rule.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/stock/estimator.rb
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
Due: core, api, Core, API

Say what is due now, and let a merchant set the deposit
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Cart.ts
  packages/admin-sdk/src/types/generated/DeliveryMethod.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Cart.ts
  packages/sdk/src/types/generated/Order.ts
  packages/sdk/src/zod/generated/Cart.ts
  packages/sdk/src/zod/generated/Order.ts
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/delivery_method_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
Due: api, API

Give the store's packaging a page again
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/src/hooks/use-package-types.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/package-types.tsx
  packages/dashboard/src/tables/package-types.tsx
Due: none

Let merchants record how a product is packed
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/params.ts
  packages/dashboard-core/src/api-client.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/src/products/bulk-variants-dialog.tsx
  packages/dashboard-core/src/products/product-form-mapping.ts
  packages/dashboard-core/src/products/product-schema.ts
  packages/dashboard-core/src/products/product-types.ts
  packages/dashboard-core/src/products/use-product-form-data.ts
  packages/dashboard-core/src/products/variant-edit-sheet.tsx
  packages/dashboard-core/src/products/variants-section.tsx
  packages/dashboard-ui/src/spree/bulk-variants-table.tsx
  packages/dashboard/src/api-client-setup.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/app/models/spree/import_schemas/products.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Record what shipped and the two rulings behind it
  docs/plans/6.0-b2b-wholesale-shipping.md
  docs/plans/decisions.md
Due: none

Show what is shipping and what is still owed
  packages/dashboard/src/components/spree/orders/fulfillment-edit-dialog.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/components/spree/orders/order-logistics-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/index.tsx
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
Due: api, API

Give every new store a box to ship in
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/spec/services/spree/stores/provision_defaults_spec.rb
Due: core, Core

Regenerate the API artifacts
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/admin-sdk/src/types/generated/Fulfillment.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  packages/sdk/src/types/generated/Fulfillment.ts
  packages/sdk/src/types/generated/Order.ts
Due: none

Charge the deposit, ship the order, and keep both honest
  packages/dashboard-core/src/products/bulk-variants-dialog.tsx
  packages/dashboard-core/src/products/use-product-form-data.ts
  packages/dashboard-core/src/products/variant-edit-sheet.tsx
  packages/dashboard-ui/src/spree/bulk-variants-table.tsx
  spree/api/app/controllers/spree/api/v3/store/carts/payments_controller.rb
  spree/core/app/models/concerns/spree/purchase/payment_terms.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/payment_session.rb
  spree/core/app/models/spree/payment_terms.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/delivery_method_spec.rb
  spree/core/spec/workflows/spree/carts/deposit_completion_spec.rb
Due: core, api, Core, API

Regenerate the API artifacts
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Name the freight rules in the dashboard's own language
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
Due: none

Stop the new-method form resetting away its preselected provider
  packages/dashboard/src/components/spree/shipping/delivery-method-sheet.tsx
Due: none

Act on the review: five ways freight money and volume went wrong
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/src/products/product-schema.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/spec/models/spree/delivery_method_spec.rb
  spree/core/spec/models/spree/stock/package_spec.rb
  spree/core/spec/services/spree/stores/provision_defaults_spec.rb
Due: core, Core

Plan: reporting semantic layer roadmap
  .changeset/pulse-home-dashboard.md
  CLAUDE.md
  docs/plans/6.0-analytics-semantic-layer.md
  docs/plans/decisions.md
Due: none

Describe the reporting contract and widen its vocabulary
  docs/plans/6.0-analytics-semantic-layer.md
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/admin/reporting_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/reporting_result_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/reporting_controller_spec.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/reporting.rb
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/hydration.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/lib/spree/reporting/schema.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
  spree/core/spec/lib/spree/reporting/registry_spec.rb
  spree/core/spec/lib/spree/reporting/schema_spec.rb
Due: core, api, Core, API

Add saved reports with seeded classics and CSV export
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/SavedReport.ts
  packages/admin-sdk/src/types/generated/index.ts
  spree/api/app/controllers/spree/api/v3/admin/reporting/saved_reports_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/reporting_result_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/saved_report_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/reporting/saved_reports_controller_spec.rb
  spree/core/app/models/spree/exports/report.rb
  spree/core/app/models/spree/saved_report.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/saved_reports.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260903120000_create_spree_saved_reports.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/lib/spree/reporting/schema.rb
  spree/core/lib/spree/testing_support/factories/saved_report_factory.rb
  spree/core/spec/models/spree/exports/report_spec.rb
  spree/core/spec/models/spree/saved_report_spec.rb
  spree/core/spec/services/spree/seeds/saved_reports_spec.rb
Due: core, api, Core, API

Add a Reports section to the dashboard on the reporting contract
  .changeset/pulse-home-dashboard.md
  docs/plans/6.0-analytics-semantic-layer.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/index.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/index.ts
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-core/src/providers/store-provider.tsx
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/icons.ts
  packages/dashboard-ui/src/ui/tabs.tsx
  packages/dashboard/e2e/home-dashboard.spec.ts
  packages/dashboard/e2e/reports.spec.ts
  packages/dashboard/src/components/spree/reporting/growth-badge.tsx
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  packages/dashboard/src/components/spree/reporting/report-draft.ts
  packages/dashboard/src/components/spree/reporting/report-view.tsx
  packages/dashboard/src/components/spree/reporting/report-workspace.tsx
  packages/dashboard/src/components/spree/reporting/save-report-dialog.tsx
  packages/dashboard/src/hooks/use-report-run.ts
  packages/dashboard/src/hooks/use-reporting.ts
  packages/dashboard/src/hooks/use-saved-reports.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/reports/$reportId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/reports/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/reports/new.tsx
  packages/dashboard/src/tables/saved-reports.tsx
Due: none

Record the reporting review rulings in the plan and decisions log
  docs/plans/6.0-analytics-semantic-layer.md
  docs/plans/decisions.md
Due: none

Address review findings on the reporting layer
  packages/dashboard/src/components/spree/reporting/growth-badge.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/reports/$reportId.tsx
  spree/api/app/controllers/spree/api/v3/admin/dashboard_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/dashboard_controller_spec.rb
  spree/core/app/models/spree/exports/report.rb
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
  spree/core/spec/models/spree/exports/report_spec.rb
Due: core, api, Core, API

Normalize the core locale file after the rebase merge
  spree/core/config/locales/en.yml
Due: core

Build reporting filter predicates with Arel
  spree/core/lib/spree/reporting/adapters/live.rb
Due: core, Core

Show an error state when a home widget's query fails
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
Due: none

Record the seeded-report deletion gap as an open question
  docs/plans/6.0-analytics-semantic-layer.md
Due: none

Give reporting validation failures stable error codes
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  spree/core/app/models/spree/exports/report.rb
  spree/core/app/models/spree/saved_report.rb
  spree/core/spec/models/spree/exports/report_spec.rb
  spree/core/spec/models/spree/saved_report_spec.rb
Due: core, Core

Hide stale reporting results while a new scope loads
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
Due: none

Restore the offers surface in the CLI offline spec
  packages/cli/src/generated/admin-spec.json
Due: none

Say customer in the reporting vocabulary, not user
  spree/core/lib/spree/reporting/default_vocabulary.rb
Due: core, Core

Describe the package type API the way it actually behaves
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/hooks/use-package-types.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/package-types.tsx
  spree/api/spec/integration/spree/api/v3/admin/package_types_spec.rb
Due: none

Carry the deposit to the orders that actually bill for it
  spree/core/app/models/concerns/spree/purchase/payment_terms.rb
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/spec/workflows/spree/carts/deposit_completion_spec.rb
Due: core, Core

Make a fee's tax follow the fee it was charged on
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
Due: core, Core

Make a fee's tax follow the fee it was charged on (#14583)
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
Due: core, Core

Regenerate the CLI's offline spec
  packages/cli/src/generated/admin-spec.json
Due: none

Say which carton is which
  packages/dashboard-core/src/api-client.ts
  packages/dashboard-core/src/products/variant-edit-sheet.tsx
Due: none

Let the bulk-edit variants table scroll to every column.
  .changeset/bulk-variants-dialog-scroll.md
  packages/dashboard-core/src/products/bulk-variants-dialog.tsx
  packages/dashboard-ui/src/spree/bulk-variants-table.tsx
  packages/dashboard-ui/src/spree/data-grid/data-grid.tsx
Due: none

Keep the bulk-edit variants grid inside the dialog.
  packages/dashboard-core/src/products/bulk-variants-dialog.tsx
  packages/dashboard-ui/src/spree/bulk-variants-table.tsx
Due: none

Remove the changeset for the bulk-edit variants scroll fix.
  .changeset/bulk-variants-dialog-scroll.md
Due: none
