Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Enforcer requirement of record IDs for bulk operations
  spree/api/app/controllers/concerns/spree/api/v3/bulk_operations.rb
  spree/api/app/controllers/spree/api/v3/admin/customers_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
Due: api, API

Other bulk operation code review fixes
  packages/admin/e2e/global-setup.ts
  packages/admin/e2e/helpers.ts
  packages/admin/e2e/products-bulk.spec.ts
  packages/admin/src/components/spree/bulk-dialog.tsx
  packages/admin/src/components/spree/resource-table.tsx
  packages/admin/src/locales/en.json
  packages/admin/src/routes/_authenticated/$storeId/customers/index.tsx
Due: none

Standardize row actions in Admin SPA tables
  packages/admin/e2e/customer-groups.spec.ts
  packages/admin/e2e/customers.spec.ts
  packages/admin/e2e/gift-cards.spec.ts
  packages/admin/e2e/helpers.ts
  packages/admin/e2e/option-types.spec.ts
  packages/admin/e2e/payment-methods.spec.ts
  packages/admin/e2e/stock-locations.spec.ts
  packages/admin/e2e/tax-categories.spec.ts
  packages/admin/src/components/spree/resource-table.tsx
  packages/admin/src/components/spree/row-actions.tsx
  packages/admin/src/locales/en.json
  packages/admin/src/routes/_authenticated/$storeId/customers/groups.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/options.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/transfers.tsx
  packages/admin/src/routes/_authenticated/$storeId/promotions/gift-cards.tsx
  packages/admin/src/routes/_authenticated/$storeId/promotions/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/payment-methods.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/tax-categories.tsx
  packages/admin/src/tables/option-types.tsx
  packages/admin/src/tables/stock-locations.tsx
Due: none

fixes
  packages/admin/src/routes/_authenticated/$storeId/customers/groups.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/payment-methods.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/staff.tsx
Due: none

Remove deprecated Ability extension hooks and legacy permissions
  spree/core/app/models/spree/ability.rb
  spree/core/lib/spree/testing_support/bar_ability.rb
  spree/core/spec/models/spree/ability_spec.rb
Due: core, Core

added missing translations
  packages/admin/src/components/spree/bulk-action-bar.tsx
  packages/admin/src/components/spree/command-palette/command-palette.tsx
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/components/spree/top-bar.tsx
  packages/admin/src/locales/en.json
  packages/admin/src/routes/_authenticated/$storeId/promotions/$promotionId.tsx
  packages/admin/src/routes/_authenticated/$storeId/promotions/index.tsx
Due: none

Standardize row actions in Admin SPA tables (#14076)
  packages/admin/e2e/customer-groups.spec.ts
  packages/admin/e2e/customers.spec.ts
  packages/admin/e2e/gift-cards.spec.ts
  packages/admin/e2e/helpers.ts
  packages/admin/e2e/option-types.spec.ts
  packages/admin/e2e/payment-methods.spec.ts
  packages/admin/e2e/stock-locations.spec.ts
  packages/admin/e2e/tax-categories.spec.ts
  packages/admin/src/components/spree/bulk-action-bar.tsx
  packages/admin/src/components/spree/command-palette/command-palette.tsx
  packages/admin/src/components/spree/resource-table.tsx
  packages/admin/src/components/spree/row-actions.tsx
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/components/spree/top-bar.tsx
  packages/admin/src/locales/en.json
  packages/admin/src/routes/_authenticated/$storeId/customers/groups.tsx
  packages/admin/src/routes/_authenticated/$storeId/customers/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/options.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/transfers.tsx
  packages/admin/src/routes/_authenticated/$storeId/promotions/$promotionId.tsx
  packages/admin/src/routes/_authenticated/$storeId/promotions/gift-cards.tsx
  packages/admin/src/routes/_authenticated/$storeId/promotions/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/payment-methods.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/tax-categories.tsx
  packages/admin/src/tables/option-types.tsx
  packages/admin/src/tables/stock-locations.tsx
Due: none

Update unconfigured-role expectation in ability integration spec
  spree/core/spec/models/spree/permission_sets/ability_integration_spec.rb
Due: none

Added Custom field management in admin spa
  packages/admin/e2e/custom-field-definitions.spec.ts
  packages/admin/src/components/spree/custom-fields/definition-form.tsx
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/hooks/use-custom-fields.ts
  packages/admin/src/lib/permissions.ts
  packages/admin/src/locales/en.json
  packages/admin/src/nav/settings.ts
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId/settings/custom-field-definitions.tsx
  packages/admin/src/schemas/custom-field-definition.ts
  packages/admin/src/tables/custom-field-definitions.tsx
Due: none

fix
  packages/admin/src/components/spree/custom-fields/definition-form.tsx
  packages/admin/src/hooks/use-custom-fields.ts
Due: none

fixes
  packages/admin/e2e/custom-field-definitions.spec.ts
  packages/admin/src/components/spree/custom-fields/definition-form.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/custom-field-definitions.tsx
  packages/admin/src/schemas/custom-field-definition.ts
Due: none

Update custom-field-definitions.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/custom-field-definitions.tsx
Due: none

Added Custom field management in admin spa (#14080)
  packages/admin/e2e/custom-field-definitions.spec.ts
  packages/admin/src/components/spree/custom-fields/definition-form.tsx
  packages/admin/src/components/spree/table-toolbar.tsx
  packages/admin/src/hooks/use-custom-fields.ts
  packages/admin/src/lib/permissions.ts
  packages/admin/src/locales/en.json
  packages/admin/src/nav/settings.ts
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId/settings/custom-field-definitions.tsx
  packages/admin/src/schemas/custom-field-definition.ts
  packages/admin/src/tables/custom-field-definitions.tsx
Due: none

Remove deprecated Ability extension hooks and legacy permissions (#14077)
  spree/core/app/models/spree/ability.rb
  spree/core/lib/spree/testing_support/bar_ability.rb
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/permission_sets/ability_integration_spec.rb
Due: core, Core

Fixed flaky permission tests
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/permission_sets/ability_integration_spec.rb
Due: core, Core

Fixed flaky permission tests (#14083)
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/permission_sets/ability_integration_spec.rb
Due: core, Core

Added `Spree::TypedAssociations`
  spree/core/app/models/concerns/spree/typed_associations.rb
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/calculator.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/promotion_rule.rb
Due: core, Core

Clarify B2B features in README
  README.md
Due: none

fixes
  README.md
Due: none

Update README.md
  README.md
Due: none

Clarify B2B features in README (#14086)
  README.md
Due: none

Polish active integration status placement
  spree/admin/app/views/spree/admin/integrations/_integration.html.erb
Due: admin, Admin

Fix integration edit header update button
  spree/admin/app/views/spree/admin/integrations/edit.html.erb
Due: admin, Admin

Update spree/admin/app/views/spree/admin/integrations/_integration.html.erb
  spree/admin/app/views/spree/admin/integrations/_integration.html.erb
Due: admin, Admin

Add Prices and Price Lists API
  CLAUDE.md
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/generated/PriceList.ts
  packages/admin-sdk/src/types/generated/PriceRule.ts
  packages/admin-sdk/src/types/generated/index.ts
  spree/admin/spec/controllers/spree/admin/price_rules_controller_spec.rb
  spree/api/app/controllers/spree/api/v3/admin/price_lists_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/price_list_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/price_rule_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/lib/spree/api/openapi/schema_helper.rb
  spree/api/spec/controllers/spree/api/v3/admin/price_lists_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/resource_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/price_lists_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/prices_spec.rb
  spree/core/app/models/spree/permission_sets/product_display.rb
  spree/core/app/models/spree/permission_sets/product_management.rb
  spree/core/app/models/spree/price.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/price_rule.rb
  spree/core/app/models/spree/price_rules/user_rule.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/prices/bulk_upsert.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/services/spree/prices/bulk_upsert_spec.rb
Due: core, api, Core, API

Support Prices and Price Lists in Admin SDK
  packages/admin-sdk/examples/markets/get.ts
  packages/admin-sdk/examples/markets/list.ts
  packages/admin-sdk/examples/price-lists/activate.ts
  packages/admin-sdk/examples/price-lists/create.ts
  packages/admin-sdk/examples/price-lists/deactivate.ts
  packages/admin-sdk/examples/price-lists/delete.ts
  packages/admin-sdk/examples/price-lists/get.ts
  packages/admin-sdk/examples/price-lists/list.ts
  packages/admin-sdk/examples/price-lists/update.ts
  packages/admin-sdk/examples/prices/bulk-destroy.ts
  packages/admin-sdk/examples/prices/bulk-upsert.ts
  packages/admin-sdk/examples/prices/create.ts
  packages/admin-sdk/examples/prices/delete.ts
  packages/admin-sdk/examples/prices/get.ts
  packages/admin-sdk/examples/prices/list.ts
  packages/admin-sdk/examples/prices/update.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/tests/price-lists.test.ts
Due: none

Add Markets (read-only) Admin API
  spree/api/app/controllers/spree/api/v3/admin/markets_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/markets_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/markets_spec.rb
  spree/core/app/models/spree/permission_sets/configuration_management.rb
Due: core, api, Core, API

Added Price Lists admin UI to dashboard with Prices bulk editor
  packages/admin-sdk/src/admin-client.ts
  packages/admin/e2e/price-lists.spec.ts
  packages/admin/src/components/spree/bulk-price-editor/bulk-price-editor-dialog.tsx
  packages/admin/src/components/spree/bulk-price-editor/bulk-price-editor.tsx
  packages/admin/src/components/spree/data-grid/cells.tsx
  packages/admin/src/components/spree/data-grid/data-grid.tsx
  packages/admin/src/components/spree/data-grid/fill-handle.tsx
  packages/admin/src/components/spree/data-grid/helpers.ts
  packages/admin/src/components/spree/data-grid/index.ts
  packages/admin/src/components/spree/data-grid/types.ts
  packages/admin/src/components/spree/data-grid/use-stable-cell-registration.ts
  packages/admin/src/components/spree/price-list-editors/price-list-form.tsx
  packages/admin/src/components/spree/price-list-editors/register.ts
  packages/admin/src/components/spree/price-list-editors/rule-customer-group.tsx
  packages/admin/src/components/spree/price-list-editors/rule-customer.tsx
  packages/admin/src/components/spree/price-list-editors/status-badge.tsx
  packages/admin/src/components/spree/price-list-editors/types.ts
  packages/admin/src/components/spree/products/inventory-section.tsx
  packages/admin/src/hooks/use-price-lists.ts
  packages/admin/src/hooks/use-prices.ts
  packages/admin/src/lib/permissions.ts
  packages/admin/src/locales/en.json
  packages/admin/src/nav/default.ts
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId/products/price-lists/$priceListId/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/price-lists/index.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/price-lists/new.tsx
  packages/admin/src/schemas/price-list.ts
  packages/admin/src/tables/price-lists.tsx
Due: none

Added `Variant#search`
  spree/core/app/models/spree/price.rb
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/variant_spec.rb
Due: core, Core

Support updating base prices in bulk and embed price bulk editor on product form
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
  spree/core/app/services/spree/prices/bulk_upsert.rb
  spree/core/spec/services/spree/prices/bulk_upsert_spec.rb
Due: core, Core

Merge pull request #14089 from caspianlwoods/patch-2
  spree/admin/app/views/spree/admin/integrations/edit.html.erb
Due: admin, Admin

Polish active integration status placement (#14088)
  spree/admin/app/views/spree/admin/integrations/_integration.html.erb
Due: admin, Admin

Add full Admin Markets API/SDK/SPA
  docs/api-reference/admin.yaml
  packages/admin-sdk/examples/markets/create.ts
  packages/admin-sdk/examples/markets/delete.ts
  packages/admin-sdk/examples/markets/update.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Market.ts
  packages/admin/e2e/markets.spec.ts
  packages/admin/src/components/spree/locale-select.tsx
  packages/admin/src/hooks/use-markets.ts
  packages/admin/src/locales/en.json
  packages/admin/src/nav/settings.ts
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId/settings/markets.tsx
  packages/admin/src/schemas/market.ts
  packages/admin/src/tables/markets.tsx
  packages/sdk/src/types/generated/Market.ts
  packages/sdk/src/zod/generated/Market.ts
  spree/api/app/controllers/spree/api/v3/admin/markets_controller.rb
  spree/api/app/serializers/spree/api/v3/market_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/integration/spree/api/v3/admin/markets_spec.rb
  spree/core/app/models/spree/market.rb
  spree/core/spec/models/spree/market_spec.rb
Due: core, api, Core, API

Add full Admin Markets API/SDK/SPA (#14096)
  docs/api-reference/admin.yaml
  packages/admin-sdk/examples/markets/create.ts
  packages/admin-sdk/examples/markets/delete.ts
  packages/admin-sdk/examples/markets/update.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Market.ts
  packages/admin/e2e/markets.spec.ts
  packages/admin/src/components/spree/locale-select.tsx
  packages/admin/src/hooks/use-markets.ts
  packages/admin/src/locales/en.json
  packages/admin/src/nav/settings.ts
  packages/admin/src/routeTree.gen.ts
  packages/admin/src/routes/_authenticated/$storeId/settings/markets.tsx
  packages/admin/src/schemas/market.ts
  packages/admin/src/tables/markets.tsx
  packages/sdk/src/types/generated/Market.ts
  packages/sdk/src/zod/generated/Market.ts
  spree/api/app/controllers/spree/api/v3/admin/markets_controller.rb
  spree/api/app/serializers/spree/api/v3/market_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/integration/spree/api/v3/admin/markets_spec.rb
  spree/core/app/models/spree/market.rb
  spree/core/spec/models/spree/market_spec.rb
Due: core, api, Core, API

Improve and document Authentication strategies for API
  docs/developer/how-to/custom-api-authentication.mdx
  docs/docs.json
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/core/app/models/spree/authentication/strategy_registry.rb
  spree/core/app/models/spree/user_identity.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/authentication/strategy_registry_spec.rb
  spree/core/spec/models/spree/user_identity_spec.rb
Due: core, api, Core, API

Simplify endpoints, add SDK support, add admin auth docs/SDK
  docs/api-reference/store-api/rate-limitting.mdx
  docs/developer/how-to/custom-api-authentication.mdx
  docs/plans/6.0-platform-auth.md
  packages/admin-sdk/.changeset/login-provider-dispatch.md
  packages/admin-sdk/examples/auth/login.ts
  packages/admin-sdk/examples/auth/logout.ts
  packages/admin-sdk/examples/auth/refresh.ts
  packages/admin-sdk/src/admin-client.ts
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/types.ts
  packages/sdk/.changeset/login-provider-dispatch.md
  packages/sdk/src/types/index.ts
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/configuration.rb
  spree/api/lib/spree/api/openapi/schema_helper.rb
  spree/api/spec/controllers/concerns/spree/api/v3/rate_limiting_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/auth_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/auth_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/auth_spec.rb
  spree/api/spec/integration/spree/api/v3/store/auth_spec.rb
  spree/core/app/models/spree/authentication/strategy_registry.rb
  spree/core/lib/spree/core.rb
Due: core, api, Core, API

openapi updated
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
Due: none

fixes + docs
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/auth_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/auth_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/auth_spec.rb
  spree/api/spec/integration/spree/api/v3/store/auth_spec.rb
  spree/core/lib/spree/testing_support/factories/refresh_token_factory.rb
Due: api, API

Update admin-client.ts
  packages/admin-sdk/src/admin-client.ts
Due: none

Make Mintlify Assistant recommend API v3
  docs/.mintlify/Assistant.md
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
