Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Let merchants pick a provider-backed asset source
  packages/dashboard/src/components/spree/products/digital-assets-card.tsx
  packages/dashboard/src/hooks/use-digital-assets.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Add a fully digital product to the sample data
  spree/core/app/services/spree/sample_data/loader.rb
  spree/core/db/sample_data/digital_products.rb
  spree/core/db/sample_data/products.csv
  spree/core/spec/services/spree/sample_data/loader_spec.rb
Due: core, Core

Let a digital asset provider declare per-asset settings
  CLAUDE.md
  docs/plans/6.0-digital-assets.md
  docs/v6/developer/how-to/custom-digital-asset-provider.mdx
  packages/admin-sdk/src/types/generated/DigitalAsset.ts
  spree/api/app/controllers/spree/api/v3/admin/products/digital_assets_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/digital_asset_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/digital_assets_controller_spec.rb
  spree/core/app/models/spree/digital_asset.rb
  spree/core/app/models/spree/digital_asset_provider/base.rb
  spree/core/db/migrate/20260812000002_add_metadata_to_spree_digital_assets.rb
  spree/core/spec/models/spree/digital_asset_provider/base_spec.rb
  spree/core/spec/models/spree/digital_asset_spec.rb
Due: core, api, Core, API

Make the empty digital files card a drag-and-drop dropzone
  packages/dashboard/src/components/spree/products/digital-assets-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Render a provider's settings form in the dashboard
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/components/spree/products/digital-asset-edit-sheet.tsx
  packages/dashboard/src/components/spree/products/digital-asset-provider-sheet.tsx
  packages/dashboard/src/components/spree/products/digital-assets-card.tsx
  packages/dashboard/src/components/spree/products/provider-settings-fields.tsx
Due: none

Add digital files to the product create page
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Product.ts
  packages/dashboard/src/components/spree/products/digital-files-form-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
  packages/dashboard/src/schemas/product.ts
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/app/workflows/spree/products/create.rb
  spree/core/app/workflows/spree/products/nested_attributes.rb
  spree/core/app/workflows/spree/products/update.rb
  spree/core/spec/workflows/spree/products/lifecycle_spec.rb
Due: core, api, Core, API

Regenerate the OpenAPI specs for the digital assets API
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-digital-assets.md
  packages/cli/src/generated/admin-spec.json
Due: none

Close the gaps a connector finds on the paths it actually uses
  spree/api/app/controllers/spree/api/v3/admin/concerns/external_references.rb
  spree/api/app/controllers/spree/api/v3/admin/media_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/external_references_spec.rb
  spree/core/app/models/spree/media.rb
  spree/core/app/workflows/spree/products/nested_attributes.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/product_spec.rb
Due: core, api, Core, API

Document how to build pricing and inventory providers
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/docs.json
  docs/plans/6.0-tax-provider.md
  docs/plans/6.0-third-party-pricing-inventory.md
  docs/plans/6.1-channels-catalogs-b2b.md
  docs/plans/decisions.md
  docs/v6/developer/core-concepts/external-references.mdx
  docs/v6/developer/how-to/custom-inventory-provider.mdx
  docs/v6/developer/how-to/custom-pricing-provider.mdx
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  spree/core/spec/models/spree/provider_how_to_guides_spec.rb
Due: none

Show the data source picker even with nothing to switch to
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
Due: none

Keep a blank restatement from sending the provider into the transaction
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/carts/price_items.rb
Due: core, Core

Say which way a provider failure was resolved
  spree/core/app/models/concerns/spree/provider_failure_policy.rb
  spree/core/app/services/spree/carts/check_availability.rb
  spree/core/lib/spree/core/pricing/price_resolution.rb
Due: core, Core

Count the shelves a feed actually moved
  packages/admin-sdk/src/admin-client.ts
  spree/core/app/services/spree/stock_levels/bulk_upsert.rb
Due: core, Core

Publish the maintenance task endpoints in the API reference
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/examples/maintenance-task-runs/cancel.ts
  packages/admin-sdk/examples/maintenance-task-runs/create.ts
  packages/admin-sdk/examples/maintenance-task-runs/get.ts
  packages/admin-sdk/examples/maintenance-task-runs/list.ts
  packages/admin-sdk/examples/maintenance-tasks/list.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  spree/api/app/serializers/spree/api/v3/admin/maintenance_task_run_serializer.rb
  spree/api/spec/integration/spree/api/v3/admin/maintenance_tasks_spec.rb
  spree/api/spec/swagger_helper.rb
Due: api, API

Give a seller a stock location and a business identity
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/dashboard-core/src/components/address-form-dialog.tsx
  packages/seller-dashboard/src/components/seller-address-card.tsx
  packages/seller-dashboard/src/components/seller-returns-location-card.tsx
  packages/seller-dashboard/src/pages/onboarding.tsx
  packages/seller-dashboard/src/pages/profile.tsx
  packages/seller-sdk/src/index.ts
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/StockLocation.ts
  packages/seller-sdk/src/types/generated/index.ts
  spree/api/app/controllers/spree/api/v3/admin/sellers_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/profile_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/stock_locations_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/stock_location_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/sellers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/profile_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/stock_locations_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/sellers_spec.rb
  spree/core/app/models/spree/business_address.rb
  spree/core/app/models/spree/seller.rb
  spree/core/app/models/spree/seller_requirements/returns_address.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/tax_identifier.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/app/workflows/spree/returns/create.rb
  spree/core/app/workflows/spree/sellers/create.rb
  spree/core/db/migrate/20260816000001_create_spree_sellers.rb
  spree/core/db/migrate/20260820000001_add_seller_business_identity_and_stock_locations.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/testing_support/factories/address_factory.rb
  spree/core/lib/tasks/seller_sample_data.rake
  spree/core/spec/models/spree/seller_requirements_spec.rb
  spree/core/spec/models/spree/seller_spec.rb
  spree/core/spec/models/spree/store_spec.rb
  spree/core/spec/models/spree/tax_identifier_spec.rb
  spree/core/spec/services/spree/commissions/commission_order_spec.rb
  spree/core/spec/workflows/spree/sellers/create_spec.rb
Due: core, api, Core, API

Give the seller panel a Settings launcher and move Team into it
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/nav/settings.ts
  packages/seller-dashboard/src/routeTree.gen.ts
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/settings/index.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/settings/team.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/team.tsx
Due: none

Share the primary sidebar and fold it in the seller panel's settings
  packages/dashboard-core/src/components/app-sidebar.tsx
  packages/seller-dashboard/src/panel-chrome.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/settings.tsx
Due: none

Tell seller stock locations apart in the operator's list
  packages/admin-sdk/src/types/generated/StockLocation.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  packages/dashboard/src/tables/stock-locations.tsx
  spree/api/app/serializers/spree/api/v3/admin/stock_location_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_locations_controller_spec.rb
  spree/core/app/models/spree/stock_location.rb
Due: core, api, Core, API

Show a dash for the marketplace's own stock locations
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/tables/stock-locations.tsx
Due: none

Show the seller on the products list by default
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/tables/products.tsx
Due: none

Show the seller on the orders list by default
  packages/dashboard/src/tables/orders.tsx
Due: none

Decide an uploaded document by its bytes, and leave a place for a scanner
  spree/api/spec/controllers/spree/api/v3/seller/requirement_submissions_controller_spec.rb
  spree/core/app/models/spree/seller_requirement_submission.rb
  spree/core/app/workflows/spree/seller_requirement_submissions/create.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/spec/workflows/spree/seller_requirement_submissions/lifecycle_spec.rb
Due: core, Core

Count a seller's team by people, not by roles
  spree/api/app/controllers/spree/api/v3/seller/team_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/team_controller_spec.rb
Due: api, API

Regenerate the OpenAPI specs
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Address the review findings on the seller panel
  spree/api/app/controllers/spree/api/v3/seller/profile_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/requirement_submissions_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/profile_controller_spec.rb
  spree/api/spec/requests/spree/api/v3/seller/invitation_flow_spec.rb
  spree/api/spec/requests/spree/api/v3/seller/team_management_spec.rb
  spree/core/spec/finders/spree/sellers/panel_url_spec.rb
Due: api, API

Stop a spec reusing a stock location its own rollback removed
  spree/core/spec/workflows/spree/sellers/create_spec.rb
Due: none

Point the seller packages at the tsup build the lockfile actually has
  pnpm-lock.yaml
Due: none

Pin the secret the example JWTs are signed with
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  spree/api/spec/support/deterministic_openapi.rb
Due: none

Pin the secret the example JWTs are signed with (#14482)
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  spree/api/spec/support/deterministic_openapi.rb
Due: none

Give the tax identifier one polymorphic owner
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
  spree/api/app/serializers/spree/api/v3/admin/tax_identifier_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/companies/tax_identifiers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/tax_identifiers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/tax_identifiers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/tax_identifiers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/companies/tax_identifiers_spec.rb
  spree/api/spec/requests/spree/api/v3/store/tax_identifiers_spec.rb
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/app/models/spree/business_address.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/seller.rb
  spree/core/app/models/spree/tax_identifier.rb
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260806000003_create_spree_tax_identifiers.rb
  spree/core/db/migrate/20260807000002_add_company_to_spree_tax_identifiers.rb
  spree/core/lib/spree/testing_support/factories/tax_identifier_factory.rb
  spree/core/spec/jobs/spree/tax_identifiers/validate_job_spec.rb
  spree/core/spec/models/concerns/spree/purchase/taxation_spec.rb
  spree/core/spec/models/spree/tax_identifier_spec.rb
  spree/core/spec/services/spree/tax_identifiers/validate_spec.rb
  spree/core/spec/subscribers/spree/tax_identifier_validation_subscriber_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
Due: core, api, Core, API

Keep the seller panel's build directory on Spree::Dashboard
  spree/core/app/finders/spree/sellers/panel_url.rb
  spree/core/spec/finders/spree/sellers/panel_url_spec.rb
  spree/dashboard/app/controllers/spree/seller_panel/app_controller.rb
  spree/dashboard/lib/spree/dashboard.rb
  spree/dashboard/lib/spree/seller_panel.rb
  spree/dashboard/spec/requests/spree/seller_panel/app_spec.rb
Due: core, Core

Share the duplicated seller and admin API code
  spree/api/app/controllers/concerns/spree/api/v3/address_params.rb
  spree/api/app/controllers/concerns/spree/api/v3/direct_uploads.rb
  spree/api/app/controllers/concerns/spree/api/v3/permission_serialization.rb
  spree/api/app/controllers/concerns/spree/api/v3/seller/seller_context.rb
  spree/api/app/controllers/spree/api/v3/admin/concerns/company_location_params.rb
  spree/api/app/controllers/spree/api/v3/admin/direct_uploads_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/sellers_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/direct_uploads_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/profile_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/stock_locations_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/requirement_status_serializer.rb
  spree/api/config/routes.rb
  spree/core/app/models/spree/seller_requirement_status.rb
  spree/core/app/models/spree/seller_requirement_submission.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/workflows/spree/returns/create.rb
  spree/core/app/workflows/spree/seller_requirement_submissions/create.rb
  spree/core/db/migrate/20260820000001_add_seller_business_identity_and_stock_locations.rb
Due: core, api, Core, API

Declare optional belongs_to associations explicitly
  spree/core/app/models/spree/category.rb
  spree/core/app/models/spree/delivery_rate.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/media.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/promotion_rule_user.rb
  spree/core/app/models/spree/store_credit.rb
  spree/core/app/models/spree/store_credit_event.rb
  spree/core/app/models/spree/store_product.rb
Due: core, Core

Follow the Rails default for belongs_to validation
  docs/developer/upgrades/5.6-to-6.0.mdx
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/price_history.rb
  spree/core/db/sample_data/orders.rb
  spree/core/spec/models/spree/base_spec.rb
  spree/core/spec/models/spree/credit_card_spec.rb
  spree/core/spec/models/spree/inventory_unit_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/services/spree/commissions/commission_order_spec.rb
Due: core, Core

Count only settled payments toward an order group's paid total
  spree/core/app/models/spree/order_group.rb
Due: core, Core

Let a stock movement finish the save that creates it
  spree/core/app/models/spree/stock_movement.rb
  spree/core/config/initializers/rails61_fixes.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
