Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

fix[v-3325]: order_refunded? fix (#13702)
  core/app/models/spree/order.rb
  core/spec/models/spree/order_spec.rb
Due: none

Fix: Replace deprecated Image#plp_url with cdn_image_url variant(:xlarge) (#13678)
  core/app/services/spree/data_feeds/google/required_attributes.rb
  core/spec/services/spree/data_feeds/google/rss_spec.rb
Due: none

Replace custom SSRF protection with ssrf_filter gem (#13742)
  api/app/jobs/spree/webhook_delivery_job.rb
  api/app/services/spree/webhooks/deliver_webhook.rb
  api/app/subscribers/spree/webhook_event_subscriber.rb
  api/spec/jobs/spree/webhook_delivery_job_spec.rb
  api/spec/services/spree/webhooks/deliver_webhook_spec.rb
  core/app/jobs/spree/images/save_from_url_job.rb
  core/app/models/spree/webhook_endpoint.rb
  core/config/locales/en.yml
  core/lib/spree/core/configuration.rb
  core/spec/jobs/spree/images/save_from_url_job_spec.rb
  core/spec/models/spree/webhook_endpoint_spec.rb
  core/spree_core.gemspec
Due: none

Bump spree to 5.3.5
  core/lib/spree/core/version.rb
Due: none

actually advance in try_advance
  spree/api/app/controllers/spree/api/v3/store/checkout/shipments_controller.rb
  spree/api/spec/integration/spree/api/v3/store/checkout_spec.rb
  spree/core/app/services/spree/checkout/update.rb
  spree/core/spec/services/spree/checkout/update_spec.rb
Due: core, api, Core, API

fix persisting ship/bill address id
  spree/api/app/controllers/spree/api/v3/store/checkout_controller.rb
  spree/api/spec/integration/spree/api/v3/store/checkout_spec.rb
Due: api, API

Fixed: create shipments/shipping rates automatically
  spree/api/app/controllers/spree/api/v3/store/cart_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/cart_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/checkout_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/checkout_spec.rb
Due: api, API

Introducing new `Checkout::Update` (#13769)
  spree/api/app/controllers/spree/api/v3/store/cart_controller.rb
  spree/api/app/controllers/spree/api/v3/store/checkout/shipments_controller.rb
  spree/api/app/controllers/spree/api/v3/store/checkout_controller.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/store/cart_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/checkout/shipments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/checkout_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/checkout_spec.rb
  spree/core/app/services/spree/checkout/update.rb
  spree/core/app/services/spree/checkout/v2_update.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/checkout/update_spec.rb
  spree/core/spec/services/spree/checkout/v2_update_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
Due: core, api, Core, API

Supports loading environment variables from `.env` (#13766)
  server/Gemfile.common
  server/Gemfile.lock
Due: none

Added 'Markets' user documentation (#13767)
  docs/images/user/settings/markets/1-markets-overview.png
  docs/images/user/settings/markets/2-new-market.png
  docs/images/user/settings/markets/3-edit-market.png
  docs/images/user/settings/store-details/1-name-and-logo.png
  docs/images/user/settings/store-details/1.StoreDetails.png
  docs/images/user/settings/store-details/2-standards-and-formats.png
  docs/images/user/settings/store-details/2.NameandLogo.png
  docs/images/user/settings/store-details/3-phone-and-address.png
  docs/images/user/settings/store-details/3.CurrenciesandCountries.png
  docs/images/user/settings/store-details/4-digital-assets.png
  docs/images/user/settings/store-details/4.Languageandcurrencyselector.png
  docs/images/user/settings/store-details/5.StandardsandFormats.png
  docs/images/user/settings/store-details/6.DigitalAssets.png
  docs/images/user/settings/store-details/7.JWTAuthentication.png
  docs/images/user/settings/store-details/8.VendorCommissionRates.png
  docs/images/user/settings/store-details/9.VendorPayouts.png
  docs/images/user/settings/store-details/placeholder
  docs/user/manage-products/price-lists.mdx
  docs/user/settings/markets.mdx
  docs/user/settings/store-details.mdx
Due: none

More naming fixes
  packages/next/src/actions/cart.ts
  packages/next/tests/actions/auth.test.ts
  packages/next/tests/actions/cart.test.ts
  packages/next/tests/actions/checkout.test.ts
  packages/next/tests/actions/payment-sessions.test.ts
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/mocks/handlers.ts
  spree/api/app/controllers/concerns/spree/api/v3/cart_resolvable.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/carts_spec.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/cart/create.rb
  spree/core/app/services/spree/carts/create.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/services/spree/carts/upsert_items.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/testing_support/factories/order_factory.rb
  spree/core/spec/services/spree/carts/create_spec.rb
  spree/core/spec/services/spree/carts/upsert_items_spec.rb
Due: core, api, Core, API

Update dependencies.rb
  spree/api/lib/spree/api/dependencies.rb
Due: api, API

Update dependencies.rb
  spree/core/lib/spree/core/dependencies.rb
Due: core, Core

remove consumed changesets
  packages/next/.changeset/unified-carts-api.md
  packages/sdk/.changeset/unified-carts-api.md
Due: none

more fixes and improvements
  docs/api-reference/store-api/authentication.mdx
  docs/api-reference/store.yaml
  docs/developer/core-concepts/orders.mdx
  docs/developer/customization/metadata.mdx
  docs/developer/sdk/authentication.mdx
  docs/developer/sdk/quickstart.mdx
  docs/developer/sdk/store/cart-checkout.mdx
  docs/developer/sdk/store/payments.mdx
  docs/snippets/store-api/auth-guest-cart.mdx
  packages/sdk/src/store-client.ts
  packages/sdk/tests/mocks/handlers.ts
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/coupon_codes_spec.rb
  spree/api/spec/integration/spree/api/v3/store/line_items_spec.rb
  spree/api/spec/integration/spree/api/v3/store/payment_methods_spec.rb
  spree/api/spec/integration/spree/api/v3/store/payment_sessions_spec.rb
  spree/api/spec/integration/spree/api/v3/store/payments_spec.rb
  spree/api/spec/integration/spree/api/v3/store/shipments_spec.rb
  spree/api/spec/integration/spree/api/v3/store/store_credits_spec.rb
  spree/core/app/services/spree/carts/create.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/lib/spree/core/dependencies.rb
Due: core, api, Core, API

fixes
  CLAUDE.md
  docs/api-reference/store-api/authentication.mdx
  docs/api-reference/store-api/errors.mdx
  docs/api-reference/store-api/idempotency.mdx
  docs/api-reference/store-api/metadata.mdx
  docs/api-reference/store.yaml
  docs/developer/core-concepts/addresses.mdx
  docs/developer/core-concepts/adjustments.mdx
  docs/developer/core-concepts/customers.mdx
  docs/developer/core-concepts/orders.mdx
  docs/developer/core-concepts/payments.mdx
  docs/developer/core-concepts/promotions.mdx
  docs/developer/core-concepts/shipments.mdx
  docs/developer/core-concepts/store-credits-gift-cards.mdx
  docs/developer/core-concepts/users.mdx
  docs/developer/customization/metadata.mdx
  docs/developer/how-to/custom-payment-method.mdx
  docs/developer/sdk/quickstart.mdx
  spree/api/README.md
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/concerns/spree/api/v3/order_lock.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/concerns/spree/api/v3/idempotent_spec.rb
  spree/core/config/locales/en.yml
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/core/spec/services/spree/checkout/update_spec.rb
  spree/core/spec/services/spree/checkout/v2_update_spec.rb
Due: core, api, API

fixes
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/core/app/services/spree/carts/create.rb
  spree/core/spec/services/spree/carts/create_spec.rb
Due: core, api, Core, API

fxies
  spree/api/spec/controllers/concerns/spree/api/v3/idempotent_spec.rb
  spree/core/config/locales/en.yml
Due: core

cleanup next package
  packages/next/README.md
  packages/next/src/actions/cart.ts
  packages/next/src/actions/checkout.ts
  packages/next/src/actions/payment-sessions.ts
  packages/next/src/actions/payments.ts
  packages/next/src/cookies.ts
  packages/next/src/index.ts
  packages/next/tests/actions/cart.test.ts
  packages/next/tests/actions/checkout.test.ts
  packages/next/tsup.config.ts
  packages/sdk/src/types/index.ts
Due: none

fixes
  docs/api-reference/store-api/authentication.mdx
  docs/api-reference/store-api/errors.mdx
  docs/api-reference/store-api/metadata.mdx
  docs/api-reference/store.yaml
  docs/developer/core-concepts/orders.mdx
  docs/developer/customization/metadata.mdx
  docs/developer/sdk/store/cart-checkout.mdx
  packages/next/CHANGELOG.md
  packages/sdk/CHANGELOG.md
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/concerns/spree/api/v3/order_lock.rb
  spree/core/config/locales/en.yml
Due: core, api, API

Update carts_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
Due: none

Next: Fix `getOrder` to work for guest users by passing `spreeToken` alongside JWT
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/orders.ts
Due: none

Checkout flow fixes
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/auth.ts
  packages/next/src/actions/cart.ts
  packages/next/src/cookies.ts
  packages/next/tests/actions/auth.test.ts
  packages/next/tests/cookies.test.ts
  spree/core/app/services/spree/carts/update.rb
  spree/core/spec/services/spree/carts/update_spec.rb
Due: core, Core

Checkout flow fixes (#13771)
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/auth.ts
  packages/next/src/actions/cart.ts
  packages/next/src/cookies.ts
  packages/next/tests/actions/auth.test.ts
  packages/next/tests/cookies.test.ts
  spree/core/app/services/spree/carts/update.rb
  spree/core/spec/services/spree/carts/update_spec.rb
Due: core, Core

Gracefully handle cart completion in Carts API
  docs/api-reference/store-api/errors.mdx
  docs/api-reference/store.yaml
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
Due: api, API

Update carts_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
Due: api, API

Gracefully handle cart completion in Carts API (#13772)
  docs/api-reference/store-api/errors.mdx
  docs/api-reference/store.yaml
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
Due: api, API

Next: Allow `complete()` to accept an explicit `cartId` parameter.
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/cart.ts
Due: none

Next: Allow `complete()` to accept an explicit `cartId` parameter. (#13773)
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/cart.ts
Due: none

Add guide for setting up multi-currency pricing
  docs/user/how-to/multi-currency-pricing.mdx
Due: none

Add guide for setting up multi-region pricing
  docs/user/how-to/multi-region-pricing.mdx
Due: none

Add multi-currency and multi-region pricing guides
  docs/docs.json
Due: none

Create 'How-to Guides' images folder
  docs/images/user/how-to/placeholder
Due: none

Create 'Set up Multi-Currency Pricing' image folder
  docs/images/user/how-to/multi-currency-pricing/placeholder
Due: none

Added 'Multi-Currency' screenshots via upload
  docs/images/user/how-to/multi-currency-pricing/1-markets-overview.png
  docs/images/user/how-to/multi-currency-pricing/2-new-market-form.png
  docs/images/user/how-to/multi-currency-pricing/3-markets-configured.png
  docs/images/user/how-to/multi-currency-pricing/4-product-editor.png
  docs/images/user/how-to/multi-currency-pricing/5-currency-switcher.png
  docs/images/user/how-to/multi-currency-pricing/6-pricing-eur.png
  docs/images/user/how-to/multi-currency-pricing/7-storefront-switcher.png
Due: none

Delete docs/images/user/how-to/placeholder
  docs/images/user/how-to/placeholder
Due: none
