Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Expose sellers to the storefront, and on products
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/admin-sdk/src/types/generated/Product.ts
  packages/admin-sdk/src/types/generated/Vendor.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/hooks/use-vendors.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/vendors/$vendorId.tsx
  packages/dashboard/src/tables/products.tsx
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/generated/Product.ts
  packages/sdk/src/types/generated/Vendor.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/Product.ts
  packages/sdk/src/zod/generated/Vendor.ts
  packages/sdk/src/zod/generated/index.ts
  spree/api/app/controllers/spree/api/v3/store/vendors_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/vendor_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/vendor_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/vendors_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/products_spec.rb
  spree/api/spec/integration/spree/api/v3/store/vendors_spec.rb
  spree/core/app/models/spree/product.rb
Due: core, api, Core, API

Translate vendor email subjects in the store's locale
  spree/emails/app/mailers/spree/vendor_mailer.rb
  spree/emails/spec/mailers/spree/vendor_mailer_spec.rb
Due: emails, Emails

Record which seller each line was bought from
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/LineItem.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/LineItem.ts
  packages/sdk/src/zod/generated/LineItem.ts
  spree/api/app/serializers/spree/api/v3/admin/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/line_item_serializer.rb
  spree/api/spec/serializers/spree/api/v3/admin/line_item_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/line_item_serializer_spec.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/db/migrate/20260817000001_add_vendor_to_spree_line_items.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
Due: core, api, Core, API

fixed setting vendor_id for draft orders
  spree/core/app/models/spree/line_item.rb
  spree/core/spec/models/spree/line_item_spec.rb
Due: core, Core

fix
  spree/api/spec/serializers/spree/api/v3/admin/line_item_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/line_item_serializer_spec.rb
Due: none

Keep draft order lines following their product
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
Due: none

Record which seller each line was bought from (#14450)
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/LineItem.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/LineItem.ts
  packages/sdk/src/zod/generated/LineItem.ts
  spree/api/app/serializers/spree/api/v3/admin/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/line_item_serializer.rb
  spree/api/spec/serializers/spree/api/v3/admin/line_item_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/line_item_serializer_spec.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/db/migrate/20260817000001_add_vendor_to_spree_line_items.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
Due: core, api, Core, API

Keep commission targeting inside its own store
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/generated/CommissionRate.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/commission-rates.tsx
  spree/api/app/controllers/spree/api/v3/admin/commission_lines_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/commission_rate_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
  spree/core/app/models/spree/commission_rate.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/commissions/calculate_line.rb
  spree/core/app/services/spree/commissions/commission_order.rb
  spree/core/app/services/spree/commissions/resolve_rate.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260816210001_create_spree_commission_rates.rb
  spree/core/spec/services/spree/commissions/calculate_line_spec.rb
  spree/core/spec/services/spree/commissions/commission_order_spec.rb
  spree/core/spec/services/spree/commissions/resolve_rate_spec.rb
Due: core, api, Core, API

Note where three-decimal currencies lose precision
  spree/core/lib/spree/money.rb
Due: core, Core

Normalize the new error message keys
  spree/core/config/locales/en.yml
Due: core

Store a commission rate code in one case
  spree/core/app/models/spree/commission_rate.rb
  spree/core/spec/models/spree/commission_rate_spec.rb
Due: core, Core

Let a marketplace order its own commission rates
  docs/api-reference/admin.yaml
  packages/admin-sdk/examples/commission_rates/create.ts
  packages/admin-sdk/examples/commission_rates/delete.ts
  packages/admin-sdk/examples/commission_rates/get.ts
  packages/admin-sdk/examples/commission_rates/update.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/CommissionRate.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/commission-rates.tsx
  packages/dashboard/src/schemas/commission-rate.ts
  packages/dashboard/src/tables/commission-rates.tsx
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/commission_rate_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_lines_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/commission_lines_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/commission_rates_spec.rb
  spree/core/app/models/spree/commission_line.rb
  spree/core/app/models/spree/commission_rate.rb
  spree/core/app/models/spree/commission_rule.rb
  spree/core/app/services/spree/commissions/resolve_rate.rb
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/commission_rates.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260816210001_create_spree_commission_rates.rb
  spree/core/lib/spree/testing_support/factories/commission_rate_factory.rb
  spree/core/spec/models/spree/commission_rate_spec.rb
  spree/core/spec/services/spree/commissions/commission_order_spec.rb
  spree/core/spec/services/spree/commissions/resolve_rate_spec.rb
  spree/core/spec/services/spree/seeds/commission_rates_spec.rb
Due: core, api, Core, API

Record that commission precedence became an ordered list
  docs/plans/6.0-multi-vendor-marketplace.md
Due: none

Call the commission base flag tax_inclusive
  docs/api-reference/admin.yaml
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/CommissionRate.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/commission-rates.tsx
  packages/dashboard/src/schemas/commission-rate.ts
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/commission_rate_serializer.rb
  spree/api/spec/integration/spree/api/v3/admin/commission_rates_spec.rb
  spree/core/app/models/spree/commission_rate.rb
  spree/core/app/services/spree/commissions/calculate_line.rb
  spree/core/db/migrate/20260816210001_create_spree_commission_rates.rb
  spree/core/lib/spree/testing_support/factories/commission_rate_factory.rb
Due: core, api, Core, API

Record what the commission survey found
  docs/plans/6.0-multi-vendor-marketplace.md
Due: none

Let a commission line explain how its fee was taxed
  docs/api-reference/admin.yaml
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/admin-sdk/src/types/generated/CommissionLine.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/app/serializers/spree/api/v3/admin/commission_line_serializer.rb
  spree/core/app/models/spree/commission_line.rb
  spree/core/app/models/spree/commission_tax.rb
  spree/core/app/services/spree/commissions/calculate_line.rb
  spree/core/app/services/spree/commissions/commission_order.rb
  spree/core/app/services/spree/commissions/resolve_tax_rate.rb
  spree/core/db/migrate/20260816210002_create_spree_commission_lines.rb
  spree/core/spec/services/spree/commissions/calculate_line_spec.rb
  spree/core/spec/services/spree/commissions/commission_order_spec.rb
  spree/core/spec/services/spree/commissions/resolve_tax_rate_spec.rb
Due: core, api, Core, API

Seed the marketplace fallback at the bottom of the list
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/core/app/services/spree/seeds/commission_rates.rb
  spree/core/spec/services/spree/seeds/commission_rates_spec.rb
Due: core, Core

Name the widening failure this ordering model invites
  docs/plans/6.0-multi-vendor-marketplace.md
Due: none

Fix what the review found in the commission engine
  docs/api-reference/admin.yaml
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
  spree/core/app/models/spree/commission_line.rb
  spree/core/app/models/spree/commission_rate.rb
  spree/core/app/models/spree/commission_rule.rb
  spree/core/app/models/spree/commission_rules/item_total_rule.rb
  spree/core/app/models/spree/commissions/context.rb
  spree/core/app/models/spree/tax_provider/internal.rb
  spree/core/app/services/spree/commissions/calculate_line.rb
  spree/core/app/services/spree/seeds/commission_rates.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/commission_rate_spec.rb
  spree/core/spec/services/spree/commissions/calculate_line_spec.rb
  spree/core/spec/services/spree/seeds/commission_rates_spec.rb
Due: core, api, Core, API

Retire commission rules instead of deleting them
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/core/app/models/spree/commission_rate.rb
  spree/core/app/models/spree/commission_rule.rb
  spree/core/app/models/spree/commission_rule_product.rb
  spree/core/app/models/spree/commission_rules/product_rule.rb
  spree/core/db/migrate/20260816210001_create_spree_commission_rates.rb
  spree/core/spec/models/spree/commission_rate_spec.rb
Due: core, Core

Pin the arrangement a marketplace actually builds
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/core/spec/services/spree/commissions/typical_setup_spec.rb
Due: none

Give a flat fee an amount per currency, and tidy the rate form
  CLAUDE.md
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/CommissionRate.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/lib/slugify.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/channels.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/commission-rates.tsx
  packages/dashboard/src/schemas/commission-rate.ts
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/commission_rate_serializer.rb
  spree/core/app/models/spree/commission_rate.rb
  spree/core/app/models/spree/commission_rate_value.rb
  spree/core/app/services/spree/commissions/calculate_line.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260816210001_create_spree_commission_rates.rb
  spree/core/lib/spree/testing_support/factories/commission_rate_factory.rb
  spree/core/spec/models/spree/commission_rate_spec.rb
  spree/core/spec/services/spree/commissions/resolve_rate_spec.rb
Due: core, api, Core, API

Keep a flat fee from charging delivery
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/dashboard/src/routes/_authenticated/$storeId/settings/commission-rates.tsx
  packages/dashboard/src/schemas/commission-rate.ts
  spree/core/app/models/spree/commission_rate.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/commission_rate_spec.rb
  spree/core/spec/probe15_spec.rb
Due: core, Core

Charge a flat commission fee for every unit sold
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/commission-rates.tsx
  spree/core/app/services/spree/commissions/calculate_line.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/commission_rate_spec.rb
  spree/core/spec/services/spree/commissions/calculate_line_spec.rb
Due: core, Core

Refresh the cached store after a market write
  packages/dashboard/src/hooks/use-markets.test.ts
  packages/dashboard/src/hooks/use-markets.ts
Due: none

Refresh the cached store after a market write (#14452)
  packages/dashboard/src/hooks/use-markets.test.ts
  packages/dashboard/src/hooks/use-markets.ts
Due: none

State a commission rate's floor and cap per currency
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/CommissionRate.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/commission-rates.tsx
  packages/dashboard/src/schemas/commission-rate.ts
  packages/dashboard/src/tables/commission-rates.tsx
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/commission_rate_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/commission_rates_spec.rb
  spree/core/app/models/spree/commission_rate.rb
  spree/core/app/models/spree/commission_rate_value.rb
  spree/core/app/services/spree/commissions/calculate_line.rb
  spree/core/db/migrate/20260816210001_create_spree_commission_rates.rb
  spree/core/lib/spree/testing_support/factories/commission_rate_factory.rb
  spree/core/spec/models/spree/commission_rate_spec.rb
  spree/core/spec/models/spree/commission_rate_value_spec.rb
  spree/core/spec/services/spree/commissions/calculate_line_spec.rb
Due: core, api, Core, API

Keep a promotion inside its own store's catalog
  spree/core/app/models/spree/promotion/actions/create_line_items.rb
  spree/core/app/models/spree/promotion/rules/category.rb
  spree/core/app/models/spree/promotion/rules/customer_group.rb
  spree/core/spec/models/spree/promotion/actions/create_line_items_spec.rb
  spree/core/spec/models/spree/promotion/rules/category_spec.rb
  spree/core/spec/models/spree/promotion/rules/customer_group_spec.rb
Due: core, Core

Plan how exchange rates fill fields without pricing anything
  CLAUDE.md
  docs/plans/6.1-exchange-rates.md
Due: none

Keep a commission rule inside its own store's catalog
  spree/core/app/models/spree/commission_rules/category_rule.rb
  spree/core/app/models/spree/commission_rules/product_rule.rb
  spree/core/app/models/spree/commission_rules/vendor_rule.rb
  spree/core/app/models/spree/promotion/actions/create_line_items.rb
  spree/core/app/models/spree/promotion/rules/category.rb
  spree/core/app/models/spree/promotion/rules/channel.rb
  spree/core/app/models/spree/promotion/rules/customer_group.rb
  spree/core/app/models/spree/promotion/rules/market.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/commission_rules/product_rule_spec.rb
Due: core, Core

Call a marketplace seller a Seller in the dashboard
  packages/dashboard/e2e/vendors.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Rework the typed stock movements plan for the shipped 6.0 core
  CLAUDE.md
  docs/plans/6.0-inventory-operations.md
  docs/plans/6.0-typed-stock-movements.md
  docs/plans/decisions.md
Due: none

Phase P0.2: Introduce Spree::StockLevel with rename bridges
  docs/plans/6.0-typed-stock-movements.md
  spree/core/app/models/spree/stock_item.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_level/custom_events.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/stock_movement.rb
  spree/core/app/models/spree/stock_movement/custom_events.rb
  spree/core/app/models/spree/stock_reservation.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/variant.rb
  spree/core/lib/spree/testing_support/factories/stock_level_factory.rb
  spree/core/spec/models/spree/stock_level_spec.rb
  spree/core/spec/models/spree/stock_movement_spec.rb
  spree/core/spec/models/spree/stock_reservation_spec.rb
Due: core, Core

Phase P0.1: Rename stock items table to stock levels
  spree/core/db/migrate/20260814000001_rename_stock_items_to_stock_levels.rb
Due: core

Phase P1.1: Add typed stock movement columns
  spree/core/db/migrate/20260814000002_add_typed_stock_movements.rb
Due: core

Phase P0.4: Rename the admin stock items endpoint to stock levels
  packages/admin-sdk/src/types/generated/StockLevel.ts
  packages/admin-sdk/src/types/generated/StockReservation.ts
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/dashboard/src/hooks/use-stock-levels.ts
  spree/api/app/controllers/concerns/spree/api/v3/admin/product_listing.rb
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_reservations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_level_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_reservation_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/stock_level_serializer.rb
  spree/api/app/serializers/spree/api/v3/stock_movement_serializer.rb
  spree/api/config/initializers/typelizer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/claims_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/fulfillments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_reservations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_transfers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/delivery_methods_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/fulfillments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variants_spec.rb
  spree/api/spec/integration/spree/api/v3/store/carts_spec.rb
  spree/api/spec/serializers/spree/api/v3/stock_level_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/stock_movement_serializer_spec.rb
Due: api, API

Phase P2.1: Give stock movements a kind and stock levels an allocation
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_movement.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/testing_support/factories/stock_movement_factory.rb
  spree/core/spec/models/spree/stock_level_spec.rb
  spree/core/spec/models/spree/stock_movement/custom_events_spec.rb
  spree/core/spec/models/spree/stock_movement_spec.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
