Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Fix: resolved promotion rule products and categories through the promotion's store
  spree/core/app/models/spree/promotion/rules/category.rb
  spree/core/app/models/spree/promotion/rules/product.rb
  spree/core/app/models/spree/promotion_rule.rb
  spree/core/spec/models/spree/promotion/rules/category_spec.rb
  spree/core/spec/models/spree/promotion/rules/product_spec.rb
Due: core, Core

Fix: sent staff password reset links only to the dashboard
  packages/admin-sdk/src/admin-client.ts
  spree/api/app/controllers/spree/api/v3/admin/password_resets_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/password_resets_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/password_resets_spec.rb
  spree/core/app/mailers/spree/admin_user_mailer.rb
  spree/core/spec/mailers/spree/admin_user_mailer_spec.rb
Due: core, api, Core, API

Fix: stopped staff without the admin role from removing admins
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/app/controllers/spree/api/v3/admin/admin_users_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/admin_users_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/admin_users_spec.rb
Due: api, API

Fix: counted password re-checks towards the login lockout
  spree/api/app/controllers/concerns/spree/api/v3/current_password_confirmation.rb
  spree/api/app/controllers/spree/api/v3/admin/invitation_acceptances_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/invitation_acceptances_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/invitation_acceptances_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customers_controller_spec.rb
  spree/core/app/models/spree/authentication/lockout.rb
  spree/core/app/models/spree/authentication/strategies/email_password_strategy.rb
Due: core, api, Core, API

Fix: accepted only active storefront payment methods at checkout
  spree/api/app/controllers/spree/api/v3/store/carts/payment_sessions_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts/payments_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/payment_sessions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/payments_controller_spec.rb
Due: api, API

Fix: required customer permission to attach a customer to a gift card
  spree/api/app/controllers/spree/api/v3/admin/gift_cards_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/gift_cards_controller_spec.rb
Due: api, API

Fix: limited admin responses to what the caller's permissions cover
  spree/api/app/controllers/concerns/spree/api/v3/admin/embed_permissions.rb
  spree/api/app/controllers/concerns/spree/api/v3/scoped_authorization.rb
  spree/api/app/controllers/spree/api/v3/admin/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/gift_card_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/core/app/models/spree/gift_card.rb
  spree/core/spec/models/spree/gift_card_spec.rb
Due: core, api, Core, API

Fix: hid gift card codes and download links from other company members
  packages/sdk/src/types/generated/LineItem.ts
  packages/sdk/src/zod/generated/LineItem.ts
  spree/api/app/controllers/spree/api/v3/store/companies/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/gift_card_serializer.rb
  spree/api/app/serializers/spree/api/v3/line_item_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/companies/orders_controller_spec.rb
Due: api, API

Fix: computed the product filter price range from base prices, respecting hidden prices
  spree/api/app/controllers/spree/api/v3/store/products/filters_controller.rb
  spree/api/app/serializers/spree/api/v3/product_filters_serializer.rb
  spree/api/app/services/spree/api/v3/filters_aggregator.rb
  spree/api/spec/controllers/spree/api/v3/store/products/filters_controller_spec.rb
  spree/api/spec/services/spree/api/v3/filters_aggregator_spec.rb
Due: api, API

Fix: accepted wishlist variants only from products the buyer can see
  spree/api/app/controllers/concerns/spree/api/v3/store/storefront_products.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/wishlist_items_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/wishlist_items_controller_spec.rb
Due: api, API

Fix: applied a seller's address correction to the order only
  spree/api/app/controllers/spree/api/v3/seller/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders_controller_spec.rb
Due: api, API

Fix: invited company members instead of adding existing accounts directly
  .changeset/sdk-company-members-invite.md
  docs/developer/how-to/build-a-b2b-store.mdx
  packages/sdk/examples/companies/members-create.ts
  packages/sdk/src/store-client.ts
  spree/api/app/controllers/spree/api/v3/store/companies/members_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/companies/members_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/companies_spec.rb
  spree/core/app/services/spree/companies/add_member.rb
  spree/core/spec/services/spree/companies/add_member_spec.rb
Due: core, api, Core, API

Regenerated the API reference
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Roll back a line removal when recalculation fails
  spree/core/app/services/spree/orders/remove_line_item.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/services/spree/orders/remove_line_item_spec.rb
Due: core, Core

Fix: announce an order as paid only once when two updates settle it together
  spree/core/app/services/spree/orders/update_statuses.rb
  spree/core/spec/subscribers/spree/order_status_subscriber_spec.rb
Due: core, Core

Fix: orders export leaves out draft orders (#14732)
  spree/core/app/models/spree/export.rb
  spree/core/spec/models/spree/export_spec.rb
Due: core, Core

Fix: admin password reset emails refuse non-https links in production
  spree/core/app/mailers/spree/admin_user_mailer.rb
  spree/core/spec/mailers/spree/admin_user_mailer_spec.rb
Due: core, Core

Fix: settle an order's payment status under its row lock
  spree/core/app/services/spree/orders/update_statuses.rb
  spree/core/spec/subscribers/spree/order_status_subscriber_spec.rb
Due: core, Core

Fix: addressed CI failures and review findings on the security fixes
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-ui/src/hooks/use-copy-to-clipboard.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/staff.tsx
  packages/seller-dashboard/src/pages/team.tsx
  spree/api/app/controllers/concerns/spree/api/v3/orders/fulfillment_actions.rb
  spree/api/app/controllers/spree/api/v3/seller/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/orders_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/password_resets_spec.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/stock_locations/stock_levels/create.rb
  spree/core/app/workflows/spree/claims/create.rb
  spree/core/app/workflows/spree/exchanges/create.rb
  spree/core/app/workflows/spree/refunds/order_payments.rb
  spree/core/app/workflows/spree/returns/create.rb
  spree/core/spec/workflows/spree/claims/lifecycle_spec.rb
  spree/core/spec/workflows/spree/grouped_order_refunds_spec.rb
Due: core, api, Core, API

Fix: exchange replacements show the product actually being sent (#14721)
  .changeset/dashboard-exchange-replacement-names.md
  packages/dashboard-core/src/lib/fulfillment-items.test.ts
  packages/dashboard-core/src/lib/fulfillment-items.ts
  packages/dashboard/src/components/spree/order-post-sale-cards.tsx
  packages/dashboard/src/components/spree/order-returns-card.tsx
  packages/dashboard/src/lib/variant-label.ts
Due: none

Added a spec for the admin fulfillment stock location permission check
  spree/api/spec/controllers/spree/api/v3/admin/orders/fulfillments_controller_spec.rb
Due: none

Fix: admin password reset emails refuse https links without a host
  spree/core/app/mailers/spree/admin_user_mailer.rb
  spree/core/spec/mailers/spree/admin_user_mailer_spec.rb
Due: core, Core

Fix: derive a split order's payment status from its current shares
  spree/core/app/services/spree/orders/update_statuses.rb
  spree/core/spec/subscribers/spree/payment_split_subscriber_spec.rb
Due: core, Core

Fix: the free-gift promotion action charged for the gift (#14712)
  docs/developer/core-concepts/promotions.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-6.1-split-adjustments.md
  docs/plans/decisions.md
  docs/user/promotions/create-a-promotion.mdx
  docs/user/promotions/promotion-actions.mdx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/es.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/core/app/models/spree/adjusters/promotion.rb
  spree/core/app/models/spree/promotion/actions/create_line_items.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/promotion/actions/create_line_items_spec.rb
Due: core, Core

Restore propagate_all_variants / backorderable_default to the stock location admin form.
  spree/admin/app/views/spree/admin/stock_locations/_form.html.erb
  spree/admin/config/locales/en.yml
Due: admin, Admin

Fix: buyer resolution spec no longer counts the store guard's schema lookups
  spree/core/spec/models/spree/catalog_for_buyer_spec.rb
Due: none

Fix: publishable spec no longer replaces the real product class
  spree/core/spec/models/concerns/spree/publishable_spec.rb
Due: none

Fix: store credit and gift card checkouts could not be placed
  spree/core/app/models/concerns/spree/purchase/gift_cards.rb
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/spree/gift_card.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/services/spree/store_credits/apply.rb
  spree/core/app/workflows/spree/carts/recalculate_totals.rb
  spree/core/app/workflows/spree/gift_cards/apply.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/concerns/spree/purchase/payment_processing_spec.rb
  spree/core/spec/models/spree/order_merger_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/promotion_handler/coupon_with_gift_card_spec.rb
  spree/core/spec/services/spree/store_credits/apply_spec.rb
  spree/core/spec/workflows/spree/carts/recalculate_totals_spec.rb
  spree/core/spec/workflows/spree/gift_cards/apply_spec.rb
  spree/core/spec/workflows/spree/gift_cards/remove_spec.rb
Due: core, Core

Fix: a split purchase stopped the store hearing about its own sale
  spree/emails/app/subscribers/spree/order_group_email_subscriber.rb
  spree/emails/spec/subscribers/spree/order_group_email_subscriber_spec.rb
Due: emails, Emails

Changed the Store API payments endpoint to refuse store credit
  spree/api/app/controllers/spree/api/v3/store/carts/payments_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/gift_card_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/payments_controller_spec.rb
Due: api, API

Docs: store credit is applied rather than chosen, and gift cards follow the total
  docs/developer/core-concepts/store-credits-gift-cards.mdx
  docs/developer/sdk/store/cart-checkout.mdx
  docs/plans/6.0-6.1-loyalty-gift-cards-store-credits.md
  docs/plans/6.0-cart-order-split.md
  docs/plans/6.0-core-rewrite-tasks.md
  docs/plans/decisions.md
Due: none

Fix: a divided checkout told the store about every seller order
  spree/emails/app/subscribers/spree/order_email_subscriber.rb
  spree/emails/spec/subscribers/spree/order_email_subscriber_spec.rb
Due: emails, Emails

Fix: product position ordering spec accepts either order for tied products
  spree/core/spec/models/spree/product/scopes_spec.rb
Due: none

Merge pull request #14670 from spree/fix/v-3642
  docs/developer/core-concepts/events.mdx
  docs/developer/core-concepts/sellers.mdx
  docs/plans/6.0-cart-order-split.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
  packages/admin-sdk/src/types/generated/OrderGroup.ts
  spree/api/app/serializers/spree/api/v3/admin/order_group_serializer.rb
  spree/core/app/models/spree/fulfillment_group.rb
  spree/core/app/models/spree/order_group.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260916000001_add_email_delivery_flags_to_spree_order_groups.rb
  spree/core/lib/spree/testing_support/factories/order_group_factory.rb
  spree/core/lib/spree/testing_support/factories/payment_factory.rb
  spree/core/spec/models/spree/order_group_spec.rb
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
  spree/core/spec/workflows/spree/orders/complete_spec.rb
  spree/emails/app/mailers/spree/order_group_mailer.rb
  spree/emails/app/subscribers/spree/order_email_subscriber.rb
  spree/emails/app/subscribers/spree/order_group_email_subscriber.rb
  spree/emails/app/views/spree/order_group_mailer/confirm_email.html.erb
  spree/emails/app/views/spree/order_group_mailer/confirm_email.text.erb
  spree/emails/app/views/spree/order_group_mailer/store_owner_notification_email.html.erb
  spree/emails/app/views/spree/order_group_mailer/store_owner_notification_email.text.erb
  spree/emails/app/views/spree/shared/_fulfillment_group_section.html.erb
  spree/emails/app/views/spree/shared/_fulfillment_group_section.text.erb
  spree/emails/app/views/spree/shared/_purchase_totals.html.erb
  spree/emails/app/views/spree/shared/_purchase_totals.text.erb
  spree/emails/app/views/spree/shared/purchased_items_table/_line_item.html.erb
  spree/emails/config/i18n-tasks.yml
  spree/emails/config/locales/en.yml
  spree/emails/lib/spree/emails/engine.rb
  spree/emails/lib/spree/emails/previews/order_group_preview.rb
  spree/emails/spec/i18n_spec.rb
  spree/emails/spec/mailers/spree/order_group_mailer_spec.rb
  spree/emails/spec/subscribers/spree/order_email_subscriber_spec.rb
  spree/emails/spec/subscribers/spree/order_group_email_subscriber_spec.rb
Due: core, api, emails, Core, API, Emails

Fix: gift card resize could apply a concurrent change twice
  spree/core/app/models/concerns/spree/purchase/gift_cards.rb
  spree/core/spec/services/spree/store_credits/apply_spec.rb
Due: core, Core

Released Spree 6.0.0.beta3
  .changeset/admin-sdk-order-company-id.md
  .changeset/admin-sdk-refund-reason-param.md
  .changeset/admin-sdk-refund-reason-prefix.md
  .changeset/cli-encryption-init.md
  .changeset/cli-plugin-template-peers.md
  .changeset/cli-upgrade-next-steps.md
  .changeset/create-spree-app-admin-and-render.md
  .changeset/create-spree-app-encryption-keys.md
  .changeset/dashboard-auth-building-blocks.md
  .changeset/dashboard-comma-decimal-prices.md
  .changeset/dashboard-core-slim-entries.md
  .changeset/dashboard-core-spark-md5-types.md
  .changeset/dashboard-customer-class-name.md
  .changeset/dashboard-exchange-replacement-names.md
  .changeset/dashboard-no-store-access.md
  .changeset/dashboard-spanish-locale.md
  .changeset/dashboard-ui-grid-click-away.md
  .changeset/invitation-acceptance-link-endpoint.md
  .changeset/sdk-cart-complete-order-group.md
  .changeset/sdk-company-members-invite.md
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/seller-dashboard/CHANGELOG.md
  packages/seller-dashboard/package.json
  packages/seller-sdk/CHANGELOG.md
  packages/seller-sdk/package.json
  spree/core/lib/spree/core/version.rb
Due: core, Core

Released Spree 6.0.0.beta3 (#14741)
  .changeset/admin-sdk-order-company-id.md
  .changeset/admin-sdk-refund-reason-param.md
  .changeset/admin-sdk-refund-reason-prefix.md
  .changeset/cli-encryption-init.md
  .changeset/cli-plugin-template-peers.md
  .changeset/cli-upgrade-next-steps.md
  .changeset/create-spree-app-admin-and-render.md
  .changeset/create-spree-app-encryption-keys.md
  .changeset/dashboard-auth-building-blocks.md
  .changeset/dashboard-comma-decimal-prices.md
  .changeset/dashboard-core-slim-entries.md
  .changeset/dashboard-core-spark-md5-types.md
  .changeset/dashboard-customer-class-name.md
  .changeset/dashboard-exchange-replacement-names.md
  .changeset/dashboard-no-store-access.md
  .changeset/dashboard-spanish-locale.md
  .changeset/dashboard-ui-grid-click-away.md
  .changeset/invitation-acceptance-link-endpoint.md
  .changeset/sdk-cart-complete-order-group.md
  .changeset/sdk-company-members-invite.md
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard-ui/CHANGELOG.md
  packages/dashboard-ui/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/seller-dashboard/CHANGELOG.md
  packages/seller-dashboard/package.json
  packages/seller-sdk/CHANGELOG.md
  packages/seller-sdk/package.json
  spree/core/lib/spree/core/version.rb
Due: core, Core

Fix: catalog buyer spec counted schema queries
  spree/core/spec/models/spree/catalog_for_buyer_spec.rb
Due: none

Fix: pin Base UI so a scaffolded dashboard boots
  .changeset/pin-base-ui.md
  package.json
  packages/dashboard-ui/package.json
  packages/dashboard/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
