Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Ci/speedup parallelism caching (#14192)
  .github/workflows/packages.yml
  .github/workflows/spelling_lint.yml
  .github/workflows/tests.yml
  spree/admin/spec/controllers/spree/admin/invitations_controller_spec.rb
  spree/admin/spec/spec_helper.rb
  spree/api/spec/spec_helper.rb
  spree/core/lib/spree/testing_support/common_rake.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/spec_helper.rb
  spree/emails/spec/spec_helper.rb
Due: none

[Admin product page] Add permission to publishing section (#14200)
  spree/admin/app/views/spree/admin/products/form/_publishing.html.erb
  spree/core/app/models/spree/permission_sets/product_management.rb
  spree/core/app/services/spree/products/prepare_nested_attributes.rb
  spree/core/spec/models/spree/permission_sets/product_management_spec.rb
  spree/core/spec/services/spree/products/prepare_nested_attributes_spec.rb
Due: core, admin, Core, Admin

Fixed Admin Countries AP N+1s
  spree/api/app/controllers/spree/api/v3/admin/countries_controller.rb
Due: api, API

Fix: remove noise deprecation warning - too early for that
  spree/core/app/models/spree/product.rb
Due: core, Core

Use default flag instead of code to resolve store's default channel (#14221)
  spree/core/app/models/spree/store.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

Add warning on shipping rates deletion (#14219)
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/config/locales/en.yml
  spree/core/spec/services/spree/carts/update_spec.rb
Due: core, Core

Fix flaky VariantsController#search spec on unordered LIMIT (#14177)
  spree/admin/spec/controllers/spree/admin/variants_controller_spec.rb
Due: none

Add Channel price rule
  packages/admin-sdk/src/types/generated/PriceRule.ts
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/components/spree/price-list-editors/register.ts
  packages/dashboard/src/components/spree/price-list-editors/rule-channel.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/price-list.ts
  spree/admin/app/views/spree/admin/price_rules/forms/_channel_rule.html.erb
  spree/api/app/serializers/spree/api/v3/admin/price_rule_serializer.rb
  spree/api/spec/serializers/spree/api/v3/admin/price_rule_serializer_spec.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/price_rules/channel_rule.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/pricing/context.rb
  spree/core/lib/spree/testing_support/factories/price_rule_factory.rb
  spree/core/spec/lib/spree/core/pricing/context_spec.rb
  spree/core/spec/models/spree/price_rules/channel_rule_spec.rb
Due: core, api, admin, Core, API, Admin

Add channel-based price rule filtering (#14236)
  packages/admin-sdk/src/types/generated/PriceRule.ts
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/components/spree/price-list-editors/register.ts
  packages/dashboard/src/components/spree/price-list-editors/rule-channel.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/price-list.ts
  spree/admin/app/views/spree/admin/price_rules/forms/_channel_rule.html.erb
  spree/api/app/serializers/spree/api/v3/admin/price_rule_serializer.rb
  spree/api/spec/serializers/spree/api/v3/admin/price_rule_serializer_spec.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/price_rules/channel_rule.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/pricing/context.rb
  spree/core/lib/spree/testing_support/factories/price_rule_factory.rb
  spree/core/spec/lib/spree/core/pricing/context_spec.rb
  spree/core/spec/models/spree/price_rules/channel_rule_spec.rb
Due: core, api, admin, Core, API, Admin

Add Channel and Market promotion rules
  packages/admin-sdk/src/types/generated/PromotionRule.ts
  packages/dashboard/src/components/spree/promotion-editors/promotion-form.tsx
  packages/dashboard/src/components/spree/promotion-editors/register.ts
  packages/dashboard/src/components/spree/promotion-editors/rule-channel.tsx
  packages/dashboard/src/components/spree/promotion-editors/rule-market.tsx
  packages/dashboard/src/components/spree/promotion-editors/types.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/admin/app/helpers/spree/admin/base_helper.rb
  spree/admin/app/views/spree/admin/promotion_rules/forms/_channel.html.erb
  spree/admin/app/views/spree/admin/promotion_rules/forms/_market.html.erb
  spree/admin/spec/controllers/spree/admin/promotion_rules_controller_spec.rb
  spree/api/app/serializers/spree/api/v3/admin/promotion_rule_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/promotion_rules_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/promotion_rule_serializer_spec.rb
  spree/core/app/models/spree/promotion/rules/channel.rb
  spree/core/app/models/spree/promotion/rules/market.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/testing_support/factories/promotion_rule_factory.rb
  spree/core/spec/models/spree/promotion/rules/channel_spec.rb
  spree/core/spec/models/spree/promotion/rules/market_spec.rb
Due: core, api, admin, Core, API, Admin

Fix taxon store_id backfill failing on PostgreSQL
  spree/core/lib/tasks/taxons.rake
  spree/core/spec/lib/tasks/taxons_spec.rb
Due: core, Core

Fix taxon store_id backfill rake task for PostgreSQL (#14237)
  spree/core/lib/tasks/taxons.rake
  spree/core/spec/lib/tasks/taxons_spec.rb
Due: core, Core

Update Typelizer to accept proc with class name as well as class name itself
  spree/api/config/initializers/typelizer.rb
Due: api

move decorator to lib, update stale typelizer digest from #14236
  packages/admin-sdk/src/types/generated/PriceRule.ts
  spree/api/config/initializers/typelizer.rb
  spree/api/lib/spree/api.rb
  spree/api/lib/typelizer/proc_resource_resolution.rb
Due: api, API

try to fix failing specs due to typelizer
  spree/api/lib/spree/api.rb
  spree/api/lib/typelizer/always_register_type_hints.rb
Due: api, API

Add additional links to Further Reading section
  docs/use-case/marketplace/model.mdx
Due: none

Revise marketplace capabilities documentation
  docs/use-case/marketplace/capabilities.mdx
Due: none

Revise admin dashboard documentation for clarity
  docs/use-case/marketplace/admin-dashboard.mdx
Due: none

Add Channel and Market promotion rules (#14239)
  packages/admin-sdk/src/types/generated/PromotionRule.ts
  packages/dashboard/src/components/spree/promotion-editors/promotion-form.tsx
  packages/dashboard/src/components/spree/promotion-editors/register.ts
  packages/dashboard/src/components/spree/promotion-editors/rule-channel.tsx
  packages/dashboard/src/components/spree/promotion-editors/rule-market.tsx
  packages/dashboard/src/components/spree/promotion-editors/types.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/admin/app/helpers/spree/admin/base_helper.rb
  spree/admin/app/views/spree/admin/promotion_rules/forms/_channel.html.erb
  spree/admin/app/views/spree/admin/promotion_rules/forms/_market.html.erb
  spree/admin/spec/controllers/spree/admin/promotion_rules_controller_spec.rb
  spree/api/app/serializers/spree/api/v3/admin/promotion_rule_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/promotion_rules_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/promotion_rule_serializer_spec.rb
  spree/core/app/models/spree/promotion/rules/channel.rb
  spree/core/app/models/spree/promotion/rules/market.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/testing_support/factories/promotion_rule_factory.rb
  spree/core/spec/models/spree/promotion/rules/channel_spec.rb
  spree/core/spec/models/spree/promotion/rules/market_spec.rb
Due: core, api, admin, Core, API, Admin

Enhance vendor dashboard documentation and links
  docs/use-case/marketplace/vendor-dashboard.mdx
Due: none

Move typelizer fix for flaky tests to test env
  spree/api/lib/spree/api.rb
  spree/api/lib/typelizer/always_register_type_hints.rb
  spree/api/spec/spec_helper.rb
Due: api, API

Revise customer UX documentation for clarity and detail
  docs/use-case/marketplace/customer-ux.mdx
Due: none

move the fix to respective testing support file
  spree/api/lib/spree/api/testing_support/always_register_type_hints.rb
  spree/api/spec/spec_helper.rb
Due: none

Update links in marketplace model documentation
  docs/use-case/marketplace/model.mdx
Due: none

Refactor links in marketplace capabilities documentation
  docs/use-case/marketplace/capabilities.mdx
Due: none

Change external links to relative paths in marketplace admin dashboard use case doc
  docs/use-case/marketplace/admin-dashboard.mdx
Due: none

Change vendor-dashboard links to relative paths
  docs/use-case/marketplace/vendor-dashboard.mdx
Due: none

Update links to use relative paths in customer-ux.mdx
  docs/use-case/marketplace/customer-ux.mdx
Due: none

Fixed condition to render the new store link
  spree/admin/app/views/spree/admin/shared/_new_item_dropdown.html.erb
Due: admin, Admin

Fixed condition to render the new store link (#14242)
  spree/admin/app/views/spree/admin/shared/_new_item_dropdown.html.erb
Due: admin, Admin

Move typelizer fix for flaky tests to test env (#14240)
  spree/api/lib/spree/api.rb
  spree/api/lib/spree/api/testing_support/always_register_type_hints.rb
  spree/api/lib/typelizer/always_register_type_hints.rb
  spree/api/spec/spec_helper.rb
Due: api, API

Add channel-based price rule filtering (#14236)
  packages/admin-sdk/src/types/generated/PriceRule.ts
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/components/spree/price-list-editors/register.ts
  packages/dashboard/src/components/spree/price-list-editors/rule-channel.tsx
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/schemas/price-list.ts
  spree/admin/app/views/spree/admin/price_rules/forms/_channel_rule.html.erb
  spree/api/app/serializers/spree/api/v3/admin/price_rule_serializer.rb
  spree/api/spec/serializers/spree/api/v3/admin/price_rule_serializer_spec.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/price_rules/channel_rule.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/pricing/context.rb
  spree/core/lib/spree/testing_support/factories/price_rule_factory.rb
  spree/core/spec/lib/spree/core/pricing/context_spec.rb
  spree/core/spec/models/spree/price_rules/channel_rule_spec.rb
Due: core, api, admin, Core, API, Admin

Bump spree to 5.5.1
  spree/core/lib/spree/core/version.rb
Due: core, Core

Fixed some misc admin translations
  spree/admin/app/controllers/spree/admin/base_controller.rb
  spree/admin/app/javascript/spree/admin/controllers/calendar_range_controller.js
  spree/admin/app/models/spree/admin/table/column.rb
  spree/admin/app/views/spree/admin/shared/_calendar_range_picker.html.erb
  spree/admin/app/views/spree/admin/tables/_table.html.erb
  spree/admin/config/locales/en.yml
Due: admin, Admin

Normalize en.yml and use interpolated search placeholder
  spree/admin/app/views/spree/admin/tables/_table.html.erb
  spree/admin/config/locales/en.yml
Due: admin, Admin

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
