Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Resolve applicable catalogs once per request instead of per variant
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/catalog_assignment.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/services/spree/products/for_context.rb
  spree/core/spec/lib/spree/core/pricing/catalog_pricing_spec.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/models/spree/current_spec.rb
Due: core, Core

Reuse the request catalog cache when resolving visibility
  spree/core/app/services/spree/products/for_context.rb
Due: core, Core

Resolve applicable catalogs once per request instead of per variant (#14520)
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/catalog_assignment.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/services/spree/products/for_context.rb
  spree/core/spec/lib/spree/core/pricing/catalog_pricing_spec.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/models/spree/current_spec.rb
Due: core, Core

Pre-select the store default country on new address forms
  .changeset/address-form-store-default-country.md
  packages/admin-sdk/src/types/generated/Store.ts
  packages/dashboard-core/src/components/address-form-dialog.test.ts
  packages/dashboard-core/src/components/address-form-dialog.tsx
  packages/dashboard-core/src/providers/store-provider.tsx
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/store_spec.rb
Due: api, API

Regenerate store types and API docs for default country
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/cli/src/generated/admin-spec.json
Due: none

Pre-select the store default country on new dashboard address forms (#14521)
  .changeset/address-form-store-default-country.md
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/generated/Store.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/components/address-form-dialog.test.ts
  packages/dashboard-core/src/components/address-form-dialog.tsx
  packages/dashboard-core/src/providers/store-provider.tsx
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/store_spec.rb
Due: api, API

Check EU VAT number format in core
  docs/api-reference/admin.yaml
  docs/plans/6.0-tax-provider.md
  spree/api/app/controllers/spree/api/v3/admin/concerns/tax_identifier_validation.rb
  spree/api/app/controllers/spree/api/v3/seller/profile_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/companies/tax_identifiers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/tax_identifiers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/tax_identifiers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/profile_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/tax_identifiers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/companies/tax_identifiers_spec.rb
  spree/api/spec/requests/spree/api/v3/store/tax_identifiers_spec.rb
  spree/api/spec/spec_helper.rb
  spree/core/app/models/spree/tax_identifier.rb
  spree/core/app/models/spree/tax_identifiers/validator/base.rb
  spree/core/app/models/spree/tax_identifiers/validator/eu_vat.rb
  spree/core/app/services/spree/tax_identifiers/validate.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/testing_support/factories.rb
  spree/core/lib/spree/testing_support/factories/tax_identifier_factory.rb
  spree/core/lib/spree/testing_support/tax_identifier_validators.rb
  spree/core/lib/spree/testing_support/vat_number_pool.rb
  spree/core/spec/models/concerns/spree/purchase/taxation_spec.rb
  spree/core/spec/models/spree/tax_identifier_spec.rb
  spree/core/spec/models/spree/tax_identifiers/validator/eu_vat_spec.rb
  spree/core/spec/services/spree/tax_identifiers/validate_spec.rb
  spree/core/spec/spec_helper.rb
  spree/core/spec/subscribers/spree/tax_identifier_validation_subscriber_spec.rb
  spree/core/spec/support/tax_identifier_validators.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
  spree/core/spree_core.gemspec
Due: core, api, Core, API

Record an uncheckable validator as unsupported, not unavailable
  spree/core/app/services/spree/tax_identifiers/validate.rb
  spree/core/spec/services/spree/tax_identifiers/validate_spec.rb
Due: core, Core

Trim the EU VAT validator
  spree/api/app/controllers/spree/api/v3/seller/profile_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/companies/tax_identifiers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/tax_identifiers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/tax_identifiers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/profile_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/tax_identifiers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/companies/tax_identifiers_spec.rb
  spree/api/spec/requests/spree/api/v3/store/tax_identifiers_spec.rb
  spree/core/app/models/spree/tax_identifier.rb
  spree/core/app/models/spree/tax_identifiers/validator/eu_vat.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/testing_support/factories.rb
  spree/core/lib/spree/testing_support/factories/tax_identifier_factory.rb
  spree/core/lib/spree/testing_support/tax_identifier_validators.rb
  spree/core/lib/spree/testing_support/vat_number_pool.rb
  spree/core/spec/fixtures/files/eu_vat_numbers.txt
  spree/core/spec/models/spree/tax_identifier_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
Due: core, api, Core, API

Show a rejected registration in the form that submitted it
  packages/seller-dashboard/src/components/seller-business-card.tsx
Due: none

Let a seller say which registration they hold
  packages/seller-dashboard/src/components/seller-business-card.tsx
  packages/seller-dashboard/src/locales/en.json
  spree/api/app/controllers/spree/api/v3/seller/profile_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/profile_controller_spec.rb
Due: api, API

Stop a stale VAT field from erasing a registration
  packages/seller-dashboard/src/components/seller-business-card.tsx
  spree/api/app/controllers/spree/api/v3/seller/profile_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/profile_controller_spec.rb
  spree/core/app/models/spree/tax_identifier.rb
  spree/core/app/models/spree/tax_identifiers/validator/eu_vat.rb
  spree/core/app/services/spree/tax_identifiers/validate.rb
  spree/core/lib/spree/testing_support/tax_identifier_validators.rb
  spree/core/spec/models/spree/tax_identifier_spec.rb
  spree/core/spec/models/spree/tax_identifiers/validator/eu_vat_spec.rb
Due: core, api, Core, API

Say what is wrong with a rejected registration
  docs/api-reference/admin.yaml
  packages/dashboard/src/components/spree/tax-identifiers-card.tsx
  spree/core/app/models/spree/tax_identifier.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/tax_identifier_spec.rb
Due: core, Core

Save a registration kind the merchant typed
  packages/dashboard/src/components/spree/tax-identifiers-card.tsx
  packages/seller-dashboard/src/components/seller-business-card.tsx
Due: none

Correct what the unvalidatable badge claims
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/core/lib/spree/testing_support/tax_identifier_validators.rb
  spree/core/spec/models/spree/tax_identifier_spec.rb
Due: none

Manage a seller's tax registrations the way a company's are
  docs/api-reference/seller.yaml
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/tax-identifiers-card.tsx
  packages/dashboard/src/components/spree/tax-identifiers-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/seller-dashboard/src/components/seller-business-card.tsx
  packages/seller-dashboard/src/components/seller-tax-identifiers-card.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/profile.tsx
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/Profile.ts
  spree/api/app/controllers/concerns/spree/api/v3/tax_identifier_validation.rb
  spree/api/app/controllers/spree/api/v3/admin/companies/tax_identifiers_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/concerns/tax_identifier_validation.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/tax_identifiers_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/profile_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/tax_identifiers_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/profile_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/profile_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/tax_identifiers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/profile_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/tax_identifiers_spec.rb
Due: api, API

Regenerate the seller spec after the rebase
  docs/api-reference/seller.yaml
Due: none

fixes
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/command.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/categories/index.tsx
  packages/dashboard/src/tables/products.tsx
Due: none

Address review feedback on dashboard table filters
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-core/src/components/tag-combobox.tsx
  packages/dashboard-core/src/lib/filters-to-ransack.test.ts
  packages/dashboard-core/src/lib/filters-to-ransack.ts
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard/src/routes/login.tsx
  packages/dashboard/src/tables/price-lists.tsx
Due: none

Note the timezone limitation on date filter bounds
  packages/dashboard-core/src/lib/filters-to-ransack.ts
Due: none

Carry the date upper bound to the microsecond
  packages/dashboard-core/src/lib/filters-to-ransack.test.ts
  packages/dashboard-core/src/lib/filters-to-ransack.ts
Due: none

Size the filter panel for touch
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard-ui/src/styles.css
Due: none

Document the digital products experience for developers
  docs/developer/core-concepts/products.mdx
  docs/developer/how-to/custom-digital-asset-provider.mdx
  docs/developer/how-to/sell-digital-products.mdx
Due: none

Define a digital product by its delivery profile, not its files
  docs/developer/core-concepts/products.mdx
Due: none

Docs: document the digital products experience for developers (#14524)
  docs/developer/core-concepts/products.mdx
  docs/developer/how-to/custom-digital-asset-provider.mdx
  docs/developer/how-to/sell-digital-products.mdx
Due: none

Add B2B plans for Spree 6.1
  CLAUDE.md
  docs/plans/6.0-6.1-b2b-payment-terms.md
  docs/plans/6.0-b2b-companies-and-catalogs.md
  docs/plans/6.0-b2b-company-self-registration.md
  docs/plans/6.0-b2b-customer-po-numbers.md
  docs/plans/6.0-b2b-quantity-rules.md
  docs/plans/6.0-b2b-wholesale-shipping.md
  docs/plans/6.0-catalog-agreement-rework.md
  docs/plans/6.0-draft-order-negotiation-mechanics.md
  docs/plans/6.0-inventory-operations.md
  docs/plans/6.0-price-list-automatic-pricing.md
  docs/plans/6.1-b2b-order-documents.md
  docs/plans/6.1-order-change-substrate.md
  docs/plans/6.1-order-stages.md
  docs/plans/decisions.md
Due: none

Invert the catalog price list binding and close the deactivation leak
  CLAUDE.md
  docs/developer/core-concepts/catalogs.mdx
  docs/developer/core-concepts/pricing.mdx
  docs/plans/6.0-catalog-agreement-rework.md
  docs/plans/decisions.md
  packages/admin-sdk/src/params.ts
  packages/dashboard/e2e/price-lists.spec.ts
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/price_rule.rb
  spree/core/app/models/spree/price_rules/channel_rule.rb
  spree/core/app/models/spree/price_rules/customer_group_rule.rb
  spree/core/app/models/spree/price_rules/user_rule.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/db/migrate/20260825000001_create_spree_catalogs.rb
  spree/core/db/migrate/20260830000001_add_catalog_to_spree_price_lists.rb
  spree/core/spec/lib/spree/core/pricing/catalog_pricing_spec.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/models/spree/current_spec.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/price_rule_spec.rb
  spree/core/spec/models/spree/price_rules/customer_group_rule_spec.rb
  spree/core/spec/models/spree/price_rules/user_rule_spec.rb
Due: core, Core

Address review: MySQL uniqueness, unsaved lists, concurrent re-homing
  docs/plans/6.0-catalog-agreement-rework.md
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/services/spree/categories/remove_products.rb
  spree/core/app/services/spree/collections/remove_products.rb
  spree/core/app/services/spree/prices/bulk_upsert.rb
  spree/core/db/migrate/20260816210001_create_spree_commission_rates.rb
  spree/core/db/migrate/20260830000001_add_catalog_to_spree_price_lists.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/models/spree/catalog_spec.rb
Due: core, Core

Invert the catalog price list binding and close the deactivation leak (#14525)
  CLAUDE.md
  docs/developer/core-concepts/catalogs.mdx
  docs/developer/core-concepts/pricing.mdx
  docs/plans/6.0-catalog-agreement-rework.md
  docs/plans/decisions.md
  packages/admin-sdk/src/params.ts
  packages/dashboard/e2e/price-lists.spec.ts
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/price_rule.rb
  spree/core/app/models/spree/price_rules/channel_rule.rb
  spree/core/app/models/spree/price_rules/customer_group_rule.rb
  spree/core/app/models/spree/price_rules/user_rule.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/services/spree/categories/remove_products.rb
  spree/core/app/services/spree/collections/remove_products.rb
  spree/core/app/services/spree/prices/bulk_upsert.rb
  spree/core/db/migrate/20260816210001_create_spree_commission_rates.rb
  spree/core/db/migrate/20260825000001_create_spree_catalogs.rb
  spree/core/db/migrate/20260830000001_add_catalog_to_spree_price_lists.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/lib/spree/core/pricing/catalog_pricing_spec.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/models/spree/current_spec.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/models/spree/price_rule_spec.rb
  spree/core/spec/models/spree/price_rules/customer_group_rule_spec.rb
  spree/core/spec/models/spree/price_rules/user_rule_spec.rb
Due: core, Core

Release the outgoing price list before saving an unsaved replacement
  spree/core/app/models/spree/catalog.rb
  spree/core/spec/models/spree/catalog_spec.rb
Due: core, Core

Let staff negotiate a unit price on draft orders
  spree/core/app/models/spree/carts/resolved_item.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/pricing_provider.rb
  spree/core/app/services/spree/carts/price_items.rb
  spree/core/app/services/spree/orders/create.rb
  spree/core/app/services/spree/orders/create_from_cart.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/app/services/spree/orders/update_item.rb
  spree/core/app/workflows/spree/carts/add_item.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/pricing_provider_spec.rb
  spree/core/spec/services/spree/carts/price_items_spec.rb
  spree/core/spec/services/spree/orders/create_from_cart_spec.rb
  spree/core/spec/services/spree/orders/create_spec.rb
  spree/core/spec/services/spree/orders/item_services_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
  spree/core/spec/workflows/spree/orders/complete_spec.rb
  spree/core/spec/workflows/spree/orders/upsert_items_spec.rb
Due: core, Core

Let staff open a draft order for a company
  packages/dashboard-core/src/lib/filters-to-ransack.test.ts
  packages/dashboard-core/src/lib/filters-to-ransack.ts
  packages/dashboard-core/src/lib/table-registry.ts
  packages/dashboard/src/hooks/use-companies.ts
  packages/dashboard/src/hooks/use-customers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/orders/new.tsx
  packages/dashboard/src/tables/customers.tsx
  spree/api/app/controllers/spree/api/v3/admin/customers_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/customer_serializer_spec.rb
  spree/core/app/models/concerns/spree/customer_methods.rb
  spree/core/spec/models/spree/customer_standing_scope_spec.rb
Due: core, api, Core, API

Surface negotiated pricing in the admin API and order editor
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/admin-sdk/src/types/generated/LineItem.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/e2e/orders.spec.ts
  packages/dashboard/src/components/spree/orders/order-edit-items-table.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/edit.tsx
  packages/dashboard/src/schemas/order.test.ts
  packages/dashboard/src/schemas/order.ts
  spree/api/app/controllers/spree/api/v3/admin/orders/items_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/items_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/line_item_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/order_serializer_spec.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/payment/gateway_options.rb
  spree/core/spec/models/spree/payment/gateway_options_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: core, api, Core, API

Record the negotiation mechanics as implemented
  CLAUDE.md
  docs/plans/6.0-6.1-b2b-payment-terms.md
  docs/plans/6.0-b2b-companies-and-catalogs.md
  docs/plans/6.0-draft-order-negotiation-mechanics.md
  docs/plans/6.1-order-change-substrate.md
  docs/plans/decisions.md
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
