Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Split the agent screens, and stopped offering an agent the right to manage agents
  packages/dashboard/src/components/spree/oauth-application-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/connected-apps.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/oauth-clients.tsx
  packages/dashboard/src/tables/oauth-clients.tsx
  spree/api/lib/spree/api/oauth.rb
Due: api, API

Renamed the agents permission scope to oauth_applications
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/oauth/application_tokens_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/oauth/applications_controller.rb
  spree/api/lib/spree/api/oauth.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth/authorizations_spec.rb
  spree/core/lib/spree/core/permissions/default_catalog.rb
Due: core, api, Core, API

Fix: consent could be approved before the merchant saw what it granted
  packages/dashboard/src/routes/_authenticated/$storeId/oauth/authorize.tsx
Due: none

Changed connecting an agent to a two-step choice, and dropped the seeded clients
  docs/plans/6.0-mcp-oauth.md
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/es.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/components/spree/mcp-connect-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/core/app/services/spree/seeds/oauth_applications.rb
  spree/core/app/services/spree/seeds/store_resources.rb
Due: core, Core

Changed both OAuth sheets to the standard sheet layout
  packages/dashboard/src/components/spree/mcp-connect-sheet.tsx
  packages/dashboard/src/components/spree/oauth-application-sheet.tsx
Due: none

Changed the connect sheet to choice cards with per-client instructions
  packages/dashboard/src/components/spree/mcp-connect-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Added a connected status to the agents list
  packages/admin-sdk/src/types/generated/OauthApplication.ts
  packages/admin-sdk/src/zod/generated/OauthApplication.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/connected-apps.tsx
  packages/dashboard/src/tables/oauth-applications.tsx
  spree/api/app/serializers/spree/api/v3/admin/oauth_application_serializer.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth/applications_spec.rb
  spree/core/app/models/spree/oauth_application.rb
Due: core, api, Core, API

Changed create_export to name the resource the agent can read
  spree/core/app/tools/spree/agent_tools/create_export.rb
  spree/mcp/lib/spree/mcp/server.rb
Due: core, Core

Fix: every connection failed with "The requested scope is invalid"
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
  spree/api/app/controllers/spree/api/v3/oauth/metadata_controller.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth/authorizations_spec.rb
Due: api, API

Added end-to-end tests for connecting agents and managing OAuth clients
  packages/dashboard/e2e/oauth-clients.spec.ts
  packages/dashboard/src/components/spree/oauth-application-sheet.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/oauth-clients.tsx
Due: none

Fix: a terminal client could not complete the OAuth flow
  packages/dashboard/src/components/spree/mcp-connect-sheet.tsx
  spree/api/lib/spree/api/oauth.rb
  spree/api/spec/lib/spree/api/oauth_redirect_uri_spec.rb
Due: api, API

Exposed the order completion workflow as an agent tool
  spree/core/lib/spree/agent_tools/default_catalog.rb
Due: core, Core

Added end-to-end tests for a custom client and for a store with none connected
  packages/dashboard/e2e/oauth-clients.spec.ts
Due: none

Fix: a workflow naming an unknown resource passed both of its guards
  spree/api/spec/tools/spree/agent_tools/workflow_tool_arguments_spec.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
Due: core, Core

Fix: every price search failed, and a variant's subtitle printed a Ruby hash
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/agent_tools/resource_map_spec.rb
  spree/core/app/tools/spree/agent_tools/search_resources.rb
  spree/core/lib/spree/agent_tools/record_summary.rb
  spree/core/lib/spree/agent_tools/resource_map.rb
  spree/core/spec/lib/spree/agent_tools/record_summary_spec.rb
Due: core, api, Core, API

Added a tool for which products a category, collection or price list holds
  docs/developer/agentic/admin-mcp.mdx
  packages/dashboard-starter/src/routeTree.gen.ts
  spree/api/lib/spree/api/agent_membership_map.rb
  spree/api/lib/spree/api/engine.rb
  spree/api/spec/tools/spree/agent_tools/curate_products_spec.rb
  spree/core/app/tools/spree/agent_tools/curate_products.rb
  spree/core/lib/spree/agent_tools.rb
  spree/core/lib/spree/agent_tools/default_catalog.rb
  spree/core/lib/spree/agent_tools/membership_map.rb
  spree/mcp/lib/spree/mcp/server.rb
  spree/mcp/lib/spree/mcp/tool_adapter.rb
  spree/mcp/spec/lib/spree/mcp/server_spec.rb
Due: core, api, Core, API

Added a check that the agent permission subject keeps its short name
  spree/api/spec/controllers/spree/api/v3/admin/me_controller_spec.rb
Due: none

Fix: a delegated credential escaped the ceiling the merchant consented to
  spree/api/app/controllers/spree/api/v3/admin/exports_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/imports_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/translations/batches_controller.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth_access_spec.rb
  spree/core/app/models/concerns/spree/translatable_resource.rb
  spree/core/app/models/spree/option_type.rb
  spree/core/app/models/spree/option_value.rb
  spree/core/app/models/spree/policy.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/translations/batch.rb
  spree/core/spec/models/spree/translations/batch_spec.rb
Due: core, api, Core, API

Added the files attached to records as MCP resources
  docs/developer/agentic/admin-mcp.mdx
  spree/core/lib/spree/agent_tools.rb
  spree/core/lib/spree/agent_tools/attachment_registry.rb
  spree/core/lib/spree/agent_tools/default_catalog.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/lib/spree/agent_tools/attachment_registry_spec.rb
  spree/mcp/lib/spree/mcp/attachments.rb
  spree/mcp/lib/spree/mcp/server.rb
  spree/mcp/lib/spree_mcp.rb
  spree/mcp/spec/lib/spree/mcp/attachments_spec.rb
Due: core, Core

Added a tool for starting a draft order
  docs/developer/agentic/admin-mcp.mdx
  spree/api/spec/tools/spree/agent_tools/create_order_spec.rb
  spree/core/app/tools/spree/agent_tools/create_order.rb
  spree/core/lib/spree/agent_tools/default_catalog.rb
Due: core, Core

Added a tool for storing a file the merchant provided
  docs/developer/agentic/admin-mcp.mdx
  spree/api/spec/tools/spree/agent_tools/upload_file_spec.rb
  spree/core/app/tools/spree/agent_tools/upload_file.rb
  spree/core/lib/spree/agent_tools/default_catalog.rb
  spree/mcp/lib/spree/mcp/server.rb
Due: core, Core

Added tools for putting an uploaded file on a product or into an import
  docs/developer/agentic/admin-mcp.mdx
  spree/api/spec/tools/spree/agent_tools/upload_chain_spec.rb
  spree/core/app/tools/spree/agent_tools/create_import.rb
  spree/core/app/tools/spree/agent_tools/create_media.rb
  spree/core/lib/spree/agent_tools/default_catalog.rb
  spree/mcp/lib/spree/mcp/server.rb
Due: core, Core

Changed order creation and stock upserts into workflows
  docs/plans/6.0-mcp-server.md
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/core/app/workflows/spree/orders/create.rb
  spree/core/app/workflows/spree/stock_levels/bulk_upsert.rb
  spree/core/lib/spree/agent_tools/default_catalog.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/workflows/spree/stock_levels/bulk_upsert_spec.rb
Due: core, api, Core, API

Added the dispatcher that runs a tool call through the Admin API
  spree/api/spec/lib/spree/agent_tools/api_dispatch_spec.rb
  spree/core/lib/spree/agent_tools.rb
  spree/core/lib/spree/agent_tools/api_dispatch.rb
  spree/core/lib/spree/agent_tools/context.rb
Due: core, Core

Changed the read tools to run through the Admin API
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
  spree/api/lib/spree/api/oauth.rb
  spree/api/spec/lib/spree/agent_tools/api_dispatch_spec.rb
  spree/api/spec/lib/spree/agent_tools/authorization_spec.rb
  spree/api/spec/lib/spree/agent_tools/extension_path_spec.rb
  spree/api/spec/lib/spree/agent_tools/resource_map_spec.rb
  spree/api/spec/support/agent_dispatch_headers.rb
  spree/api/spec/tools/spree/agent_tools/create_export_spec.rb
  spree/api/spec/tools/spree/agent_tools/create_order_spec.rb
  spree/api/spec/tools/spree/agent_tools/curate_products_spec.rb
  spree/api/spec/tools/spree/agent_tools/import_tools_spec.rb
  spree/api/spec/tools/spree/agent_tools/reporting_tools_spec.rb
  spree/api/spec/tools/spree/agent_tools/resource_write_spec.rb
  spree/api/spec/tools/spree/agent_tools/search_resources_spec.rb
  spree/api/spec/tools/spree/agent_tools/upload_file_spec.rb
  spree/api/spec/tools/spree/agent_tools/workflow_tool_arguments_spec.rb
  spree/core/app/tools/spree/agent_tools/get_resource.rb
  spree/core/app/tools/spree/agent_tools/search_resources.rb
  spree/core/lib/spree/agent_tools/api_dispatch.rb
  spree/core/lib/spree/agent_tools/record_summary.rb
  spree/mcp/app/controllers/spree/api/v3/admin/mcp_controller.rb
  spree/mcp/spec/lib/spree/mcp/server_spec.rb
  spree/mcp/spec/requests/spree/api/v3/admin/mcp_spec.rb
Due: core, api, Core, API

Added the Admin API path each resource's operations live at
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/agent_tools/resource_map_spec.rb
  spree/core/lib/spree/agent_tools/resource_map.rb
Due: core, api, Core, API

Changed the generic writes to run through the Admin API
  spree/api/spec/tools/spree/agent_tools/resource_write_spec.rb
  spree/core/app/tools/spree/agent_tools/create_resource.rb
  spree/core/app/tools/spree/agent_tools/delete_resource.rb
  spree/core/app/tools/spree/agent_tools/describe_resource.rb
  spree/core/app/tools/spree/agent_tools/resource_write.rb
  spree/core/app/tools/spree/agent_tools/update_resource.rb
Due: core, Core

Changed curation and stock setting to run through their endpoints
  spree/api/lib/spree/api/agent_membership_map.rb
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/agent_tools/authorization_spec.rb
  spree/api/spec/lib/spree/api/agent_tools_contract_spec.rb
  spree/api/spec/tools/spree/agent_tools/curate_products_spec.rb
  spree/api/spec/tools/spree/agent_tools/set_stock_spec.rb
  spree/core/app/tools/spree/agent_tools/curate_products.rb
  spree/core/app/tools/spree/agent_tools/set_stock.rb
  spree/core/lib/spree/agent_tools/default_catalog.rb
  spree/core/lib/spree/agent_tools/membership_map.rb
Due: core, api, Core, API

Removed what the dispatcher replaced
  docs/plans/6.0-mcp-server.md
  spree/api/spec/integration/spree/api/v3/admin/direct_uploads_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders_spec.rb
  spree/api/spec/lib/spree/api/agent_tools_contract_spec.rb
  spree/api/spec/tools/spree/agent_tools/upload_chain_spec.rb
  spree/api/spec/tools/spree/agent_tools/upload_file_spec.rb
  spree/core/app/tools/spree/agent_tools/resource_write.rb
  spree/core/app/tools/spree/agent_tools/upload_file.rb
  spree/core/lib/spree/agent_tools/resource_map.rb
  spree/mcp/lib/spree/mcp/attachments.rb
  spree/mcp/lib/spree/mcp/exports.rb
Due: core, Core

Changed uploads to main's files endpoint
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/types/generated/index.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/spec/integration/spree/api/v3/admin/direct_uploads_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders_spec.rb
  spree/api/spec/tools/spree/agent_tools/upload_file_spec.rb
  spree/core/app/tools/spree/agent_tools/upload_file.rb
  spree/core/lib/spree/agent_tools/api_dispatch.rb
Due: core, Core

Removed agent code the endpoints already do
  spree/api/lib/spree/api/agent_membership_map.rb
  spree/api/spec/tools/spree/agent_tools/set_stock_spec.rb
  spree/api/spec/tools/spree/agent_tools/upload_chain_spec.rb
  spree/core/app/tools/spree/agent_tools/create_media.rb
  spree/core/app/tools/spree/agent_tools/set_stock.rb
  spree/core/lib/spree/agent_tools/membership_map.rb
Due: core, api, Core, API

Removed the custom order creation tool
  spree/api/spec/tools/spree/agent_tools/create_order_spec.rb
  spree/core/app/tools/spree/agent_tools/create_order.rb
  spree/core/lib/spree/agent_tools/default_catalog.rb
Due: core, Core

Removed the CRUD workflow tools the generic write covers
  docs/plans/6.0-mcp-server.md
  spree/api/spec/lib/spree/agent_tools/authorization_spec.rb
  spree/api/spec/tools/spree/agent_tools/workflow_tool_arguments_spec.rb
  spree/core/lib/spree/agent_tools/default_catalog.rb
  spree/mcp/spec/lib/spree/mcp/server_spec.rb
Due: core, Core
