Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Refine the activation gating after the second review
  docs/plans/6.0-b2b-company-self-registration.md
  spree/api/app/controllers/spree/api/v3/store/auth_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/core/app/models/concerns/spree/purchase/company.rb
  spree/core/app/models/concerns/spree/purchase/lifecycle.rb
  spree/core/app/models/spree/checkout/default_requirements.rb
  spree/core/app/models/spree/companies/activation_policy.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/services/spree/tax/resolve_exemptions.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/testing_support/company_activation_policy.rb
  spree/core/spec/models/concerns/spree/purchase/company_spec.rb
  spree/core/spec/models/concerns/spree/purchase/lifecycle_spec.rb
  spree/core/spec/models/spree/checkout/requirements_spec.rb
  spree/core/spec/services/spree/tax/resolve_exemptions_spec.rb
Due: core, api, Core, API

Simplify the activation lookups and the receipts opt-out
  spree/api/app/controllers/concerns/spree/api/v3/storefront_gating.rb
  spree/api/app/controllers/spree/api/v3/store/customer/gift_cards_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/core/app/models/spree/companies/activation_policy.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/services/spree/tax/resolve_exemptions.rb
Due: core, api, Core, API

Keep a placed order's exemptions frozen with its tax registration
  spree/core/app/services/spree/tax/resolve_exemptions.rb
  spree/core/spec/services/spree/tax/resolve_exemptions_spec.rb
  spree/core/spec/workflows/spree/companies/register_spec.rb
Due: core, Core

Follow main's error-code convention and regenerate API artifacts
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/CatalogProduct.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Order.ts
  packages/seller-sdk/src/types/generated/Product.ts
  spree/core/app/workflows/spree/companies/register.rb
Due: core, Core

Document the offer endpoints and ship them in the seller SDK
  spree/api/spec/integration/spree/api/v3/seller/offers_spec.rb
Due: none

Show offers in the operator dashboard, and document the shared catalog
  docs/developer/core-concepts/sellers.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard-core/src/products/product-form-mapping.ts
  packages/dashboard-core/src/products/product-schema.ts
  packages/dashboard-core/src/products/product-types.ts
  packages/dashboard/src/components/spree/products/product-marketplace-card.tsx
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/dashboard/src/components/spree/products/product-seller-card.tsx
  packages/dashboard/src/hooks/use-products.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
  packages/dashboard/src/tables/products.tsx
  spree/core/lib/tasks/seller_sample_data.rake
Due: core, Core

Give the seller panel an Offers section
  packages/admin-sdk/src/types/generated/OptionType.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/products/variant-edit-sheet.tsx
  packages/dashboard-core/src/products/variant-field-sections.tsx
  packages/sdk/src/types/generated/OptionType.ts
  packages/sdk/src/zod/generated/OptionType.ts
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/src/components/offer-status-card.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/routeTree.gen.ts
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/$variantId.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/index.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/new.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  packages/seller-dashboard/src/tables/offers.tsx
  packages/seller-sdk/src/types/generated/OptionType.ts
  spree/api/app/serializers/spree/api/v3/option_type_serializer.rb
Due: api, API

Apply the simplify pass
  packages/dashboard/src/hooks/use-sellers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  spree/api/app/controllers/concerns/spree/api/v3/status_actions.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/app/services/spree/api/v3/filters_aggregator.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product_submission.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/app/services/spree/products/select_buy_box.rb
  spree/core/db/migrate/20260905000002_add_status_to_spree_variants.rb
  spree/core/spec/models/spree/variant_status_visibility_spec.rb
  spree/providers/meilisearch/app/presenters/spree_meilisearch/product_presenter.rb
Due: core, api, Core, API

Address the first review round
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/dashboard/src/tables/products.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/workflows/spree/variants/archive.rb
  spree/core/app/workflows/spree/variants/draft.rb
  spree/core/config/locales/en.yml
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: core, api, Core, API

Keep an unapproved offer out of the product's sale state
  docs/plans/6.0-seller-master-catalog-listings.md
  spree/core/app/models/spree/product.rb
  spree/core/spec/models/spree/variant_status_visibility_spec.rb
Due: core, Core

Record what the seller offers work settled
  docs/plans/6.0-seller-master-catalog-listings.md
  docs/plans/decisions.md
Due: none

Address the second review round
  packages/dashboard-core/src/products/variant-field-sections.tsx
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  spree/api/app/controllers/concerns/spree/api/v3/seller/catalog_params.rb
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/variants_controller_spec.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/products/duplicator.rb
  spree/core/app/workflows/spree/variants/update.rb
  spree/core/spec/services/spree/products/duplicator_spec.rb
Due: core, api, Core, API

Fix the offers page heading, a missing label and the sample offer
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/tables/offers.tsx
  spree/core/lib/tasks/seller_sample_data.rake
Due: core, Core

Give an offer the same price and inventory grids the operator uses
  packages/dashboard-core/src/products/inventory-section.tsx
  packages/dashboard-core/src/products/product-bulk-price-editor.tsx
  packages/dashboard-core/src/products/product-form-cards.tsx
  packages/dashboard-core/src/products/product-types.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/pages/orders.tsx
  packages/seller-dashboard/src/pages/products.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-dashboard/src/tables/products.tsx
Due: none

Keep the page heading and drop the duplicated card title instead
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/pages/orders.tsx
  packages/seller-dashboard/src/pages/products.tsx
  packages/seller-dashboard/src/tables/offers.tsx
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-dashboard/src/tables/products.tsx
Due: none

Fix the review trail on a corrected rejection, and two ordering bugs
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/services/spree/product_submissions/close.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: core, api, Core, API

Put the list screen title in the table card, as the dashboard does
  packages/dashboard-core/src/components/section-heading.tsx
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/pages/orders.tsx
  packages/seller-dashboard/src/pages/products.tsx
  packages/seller-dashboard/src/tables/offers.tsx
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-dashboard/src/tables/products.tsx
Due: none

Keep a seller's backorder setting, and repair stale sample offers
  packages/dashboard-core/src/products/product-types.ts
  packages/seller-dashboard/src/pages/offer.tsx
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/lib/tasks/seller_sample_data.rake
  spree/core/spec/services/spree/products/duplicator_spec.rb
Due: core, Core

Regenerate the API specs and SDK types
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/sdk/src/types/generated/Customer.ts
  packages/sdk/src/types/generated/Order.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/zod/generated/Customer.ts
  packages/sdk/src/zod/generated/Order.ts
  packages/sdk/src/zod/generated/index.ts
Due: none

Name the reason a variant review step refuses
  spree/core/app/workflows/spree/variants/activate.rb
  spree/core/app/workflows/spree/variants/approve.rb
  spree/core/app/workflows/spree/variants/archive.rb
  spree/core/app/workflows/spree/variants/draft.rb
  spree/core/app/workflows/spree/variants/propose.rb
  spree/core/app/workflows/spree/variants/reject.rb
  spree/core/app/workflows/spree/variants/update.rb
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: core, Core

Give the store a packaging vocabulary and teach freight to quote later
  docs/plans/6.0-b2b-wholesale-shipping.md
  docs/plans/decisions.md
  spree/core/app/models/spree/delivery_method_rules/company_rule.rb
  spree/core/app/models/spree/delivery_method_rules/volume_rule.rb
  spree/core/app/models/spree/delivery_rate.rb
  spree/core/app/models/spree/delivery_rate_provider/estimate.rb
  spree/core/app/models/spree/delivery_rate_provider/freight.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/app/models/spree/stock/estimator.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/variant.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260831100001_create_spree_package_types.rb
  spree/core/db/migrate/20260831100002_add_carton_details_to_spree_variants.rb
  spree/core/db/migrate/20260831100003_add_unpriced_to_spree_delivery_rates.rb
  spree/core/db/sample_data/fulfillment.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/measurement.rb
  spree/core/lib/spree/testing_support/factories/package_type_factory.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/package_types.rake
  spree/core/spec/lib/spree/measurement_spec.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/delivery_rate_provider/freight_spec.rb
  spree/core/spec/models/spree/freight_summary_spec.rb
  spree/core/spec/models/spree/package_type_spec.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
  spree/core/spec/models/spree/stock/package_spec.rb
  spree/core/spec/models/spree/variant_carton_details_spec.rb
Due: core, Core

Document the packaging endpoints and stop reporting freight nobody measured
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/examples/package-types/create.ts
  packages/admin-sdk/examples/package-types/delete.ts
  packages/admin-sdk/examples/package-types/get.ts
  packages/admin-sdk/examples/package-types/list.ts
  packages/admin-sdk/examples/package-types/update.ts
  packages/admin-sdk/src/types/generated/PackageType.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  spree/api/app/serializers/spree/api/v3/admin/package_type_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_method_rules_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/package_types_spec.rb
  spree/api/spec/serializers/spree/api/v3/delivery_rate_serializer_spec.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/spec/models/spree/freight_summary_spec.rb
  spree/providers/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
Due: core, api, Core, API

Convert every measurement before comparing or sending it
  docs/api-reference/admin.yaml
  docs/plans/6.0-b2b-wholesale-shipping.md
  packages/admin-sdk/src/params.ts
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
  spree/core/app/models/concerns/spree/purchase/freight.rb
  spree/core/app/models/spree/delivery_rate.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/app/models/spree/stock/coordinator.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/measurement.rb
  spree/core/spec/lib/spree/measurement_spec.rb
  spree/core/spec/models/spree/freight_summary_spec.rb
  spree/core/spec/models/spree/package_type_spec.rb
  spree/core/spec/models/spree/purchase/freight_spec.rb
  spree/core/spec/models/spree/stock/coordinator_spec.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
  spree/core/spec/models/spree/stock/package_spec.rb
  spree/providers/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
Due: core, Core

Remember the rollup correctly, and stop hiding a method nobody could diagnose
  docs/api-reference/admin.yaml
  docs/plans/6.0-b2b-wholesale-shipping.md
  packages/admin-sdk/src/types/generated/Variant.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
  spree/core/app/models/concerns/spree/purchase/freight.rb
  spree/core/app/models/spree/delivery_method_rules/volume_rule.rb
  spree/core/app/models/spree/delivery_rate.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/presenters/spree/csv/product_variant_presenter.rb
  spree/core/config/locales/en.yml
  spree/core/lib/tasks/package_types.rake
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/delivery_rate_spec.rb
  spree/core/spec/models/spree/freight_summary_spec.rb
  spree/core/spec/models/spree/package_type_spec.rb
  spree/core/spec/models/spree/purchase/freight_spec.rb
Due: core, api, Core, API

Give volume one meaning, and let a package know its buyer from birth
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
  spree/core/app/models/concerns/spree/purchase/freight.rb
  spree/core/app/models/spree/delivery_method_rules/company_rule.rb
  spree/core/app/models/spree/delivery_rate.rb
  spree/core/app/models/spree/freight_summary.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_routing/strategy/rules.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/app/models/spree/stock/content_item.rb
  spree/core/app/models/spree/stock/coordinator.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/app/models/spree/stock/packer.rb
  spree/core/app/models/spree/stock/splitter/base.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/variant.rb
  spree/core/lib/tasks/package_types.rake
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/purchase/freight_spec.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
  spree/providers/easypost/lib/spree_easypost.rb
Due: core, Core

Record why the freight summary stays an unstructured object in the specs
  docs/plans/6.0-b2b-wholesale-shipping.md
Due: none

Stop losing packaging weight, volume and the store's own box
  docs/plans/6.0-b2b-wholesale-shipping.md
  spree/api/app/serializers/spree/api/v3/delivery_rate_serializer.rb
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/app/models/spree/package_type.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/freight_summary_spec.rb
  spree/core/spec/models/spree/package_type_spec.rb
Due: core, api, Core, API

Give a collapsed carton its packaging weight back
  spree/core/app/models/spree/freight_summary/line.rb
  spree/core/spec/models/spree/freight_summary_spec.rb
Due: core, Core

Set a package's owner in one place, not two
  spree/core/app/models/spree/stock/coordinator.rb
Due: core, Core

Say quoted-after-review on the fulfillment line too, not just the rate
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Fulfillment.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Fulfillment.ts
  packages/sdk/src/zod/generated/Fulfillment.ts
  spree/api/app/serializers/spree/api/v3/fulfillment_serializer.rb
  spree/api/spec/serializers/spree/api/v3/freight_spec.rb
  spree/core/app/models/spree/fulfillment.rb
Due: core, api, Core, API

Let freight speak every currency, and weigh a catalog by its own store
  spree/core/app/models/spree/stock/estimator.rb
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
  spree/core/spec/models/spree/variant_carton_details_spec.rb
Due: core, Core

Pin that the offers list filters in SQL
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
Due: none

Pin that a seller may pick any value on the axis
  spree/api/spec/controllers/spree/api/v3/seller/variants_controller_spec.rb
Due: none

Record the rejection form and the seller error-shape gap
  docs/plans/6.0-seller-master-catalog-listings.md
  docs/plans/decisions.md
Due: none

Keep a carton a carton while products are packed into it
  spree/core/app/models/spree/package_type.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/package_type_spec.rb
Due: core, Core
