Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

simplify
  spree/admin/app/views/spree/admin/product_translations/index.html.erb
Due: admin, Admin

fix no products partial on product translations page (#14169)
  spree/admin/app/views/spree/admin/product_translations/index.html.erb
Due: admin, Admin

Address PR review: escaping, error handling, completion gating
  docs/api-reference/admin.yaml
  docs/plans/5.5-admin-api-cli.md
  packages/cli/scripts/generate-endpoints-doc.mjs
  packages/cli/src/api/body.ts
  packages/cli/src/api/params.ts
  packages/cli/src/commands/auth.ts
  packages/cli/src/commands/completion.ts
  packages/cli/src/config.ts
  packages/cli/tests/api-params.test.ts
  packages/cli/tests/completion.test.ts
  spree/api/spec/support/code_samples_helper.rb
Due: none

ping fixes
  packages/cli/src/api/ping.ts
  packages/cli/src/commands/api.ts
  packages/cli/src/commands/auth.ts
  packages/cli/tests/ping.test.ts
Due: none

Make Spree CLI more discoverable; drop "gh-style" phrasing
  README.md
  docs/api-reference/admin-api/errors.mdx
  docs/api-reference/admin-api/introduction.mdx
  docs/developer/agentic/overview.mdx
  docs/developer/cli/admin-api.mdx
  docs/developer/cli/quickstart.mdx
  packages/cli/.changeset/admin-api-commands.md
  packages/cli/README.md
  packages/cli/src/api/body.ts
  packages/cli/src/api/output.ts
  packages/cli/src/commands/api.ts
  packages/cli/src/commands/completion.ts
Due: none

Release `@spree/cli` 2.2.0
  packages/cli/.changeset/admin-api-commands.md
  packages/cli/.changeset/api-key-create-scopes.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: none

Add rate limits to admin user login and password reset
  spree/admin/app/controllers/concerns/spree/admin/auth_rate_limiting.rb
  spree/admin/app/controllers/spree/admin/user_passwords_controller.rb
  spree/admin/app/controllers/spree/admin/user_sessions_controller.rb
  spree/admin/lib/spree/admin/runtime_configuration.rb
  spree/admin/spec/controllers/spree/admin/auth_rate_limiting_spec.rb
  spree/core/config/locales/en.yml
Due: core, admin, Admin

CR adjustments
  spree/admin/app/controllers/concerns/spree/admin/auth_rate_limiting.rb
  spree/admin/spec/controllers/spree/admin/auth_rate_limiting_spec.rb
Due: admin, Admin

Fixed CLI package release on CI
  .github/workflows/packages.yml
  packages/cli/src/generated/admin-spec.json
  spree/api/Rakefile
Due: api

Add rate limits to admin user login and password reset (#14170)
  spree/admin/app/controllers/concerns/spree/admin/auth_rate_limiting.rb
  spree/admin/app/controllers/spree/admin/user_passwords_controller.rb
  spree/admin/app/controllers/spree/admin/user_sessions_controller.rb
  spree/admin/lib/spree/admin/runtime_configuration.rb
  spree/admin/spec/controllers/spree/admin/auth_rate_limiting_spec.rb
  spree/core/config/locales/en.yml
Due: core, admin, Admin

Bump spree to 5.5.0.rc2
  spree/core/lib/spree/core/version.rb
Due: core, Core

Fixed CLI Moved @spree/admin-sdk from dependencies → devDependencies in packages/cli/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

fix
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: none

Fix/spree cli admin sdk dependency (#14173)
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  pnpm-lock.yaml
Due: none

Ease setup of local Admin CLI with `create-spree-app`
  .github/workflows/packages.yml
  docs/developer/getting-started/quickstart.mdx
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/create-spree-app/.changeset/spree-credentials-gitignore.md
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/package-json.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

fixes
  docs/developer/getting-started/quickstart.mdx
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/init.ts
  packages/cli/tests/init.test.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/readme.ts
Due: none

fix
  packages/cli/src/commands/init.ts
  packages/cli/tests/init.test.ts
Due: none

fixes
  packages/cli/src/commands/init.ts
  packages/cli/src/config.ts
  packages/cli/tests/init.test.ts
Due: none

Always mint a fresh key in spree init
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/init.ts
  packages/cli/tests/init.test.ts
Due: none

Toggle the `accepts_email_marketing` user attribute only when there are no other newsletter subscribers
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/spec/integration/spree/api/v3/store/newsletter_subscribers_spec.rb
Due: api, API

Add endpoints for unsubscribing from the newsletter - for both signed in and guest customers
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/config/locales/en.yml
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/newsletter_subscribers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/newsletter_subscribers_spec.rb
  spree/core/app/models/spree/newsletter_subscriber.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
Due: core, api, Core, API

CR fixes: spec, missing permissions for newsletter subscribers, toggling the accepts_email_marketing flag
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/spec/integration/spree/api/v3/store/newsletter_subscribers_spec.rb
  spree/core/app/models/spree/permission_sets/default_customer.rb
  spree/core/spec/lib/tasks/core_spec.rb
Due: core, api, Core, API

Subscribe to/unsubscribe from a newsletter when toggling the `accepts_email_marketing` user attribute
  spree/core/app/models/concerns/spree/user_methods.rb
  spree/core/spec/models/spree/concerns/user_methods_spec.rb
Due: core, Core

Configure API keys sequentially in spree init
  packages/cli/src/commands/init.ts
Due: none

Ease setup of local Admin CLI with `create-spree-app` (#14174)
  .github/workflows/packages.yml
  docs/developer/getting-started/quickstart.mdx
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/config.ts
  packages/cli/tests/init.test.ts
  packages/create-spree-app/.changeset/spree-credentials-gitignore.md
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/package-json.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Fix duplicate saved credit cards added to customer wallet
  spree/core/app/models/spree/credit_card.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/credit_card_spec.rb
Due: core, Core

Fix flaky VariantsController#search spec on unordered LIMIT
  spree/admin/spec/controllers/spree/admin/variants_controller_spec.rb
Due: none

Fix outdated info in generated README and CLAUDE.md
  packages/cli/README.md
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/readme.ts
Due: none

Auto-assign default channel when importing products via CSV
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Auto-assign default channel when importing products via CSV (#14179)
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Fix rate limits on newsletter subscribers controler
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
Due: api, API

Added dependabot config for monorepos created with create-spree-app
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/dependabot.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Fix outdated info in create-spree-app generated README and CLAUDE.md (#14178)
  packages/cli/README.md
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/dependabot.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Address review: ship localized-safe string amounts in store-credit form and specs
  docs/developer/cli/admin-api.mdx
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/dashboard/src/schemas/store-credit.ts
  spree/api/spec/integration/spree/api/v3/admin/customers/store_credits_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/refunds_spec.rb
Due: none

Type variant price scalars as strings and regenerate OpenAPI
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/spec/integration/spree/api/v3/admin/variants_spec.rb
Due: none

Reject zero amounts in store-credit form validation
  packages/dashboard/src/schemas/store-credit.ts
Due: none

Refine monetary-amounts docs: SDK examples for Admin, drop Store write section
  docs/api-reference/admin-api/monetary-amounts.mdx
  docs/api-reference/store-api/monetary-amounts.mdx
Due: none

Specify how to properly pass prices when creating products with Admin… (#14180)
  README.md
  docs/api-reference/admin-api/monetary-amounts.mdx
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/developer/cli/admin-api.mdx
  docs/developer/cli/quickstart.mdx
  docs/developer/core-concepts/orders.mdx
  docs/developer/core-concepts/pricing.mdx
  docs/developer/core-concepts/products.mdx
  docs/developer/core-concepts/store-credits-gift-cards.mdx
  docs/docs.json
  docs/plans/5.5-admin-api-cli.md
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/examples/customer-store-credits/create.ts
  packages/admin-sdk/examples/order-payments/create.ts
  packages/admin-sdk/examples/order-refunds/create.ts
  packages/admin-sdk/examples/order-store-credits/apply.ts
  packages/admin-sdk/examples/products/create.ts
  packages/admin-sdk/examples/variants/create.ts
  packages/admin-sdk/package.json
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/commands/api.ts
  packages/cli/src/generated/admin-spec.json
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/dashboard/src/schemas/store-credit.ts
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/customers/store_credits_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/payments_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/refunds_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/store_credits_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/variants_spec.rb
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
