Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Update products_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
Due: none

Fix: rails admin shouldnt change mobility locale when admin_locale is… (#14214)
  spree/admin/app/controllers/concerns/spree/admin/locale_concern.rb
  spree/admin/app/controllers/spree/admin/base_controller.rb
  spree/admin/spec/controllers/spree/admin/base_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
Due: admin, Admin

Ability to set customer groups on Admin Customers update API
  docs/api-reference/admin.yaml
  packages/admin-sdk/.changeset/customer-group-membership.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/e2e/customers.spec.ts
  packages/dashboard/src/hooks/use-customer-groups.ts
  packages/dashboard/src/hooks/use-customers.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/customers/index.tsx
  spree/api/app/controllers/spree/api/v3/admin/customers_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/customer_serializer_spec.rb
  spree/core/app/models/concerns/spree/user_methods.rb
  spree/core/app/models/spree/customer_group.rb
Due: core, api, Core, API

Address PR review: fix preloaded store-credit total, group cache invalidation, store-scoped picker key
  packages/dashboard/e2e/customers.spec.ts
  packages/dashboard/src/hooks/use-customers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  spree/core/app/models/concerns/spree/user_methods.rb
  spree/core/spec/models/spree/user_spec.rb
Due: core, Core

Fix flaky customer-groups detail e2e: close combobox popup before saving
  packages/dashboard/e2e/customers.spec.ts
Due: none

Fix product status dropdown showing raw i18n key for Active
  packages/dashboard/src/components/spree/products/product-form-cards.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Add created_at and updated_at columns to all dashboard tables
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/table-registry.ts
  packages/dashboard-core/src/lib/timestamp-columns.tsx
  packages/dashboard/src/tables/customers.tsx
  packages/dashboard/src/tables/gift-cards.tsx
  packages/dashboard/src/tables/option-types.tsx
  packages/dashboard/src/tables/orders.tsx
  packages/dashboard/src/tables/products.tsx
Due: none

Ensure custom visible timestamp columns are sortable and filterable
  packages/dashboard-core/src/lib/timestamp-columns.tsx
  packages/dashboard/src/tables/allowed-origins.tsx
  packages/dashboard/src/tables/stock-transfers.tsx
Due: none

Fix product status dropdown showing raw i18n key for Active (#14216)
  packages/dashboard/src/components/spree/products/product-form-cards.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Address PR review: scope group assignment to the API key store + localize error toast + store-scope filter cache
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard/src/hooks/use-customers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/customers/index.tsx
  spree/api/app/controllers/spree/api/v3/admin/customers_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/core/app/models/concerns/spree/user_methods.rb
Due: core, api, Core, API

Preserve cross-store group memberships on customer_group_ids= replace
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/core/app/models/concerns/spree/user_methods.rb
Due: core, Core

Add created_at and updated_at columns to all dashboard tables (#14217)
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/table-registry.ts
  packages/dashboard-core/src/lib/timestamp-columns.tsx
  packages/dashboard/src/tables/allowed-origins.tsx
  packages/dashboard/src/tables/customers.tsx
  packages/dashboard/src/tables/gift-cards.tsx
  packages/dashboard/src/tables/option-types.tsx
  packages/dashboard/src/tables/orders.tsx
  packages/dashboard/src/tables/products.tsx
  packages/dashboard/src/tables/stock-transfers.tsx
Due: none

ci: gate required checks behind per-workflow roll-up jobs
  .github/workflows/docs-package.yml
  .github/workflows/packages.yml
  .github/workflows/tests.yml
Due: none

Fix flaky non-default-store group spec: rely on suite @default_store
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
Due: none

Remove flaky non-default-store group spec
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
Due: none

Simplify customer group assignment: drop multi-store handling
  spree/api/app/controllers/spree/api/v3/admin/customers_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/core/app/models/concerns/spree/user_methods.rb
Due: core, api, Core, API

Ability to set customer groups on Admin Customers update API (#14215)
  docs/api-reference/admin.yaml
  packages/admin-sdk/.changeset/customer-group-membership.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/components/table-toolbar.tsx
  packages/dashboard/e2e/customers.spec.ts
  packages/dashboard/src/hooks/use-customer-groups.ts
  packages/dashboard/src/hooks/use-customers.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/customers/$customerId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/customers/index.tsx
  spree/api/app/controllers/spree/api/v3/admin/customers_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/customer_serializer_spec.rb
  spree/core/app/models/concerns/spree/user_methods.rb
  spree/core/app/models/spree/customer_group.rb
  spree/core/spec/models/spree/user_spec.rb
Due: core, api, Core, API

Fix PageHeader sticky positioning broken by body overflow-x
  packages/dashboard-core/src/components/page-header.tsx
  packages/dashboard-ui/src/styles.css
Due: none

Fix media E2E clicks blocked by restored sticky headers
  packages/dashboard/e2e/products-edit-media-variants.spec.ts
  packages/dashboard/e2e/products-helpers.ts
  packages/dashboard/e2e/products-new-media.spec.ts
  packages/dashboard/src/components/spree/products/product-form-cards.tsx
Due: none

Harden media thumbnail E2E clicks against sticky header overlap
  packages/dashboard/e2e/products-helpers.ts
  packages/dashboard/src/components/spree/products/product-form-cards.tsx
Due: none

Fix PageHeader sticky positioning in React dashboard (#14218)
  packages/dashboard-core/src/components/page-header.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard/e2e/products-edit-media-variants.spec.ts
  packages/dashboard/e2e/products-helpers.ts
  packages/dashboard/e2e/products-new-media.spec.ts
  packages/dashboard/src/components/spree/products/product-form-cards.tsx
Due: none

Add warning on shipping rates deletion
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/config/locales/en.yml
  spree/core/spec/services/spree/carts/update_spec.rb
Due: core, Core

Resolve Store#default_channel via the default flag, not channel code
  spree/core/app/models/spree/store.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

Localize Rails admin country, currency, and locale display names
  spree/admin/app/controllers/spree/admin/base_controller.rb
  spree/admin/app/controllers/spree/admin/countries_controller.rb
  spree/admin/app/helpers/spree/admin/table_helper.rb
  spree/admin/app/javascript/spree/admin/application.js
  spree/admin/app/javascript/spree/admin/controllers/autocomplete_select_controller.js
  spree/admin/app/javascript/spree/admin/controllers/display_name_controller.js
  spree/admin/app/javascript/spree/admin/helpers/display_names.js
  spree/admin/app/views/spree/admin/markets/_form.html.erb
  spree/admin/app/views/spree/admin/promotion_rules/forms/_country.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/spec/controllers/spree/admin/countries_controller_spec.rb
  spree/core/app/helpers/spree/base_helper.rb
  spree/core/app/helpers/spree/currency_helper.rb
  spree/core/app/helpers/spree/display_names_helper.rb
  spree/core/app/helpers/spree/locale_helper.rb
  spree/core/app/models/spree/country.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/display_names.rb
  spree/core/spec/helpers/currency_helper_spec.rb
  spree/core/spec/helpers/locale_helper_spec.rb
  spree/core/spec/lib/spree/display_names_spec.rb
Due: core, admin, Core, Admin

check for requirements in show -> auto-advance spec as well
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
Due: none

Use channel factory in default_channel spec
  spree/core/spec/models/spree/store_spec.rb
Due: none

Rename DisplayNames to LocalizedNames and simplify
  spree/admin/app/controllers/spree/admin/base_controller.rb
  spree/admin/app/controllers/spree/admin/countries_controller.rb
  spree/admin/app/helpers/spree/admin/table_helper.rb
  spree/admin/app/javascript/spree/admin/helpers/display_names.js
  spree/admin/app/views/spree/admin/promotion_rules/forms/_country.html.erb
  spree/core/app/helpers/spree/base_helper.rb
  spree/core/app/helpers/spree/currency_helper.rb
  spree/core/app/helpers/spree/locale_helper.rb
  spree/core/app/helpers/spree/localized_names_helper.rb
  spree/core/app/models/spree/country.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/localized_names.rb
  spree/core/spec/lib/spree/localized_names_spec.rb
Due: core, admin, Core, Admin

Use default flag instead of code to resolve store's default channel (#14221)
  spree/core/app/models/spree/store.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, Core

Fix Money constant resolution and ReDoS in LocalizedNames
  spree/core/lib/spree/localized_names.rb
  spree/core/spec/helpers/localized_names_helper_spec.rb
  spree/core/spec/lib/spree/localized_names_spec.rb
Due: core, Core

Add warning on shipping rates deletion (#14219)
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/config/locales/en.yml
  spree/core/spec/services/spree/carts/update_spec.rb
Due: core, Core

Add admin feature spec for localized markets rendering
  spree/admin/spec/features/spree/admin/markets_spec.rb
Due: none

Wait for media upload to settle before delete E2E action
  packages/dashboard/e2e/products-new-media.spec.ts
Due: none

Fix currency_name nil handling for unknown currency codes
  spree/core/lib/spree/localized_names.rb
Due: core, Core

Fix country ordering assertion for flag-prefixed labels
  spree/admin/spec/controllers/spree/admin/countries_controller_spec.rb
Due: none

Address review nitpicks: factories, build_stubbed, JSDoc
  spree/admin/app/javascript/spree/admin/controllers/display_name_controller.js
  spree/admin/app/javascript/spree/admin/helpers/display_names.js
  spree/admin/spec/features/spree/admin/markets_spec.rb
  spree/core/spec/helpers/localized_names_helper_spec.rb
Due: admin, Admin

Search countries by localized name, English name, and ISO code
  spree/admin/app/controllers/spree/admin/countries_controller.rb
  spree/admin/spec/controllers/spree/admin/countries_controller_spec.rb
Due: admin, Admin

Address PR review feedback on i18n keys and validation
  packages/dashboard-core/src/hooks/use-export.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-ui/src/spree/address-block.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/channel.ts
Due: none

Load all countries for client-side filtering in admin autocomplete
  spree/admin/app/controllers/spree/admin/countries_controller.rb
  spree/admin/app/javascript/spree/admin/controllers/query_builder_controller.js
  spree/admin/spec/controllers/spree/admin/countries_controller_spec.rb
Due: admin, Admin

Make autocomplete preloading opt-in per column
  spree/admin/app/controllers/spree/admin/countries_controller.rb
  spree/admin/app/javascript/spree/admin/controllers/query_builder_controller.js
  spree/admin/app/models/spree/admin/table/column.rb
  spree/admin/app/models/spree/admin/table/query_builder.rb
  spree/admin/config/initializers/spree_admin_tables.rb
Due: admin, Admin
