Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

List every transform property on the floating surfaces
  packages/dashboard-ui/src/ui/dialog.tsx
  packages/dashboard-ui/src/ui/dropdown-menu.tsx
  packages/dashboard-ui/src/ui/popover.tsx
  packages/dashboard-ui/src/ui/sheet.tsx
  packages/dashboard-ui/src/ui/tooltip.tsx
Due: none

Reclaim vertical space in the dashboard chrome (#14408)
  packages/dashboard-core/src/components/nav-main.tsx
  packages/dashboard-core/src/components/page-header.tsx
  packages/dashboard-core/src/components/settings-sidebar.tsx
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-core/src/hooks/use-auto-collapse-sidebar.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/providers/sticky-header-provider.tsx
  packages/dashboard-ui/src/hooks/use-prefers-reduced-motion.ts
  packages/dashboard-ui/src/hooks/use-scrolled.ts
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard-ui/src/ui/button.tsx
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard-ui/src/ui/dialog.tsx
  packages/dashboard-ui/src/ui/dropdown-menu.tsx
  packages/dashboard-ui/src/ui/input-group.tsx
  packages/dashboard-ui/src/ui/input.tsx
  packages/dashboard-ui/src/ui/popover.tsx
  packages/dashboard-ui/src/ui/progress.tsx
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard-ui/src/ui/sheet.tsx
  packages/dashboard-ui/src/ui/sidebar.tsx
  packages/dashboard-ui/src/ui/textarea.tsx
  packages/dashboard-ui/src/ui/tooltip.tsx
  packages/dashboard/src/routes/_authenticated/$storeId.tsx
Due: none

Unblock tax exemptions by pulling Company forward
  CLAUDE.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
Due: none

Use the category factory throughout our own specs
  spree/api/spec/controllers/concerns/spree/api/v3/nested_expand_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/categories/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/categories_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/custom_fields_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/promotions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/translations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/params_normalizer_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/categories_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products/filters_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products/meilisearch_integration_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/categories_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/products_spec.rb
  spree/api/spec/integration/spree/api/v3/store/categories_spec.rb
  spree/api/spec/integration/spree/api/v3/store/products_spec.rb
  spree/api/spec/services/spree/api/v3/filters_aggregator_spec.rb
  spree/core/lib/spree/category_permalink_deduplicator.rb
  spree/core/lib/spree/testing_support/factories/category_factory.rb
  spree/core/lib/spree/testing_support/factories/taxon_factory.rb
  spree/core/spec/helpers/base_helper_spec.rb
  spree/core/spec/lib/spree/category_permalink_deduplicator_spec.rb
  spree/core/spec/lib/tasks/categories_and_collections_spec.rb
  spree/core/spec/lib/tasks/taxons_spec.rb
  spree/core/spec/models/spree/category_spec.rb
  spree/core/spec/models/spree/classification_spec.rb
  spree/core/spec/models/spree/concerns/prefixed_id_spec.rb
  spree/core/spec/models/spree/product/scopes_spec.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/models/spree/promotion/rules/category_spec.rb
  spree/core/spec/models/spree/promotion_spec.rb
  spree/core/spec/models/spree/report_line_items/products_performance_spec.rb
  spree/core/spec/models/spree/search_provider/database_spec.rb
  spree/core/spec/models/spree/taxon_category_aliases_spec.rb
  spree/core/spec/models/spree/taxon_spec.rb
  spree/core/spec/models/spree/taxonomy_spec.rb
  spree/core/spec/presenters/spree/csv/order_line_items_presenter_spec.rb
  spree/core/spec/presenters/spree/search_provider/product_presenter_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Deduplicate translated permalinks and reuse legacy categories on import
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/lib/spree/category_permalink_deduplicator.rb
  spree/core/spec/jobs/spree/imports/create_categories_job_spec.rb
  spree/core/spec/lib/spree/category_permalink_deduplicator_spec.rb
Due: core, Core

Deduplicate translated permalinks independently of the base column
  spree/core/lib/spree/category_permalink_deduplicator.rb
  spree/core/spec/lib/spree/category_permalink_deduplicator_spec.rb
Due: core, Core

Rewrite parents before their children when deduplicating permalinks
  spree/core/lib/spree/category_permalink_deduplicator.rb
  spree/core/spec/lib/spree/category_permalink_deduplicator_spec.rb
Due: core, Core

Make the #to_param example actually test an instance
  spree/core/spec/models/spree/category_spec.rb
Due: none

Resolve permalink collisions the dedup cascade creates
  spree/core/lib/spree/category_permalink_deduplicator.rb
  spree/core/spec/lib/spree/category_permalink_deduplicator_spec.rb
Due: core, Core

Match imported categories by permalink as well as name
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/spec/jobs/spree/imports/create_categories_job_spec.rb
Due: core, Core

Stop flagging Category#taxonomy as a deprecated association
  spree/core/app/models/spree/category.rb
Due: core, Core

Use factories in specs and drop the manual/automatic category split
  spree/api/spec/controllers/spree/api/v3/admin/categories/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/categories_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/categories_spec.rb
  spree/core/spec/jobs/spree/imports/create_categories_job_spec.rb
  spree/core/spec/lib/tasks/categories_and_collections_spec.rb
  spree/core/spec/lib/tasks/taxons_spec.rb
  spree/core/spec/models/spree/category_spec.rb
  spree/core/spec/models/spree/search_provider/database_spec.rb
Due: none

Scope the category nested set by store
  spree/api/app/controllers/spree/api/v3/admin/categories_controller.rb
  spree/core/app/models/spree/category.rb
  spree/core/spec/lib/tasks/taxons_spec.rb
  spree/core/spec/models/spree/category_spec.rb
Due: core, api, Core, API

Drop the NULL-store_id fallbacks
  docs/plans/6.0-replace-taxons-with-categories.md
  spree/api/app/controllers/spree/api/v3/store/categories_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/translations_controller_spec.rb
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/app/models/spree/category.rb
  spree/core/spec/jobs/spree/imports/create_categories_job_spec.rb
  spree/core/spec/models/spree/category_spec.rb
Due: core, api, Core, API

Stop exposing taxonomy to category API filtering
  spree/core/app/models/spree/category.rb
  spree/core/spec/models/spree/category_spec.rb
Due: core, Core

Edit the admin profile in a dialog
  .changeset/dashboard-edit-profile-dialog.md
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/e2e/profile.spec.ts
  packages/dashboard/e2e/store-settings.spec.ts
  packages/dashboard/src/components/spree/profile-dialog.tsx
  packages/dashboard/src/hooks/use-profile.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/profile.tsx
Due: none

Address review feedback on the profile dialog
  packages/dashboard/e2e/store-settings.spec.ts
  packages/dashboard/src/components/spree/profile-dialog.tsx
  packages/dashboard/src/hooks/use-profile.ts
Due: none

Edit the admin profile in a dialog (#14413)
  .changeset/dashboard-edit-profile-dialog.md
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/e2e/profile.spec.ts
  packages/dashboard/e2e/store-settings.spec.ts
  packages/dashboard/src/components/spree/profile-dialog.tsx
  packages/dashboard/src/hooks/use-profile.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/profile.tsx
Due: none

Add the 6.0 admin RBAC plan (spree/spree#14164)
  CLAUDE.md
  docs/plans/5.5-admin-api-key-scopes.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-admin-rbac.md
  docs/plans/decisions.md
Due: none

Add the dashboard role editor on the shared permission catalog
  docs/developer/customization/permissions.mdx
  docs/developer/dashboard/customization/permissions.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/src/providers/permission-provider.tsx
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/e2e/roles.spec.ts
  packages/dashboard/src/components/spree/permission-picker.tsx
  packages/dashboard/src/components/spree/role-form.tsx
  packages/dashboard/src/hooks/use-roles.ts
  packages/dashboard/src/hooks/use-staff.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles/$roleId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/staff.tsx
Due: none

Resolve polymorphic endpoint scopes through the catalog
  spree/api/app/controllers/concerns/spree/api/v3/scoped_authorization.rb
  spree/api/app/controllers/spree/api/v3/admin/translations_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/translations_controller_spec.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/spec/lib/spree/core/permission_configuration_spec.rb
Due: core, api, Core, API

Address code review findings on the RBAC surface
  docs/plans/5.5-admin-api-key-scopes.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-admin-rbac.md
  docs/plans/decisions.md
  packages/dashboard-core/src/providers/permission-provider.tsx
  packages/dashboard/src/components/spree/role-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles/$roleId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles/index.tsx
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/core/app/models/spree/ability.rb
  spree/core/app/models/spree/role.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/spec/lib/spree/core/permission_configuration_spec.rb
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/role_spec.rb
Due: core, api, Core, API

Record the vendor-role direction in the RBAC plan
  docs/plans/6.0-admin-rbac.md
Due: none

Apply RBAC review feedback: upgrade tripwires, human labels, docs split
  docs/developer/customization/permissions.mdx
  docs/developer/dashboard/customization/permissions.mdx
  docs/docs.json
  docs/plans/6.0-admin-rbac.md
  docs/v6/developer/customization/permissions.mdx
  packages/dashboard/e2e/roles.spec.ts
  packages/dashboard/src/components/spree/permission-picker.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles/index.tsx
  spree/api/spec/controllers/spree/api/v3/admin/me_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/roles_controller_spec.rb
  spree/core/app/models/spree/permission_sets.rb
  spree/core/app/models/spree/role_user.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/role_user_spec.rb
Due: core, Core

Fix the dashboard shell for roles without settings access
  packages/dashboard-core/src/components/settings-sidebar.tsx
  packages/dashboard-core/src/lib/settings-nav-registry.ts
  packages/dashboard-core/tests/settings-nav-permissions.test.ts
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/nav/settings.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
Due: api, API

Move the role editor into a settings sheet
  docs/plans/6.0-admin-rbac.md
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/e2e/roles.spec.ts
  packages/dashboard/src/components/spree/role-form.tsx
  packages/dashboard/src/components/spree/role-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles/$roleId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/roles/new.tsx
Due: none

Close the vendor-assignment privilege gap and fix role duplication
  docs/plans/6.0-admin-rbac.md
  packages/dashboard-core/src/components/app-sidebar.tsx
  packages/dashboard-core/src/components/nav-main.tsx
  packages/dashboard-core/src/lib/nav-registry.ts
  packages/dashboard-core/tests/settings-nav-permissions.test.ts
  packages/dashboard/src/components/spree/role-sheet.tsx
  packages/dashboard/src/nav/default.ts
  spree/api/app/controllers/concerns/spree/api/v3/admin/role_grant_guard.rb
  spree/api/spec/controllers/spree/api/v3/admin/roles_controller_spec.rb
  spree/core/app/models/spree/ability.rb
  spree/core/spec/models/spree/ability_spec.rb
Due: core, api, Core, API

Remove CanCanCan from the Store API behind a swappable access policy
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-admin-rbac.md
  docs/plans/6.1-channels-catalogs-b2b.md
  docs/plans/decisions.md
  docs/v6/developer/customization/permissions.mdx
  spree/api/app/controllers/concerns/spree/api/v3/cart_resolvable.rb
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/app/controllers/concerns/spree/api/v3/storefront_access.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/base_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/app/controllers/spree/api/v3/store/collections/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/store_credits_controller.rb
  spree/api/app/controllers/spree/api/v3/store/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/claims_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/returns_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products/filters_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/resource_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/resource_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/resource_controller_spec.rb
  spree/core/app/models/spree/ability.rb
  spree/core/app/models/spree/export.rb
  spree/core/app/models/spree/storefront/access_denied.rb
  spree/core/app/models/spree/storefront/access_policy.rb
  spree/core/config/i18n-tasks.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/ability_storefront_spec.rb
  spree/core/spec/models/spree/storefront/access_policy_spec.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
Due: core, api, Core, API

Generalize the storefront access policy beyond carts and orders
  docs/plans/6.0-admin-rbac.md
  docs/plans/6.1-channels-catalogs-b2b.md
  docs/plans/decisions.md
  docs/v6/developer/customization/permissions.mdx
  spree/api/app/controllers/concerns/spree/api/v3/cart_resolvable.rb
  spree/api/app/controllers/concerns/spree/api/v3/storefront_access.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/app/controllers/spree/api/v3/store/delivery_methods_controller.rb
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/claims_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/returns_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/store/wishlist_items_controller.rb
  spree/api/app/controllers/spree/api/v3/store/wishlists_controller.rb
  spree/core/app/models/spree/storefront/access_policy.rb
  spree/core/spec/models/spree/storefront/access_policy_spec.rb
Due: core, api, Core, API

Harden the RBAC surface: secret-key store scope, nested order scopes, ownership column
  spree/api/app/controllers/concerns/spree/api/v3/scoped_authorization.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/claims_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/exchanges_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/returns_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
  spree/core/app/models/spree/storefront/access_policy.rb
  spree/core/spec/models/spree/storefront/access_policy_spec.rb
Due: core, api, Core, API

Update delivery plans: EasyPost reference provider, Integrations Admin, pickup deferral
  CLAUDE.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-delivery-rate-provider.md
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/6.0-integrations-admin.md
  docs/plans/6.0-product-types.md
  docs/plans/decisions.md
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-methods.tsx
  packages/dashboard/src/schemas/delivery-method.ts
  spree/api/spec/controllers/spree/api/v3/store/delivery_methods_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/delivery_settings_spec.rb
  spree/api/spec/integration/spree/api/v3/store/delivery_methods_spec.rb
  spree/core/app/models/spree/pickup_point_provider/base.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/delivery_method_spec.rb
  spree/core/spec/models/spree/fulfillment_provider/base_spec.rb
Due: core, Core

Add the Integrations Admin: API, SDK and dashboard for provider credentials
  CLAUDE.md
  docs/api-reference/store.yaml
  docs/plans/6.0-integrations-admin.md
  packages/admin-sdk/examples/integrations/create.ts
  packages/admin-sdk/examples/integrations/list.ts
  packages/admin-sdk/examples/integrations/test.ts
  packages/admin-sdk/examples/integrations/types.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Integration.ts
  packages/admin-sdk/src/types/index.ts
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/src/hooks/use-integrations.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/integrations.tsx
  spree/api/app/controllers/spree/api/v3/admin/integrations_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/integration_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/integrations_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/integrations_spec.rb
  spree/core/app/models/spree/integration.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260806130001_add_unique_store_type_index_to_spree_integrations.rb
  spree/core/spec/models/spree/integration_spec.rb
  spree/providers/easypost/Gemfile.lock
Due: core, api, Core, API

Let integrations declare a hosted logo and localized description
  docs/api-reference/store.yaml
  docs/plans/6.0-integrations-admin.md
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/integrations.tsx
  spree/api/app/controllers/spree/api/v3/admin/integrations_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/integrations_controller_spec.rb
  spree/core/app/models/spree/integration.rb
  spree/core/spec/models/spree/integration_spec.rb
  spree/easypost/README.md
  spree/easypost/app/models/spree_easypost/integration.rb
  spree/easypost/config/locales/en.yml
  spree/easypost/spec/models/spree_easypost/integration_spec.rb
Due: core, api, Core, API

Add spree_easypost: the reference EasyPost delivery rate provider gem
  docs/plans/6.0-delivery-rate-provider.md
  spree/easypost/Gemfile
  spree/easypost/README.md
  spree/easypost/Rakefile
  spree/easypost/app/models/spree_easypost/delivery_rate_provider.rb
  spree/easypost/app/models/spree_easypost/integration.rb
  spree/easypost/lib/spree_easypost.rb
  spree/easypost/lib/spree_easypost/engine.rb
  spree/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
  spree/easypost/spec/models/spree_easypost/integration_spec.rb
  spree/easypost/spec/spec_helper.rb
  spree/easypost/spree_easypost.gemspec
Due: none

Harden the EasyPost provider against API failures
  docs/v6/developer/how-to/custom-delivery-rate-provider.mdx
  spree/easypost/README.md
  spree/easypost/app/models/spree_easypost/delivery_rate_provider.rb
  spree/easypost/app/models/spree_easypost/integration.rb
  spree/easypost/bin/smoke
  spree/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
Due: none

Report integration activation failures without the attribute prefix
  spree/api/spec/controllers/spree/api/v3/admin/integrations_controller_spec.rb
  spree/core/app/models/spree/integration.rb
  spree/core/spec/models/spree/integration_spec.rb
  spree/easypost/spec/models/spree_easypost/integration_spec.rb
Due: core, Core

Test the EasyPost API contract through VCR
  spree/easypost/README.md
  spree/easypost/spec/models/spree_easypost/delivery_rate_provider_spec.rb
  spree/easypost/spec/models/spree_easypost/integration_spec.rb
  spree/easypost/spec/spec_helper.rb
  spree/easypost/spec/support/vcr.rb
  spree/easypost/spec/vcr/carrier_accounts.yml
  spree/easypost/spec/vcr/carrier_accounts_unauthorized.yml
  spree/easypost/spec/vcr/create_shipment_rates.yml
  spree/easypost/spree_easypost.gemspec
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
