Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Stop sending every read result to the model twice
  spree/mcp/lib/spree/mcp/tool_adapter.rb
  spree/mcp/spec/lib/spree/mcp/server_spec.rb
Due: none

Fix: a credential in a value reached the agent past the filter
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/api/agent_tools_contract_spec.rb
  spree/core/lib/spree/agent_tools/record_summary.rb
  spree/core/spec/lib/spree/agent_tools/record_summary_spec.rb
Due: core, api, Core, API

Fix: the credential filter missed array elements
  spree/api/spec/tools/spree/agent_tools/resource_write_spec.rb
  spree/core/app/tools/spree/agent_tools/create_resource.rb
  spree/core/app/tools/spree/agent_tools/describe_resource.rb
  spree/core/app/tools/spree/agent_tools/resource_write.rb
  spree/core/app/tools/spree/agent_tools/update_resource.rb
  spree/core/lib/spree/agent_tools/record_summary.rb
  spree/core/spec/lib/spree/agent_tools/record_summary_spec.rb
Due: core, Core

Document how an extension adds a tool, and refuse an unknown resource the same way everywhere
  docs/developer/agentic/admin-mcp.mdx
  docs/plans/6.0-mcp-server.md
  spree/api/spec/lib/spree/agent_tools/extension_path_spec.rb
  spree/core/app/tools/spree/agent_tools/get_resource.rb
  spree/core/app/tools/spree/agent_tools/resource_write.rb
  spree/core/app/tools/spree/agent_tools/search_resources.rb
  spree/core/lib/spree/agent_tool.rb
Due: core, Core

Added OAuth 2.1 tables and models
  spree/core/app/models/spree/oauth_access_grant.rb
  spree/core/app/models/spree/oauth_access_token.rb
  spree/core/app/models/spree/oauth_application.rb
  spree/core/app/models/spree/store.rb
  spree/core/db/migrate/20261005120000_create_spree_oauth_tables.rb
  spree/core/lib/spree/core.rb
  spree/core/spree_core.gemspec
Due: core, Core

Added the OAuth authorization server and resource discovery
  spree/api/app/controllers/spree/api/v3/oauth/metadata_controller.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/engine.rb
  spree/api/lib/spree/api/oauth.rb
Due: api, API

Added OAuth sign-in to the MCP endpoint
  spree/mcp/app/controllers/spree/api/v3/admin/mcp_controller.rb
  spree/mcp/lib/spree/mcp/engine.rb
  spree/mcp/spec/requests/spree/api/v3/admin/mcp_spec.rb
Due: none

Added a ceiling for delegated credentials
  spree/api/app/controllers/concerns/spree/api/v3/scoped_authorization.rb
  spree/api/spec/controllers/spree/api/v3/scoped_authorization_spec.rb
  spree/core/lib/spree/agent_tools/context.rb
  spree/core/spec/lib/spree/agent_tools/context_spec.rb
Due: core, api, Core, API

Added the pre-registered consumer clients
  spree/core/app/services/spree/seeds/oauth_applications.rb
  spree/core/app/services/spree/seeds/store_resources.rb
Due: core, Core

Added the consent and connected-app endpoints
  spree/api/app/controllers/spree/api/v3/admin/oauth/applications_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
Due: api, API

Added OAuth methods to the admin SDK
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
Due: none

Added the consent screen and connected apps
  packages/dashboard/src/hooks/use-oauth.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/oauth/authorize.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/connected-apps.tsx
Due: none

Documented connecting an agent by signing in
  docs/developer/agentic/admin-mcp.mdx
  docs/plans/6.0-mcp-oauth.md
  docs/plans/6.0-mcp-server.md
  docs/plans/decisions.md
  packages/dashboard-starter/src/routeTree.gen.ts
Due: none

Fix: the OAuth flow had no HTTP entry point
  spree/api/app/controllers/spree/api/v3/admin/oauth/applications_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
  spree/api/app/controllers/spree/api/v3/oauth/authorizations_controller.rb
  spree/api/app/controllers/spree/api/v3/oauth/server_metadata_controller.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/engine.rb
  spree/api/spec/requests/spree/api/v3/oauth/discovery_spec.rb
  spree/core/app/models/spree/oauth_application.rb
  spree/core/db/migrate/20261005120000_create_spree_oauth_tables.rb
  spree/mcp/app/controllers/spree/api/v3/admin/mcp_controller.rb
  spree/mcp/spec/requests/spree/api/v3/admin/mcp_spec.rb
Due: core, api, Core, API

Simplified the OAuth layer after review
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard/src/hooks/use-oauth.ts
  packages/dashboard/src/routes/_authenticated/$storeId/oauth/authorize.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/connected-apps.tsx
  spree/api/app/controllers/spree/api/v3/admin/oauth/applications_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
  spree/api/lib/spree/api/engine.rb
  spree/api/lib/spree/api/oauth.rb
  spree/core/app/models/spree/oauth_application.rb
  spree/core/lib/spree/agent_tools/context.rb
  spree/mcp/app/controllers/spree/api/v3/admin/mcp_controller.rb
Due: core, api, Core, API

Fix: records named inside a list of rows were never resolved
  spree/api/spec/tools/spree/agent_tools/workflow_tool_arguments_spec.rb
  spree/core/app/tools/spree/agent_tools/delete_resource.rb
  spree/core/app/tools/spree/agent_tools/resource_write.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
Due: core, Core

Fix: declared the CSRF posture on the two public OAuth endpoints
  spree/api/app/controllers/spree/api/v3/oauth/authorizations_controller.rb
  spree/api/app/controllers/spree/api/v3/oauth/metadata_controller.rb
  spree/api/spec/tools/spree/agent_tools/import_tools_spec.rb
  spree/core/app/tools/spree/agent_tools/get_import_status.rb
Due: core, api, Core, API

Fix: use real forgery protection on the public OAuth endpoints
  spree/api/app/controllers/spree/api/v3/oauth/authorizations_controller.rb
  spree/api/app/controllers/spree/api/v3/oauth/metadata_controller.rb
Due: api, API

Added a Connect an agent panel to the dashboard
  packages/dashboard/src/components/spree/mcp-connect-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/connected-apps.tsx
Due: none

Fix: the consent endpoint raised for a secret key, and hid why a request failed
  packages/dashboard/src/routes/_authenticated/$storeId/oauth/authorize.tsx
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
Due: api, API

Changed OAuth URLs to follow the request, not the store record
  CLAUDE.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/OauthApplication.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/src/zod/generated/OauthApplication.ts
  packages/admin-sdk/src/zod/generated/index.ts
  packages/dashboard/src/components/spree/api-keys/api-key-table.tsx
  packages/dashboard/src/components/spree/mcp-connect-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/connected-apps.tsx
  packages/dashboard/src/tables/oauth-applications.tsx
  spree/api/app/controllers/spree/api/v3/admin/oauth/applications_controller.rb
  spree/api/app/controllers/spree/api/v3/oauth/metadata_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/oauth_application_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/lib/spree/api/oauth.rb
  spree/api/spec/requests/spree/api/v3/oauth/discovery_spec.rb
  spree/core/app/models/spree/oauth_application.rb
  spree/mcp/app/controllers/spree/api/v3/admin/mcp_controller.rb
  spree/mcp/lib/spree/mcp/engine.rb
  spree/mcp/spec/requests/spree/api/v3/admin/mcp_spec.rb
Due: core, api, Core, API

Added who approved a connected application
  packages/admin-sdk/src/types/generated/OauthApplication.ts
  packages/admin-sdk/src/zod/generated/OauthApplication.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/tables/oauth-applications.tsx
  spree/api/app/controllers/spree/api/v3/admin/oauth/applications_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/oauth_application_serializer.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth/applications_spec.rb
  spree/core/app/models/spree/oauth_application.rb
Due: core, api, Core, API

Fix: approving consent crashed before the merchant reached the client
  packages/admin-sdk/src/types/generated/OauthApplication.ts
  packages/admin-sdk/src/zod/generated/OauthApplication.ts
  packages/dashboard/src/components/spree/mcp-connect-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/oauth/authorize.tsx
  spree/api/app/controllers/spree/api/v3/admin/oauth/applications_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/oauth_application_serializer.rb
  spree/core/app/models/spree/oauth_application.rb
Due: core, api, Core, API

Removed API key authentication from the MCP endpoint
  docs/developer/agentic/admin-mcp.mdx
  docs/plans/6.0-mcp-oauth.md
  docs/plans/decisions.md
  packages/dashboard/src/components/spree/mcp-connect-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/mcp/app/controllers/spree/api/v3/admin/mcp_controller.rb
  spree/mcp/spec/requests/spree/api/v3/admin/mcp_spec.rb
Due: none

Fix: a report answered with a row count instead of the figures
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/components/spree/mcp-connect-sheet.tsx
  packages/dashboard/src/hooks/use-oauth.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/oauth/authorize.tsx
  spree/api/app/controllers/spree/api/v3/admin/oauth/applications_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/tools/spree/agent_tools/reporting_tools_spec.rb
  spree/core/app/tools/spree/agent_tools/query_report.rb
  spree/mcp/lib/spree/mcp/tool_adapter.rb
  spree/mcp/spec/lib/spree/mcp/server_spec.rb
Due: core, api, Core, API

Fix: a connection that could still refresh vanished from the revoke screen
  spree/api/app/controllers/spree/api/v3/admin/oauth/applications_controller.rb
  spree/api/app/controllers/spree/api/v3/oauth/authorizations_controller.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth/applications_spec.rb
  spree/api/spec/requests/spree/api/v3/oauth/discovery_spec.rb
  spree/core/app/models/spree/oauth_application.rb
Due: core, api, Core, API

Fix: reading an import took the resource's read scope, not its write scope
  spree/api/spec/tools/spree/agent_tools/import_tools_spec.rb
  spree/core/app/tools/spree/agent_tools/get_import_status.rb
  spree/core/app/tools/spree/agent_tools/import_tool.rb
Due: core, Core

Fix: the connect panel showed raw key names where the client ID copy belongs
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Fix: the consent screen narrowed a grant in the browser, not on the server
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
  spree/api/lib/spree/api/oauth.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth/applications_spec.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth/authorizations_spec.rb
  spree/core/lib/spree/core/engine.rb
  spree/mcp/app/controllers/spree/api/v3/admin/mcp_controller.rb
  spree/mcp/spec/requests/spree/api/v3/admin/mcp_spec.rb
Due: core, api, Core, API

Fix: consent could mint a grant that carried no permissions
  packages/dashboard/src/routes/_authenticated/$storeId/oauth/authorize.tsx
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth/authorizations_spec.rb
Due: api, API

Excluded the email template editor workflows from the agent catalog
  spree/core/lib/spree/agent_tools/default_catalog.rb
Due: core, Core

Fix: the connected apps list called token issue time "last used"
  packages/admin-sdk/src/types/generated/OauthApplication.ts
  packages/admin-sdk/src/zod/generated/OauthApplication.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/tables/oauth-applications.tsx
  spree/api/app/serializers/spree/api/v3/admin/oauth_application_serializer.rb
  spree/core/app/models/spree/oauth_application.rb
Due: core, api, Core, API

Fix: two security review findings in the agent tools
  spree/api/app/serializers/spree/api/v3/admin/webhook_delivery_serializer.rb
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/agent_tools/resource_map_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/webhook_delivery_serializer_spec.rb
  spree/api/spec/tools/spree/agent_tools/workflow_tool_arguments_spec.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
Due: core, api, Core, API

Changed the consent screen to the shared permission grid
  packages/dashboard/src/components/spree/permission-picker.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/oauth/authorize.tsx
Due: none

Fixed a search returning the count instead of the records, and released the export link
  spree/core/app/tools/spree/agent_tools/create_export.rb
  spree/core/app/tools/spree/agent_tools/get_resource.rb
  spree/core/lib/spree/agent_tools/record_summary.rb
  spree/core/spec/lib/spree/agent_tools/record_summary_spec.rb
  spree/mcp/lib/spree/mcp/tool_adapter.rb
  spree/mcp/spec/lib/spree/mcp/server_spec.rb
Due: core, Core

Added OAuth authentication across the Admin API
  spree/api/app/controllers/concerns/spree/api/v3/admin/store_context.rb
  spree/api/app/controllers/concerns/spree/api/v3/admin_authentication.rb
  spree/api/app/controllers/concerns/spree/api/v3/scoped_authorization.rb
  spree/api/lib/spree/api/engine.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth_access_spec.rb
Due: api, API

Added finished exports as MCP resources
  spree/mcp/lib/spree/mcp/exports.rb
  spree/mcp/lib/spree/mcp/server.rb
  spree/mcp/lib/spree_mcp.rb
  spree/mcp/spec/lib/spree/mcp/exports_spec.rb
Due: none

Added full-access scopes, and renamed connected apps to connected agents
  packages/dashboard/src/components/spree/api-keys/api-key-table.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
  spree/api/lib/spree/api/oauth.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth/authorizations_spec.rb
Due: api, API

Changed agent connections to their own permission, and dropped the full-access scopes
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-ui/src/spree/icons.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/connected-apps.tsx
  spree/api/app/controllers/spree/api/v3/admin/oauth/applications_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/oauth/authorizations_controller.rb
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/lib/spree/api/oauth.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth/authorizations_spec.rb
  spree/core/lib/spree/core/permissions/default_catalog.rb
Due: core, api, Core, API

Added registering and editing OAuth clients from the dashboard
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard/src/components/spree/oauth-application-sheet.tsx
  packages/dashboard/src/hooks/use-oauth.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/connected-apps.tsx
  spree/api/app/controllers/spree/api/v3/admin/oauth/application_tokens_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/oauth/applications_controller.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/oauth.rb
  spree/api/spec/requests/spree/api/v3/admin/oauth/applications_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API
