Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Single-node Docker deployment as the default: root-context builds
  CLAUDE.md
  README.md
  docs/developer/contributing/developing-spree.mdx
  docs/developer/core-concepts/reports.mdx
  docs/developer/create-spree-app/quickstart.mdx
  docs/developer/dashboard/deployment.mdx
  docs/developer/deployment/aws.mdx
  docs/developer/deployment/caching.mdx
  docs/developer/deployment/docker.mdx
  docs/developer/deployment/environment_variables.mdx
  docs/developer/deployment/render.mdx
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/logs.ts
  packages/cli/src/commands/restart.ts
  packages/cli/src/docker.ts
  packages/cli/tests/add-dashboard.test.ts
  packages/cli/tests/build-production.test.ts
  packages/cli/tests/db.test.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/backend.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/gitignore.ts
  packages/create-spree-app/tests/backend.test.ts
  scripts/docker-compose.edge.yml
  scripts/server-setup.sh
  scripts/sync-dashboard-starter.mjs
  spree/core/app/jobs/spree/imports/process_group_job.rb
Due: core, Core

Trim lifecycle event noise: no touch duplicates, one event per import group
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/models/concerns/spree/publishable.rb
  spree/core/lib/spree/events.rb
  spree/core/lib/spree/testing_support/lifecycle_events.rb
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
  spree/core/spec/models/concerns/spree/publishable_spec.rb
  spree/core/spec/models/spree/customer_return_spec.rb
  spree/core/spec/models/spree/gift_card_batch_spec.rb
  spree/core/spec/models/spree/return_authorization_spec.rb
  spree/core/spec/models/spree/wishlist_spec.rb
Due: core, Core

Update deplpyment guides
  docs/developer/deployment/aws.mdx
  docs/developer/deployment/aws_ecs.mdx
  docs/developer/deployment/background_jobs.mdx
  docs/developer/deployment/caching.mdx
  docs/developer/deployment/database.mdx
  docs/developer/deployment/docker.mdx
  docs/developer/deployment/emails.mdx
  docs/developer/deployment/environment_variables.mdx
  docs/developer/deployment/heroku.mdx
  docs/developer/deployment/quickstart.mdx
  docs/developer/deployment/render.mdx
  docs/docs.json
Due: none

Add user page sidebar injection point for admin UI extensions
  docs/developer/admin/extending-ui.mdx
  spree/admin/app/views/spree/admin/users/show.html.erb
  spree/admin/lib/spree/admin/engine.rb
Due: admin, Admin

Add user page sidebar injection point for admin UI extensions (#14327)
  docs/developer/admin/extending-ui.mdx
  spree/admin/app/views/spree/admin/users/show.html.erb
  spree/admin/lib/spree/admin/engine.rb
Due: admin, Admin

Bump verison to 5.6.0 RC3
  spree/core/lib/spree/core/version.rb
Due: core, Core

Plan: Solid Queue as the default — single-container, Postgres-only
  CLAUDE.md
  docs/plans/6.0-solid-queue-single-container.md
  docs/plans/6.0-stock-reservations.md
Due: none

Resolve the extension-audit question: all extensions are ActiveJob-only
  docs/plans/6.0-solid-queue-single-container.md
Due: none

Resolve the cache question: Solid Cache in the primary DB
  docs/plans/5.6-solid-queue-single-container.md
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

Plan: Solid Queue as the default job backend — single-container, Postgres-only (#14325)
  docs/plans/5.6-solid-queue-single-container.md
  docs/plans/6.0-stock-reservations.md
Due: none

Release @spree/dashboard-core 0.10.2 and @spree/dashboard 0.10.3
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
Due: none

Release @spree/dashboard-core 0.10.2 and @spree/dashboard 0.10.3 (#14328)
  packages/dashboard-core/CHANGELOG.md
  packages/dashboard-core/package.json
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
Due: none

Add support for newsletter unsubscribe workflow in Store SDK
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/sdk/.changeset/newsletter-unsubscribe.md
  packages/sdk/src/store-client.ts
  packages/sdk/tests/mocks/handlers.ts
  packages/sdk/tests/newsletter-subscribers.test.ts
Due: none

Add support for newsletter unsubscribe workflow in Store SDK (#14329)
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/sdk/.changeset/newsletter-unsubscribe.md
  packages/sdk/src/store-client.ts
  packages/sdk/tests/mocks/handlers.ts
  packages/sdk/tests/newsletter-subscribers.test.ts
Due: none

fixup! Add Store channel context endpoint, channel-bound publishable keys, and wholesale seeds
  spree/api/spec/controllers/spree/api/v3/admin/api_keys_controller_spec.rb
  spree/core/app/models/spree/channel.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/channel_spec.rb
Due: core, Core

fixup! Add Store channel context endpoint, channel-bound publishable keys, and wholesale seeds
  spree/api/app/serializers/spree/api/v3/customer_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/customers_controller_spec.rb
  spree/core/app/models/concerns/spree/user_methods.rb
Due: core, api, Core, API

fixup! Add Store channel context endpoint, channel-bound publishable keys, and wholesale seeds
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  spree/api/app/serializers/spree/api/v3/customer_serializer.rb
  spree/api/spec/integration/spree/api/v3/store/channel_spec.rb
Due: api, API

fixup! Add Store channel context endpoint, channel-bound publishable keys, and wholesale seeds
  spree/api/app/controllers/concerns/spree/api/v3/channel_resolution.rb
  spree/api/spec/controllers/spree/api/v3/store/channel_controller_spec.rb
Due: api, API

fixup! Add Store channel context endpoint, channel-bound publishable keys, and wholesale seeds
  spree/api/app/controllers/concerns/spree/api/v3/channel_resolution.rb
  spree/api/spec/controllers/spree/api/v3/store/customers_controller_spec.rb
  spree/core/app/services/spree/seeds/api_keys.rb
  spree/core/app/services/spree/seeds/channels.rb
  spree/core/app/services/spree/seeds/customer_groups.rb
  spree/core/spec/services/spree/seeds/api_keys_spec.rb
  spree/core/spec/services/spree/seeds/channels_spec.rb
Due: core, api, Core, API

fixup! Add Store channel context endpoint, channel-bound publishable keys, and wholesale seeds
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
Due: api, API

fixup! Add Store channel context endpoint, channel-bound publishable keys, and wholesale seeds
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/sdk/src/types/generated/Cart.ts
  packages/sdk/src/types/generated/Customer.ts
  packages/sdk/src/zod/generated/Cart.ts
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
Due: api, API

Record decision: wholesale applicant company stays in metadata until 6.1
  docs/plans/decisions.md
Due: none

Unify API key channel binding UI across Rails admin and dashboard
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/api-keys.tsx
  spree/admin/app/helpers/spree/admin/api_keys_helper.rb
  spree/admin/app/javascript/spree/admin/application.js
  spree/admin/app/javascript/spree/admin/controllers/api_key_form_controller.js
  spree/admin/app/views/spree/admin/api_keys/_details.html.erb
  spree/admin/app/views/spree/admin/api_keys/_form.html.erb
  spree/admin/config/locales/en.yml
  spree/admin/spec/controllers/spree/admin/api_keys_controller_spec.rb
  spree/core/lib/spree/permitted_attributes.rb
Due: core, admin, Core, Admin

fixup! Unify API key channel binding UI across Rails admin and dashboard
  spree/admin/app/helpers/spree/admin/api_keys_helper.rb
Due: admin, Admin

fixup! Unify API key channel binding UI across Rails admin and dashboard
  spree/admin/app/views/spree/admin/api_keys/_form.html.erb
Due: admin, Admin

improve api keys UI
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/api-keys.tsx
Due: none

Add changesets for admin-sdk and dashboard channel binding
  packages/admin-sdk/.changeset/api-key-channel-binding.md
  packages/dashboard/.changeset/api-key-channel-binding.md
  packages/sdk/.changeset/spicy-channels-arrive.md
Due: none

Release @spree/admin-sdk 0.7.0 and @spree/dashboard 0.11.0
  packages/admin-sdk/.changeset/api-key-channel-binding.md
  packages/admin-sdk/CHANGELOG.md
  packages/admin-sdk/package.json
  packages/dashboard/.changeset/api-key-channel-binding.md
  packages/dashboard/CHANGELOG.md
  packages/dashboard/package.json
Due: none

Run CI on the 6-0-dev integration branch
  .github/workflows/packages.yml
  .github/workflows/tests.yml
Due: none

Exclude default_variant from PrepareNestedAttributes removal detection
  spree/core/app/services/spree/products/prepare_nested_attributes.rb
Due: core, Core

Add allow list for optional attributes in google merchant center
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/spec/presenters/spree/data_feeds/google_presenter_spec.rb
Due: core, Core

Exclude item_group_id from optional attributes allowlist
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/spec/presenters/spree/data_feeds/google_presenter_spec.rb
Due: core, Core

Add allow list for optional attributes in google merchant center (#14332)
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/spec/presenters/spree/data_feeds/google_presenter_spec.rb
Due: core, Core

Pend legacy spree/admin product specs broken by master retirement
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
  spree/admin/spec/features/spree/admin/products/products_spec.rb
Due: none

Harden webhook payload handling
  packages/admin-sdk/src/types/generated/WebhookDelivery.ts
  spree/api/app/jobs/spree/webhook_delivery_job.rb
  spree/api/app/serializers/spree/api/v3/admin/webhook_delivery_serializer.rb
  spree/api/app/services/spree/webhooks/deliver_webhook.rb
  spree/api/app/subscribers/spree/webhook_event_subscriber.rb
  spree/api/spec/services/spree/webhooks/deliver_webhook_spec.rb
  spree/api/spec/subscribers/spree/webhook_event_subscriber_spec.rb
  spree/core/app/models/concerns/spree/webhook_payload_redaction.rb
  spree/core/app/models/spree/webhook_delivery.rb
  spree/core/spec/models/concerns/spree/webhook_payload_redaction_spec.rb
Due: core, api, Core, API

Harden webhook payload handling (#14335)
  packages/admin-sdk/src/types/generated/WebhookDelivery.ts
  spree/api/app/jobs/spree/webhook_delivery_job.rb
  spree/api/app/serializers/spree/api/v3/admin/webhook_delivery_serializer.rb
  spree/api/app/services/spree/webhooks/deliver_webhook.rb
  spree/api/app/subscribers/spree/webhook_event_subscriber.rb
  spree/api/spec/services/spree/webhooks/deliver_webhook_spec.rb
  spree/api/spec/subscribers/spree/webhook_event_subscriber_spec.rb
  spree/core/app/models/concerns/spree/webhook_payload_redaction.rb
  spree/core/app/models/spree/webhook_delivery.rb
  spree/core/spec/models/concerns/spree/webhook_payload_redaction_spec.rb
Due: core, api, Core, API

Fix B2B plan name as it's in 6.1
  docs/plans/6.1-channels-catalogs-b2b.md
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
