Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Drop the preferences deprecated in Spree 5
  docs/v6/developer/customization/configuration.mdx
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/models/spree/stock_item.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/spec/models/spree/stock_item_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
  spree/emails/spec/mailers/spree/order_mailer_spec.rb
Due: core, api, Core, API

Drop the API v2 settings
  spree/api/lib/spree/api/configuration.rb
Due: api, API

Move the tax address choice onto the store
  .changeset/store-tax-address-preference.md
  docs/v6/developer/customization/configuration.mdx
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/dashboard/src/schemas/store.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/core/app/models/concerns/spree/purchase/taxation.rb
  spree/core/app/models/spree/store.rb
  spree/core/lib/tasks/store_settings.rake
  spree/core/spec/models/concerns/spree/purchase/taxation_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/services/spree/carts/update_spec.rb
Due: core, api, Core, API

Point the removed settings at their store equivalents
  docs/v6/developer/customization/configuration.mdx
  packages/admin-sdk/src/params.ts
Due: none

Remove the settings deprecated in Spree 5, and move the tax address onto the store (#14462)
  .changeset/store-tax-address-preference.md
  docs/v6/developer/customization/configuration.mdx
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/dashboard/src/schemas/store.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/lib/spree/api/configuration.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/models/concerns/spree/purchase/taxation.rb
  spree/core/app/models/spree/stock_item.rb
  spree/core/app/models/spree/store.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/lib/tasks/store_settings.rake
  spree/core/spec/models/concerns/spree/purchase/taxation_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/stock_item_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/emails/spec/mailers/spree/order_mailer_spec.rb
Due: core, api, Core, API

Let a failed payment retry through the same workflows
  docs/plans/decisions.md
  spree/core/app/models/spree/payment.rb
  spree/core/app/workflows/spree/payments/capture.rb
  spree/core/spec/workflows/spree/payments/capture_spec.rb
  spree/core/spec/workflows/spree/payments/process_spec.rb
Due: core, Core

Fix stock ledger edge cases from code review
  docs/plans/6.0-inventory-operations.md
  docs/plans/6.0-typed-stock-movements.md
  packages/admin-sdk/src/params.ts
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_movements_spec.rb
  spree/core/app/models/spree/order_inventory.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_movement.rb
  spree/core/app/models/spree/stock_transfer.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/products/duplicator.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core.rb
  spree/core/spec/models/spree/order_inventory_spec.rb
  spree/core/spec/models/spree/stock_level_spec.rb
  spree/core/spec/models/spree/stock_movement_spec.rb
  spree/core/spec/models/spree/stock_transfer_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
  spree/core/spec/services/spree/products/duplicator_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
Due: core, api, Core, API

Lock stock level counter reads that decide a write
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/lib/tasks/typed_stock_movements_migration.rake
  spree/core/spec/models/spree/stock_level_spec.rb
Due: core, api, Core, API

Type an open fulfillment's placement row as its allocation
  docs/plans/6.0-typed-stock-movements.md
  spree/core/lib/tasks/typed_stock_movements_migration.rake
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
Due: core, Core

Address review feedback on the stock level rename
  .changeset/stock-item-renamed-to-stock-level.md
  packages/dashboard-core/src/lib/permissions.ts
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_movement.rb
  spree/core/app/models/spree/stock_reservation.rb
  spree/core/app/models/spree/variant.rb
  spree/core/db/migrate/20260814000001_rename_stock_items_to_stock_levels.rb
  spree/core/spec/models/spree/stock_level_spec.rb
  spree/core/spec/models/spree/stock_movement_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
Due: core, Core

drop shoulda-matchers gem
  spree/common_spree_dependencies.rb
  spree/core/spec/models/spree/allowed_origin_spec.rb
  spree/core/spec/models/spree/concerns/admin_user_methods_spec.rb
  spree/core/spec/models/spree/customer_group_spec.rb
  spree/core/spec/models/spree/customer_group_user_spec.rb
  spree/core/spec/models/spree/import_mapping_spec.rb
  spree/core/spec/models/spree/market_spec.rb
  spree/core/spec/models/spree/newsletter_subscriber_spec.rb
  spree/core/spec/models/spree/stock_reservation_spec.rb
  spree/core/spec/models/spree/user_identity_spec.rb
  spree/core/spec/spec_helper.rb
Due: none

Mention the stock movements SDK resource in the changeset
  .changeset/stock-item-renamed-to-stock-level.md
Due: none

drop shoulda-matchers gem (#14464)
  spree/common_spree_dependencies.rb
  spree/core/spec/models/spree/allowed_origin_spec.rb
  spree/core/spec/models/spree/concerns/admin_user_methods_spec.rb
  spree/core/spec/models/spree/customer_group_spec.rb
  spree/core/spec/models/spree/customer_group_user_spec.rb
  spree/core/spec/models/spree/import_mapping_spec.rb
  spree/core/spec/models/spree/market_spec.rb
  spree/core/spec/models/spree/newsletter_subscriber_spec.rb
  spree/core/spec/models/spree/stock_reservation_spec.rb
  spree/core/spec/models/spree/user_identity_spec.rb
  spree/core/spec/spec_helper.rb
Due: none

Stage a real 5.6 shelf in the migration regression fixture
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
Due: none

Carry the stock level rename through the leftovers
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-admin-rbac.md
  docs/plans/6.0-inventory-operations.md
  docs/plans/6.0-typed-stock-movements.md
  docs/plans/decisions.md
  packages/admin-sdk/tests/stock.test.ts
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  spree/api/app/serializers/spree/api/v3/admin/stock_level_serializer.rb
  spree/core/app/models/spree/order_routing/strategy/rules.rb
  spree/core/app/models/spree/stock/coordinator.rb
  spree/core/app/models/spree/stock_transfer.rb
  spree/core/spec/models/spree/product/shared_catalog_spec.rb
  spree/core/spec/services/spree/products/select_buy_box_spec.rb
Due: core, api, Core, API

Improve the Dashboard Command+K menu
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/create-action-registry.ts
  packages/dashboard-core/src/lib/search-registry.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/tests/create-action-matching.test.ts
  packages/dashboard-ui/src/ui/checkbox.tsx
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard-ui/src/ui/command.tsx
  packages/dashboard-ui/src/ui/dropdown-menu.tsx
  packages/dashboard-ui/src/ui/radio-group.tsx
  packages/dashboard-ui/src/ui/select.tsx
  packages/dashboard/src/components/spree/command-palette/command-palette.tsx
  packages/dashboard/src/dashboard.tsx
  packages/dashboard/src/search/create-actions.ts
  packages/dashboard/src/search/default.tsx
Due: none

Fix command palette create actions for unspaced scripts and locales
  packages/dashboard-core/src/lib/create-action-registry.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/tests/create-action-matching.test.ts
  packages/dashboard-ui/src/ui/command.tsx
  packages/dashboard/e2e/command-palette.spec.ts
  packages/dashboard/src/search/create-actions.ts
Due: none

Cover create-action permission gating and unspaced trailing verbs
  packages/dashboard-core/src/lib/create-action-registry.ts
  packages/dashboard-core/tests/create-action-matching.test.ts
  packages/dashboard/src/components/spree/command-palette/command-palette.tsx
Due: none

Improve the Dashboard Command+K menu (#14465)
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/create-action-registry.ts
  packages/dashboard-core/src/lib/search-registry.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/tests/create-action-matching.test.ts
  packages/dashboard-ui/src/ui/checkbox.tsx
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard-ui/src/ui/command.tsx
  packages/dashboard-ui/src/ui/dropdown-menu.tsx
  packages/dashboard-ui/src/ui/radio-group.tsx
  packages/dashboard-ui/src/ui/select.tsx
  packages/dashboard/e2e/command-palette.spec.ts
  packages/dashboard/src/components/spree/command-palette/command-palette.tsx
  packages/dashboard/src/dashboard.tsx
  packages/dashboard/src/search/create-actions.ts
  packages/dashboard/src/search/default.tsx
Due: none

Phase 1.1: gem skeleton for the Avalara AvaTax provider
  spree/providers/avalara/Gemfile
  spree/providers/avalara/README.md
  spree/providers/avalara/Rakefile
  spree/providers/avalara/config/locales/en.yml
  spree/providers/avalara/lib/spree_avalara.rb
  spree/providers/avalara/lib/spree_avalara/engine.rb
  spree/providers/avalara/spec/spec_helper.rb
  spree/providers/avalara/spec/spree_avalara_spec.rb
  spree/providers/avalara/spec/support/vcr.rb
  spree/providers/avalara/spec/vcr/.keep
  spree/providers/avalara/spree_avalara.gemspec
Due: none

Phase 1.2: AvaTax client wrapper
  spree/providers/avalara/app/services/spree_avalara/client.rb
  spree/providers/avalara/spec/services/spree_avalara/client_spec.rb
Due: none

Add the 6.0 Avalara provider gem plan (spree_avalara)
  CLAUDE.md
  docs/plans/6.0-avalara-provider-gem.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
Due: none

Phase 1.3: Avalara integration credentials
  spree/providers/avalara/app/models/spree_avalara/integration.rb
  spree/providers/avalara/config/locales/en.yml
  spree/providers/avalara/lib/spree_avalara/engine.rb
  spree/providers/avalara/lib/spree_avalara/factories.rb
  spree/providers/avalara/lib/spree_avalara/testing_support/factories/integration_factory.rb
  spree/providers/avalara/spec/models/spree_avalara/integration_spec.rb
  spree/providers/avalara/spec/spec_helper.rb
Due: none

Phase 1.4: run the Avalara gem in CI
  .github/workflows/tests.yml
  CLAUDE.md
  codecov.yml
Due: none

deprecate money methods for 7.0
  CLAUDE.md
  docs/plans/decisions.md
  spree/core/app/models/spree/payment/processing.rb
Due: core, Core

Give voiding one writer instead of two
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/workflows/spree/payments/void.rb
Due: core, Core

Let the order learn about payments from events, not a save callback
  docs/plans/decisions.md
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/concerns/spree/purchase/totals.rb
  spree/core/app/models/spree/payment/custom_events.rb
  spree/core/app/subscribers/spree/order_status_subscriber.rb
  spree/core/lib/spree/testing_support/factories/order_factory.rb
  spree/core/spec/models/concerns/spree/purchase/payment_processing_spec.rb
  spree/core/spec/models/spree/order/payment_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/subscribers/spree/order_status_subscriber_spec.rb
Due: core, Core

Deprecate OptionValue#to_tom_select_json and OptionValue#display_presentation
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/option_value.rb
  spree/core/spec/models/spree/option_value_spec.rb
Due: core, Core

Drop old and unused ControllerHelpers
  spree/core/app/controllers/spree/base_controller.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/controller_helpers/auth.rb
  spree/core/lib/spree/core/controller_helpers/currency.rb
  spree/core/lib/spree/core/controller_helpers/locale.rb
  spree/core/lib/spree/core/controller_helpers/order.rb
  spree/core/lib/spree/core/controller_helpers/turbo.rb
  spree/core/spec/lib/spree/core/controller_helpers/auth_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/currency_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/locale_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/order_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/store_spec.rb
Due: core, Core

Drop dead core internals and unblock sample data on install
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/components.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/partials.rb
  spree/core/lib/spree/testing_support/caching.rb
  spree/core/spec/lib/spree/core/partials_spec.rb
  spree/lib/generators/spree/install/install_generator.rb
Due: core, Core

Move fullfillment helper to emails gem
  spree/emails/app/helpers/spree/fulfillment_helper.rb
Due: emails, Emails

Move BaseHelper to the emails gem
  spree/emails/app/helpers/spree/base_helper.rb
  spree/emails/spec/helpers/spree/base_helper_spec.rb
Due: emails, Emails

cleanu/remove outdated code (#14468)
  spree/core/app/controllers/spree/base_controller.rb
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/option_value.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/components.rb
  spree/core/lib/spree/core/controller_helpers/auth.rb
  spree/core/lib/spree/core/controller_helpers/currency.rb
  spree/core/lib/spree/core/controller_helpers/locale.rb
  spree/core/lib/spree/core/controller_helpers/order.rb
  spree/core/lib/spree/core/controller_helpers/turbo.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/partials.rb
  spree/core/lib/spree/testing_support/caching.rb
  spree/core/spec/lib/spree/core/controller_helpers/auth_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/currency_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/locale_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/order_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/store_spec.rb
  spree/core/spec/lib/spree/core/partials_spec.rb
  spree/core/spec/models/spree/option_value_spec.rb
  spree/emails/app/helpers/spree/base_helper.rb
  spree/emails/app/helpers/spree/fulfillment_helper.rb
  spree/emails/spec/helpers/spree/base_helper_spec.rb
  spree/lib/generators/spree/install/install_generator.rb
Due: core, emails, Core, Emails

Finish the display_on to storefront_visible migration
  CLAUDE.md
  docs/plans/5.5-6.0-display-on-to-boolean.md
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/display_on.rb
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/db/migrate/20260819000001_replace_payment_method_display_on_with_storefront_visible.rb
  spree/core/db/sample_data/payment_methods.rb
  spree/core/spec/models/spree/concerns/display_on_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
Due: core, Core

Answer the review on the payment-total refresh
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/concerns/spree/purchase/totals.rb
  spree/core/app/models/spree/payment/custom_events.rb
  spree/core/spec/models/spree/payment/custom_events_spec.rb
Due: core, Core

Address review feedback on the storefront_visible migration
  docs/plans/5.5-6.0-display-on-to-boolean.md
  spree/core/app/models/spree/order.rb
  spree/core/spec/models/spree/order_spec.rb
Due: core, Core

Let the order learn about payments from events, not a save callback (#14469)
  docs/plans/decisions.md
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/concerns/spree/purchase/totals.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/payment/custom_events.rb
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/subscribers/spree/order_status_subscriber.rb
  spree/core/app/workflows/spree/payments/void.rb
  spree/core/lib/spree/testing_support/factories/order_factory.rb
  spree/core/spec/models/concerns/spree/purchase/payment_processing_spec.rb
  spree/core/spec/models/spree/order/payment_spec.rb
  spree/core/spec/models/spree/payment/custom_events_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/subscribers/spree/order_status_subscriber_spec.rb
Due: core, Core

Finish the display_on to storefront_visible migration (#14470)
  CLAUDE.md
  docs/plans/5.5-6.0-display-on-to-boolean.md
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/display_on.rb
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/db/migrate/20260819000001_replace_payment_method_display_on_with_storefront_visible.rb
  spree/core/db/sample_data/payment_methods.rb
  spree/core/spec/models/spree/concerns/display_on_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/payment_method_spec.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
