Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Discontinue variants with completed orders, instead of destroying them (#13760)
  spree/admin/app/controllers/spree/admin/products_controller.rb
  spree/core/app/services/spree/products/prepare_nested_attributes.rb
  spree/core/spec/services/spree/products/prepare_nested_attributes_spec.rb
Due: core, admin, Core, Admin

Added `createPayment` server action for non-session payment methods (e.g. Check, Cash on Delivery, Bank Transfer)
  packages/next/.changeset/rename-taxons-to-categories.md
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/actions/payments.ts
  packages/next/src/index.ts
  packages/sdk/.changeset/rename-taxons-to-categories.md
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/mocks/handlers.ts
  packages/sdk/tests/payments.test.ts
  spree/api/app/controllers/spree/api/v3/store/orders/payments_controller.rb
  spree/api/config/locales/en.yml
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/orders/payments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/payments_spec.rb
Due: api, API

Added docs
  docs/api-reference/store.yaml
  docs/developer/core-concepts/payments.mdx
  docs/developer/sdk/quickstart.mdx
  docs/developer/sdk/store/payments.mdx
  packages/next/README.md
  packages/sdk/README.md
Due: none

Added `createPayment` server action for non-session payment methods … (#13761)
  docs/api-reference/store.yaml
  docs/developer/core-concepts/payments.mdx
  docs/developer/sdk/quickstart.mdx
  docs/developer/sdk/store/payments.mdx
  packages/next/.changeset/rename-taxons-to-categories.md
  packages/next/CHANGELOG.md
  packages/next/README.md
  packages/next/package.json
  packages/next/src/actions/payments.ts
  packages/next/src/index.ts
  packages/sdk/.changeset/rename-taxons-to-categories.md
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/mocks/handlers.ts
  packages/sdk/tests/payments.test.ts
  spree/api/app/controllers/spree/api/v3/store/orders/payments_controller.rb
  spree/api/config/locales/en.yml
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/orders/payments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/payments_spec.rb
Due: api, API

Fixed: Check payment method now properly transitions to pending/completed state
  docs/developer/core-concepts/payments.mdx
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/models/spree/payment_method/check.rb
  spree/core/spec/models/spree/payment_spec.rb
Due: core, Core

Fixed: Check payment method now properly transitions to pending/compl… (#13762)
  docs/developer/core-concepts/payments.mdx
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/models/spree/payment_method/check.rb
  spree/core/spec/models/spree/payment_spec.rb
Due: core, Core

Bump spree to 5.4.0.beta6
  spree/core/lib/spree/core/version.rb
Due: core, Core

Introducing `Spreee::Checkout::Requirements`
  docs/api-reference/store.yaml
  packages/next/CHANGELOG.md
  packages/sdk/CHANGELOG.md
  packages/sdk/scripts/generate-zod.ts
  packages/sdk/src/types/generated/Cart.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/Cart.ts
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/lib/spree/api/openapi/schema_helper.rb
  spree/api/spec/controllers/spree/api/v3/store/cart_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/cart_spec.rb
  spree/core/app/models/spree/checkout/default_requirements.rb
  spree/core/app/models/spree/checkout/registry.rb
  spree/core/app/models/spree/checkout/requirement.rb
  spree/core/app/models/spree/checkout/requirements.rb
  spree/core/app/models/spree/checkout/step.rb
  spree/core/app/models/spree/order/checkout.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/checkout/registry_spec.rb
  spree/core/spec/models/spree/checkout/requirements_spec.rb
Due: core, api, Core, API

Rename `line_items` key in Cart/Order to `items` and `order_promotions` to `promotions`
  docs/api-reference/store.yaml
  docs/api-reference/webhooks-events.mdx
  docs/developer/core-concepts/adjustments.mdx
  docs/developer/core-concepts/orders.mdx
  docs/developer/core-concepts/webhooks.mdx
  docs/developer/customization/metadata.mdx
  docs/developer/sdk/store/cart-checkout.mdx
  docs/snippets/objects/spree_order.mdx
  packages/admin-sdk/src/types/generated/Order.ts
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/index.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/types/generated/Cart.ts
  packages/sdk/src/types/generated/CartPromotion.ts
  packages/sdk/src/types/generated/Order.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/Cart.ts
  packages/sdk/src/zod/generated/CartPromotion.ts
  packages/sdk/src/zod/generated/Order.ts
  packages/sdk/src/zod/generated/index.ts
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_promotion_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/store/cart_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/cart_spec.rb
  spree/api/spec/integration/spree/api/v3/store/line_items_spec.rb
  spree/core/app/models/spree/cart_promotion.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_promotion.rb
Due: core, api, Core, API

Update order_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/order_serializer_spec.rb
Due: none

fix prefix
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  spree/core/app/models/spree/cart_promotion.rb
Due: core, Core

Merge pull request #13764 from spree/fix/sdk-0-9-0
  docs/api-reference/store.yaml
  docs/api-reference/webhooks-events.mdx
  docs/developer/core-concepts/adjustments.mdx
  docs/developer/core-concepts/orders.mdx
  docs/developer/core-concepts/webhooks.mdx
  docs/developer/customization/metadata.mdx
  docs/developer/sdk/store/cart-checkout.mdx
  docs/snippets/objects/spree_order.mdx
  packages/admin-sdk/src/types/generated/Order.ts
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/next/src/index.ts
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/types/generated/Cart.ts
  packages/sdk/src/types/generated/CartPromotion.ts
  packages/sdk/src/types/generated/Order.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/Cart.ts
  packages/sdk/src/zod/generated/CartPromotion.ts
  packages/sdk/src/zod/generated/Order.ts
  packages/sdk/src/zod/generated/index.ts
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_promotion_serializer.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/store/cart_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/cart_spec.rb
  spree/api/spec/integration/spree/api/v3/store/line_items_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/order_serializer_spec.rb
  spree/core/app/models/spree/cart_promotion.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_promotion.rb
Due: core, api, Core, API

Supports loading environment variables from `.env`
  server/Gemfile.common
  server/Gemfile.lock
Due: none

Set default PostgreSQL password and document envs
  docker-compose.yml
  docs/developer/contributing/developing-spree.mdx
  docs/developer/deployment/docker.mdx
  packages/create-spree-app/src/templates/docker-compose.ts
  server/README.md
  server/config/database.yml
Due: none

Create 'Markets' image folder
  docs/images/user/settings/markets/placeholder
Due: none

Added 'Markets' screenshots via upload
  docs/images/user/settings/markets/1-markets-overview.png
  docs/images/user/settings/markets/2-new-market.png
  docs/images/user/settings/markets/3-edit-market.png
Due: none

Delete docs/images/user/settings/markets/placeholder
  docs/images/user/settings/markets/placeholder
Due: none

Add documentation for managing markets in Spree Commerce
  docs/user/settings/markets.mdx
Due: none

Add 'Market' as a new pricing rule type
  docs/user/manage-products/price-lists.mdx
Due: none

Revise Store Details documentation for clarity
  docs/user/settings/store-details.mdx
Due: none

Delete docs/images/user/settings/store-details/1.StoreDetails.png
  docs/images/user/settings/store-details/1.StoreDetails.png
Due: none

Delete docs/images/user/settings/store-details/2.NameandLogo.png
  docs/images/user/settings/store-details/2.NameandLogo.png
Due: none

Delete docs/images/user/settings/store-details/3.CurrenciesandCountries.png
  docs/images/user/settings/store-details/3.CurrenciesandCountries.png
Due: none

Delete docs/images/user/settings/store-details/4.Languageandcurrencyselector.png
  docs/images/user/settings/store-details/4.Languageandcurrencyselector.png
Due: none

Delete docs/images/user/settings/store-details/5.StandardsandFormats.png
  docs/images/user/settings/store-details/5.StandardsandFormats.png
Due: none

Delete docs/images/user/settings/store-details/6.DigitalAssets.png
  docs/images/user/settings/store-details/6.DigitalAssets.png
Due: none

Delete docs/images/user/settings/store-details/7.JWTAuthentication.png
  docs/images/user/settings/store-details/7.JWTAuthentication.png
Due: none

Delete docs/images/user/settings/store-details/8.VendorCommissionRates.png
  docs/images/user/settings/store-details/8.VendorCommissionRates.png
Due: none

Delete docs/images/user/settings/store-details/9.VendorPayouts.png
  docs/images/user/settings/store-details/9.VendorPayouts.png
Due: none

Added new 'Store Details' screenshots via upload
  docs/images/user/settings/1-name-and-logo.png
Due: none

Delete docs/images/user/settings/1-name-and-logo.png
  docs/images/user/settings/1-name-and-logo.png
Due: none

Create 'Store Detailds' image folder
  docs/images/user/settings/store-details/placeholder
Due: none

Added new 'Store Details' screenshots via upload
  docs/images/user/settings/store-details/1-name-and-logo.png
  docs/images/user/settings/store-details/2-standards-and-formats.png
  docs/images/user/settings/store-details/3-phone-and-address.png
  docs/images/user/settings/store-details/4-digital-assets.png
Due: none

Introducing new `Checkout::Update`
  spree/api/app/controllers/spree/api/v3/store/checkout_controller.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/core/app/services/spree/checkout/update.rb
  spree/core/app/services/spree/checkout/v2_update.rb
  spree/core/app/services/spree/orders/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/checkout/update_spec.rb
  spree/core/spec/services/spree/checkout/v2_update_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
Due: core, api, Core, API

more tests
  spree/api/spec/integration/spree/api/v3/store/checkout_spec.rb
  spree/core/app/services/spree/checkout/update.rb
  spree/core/spec/services/spree/checkout/update_spec.rb
Due: core, Core

CR fixes
  spree/api/app/controllers/spree/api/v3/store/checkout_controller.rb
  spree/api/spec/integration/spree/api/v3/store/checkout_spec.rb
  spree/core/app/services/spree/checkout/update.rb
Due: core, api, Core, API

Auto-advance checkout step after selecting shipping rate
  spree/api/app/controllers/spree/api/v3/store/checkout/shipments_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/checkout/shipments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/checkout_spec.rb
  spree/core/spec/services/spree/checkout/update_spec.rb
Due: api, API

Fix store credit amount validation with non-English locales (#13665)
  core/app/models/spree/gift_card_batch.rb
  core/app/models/spree/refund.rb
  core/app/models/spree/store_credit.rb
  core/spec/models/spree/gift_card_batch_spec.rb
  core/spec/models/spree/refund_spec.rb
  core/spec/models/spree/store_credit_spec.rb
Due: none

FIX gift card overspend race condition vulnerability (#13734)
  core/app/services/spree/gift_cards/apply.rb
  core/spec/services/spree/gift_cards/apply_spec.rb
Due: none
