Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Merge extension attributes instead of appending them
  docs/developer/upgrades/5.6-to-6.0.mdx
  spree/api/app/controllers/concerns/spree/api/v3/admin/subclassed_resource.rb
  spree/api/app/controllers/concerns/spree/api/v3/permit_fragments.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods/rules_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/spec/controllers/spree/api/v3/permit_fragments_spec.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/workflows/spree/carts/add_item.rb
Due: core, api, Core, API

Refresh the Brakeman fingerprint for company contact params
  spree/api/config/brakeman.ignore
Due: api

Simplify
  docs/developer/upgrades/5.6-to-6.0.mdx
  spree/api/app/controllers/concerns/spree/api/v3/admin/subclassed_resource.rb
  spree/api/app/controllers/concerns/spree/api/v3/permit_fragments.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts/items_controller.rb
  spree/api/spec/controllers/spree/api/v3/permit_fragments_spec.rb
Due: api, API

Use the initializer form consistently in the docs
  docs/developer/customization/api.mdx
  docs/developer/tutorial/api.mdx
  docs/developer/tutorial/extending-models.mdx
Due: none

Move the API customization changes into a v6 page
  docs/developer/tutorial/api.mdx
  docs/developer/tutorial/extending-models.mdx
  docs/docs.json
  docs/v6/developer/customization/api.mdx
Due: none

Add the workflows that replace the remaining state machines
  spree/core/app/models/concerns/spree/has_status.rb
  spree/core/app/workflows/spree/imports/complete.rb
  spree/core/app/workflows/spree/imports/complete_mapping.rb
  spree/core/app/workflows/spree/imports/retry_failed_rows.rb
  spree/core/app/workflows/spree/imports/start_mapping.rb
  spree/core/app/workflows/spree/imports/start_processing.rb
  spree/core/app/workflows/spree/invitations/accept.rb
  spree/core/app/workflows/spree/price_lists/activate.rb
  spree/core/app/workflows/spree/price_lists/deactivate.rb
  spree/core/app/workflows/spree/products/activate.rb
  spree/core/app/workflows/spree/products/archive.rb
  spree/core/app/workflows/spree/products/draft.rb
  spree/core/lib/spree/core/dependencies.rb
Due: core, Core

Retire the state machine on Product
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/models/spree/stock/availability_validator_spec.rb
  spree/core/spec/workflows/spree/products/status_transitions_spec.rb
Due: core, Core

Retire the state machine on GiftCard and rename its state column
  docs/api-reference/admin.yaml
  packages/admin-sdk/tests/gift-cards.test.ts
  packages/dashboard/src/tables/gift-cards.tsx
  spree/api/app/serializers/spree/api/v3/gift_card_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/gift_card_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/gift_cards_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/gift_cards_spec.rb
  spree/api/spec/integration/spree/api/v3/store/gift_card_cart_spec.rb
  spree/api/spec/serializers/spree/api/v3/gift_card_serializer_spec.rb
  spree/core/app/models/concerns/spree/purchase/gift_cards.rb
  spree/core/app/models/spree/gift_card.rb
  spree/core/app/models/spree/gift_card_batch.rb
  spree/core/app/models/spree/promotion_handler/coupon.rb
  spree/core/app/presenters/spree/csv/gift_card_presenter.rb
  spree/core/app/services/spree/gift_cards/apply.rb
  spree/core/app/services/spree/gift_cards/redeem.rb
  spree/core/app/services/spree/gift_cards/remove.rb
  spree/core/app/workflows/spree/gift_cards/apply.rb
  spree/core/app/workflows/spree/gift_cards/cancel.rb
  spree/core/app/workflows/spree/gift_cards/redeem.rb
  spree/core/app/workflows/spree/gift_cards/remove.rb
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/db/migrate/20260819000002_rename_spree_gift_cards_state_to_status.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/testing_support/factories/gift_card_factory.rb
  spree/core/spec/models/spree/gift_card_spec.rb
  spree/core/spec/models/spree/order/checkout_spec.rb
  spree/core/spec/presenters/spree/csv/gift_card_presenter_spec.rb
  spree/core/spec/services/spree/gift_cards/redeem_spec.rb
  spree/core/spec/workflows/spree/gift_cards/apply_spec.rb
  spree/core/spec/workflows/spree/gift_cards/cancel_spec.rb
  spree/core/spec/workflows/spree/gift_cards/redeem_spec.rb
  spree/core/spec/workflows/spree/gift_cards/remove_spec.rb
Due: core, api, Core, API

Retire the state machine on PriceList
  spree/api/app/controllers/spree/api/v3/admin/price_lists_controller.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/db/sample_data/wholesale.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/workflows/spree/price_lists/status_transitions_spec.rb
Due: core, api, Core, API

Retire the state machine on FulfillmentItem
  spree/core/app/models/spree/fulfillment_item.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/workflows/spree/fulfillments/create.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/lib/spree/testing_support/factories/order_factory.rb
  spree/core/spec/models/spree/fulfilment_changer_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/stock_level_spec.rb
  spree/core/spec/workflows/spree/fulfillments/create_spec.rb
  spree/core/spec/workflows/spree/fulfillments/fulfill_spec.rb
Due: core, Core

Retire the state machine on Invitation
  spree/api/app/controllers/spree/api/v3/admin/invitation_acceptances_controller.rb
  spree/core/app/models/spree/invitation.rb
  spree/core/spec/models/spree/admin_user_spec.rb
  spree/core/spec/models/spree/invitation_spec.rb
  spree/core/spec/workflows/spree/invitations/accept_spec.rb
Due: core, api, Core, API

Retire the state machines on Import and ImportRow
  spree/api/app/controllers/spree/api/v3/admin/imports_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/imports_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/imports_spec.rb
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/jobs/spree/imports/process_job.rb
  spree/core/app/models/spree/import.rb
  spree/core/app/models/spree/import_row.rb
  spree/core/app/services/spree/sample_data/import_runner.rb
  spree/core/lib/spree/testing_support/imports.rb
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
  spree/core/spec/jobs/spree/imports/process_job_spec.rb
  spree/core/spec/models/spree/import_row_spec.rb
  spree/core/spec/models/spree/import_spec.rb
  spree/core/spec/services/spree/imports/row_processors/customer_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_translation_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
  spree/core/spec/spec_helper.rb
  spree/core/spec/workflows/spree/imports/pipeline_spec.rb
Due: core, api, Core, API

Cover the deprecated transition verbs with specs
  spree/core/spec/models/spree/deprecated_transition_verbs_spec.rb
Due: none

Drop the state machine dependency
  CLAUDE.md
  docs/developer/core-concepts/imports-exports.mdx
  docs/developer/core-concepts/store-credits-gift-cards.mdx
  docs/developer/customization/workflows.mdx
  docs/plans/6.0-normalize-state-to-status.md
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/core/app/services/spree/orders/approve.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/app/workflows/spree/orders/resume.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/models/spree/credit_card_spec.rb
  spree/core/spree_core.gemspec
Due: core, api, Core, API

Move the price list bulk payloads into workflows
  spree/api/app/controllers/spree/api/v3/admin/price_lists_controller.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/workflows/spree/price_lists/create.rb
  spree/core/app/workflows/spree/price_lists/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/workflows/spree/price_lists/write_spec.rb
Due: core, api, Core, API

Replay a product's deferred nested data from the workflows
  docs/developer/customization/workflows.mdx
  docs/plans/6.0-normalize-state-to-status.md
  spree/core/app/models/spree/product.rb
  spree/core/app/workflows/spree/products/create.rb
  spree/core/app/workflows/spree/products/update.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/workflows/spree/products/status_transitions_spec.rb
Due: core, Core

Give a product one write path for its variants and media
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/workflows/spree/products/create.rb
  spree/core/app/workflows/spree/products/nested_attributes.rb
  spree/core/app/workflows/spree/products/update.rb
  spree/core/spec/models/spree/product/shared_catalog_spec.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/workflows/spree/products/status_transitions_spec.rb
Due: core, api, Core, API

Fix what the workflow conversions dropped
  spree/core/app/models/concerns/spree/purchase/gift_cards.rb
  spree/core/app/models/spree/gift_card.rb
  spree/core/app/models/spree/import.rb
  spree/core/app/models/spree/invitation.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/promotion_handler/coupon.rb
  spree/core/app/workflows/spree/imports/complete.rb
  spree/core/app/workflows/spree/imports/start_processing.rb
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/app/workflows/spree/price_lists/create.rb
  spree/core/app/workflows/spree/price_lists/update.rb
  spree/core/app/workflows/spree/products/create.rb
  spree/core/app/workflows/spree/products/update.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/deprecated_transition_verbs_spec.rb
  spree/core/spec/workflows/spree/imports/pipeline_spec.rb
  spree/core/spec/workflows/spree/price_lists/write_spec.rb
  spree/core/spec/workflows/spree/products/status_transitions_spec.rb
Due: core, Core

Let a controller declare its workflow instead of re-implementing the action
  CLAUDE.md
  spree/api/app/controllers/spree/api/v3/admin/imports_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/price_lists_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/spec/controllers/spree/api/v3/resource_controller_spec.rb
Due: api, API

Drop the dead checkouts association on Store
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/spec/controllers/spree/api/v3/resource_controller_spec.rb
  spree/core/app/models/spree/store.rb
Due: core, api, Core, API

Act on the review of the workflow conversions
  spree/api/spec/controllers/spree/api/v3/resource_controller_spec.rb
  spree/core/app/jobs/spree/imports/process_job.rb
  spree/core/app/services/spree/sample_data/import_runner.rb
  spree/core/app/workflows/spree/gift_cards/cancel.rb
  spree/core/app/workflows/spree/imports/start_mapping.rb
  spree/core/spec/workflows/spree/gift_cards/cancel_spec.rb
Due: core, Core

Move the shared 6.0 documentation changes into the v6 docs
  docs/docs.json
  docs/v6/developer/core-concepts/imports-exports.mdx
  docs/v6/developer/core-concepts/store-credits-gift-cards.mdx
Due: none

Close the remaining review findings on the gift card and media flows
  spree/core/app/workflows/spree/gift_cards/apply.rb
  spree/core/app/workflows/spree/products/nested_attributes.rb
  spree/core/config/locales/en.yml
  spree/core/spec/workflows/spree/gift_cards/apply_spec.rb
  spree/core/spec/workflows/spree/products/status_transitions_spec.rb
Due: core, Core

Plan operator-configured seller onboarding requirements
  CLAUDE.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-seller-onboarding-requirements.md
  docs/plans/decisions.md
Due: none

Prove the events actually reach their subscribers
  spree/core/spec/subscribers/spree/dispatch_spec.rb
Due: none

Let a marketplace define what it asks of its sellers
  spree/core/app/models/spree/seller_requirement.rb
  spree/core/app/models/spree/seller_requirement_custom_field.rb
  spree/core/app/models/spree/seller_requirement_status.rb
  spree/core/app/models/spree/seller_requirements/accept_terms.rb
  spree/core/app/models/spree/seller_requirements/attestation.rb
  spree/core/app/models/spree/seller_requirements/billing_address.rb
  spree/core/app/models/spree/seller_requirements/complete_profile.rb
  spree/core/app/models/spree/seller_requirements/document.rb
  spree/core/app/models/spree/seller_requirements/minimum_products.rb
  spree/core/app/models/spree/seller_requirements/operator_review.rb
  spree/core/app/models/spree/seller_requirements/required_custom_fields.rb
  spree/core/app/models/spree/seller_requirements/returns_address.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/seller_requirements.rb
  spree/core/app/services/spree/sellers/requirements.rb
  spree/core/db/migrate/20260818000001_create_spree_seller_requirements.rb
  spree/core/db/migrate/20260819000001_create_spree_seller_requirement_custom_fields.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/lib/spree/testing_support/factories/seller_requirement_factory.rb
  spree/core/spec/models/spree/seller_requirement_spec.rb
  spree/core/spec/models/spree/seller_requirements_spec.rb
  spree/core/spec/services/spree/sellers/requirements_spec.rb
Due: core, Core

Record what a seller submitted and what was made of it
  spree/core/app/models/spree/seller_requirement_submission.rb
  spree/core/app/workflows/spree/seller_requirement_submissions/accept.rb
  spree/core/app/workflows/spree/seller_requirement_submissions/create.rb
  spree/core/app/workflows/spree/seller_requirement_submissions/reject.rb
  spree/core/app/workflows/spree/seller_requirement_submissions/reviewable.rb
  spree/core/app/workflows/spree/seller_requirement_submissions/waive.rb
  spree/core/lib/spree/testing_support/factories/seller_requirement_submission_factory.rb
  spree/core/spec/workflows/spree/seller_requirement_submissions/lifecycle_spec.rb
Due: core, Core

Gate a seller's approval on the marketplace's checklist
  spree/core/app/models/spree/seller.rb
  spree/core/app/subscribers/spree/seller_onboarding_subscriber.rb
  spree/core/app/workflows/spree/sellers/approve.rb
  spree/core/app/workflows/spree/sellers/reopen_onboarding.rb
  spree/core/app/workflows/spree/sellers/start_onboarding.rb
  spree/core/app/workflows/spree/sellers/submit_for_review.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/seller_spec.rb
  spree/core/spec/workflows/spree/sellers/approve_requirements_spec.rb
  spree/core/spec/workflows/spree/sellers/onboarding_lifecycle_spec.rb
  spree/core/spec/workflows/spree/sellers/submit_for_review_spec.rb
Due: core, Core

Expose seller requirements and onboarding on the Admin API
  packages/admin-sdk/examples/seller_requirements/create.ts
  packages/admin-sdk/examples/seller_requirements/delete.ts
  packages/admin-sdk/examples/seller_requirements/list.ts
  packages/admin-sdk/examples/seller_requirements/types.ts
  packages/admin-sdk/examples/seller_requirements/update.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Address.ts
  packages/admin-sdk/src/types/generated/Seller.ts
  packages/admin-sdk/src/types/generated/SellerRequirement.ts
  packages/admin-sdk/src/types/generated/SellerRequirementStatus.ts
  packages/admin-sdk/src/types/generated/SellerRequirementSubmission.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  spree/api/app/controllers/spree/api/v3/admin/seller_requirement_submissions_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/seller_requirements_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/sellers_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/address_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/seller_requirement_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/seller_requirement_status_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/seller_requirement_submission_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/seller_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/seller_onboarding_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/seller_requirement_submissions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/seller_requirements_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/seller_requirements_spec.rb
Due: api, API

Offer every registered resource when defining a custom field
  packages/admin-sdk/examples/custom-field-definitions/resource-types.ts
  packages/dashboard/src/components/spree/custom-fields/definition-form.tsx
  packages/dashboard/src/hooks/use-custom-field-resource-types.ts
  spree/api/app/controllers/spree/api/v3/admin/custom_field_definitions_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/custom_field_definitions_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/custom_field_definitions_spec.rb
  spree/core/app/models/spree/custom_field_definition.rb
Due: core, api, Core, API

Let operators compose the seller checklist from the dashboard
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/src/hooks/use-custom-field-definitions.ts
  packages/dashboard/src/hooks/use-seller-requirements.ts
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/seller-requirements.tsx
  packages/dashboard/src/tables/seller-requirements.tsx
Due: none

Show a seller's onboarding progress and addresses to the operator
  docs/api-reference/admin.yaml
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  packages/dashboard-ui/src/spree/address-block.tsx
  packages/dashboard-ui/src/ui/card.tsx
  packages/dashboard-ui/src/ui/dialog.tsx
  packages/dashboard-ui/src/ui/sheet.tsx
  packages/dashboard/components.json
  packages/dashboard/package.json
  packages/dashboard/src/components/spree/address-fieldset.tsx
  packages/dashboard/src/components/spree/company-location-sheet.tsx
  packages/dashboard/src/components/spree/sellers/seller-address-card.tsx
  packages/dashboard/src/components/spree/sellers/seller-address-map.tsx
  packages/dashboard/src/components/spree/sellers/seller-onboarding-card.tsx
  packages/dashboard/src/components/ui/map.tsx
  packages/dashboard/src/hooks/use-sellers.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/sellers/$sellerId.tsx
  packages/dashboard/src/tables/sellers.tsx
  pnpm-lock.yaml
Due: none

Write down which timezone a date belongs to
  CLAUDE.md
Due: none

Mark the unused payment creation service deprecated
  spree/core/app/services/spree/payments/create.rb
  spree/core/app/services/spree/store_credits/apply.rb
  spree/core/app/services/spree/store_credits/remove.rb
  spree/core/spec/services/spree/store_credits/apply_spec.rb
  spree/core/spec/services/spree/store_credits/remove_spec.rb
Due: core, Core

Name the store credit services after what they do
  spree/api/app/controllers/spree/api/v3/admin/orders/store_credits_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts/store_credits_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/gift_cards_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/store_credits_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/store_credits_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/store_credits_spec.rb
  spree/core/app/models/concerns/spree/purchase/store_credits.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/checkout/add_store_credit.rb
  spree/core/app/services/spree/store_credits/apply.rb
  spree/core/app/services/spree/store_credits/remove.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/store_credits/apply_spec.rb
  spree/core/spec/services/spree/store_credits/remove_spec.rb
Due: core, api, Core, API

Let core create the session payment, and Stripe only say what paid
  spree/core/app/models/spree/payment_session.rb
  spree/providers/stripe/app/models/spree/payment_sessions/stripe.rb
  spree/providers/stripe/app/services/spree_stripe/create_payment.rb
  spree/providers/stripe/spec/models/spree/payment_sessions/stripe_spec.rb
Due: core, Core

Answer the review on the store credit rename
  spree/core/app/services/spree/checkout/add_store_credit.rb
  spree/core/app/services/spree/checkout/remove_store_credit.rb
  spree/core/app/services/spree/store_credits/apply.rb
  spree/core/spec/services/spree/store_credits/apply_spec.rb
  spree/core/spec/subscribers/spree/dispatch_spec.rb
Due: core, Core

Draw store credit only in the order's own currency
  spree/core/app/services/spree/store_credits/apply.rb
  spree/core/spec/services/spree/store_credits/apply_spec.rb
Due: core, Core
