Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Docs: Add Changelog to Documentation website
  docs/changelog.mdx
  docs/docs.json
  docs/style.css
Due: none

Merged spree update into spree upgrade
  .changeset/unified-spree-upgrade.md
  docs/developer/cli/quickstart.mdx
  docs/developer/create-spree-app/quickstart.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/developer/upgrades/quickstart.mdx
  packages/cli/README.md
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/encryption.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/commands/upgrade.ts
  packages/cli/src/index.ts
  packages/cli/tests/upgrade.test.ts
  packages/create-spree-app/src/templates/package-json.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Rename 1-purchase-order-overview.png to 1-purchase-orders-overview.png (#14827)
  docs/images/user/inventory/purchase-orders/1-purchase-orders-overview.png
Due: none

Clarified the manual package update steps in the upgrade docs
  docs/developer/create-spree-app/quickstart.mdx
  docs/developer/upgrades/quickstart.mdx
Due: none

Added the project root to the manual package update steps
  docs/developer/upgrades/quickstart.mdx
Due: none

Fix: changelog RSS fixed
  docs/changelog.mdx
  docs/style.css
Due: none

CLI: Merged spree update into spree upgrade (#14828)
  .changeset/unified-spree-upgrade.md
  docs/developer/cli/quickstart.mdx
  docs/developer/create-spree-app/quickstart.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/developer/upgrades/quickstart.mdx
  packages/cli/README.md
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/encryption.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/commands/upgrade.ts
  packages/cli/src/index.ts
  packages/cli/tests/upgrade.test.ts
  packages/create-spree-app/src/templates/package-json.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Fix: Re-importing an unchanged products export no longer lowers stock (#14825)
  docs/plans/5.6-admin-spa-csv-import.md
  docs/plans/6.0-stock-reservations.md
  docs/plans/6.0-typed-stock-movements.md
  docs/plans/decisions.md
  docs/user/manage-products/export-products.mdx
  docs/user/manage-products/import-products.mdx
  docs/user/manage-products/product-import-file-template.mdx
  spree/core/app/models/spree/exports/products.rb
  spree/core/app/models/spree/import_schemas/products.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/presenters/spree/csv/product_variant_presenter.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/exports/products_spec.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/presenters/spree/csv/product_variant_presenter_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_seller_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Fix failing Check Zod schemas are up to date by running pnpm generate:zod
  packages/admin-sdk/src/zod/generated/DeliveryMethodRule.ts
  packages/admin-sdk/src/zod/generated/Integration.ts
  packages/admin-sdk/src/zod/generated/OrderRoutingRule.ts
  packages/admin-sdk/src/zod/generated/PaymentMethod.ts
  packages/admin-sdk/src/zod/generated/PromotionAction.ts
  packages/admin-sdk/src/zod/generated/PromotionRule.ts
  packages/seller-sdk/src/zod/generated/DeliveryMethodRule.ts
Due: none

Fix: create-spree-app package manager tests no longer time out on busy CI runners
  packages/create-spree-app/tests/utils.test.ts
Due: none

Added the translations in core plan
  CLAUDE.md
  docs/plans/6.0-translations-in-core.md
  docs/plans/decisions.md
  spree/core/lib/spree/testing_support/i18n.rb
Due: none

Removed unused translations
  spree/api/config/i18n-tasks.yml
  spree/api/config/locales/en.yml
  spree/core/config/i18n-tasks.yml
  spree/core/config/locales/en.yml
  spree/emails/config/i18n-tasks.yml
  spree/emails/config/locales/en.yml
Due: core, api, emails

Fixed translation lookups that only worked by accident
  spree/core/app/models/spree/payment.rb
  spree/core/spec/mailers/spree/admin_user_mailer_spec.rb
Due: core, Core

Fixed spree_vies re-validation progress through a real queue adapter and after a long pause
  spree/providers/vies/app/jobs/spree_vies/revalidate_job.rb
  spree/providers/vies/spec/jobs/spree_vies/revalidate_job_spec.rb
Due: none

Fixed spree_vies cool-off pile-up, attempts spent on cool-off and lost pending checks
  spree/providers/vies/app/models/spree_vies/validator.rb
  spree/providers/vies/spec/models/spree_vies/validator_spec.rb
Due: none

Updated the VIES plan's evidence shape to what spree_vies writes
  docs/plans/6.1-vies-vat-validation.md
Due: none

Fix: API schema tests no longer time out on busy CI runners
  packages/admin-sdk/tests/zod-schemas.test.ts
  packages/sdk/tests/zod-schemas.test.ts
  packages/seller-sdk/tests/zod-schemas.test.ts
Due: none

Fixed the missing message for linking a product to the same category twice
  spree/core/config/locales/en.yml
Due: core

Fixed second-round review findings on translations in core
  docs/developer/upgrades/5.6-to-6.0.mdx
  spree/core/app/services/spree/seeds/saved_reports.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/i18n.rb
  spree/core/lib/spree/testing_support/i18n.rb
  spree/core/spec/lib/i18n_spec.rb
  spree/core/spec/services/spree/stores/provision_defaults_spec.rb
Due: core, Core

Changed store setup to find its default location and pickup method without their names
  docs/plans/6.0-translations-in-core.md
  docs/plans/decisions.md
  spree/core/app/services/spree/seeds/saved_reports.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/lib/spree/i18n.rb
  spree/core/spec/lib/i18n_spec.rb
  spree/core/spec/services/spree/stores/provision_defaults_spec.rb
Due: core, Core

Fix: create-spree-app package manager tests no longer time out on busy CI runners (#14829)
  packages/admin-sdk/tests/zod-schemas.test.ts
  packages/create-spree-app/tests/utils.test.ts
  packages/sdk/tests/zod-schemas.test.ts
  packages/seller-sdk/tests/zod-schemas.test.ts
Due: none

Fixed the missing message for a tax registration on a company division
  spree/core/config/locales/en.yml
Due: core

Fixed store setup skipping languages Spree ships only by region
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/core/app/services/spree/seeds/saved_reports.rb
  spree/core/app/services/spree/stores/provision_defaults.rb
  spree/core/lib/generators/spree/dummy/templates/rails/test.rb
  spree/core/lib/spree/i18n.rb
  spree/core/spec/lib/i18n_spec.rb
Due: core, api, Core, API

Changed the translation docs to point merchants at the dashboard email editor
  docs/developer/core-concepts/translations.mdx
Due: none

Changed Pagy max_limit option to client_limit
  spree/api/app/controllers/spree/api/v3/admin/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/countries_controller.rb
  spree/api/config/initializers/pagy.rb
  spree/core/spree_core.gemspec
Due: core, api, API

Improve handling idempotency key (#14824)
  docs/api-reference/store-api/idempotency.mdx
  spree/api/app/controllers/concerns/spree/api/v3/idempotent.rb
  spree/api/spec/controllers/concerns/spree/api/v3/idempotent_spec.rb
Due: api, API

Changed Pagy max_limit option to client_limit (#14832)
  spree/api/app/controllers/spree/api/v3/admin/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/countries_controller.rb
  spree/api/config/initializers/pagy.rb
  spree/core/spree_core.gemspec
Due: core, api, API

Removed deprecation warnings raised by Spree's own code
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/categories_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/services/spree/api/v3/filters_aggregator_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/services/spree/orders/remove_line_item.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/lib/spree/testing_support/factories/refund_factory.rb
Due: core, api, Core, API

Removed deprecation warnings raised by Spree's own code (#14834)
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/categories_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/api/spec/services/spree/api/v3/filters_aggregator_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/services/spree/orders/remove_line_item.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/lib/spree/testing_support/factories/refund_factory.rb
Due: core, api, Core, API

Changed the delivery method price label to format percentages without view helpers
  spree/core/app/models/spree/delivery_method.rb
  spree/core/spec/models/spree/delivery_method_spec.rb
Due: core, Core

Fix: Escape in a multi-select picker removed every chosen item (#14778)
  .changeset/escape-keeps-multi-select-choices.md
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard/e2e/product-types.spec.ts
  packages/dashboard/e2e/products-edit.spec.ts
Due: none

Changed delivery method price labels to format percentages without view helpers (#14835)
  spree/core/app/models/spree/delivery_method.rb
  spree/core/spec/models/spree/delivery_method_spec.rb
Due: core, Core

Added a shared concern for typed-subclass labels
  spree/api/app/controllers/spree/api/v3/admin/commission_rates_controller.rb
  spree/core/app/models/concerns/spree/type_labels.rb
  spree/core/app/models/spree/collection_rule.rb
  spree/core/app/models/spree/commission_rule.rb
  spree/core/app/models/spree/delivery_method_rule.rb
  spree/core/app/models/spree/order_routing_rule.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/promotion_rule.rb
  spree/core/app/models/spree/seller_requirement.rb
  spree/core/config/i18n-tasks.yml
  spree/core/spec/models/concerns/spree/type_labels_spec.rb
Due: core, api, Core, API

Changed type label specs to run in every family's model spec
  spree/core/app/models/spree/commission_rule.rb
  spree/core/spec/models/concerns/spree/type_labels_spec.rb
  spree/core/spec/models/spree/collection_rule_spec.rb
  spree/core/spec/models/spree/commission_rules/product_rule_spec.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/order_routing_rule_spec.rb
  spree/core/spec/models/spree/promotion_action_spec.rb
  spree/core/spec/models/spree/promotion_rule_spec.rb
  spree/core/spec/models/spree/seller_requirement_spec.rb
  spree/core/spec/support/shared_examples/type_labels.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
