Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Add CLI tool to spin up new dashboard plugins
  biome.json
  docs/developer/customization/dashboard-plugins.mdx
  packages/cli/src/commands/plugin.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/template.ts
  packages/cli/templates/plugin/.gitignore
  packages/cli/templates/plugin/LICENSE.tt
  packages/cli/templates/plugin/README.md.tt
  packages/cli/templates/plugin/package.json.tt
  packages/cli/templates/plugin/packages/dashboard/biome.json
  packages/cli/templates/plugin/packages/dashboard/package.json.tt
  packages/cli/templates/plugin/packages/dashboard/src/client.ts.tt
  packages/cli/templates/plugin/packages/dashboard/src/index.tsx.tt
  packages/cli/templates/plugin/packages/dashboard/src/locales/en.json.tt
  packages/cli/templates/plugin/packages/dashboard/src/routes/{{name}}-list.tsx.tt
  packages/cli/templates/plugin/packages/dashboard/src/slots/product-{{name}}-card.tsx.tt
  packages/cli/templates/plugin/packages/dashboard/src/types.ts.tt
  packages/cli/templates/plugin/packages/dashboard/tsconfig.json
  packages/cli/templates/plugin/pnpm-workspace.yaml
  packages/cli/tests/plugin-template.test.ts
  packages/cli/tests/template.test.ts
  packages/cli/tsup.config.ts
  pnpm-lock.yaml
Due: none

Add guide how to extend Admin SDK
  docs/developer/sdk/admin/extending.mdx
  docs/docs.json
  packages/admin-sdk/src/admin-client.ts
Due: none

Draft 5.5 project layout plan + supersede notes on 5.4 plan
  docs/plans/5.4-spree-starter-and-create-spree-app.md
  docs/plans/5.5-project-layout-and-dashboard.md
Due: none

Bug fixes for channels
  .claude/settings.local.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/channels.tsx
  packages/dashboard/src/schemas/channel.ts
  spree/admin/app/views/spree/admin/products/form/_publishing.html.erb
  spree/api/app/controllers/concerns/spree/api/v3/admin_authentication.rb
  spree/api/app/controllers/spree/api/v3/admin/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/resource_controller.rb
  spree/api/spec/controllers/concerns/spree/api/v3/channel_resolution_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/channel.rb
  spree/core/config/locales/en.yml
  spree/core/spec/lib/tasks/publications_spec.rb
  spree/core/spec/models/spree/channel_spec.rb
  spree/core/spec/models/spree/product/scopes_spec.rb
  spree/core/spec/models/spree/product_publication_spec.rb
Due: core, api, admin, Core, API, Admin

fixes
  packages/admin-sdk/src/params.ts
  spree/api/spec/controllers/concerns/spree/api/v3/admin_authentication_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
Due: none

fixes
  packages/dashboard/src/schemas/channel.ts
  spree/admin/app/views/spree/admin/products/form/_publishing.html.erb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/resource_controller.rb
  spree/api/spec/controllers/concerns/spree/api/v3/admin_authentication_spec.rb
  spree/api/spec/controllers/concerns/spree/api/v3/channel_resolution_spec.rb
  spree/core/app/models/spree/channel.rb
  spree/core/spec/models/spree/channel_spec.rb
Due: core, api, admin, Core, API, Admin

fixes
  spree/api/app/controllers/spree/api/v3/store/products/filters_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/product/scopes_spec.rb
Due: core, api, Core, API

Bug fixes for channels (#14124)
  .claude/settings.local.json
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/channels.tsx
  packages/dashboard/src/schemas/channel.ts
  spree/admin/app/views/spree/admin/products/form/_publishing.html.erb
  spree/api/app/controllers/concerns/spree/api/v3/admin_authentication.rb
  spree/api/app/controllers/spree/api/v3/admin/base_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products/filters_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/resource_controller.rb
  spree/api/spec/controllers/concerns/spree/api/v3/admin_authentication_spec.rb
  spree/api/spec/controllers/concerns/spree/api/v3/channel_resolution_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/channels_controller_spec.rb
  spree/core/app/models/spree/channel.rb
  spree/core/config/locales/en.yml
  spree/core/spec/lib/tasks/publications_spec.rb
  spree/core/spec/models/spree/channel_spec.rb
  spree/core/spec/models/spree/product_publication_spec.rb
Due: core, api, admin, Core, API, Admin

Added "Schedule a Sale" how-to guide (#14117)
  docs/docs.json
  docs/images/user/how-to/schedule-sale-pricing/1-new-price-list-form.png
  docs/images/user/how-to/schedule-sale-pricing/2-us-market-rule.png
  docs/images/user/how-to/schedule-sale-pricing/3-edit-prices-usd.png
  docs/images/user/how-to/schedule-sale-pricing/4-edit-prices-eur.png
  docs/images/user/how-to/schedule-sale-pricing/5-schedule-price-list.png
  docs/images/user/how-to/schedule-sale-pricing/placeholder
  docs/user/customers/customer-groups.mdx
  docs/user/how-to/schedule-sale-pricing.mdx
Due: none

Apply suggestion from @damianlegawiec
  docs/user/customers/customer-groups.mdx
Due: none

Create avalara.mdx
  docs/integrations/tax/avalara.mdx
Due: none

Document Avalara AvaTax integration setup and features
  docs/integrations/tax/avalara.mdx
Due: none

Create Avalara image folder
  docs/images/integrations/avalara/placeholder
Due: none

Upload Avalara setup screenshots
  docs/images/integrations/avalara/1-integrations-tab.png
  docs/images/integrations/avalara/2-connection-form.png
  docs/images/integrations/avalara/3-tax-code.png
  docs/images/integrations/avalara/4-entity-use-codes.png
  docs/images/integrations/avalara/5-customer-tax-settings.png
  docs/images/integrations/avalara/6-transactions.png
  docs/images/integrations/avalara/7-additional-settings.png
Due: none

Delete docs/images/integrations/avalara/placeholder
  docs/images/integrations/avalara/placeholder
Due: none

Update image paths in Avalara integration documentation
  docs/integrations/tax/avalara.mdx
Due: none

Add Tax group with Avalara integration page
  docs/docs.json
Due: none

Added Avalara logo
  docs/images/integrations/logos/avalara.png
Due: none

Add Tax integration section for Avalara
  docs/integrations/integrations.mdx
Due: none

Remove duplicate 'Tax' group in docs.json
  docs/docs.json
Due: none

Add tax integration section for Avalara
  docs/integrations/integrations.mdx
Due: none

Add email settings in Dashboard
  packages/admin-sdk/src/params.ts
  packages/dashboard/e2e/store-settings.spec.ts
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails.tsx
  packages/dashboard/src/schemas/store-emails.ts
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
Due: api, API

Update Avalara installation command in documentation
  docs/integrations/tax/avalara.mdx
Due: none

Added Avalara integration doc (#14126)
  docs/docs.json
  docs/images/integrations/avalara/1-integrations-tab.png
  docs/images/integrations/avalara/2-connection-form.png
  docs/images/integrations/avalara/3-tax-code.png
  docs/images/integrations/avalara/4-entity-use-codes.png
  docs/images/integrations/avalara/5-customer-tax-settings.png
  docs/images/integrations/avalara/6-transactions.png
  docs/images/integrations/avalara/7-additional-settings.png
  docs/images/integrations/logos/avalara.png
  docs/integrations/integrations.mdx
  docs/integrations/tax/avalara.mdx
Due: none

Translate settings nav bar
  packages/dashboard-core/src/components/settings-sidebar.tsx
  packages/dashboard-core/src/lib/settings-nav-registry.ts
  packages/dashboard/e2e/store-settings.spec.ts
  packages/dashboard/e2e/webhooks.spec.ts
  packages/dashboard/src/components/spree/webhook-endpoint-form.tsx
  packages/dashboard/src/hooks/use-webhook-endpoints.ts
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/nav/settings.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/webhooks/$webhookEndpointId.tsx
  spree/core/app/models/spree/webhook_endpoint.rb
  spree/core/spec/models/spree/webhook_endpoint_spec.rb
Due: core, Core

Fix Avalara link in integrations documentation
  docs/integrations/integrations.mdx
Due: none

Attribute new carts to X-Spree-Channel header
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/core/app/services/spree/carts/create.rb
Due: core, api, Core, API

Fix product_publications API writer: idempotent upsert, empty-array detach
  spree/admin/app/views/spree/admin/products/form/_publishing.html.erb
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/app/models/spree/product/channels.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/models/spree/product_spec.rb
Due: core, admin, Core, Admin

Legacy admin: auto-derive channel code from name
  spree/admin/app/javascript/spree/admin/controllers/slug_form_controller.js
  spree/admin/app/views/spree/admin/channels/_form.html.erb
Due: admin, Admin

Dashboard: unify store-scoped query keys across hooks, tables, mutations
  packages/dashboard-core/src/components/resource-table.tsx
  packages/dashboard-core/src/hooks/use-resource-mutation.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/query-keys.ts
  packages/dashboard/src/components/spree/bulk-price-editor/bulk-price-editor.tsx
  packages/dashboard/src/hooks/use-allowed-origins.ts
  packages/dashboard/src/hooks/use-api-keys.ts
  packages/dashboard/src/hooks/use-categories.ts
  packages/dashboard/src/hooks/use-channels.ts
  packages/dashboard/src/hooks/use-customer-groups.ts
  packages/dashboard/src/hooks/use-customer-store-credits.ts
  packages/dashboard/src/hooks/use-customers.ts
  packages/dashboard/src/hooks/use-gift-cards.ts
  packages/dashboard/src/hooks/use-markets.ts
  packages/dashboard/src/hooks/use-option-types.ts
  packages/dashboard/src/hooks/use-order.ts
  packages/dashboard/src/hooks/use-payment-methods.ts
  packages/dashboard/src/hooks/use-price-lists.ts
  packages/dashboard/src/hooks/use-prices.ts
  packages/dashboard/src/hooks/use-product-media.ts
  packages/dashboard/src/hooks/use-product.ts
  packages/dashboard/src/hooks/use-products.ts
  packages/dashboard/src/hooks/use-promotions.ts
  packages/dashboard/src/hooks/use-staff.ts
  packages/dashboard/src/hooks/use-stock-items.ts
  packages/dashboard/src/hooks/use-stock-locations.ts
  packages/dashboard/src/hooks/use-stock-transfers.ts
  packages/dashboard/src/hooks/use-store-settings.ts
  packages/dashboard/src/hooks/use-tax-categories.ts
  packages/dashboard/src/hooks/use-variant-media.ts
  packages/dashboard/src/hooks/use-webhook-endpoints.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/options.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/markets.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/webhooks/$webhookEndpointId.tsx
Due: none

Orders: surface step validation errors, fix drafts New Order CTA, draft-creation e2e
  packages/dashboard/e2e/global-setup.ts
  packages/dashboard/e2e/orders.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/orders/drafts.tsx
  spree/core/app/services/spree/orders/create.rb
  spree/core/spec/services/spree/orders/create_spec.rb
Due: core, Core

E2E: channels settings CRUD and product publishing card unlist
  packages/dashboard/e2e/channels-settings.spec.ts
  packages/dashboard/e2e/products-edit.spec.ts
Due: none

Meilisearch: exclude future-dated products from data and count
  spree/api/spec/controllers/spree/api/v3/store/products/meilisearch_integration_spec.rb
  spree/core/app/models/spree/search_provider/meilisearch.rb
Due: core, Core

RichTextEditor: defer blur check when relatedTarget is null
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
Due: none

custom-fields-inline: pass value through commit on blur
  packages/dashboard/src/components/spree/custom-fields/custom-fields-inline.tsx
Due: none

PublishingCard: seed default channel through useFieldArray.append
  packages/dashboard/e2e/products-publishing.spec.ts
  packages/dashboard/src/components/spree/products/publishing-card.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
Due: none

PublishingCard: harden default-channel seed + tighten e2e
  packages/dashboard/e2e/products-publishing.spec.ts
  packages/dashboard/src/components/spree/products/publishing-card.tsx
Due: none
