Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Add Pulse-style reporting to the React dashboard home screen
  .changeset/pulse-home-dashboard.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/index.ts
  packages/dashboard/e2e/home-dashboard.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  spree/api/app/controllers/spree/api/v3/admin/dashboard_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_analytics_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_operations_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_rankings_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/dashboard_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/dashboard_analytics_serializer_spec.rb
Due: api, API

Add a channel switcher to the dashboard home reporting
  .changeset/pulse-home-dashboard.md
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard/e2e/home-dashboard.spec.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  spree/api/app/controllers/spree/api/v3/admin/dashboard_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_analytics_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_operations_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_rankings_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/dashboard_controller_spec.rb
  spree/core/app/models/spree/store.rb
Due: core, api, Core, API

Simplify dashboard reporting internals after review
  .changeset/pulse-home-dashboard.md
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/components/spree/channel-select.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  spree/api/app/serializers/spree/api/v3/admin/dashboard_analytics_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_operations_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_rankings_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_serializer_helpers.rb
  spree/core/app/models/spree/order.rb
  spree/core/spec/models/spree/order_spec.rb
Due: core, api, Core, API

Bump spree to 5.6.0.rc5
  spree/core/lib/spree/core/version.rb
Due: core, Core

Seed wholesale sample prices for all supported currencies
  spree/core/db/sample_data/wholesale.rb
  spree/core/spec/services/spree/sample_data/loader_spec.rb
Due: core

Sync admin draft orders table with the orders table
  spree/admin/app/controllers/spree/admin/checkouts_controller.rb
  spree/admin/app/controllers/spree/admin/orders_controller.rb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/config/locales/en.yml
Due: admin, Admin

Assert full variant-by-currency coverage in wholesale seed spec
  spree/core/spec/services/spree/sample_data/loader_spec.rb
Due: none

Make wholesale sample seeding converge on re-runs
  spree/core/db/sample_data/wholesale.rb
Due: core

Add channel column to admin checkouts and orders tables (#14346)
  spree/admin/app/controllers/spree/admin/checkouts_controller.rb
  spree/admin/app/controllers/spree/admin/orders_controller.rb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/config/locales/en.yml
Due: admin, Admin

Refactor wholesale price seeding to use price_list API (#14345)
  spree/core/db/sample_data/wholesale.rb
  spree/core/spec/services/spree/sample_data/loader_spec.rb
Due: core

docs(plans): finalize the 6.0 split-adjustments design
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-split-adjustments.md
  docs/plans/decisions.md
  spree/core/spec/models/spree/promotion_spec.rb
Due: none

feat(core): add typed adjustment tables (split-adjustments Phase 1)
  spree/core/db/migrate/20260722000001_create_typed_adjustment_tables.rb
Due: core

Fall back to one-off containers across all CLI app commands
  .changeset/cli-one-off-container-fallback.md
  packages/cli/src/commands/exec.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/migrate.ts
  packages/cli/src/commands/rails.ts
  packages/cli/src/commands/rake.ts
  packages/cli/src/commands/routes.ts
  packages/cli/src/commands/task.ts
  packages/cli/src/commands/upgrade.ts
  packages/cli/src/docker.ts
  packages/cli/tests/docker.test.ts
  packages/cli/tests/migrate.test.ts
  packages/cli/tests/upgrade.test.ts
Due: none

feat(core): add typed adjustment line models
  spree/core/app/models/concerns/spree/adjustment_line.rb
  spree/core/app/models/spree/discount_line.rb
  spree/core/app/models/spree/fee.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/app/models/spree/tax_line.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/testing_support/factories/discount_line_factory.rb
  spree/core/lib/spree/testing_support/factories/fee_factory.rb
  spree/core/lib/spree/testing_support/factories/tax_line_factory.rb
  spree/core/spec/models/spree/discount_line_spec.rb
  spree/core/spec/models/spree/fee_spec.rb
  spree/core/spec/models/spree/tax_line_spec.rb
  spree/core/spec/support/concerns/adjustment_line.rb
Due: core, Core

Release @spree/cli 2.4.7
  .changeset/cli-one-off-container-fallback.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: none

Add one-off container fallback to all app-facing commands (#14347)
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/exec.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/migrate.ts
  packages/cli/src/commands/rails.ts
  packages/cli/src/commands/rake.ts
  packages/cli/src/commands/routes.ts
  packages/cli/src/commands/task.ts
  packages/cli/src/commands/upgrade.ts
  packages/cli/src/docker.ts
  packages/cli/tests/docker.test.ts
  packages/cli/tests/migrate.test.ts
  packages/cli/tests/upgrade.test.ts
Due: none

add user address book in admin dashboard
  spree/admin/app/controllers/spree/admin/user_addresses_controller.rb
  spree/admin/app/views/spree/admin/tables/columns/_address_name.html.erb
  spree/admin/app/views/spree/admin/user_addresses/index.html.erb
  spree/admin/app/views/spree/admin/users/_tabs.html.erb
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/config/routes.rb
Due: admin, Admin

Plan: analytics semantic layer (registry + query contract + adapters)
  CLAUDE.md
  docs/plans/6.0-analytics-semantic-layer.md
  docs/plans/decisions.md
Due: none

Replace analytics plan migration path with a this-branch implementation path
  CLAUDE.md
  docs/plans/6.0-analytics-semantic-layer.md
Due: none

Rename reporting semantic layer namespace to Spree.reporting
  CLAUDE.md
  docs/plans/6.0-analytics-semantic-layer.md
Due: none

feat(core): write tax and promotion results as typed adjustment lines
  spree/core/app/models/concerns/spree/adjustment_source.rb
  spree/core/app/models/spree/promotion/actions/create_adjustment.rb
  spree/core/app/models/spree/promotion/actions/create_item_adjustments.rb
  spree/core/app/models/spree/promotion/actions/free_shipping.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/spec/models/spree/adjustable/adjuster/promotion_spec.rb
  spree/core/spec/models/spree/promotion/actions/create_adjustment_spec.rb
  spree/core/spec/models/spree/promotion/actions/create_item_adjustments_spec.rb
  spree/core/spec/models/spree/promotion/actions/free_shipping_spec.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
  spree/core/spec/support/concerns/adjustment_source.rb
Due: core, Core

Update Storefront docs and fixed create-spree-app storefront CI generator
  docs/developer/core-concepts/channels.mdx
  docs/developer/core-concepts/stores.mdx
  docs/developer/storefront/nextjs/architecture.mdx
  docs/developer/storefront/nextjs/customization.mdx
  docs/developer/storefront/nextjs/deployment.mdx
  docs/developer/storefront/nextjs/emails.mdx
  docs/developer/storefront/nextjs/environment-variables.mdx
  docs/developer/storefront/nextjs/multi-region.mdx
  docs/developer/storefront/nextjs/quickstart.mdx
  docs/developer/storefront/nextjs/testing.mdx
  docs/developer/storefront/nextjs/wallet-payments.mdx
  docs/developer/storefront/nextjs/wholesale.mdx
  docs/docs.json
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/tests/storefront.test.ts
Due: none

Rebuild the dashboard home on a semantic reporting layer
  .changeset/pulse-home-dashboard.md
  docs/plans/6.0-analytics-semantic-layer.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/index.ts
  packages/dashboard/src/hooks/use-reporting.ts
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  spree/api/app/controllers/spree/api/v3/admin/dashboard_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/reporting_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_analytics_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_rankings_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/dashboard_serializer_helpers.rb
  spree/api/app/serializers/spree/api/v3/admin/reporting_result_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/dashboard_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/reporting_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/dashboard_analytics_serializer_spec.rb
  spree/core/app/models/spree/api_key.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/reporting.rb
  spree/core/lib/spree/reporting/adapters/base.rb
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/lib/spree/reporting/result.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
  spree/core/spec/lib/spree/reporting/registry_spec.rb
Due: core, api, Core, API

fix
  docs/developer/core-concepts/channels.mdx
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/tests/storefront.test.ts
Due: none

Update Storefront docs and fixed create-spree-app storefront CI gener… (#14348)
  docs/developer/core-concepts/channels.mdx
  docs/developer/core-concepts/stores.mdx
  docs/developer/storefront/nextjs/architecture.mdx
  docs/developer/storefront/nextjs/customization.mdx
  docs/developer/storefront/nextjs/deployment.mdx
  docs/developer/storefront/nextjs/emails.mdx
  docs/developer/storefront/nextjs/environment-variables.mdx
  docs/developer/storefront/nextjs/multi-region.mdx
  docs/developer/storefront/nextjs/quickstart.mdx
  docs/developer/storefront/nextjs/testing.mdx
  docs/developer/storefront/nextjs/wallet-payments.mdx
  docs/developer/storefront/nextjs/wholesale.mdx
  docs/docs.json
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/storefront.ts
  packages/create-spree-app/tests/storefront.test.ts
Due: none

Simplify the reporting layer after review
  packages/admin-sdk/tests/store-settings.test.ts
  packages/dashboard/src/hooks/use-reporting.ts
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
  spree/api/app/controllers/spree/api/v3/admin/reporting_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/reporting_result_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/reporting_controller_spec.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/reporting.rb
  spree/core/lib/spree/reporting/adapters/base.rb
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
Due: core, api, Core, API

Gate home reporting widgets by the viewer's permissions
  docs/plans/6.0-analytics-semantic-layer.md
  packages/dashboard/src/routes/_authenticated/$storeId/index.tsx
Due: none

Enforce per-subject API key scopes on reporting members
  docs/plans/6.0-analytics-semantic-layer.md
  spree/api/app/controllers/spree/api/v3/admin/reporting_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/reporting_controller_spec.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
  spree/core/spec/lib/spree/reporting/registry_spec.rb
Due: core, api, Core, API

Fix guessable gift card batch codes (F1)
  spree/core/app/models/spree/gift_card_batch.rb
Due: core, Core

Enforce API-key scopes on non-resource admin endpoints (F2)
  spree/api/app/controllers/spree/api/v3/admin/base_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
Due: api, API

Make API-key scope guard fail closed (F3)
  spree/api/app/controllers/concerns/spree/api/v3/scoped_authorization.rb
  spree/api/spec/controllers/spree/api/v3/scoped_authorization_spec.rb
Due: api, API

Redact newsletter verification_token from webhook deliveries (F4, F7)
  spree/core/app/models/concerns/spree/webhook_payload_redaction.rb
  spree/core/spec/models/concerns/spree/webhook_payload_redaction_spec.rb
Due: core, Core

Include channel in guest Store API cache identity (F5)
  spree/api/app/controllers/concerns/spree/api/v3/http_caching.rb
  spree/api/spec/controllers/concerns/spree/api/v3/http_caching_spec.rb
Due: api, API

Fix importing products with store whose default locale differs from app default
  spree/core/app/jobs/spree/imports/base_job.rb
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/spec/jobs/spree/imports/create_categories_job_spec.rb
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
Due: core, Core

Close TOCTOU race in digital download authorization (F9)
  spree/core/app/models/spree/digital_link.rb
  spree/core/spec/models/spree/digital_link_spec.rb
Due: core, Core

ensure current locale is back
  spree/core/app/jobs/spree/imports/base_job.rb
Due: core, Core

Store-scope product tag autocomplete via tenant (F8)
  spree/api/app/controllers/spree/api/v3/admin/tags_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/tags_controller_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/lib/tasks/product_tag_tenants.rake
Due: core, api, Core, API

Add product tag-tenant backfill to 5.6 upgrade manifest and doc
  docs/developer/upgrades/5.5-to-5.6.mdx
  docs/docs.json
  spree/core/lib/spree/upgrades/5_5_to_5_6/manifest.yml
Due: core, Core

Fix importing products with store whose default locale differs from app default (#14349)
  spree/core/app/jobs/spree/imports/base_job.rb
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/spec/jobs/spree/imports/create_categories_job_spec.rb
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
Due: core, Core

feat(core): replace adjustment recalculation with the typed adjusters pipeline
  spree/core/app/models/spree/adjustable/adjuster/base.rb
  spree/core/app/models/spree/adjustable/adjuster/promotion.rb
  spree/core/app/models/spree/adjustable/adjuster/tax.rb
  spree/core/app/models/spree/adjustable/adjustments_updater.rb
  spree/core/app/models/spree/adjustable/promotion_accumulator.rb
  spree/core/app/models/spree/adjusters/base.rb
  spree/core/app/models/spree/adjusters/order_level_promotion.rb
  spree/core/app/models/spree/adjusters/promotion.rb
  spree/core/app/models/spree/adjusters/tax.rb
  spree/core/app/models/spree/adjustment.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_updater.rb
  spree/core/app/models/spree/promotion/actions/create_adjustment.rb
  spree/core/app/models/spree/promotion/actions/create_item_adjustments.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/app/services/spree/cart/recalculate.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/adjustable/adjuster/base_spec.rb
  spree/core/spec/models/spree/adjustable/adjuster/tax_spec.rb
  spree/core/spec/models/spree/adjustable/adjustments_updater_spec.rb
  spree/core/spec/models/spree/adjusters/base_spec.rb
  spree/core/spec/models/spree/adjusters/order_level_promotion_spec.rb
  spree/core/spec/models/spree/adjusters/promotion_spec.rb
  spree/core/spec/models/spree/adjusters/tax_spec.rb
  spree/core/spec/models/spree/adjustment_spec.rb
  spree/core/spec/models/spree/discount_line_spec.rb
  spree/core/spec/models/spree/order_updater_spec.rb
  spree/core/spec/models/spree/promotion_handler/cart_spec.rb
  spree/core/spec/models/spree/promotion_spec.rb
  spree/core/spec/models/spree/promotion_tax_recalculation_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
Due: core, Core

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
