Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Show fulfillment cost when no delivery method is selected
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  spree/admin/app/views/spree/admin/orders/_shipment.html.erb
Due: admin, Admin

bring back last fallback as it was
  spree/core/config/routes.rb
Due: core

improve spec
  spree/emails/spec/mailers/spree/mailer_image_host_spec.rb
Due: none

use formatted_url as final fallback
  spree/core/config/routes.rb
Due: core

Set cdn_image_url correctly (#14273)
  spree/core/config/routes.rb
  spree/emails/spec/mailers/spree/mailer_image_host_spec.rb
Due: core

fix: guard the second reload branch against a failed storage clear
  packages/dashboard-core/src/lib/i18n.ts
Due: none

fix: permit available_on in admin products API
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
Due: api, API

Pass through full-URL tracking values as the tracking URL
  docs/api-reference/admin.yaml
  packages/admin-sdk/.changeset/fulfillment-tracking-url-passthrough.md
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/spec/integration/spree/api/v3/admin/orders/fulfillments_spec.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

Use Number.parseFloat for the fulfillment cost check
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
Due: none

Render cost for method-less fulfillments and pass through full-URL tracking values (#14274)
  docs/api-reference/admin.yaml
  packages/admin-sdk/.changeset/fulfillment-tracking-url-passthrough.md
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  spree/admin/app/views/spree/admin/orders/_shipment.html.erb
  spree/api/spec/integration/spree/api/v3/admin/orders/fulfillments_spec.rb
  spree/core/app/models/spree/shipment.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, admin, Core, Admin

fix: delete Gemfile.lock before install to avoid stale gem source
  bin/render-build.sh
Due: none

docs: record rebrand, locale-URL refactor, seeding, and Render build fix
  docs/deployment-status.md
Due: none

Fixed rails admin dialog footer styles
  spree/admin/app/assets/tailwind/spree/admin/components/_dialogs.css
Due: admin, Admin

Simplify Store seeding logic with early return (#14247)
  spree/core/app/services/spree/seeds/stores.rb
Due: core, Core

Move MultiSearchable alias to separate file for Zeitwerk (#14254)
  spree/core/app/models/concerns/spree/multi_searchable.rb
  spree/core/app/models/concerns/spree/searchable.rb
Due: core, Core

Fixed rails admin tailwind watch inside docker container (#14256)
  spree/admin/lib/spree/admin/tailwind_helper.rb
  spree/admin/lib/tasks/tailwind.rake
  spree/admin/spec/lib/spree/admin/tailwind_helper_spec.rb
Due: admin, Admin

Fix displaying product images in order emails (#14264)
  spree/emails/app/helpers/spree/mail_helper.rb
  spree/emails/app/views/spree/reimbursement_mailer/reimbursement_email.html.erb
  spree/emails/app/views/spree/shared/purchased_items_table/_line_item.html.erb
Due: emails, Emails

Return 304 on fresh cache (#14267)
  spree/api/app/controllers/concerns/spree/api/v3/http_caching.rb
  spree/api/spec/controllers/concerns/spree/api/v3/http_caching_spec.rb
Due: api, API

Bump spree to 5.5.2
  spree/core/lib/spree/core/version.rb
Due: core, Core

Subscribe to/unsubscribe from a newsletter when toggling the `accepts_email_marketing` user attribute
  spree/core/app/models/concerns/spree/user_methods.rb
  spree/core/spec/models/spree/concerns/user_methods_spec.rb
Due: core, Core

Add endpoints for unsubscribing from the newsletter - for both signed in and guest customers
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/config/locales/en.yml
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/store/newsletter_subscribers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/newsletter_subscribers_spec.rb
  spree/core/app/models/spree/newsletter_subscriber.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
Due: core, api, Core, API

CR fixes: spec, missing permissions for newsletter subscribers, toggling the accepts_email_marketing flag
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/spec/integration/spree/api/v3/store/newsletter_subscribers_spec.rb
  spree/core/app/models/spree/permission_sets/default_customer.rb
  spree/core/spec/lib/tasks/core_spec.rb
Due: core, api, Core, API

Toggle the `accepts_email_marketing` user attribute only when there are no other newsletter subscribers
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/spec/integration/spree/api/v3/store/newsletter_subscribers_spec.rb
Due: api, API

Fix rate limits on newsletter subscribers controler
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
Due: api, API

fix render bundler path gems setup
  bin/render-build.sh
Due: none

set spree path in render env
  render.yaml
Due: none

docs: document render deployment setup
  docs/render-deployment.md
Due: none

Fix bulk product status dialog showing raw status value in trigger
  packages/dashboard/e2e/products-bulk.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
Due: none

fix: run db:migrate and role_users backfill explicitly on every deploy
  bin/render-build.sh
Due: none

fix: copy engine migrations into host app before migrating
  bin/render-build.sh
Due: none

fix: make role_users/variants migrations idempotent
  spree/core/db/migrate/20260613000001_add_store_id_to_spree_role_users.rb
  spree/core/db/migrate/20260630000001_add_preorder_fields_to_spree_variants.rb
Due: core

fix: stop comparing store-locale reconcile against live i18next state
  packages/dashboard-core/src/lib/i18n.ts
Due: none

fix: default Spree.cdn_host from CDN_HOST env var
  render.yaml
  spree/core/lib/spree/core/engine.rb
Due: core, Core

Drop unnecessary `as never` cast on Select items prop
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
Due: none

docs: add post-recovery technical audit and deep-research prompt
  docs/deployment-status.md
  docs/research-prompt-technical-audit.md
Due: none

Fix bulk product status dialog showing raw status value in trigger (#14275)
  packages/dashboard/e2e/products-bulk.spec.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
Due: none

feat: complete P0 foundation tasks (F1, F2, F3)
  CLAUDE.md
  bin/render-build.sh
  bin/render-release.sh
  docs/deployment-render.md
  docs/roadmap.md
  docs/stan-projektu.md
  render.yaml
  spree/api/app/controllers/concerns/spree/api/v3/admin/canonical_money_params.rb
  spree/api/app/controllers/spree/api/v3/admin/prices_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/prices_controller_spec.rb
  spree/core/app/services/spree/prices/bulk_upsert.rb
  spree/core/app/services/spree/products/readiness_check.rb
  spree/core/db/migrate/20260429000002_create_spree_order_approvals.rb
  spree/core/db/migrate/20260429000003_add_status_to_spree_orders.rb
  spree/core/db/migrate/20260429000004_add_scopes_to_spree_api_keys.rb
  spree/core/db/migrate/20260501000001_create_spree_stock_reservations.rb
  spree/core/db/migrate/20260504103113_add_type_to_spree_payment_setup_sessions.rb
  spree/core/db/migrate/20260507162651_create_spree_variant_media.rb
  spree/core/db/migrate/20260508175303_add_pickup_to_spree_stock_locations.rb
  spree/core/db/migrate/20260508204040_create_spree_channels.rb
  spree/core/db/migrate/20260508204041_create_spree_order_routing_rules.rb
  spree/core/db/migrate/20260508204042_add_preferred_stock_location_to_spree_orders.rb
  spree/core/db/migrate/20260508204043_add_channel_id_to_spree_orders.rb
  spree/core/db/migrate/20260515000001_add_store_id_to_spree_newsletter_subscribers.rb
  spree/core/db/migrate/20260529000001_add_unique_index_to_spree_price_rules.rb
  spree/core/db/migrate/20260529000002_add_unique_index_to_spree_promotion_rules.rb
  spree/core/db/migrate/20260601000001_create_spree_product_publications.rb
  spree/core/db/migrate/20260601000002_add_store_id_to_spree_products.rb
  spree/core/db/migrate/20260602000001_add_default_to_spree_channels.rb
  spree/core/lib/spree/canonical_number.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/lib/spree/canonical_number_spec.rb
  spree/core/spec/services/spree/prices/bulk_upsert_spec.rb
  spree/core/spec/services/spree/products/readiness_check_spec.rb
Due: core, api, Core, API

fix: guard StoreSwitcher against a null translated store name
  packages/dashboard-core/src/components/store-switcher.tsx
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
