Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Derive the foreign currency in the store credit spec
  spree/core/spec/services/spree/store_credits/apply_spec.rb
Due: none

Let merchants search the country, currency and language fields
  packages/dashboard-core/src/components/address-form-dialog.tsx
  packages/dashboard-core/src/components/country-combobox.tsx
  packages/dashboard-core/src/components/country-state-fields.tsx
  packages/dashboard-core/src/components/currency-select.tsx
  packages/dashboard-core/src/components/locale-select.tsx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/markets.tsx
  packages/dashboard/src/routes/setup.tsx
Due: none

Hold the pickers to the form contract they advertise
  packages/dashboard-core/src/components/address-form-dialog.tsx
  packages/dashboard-core/src/components/currency-select.tsx
  packages/dashboard-core/src/components/locale-select.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/markets.tsx
Due: none

Say plainly what the required flag and the multi-select do
  packages/dashboard-core/src/components/currency-select.tsx
  packages/dashboard-core/src/components/locale-select.tsx
Due: none

Improve currency/locale/country comboboxes (#14475)
  packages/dashboard-core/src/components/address-form-dialog.tsx
  packages/dashboard-core/src/components/country-combobox.tsx
  packages/dashboard-core/src/components/country-state-fields.tsx
  packages/dashboard-core/src/components/currency-select.tsx
  packages/dashboard-core/src/components/locale-select.tsx
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard/e2e/helpers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/markets.tsx
  packages/dashboard/src/routes/setup.tsx
Due: none

Report a workflow rejection in words rather than a symbol
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/core/app/workflows/spree/price_lists/create.rb
  spree/core/app/workflows/spree/price_lists/update.rb
  spree/core/config/locales/en.yml
  spree/core/spec/workflows/spree/price_lists/write_spec.rb
Due: core, api, Core, API

Resolve price list membership through the store's own products
  spree/core/app/workflows/spree/price_lists/update.rb
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/workflows/spree/price_lists/write_spec.rb
Due: core, Core

Give a variant one write path for its options, prices and stock
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/core/app/workflows/spree/products/nested_attributes.rb
  spree/core/app/workflows/spree/variants/create.rb
  spree/core/app/workflows/spree/variants/nested_attributes.rb
  spree/core/app/workflows/spree/variants/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/workflows/spree/variants/write_spec.rb
Due: core, api, Core, API

Report a workflow rejection in words rather than a symbol (#14476)
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/core/app/workflows/spree/price_lists/create.rb
  spree/core/app/workflows/spree/price_lists/update.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/price_list_spec.rb
  spree/core/spec/workflows/spree/price_lists/write_spec.rb
Due: core, api, Core, API

Give a variant one write path for its options, prices and stock (#14477)
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/core/app/workflows/spree/products/nested_attributes.rb
  spree/core/app/workflows/spree/variants/create.rb
  spree/core/app/workflows/spree/variants/nested_attributes.rb
  spree/core/app/workflows/spree/variants/update.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/workflows/spree/variants/write_spec.rb
Due: core, api, Core, API

Let core create the session payment, and Stripe only say what paid (#14473)
  spree/api/app/controllers/spree/api/v3/admin/orders/store_credits_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts/store_credits_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/gift_cards_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/store_credits_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/store_credits_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/store_credits_spec.rb
  spree/core/app/models/concerns/spree/purchase/store_credits.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/payment_session.rb
  spree/core/app/services/spree/checkout/add_store_credit.rb
  spree/core/app/services/spree/checkout/remove_store_credit.rb
  spree/core/app/services/spree/payments/create.rb
  spree/core/app/services/spree/store_credits/apply.rb
  spree/core/app/services/spree/store_credits/remove.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/store_credits/apply_spec.rb
  spree/core/spec/services/spree/store_credits/remove_spec.rb
  spree/core/spec/subscribers/spree/dispatch_spec.rb
  spree/providers/stripe/app/models/spree/payment_sessions/stripe.rb
  spree/providers/stripe/app/services/spree_stripe/create_payment.rb
  spree/providers/stripe/spec/models/spree/payment_sessions/stripe_spec.rb
Due: core, api, Core, API

Name the seller on a checkout that did not divide
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
Due: core, Core

Count a promotion's use by the checkout, not by the order
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/promotion.rb
  spree/core/spec/models/spree/promotion_usage_across_split_spec.rb
Due: core, Core

Keep the refund backfill free of model references
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/core/db/migrate/20260820000004_add_order_to_spree_refunds.rb
Due: core

Assert the split's own rows, not the whole table
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
Due: none

Show the operator which seller sold an order, and what it was bought with
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/admin-sdk/src/types/generated/Order.ts
  packages/dashboard/src/components/spree/orders/order-marketplace-card.tsx
  packages/dashboard/src/lib/order-group-search.test.ts
  packages/dashboard/src/lib/order-group-search.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/orders/$orderId/index.tsx
  packages/dashboard/src/tables/orders.tsx
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_marketplace_spec.rb
  spree/core/app/models/spree/order.rb
Due: core, api, Core, API

Fold the marketplace order examples into the orders spec
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_marketplace_spec.rb
Due: none

Close the gaps a shared payment leaves in the paths that touch it
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/order_group.rb
  spree/core/app/models/spree/payment/custom_events.rb
  spree/core/app/models/spree/refund.rb
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/services/spree/order_groups/allocate_payments.rb
  spree/core/app/subscribers/spree/payment_split_subscriber.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/carts/recalculate_totals.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/spec/services/spree/order_groups/allocate_payments_spec.rb
  spree/core/spec/subscribers/spree/payment_split_subscriber_spec.rb
Due: core, Core

Record what the shared-payment review found
  docs/plans/6.0-multi-vendor-marketplace.md
Due: none

Refuse to settle a share the gateway has not finished with
  packages/dashboard/src/locales/pl.json
  spree/core/app/models/spree/refund.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/spec/workflows/spree/orders/cancel_grouped_spec.rb
  spree/core/spec/workflows/spree/refunds/create_grouped_spec.rb
Due: core, Core

Record the capture-claim window as a Phase 3a constraint
  docs/plans/6.0-multi-vendor-marketplace.md
Due: none

Record what a share reserved apart from what the gateway took
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/payment_split.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/db/migrate/20260821000001_add_claimed_amount_to_spree_payment_splits.rb
  spree/core/spec/workflows/spree/orders/cancel_grouped_spec.rb
Due: core, Core

Cover a split checkout paid partly by gift card
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
Due: none

chore(deps): resolve outstanding npm security advisories
  .github/dependabot.yml
  .github/workflows/security-audit.yml
  packages/dashboard-ui/package.json
  packages/dashboard/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): correct the Dependabot and @babel/core rationales
  .github/dependabot.yml
  .github/workflows/security-audit.yml
  pnpm-workspace.yaml
Due: none

chore(deps): resolve outstanding npm security advisories (#14479)
  .github/dependabot.yml
  .github/workflows/security-audit.yml
  packages/dashboard-ui/package.json
  packages/dashboard/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Make regenerating the OpenAPI specs reproducible
  CLAUDE.md
  spree/api/spec/support/deterministic_openapi.rb
  spree/core/lib/spree/testing_support/factories/promotion_factory.rb
Due: none

Regenerate the OpenAPI specs onto stable values
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
Due: none

Make regenerating the OpenAPI specs reproducible (#14480)
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/spec/support/deterministic_openapi.rb
  spree/core/lib/spree/testing_support/factories/promotion_factory.rb
Due: none

Record what a record is called in other systems
  spree/core/app/models/concerns/spree/has_external_references.rb
  spree/core/app/models/spree/category.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/models/spree/company_location.rb
  spree/core/app/models/spree/external_reference.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/db/migrate/20260818000001_create_spree_external_references.rb
  spree/core/lib/spree/testing_support/factories/external_reference_factory.rb
  spree/core/spec/models/concerns/spree/has_external_references_spec.rb
  spree/core/spec/models/spree/company_spec.rb
  spree/core/spec/models/spree/external_reference_spec.rb
Due: core, Core

Show the raw payload on every record that has its own page
  packages/dashboard/src/components/spree/price-list-editors/price-list-form.tsx
  packages/dashboard/src/components/spree/promotion-editors/promotion-form.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/sellers/$sellerId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-profiles/$profileId/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/webhooks/$webhookEndpointId.tsx
Due: none

Let a warehouse push its stock levels in
  packages/admin-sdk/examples/stock-levels/bulk-upsert.ts
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_bulk_upsert_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_levels_spec.rb
  spree/core/app/models/spree/import_schemas/stock_levels.rb
  spree/core/app/models/spree/imports/stock_levels.rb
  spree/core/app/services/spree/imports/row_processors/base.rb
  spree/core/app/services/spree/imports/row_processors/stock_level.rb
  spree/core/app/services/spree/stock_levels/bulk_upsert.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/services/spree/imports/row_processors/stock_level_spec.rb
Due: core, api, Core, API

Let a PIM push its prices in
  spree/core/app/models/spree/import_schemas/prices.rb
  spree/core/app/models/spree/imports/prices.rb
  spree/core/app/services/spree/imports/row_processors/price.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/services/spree/imports/row_processors/price_spec.rb
Due: core, Core

Let a store take its prices and stock from elsewhere
  spree/core/app/models/concerns/spree/integration_backed_provider.rb
  spree/core/app/models/concerns/spree/provider_failure_policy.rb
  spree/core/app/models/concerns/spree/store_data_sources.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/inventory_provider/base.rb
  spree/core/app/models/spree/inventory_provider/internal.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/price.rb
  spree/core/app/models/spree/pricing_provider/base.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/carts/check_availability.rb
  spree/core/app/services/spree/carts/price_items.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/workflows/spree/carts/add_item.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260818000002_add_price_source_to_spree_line_items.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/pricing/price_resolution.rb
  spree/core/lib/spree/core/pricing/resolver.rb
  spree/core/spec/models/spree/inventory_provider_spec.rb
  spree/core/spec/models/spree/pricing_provider/internal_resolution_spec.rb
  spree/core/spec/models/spree/pricing_provider_spec.rb
  spree/core/spec/services/spree/carts/check_availability_spec.rb
  spree/core/spec/services/spree/carts/price_items_spec.rb
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/core/spec/workflows/spree/carts/add_item_pricing_provider_spec.rb
Due: core, Core

Serve an image a DAM hosts without copying the bytes
  packages/admin-sdk/src/types/generated/Media.ts
  packages/sdk/src/types/generated/Media.ts
  packages/sdk/src/zod/generated/Media.ts
  spree/api/app/controllers/spree/api/v3/admin/media_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/media_serializer.rb
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/app/serializers/spree/api/v3/media_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/media_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/external_media_serializer_spec.rb
  spree/core/app/helpers/spree/images_helper.rb
  spree/core/app/jobs/spree/images/save_from_url_job.rb
  spree/core/app/models/spree/media.rb
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/db/migrate/20260819090001_add_external_media_url_to_spree_media.rb
  spree/core/spec/jobs/spree/images/save_from_url_job_spec.rb
  spree/core/spec/models/spree/media_spec.rb
Due: core, api, Core, API

Let a merchant pick where prices and stock come from
  packages/admin-sdk/src/types/generated/Store.ts
  packages/dashboard/src/hooks/use-store-settings.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/dashboard/src/schemas/store.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_data_sources_spec.rb
  spree/core/spec/models/concerns/spree/store_data_sources_spec.rb
Due: api, API
