Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Separate auth rate-limit buckets and handle omitted email_verified
  docs/plans/6.0-platform-auth.md
  spree/api/app/controllers/spree/api/v3/admin/auth_controller.rb
  spree/core/app/models/spree/authentication/strategies/oidc_strategy.rb
  spree/core/spec/models/spree/authentication/strategies/oidc_strategy_spec.rb
Due: core, api, Core, API

Explain a throttled SSO sign-in on the login page
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/routes/login.tsx
Due: none

Fixed: better guarding of mutating of completed carts in the API
  spree/api/app/controllers/spree/api/v3/store/carts/payment_sessions_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/payment_sessions_controller_spec.rb
Due: api, API

Fixed i18n keys order
  spree/core/config/locales/en.yml
Due: core

Bump version to 6.0.0.alpha
  spree/core/lib/spree/core/version.rb
Due: core, Core

Drop asset pipeline leftovers
  CLAUDE.md
  scripts/docker-compose.edge.yml
  spree/core/app/views/spree/shared/_purchased_items_styles.html.erb
  spree/core/lib/generators/spree/dummy/dummy_generator.rb
  spree/core/lib/generators/spree/dummy/templates/app/assets/config/manifest.js
  spree/emails/app/assets/config/spree_emails_manifest.js
  spree/emails/app/assets/images/logo/spree_50.png
  spree/emails/app/assets/images/noimage/mini.png
  spree/emails/app/assets/images/noimage/noimage/large.png
  spree/emails/app/assets/images/noimage/noimage/mini.png
  spree/emails/app/assets/images/noimage/noimage/product.png
  spree/emails/app/assets/images/noimage/noimage/small.png
  spree/emails/app/assets/images/noimage/small.png
  spree/emails/app/views/spree/shared/_item_thumbnail_link.html.erb
  spree/emails/config/initializers/assets.rb
Due: core, emails, Core, Emails

fix
  spree/core/lib/generators/spree/dummy/dummy_generator.rb
  spree/dashboard/Gemfile
  spree/emails/Gemfile
  spree/emails/app/views/spree/shared/_item_thumbnail_link.html.erb
Due: emails, Emails

fix
  spree/core/app/views/spree/shared/_purchased_items_styles.html.erb
  spree/emails/app/views/spree/shared/_item_thumbnail_link.html.erb
Due: core, emails, Core, Emails

Drop asset pipeline leftovers (#14388)
  CLAUDE.md
  scripts/docker-compose.edge.yml
  spree/core/app/views/spree/shared/_purchased_items_styles.html.erb
  spree/core/lib/generators/spree/dummy/dummy_generator.rb
  spree/core/lib/generators/spree/dummy/templates/app/assets/config/manifest.js
  spree/dashboard/Gemfile
  spree/emails/Gemfile
  spree/emails/app/assets/config/spree_emails_manifest.js
  spree/emails/app/assets/images/logo/spree_50.png
  spree/emails/app/assets/images/noimage/mini.png
  spree/emails/app/assets/images/noimage/noimage/large.png
  spree/emails/app/assets/images/noimage/noimage/mini.png
  spree/emails/app/assets/images/noimage/noimage/product.png
  spree/emails/app/assets/images/noimage/noimage/small.png
  spree/emails/app/assets/images/noimage/small.png
  spree/emails/app/views/spree/shared/_item_thumbnail_link.html.erb
  spree/emails/config/initializers/assets.rb
Due: core, emails, Core, Emails

Bootstrap Spree 6 docs
  .claude/commands/create-plan.md
  .claude/commands/update-plan.md
  CLAUDE.md
  docs/developer/customization/api.mdx
  docs/developer/customization/decorators.mdx
  docs/developer/getting-started/quickstart.mdx
  docs/docs.json
  docs/plans/6.0-stock-reservations.md
  docs/plans/6.0-store-scoped-configuration.md
  docs/plans/decisions.md
  docs/v6/developer/core-concepts/carts.mdx
  docs/v6/developer/core-concepts/fulfillments.mdx
  docs/v6/developer/core-concepts/orders.mdx
  docs/v6/developer/core-concepts/returns-exchanges-claims.mdx
  docs/v6/developer/core-concepts/taxes-discounts-fees.mdx
  docs/v6/developer/customization/configuration.mdx
  docs/v6/developer/customization/dependencies.mdx
  docs/v6/developer/customization/quickstart.mdx
Due: none

Require decision-log entries when creating a plan
  .claude/commands/create-plan.md
Due: none

Address review feedback on Spree 6 docs
  docs/developer/customization/dependencies.mdx
  docs/docs.json
  docs/plans/6.0-stock-reservations.md
  docs/plans/decisions.md
  docs/v6/developer/core-concepts/orders.mdx
  docs/v6/developer/core-concepts/taxes-discounts-fees.mdx
  docs/v6/developer/customization/configuration.mdx
  docs/v6/developer/customization/dependencies.mdx
  docs/v6/developer/customization/quickstart.mdx
Due: none

Bootstrap Spree 6 docs (#14389)
  .claude/commands/create-plan.md
  .claude/commands/update-plan.md
  CLAUDE.md
  docs/developer/customization/api.mdx
  docs/developer/customization/decorators.mdx
  docs/developer/getting-started/quickstart.mdx
  docs/docs.json
  docs/plans/6.0-stock-reservations.md
  docs/plans/6.0-store-scoped-configuration.md
  docs/plans/decisions.md
  docs/v6/developer/core-concepts/carts.mdx
  docs/v6/developer/core-concepts/fulfillments.mdx
  docs/v6/developer/core-concepts/orders.mdx
  docs/v6/developer/core-concepts/returns-exchanges-claims.mdx
  docs/v6/developer/core-concepts/taxes-discounts-fees.mdx
  docs/v6/developer/customization/configuration.mdx
  docs/v6/developer/customization/dependencies.mdx
  docs/v6/developer/customization/quickstart.mdx
Due: none

Setup git worktrees as the preferred way of agentic development of the monorepo
  .config/wt.toml
  CLAUDE.md
  package.json
  scripts/worktree/dev-dashboard.sh
  scripts/worktree/dev.sh
  scripts/worktree/e2e.sh
  scripts/worktree/lib.sh
  scripts/worktree/make-template.sh
  scripts/worktree/setup.sh
  scripts/worktree/teardown.sh
Due: none

Fix worktree hook wiring and name collisions
  .config/wt.toml
  CLAUDE.md
  scripts/worktree/lib.sh
  scripts/worktree/teardown.sh
Due: none

Propagate worktree setup failures and match branch names literally
  .config/wt.toml
  scripts/worktree/teardown.sh
Due: none

Setup git worktrees as the preferred way of agentic development of th… (#14390)
  .config/wt.toml
  CLAUDE.md
  package.json
  scripts/worktree/dev-dashboard.sh
  scripts/worktree/dev.sh
  scripts/worktree/e2e.sh
  scripts/worktree/lib.sh
  scripts/worktree/make-template.sh
  scripts/worktree/setup.sh
  scripts/worktree/teardown.sh
Due: none

Drop starter patches now carried upstream
  scripts/worktree/make-template.sh
  scripts/worktree/setup.sh
Due: none

Validate the starter clone before provisioning a worktree
  scripts/worktree/lib.sh
  scripts/worktree/make-template.sh
  scripts/worktree/setup.sh
Due: none

Check the starter config by behavior, not by token search
  scripts/worktree/lib.sh
  scripts/worktree/make-template.sh
Due: none

Rebuild the template through Rails' own connection
  scripts/worktree/lib.sh
  scripts/worktree/make-template.sh
Due: none

Drop worktree setup patches now carried by spree-starter (#14391)
  scripts/worktree/lib.sh
  scripts/worktree/make-template.sh
  scripts/worktree/setup.sh
Due: none

Mark split-adjustments plan shipped, add v6 promotion docs
  CLAUDE.md
  docs/docs.json
  docs/plans/5.4-store-api-bridges.md
  docs/plans/6.0-6.1-split-adjustments.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-cart-order-split.md
  docs/plans/6.0-core-rewrite-tasks.md
  docs/plans/6.0-delivery-rate-provider.md
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-normalize-state-to-status.md
  docs/plans/6.0-returns-exchanges-claims.md
  docs/plans/6.0-tax-provider.md
  docs/plans/6.0-typed-stock-movements.md
  docs/plans/6.1-order-change-substrate.md
  docs/plans/decisions.md
  docs/v6/developer/core-concepts/promotions.mdx
  docs/v6/developer/core-concepts/taxes-discounts-fees.mdx
  docs/v6/developer/how-to/custom-promotion.mdx
  spree/core/app/models/spree/order.rb
  spree/core/lib/tasks/typed_adjustments_migration.rake
Due: core, Core

Accept carts in custom promotion rule examples, mark v6 docs shipped
  CLAUDE.md
  docs/plans/6.0-6.1-split-adjustments.md
  docs/v6/developer/how-to/custom-promotion.mdx
Due: none

Mark split-adjustments plan shipped, add v6 promotion docs (#14392)
  CLAUDE.md
  docs/docs.json
  docs/plans/5.4-store-api-bridges.md
  docs/plans/6.0-6.1-split-adjustments.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-cart-order-split.md
  docs/plans/6.0-core-rewrite-tasks.md
  docs/plans/6.0-delivery-rate-provider.md
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-normalize-state-to-status.md
  docs/plans/6.0-returns-exchanges-claims.md
  docs/plans/6.0-tax-provider.md
  docs/plans/6.0-typed-stock-movements.md
  docs/plans/6.1-order-change-substrate.md
  docs/plans/decisions.md
  docs/v6/developer/core-concepts/promotions.mdx
  docs/v6/developer/core-concepts/taxes-discounts-fees.mdx
  docs/v6/developer/how-to/custom-promotion.mdx
  spree/core/app/models/spree/order.rb
  spree/core/lib/tasks/typed_adjustments_migration.rake
Due: core, Core

Unify customer registration behind Customers::Create workflow
  CLAUDE.md
  docs/developer/customization/workflows.mdx
  docs/plans/6.0-service-workflows.md
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/core/app/services/spree/orders/create_user_account.rb
  spree/core/app/subscribers/spree/order_placed_subscriber.rb
  spree/core/app/workflows/spree/customers/create.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/orders/create_user_account_spec.rb
  spree/core/spec/subscribers/spree/order_placed_subscriber_spec.rb
  spree/core/spec/workflows/spree/customers/create_spec.rb
Due: core, api, Core, API

Expose collection_ids on product write params
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/admin-sdk/src/types/generated/GiftCard.ts
  packages/admin-sdk/src/types/generated/Order.ts
Due: none

Do not backfill order addresses when linking a placed order
  docs/plans/6.0-service-workflows.md
  docs/plans/decisions.md
  spree/core/app/workflows/spree/customers/create.rb
  spree/core/spec/workflows/spree/customers/create_spec.rb
Due: core, Core

Unify customer registration behind Customers::Create workflow (#14393)
  CLAUDE.md
  docs/developer/customization/workflows.mdx
  docs/plans/6.0-service-workflows.md
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/store/customers_controller.rb
  spree/core/app/services/spree/orders/create_user_account.rb
  spree/core/app/subscribers/spree/order_placed_subscriber.rb
  spree/core/app/workflows/spree/customers/create.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/orders/create_user_account_spec.rb
  spree/core/spec/subscribers/spree/order_placed_subscriber_spec.rb
  spree/core/spec/workflows/spree/customers/create_spec.rb
Due: core, api, Core, API

Address review feedback on the Collections UI
  packages/dashboard/src/components/spree/categories/category-products-card.tsx
  packages/dashboard/src/components/spree/collections/collection-products-card.tsx
  packages/dashboard/src/components/spree/collections/collection-rules-card.tsx
  packages/dashboard/src/schemas/collection.ts
  packages/dashboard/src/tables/collections.tsx
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/app/models/spree/product.rb
  spree/core/config/locales/en.yml
Due: core, api, Core, API

Fix sorting customers by name
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/spec/controllers/spree/admin/users_controller_spec.rb
Due: admin

Fix sorting customers by name (#14395)
  spree/admin/config/initializers/spree_admin_tables.rb
  spree/admin/spec/controllers/spree/admin/users_controller_spec.rb
Due: admin

Preserve automatic collection membership on product writes
  spree/core/app/models/spree/product.rb
  spree/core/spec/models/spree/product_spec.rb
Due: core, Core

Correct the documented base for a collection's position
  packages/admin-sdk/src/params.ts
Due: none

Hydrate only manual collections on the product form
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
Due: none

Describe the collection_ids setter accurately
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
Due: api, API

Gate a collection's rules behind expand
  docs/api-reference/admin.yaml
  docs/plans/6.0-replace-taxons-with-categories.md
  packages/admin-sdk/src/types/generated/Collection.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/hooks/use-collections.ts
  spree/api/app/controllers/spree/api/v3/admin/collections_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/collection_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/collections_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/collections_spec.rb
Due: api, API

Paginate the products panel and confirm its removals
  CLAUDE.md
  packages/dashboard/e2e/categories.spec.ts
  packages/dashboard/e2e/collections.spec.ts
  packages/dashboard/src/components/spree/categories/category-products-card.tsx
  packages/dashboard/src/components/spree/collections/collection-products-card.tsx
  packages/dashboard/src/hooks/use-categories.ts
  packages/dashboard/src/hooks/use-collections.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Drop the duplicate border around the pagination row
  packages/dashboard/src/components/spree/categories/category-products-card.tsx
  packages/dashboard/src/components/spree/collections/collection-products-card.tsx
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
