Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Extract the shared product membership card
  packages/dashboard/src/components/spree/categories/category-products-card.tsx
  packages/dashboard/src/components/spree/collections/collection-products-card.tsx
  packages/dashboard/src/components/spree/product-membership-card.tsx
Due: none

Record that product-scoped writes may set collection membership
  docs/plans/6.0-replace-taxons-with-categories.md
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
Due: api, API

React to the membership switch without waiting for a save
  packages/dashboard/e2e/collections.spec.ts
  packages/dashboard/src/components/spree/collections/collection-form.tsx
Due: none

Preload product associations on the nested membership listings
  spree/api/app/controllers/concerns/spree/api/v3/admin/product_listing.rb
  spree/api/app/controllers/spree/api/v3/admin/categories/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/collections/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
Due: api, API

Quote the Google feed in the store currency, fix e2e seed
  packages/dashboard/e2e/global-setup.ts
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/spec/presenters/spree/data_feeds/google_presenter_spec.rb
Due: core, Core

Keep Product#compare_at_price delegating to the default variant
  docs/developer/upgrades/5.6-to-6.0.mdx
  spree/core/app/models/spree/product.rb
  spree/core/spec/models/spree/product_spec.rb
Due: core, Core

Add collections to the storefront SDK
  .changeset/collections-sdk.md
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
  packages/sdk/tests/collections.test.ts
  packages/sdk/tests/mocks/handlers.ts
Due: none

Fix review findings on the delivery vocabulary rename
  docs/plans/6.0-fulfillment-and-delivery.md
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/stock/estimator.rb
  spree/core/lib/spree/testing_support/factories/order_factory.rb
  spree/core/spec/models/spree/delivery_method_spec.rb
  spree/core/spec/models/spree/stock/estimator_spec.rb
  spree/core/spec/models/spree/stock/package_spec.rb
Due: core, Core

Use a portable boolean literal in the returns migration spec
  spree/core/spec/lib/tasks/migrate_returns_spec.rb
Due: none

Make the visibility backfill one-shot
  docs/plans/6.0-fulfillment-and-delivery.md
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/delivery_migration.rake
  spree/core/spec/lib/tasks/six_zero_data_migrations_spec.rb
Due: core, Core

Fix four latent bugs in the renamed delivery methods
  docs/plans/6.0-fulfillment-and-delivery.md
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/order.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
Due: core, Core

Make the delivery-cost regression specs deterministic
  docs/plans/6.0-fulfillment-and-delivery.md
  spree/core/spec/models/spree/line_item_spec.rb
Due: none

Cut return shipping labels from 6.0
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-returns-exchanges-claims.md
  docs/plans/decisions.md
  docs/v6/user/returns/returns-processing.mdx
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/Return.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Return.ts
  packages/sdk/src/zod/generated/Return.ts
  spree/api/app/controllers/spree/api/v3/admin/orders/returns_controller.rb
  spree/api/app/serializers/spree/api/v3/return_serializer.rb
  spree/core/app/workflows/spree/returns/approve.rb
  spree/core/db/migrate/20260802190001_create_spree_returns.rb
Due: core, api, Core, API

Scope reason lookups to the current store and validate refund_method
  spree/api/app/controllers/spree/api/v3/admin/orders/claims_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/exchanges_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/returns_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/returns_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/return_reasons_controller_spec.rb
  spree/core/app/models/concerns/spree/refund_methods.rb
  spree/core/app/models/spree/claim_reason.rb
  spree/core/app/models/spree/return_reason.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/seeds/returns_environment.rb
  spree/core/app/workflows/spree/claims/resolve.rb
  spree/core/app/workflows/spree/exchanges/fulfill.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260805100001_rename_return_authorization_reasons_to_return_reasons.rb
  spree/core/lib/spree/testing_support/factories/return_reason_factory.rb
  spree/core/spec/workflows/spree/claims/lifecycle_spec.rb
  spree/core/spec/workflows/spree/exchanges/lifecycle_spec.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, api, Core, API

Make refund reasons store-owned
  CLAUDE.md
  docs/plans/decisions.md
  spree/api/spec/controllers/spree/api/v3/admin/refund_reasons_controller_spec.rb
  spree/core/app/models/spree/refund_reason.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/seeds/returns_environment.rb
  spree/core/app/workflows/spree/claims/resolve.rb
  spree/core/app/workflows/spree/exchanges/fulfill.rb
  spree/core/app/workflows/spree/payments/refund.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/db/migrate/20260805100001_rename_return_authorization_reasons_to_return_reasons.rb
  spree/core/lib/spree/testing_support/factories/refund_factory.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/backfill_reason_store_ids.rake
Due: core, Core

Replace per-product delivery exclusions with a delivery method rule
  CLAUDE.md
  docs/plans/6.0-core-rewrite-tasks.md
  docs/plans/6.0-delivery-method-rules.md
  docs/plans/6.0-fulfillment-and-delivery.md
  docs/plans/decisions.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/admin-sdk/src/types/generated/DeliveryMethodRule.ts
  packages/admin-sdk/src/types/generated/GiftCard.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-methods.tsx
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods/rules_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/delivery_method_rule_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods/rules_controller_spec.rb
  spree/core/app/models/spree/delivery_method_rule_product.rb
  spree/core/app/models/spree/delivery_method_rules/excluded_products_rule.rb
  spree/core/app/models/spree/stock/package.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260806000001_create_spree_delivery_method_rule_products.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
  spree/core/spec/models/spree/stock/package_spec.rb
Due: core, api, Core, API

Address PR review findings
  docs/plans/decisions.md
  docs/v6/user/returns/returns-processing.mdx
  docs/v6/user/settings/returns-configuration.mdx
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/reasons.tsx
  spree/core/app/models/spree/claim_reason.rb
  spree/core/app/models/spree/refund_reason.rb
  spree/core/app/models/spree/return_reason.rb
  spree/core/db/migrate/20260805100001_rename_return_authorization_reasons_to_return_reasons.rb
  spree/core/lib/tasks/migrate_returns.rake
  spree/core/spec/lib/tasks/migrate_returns_spec.rb
Due: core, Core

Fix review findings on the excluded-products rule
  docs/plans/6.0-delivery-method-rules.md
  spree/api/spec/controllers/spree/api/v3/admin/delivery_method_rules_controller_spec.rb
  spree/core/app/models/spree/delivery_method_rules/excluded_products_rule.rb
Due: core, Core

Make excluded-product eligibility see unsaved products
  docs/plans/6.0-delivery-method-rules.md
  spree/core/app/models/spree/delivery_method_rules/excluded_products_rule.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
Due: core, Core

Keep exclusion checks off the association and stabilise product order
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-methods.tsx
  spree/api/app/serializers/spree/api/v3/admin/delivery_method_rule_serializer.rb
  spree/core/app/models/spree/delivery_method_rules/excluded_products_rule.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
Due: core, api, Core, API

Reuse existing helpers in the excluded-products rule
  docs/plans/6.0-delivery-method-rules.md
  packages/dashboard/src/hooks/use-products.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-methods.tsx
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods/rules_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/delivery_method_rule_serializer.rb
  spree/core/app/models/spree/delivery_method_rules/excluded_products_rule.rb
Due: core, api, Core, API

Assert the no-load guarantee on both eligibility outcomes
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
Due: none

Resolve excluded products through the caller's ability
  docs/plans/6.0-delivery-method-rules.md
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods/rules_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods/rules_controller_spec.rb
Due: api, API

Drop the mutable flag from reasons
  docs/api-reference/admin.yaml
  docs/v6/user/settings/returns-configuration.mdx
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/ClaimReason.ts
  packages/admin-sdk/src/types/generated/RefundReason.ts
  packages/admin-sdk/src/types/generated/ReturnReason.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/reasons.tsx
  spree/api/app/serializers/spree/api/v3/admin/claim_reason_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/refund_reason_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/return_reason_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/refund_reasons_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/return_reasons_controller_spec.rb
  spree/core/app/models/concerns/spree/named_type.rb
  spree/core/app/models/spree/claim_reason.rb
  spree/core/app/models/spree/permission_sets/configuration_management.rb
  spree/core/app/models/spree/permission_sets/super_user.rb
  spree/core/app/models/spree/refund_reason.rb
  spree/core/app/models/spree/return_reason.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260805100001_rename_return_authorization_reasons_to_return_reasons.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/lib/spree/testing_support/factories/refund_factory.rb
  spree/core/lib/spree/testing_support/factories/return_reason_factory.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/backfill_reason_store_ids.rake
  spree/core/spec/models/spree/concerns/named_type_spec.rb
  spree/core/spec/models/spree/permission_sets/super_user_spec.rb
  spree/core/spec/services/spree/seeds/returns_environment_spec.rb
Due: core, api, Core, API

Abort the returns migration when rows fail
  packages/dashboard/src/locales/fr.json
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/migrate_returns.rake
Due: core, Core

Document the returns rework in the 5.6 to 6.0 upgrade guide
  docs/developer/upgrades/5.6-to-6.0.mdx
Due: none

Save delivery method conditions with the method
  docs/plans/6.0-delivery-method-rules.md
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-methods.tsx
  packages/dashboard/src/schemas/delivery-method.ts
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
  spree/core/app/models/spree/delivery_method.rb
  spree/core/app/models/spree/delivery_method_rule.rb
  spree/core/app/models/spree/delivery_method_rules/excluded_products_rule.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
Due: core, api, Core, API

Deprecate the returns settings that 6.0 stopped reading
  docs/developer/upgrades/5.6-to-6.0.mdx
  spree/core/lib/spree/core/configuration.rb
  spree/core/lib/spree/core/preferences/runtime_configuration.rb
Due: core, Core

Stop the conditions form from dropping saved rules
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-methods.tsx
  packages/dashboard/src/schemas/delivery-method.ts
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
Due: none

Let the rule registry decide how conditions are edited
  docs/plans/6.0-delivery-method-rules.md
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/delivery-methods.tsx
  packages/dashboard/src/schemas/delivery-method.ts
  spree/api/app/controllers/spree/api/v3/admin/delivery_method_rules_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_method_rules_controller_spec.rb
Due: api, API

Declare rule registries instead of guessing them
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/app/models/spree/collection_rule.rb
  spree/core/app/models/spree/delivery_method_rule.rb
  spree/core/app/models/spree/order_routing_rule.rb
  spree/core/app/models/spree/price_rule.rb
  spree/core/app/models/spree/promotion_action.rb
  spree/core/app/models/spree/promotion_rule.rb
  spree/core/spec/models/concerns/preference_schema_spec.rb
Due: core, Core

Record the rule registry decision
  docs/plans/5.7-payment-method-rules.md
  docs/plans/decisions.md
Due: none

Use class_attribute for the rule registry
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/spec/models/concerns/spree/preference_schema_spec.rb
Due: core, Core

Update the registry decision for the class_attribute form
  docs/plans/decisions.md
Due: none

Drop exclusion links when a product is deleted
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
  spree/core/app/models/spree/delivery_method_rules/excluded_products_rule.rb
  spree/core/app/models/spree/product.rb
  spree/core/spec/models/spree/delivery_method_rule_spec.rb
Due: core, Core

Drop unreachable products instead of failing the save
  docs/plans/6.0-delivery-method-rules.md
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods/rules_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/delivery_methods_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods/rules_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_methods_controller_spec.rb
Due: api, API
