Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Improve `formatPrice` helper
  packages/admin/src/lib/formatters.ts
  packages/admin/src/routes/_authenticated/$storeId/orders/$orderId.tsx
  packages/admin/src/routes/_authenticated/$storeId/orders/new.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/stock/transfers.tsx
  packages/admin/src/tables/products.tsx
Due: none

Update products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
Due: none

New Inventory management UI for product form in admin dashboard
  packages/admin/src/components/spree/products/inventory-section.tsx
  packages/admin/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/stock-locations.tsx
  packages/admin/src/schemas/product.ts
Due: none

Update products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
Due: api, API

Regenerate OpenAPI docs after main merge
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
Due: none

fix serializer spec
  spree/api/spec/serializers/spree/api/v3/admin/product_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/product_serializer_spec.rb
Due: none

Fixed N+1s when in Products API with stock reservations
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/stock_item.rb
  spree/core/app/models/spree/stock_reservation.rb
  spree/core/app/models/spree/variant.rb
Due: core, api, Core, API

Update stock_item.rb
  spree/core/app/models/spree/stock_item.rb
Due: core, Core

added job for creating categories
  spree/core/app/jobs/spree/imports/create_categories_job.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/jobs/spree/imports/create_categories_job_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Remove CLA CI pipeline
  .github/workflows/cla.yml
Due: none

improve specs
  spree/core/spec/jobs/spree/imports/create_categories_job_spec.rb
Due: none

updating specs
  spree/core/spec/jobs/spree/imports/create_categories_job_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: none

delete redundant files
  spree/core/app/services/spree/imports/rows_preprocessors/products.rb
  spree/core/spec/services/spree/imports/rows_preprocessors/products_spec.rb
Due: core, Core

Fixed `api_type` method for non-Spree namespaced gateways
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/core/app/models/spree/gateway.rb
  spree/core/spec/models/spree/gateway_spec.rb
Due: core, Core

Added `serialized_preferences` and `serialized_preference_schema` helper methods for API serilizers
  spree/api/app/controllers/concerns/spree/api/v3/admin/subclassed_resource.rb
  spree/api/app/serializers/spree/api/v3/admin/payment_method_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/promotion_action_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/promotion_rule_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/payment_method_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/promotion_action_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/promotion_rule_serializer_spec.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/preferences/masking.rb
  spree/core/spec/models/spree/preferences/masking_spec.rb
Due: core, api, Core, API

CR fixes
  spree/api/app/controllers/concerns/spree/api/v3/admin/subclassed_resource.rb
  spree/api/app/controllers/spree/api/v3/admin/promotion_actions_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/payment_method_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/promotion_action_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/promotion_rule_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/payment_method_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/promotion_action_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/admin/promotion_rule_serializer_spec.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/lib/spree/core/preferences/masking.rb
  spree/core/spec/models/spree/preferences/masking_spec.rb
Due: core, api, Core, API

fixes exposing key_string
  spree/api/spec/serializers/spree/api/v3/admin/payment_method_serializer_spec.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
Due: core, Core

Update Spree Rails template for DIY installations
  spree/template.rb
Due: none

fix SDK tests setup
  packages/sdk/tests/integration/global-setup.ts
  spree/core/app/services/spree/sample_data/loader.rb
Due: core, Core

load categories separately in loader.rb
  packages/sdk/tests/integration/global-setup.ts
  spree/core/app/services/spree/sample_data/loader.rb
Due: core, Core

Restore Spree::Base.json_api_type as backwards-compatible alias of .api_type
  spree/core/app/models/spree/base.rb
  spree/core/spec/models/spree/base_spec.rb
Due: core, Core

Add store_id to Spree::NewsletterSubscriber
  spree/api/app/serializers/spree/api/v3/newsletter_subscriber_serializer.rb
  spree/core/app/models/spree/newsletter_subscriber.rb
  spree/core/app/models/spree/order/checkout.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
  spree/core/db/migrate/20260515000001_add_store_id_to_spree_newsletter_subscribers.rb
  spree/core/spec/models/spree/newsletter_subscriber_spec.rb
  spree/core/spec/models/spree/order/checkout_spec.rb
  spree/core/spec/services/spree/newsletter/subscribe_spec.rb
  spree/emails/app/mailers/spree/newsletter_mailer.rb
  spree/emails/app/subscribers/spree/newsletter_subscriber_email_subscriber.rb
  spree/emails/spec/subscribers/spree/newsletter_subscriber_email_subscriber_spec.rb
Due: core, api, emails, Core, API, Emails

Implement `storefront_visible` for Payment Methods and Shipping Methods
  CLAUDE.md
  docs/plans/5.5-6.0-display-on-to-boolean.md
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/OptionType.ts
  packages/admin-sdk/src/types/generated/PaymentMethod.ts
  packages/admin/src/components/spree/promotion-editors/register.ts
  packages/admin/src/tables/payment-methods.tsx
  spree/api/app/controllers/spree/api/v3/admin/payment_methods_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/payment_method_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/display_on.rb
  spree/core/app/models/spree/metafield_definition.rb
  spree/core/spec/models/spree/concerns/display_on_spec.rb
Due: core, api, Core, API

Add universal `<DragHandle>` component
  packages/admin/src/components/spree/drag-handle.tsx
  packages/admin/src/components/spree/resource-table.tsx
Due: none

Added universal `<SecretInput>` component
  packages/admin-sdk/src/index.ts
  packages/admin-sdk/src/params.ts
  packages/admin/src/components/spree/preferences-form.tsx
  packages/admin/src/components/spree/secret-input.tsx
Due: none

Implement Payment Methods UI in Admin SPA
  docs/plans/6.0-admin-spa.md
  packages/admin/src/components/spree/payment-method-editors/payment-method-form.tsx
  packages/admin/src/components/spree/payment-method-editors/types.ts
  packages/admin/src/components/spree/storefront-visible-switch.tsx
  packages/admin/src/routes/_authenticated/$storeId/settings/payment-methods.tsx
Due: none

CR fixes
  packages/admin-sdk/src/index.ts
  packages/admin/src/components/spree/secret-input.tsx
Due: none

Code review updates
  spree/api/app/serializers/spree/api/v3/newsletter_subscriber_serializer.rb
  spree/core/app/models/spree/newsletter_subscriber.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
  spree/core/db/migrate/20260515000001_add_store_id_to_spree_newsletter_subscribers.rb
  spree/core/lib/spree/testing_support/factories/newsletter_subscriber_factory.rb
  spree/core/spec/models/spree/newsletter_subscriber_spec.rb
  spree/core/spec/services/spree/newsletter/subscribe_spec.rb
Due: core, api, Core, API

add safeguard for adding/removing indexes
  spree/core/db/migrate/20260515000001_add_store_id_to_spree_newsletter_subscribers.rb
Due: core

Update failing specs
  spree/admin/spec/controllers/spree/admin/newsletter_subscribers_controller_spec.rb
  spree/core/lib/tasks/core.rake
  spree/core/spec/lib/tasks/core_spec.rb
Due: core, Core

CR fixes
  packages/admin/src/components/spree/payment-method-editors/types.ts
  packages/admin/src/components/spree/preferences-form.tsx
  packages/admin/src/components/spree/promotion-editors/types.ts
  packages/admin/src/routes/_authenticated/$storeId/settings/payment-methods.tsx
  packages/admin/src/tables/payment-methods.tsx
Due: none

fixed filtering by vietual attribute storefront_visible
  spree/api/spec/controllers/spree/api/v3/admin/payment_methods_controller_spec.rb
  spree/core/app/models/concerns/spree/display_on.rb
Due: core, Core

Fixed labels display in table filters
  packages/admin/src/components/spree/table-toolbar.tsx
Due: none

Update spree/core/app/models/spree/newsletter_subscriber.rb
  spree/core/app/models/spree/newsletter_subscriber.rb
Due: core, Core

Fixed: Add type column to spree_payment_setup_sessions for STI (#13982)
  spree/core/app/models/spree/gateway/bogus.rb
  spree/core/app/models/spree/payment_setup_sessions/bogus.rb
  spree/core/db/migrate/20260504103113_add_type_to_spree_payment_setup_sessions.rb
Due: core, Core

Fix tailwind look up paths in other gems (#13984)
  spree/admin/lib/spree/admin/tailwind_helper.rb
Due: admin, Admin

Fixed `tags` in Products Serializer (both Store API and Admin API)
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/spec/serializers/spree/api/v3/product_serializer_spec.rb
Due: api, API

Update Store SDK zod schemas
  packages/sdk/.changeset/zod-schema-customer-payment-method-fields.md
  packages/sdk/src/zod/generated/CustomField.ts
  packages/sdk/src/zod/generated/Customer.ts
  packages/sdk/src/zod/generated/PaymentMethod.ts
Due: none

Auto-generate gift card codes when not provided (#13987)
  spree/admin/app/views/spree/admin/gift_cards/_form.html.erb
  spree/admin/spec/controllers/spree/admin/gift_cards_controller_spec.rb
  spree/core/spec/models/spree/gift_card_spec.rb
Due: admin, Admin

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
