Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Give the seller panel its orders and products
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/pages/order.tsx
  packages/seller-dashboard/src/pages/orders.tsx
  packages/seller-dashboard/src/pages/product.tsx
  packages/seller-dashboard/src/pages/products.tsx
  packages/seller-dashboard/src/routeTree.gen.ts
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/orders/$orderId.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/orders/index.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/products/$productId.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/products/index.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/products/new.tsx
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-dashboard/src/tables/products.tsx
  packages/seller-sdk/src/seller-client.ts
Due: none

Cover a seller listing a product and opening their orders
  packages/dashboard/e2e/seller-catalog.spec.ts
Due: none

Add catalogs: assortment plus optional price list, assigned to audiences
  spree/api/app/controllers/spree/api/v3/admin/catalog_assignments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/catalogs/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/channels_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_assignment_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/catalog_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/channel_serializer.rb
  spree/api/config/initializers/typelizer.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalog_assignments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/catalogs_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/catalog_assignment.rb
  spree/core/app/models/spree/catalog_product.rb
  spree/core/app/models/spree/channel.rb
  spree/core/app/models/spree/customer_group.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/price_list.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/services/spree/products/for_context.rb
  spree/core/db/migrate/20260825000001_create_spree_catalogs.rb
  spree/core/lib/spree/core/pricing/context.rb
  spree/core/lib/spree/testing_support/factories/catalog_factory.rb
  spree/core/spec/lib/spree/core/pricing/catalog_pricing_spec.rb
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/services/spree/products/for_context_spec.rb
Due: core, api, Core, API

Open company self-service on the Store API
  spree/api/app/controllers/spree/api/v3/store/account/companies_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies/base_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies/invitations_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies/members_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies_controller.rb
  spree/api/app/controllers/spree/api/v3/store/company_addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/store/company_invitations_controller.rb
  spree/api/app/controllers/spree/api/v3/store/company_members_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/app/serializers/spree/api/v3/cart_serializer.rb
  spree/api/app/serializers/spree/api/v3/order_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/account/companies_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/companies/addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/companies/invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/companies/members_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/companies/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/companies_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/company_addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/company_invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/company_members_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/core/app/models/spree/storefront/access_policy.rb
  spree/core/app/services/spree/carts/update.rb
Due: core, api, Core, API

Rebuild both SDKs and the generated API artifacts for companies and catalogs
  packages/admin-sdk/examples/catalogs/assign.ts
  packages/admin-sdk/examples/catalogs/create.ts
  packages/admin-sdk/examples/catalogs/list.ts
  packages/admin-sdk/examples/companies/locations-create.ts
  packages/admin-sdk/examples/companies/locations-list.ts
  packages/admin-sdk/examples/companies/memberships/create.ts
  packages/admin-sdk/examples/companies/memberships/list.ts
  packages/admin-sdk/examples/company-contacts/get.ts
  packages/admin-sdk/examples/company-locations/contacts-create.ts
  packages/admin-sdk/examples/company-locations/delete.ts
  packages/admin-sdk/examples/company-locations/update.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/tests/catalogs.test.ts
  packages/admin-sdk/tests/companies.test.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/index.ts
Due: none

Rebuild the dashboard for the organization tree and add catalog pages
  packages/dashboard-core/src/components/page-tabs.tsx
  packages/dashboard-core/src/lib/permissions.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard/src/components/spree/company-address-sheet.tsx
  packages/dashboard/src/components/spree/company-kind-badge.tsx
  packages/dashboard/src/components/spree/company-location-sheet.tsx
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/hooks/use-companies.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/routes/_authenticated/$storeId/companies/$companyId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/companies/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/companies/locations.$locationId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/index.tsx
  packages/dashboard/src/schemas/catalog.ts
  packages/dashboard/src/schemas/company.ts
  packages/dashboard/src/search/create-actions.ts
  packages/dashboard/src/tables/catalogs.tsx
  packages/dashboard/src/tables/companies.tsx
Due: none

Harden company and catalog pricing edges found in review
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/core/app/models/concerns/spree/purchase/company.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/services/spree/companies/add_member.rb
  spree/core/config/locales/en.yml
  spree/core/spec/lib/spree/core/pricing/catalog_pricing_spec.rb
  spree/core/spec/models/concerns/spree/purchase/company_spec.rb
  spree/core/spec/models/spree/company_spec.rb
Due: core, api, Core, API

Document the company tree and catalogs, and seed them into the wholesale demo
  CLAUDE.md
  docs/developer/core-concepts/companies-and-catalogs.mdx
  docs/docs.json
  docs/plans/6.0-b2b-companies-and-catalogs.md
  docs/use-case/b2b/b2b-capabilities.mdx
  spree/core/db/sample_data/wholesale.rb
Due: core

Reconcile the company tree with external references after rebasing on main
  packages/admin-sdk/src/types/generated/Company.ts
  packages/admin-sdk/src/types/generated/Order.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
  packages/sdk/src/types/generated/Company.ts
  packages/sdk/src/zod/generated/Company.ts
  spree/api/spec/controllers/spree/api/v3/admin/external_references_spec.rb
  spree/core/app/models/concerns/spree/has_external_references.rb
  spree/core/db/migrate/20260818000001_create_spree_external_references.rb
  spree/core/db/sample_data/wholesale.rb
  spree/core/spec/models/concerns/spree/has_external_references_spec.rb
Due: core, Core

Regenerate the starter's route tree for the companies and catalogs routes
  packages/dashboard-starter/src/routeTree.gen.ts
Due: none

Put the companies list back on the standard resource table
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/companies/index.tsx
  packages/dashboard/src/tables/companies.tsx
Due: none

Seed a catalog's assortment from its newly selected price list
  docs/developer/core-concepts/companies-and-catalogs.mdx
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/spec/integration/spree/api/v3/admin/catalogs_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/spec/models/spree/catalog_spec.rb
Due: core, Core

Let an uncurated catalog price without hiding the public range
  docs/developer/core-concepts/companies-and-catalogs.mdx
  docs/plans/6.0-b2b-companies-and-catalogs.md
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/tests/catalogs.test.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/hooks/use-catalogs.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/catalogs_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/services/spree/products/for_context.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/services/spree/products/for_context_spec.rb
Due: core, api, Core, API

Close the gaps the review found in companies and catalogs
  docs/developer/core-concepts/companies-and-catalogs.mdx
  packages/admin-sdk/examples/catalogs/list.ts
  packages/dashboard/src/hooks/use-companies.ts
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/routes/_authenticated/$storeId/companies/$companyId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/index.tsx
  packages/dashboard/src/schemas/catalog.ts
  packages/sdk/examples/account-companies/list.ts
  packages/sdk/examples/companies/get.ts
  packages/sdk/examples/companies/members-create.ts
  packages/sdk/examples/company-invitations/accept.ts
  spree/api/app/controllers/spree/api/v3/admin/catalogs_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/companies/invitations_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/catalogs_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/companies/invitations_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/companies_spec.rb
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/services/spree/company_invitations/accept.rb
  spree/core/app/services/spree/products/for_context.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/catalog_spec.rb
  spree/core/spec/models/spree/company_spec.rb
  spree/core/spec/services/spree/company_invitations/accept_spec.rb
  spree/emails/app/mailers/spree/company_mailer.rb
  spree/emails/spec/mailers/spree/company_mailer_spec.rb
Due: core, api, emails, Core, API, Emails

Cover both sides of invitation acceptance in the store controller spec
  spree/api/spec/controllers/spree/api/v3/store/company_invitations_controller_spec.rb
Due: none

Scope the company tree's own lookups to its store
  spree/core/app/models/spree/company.rb
Due: core, Core

Drop the cosmetic role label from company membership
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/CompanyMembership.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/routes/_authenticated/$storeId/companies/$companyId.tsx
  packages/sdk/src/types/generated/CompanyMembership.ts
  packages/sdk/src/zod/generated/CompanyMembership.ts
  spree/api/app/controllers/spree/api/v3/admin/companies/memberships_controller.rb
  spree/api/app/serializers/spree/api/v3/company_membership_serializer.rb
  spree/api/spec/integration/spree/api/v3/admin/companies/memberships_spec.rb
  spree/core/app/models/spree/company_invitation.rb
  spree/core/app/models/spree/company_membership.rb
  spree/core/app/services/spree/companies/add_member.rb
  spree/core/db/migrate/20260807000001_create_spree_companies.rb
  spree/core/spec/models/spree/company_membership_spec.rb
Due: core, api, Core, API

Document the company address and invitation write operations
  spree/api/spec/integration/spree/api/v3/store/companies_spec.rb
Due: none

Regenerate the API references after rebasing on main
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
Due: none

Publish the seller orders and fulfillments reference
  packages/seller-dashboard/src/pages/order.tsx
  packages/seller-sdk/src/types/generated/Fulfillment.ts
  packages/seller-sdk/src/types/generated/Order.ts
  packages/seller-sdk/src/types/generated/OrderLineItem.ts
  spree/api/app/serializers/spree/api/v3/seller/fulfillment_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/order_line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/order_serializer.rb
  spree/api/spec/integration/spree/api/v3/seller/fulfillments_spec.rb
  spree/api/spec/integration/spree/api/v3/seller/orders_spec.rb
Due: api, API

Fix two contract mismatches in the published API reference
  docs/api-reference/admin.yaml
  docs/api-reference/seller-api/errors.mdx
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
  spree/api/lib/spree/api/openapi/schema_helper.rb
  spree/api/spec/integration/spree/api/v3/seller/onboarding_spec.rb
Due: api, API

Address review on the seller orders and products surface
  packages/seller-dashboard/src/pages/order.tsx
  packages/seller-dashboard/src/pages/product.tsx
  packages/seller-sdk/src/seller-client.ts
  spree/api/app/controllers/spree/api/v3/seller/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/fulfillments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/products_controller_spec.rb
Due: api, API

Keep drafts out of every seller endpoint, not just the list
  spree/api/app/controllers/concerns/spree/api/v3/seller/seller_context.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/fulfillments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders_controller_spec.rb
  spree/core/app/models/spree/order.rb
Due: core, api, Core, API

Tidy the seller orders and products changes
  packages/seller-dashboard/src/components/retryable-error.tsx
  packages/seller-dashboard/src/pages/order.tsx
  packages/seller-dashboard/src/pages/product.tsx
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/resource_controller.rb
Due: api, API

Scope catalog resolution to the store and bulk-write assortment adds
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/services/spree/products/for_context.rb
  spree/core/spec/models/spree/catalog_spec.rb
Due: core, Core

Give an address a polymorphic owner and drop the business subclass
  spree/core/app/models/concerns/spree/purchase/addresses.rb
  spree/core/app/models/concerns/spree/user_address.rb
  spree/core/app/models/spree/address.rb
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/business_address.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/models/spree/company_address.rb
  spree/core/app/models/spree/seller.rb
  spree/core/app/models/spree/storefront/access_policy.rb
  spree/core/app/services/spree/addresses/create.rb
  spree/core/app/services/spree/addresses/update.rb
  spree/core/app/services/spree/imports/row_processors/customer.rb
  spree/core/app/workflows/spree/customers/create.rb
  spree/core/db/migrate/20260728000003_rename_user_id_to_customer_id.rb
  spree/core/db/migrate/20260807000001_create_spree_companies.rb
  spree/core/db/migrate/20260826000001_add_owner_to_spree_addresses.rb
  spree/core/lib/spree/core/permission_configuration.rb
  spree/core/lib/spree/testing_support/factories/address_factory.rb
  spree/core/lib/spree/testing_support/factories/company_factory.rb
  spree/core/spec/models/concerns/spree/purchase/addresses_spec.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/models/spree/base_spec.rb
  spree/core/spec/models/spree/company_address_spec.rb
  spree/core/spec/models/spree/company_spec.rb
  spree/core/spec/models/spree/seller_spec.rb
  spree/core/spec/models/spree/storefront/access_policy_spec.rb
  spree/core/spec/workflows/spree/customers/create_spec.rb
Due: core, Core

Flatten the company address book onto the address itself
  spree/api/app/controllers/spree/api/v3/admin/companies/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/company_addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/customers/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/store/company_addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/store/concerns/company_address_defaults.rb
  spree/api/app/serializers/spree/api/v3/admin/address_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/company_address_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/company_serializer.rb
  spree/api/app/serializers/spree/api/v3/company_address_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/companies/addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/companies_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/company_addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/companies/addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/company_addresses_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/companies_spec.rb
  spree/core/app/models/spree/seller.rb
Due: core, api, Core, API

Read an address default from whichever owner holds it
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Company.ts
  packages/admin-sdk/src/types/generated/CompanyAddress.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/address-fieldset.tsx
  packages/dashboard/src/components/spree/company-address-sheet.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/companies/$companyId.tsx
  packages/dashboard/src/schemas/company.ts
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/generated/CompanyAddress.ts
  packages/sdk/src/zod/generated/CompanyAddress.ts
  spree/api/app/serializers/spree/api/v3/admin/company_address_serializer.rb
  spree/api/app/serializers/spree/api/v3/company_address_serializer.rb
  spree/core/app/models/spree/address.rb
  spree/core/spec/models/spree/company_spec.rb
Due: core, api, Core, API

Serialize a company address as the address it is
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/Address.ts
  packages/admin-sdk/src/types/generated/Company.ts
  packages/admin-sdk/src/types/generated/CompanyAddress.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/company-address-sheet.tsx
  packages/dashboard/src/hooks/use-companies.ts
  packages/dashboard/src/routes/_authenticated/$storeId/companies/$companyId.tsx
  packages/sdk/src/store-client.ts
  packages/sdk/src/types/generated/Address.ts
  packages/sdk/src/types/generated/CompanyAddress.ts
  packages/sdk/src/types/generated/index.ts
  packages/sdk/src/types/index.ts
  packages/sdk/src/zod/generated/Address.ts
  packages/sdk/src/zod/generated/CompanyAddress.ts
  packages/sdk/src/zod/generated/index.ts
  packages/seller-sdk/src/types/generated/Address.ts
  spree/api/app/controllers/spree/api/v3/admin/companies/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/company_addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/store/company_addresses_controller.rb
  spree/api/app/serializers/spree/api/v3/address_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/address_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/company_address_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/company_serializer.rb
  spree/api/app/serializers/spree/api/v3/company_address_serializer.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/admin/companies/addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/company_addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/companies/addresses_controller_spec.rb
Due: api, API

Run the storefront in a worktree
  .gitignore
  CLAUDE.md
  package.json
  scripts/worktree/dev-storefront.sh
  scripts/worktree/lib.sh
  scripts/worktree/setup.sh
Due: none

Reach every part of a company through its node
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/tests/companies.test.ts
  packages/dashboard/src/hooks/use-companies.ts
  packages/sdk/src/store-client.ts
  spree/api/app/controllers/spree/api/v3/admin/companies/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/companies/invitations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/company_addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/company_invitations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/company_memberships_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies/invitations_controller.rb
  spree/api/app/controllers/spree/api/v3/store/companies/members_controller.rb
  spree/api/app/controllers/spree/api/v3/store/company_addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/store/company_invitations_controller.rb
  spree/api/app/controllers/spree/api/v3/store/company_members_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/companies/invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/company_addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/company_invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/company_memberships_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/companies/invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/companies/members_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/company_addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/company_invitations_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/company_members_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/companies_spec.rb
Due: api, API

Run the storefront in a worktree (#14495)
  .gitignore
  CLAUDE.md
  package.json
  scripts/worktree/dev-storefront.sh
  scripts/worktree/lib.sh
  scripts/worktree/setup.sh
Due: none

Keep the caller's order when adding products to a catalog
  spree/core/app/models/spree/catalog.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
Due: core, Core

Name the company on its address form, and offer a new site as both defaults
  packages/dashboard-core/src/components/address-form-dialog.tsx
  packages/dashboard/src/components/spree/address-fieldset.tsx
  packages/dashboard/src/components/spree/company-address-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/companies/$companyId.tsx
  packages/dashboard/src/schemas/company.ts
Due: none

Build the company address book on the shared address dialog
  packages/dashboard-core/src/components/address-form-dialog.tsx
  packages/dashboard/src/components/spree/address-fieldset.tsx
  packages/dashboard/src/components/spree/company-address-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/schemas/company.ts
Due: none

Share one address book row between customers and companies
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/spree/address-book-row.tsx
  packages/dashboard/src/components/spree/company-address-sheet.tsx
  packages/dashboard/src/components/spree/customers/customer-addresses-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/companies/$companyId.tsx
Due: none

Mark a seller's billing address where Rails builds it
  spree/core/app/models/spree/seller.rb
Due: core, Core

Give sellers their orders over the API
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/Fulfillment.ts
  packages/seller-sdk/src/types/generated/FulfillmentItem.ts
  packages/seller-sdk/src/types/generated/Order.ts
  packages/seller-sdk/src/types/generated/OrderLineItem.ts
  packages/seller-sdk/src/types/generated/index.ts
  spree/api/app/controllers/spree/api/v3/seller/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/fulfillment_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/fulfillment_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/order_line_item_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/order_serializer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders/fulfillments_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/orders_controller_spec.rb
Due: api, API

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
