Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Show marketplace terms when a seller accepts them (#14636)
  docs/api-reference/seller.yaml
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/seller-dashboard/src/pages/onboarding.tsx
  packages/seller-sdk/src/types/generated/RequirementStatus.ts
  spree/api/app/serializers/spree/api/v3/seller/requirement_status_serializer.rb
  spree/api/spec/controllers/spree/api/v3/seller/onboarding_controller_spec.rb
  spree/core/app/models/spree/seller_requirement_status.rb
  spree/core/app/models/spree/seller_requirements/accept_terms.rb
  spree/core/spec/models/spree/seller_requirements_spec.rb
Due: core, api, Core, API

chore(deps): pin security fixes via pnpm overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Changed security pins so TipTap packages stay on one version
  packages/dashboard-ui/package.json
  packages/dashboard/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Added seller panel settings overview page (#14635)
  .changeset/seller-settings-overview.md
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/pages/settings-index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/index.tsx
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/nav/settings.ts
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/settings/index.tsx
Due: none

Fixed description editor lists and Enter after the TipTap pin
  .changeset/rich-text-editor-enter-and-toolbar.md
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard/e2e/products-helpers.ts
Due: none

Added carts, promotions and lifetime value to the reporting vocabulary
  docs/plans/6.0-reporting-additional-metrics.md
  docs/plans/decisions.md
  spree/core/app/models/spree/store.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/lib/spree/reporting/schema.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
  spree/core/spec/lib/spree/reporting/schema_spec.rb
Due: core, Core

Added the new reporting contract keys to the SDK and report builder
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/index.ts
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  packages/dashboard/src/components/spree/reporting/report-view.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Fix: read promotion money through a subquery, not the grouping join
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
Due: core, Core

Fix: pass metric filters through the reporting endpoint allowlist
  spree/api/app/controllers/spree/api/v3/admin/reporting_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/reporting_controller_spec.rb
Due: api, API

Fix: six defects found reviewing the new reporting vocabulary
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  spree/core/app/models/spree/line_item.rb
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
Due: core, Core

Moved reporting refusal data into the registry and indexed lifetime lookups
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  spree/core/app/models/spree/line_item.rb
  spree/core/db/migrate/20260912120000_index_reporting_lifetime_and_promotion_columns.rb
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
Due: core, Core

Marked the additional reporting plan implemented
  docs/plans/6.0-reporting-additional-metrics.md
  docs/plans/decisions.md
Due: none

Fix: seven defects found in the second review of the reporting vocabulary
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  packages/dashboard/src/components/spree/reporting/report-draft.ts
  packages/dashboard/src/components/spree/reporting/report-view.tsx
  spree/core/config/brakeman.ignore
  spree/core/config/locales/en.yml
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
Due: core, Core

Recorded the dropped discount_kind axis in the plan
  docs/plans/6.0-reporting-additional-metrics.md
Due: none

Fix: five findings from the review bot on the reporting vocabulary
  docs/plans/6.0-reporting-additional-metrics.md
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  packages/dashboard/src/components/spree/reporting/report-draft.ts
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/registry.rb
  spree/core/spec/lib/spree/reporting/query_spec.rb
Due: core, Core

Bounded the empty-member lookup and moved join paths into the registry
  packages/dashboard/src/components/spree/reporting/report-builder.tsx
  packages/dashboard/src/components/spree/reporting/report-draft.ts
  spree/core/db/migrate/20260912120000_index_reporting_lifetime_and_promotion_columns.rb
  spree/core/lib/spree/reporting/adapters/live.rb
  spree/core/lib/spree/reporting/default_vocabulary.rb
  spree/core/lib/spree/reporting/query.rb
  spree/core/lib/spree/reporting/registry.rb
Due: core, Core

Fix: refresh the Brakeman fingerprint the simplify pass invalidated
  spree/core/config/brakeman.ignore
Due: core

Fix: persist Enter splits and list formatting in the description editor
  .changeset/rich-text-editor-enter-and-toolbar.md
  packages/dashboard-ui/src/index.ts
  packages/dashboard-ui/src/lib/same-rich-text.ts
  packages/dashboard-ui/src/ui/rich-text-editor.tsx
  packages/dashboard/e2e/products-helpers.ts
  packages/dashboard/src/lib/same-rich-text.test.ts
Due: none

Give a variant its own review lifecycle and open products to sellers
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/6.0-seller-master-catalog-listings.md
  docs/plans/6.0-seller-product-submission.md
  docs/plans/decisions.md
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product_submission.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/product_submissions/close.rb
  spree/core/app/services/spree/products/select_buy_box.rb
  spree/core/app/workflows/spree/variants/activate.rb
  spree/core/app/workflows/spree/variants/approve.rb
  spree/core/app/workflows/spree/variants/archive.rb
  spree/core/app/workflows/spree/variants/draft.rb
  spree/core/app/workflows/spree/variants/propose.rb
  spree/core/app/workflows/spree/variants/reject.rb
  spree/core/app/workflows/spree/variants/update.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260905000001_add_open_to_sellers_to_spree_products.rb
  spree/core/db/migrate/20260905000002_add_status_to_spree_variants.rb
  spree/core/db/migrate/20260905000003_add_variant_to_spree_product_submissions.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/backfill_variant_statuses.rake
  spree/core/spec/models/spree/variant_status_visibility_spec.rb
  spree/core/spec/workflows/spree/variants/review_spec.rb
  spree/providers/meilisearch/app/presenters/spree_meilisearch/product_presenter.rb
Due: core, api, Core, API

Let a seller list and manage offers through the API
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/sdk/src/types/generated/Customer.ts
  packages/sdk/src/zod/generated/Customer.ts
  packages/sdk/src/zod/generated/Order.ts
  packages/sdk/src/zod/generated/index.ts
  packages/seller-sdk/src/index.ts
  packages/seller-sdk/src/seller-client.ts
  spree/api/app/controllers/concerns/spree/api/v3/seller/catalog_params.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/master_products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/product_submission_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/variant_serializer.rb
  spree/api/config/locales/en.yml
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/master_products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/variants_controller_spec.rb
  spree/core/app/models/spree/variant.rb
Due: core, api, Core, API

Document the offer endpoints and ship them in the seller SDK
  spree/api/spec/integration/spree/api/v3/seller/offers_spec.rb
Due: none

Give the seller panel an Offers section
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/products/variant-field-sections.tsx
  packages/sdk/src/zod/generated/OptionType.ts
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/src/components/offer-status-card.tsx
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/$variantId.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/index.tsx
  packages/seller-dashboard/src/routes/_authenticated/$sellerId/offers/new.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  packages/seller-dashboard/src/tables/offers.tsx
  spree/api/app/serializers/spree/api/v3/option_type_serializer.rb
Due: api, API

Apply the simplify pass
  packages/dashboard/src/hooks/use-sellers.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  spree/api/app/controllers/concerns/spree/api/v3/status_actions.rb
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/app/services/spree/api/v3/filters_aggregator.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/product_submission.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/presenters/spree/data_feeds/google_presenter.rb
  spree/core/app/services/spree/products/select_buy_box.rb
  spree/core/db/migrate/20260905000002_add_status_to_spree_variants.rb
  spree/core/spec/models/spree/variant_status_visibility_spec.rb
  spree/providers/meilisearch/app/presenters/spree_meilisearch/product_presenter.rb
Due: core, api, Core, API

Fix the offers page heading, a missing label and the sample offer
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/tables/offers.tsx
Due: none

Show offers in the operator dashboard, and document the shared catalog
  docs/developer/core-concepts/sellers.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard-core/src/products/product-form-mapping.ts
  packages/dashboard-core/src/products/product-schema.ts
  packages/dashboard-core/src/products/product-types.ts
  packages/dashboard/src/components/spree/products/product-marketplace-card.tsx
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/dashboard/src/components/spree/products/product-seller-card.tsx
  packages/dashboard/src/hooks/use-products.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/index.tsx
  packages/dashboard/src/tables/products.tsx
Due: none

Address the first review round
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/dashboard/src/tables/products.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  spree/api/app/controllers/spree/api/v3/admin/products/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/product_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/products_controller_spec.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/workflows/spree/variants/archive.rb
  spree/core/app/workflows/spree/variants/draft.rb
  spree/core/config/locales/en.yml
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: core, api, Core, API

Keep an unapproved offer out of the product's sale state
  docs/plans/6.0-seller-master-catalog-listings.md
  spree/core/app/models/spree/product.rb
  spree/core/spec/models/spree/variant_status_visibility_spec.rb
Due: core, Core

Record what the seller offers work settled
  docs/plans/6.0-seller-master-catalog-listings.md
  docs/plans/decisions.md
Due: none

Address the second review round
  packages/dashboard/src/components/spree/products/product-offers-card.tsx
  packages/seller-dashboard/src/pages/offer.tsx
  spree/api/app/controllers/concerns/spree/api/v3/seller/catalog_params.rb
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/product_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/variants_controller_spec.rb
  spree/core/app/services/spree/products/duplicator.rb
  spree/core/app/workflows/spree/variants/update.rb
  spree/core/spec/services/spree/products/duplicator_spec.rb
Due: core, api, Core, API

Give an offer the same price and inventory grids the operator uses
  packages/dashboard-core/src/products/inventory-section.tsx
  packages/dashboard-core/src/products/product-bulk-price-editor.tsx
  packages/dashboard-core/src/products/product-form-cards.tsx
  packages/dashboard-core/src/products/product-types.ts
  packages/seller-dashboard/src/pages/offer.tsx
  packages/seller-dashboard/src/schemas/offer.ts
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-dashboard/src/tables/products.tsx
Due: none

Keep the page heading and drop the duplicated card title instead
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/tables/offers.tsx
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-dashboard/src/tables/products.tsx
Due: none

Name the reason a variant review step refuses
  spree/core/app/workflows/spree/variants/activate.rb
  spree/core/app/workflows/spree/variants/approve.rb
  spree/core/app/workflows/spree/variants/archive.rb
  spree/core/app/workflows/spree/variants/draft.rb
  spree/core/app/workflows/spree/variants/propose.rb
  spree/core/app/workflows/spree/variants/reject.rb
  spree/core/app/workflows/spree/variants/update.rb
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: core, Core

Regenerate the API specs and SDK types
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/sdk/src/types/generated/Customer.ts
  packages/sdk/src/zod/generated/Customer.ts
  packages/sdk/src/zod/generated/Order.ts
  packages/sdk/src/zod/generated/index.ts
Due: none

Pin that a seller may pick any value on the axis
  spree/api/spec/controllers/spree/api/v3/seller/variants_controller_spec.rb
Due: none

Record the rejection form and the seller error-shape gap
  docs/plans/6.0-seller-master-catalog-listings.md
  docs/plans/decisions.md
Due: none

Pin the refusal to activate a draft offer directly
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: none

Fix the review trail on a corrected rejection, and two ordering bugs
  spree/api/app/controllers/spree/api/v3/seller/variants_controller.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/services/spree/product_submissions/close.rb
  spree/core/spec/workflows/spree/variants/review_spec.rb
Due: core, api, Core, API

Put the list screen title in the table card, as the dashboard does
  packages/seller-dashboard/src/pages/offers.tsx
  packages/seller-dashboard/src/tables/offers.tsx
  packages/seller-dashboard/src/tables/orders.tsx
  packages/seller-dashboard/src/tables/products.tsx
Due: none

Keep a seller's backorder setting, and repair stale sample offers
  packages/dashboard-core/src/products/product-types.ts
  packages/seller-dashboard/src/pages/offer.tsx
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/spec/services/spree/products/duplicator_spec.rb
Due: core, Core

Pin that the offers list filters in SQL
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
