Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Handle nil user in admin /me endpoint for secret API keys (#14193)
  spree/api/app/controllers/spree/api/v3/admin/me_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/me_controller_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API

fixup! Use a combo of shards and parallel_tests gem for Ruby tests
  spree/admin/spec/controllers/spree/admin/invitations_controller_spec.rb
  spree/core/lib/spree/testing_support/common_rake.rb
  spree/core/spec/models/spree/payment_method_spec.rb
Due: none

Pin patched esbuild, vite, js-yaml via pnpm overrides
  .github/dependabot.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add weekly security audit workflow
  .github/workflows/security-audit.yml
Due: none

Align direct vite declarations with the security override
  packages/dashboard-core/package.json
  packages/dashboard/package.json
Due: none

Pin security audit workflow actions to commit SHAs
  .github/workflows/security-audit.yml
Due: none

Pin transitive security fixes via pnpm overrides (#14194)
  .github/dependabot.yml
  .github/workflows/security-audit.yml
  packages/dashboard-core/package.json
  packages/dashboard/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fixup! Use a combo of shards and parallel_tests gem for Ruby tests
  .github/workflows/tests.yml
  spree/core/lib/spree/testing_support/common_rake.rb
Due: none

Remove stray npm lockfiles from pnpm workspace
  .gitignore
  package-lock.json
  packages/sdk/package-lock.json
Due: none

Resolve second wave of npm security advisories
  package.json
  packages/dashboard-ui/package.json
  packages/dashboard/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Keep shadcn runtime; fix dashboard-core typecheck build ordering
  packages/dashboard-core/package.json
  packages/dashboard-ui/package.json
  packages/dashboard/package.json
  pnpm-lock.yaml
Due: none

Bump spree to 5.5.0.rc3
  spree/core/lib/spree/core/version.rb
Due: core, Core

Improve generated `README.md` by `create-spree-app`
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/readme.ts
Due: none

fix
  packages/create-spree-app/src/templates/readme.ts
Due: none

Improve generated `README.md` by `create-spree-app` (#14196)
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/readme.ts
Due: none

Bump spree to 5.5.0
  spree/core/lib/spree/core/version.rb
Due: core, Core

Docs: Update navbar labels to reflect new versions
  docs/docs.json
Due: none

Clear remaining npm security advisories and remove stray lockfiles (#14195)
  .gitignore
  package-lock.json
  package.json
  packages/dashboard-core/package.json
  packages/sdk/package-lock.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fixup! Use a combo of shards and parallel_tests gem for Ruby tests
  spree/emails/spec/spec_helper.rb
Due: none

Ci/speedup parallelism caching (#14192)
  .github/workflows/packages.yml
  .github/workflows/spelling_lint.yml
  .github/workflows/tests.yml
  spree/admin/spec/controllers/spree/admin/invitations_controller_spec.rb
  spree/admin/spec/spec_helper.rb
  spree/api/spec/spec_helper.rb
  spree/core/lib/spree/testing_support/common_rake.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/core/spec/spec_helper.rb
  spree/emails/spec/spec_helper.rb
Due: none

Docs: fixed - update links to include '/docs' prefix
  docs/index.mdx
Due: none

docs: remove outdated extensions doc, mostly moved to integrations
  docs/developer/customization/extensions.mdx
  docs/docs.json
Due: none

Docs: fixed broken extensions links
  docs/developer/contributing/creating-an-extension.mdx
  docs/developer/contributing/quickstart.mdx
Due: none

add permission to publishing section on admin product page
  spree/admin/app/views/spree/admin/products/form/_publishing.html.erb
Due: admin, Admin

Add ProductPublication to product permission set
  spree/core/app/models/spree/permission_sets/product_management.rb
  spree/core/spec/models/spree/permission_sets/product_management_spec.rb
Due: core, Core

Strip legacy_product_publications_attributes on backend side if permission denies it
  spree/core/app/services/spree/products/prepare_nested_attributes.rb
  spree/core/spec/services/spree/products/prepare_nested_attributes_spec.rb
Due: core, Core

[Admin product page] Add permission to publishing section (#14200)
  spree/admin/app/views/spree/admin/products/form/_publishing.html.erb
  spree/core/app/models/spree/permission_sets/product_management.rb
  spree/core/app/services/spree/products/prepare_nested_attributes.rb
  spree/core/spec/models/spree/permission_sets/product_management_spec.rb
  spree/core/spec/services/spree/products/prepare_nested_attributes_spec.rb
Due: core, admin, Core, Admin

Add guide for setting up Omni-Channel Commerce in Spree
  docs/user/how-to/omni-channel.mdx
Due: none

Create Omni-Channel image folder
  docs/images/user/how-to/omni-channel/placeholder
Due: none

Uploaded Omni-Channel screenshots
  docs/images/user/how-to/omni-channel/1-sales-channels-overview.png
  docs/images/user/how-to/omni-channel/10-product-stock-per-location.png
  docs/images/user/how-to/omni-channel/2-new-sales-channel.png
  docs/images/user/how-to/omni-channel/3-product-publishing-card.png
  docs/images/user/how-to/omni-channel/4-manage-channels.png
  docs/images/user/how-to/omni-channel/5-shipping-methods-overview.png
  docs/images/user/how-to/omni-channel/6-locations-overview.png
  docs/images/user/how-to/omni-channel/7-returns-configuration.png
  docs/images/user/how-to/omni-channel/8-orders-list-channel-column.png
  docs/images/user/how-to/omni-channel/9-order-details-channel.png
Due: none

Delete docs/images/user/how-to/omni-channel/placeholder
  docs/images/user/how-to/omni-channel/placeholder
Due: none

Add omni-channel to how-to documentation
  docs/docs.json
Due: none

Update omni-channel assignment guidelines
  docs/user/how-to/omni-channel.mdx
Due: none

Small dashboard UI improvements
  packages/dashboard-core/src/components/country-combobox.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/avatar.tsx
  packages/dashboard-ui/src/ui/card.tsx
  packages/dashboard-ui/src/ui/combobox.tsx
  packages/dashboard/src/routes/login.tsx
Due: none

Fixed Admin Countries AP N+1s
  spree/api/app/controllers/spree/api/v3/admin/countries_controller.rb
Due: api, API

Improve support of webhooks in SDK with static typing of webhook payload shapes
  docs/developer/core-concepts/webhooks.mdx
  docs/developer/sdk/store/webhooks.mdx
  docs/developer/storefront/nextjs/customization.mdx
  docs/docs.json
  lefthook.yml
  packages/sdk/.changeset/typed-webhook-events.md
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/scripts/generate-webhook-events.ts
  packages/sdk/src/webhook-events.generated.ts
  packages/sdk/src/webhooks.ts
  packages/sdk/tests/webhooks.test.ts
Due: none

fixes
  lefthook.yml
  packages/sdk/package.json
  packages/sdk/scripts/generate-webhook-events.ts
  packages/sdk/src/webhook-events.generated.ts
  packages/sdk/src/webhooks.ts
  packages/sdk/tests/webhooks.test-d.ts
  packages/sdk/tests/webhooks.test.ts
  packages/sdk/tsconfig.types-test.json
Due: none

Add ability for individual staff members to set there preferred locale in admin
  spree/admin/app/controllers/concerns/spree/admin/locale_concern.rb
  spree/admin/app/controllers/spree/admin/base_controller.rb
  spree/admin/app/controllers/spree/admin/user_sessions_controller.rb
  spree/admin/app/views/spree/admin/profile/edit.html.erb
  spree/admin/app/views/spree/admin/shared/_head.html.erb
  spree/admin/app/views/spree/admin/user_sessions/new.html.erb
  spree/admin/spec/controllers/spree/admin/base_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/user_sessions_controller_spec.rb
  spree/admin/spec/views/spree/admin/shared/_head.html.erb_spec.rb
  spree/core/app/helpers/spree/locale_helper.rb
  spree/core/app/models/concerns/spree/admin_user_methods.rb
  spree/core/config/locales/en.yml
  spree/core/spec/models/spree/concerns/admin_user_methods_spec.rb
Due: core, admin, Core, Admin

fix
  spree/admin/app/controllers/spree/admin/user_sessions_controller.rb
  spree/admin/spec/controllers/spree/admin/user_sessions_controller_spec.rb
Due: admin, Admin
