Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Add packages/dashboard-starter, the canonical dashboard host template
  packages/dashboard-starter/.env.example
  packages/dashboard-starter/.gitignore
  packages/dashboard-starter/README.md
  packages/dashboard-starter/biome.json
  packages/dashboard-starter/index.html
  packages/dashboard-starter/package.json
  packages/dashboard-starter/src/main.tsx
  packages/dashboard-starter/src/plugins.ts
  packages/dashboard-starter/src/styles.css
  packages/dashboard-starter/tsconfig.json
  packages/dashboard-starter/vite.config.ts
  pnpm-lock.yaml
Due: none

Expose nav remove/update declaratively in defineDashboardPlugin
  docs/developer/dashboard/customization/navigation.mdx
  packages/dashboard-core/src/lib/nav-registry.ts
  packages/dashboard-core/src/plugin.ts
  packages/dashboard-core/tests/plugin-nav.test.ts
Due: none

Document file routes and route-collision behavior
  docs/developer/dashboard/customization/quickstart.mdx
  docs/developer/dashboard/customization/routes.mdx
  docs/developer/dashboard/overview.mdx
Due: none

Record build-time typed route composition as a 5.6 plan open question
  docs/plans/5.6-project-layout-and-dashboard.md
Due: none

Add spree add dashboard command
  packages/cli/src/commands/add.ts
  packages/cli/src/constants.ts
  packages/cli/src/index.ts
  packages/cli/tests/add-dashboard.test.ts
Due: none

Rewrite dashboard docs for readers outside the Spree codebase
  docs/developer/dashboard/concepts.mdx
  docs/developer/dashboard/customization/backend.mdx
  docs/developer/dashboard/customization/navigation.mdx
  docs/developer/dashboard/customization/permissions.mdx
  docs/developer/dashboard/customization/quickstart.mdx
  docs/developer/dashboard/customization/routes.mdx
  docs/developer/dashboard/customization/tables.mdx
  docs/developer/dashboard/customization/translations.mdx
  docs/developer/dashboard/overview.mdx
  docs/developer/dashboard/plugins/distributing.mdx
  docs/developer/dashboard/plugins/overview.mdx
  docs/developer/dashboard/plugins/publishing.mdx
  docs/developer/dashboard/recipes/custom-form-field.mdx
  docs/developer/dashboard/recipes/page-action-button.mdx
  docs/developer/dashboard/recipes/sidebar-widget.mdx
  docs/developer/dashboard/slots-catalog.mdx
  docs/developer/sdk/admin/quickstart.mdx
  docs/docs.json
Due: none

Fix phantom @spree/dashboard-sdk / Admin* type names in docs
  docs/developer/dashboard/concepts.mdx
  docs/developer/dashboard/customization/backend.mdx
  docs/developer/dashboard/customization/tables.mdx
  docs/developer/dashboard/plugins/publishing.mdx
  docs/developer/dashboard/public-api.mdx
  docs/developer/dashboard/recipes/page-action-button.mdx
  docs/developer/dashboard/recipes/sidebar-widget.mdx
  docs/developer/sdk/admin/quickstart.mdx
Due: none

Compile plugin file routes into the host's typed route tree
  packages/cli/templates/plugin/packages/dashboard/src/pages/{{name}}-list.tsx.tt
  packages/dashboard-core/src/vite/discover.ts
  packages/dashboard-plugin-example/src/pages/brand-detail.tsx
  packages/dashboard-plugin-example/src/pages/brands-list.tsx
  packages/dashboard/package.json
  packages/dashboard/src/create-router.ts
  packages/dashboard/src/dashboard.tsx
  packages/dashboard/src/index.ts
  packages/dashboard/src/main.tsx
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/router.tsx
  packages/dashboard/src/vite/index.ts
  packages/dashboard/vite.config.ts
  pnpm-lock.yaml
Due: none

Rewrite @/ aliases to relative imports in files new on main
  packages/dashboard/src/components/spree/imports/import-wizard-dialog.tsx
  packages/dashboard/src/components/spree/setup-tasks/storefront-connect-task.tsx
  packages/dashboard/src/components/spree/storefront-connect-sheet.tsx
  packages/dashboard/src/hooks/use-imports.ts
  packages/dashboard/src/nav/default.ts
  packages/dashboard/src/routes/_authenticated/$storeId/customers/index.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/getting-started.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/imports/index.tsx
  packages/dashboard/src/routes/forgot-password.tsx
  packages/dashboard/src/routes/reset-password.tsx
  packages/dashboard/src/tables/imports.tsx
Due: none

Add main's new auth routes to the virtual route skeleton
  packages/dashboard-starter/src/routeTree.gen.ts
  packages/dashboard/src/routeTree.gen.ts
  packages/dashboard/src/vite/index.ts
Due: none

Offer the React Dashboard in create-spree-app
  CLAUDE.md
  docs/plans/5.6-project-layout-and-dashboard.md
  packages/cli/.changeset/add-dashboard-and-plugin-scaffold.md
  packages/cli/src/commands/add.ts
  packages/create-spree-app/.changeset/dashboard-scaffold-phase.md
  packages/create-spree-app/src/constants.ts
  packages/create-spree-app/src/dashboard.ts
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/src/prompts.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/dependabot.ts
  packages/create-spree-app/src/templates/env.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/src/types.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Release the dashboard packages as a 0.x Developer Preview
  .github/workflows/packages.yml
  .gitignore
  CLAUDE.md
  docs/plans/5.6-project-layout-and-dashboard.md
  packages/dashboard-core/.changeset/config.json
  packages/dashboard-core/LICENSE
  packages/dashboard-core/package.json
  packages/dashboard-starter/.gitignore
  packages/dashboard-starter/src/plugins.ts
  packages/dashboard-starter/vite.config.ts
  packages/dashboard-ui/.changeset/config.json
  packages/dashboard-ui/LICENSE
  packages/dashboard-ui/package.json
  packages/dashboard/.changeset/config.json
  packages/dashboard/package.json
  scripts/sync-dashboard-starter.mjs
Due: none

Refresh dashboard docs and package READMEs for external readers
  docs/developer/dashboard/customization/navigation.mdx
  docs/developer/dashboard/customization/quickstart.mdx
  docs/developer/dashboard/overview.mdx
  packages/cli/src/commands/plugin.ts
  packages/cli/templates/plugin/README.md.tt
  packages/cli/templates/plugin/packages/dashboard/src/client.ts.tt
  packages/create-spree-app/README.md
  packages/dashboard-core/README.md
  packages/dashboard-starter/README.md
  packages/dashboard-ui/README.md
  packages/dashboard/README.md
Due: none

Apply review-round fixes from the branch code review
  docs/developer/dashboard/customization/routes.mdx
  packages/cli/src/commands/plugin.ts
  packages/dashboard-core/src/vite/discover.ts
  packages/dashboard/src/vite/index.ts
Due: none

Fix runtime-breaking errors in the dashboard docs
  docs/developer/dashboard/concepts.mdx
  docs/developer/dashboard/customization/backend.mdx
  docs/developer/dashboard/customization/permissions.mdx
  docs/developer/dashboard/customization/slots.mdx
  docs/developer/dashboard/customization/translations.mdx
  docs/developer/dashboard/plugins/overview.mdx
  docs/developer/dashboard/plugins/publishing.mdx
  docs/developer/dashboard/plugins/scaffolding.mdx
  docs/developer/dashboard/public-api.mdx
  docs/developer/dashboard/recipes/custom-form-field.mdx
  docs/developer/dashboard/recipes/page-action-button.mdx
  docs/developer/dashboard/recipes/sidebar-widget.mdx
  packages/cli/templates/plugin/packages/dashboard/package.json.tt
Due: none

Teach the two real custom-form-field flows in the docs
  docs/developer/dashboard/customization/quickstart.mdx
  docs/developer/dashboard/customization/slots.mdx
  docs/developer/dashboard/public-api.mdx
  docs/developer/dashboard/recipes/custom-form-field.mdx
  docs/developer/dashboard/slots-catalog.mdx
Due: none

Let extension fields join built-in forms' save cycle
  packages/dashboard-core/README.md
  packages/dashboard-core/src/hooks/use-host-form.ts
  packages/dashboard-core/src/index.ts
  packages/dashboard-core/src/lib/custom-field-components.ts
  packages/dashboard-core/src/lib/form-fields-registry.ts
  packages/dashboard-core/src/plugin.ts
  packages/dashboard-core/tests/custom-field-components.test.ts
  packages/dashboard-core/tests/form-fields-registry.test.ts
  packages/dashboard/src/components/spree/custom-fields/custom-fields-inline.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/categories/$categoryId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/categories/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
Due: none

Add the attribute-end-to-end recipe
  docs/developer/dashboard/recipes/attribute-end-to-end.mdx
  docs/developer/dashboard/recipes/custom-form-field.mdx
  docs/docs.json
Due: none

Embed the dashboard-starter template in the @spree/cli tarball
  .github/workflows/packages.yml
  .gitignore
  CLAUDE.md
  docs/developer/dashboard/customization/quickstart.mdx
  docs/plans/5.6-project-layout-and-dashboard.md
  packages/cli/.changeset/add-dashboard-and-plugin-scaffold.md
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/constants.ts
  packages/cli/tests/add-dashboard.test.ts
  packages/create-spree-app/.changeset/dashboard-scaffold-phase.md
  packages/create-spree-app/src/constants.ts
  packages/create-spree-app/src/dashboard.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/env.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/templates.test.ts
  packages/dashboard-starter/README.md
  scripts/sync-dashboard-starter.mjs
Due: none

Default new create-spree-app projects to pnpm
  packages/create-spree-app/.changeset/dashboard-scaffold-phase.md
  packages/create-spree-app/src/dashboard.ts
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/src/utils.ts
  packages/create-spree-app/tests/scaffold.test.ts
  packages/create-spree-app/tests/templates.test.ts
  packages/create-spree-app/tests/utils.test.ts
Due: none

Register the dashboard in the project's Render Blueprint
  docs/developer/dashboard/deployment.mdx
  docs/docs.json
  packages/cli/src/commands/add.ts
  packages/cli/tests/add-dashboard.test.ts
Due: none

Fix a small issue in spree
  AGENTS.md
  docs/api-reference/store-api/migrating-from-storefront-api-v2.mdx
  docs/api-reference/storefront/authentication.mdx
  docs/api-reference/tutorials/adyen-integration-guide-for-android.mdx
  docs/api-reference/tutorials/adyen-integration-guide-for-ios.mdx
  docs/api-reference/v2/fetching-multiple-resources.mdx
Due: none

Serve the dashboard from the Spree server: single-node by default
  docs/developer/dashboard/deployment.mdx
  docs/plans/5.6-project-layout-and-dashboard.md
  packages/cli/src/commands/add.ts
  packages/cli/tests/add-dashboard.test.ts
  packages/dashboard-starter/src/main.tsx
  packages/dashboard-starter/vite.config.ts
  packages/dashboard/src/create-router.ts
  packages/dashboard/src/main.tsx
  packages/dashboard/vite.config.ts
  spree/api/app/controllers/spree/api/dashboard_app_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/requests/spree/api/dashboard_app_spec.rb
  spree/core/lib/spree/core/configuration.rb
Due: core, api, Core, API

Extract the dashboard host into a spree_dashboard gem
  .github/workflows/tests.yml
  CLAUDE.md
  docs/developer/dashboard/deployment.mdx
  docs/plans/5.6-project-layout-and-dashboard.md
  spree/Rakefile
  spree/api/config/routes.rb
  spree/core/lib/spree/core/configuration.rb
  spree/dashboard/Gemfile
  spree/dashboard/README.md
  spree/dashboard/Rakefile
  spree/dashboard/app/controllers/spree/dashboard/app_controller.rb
  spree/dashboard/config/routes.rb
  spree/dashboard/lib/spree/dashboard.rb
  spree/dashboard/lib/spree/dashboard/engine.rb
  spree/dashboard/lib/spree_dashboard.rb
  spree/dashboard/spec/requests/spree/dashboard/app_spec.rb
  spree/dashboard/spec/spec_helper.rb
  spree/dashboard/spree_dashboard.gemspec
Due: core, api, Core

Add spree build --production with customized-dashboard baking
  docs/developer/dashboard/deployment.mdx
  docs/plans/5.6-project-layout-and-dashboard.md
  packages/cli/src/commands/build.ts
  packages/cli/tests/build-production.test.ts
  packages/create-spree-app/src/templates/readme.ts
Due: none

Keep the store content locale in request state, not I18n.default_locale
  spree/admin/app/controllers/concerns/spree/admin/locale_concern.rb
  spree/admin/app/controllers/spree/admin/base_controller.rb
  spree/admin/app/controllers/spree/admin/user_sessions_controller.rb
  spree/admin/spec/controllers/spree/admin/base_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/user_sessions_controller_spec.rb
  spree/admin/spec/spec_helper.rb
  spree/api/app/controllers/concerns/spree/api/v3/locale_and_currency.rb
  spree/api/app/services/spree/api/v3/filters_aggregator.rb
  spree/core/app/models/concerns/spree/presentation_translatable.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/policy.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/app/models/spree/taxonomy.rb
  spree/core/lib/mobility/plugins/store_based_fallbacks.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/controller_helpers/locale.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/lib/spree/content_locale_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/locale_spec.rb
  spree/core/spec/models/spree/current_spec.rb
Due: core, api, admin, Core, API, Admin

Update CLAUDE.md
  CLAUDE.md
Due: none

Keep the store content locale in request state, not I18n.default_locale (#14298)
  CLAUDE.md
  spree/admin/app/controllers/concerns/spree/admin/locale_concern.rb
  spree/admin/app/controllers/spree/admin/base_controller.rb
  spree/admin/app/controllers/spree/admin/user_sessions_controller.rb
  spree/admin/spec/controllers/spree/admin/base_controller_spec.rb
  spree/admin/spec/controllers/spree/admin/user_sessions_controller_spec.rb
  spree/admin/spec/spec_helper.rb
  spree/api/app/controllers/concerns/spree/api/v3/locale_and_currency.rb
  spree/api/app/services/spree/api/v3/filters_aggregator.rb
  spree/core/app/models/concerns/spree/presentation_translatable.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/policy.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/app/models/spree/taxonomy.rb
  spree/core/lib/mobility/plugins/store_based_fallbacks.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/controller_helpers/locale.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/lib/spree/content_locale_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/locale_spec.rb
  spree/core/spec/models/spree/current_spec.rb
Due: core, api, admin, Core, API, Admin

docs(plans): record Phase 3 de-rule, brand removal, and taxon→category cleanup
  docs/plans/6.0-replace-taxons-with-categories.md
Due: none

Make deleting variants in rails admin safer
  spree/admin/app/javascript/spree/admin/controllers/variants_form_controller.js
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
  spree/core/app/services/spree/products/prepare_nested_attributes.rb
  spree/core/lib/spree/core/controller_helpers/strong_parameters.rb
  spree/core/spec/services/spree/products/prepare_nested_attributes_spec.rb
Due: core, admin, Core, Admin

feat(core): add taxons→categories/collections data migration task
  spree/core/lib/tasks/categories_and_collections.rake
  spree/core/spec/lib/tasks/categories_and_collections_spec.rb
Due: core, Core

docs(plans): record Phase 4 data migration (taxon sever + string backfill)
  docs/plans/6.0-replace-taxons-with-categories.md
Due: none

fixup! Make deleting variants in rails admin safer
  spree/core/app/services/spree/products/prepare_nested_attributes.rb
  spree/core/spec/services/spree/products/prepare_nested_attributes_spec.rb
Due: core, Core

Make deleting variants in rails admin safer (#14299)
  spree/admin/app/javascript/spree/admin/controllers/variants_form_controller.js
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
  spree/core/app/services/spree/products/prepare_nested_attributes.rb
  spree/core/lib/spree/core/controller_helpers/strong_parameters.rb
  spree/core/spec/services/spree/products/prepare_nested_attributes_spec.rb
Due: core, admin, Core, Admin

Serve the hosted dashboard from the dev server via pnpm server:*
  CLAUDE.md
  package.json
  scripts/docker-compose.edge.yml
  scripts/server-setup.sh
Due: none

Address PR review: release ordering, turbo edge, CodeQL hardening
  .github/workflows/packages.yml
  docs/api-reference/admin-api/endpoints.mdx
  docs/developer/dashboard/overview.mdx
  docs/developer/dashboard/recipes/attribute-end-to-end.mdx
  docs/docs.json
  packages/dashboard-plugin-example/package.json
  pnpm-lock.yaml
  spree/dashboard/app/controllers/spree/dashboard/app_controller.rb
Due: none

Complete the npm release ordering chain with admin-sdk
  .github/workflows/packages.yml
Due: none

Gate create-spree-app release on the CLI release
  .github/workflows/packages.yml
Due: none
