Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Add order routing strategy/rule registries with model validation
  docs/developer/how-to/custom-order-routing.mdx
  docs/plans/6.0-order-routing.md
  spree/admin/app/helpers/spree/admin/channels_helper.rb
  spree/admin/config/locales/en.yml
  spree/core/app/models/spree/channel.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_routing/has_strategy_preference.rb
  spree/core/app/models/spree/order_routing/strategy/base.rb
  spree/core/app/models/spree/order_routing_rule.rb
  spree/core/app/models/spree/store.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/channel_spec.rb
  spree/core/spec/models/spree/order_routing/strategy/base_spec.rb
  spree/core/spec/models/spree/order_routing_rule_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, admin, Core, Admin

Expose Spree.order_routing_strategies / Spree.order_routing_rules accessors
  docs/developer/how-to/custom-order-routing.mdx
  docs/plans/6.0-order-routing.md
  spree/core/app/models/spree/order_routing/strategy/base.rb
  spree/core/app/models/spree/order_routing_rule.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/models/spree/channel_spec.rb
  spree/core/spec/models/spree/order_routing/strategy/base_spec.rb
  spree/core/spec/models/spree/order_spec.rb
Due: core, Core

Extract Spree::OrderRouting::Registrable concern to dedup registry lookup
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_routing/registrable.rb
  spree/core/app/models/spree/order_routing/strategy/base.rb
  spree/core/app/models/spree/order_routing_rule.rb
  spree/core/config/locales/en.yml
Due: core, Core

Seed order routing registries before app initializers
  spree/core/lib/spree/core/engine.rb
Due: core, Core

Nest order routing registries under Spree.order_routing
  docs/developer/how-to/custom-order-routing.mdx
  docs/plans/6.0-order-routing.md
  spree/core/app/models/spree/order_routing/registrable.rb
  spree/core/app/models/spree/order_routing/strategy/base.rb
  spree/core/app/models/spree/order_routing_rule.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/channel_spec.rb
  spree/core/spec/models/spree/order_routing/strategy/base_spec.rb
  spree/core/spec/models/spree/order_spec.rb
Due: core, Core

Fix Mintlify MDX compile of order-routing plan; use Spree.t for strategy label
  docs/plans/6.0-order-routing.md
  spree/core/app/models/spree/order_routing/strategy/base.rb
Due: core, Core

Drop Registrable concern; read Spree.order_routing.{strategies,rules} directly
  docs/plans/6.0-order-routing.md
  spree/admin/app/helpers/spree/admin/channels_helper.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_routing/has_strategy_preference.rb
  spree/core/app/models/spree/order_routing/registrable.rb
  spree/core/app/models/spree/order_routing/strategy/base.rb
  spree/core/app/models/spree/order_routing_rule.rb
  spree/core/spec/models/spree/order_routing/strategy/base_spec.rb
  spree/core/spec/models/spree/order_routing_rule_spec.rb
Due: core, admin, Core, Admin

Add `spree upgrade` with per-version upgrade manifests
  docs/developer/upgrades/5.4-to-5.5.mdx
  packages/cli/.changeset/cli-upgrade-command.md
  packages/cli/src/commands/upgrade.ts
  packages/cli/src/index.ts
  spree/core/lib/spree/upgrades/5_4_to_5_5/manifest.yml
  spree/core/lib/tasks/upgrade.rake
Due: core, Core

Order routing strategy & rule registries with allowlist validation (#14142)
  docs/developer/how-to/custom-order-routing.mdx
  docs/plans/6.0-order-routing.md
  spree/admin/app/helpers/spree/admin/channels_helper.rb
  spree/admin/config/locales/en.yml
  spree/core/app/models/spree/channel.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/order_routing/has_strategy_preference.rb
  spree/core/app/models/spree/order_routing/strategy/base.rb
  spree/core/app/models/spree/order_routing_rule.rb
  spree/core/app/models/spree/store.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/channel_spec.rb
  spree/core/spec/models/spree/order_routing/strategy/base_spec.rb
  spree/core/spec/models/spree/order_routing_rule_spec.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, admin, Core, Admin

Improve docker for local dev
  .claude/settings.local.json
  package.json
  scripts/docker-compose.edge.yml
  scripts/server-setup.sh
Due: none

Add `spree restart` command and improve the monorepo workflow
  .github/CONTRIBUTING.md
  CLAUDE.md
  docker-compose.yml
  package.json
  packages/cli/src/commands/restart.ts
  packages/cli/src/commands/upgrade.ts
  packages/cli/src/index.ts
  packages/dashboard/README.md
  pnpm-lock.yaml
Due: none

upgrade task fixes
  spree/core/lib/spree/upgrades/5_4_to_5_5/manifest.yml
  spree/core/lib/tasks/upgrade.rake
Due: core, Core

Extend `spree:model` generator with Spree conventions
  spree/core/lib/generators/spree/model/model_generator.rb
  spree/core/lib/generators/spree/model/templates/create_table_migration.rb.tt
  spree/core/lib/generators/spree/model/templates/model.rb.tt
Due: none

Add `spree:api_resource` generator for v3-conformant API resources
  scripts/docker-compose.edge.yml
  spree/core/lib/generators/spree/api_resource/api_resource_generator.rb
  spree/core/lib/generators/spree/api_resource/templates/admin_controller.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/admin_controller_spec.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/admin_serializer.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/factory.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/store_aliased_serializer.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/store_controller.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/store_controller_spec.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/store_serializer.rb.tt
Due: none

reference new agent skills
  docs/plans/5.5-agent-skills.md
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/claude-md.ts
Due: none

Address PR #14123 review comments
  .claude/settings.local.json
  docs/developer/cli/quickstart.mdx
  docs/developer/upgrades/5.4-to-5.5.mdx
  docs/plans/5.5-agent-skills.md
  docs/plans/spree-dev-cli-and-generators.md
  package.json
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/restart.ts
  packages/cli/src/commands/routes.ts
  packages/cli/src/commands/upgrade.ts
  packages/cli/src/index.ts
  spree/core/lib/generators/spree/api_resource/api_resource_generator.rb
  spree/core/lib/generators/spree/model/model_generator.rb
  spree/core/lib/generators/spree/model/templates/model.rb.tt
Due: none

Added controller decorator generator
  docs/developer/customization/decorators.mdx
  spree/core/lib/generators/spree/controller_decorator/controller_decorator_generator.rb
  spree/core/lib/generators/spree/controller_decorator/templates/controller_decorator.rb.tt
Due: none

Address PR #14123 review comments (round 2)
  CLAUDE.md
  docs/plans/spree-dev-cli-and-generators.md
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/db.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/generate.ts
  packages/cli/src/commands/migrate.ts
  packages/cli/src/commands/restart.ts
  packages/cli/src/commands/routes.ts
  packages/cli/src/commands/upgrade.ts
  scripts/server-setup.sh
  spree/core/lib/generators/spree/api_resource/api_resource_generator.rb
  spree/core/lib/generators/spree/api_resource/templates/admin_controller.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/store_controller.rb.tt
  spree/core/lib/generators/spree/api_resource/templates/store_serializer.rb.tt
  spree/core/lib/generators/spree/model/model_generator.rb
  spree/core/lib/generators/spree/model/templates/create_table_migration.rb.tt
  spree/core/lib/generators/spree/model/templates/model.rb.tt
  spree/core/lib/tasks/upgrade.rake
  spree/core/spec/lib/generators/spree/api_resource/api_resource_generator_spec.rb
  spree/core/spec/lib/generators/spree/model/model_generator_spec.rb
Due: core, Core

Print nice output for spree migrate command
  packages/cli/src/commands/migrate.ts
Due: none

Fixed docs around API headers and events with prefix IDs
  docs/api-reference/store-api/errors.mdx
  docs/api-reference/store-api/idempotency.mdx
  docs/developer/contributing/creating-an-extension.mdx
  docs/developer/core-concepts/addresses.mdx
  docs/developer/core-concepts/adjustments.mdx
  docs/developer/core-concepts/customers.mdx
  docs/developer/core-concepts/events.mdx
  docs/developer/core-concepts/markets.mdx
  docs/developer/core-concepts/media.mdx
  docs/developer/core-concepts/orders.mdx
  docs/developer/core-concepts/pricing.mdx
  docs/developer/core-concepts/products.mdx
  docs/developer/core-concepts/promotions.mdx
  docs/developer/core-concepts/search-filtering.mdx
  docs/developer/core-concepts/shipments.mdx
  docs/developer/core-concepts/slugs.mdx
  docs/developer/core-concepts/stores.mdx
  docs/developer/core-concepts/translations.mdx
  docs/developer/core-concepts/users.mdx
  docs/developer/customization/checkout.mdx
  docs/developer/customization/decorators.mdx
  docs/developer/customization/quickstart.mdx
  docs/developer/deployment/environment_variables.mdx
  docs/developer/sdk/store/markets.mdx
  docs/developer/tutorial/extending-models.mdx
Due: none

Fixed factory generation in api_resource generator
  spree/core/lib/generators/spree/api_resource/api_resource_generator.rb
  spree/core/spec/lib/generators/spree/api_resource/api_resource_generator_spec.rb
Due: none

Update 5.5-agent-skills.md
  docs/plans/5.5-agent-skills.md
Due: none

Streamline local dev in monorepo and new create-spree-app apps
  .github/CONTRIBUTING.md
  CLAUDE.md
  docs/developer/cli/quickstart.mdx
  docs/developer/contributing/developing-spree.mdx
  docs/developer/create-spree-app/quickstart.mdx
  package.json
  packages/cli/.changeset/cli-hot-path-wrappers.md
  packages/cli/README.md
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/context.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/dashboard/README.md
  scripts/server-setup.sh
Due: none

Fixed model generator with polymorphic belongs_to association
  spree/core/lib/generators/spree/api_resource/templates/factory.rb.tt
  spree/core/spec/lib/generators/spree/api_resource/api_resource_generator_spec.rb
Due: none

Improve upgrading experience
  docs/developer/upgrades/5.4-to-5.5.mdx
  packages/cli/src/commands/upgrade.ts
  packages/cli/tests/upgrade.test.ts
Due: none

Bump spree to 5.5.0.rc1
  spree/core/lib/spree/core/version.rb
Due: core, Core

Admin: translate nav sections
  spree/admin/app/helpers/spree/admin/navigation_helper.rb
  spree/admin/config/initializers/spree_admin_navigation.rb
  spree/admin/config/locales/en.yml
  spree/admin/spec/helpers/spree/admin/navigation_helper_spec.rb
Due: admin, Admin

Added Sales Channels documentation
  docs/user/settings/sales-channels.mdx
Due: none

Create Sales Channels image folder
  docs/images/user/settings/sales-channels/placeholder
Due: none

Uploaded Sales Channels screenshots
  docs/images/user/settings/sales-channels/1-sales-channels-overview.png
  docs/images/user/settings/sales-channels/2-new-sales-channel.png
  docs/images/user/settings/sales-channels/3-product-publishing-card.png
  docs/images/user/settings/sales-channels/4-manage-channels.png
  docs/images/user/settings/sales-channels/5-channel-scheduling.png
  docs/images/user/settings/sales-channels/6-orders-list-channel-column.png
  docs/images/user/settings/sales-channels/7-order-details-channel.png
Due: none

Delete docs/images/user/settings/sales-channels/placeholder
  docs/images/user/settings/sales-channels/placeholder
Due: none

Add sales-channels to user settings
  docs/docs.json
Due: none

`spree dev` now runs the app in the foreground like every other dev server
  .claude/settings.local.json
  .github/CONTRIBUTING.md
  CLAUDE.md
  docs/developer/contributing/developing-spree.mdx
  package.json
  packages/cli/.changeset/cli-dev-foreground-and-resilience.md
  packages/cli/src/commands/bundle.ts
  packages/cli/src/docker.ts
  scripts/docker-compose.edge.yml
  scripts/server-build.sh
Due: none

fixes
  packages/cli/src/docker.ts
  scripts/docker-compose.edge.yml
  scripts/server-setup.sh
Due: none

fixes
  packages/cli/src/docker.ts
  scripts/docker-compose.edge.yml
Due: none

Update docker-compose.edge.yml
  scripts/docker-compose.edge.yml
Due: none

`spree dev` now runs the app in the foreground like every other dev s… (#14146)
  .claude/settings.local.json
  .github/CONTRIBUTING.md
  CLAUDE.md
  docs/developer/contributing/developing-spree.mdx
  package.json
  packages/cli/.changeset/cli-dev-foreground-and-resilience.md
  packages/cli/src/commands/bundle.ts
  packages/cli/src/docker.ts
  scripts/docker-compose.edge.yml
  scripts/server-build.sh
  scripts/server-setup.sh
Due: none

Added agentic development docs + updated tutorial
  .github/CONTRIBUTING.md
  docs/api-reference/admin-api/introduction.mdx
  docs/developer/agentic/agent-skills.mdx
  docs/developer/agentic/llm-docs.mdx
  docs/developer/agentic/mcp.mdx
  docs/developer/agentic/overview.mdx
  docs/developer/contributing/developing-spree.mdx
  docs/developer/customization/api.mdx
  docs/developer/sdk/extending.mdx
  docs/developer/tutorial/admin.mdx
  docs/developer/tutorial/api.mdx
  docs/developer/tutorial/extending-models.mdx
  docs/developer/tutorial/file-uploads.mdx
  docs/developer/tutorial/introduction.mdx
  docs/developer/tutorial/model.mdx
  docs/developer/tutorial/rich-text.mdx
  docs/developer/tutorial/sdk.mdx
  docs/developer/tutorial/testing.mdx
  docs/docs.json
  docs/plans/5.5-agent-skills.md
Due: none

advertise agent skills in docs
  docs/developer/cli/quickstart.mdx
  docs/developer/getting-started/quickstart.mdx
  docs/developer/sdk/quickstart.mdx
  docs/index.mdx
Due: none

Added subscriber generator and added a dedicated
  docs/developer/cli/quickstart.mdx
  docs/developer/core-concepts/events.mdx
  docs/developer/customization/checkout.mdx
  docs/developer/customization/decorators.mdx
  docs/developer/customization/quickstart.mdx
  docs/developer/tutorial/admin.mdx
  docs/developer/tutorial/api.mdx
  docs/developer/tutorial/events.mdx
  docs/developer/tutorial/extending-models.mdx
  docs/developer/tutorial/introduction.mdx
  docs/developer/tutorial/model.mdx
  docs/developer/tutorial/testing.mdx
  docs/docs.json
  spree/core/lib/generators/spree/subscriber/subscriber_generator.rb
  spree/core/lib/generators/spree/subscriber/templates/subscriber.rb.tt
  spree/core/lib/generators/spree/subscriber/templates/subscriber_spec.rb.tt
  spree/core/spec/lib/generators/spree/subscriber/subscriber_generator_spec.rb
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
