Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Added Translations screenshots via upload
  docs/images/user/products/translations/1-translations-overview.png
  docs/images/user/products/translations/2-coverage-table.png
  docs/images/user/products/translations/3-product-grid.png
  docs/images/user/products/translations/4-translation-drawer.png
  docs/images/user/products/translations/5-export-modal.png
  docs/images/user/products/translations/6-import-panel.png
Due: none

Delete docs/images/user/products/translations/placeholder
  docs/images/user/products/translations/placeholder
Due: none

Fix image paths in translations.mdx
  docs/user/manage-products/translations.mdx
Due: none

Add multi-currency import/export documentation
  docs/user/manage-products/multi-currency-import-export.mdx
Due: none

Create Multi-Currency imports image folder
  docs/images/user/products/multi-currency-import-export/placeholder
Due: none

Added multi-currency import screenshots via upload
  docs/images/user/products/multi-currency-import-export/1-export-modal.png
  docs/images/user/products/multi-currency-import-export/2-import-panel.png
Due: none

Delete docs/images/user/products/multi-currency-import-export/placeholder
  docs/images/user/products/multi-currency-import-export/placeholder
Due: none

Add multi-currency import/export and translations endpoints
  docs/docs.json
Due: none

Update export-products.mdx with multi-currency note
  docs/user/manage-products/export-products.mdx
Due: none

Delete docs/images/user/products/export-products/3.download_link.png
  docs/images/user/products/export-products/3.download_link.png
Due: none

Add note about multi-currency import/export
  docs/user/manage-products/import-products.mdx
Due: none

Expand sample zones, shipping methods, and markets to cover all continents
  spree/core/app/services/spree/seeds/zones.rb
  spree/core/db/sample_data/markets.rb
  spree/core/db/sample_data/shipping_methods.rb
Due: core, Core

Rename Latin America sample market to South America
  spree/core/db/sample_data/markets.rb
Due: core

Dedupe overlapping zone countries across sample markets
  spree/core/db/sample_data/markets.rb
Due: core

Fix promotion start/end time to respect store timezone
  spree/admin/app/controllers/spree/admin/promotions_controller.rb
  spree/admin/app/views/spree/admin/promotions/form/_settings.html.erb
  spree/admin/spec/controllers/spree/admin/promotions_controller_spec.rb
Due: admin, Admin

fix doubled order canceled event
  spree/core/app/services/spree/orders/cancel.rb
Due: core, Core

remove related spec
  spree/core/spec/models/spree/order_spec.rb
Due: none

keep event in service, remove from state machine
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/orders/cancel.rb
  spree/core/spec/models/spree/order_spec.rb
Due: core, Core

Remove broken remove_transition that skips confirm step
  spree/core/app/models/spree/order.rb
  spree/core/spec/models/spree/order/checkout_spec.rb
Due: core, Core

remove redundant model spec from emails directory
  spree/emails/spec/models/spree/order_spec.rb
Due: none

Fix Cart::Update#filter_order_items TypeError on Array line_items_attributes
  spree/core/app/services/spree/cart/update.rb
  spree/core/spec/services/spree/cart/update_spec.rb
Due: core, Core

Add #9718 regression test via OrderContents#update_cart
  spree/core/spec/models/spree/order_contents_spec.rb
Due: none

Extract timezone handling to BaseController and apply to Products
  spree/admin/app/controllers/spree/admin/base_controller.rb
  spree/admin/app/controllers/spree/admin/products_controller.rb
  spree/admin/app/controllers/spree/admin/promotions_controller.rb
  spree/admin/app/views/spree/admin/products/form/_status.html.erb
  spree/admin/app/views/spree/admin/promotions/form/_settings.html.erb
  spree/admin/config/locales/en.yml
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
Due: admin, Admin

Normalize filter_order_items input to indifferent access
  spree/core/app/services/spree/cart/update.rb
  spree/core/spec/services/spree/cart/update_spec.rb
Due: core, Core

Add final_price, display_final_price, and free to DeliveryRate and Fulfillment serializers
  packages/admin-sdk/src/types/generated/DeliveryRate.ts
  packages/admin-sdk/src/types/generated/Fulfillment.ts
  packages/sdk/src/types/generated/DeliveryRate.ts
  packages/sdk/src/types/generated/Fulfillment.ts
  packages/sdk/src/zod/generated/DeliveryRate.ts
  packages/sdk/src/zod/generated/Fulfillment.ts
  spree/api/app/serializers/spree/api/v3/delivery_rate_serializer.rb
  spree/api/app/serializers/spree/api/v3/fulfillment_serializer.rb
  spree/api/spec/serializers/spree/api/v3/delivery_rate_serializer_spec.rb
  spree/api/spec/serializers/spree/api/v3/fulfillment_serializer_spec.rb
Due: api, API

Address Copilot review: properly stub adjustment_total in free shipping test
  spree/api/spec/serializers/spree/api/v3/fulfillment_serializer_spec.rb
Due: none

Fix locale leak in admin base controller spec
  spree/admin/spec/controllers/spree/admin/base_controller_spec.rb
Due: none

SDK docs fixes: use `media` instead of `images` and `custom_fields` instead of `metafields`
  docs/api-reference/store-api/authentication.mdx
  docs/api-reference/store-api/errors.mdx
  docs/api-reference/store-api/idempotency.mdx
  docs/api-reference/store-api/introduction.mdx
  docs/api-reference/store-api/localization.mdx
  docs/api-reference/store-api/metadata.mdx
  docs/api-reference/store-api/querying.mdx
  docs/api-reference/store-api/rate-limitting.mdx
  docs/api-reference/store-api/relations.mdx
  docs/api-reference/webhooks-events.mdx
  docs/developer/core-concepts/addresses.mdx
  docs/developer/core-concepts/adjustments.mdx
  docs/developer/core-concepts/customers.mdx
  docs/developer/core-concepts/events.mdx
  docs/developer/core-concepts/markets.mdx
  docs/developer/core-concepts/media.mdx
  docs/developer/core-concepts/metafields.mdx
  docs/developer/core-concepts/orders.mdx
  docs/developer/core-concepts/pricing.mdx
  docs/developer/core-concepts/products.mdx
  docs/developer/core-concepts/promotions.mdx
  docs/developer/core-concepts/search-filtering.mdx
  docs/developer/core-concepts/shipments.mdx
  docs/developer/core-concepts/slugs.mdx
  docs/developer/core-concepts/stores.mdx
  docs/developer/core-concepts/translations.mdx
  docs/developer/core-concepts/users.mdx
  docs/developer/customization/metadata.mdx
  docs/developer/sdk/admin/quickstart.mdx
  docs/developer/sdk/configuration.mdx
  docs/developer/sdk/quickstart.mdx
  docs/developer/sdk/store/markets.mdx
  docs/snippets/store-api/sdk-client-setup.mdx
  packages/sdk/README.md
Due: none

Fix core dependencies spec to use cart_add_item_service instead of removed cart_create_service
  spree/core/spec/models/spree/app_dependencies_spec.rb
Due: none

Remove deprecated helper methods scheduled for removal in 5.5/6.0
  spree/admin/app/helpers/spree/admin/base_helper.rb
  spree/admin/app/helpers/spree/admin/modal_helper.rb
  spree/admin/app/helpers/spree/admin/navigation_helper.rb
  spree/admin/app/helpers/spree/admin/turbo_helper.rb
  spree/admin/app/views/spree/admin/shared/_modal.html.erb
  spree/core/app/helpers/spree/base_helper.rb
  spree/core/app/helpers/spree/currency_helper.rb
  spree/core/app/helpers/spree/products_helper.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/controller_helpers/auth.rb
  spree/core/lib/spree/core/controller_helpers/common.rb
  spree/core/lib/spree/core/controller_helpers/currency.rb
  spree/core/lib/spree/core/controller_helpers/order.rb
  spree/core/lib/spree/core/token_generator.rb
  spree/core/lib/spree/database_type_utilities.rb
  spree/core/lib/spree/webhooks.rb
  spree/core/spec/helpers/base_helper_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/order_spec.rb
  spree/emails/app/helpers/spree/mail_helper.rb
Due: core, admin, emails, Core, Admin, Emails

Fix CI: update VariantPresenter to inline price logic, remove leftover specs
  spree/core/app/presenters/spree/variant_presenter.rb
  spree/core/spec/helpers/currency_helper_spec.rb
  spree/core/spec/lib/spree/core/token_generator_spec.rb
Due: core, Core

Remove deprecated helper methods (5.5/6.0) (#13908)
  spree/admin/app/helpers/spree/admin/base_helper.rb
  spree/admin/app/helpers/spree/admin/modal_helper.rb
  spree/admin/app/helpers/spree/admin/navigation_helper.rb
  spree/admin/app/helpers/spree/admin/turbo_helper.rb
  spree/admin/app/views/spree/admin/shared/_modal.html.erb
  spree/core/app/helpers/spree/base_helper.rb
  spree/core/app/helpers/spree/currency_helper.rb
  spree/core/app/helpers/spree/products_helper.rb
  spree/core/app/presenters/spree/variant_presenter.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/controller_helpers/auth.rb
  spree/core/lib/spree/core/controller_helpers/common.rb
  spree/core/lib/spree/core/controller_helpers/currency.rb
  spree/core/lib/spree/core/controller_helpers/order.rb
  spree/core/lib/spree/core/token_generator.rb
  spree/core/lib/spree/database_type_utilities.rb
  spree/core/lib/spree/webhooks.rb
  spree/core/spec/helpers/base_helper_spec.rb
  spree/core/spec/helpers/currency_helper_spec.rb
  spree/core/spec/lib/spree/core/controller_helpers/order_spec.rb
  spree/core/spec/lib/spree/core/token_generator_spec.rb
  spree/emails/app/helpers/spree/mail_helper.rb
Due: core, admin, emails, Core, Admin, Emails

Remove remaining deprecated model methods, concerns, and services
  spree/admin/app/helpers/spree/admin/orders_helper.rb
  spree/core/app/models/concerns/spree/image_methods.rb
  spree/core/app/models/concerns/spree/metadata.rb
  spree/core/app/models/concerns/spree/number_as_param.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/concerns/spree/user_roles.rb
  spree/core/app/models/spree/ability.rb
  spree/core/app/models/spree/address.rb
  spree/core/app/models/spree/option_type.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/promotion/rules/product.rb
  spree/core/app/models/spree/promotion/rules/taxon.rb
  spree/core/app/models/spree/promotion/rules/user.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/store_credit.rb
  spree/core/app/models/spree/taxon.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/addresses/update.rb
  spree/core/app/services/spree/checkout/advance.rb
  spree/core/app/services/spree/checkout/select_shipping_method.rb
  spree/core/lib/spree/core/controller_helpers/auth.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/ability_spec.rb
  spree/core/spec/models/spree/option_type_spec.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/models/spree/store_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
  spree/core/spec/services/spree/addresses/update_spec.rb
  spree/core/spec/services/spree/checkout/advance_spec.rb
  spree/core/spec/services/spree/checkout/select_shipping_method_spec.rb
Due: core, admin, Core, Admin

Fix CI: safe-navigate Store.default, remove leftover scope/method specs
  spree/admin/spec/controllers/spree/admin/addresses_controller_spec.rb
  spree/core/app/helpers/spree/currency_helper.rb
  spree/core/app/models/concerns/spree/default_price.rb
  spree/core/app/models/concerns/spree/product_scopes.rb
  spree/core/app/models/spree/calculator/flat_rate.rb
  spree/core/app/models/spree/calculator/flexi_rate.rb
  spree/core/app/models/spree/calculator/price_sack.rb
  spree/core/app/models/spree/calculator/shipping/digital_delivery.rb
  spree/core/app/models/spree/calculator/shipping/flat_rate.rb
  spree/core/app/models/spree/calculator/shipping/flexi_rate.rb
  spree/core/app/models/spree/calculator/shipping/per_item.rb
  spree/core/app/models/spree/calculator/shipping/price_sack.rb
  spree/core/app/models/spree/price.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/return_authorization.rb
  spree/core/app/models/spree/return_item.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/seeds/stock_locations.rb
  spree/core/spec/models/spree/product/scopes_spec.rb
Due: core, Core

Fix remaining Store.default nil safety issues
  spree/admin/app/controllers/spree/admin/base_controller.rb
  spree/core/app/services/spree/seeds/stores.rb
  spree/core/lib/spree/core/controller_helpers/currency.rb
  spree/core/lib/spree/money.rb
  spree/core/lib/spree/testing_support/factories/customer_return_factory.rb
  spree/core/lib/spree/testing_support/factories/payment_method_factory.rb
  spree/core/lib/spree/testing_support/factories/promotion_factory.rb
  spree/core/lib/spree/testing_support/factories/wishlist_factory.rb
Due: core, admin, Core, Admin

Remove deprecated DefaultPrice concern entirely
  spree/core/app/models/concerns/spree/default_price.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/variant.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/lib/spree/core/controller_helpers/order.rb
  spree/core/spec/models/spree/product_spec.rb
  spree/core/spec/models/spree/variant_spec.rb
Due: core, Core

add specs
  spree/core/spec/services/spree/orders/cancel_spec.rb
Due: none
