Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Move the media type lists into the engine registry
  CLAUDE.md
  docs/plans/6.0-media-library.md
  docs/plans/decisions.md
  spree/core/app/models/spree/media.rb
  spree/core/app/services/spree/media/usage.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/spec/models/spree/media_spec.rb
  spree/core/spec/models/spree/product_spec.rb
Due: core, Core

Give media its own permission resource
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/plans/6.0-media-library.md
  packages/cli/src/commands/completion.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/media_library_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/media_library_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/media_spec.rb
  spree/core/lib/spree/core/permission_configuration.rb
Due: core, api, Core, API

Scope the media keys to the library alone
  spree/api/app/controllers/spree/api/v3/admin/media_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/media_library_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/media_controller_spec.rb
Due: api, API

bootstrap spree 6 docs
  docs/developer/providers/observability.mdx
Due: none

Remove undefined setup_procfile call from template
  spree/template.rb
Due: none

Remove undefined setup_procfile call from template (#14491)
  spree/template.rb
Due: none

Update plans
  docs/plans/6.0-admin-rbac.md
  docs/plans/6.0-b2b-companies-and-catalogs.md
  docs/plans/6.0-channels-catalogs-b2b.md
  docs/plans/6.0-replace-taxons-with-categories.md
  docs/plans/6.0-store-scoped-configuration.md
  docs/plans/6.0-tax-provider.md
  docs/plans/decisions.md
Due: none

Record what a record is called in other systems
  spree/core/app/models/concerns/spree/has_external_references.rb
  spree/core/app/models/spree/category.rb
  spree/core/app/models/spree/company.rb
  spree/core/app/models/spree/company_location.rb
  spree/core/app/models/spree/external_reference.rb
  spree/core/app/models/spree/order.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/stock_level.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/db/migrate/20260818000001_create_spree_external_references.rb
  spree/core/lib/spree/testing_support/factories/external_reference_factory.rb
  spree/core/spec/models/concerns/spree/has_external_references_spec.rb
  spree/core/spec/models/spree/company_spec.rb
  spree/core/spec/models/spree/external_reference_spec.rb
Due: core, Core

Let a warehouse push its stock levels in
  packages/admin-sdk/examples/stock-levels/bulk-upsert.ts
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_bulk_upsert_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_levels_spec.rb
  spree/core/app/services/spree/stock_levels/bulk_upsert.rb
Due: core, api, Core, API

Show the data source picker even with nothing to switch to
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
Due: none

Record the identities a DAM knows an image by
  packages/admin-sdk/src/types/generated/Media.ts
  packages/sdk/src/types/generated/Media.ts
  packages/sdk/src/zod/generated/Media.ts
  spree/api/app/controllers/spree/api/v3/admin/media_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/media_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/media_controller_spec.rb
  spree/core/app/jobs/spree/images/save_from_url_job.rb
  spree/core/app/models/spree/media.rb
  spree/core/spec/jobs/spree/images/save_from_url_job_spec.rb
Due: core, api, Core, API

Let a merchant pick where prices and stock come from
  packages/admin-sdk/src/types/generated/Store.ts
  packages/dashboard/src/hooks/use-store-settings.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/dashboard/src/schemas/store.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_data_sources_spec.rb
  spree/core/spec/models/concerns/spree/store_data_sources_spec.rb
Due: api, API

Regenerate the API specs for external references and stock feeds
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-channels-catalogs-b2b.md
  docs/plans/6.0-tax-provider.md
  docs/plans/6.0-third-party-pricing-inventory.md
  docs/plans/decisions.md
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
Due: none

Let a store take its prices and stock from elsewhere
  spree/core/app/models/concerns/spree/integration_backed_provider.rb
  spree/core/app/models/concerns/spree/provider_failure_policy.rb
  spree/core/app/models/concerns/spree/store_data_sources.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/inventory_provider/base.rb
  spree/core/app/models/spree/inventory_provider/internal.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/price.rb
  spree/core/app/models/spree/pricing_provider/base.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/models/spree/stock/quantifier.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/variant.rb
  spree/core/app/services/spree/carts/check_availability.rb
  spree/core/app/services/spree/carts/price_items.rb
  spree/core/app/services/spree/carts/update.rb
  spree/core/app/workflows/spree/carts/add_item.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
  spree/core/config/locales/en.yml
  spree/core/db/migrate/20260818000002_add_price_source_to_spree_line_items.rb
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/pricing/price_resolution.rb
  spree/core/lib/spree/core/pricing/resolver.rb
  spree/core/spec/models/spree/inventory_provider_spec.rb
  spree/core/spec/models/spree/pricing_provider/internal_resolution_spec.rb
  spree/core/spec/models/spree/pricing_provider_spec.rb
  spree/core/spec/services/spree/carts/check_availability_spec.rb
  spree/core/spec/services/spree/carts/price_items_spec.rb
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/core/spec/workflows/spree/carts/add_item_pricing_provider_spec.rb
Due: core, Core

Close the gaps a connector finds on the paths it actually uses
  spree/api/app/controllers/spree/api/v3/admin/concerns/external_references.rb
  spree/api/app/controllers/spree/api/v3/admin/media_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/external_references_spec.rb
  spree/core/app/models/spree/media.rb
  spree/core/config/locales/en.yml
Due: core, api, Core, API

Find records by external id through the scope alone
  docs/plans/6.0-third-party-pricing-inventory.md
  packages/admin-sdk/src/types/generated/Media.ts
  packages/sdk/src/types/generated/Media.ts
  packages/sdk/src/zod/generated/Media.ts
  spree/api/app/controllers/spree/api/v3/admin/concerns/external_references.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/external_references_spec.rb
  spree/core/app/jobs/spree/images/save_from_url_job.rb
  spree/core/app/models/concerns/spree/has_external_references.rb
  spree/core/spec/models/concerns/spree/has_external_references_spec.rb
Due: core, api, Core, API

Sweep unbuyable lines when the customer returns, not on every write
  spree/api/app/controllers/concerns/spree/api/v3/cart_resolvable.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_bulk_upsert_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_data_sources_spec.rb
  spree/core/spec/workflows/spree/carts/add_item_pricing_provider_spec.rb
Due: api, API

Count the shelves a feed actually moved
  packages/admin-sdk/src/admin-client.ts
  spree/core/app/services/spree/stock_levels/bulk_upsert.rb
Due: core, Core

Keep a blank restatement from sending the provider into the transaction
  spree/core/app/models/spree/order.rb
  spree/core/app/services/spree/carts/price_items.rb
Due: core, Core

Keep Spree::Pricing::Resolver working for one release
  spree/core/lib/spree/core.rb
  spree/core/lib/spree/core/pricing/resolver.rb
  spree/core/spec/lib/spree/pricing/resolver_spec.rb
Due: core, Core

Say which way a provider failure was resolved
  spree/core/app/models/concerns/spree/provider_failure_policy.rb
  spree/core/app/services/spree/carts/check_availability.rb
  spree/core/lib/spree/core/pricing/price_resolution.rb
Due: core, Core

Fold the feature specs into the files that already cover their subjects
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/store_controller_spec.rb
  spree/core/spec/workflows/spree/carts/add_item_spec.rb
Due: none

State each provider rule once
  spree/api/app/controllers/spree/api/v3/admin/concerns/external_references.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/core/app/models/concerns/spree/has_external_references.rb
  spree/core/app/models/spree/delivery_rate_provider/base.rb
  spree/core/app/models/spree/external_reference.rb
  spree/core/app/models/spree/fulfillment_provider/base.rb
  spree/core/app/services/spree/carts/check_availability.rb
  spree/core/app/services/spree/carts/price_items.rb
  spree/core/app/services/spree/stock_levels/bulk_upsert.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
  spree/core/lib/spree/core/pricing/price_resolution.rb
Due: core, api, Core, API

Let the stock bulk endpoint upsert stock levels and nothing more
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-third-party-pricing-inventory.md
  packages/admin-sdk/examples/stock-levels/bulk-upsert.ts
  packages/admin-sdk/src/params.ts
  packages/cli/src/generated/admin-spec.json
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_levels_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/stock_levels_spec.rb
Due: api, API

Load a request's integrations once, on Spree::Current
  spree/core/app/models/concerns/spree/integration_backed_provider.rb
  spree/core/app/models/concerns/spree/integrations_concern.rb
  spree/core/app/models/spree/current.rb
  spree/core/app/models/spree/integration.rb
  spree/core/spec/models/spree/current_spec.rb
Due: core, Core

Say each pricing and reference rule once more
  spree/api/app/controllers/concerns/spree/api/v3/cart_resolvable.rb
  spree/api/app/controllers/spree/api/v3/admin/categories_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/companies/locations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/companies_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/company_locations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/media_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/resource_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_levels_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/stock_locations_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/variants_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/core/app/jobs/spree/images/save_from_url_job.rb
  spree/core/app/models/concerns/spree/has_external_references.rb
  spree/core/app/models/concerns/spree/integration_backed_provider.rb
  spree/core/app/models/spree/external_reference.rb
  spree/core/app/models/spree/inventory_provider/base.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/pricing_provider/base.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/app/services/spree/carts/check_availability.rb
  spree/core/app/services/spree/carts/price_items.rb
  spree/core/app/workflows/spree/carts/add_item.rb
  spree/core/app/workflows/spree/carts/upsert_items.rb
Due: core, api, Core, API

Clean up everything the concurrency example commits
  spree/core/spec/models/spree/stock_level_spec.rb
Due: none

Give pricing and inventory sources a card each
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
Due: none

more fixes
  docs/index.mdx
  docs/style.css
Due: none

Build the seller team screen from the operator's staff page
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/seller-dashboard/src/i18n.ts
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/team.tsx
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/Invitation.ts
  spree/api/app/controllers/spree/api/v3/seller/invitations_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/invitation_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/invitations_controller_spec.rb
  spree/api/spec/requests/seller_team_management_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API

Send a seller invitation to the seller panel
  docs/developer/customization/configuration.mdx
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/dashboard-core/src/api-client.ts
  packages/seller-dashboard-starter/src/routeTree.gen.ts
  packages/seller-dashboard/package.json
  packages/seller-dashboard/src/locales/en.json
  packages/seller-dashboard/src/pages/accept-invitation.tsx
  packages/seller-dashboard/src/routeTree.gen.ts
  packages/seller-dashboard/src/routes/accept-invitation.$invitationId.tsx
  packages/seller-dashboard/src/vite/index.ts
  packages/seller-sdk/src/seller-client.ts
  pnpm-lock.yaml
  spree/api/app/controllers/spree/api/v3/seller/invitation_acceptances_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/seller/invitation_acceptances_controller_spec.rb
  spree/api/spec/requests/seller_invitation_flow_spec.rb
  spree/core/app/finders/spree/sellers/panel_url.rb
  spree/core/config/locales/en.yml
  spree/core/config/routes.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/spec/mailers/spree/invitation_mailer_spec.rb
Due: core, api, Core, API

Make the seller panel runnable in a worktree
  CLAUDE.md
  package.json
  scripts/worktree/dev-seller.sh
  scripts/worktree/lib.sh
  spree/core/lib/tasks/seller_sample_data.rake
Due: core, Core

Serve the seller panel at /sellers, like the dashboard
  CLAUDE.md
  docs/developer/customization/configuration.mdx
  docs/plans/6.0-multi-vendor-marketplace.md
  package.json
  packages/seller-dashboard/package.json
  packages/seller-dashboard/src/i18n.ts
  packages/seller-dashboard/src/index.ts
  packages/seller-dashboard/src/pages/team.tsx
  packages/seller-dashboard/src/seller-dashboard.tsx
  pnpm-lock.yaml
  spree/core/app/finders/spree/sellers/panel_url.rb
  spree/core/app/finders/spree/stores/dashboard_url.rb
  spree/core/spec/finders/spree/sellers/panel_url_spec.rb
  spree/dashboard/app/controllers/spree/dashboard/app_controller.rb
  spree/dashboard/app/controllers/spree/dashboard/spa_controller.rb
  spree/dashboard/app/controllers/spree/seller_panel/app_controller.rb
  spree/dashboard/config/routes.rb
  spree/dashboard/lib/spree/dashboard.rb
  spree/dashboard/lib/spree/seller_panel.rb
  spree/dashboard/spec/requests/spree/seller_panel/app_spec.rb
Due: core, Core

Prove the seller CRUD anchor, and make <Can> work on the panel
  packages/seller-dashboard/src/api-client.ts
  packages/seller-sdk/src/index.ts
  packages/seller-sdk/src/seller-client.ts
  packages/seller-sdk/src/types/generated/Category.ts
  packages/seller-sdk/src/types/generated/CustomField.ts
  packages/seller-sdk/src/types/generated/Media.ts
  packages/seller-sdk/src/types/generated/OptionType.ts
  packages/seller-sdk/src/types/generated/OptionValue.ts
  packages/seller-sdk/src/types/generated/Price.ts
  packages/seller-sdk/src/types/generated/PriceHistory.ts
  packages/seller-sdk/src/types/generated/Product.ts
  packages/seller-sdk/src/types/generated/Seller.ts
  packages/seller-sdk/src/types/generated/Variant.ts
  packages/seller-sdk/src/types/generated/index.ts
  spree/api/app/controllers/concerns/spree/api/v3/permission_serialization.rb
  spree/api/app/controllers/spree/api/v3/admin/me_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/me_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/products_controller.rb
  spree/api/app/serializers/spree/api/v3/seller/address_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/product_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/profile_serializer.rb
  spree/api/config/initializers/typelizer.rb
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/seller/me_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/seller/products_controller_spec.rb
Due: api, API

Make the seller panel customisable the way the dashboard is
  docs/plans/6.0-multi-vendor-marketplace.md
  packages/dashboard-core/src/components/app-sidebar.tsx
  packages/dashboard-core/src/providers/store-provider.tsx
  packages/seller-dashboard-starter/src/main.tsx
  packages/seller-dashboard-starter/src/plugins.ts
  packages/seller-dashboard/src/index.ts
  packages/seller-dashboard/src/nav/default.ts
  packages/seller-dashboard/src/pages/team.tsx
  packages/seller-dashboard/src/panel-chrome.tsx
Due: none

Address review findings on the seller panel bootstrap
  packages/seller-dashboard/src/api-client.ts
  packages/seller-dashboard/src/vite/index.ts
  spree/api/app/controllers/spree/api/v3/seller/invitation_acceptances_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/team_controller.rb
  spree/api/spec/controllers/spree/api/v3/seller/team_controller_spec.rb
  spree/core/app/finders/spree/sellers/panel_url.rb
  spree/core/lib/tasks/seller_sample_data.rake
  spree/core/spec/finders/spree/sellers/panel_url_spec.rb
Due: core, api, Core, API

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
