Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Fix nil errors when trying to call `Address#country_iso` without country set
  spree/core/app/models/spree/address.rb
  spree/core/spec/models/spree/address_spec.rb
Due: core, Core

fix changing shipping rate when gift card is applied
  spree/api/app/controllers/spree/api/v3/store/carts/fulfillments_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/fulfillments_controller_spec.rb
Due: api, API

Require pagy >= 43.3 for Pagy::OPTIONS constant
  spree/admin/spree_admin.gemspec
  spree/api/spree_api.gemspec
  spree/core/spree_core.gemspec
Due: core, api, admin

Drop upper bound on pagy dependency
  spree/admin/spree_admin.gemspec
  spree/api/spree_api.gemspec
  spree/core/spree_core.gemspec
Due: core, api, admin

Drop redundant pagy dependency from spree_api and spree_admin
  spree/admin/spree_admin.gemspec
  spree/api/spree_api.gemspec
Due: api, admin

Added paypal guide screenshots via upload
  docs/images/integrations/paypal/1-payment-method-list.png
  docs/images/integrations/paypal/2-setup-form.png
  docs/images/integrations/paypal/3-credentials.png
  docs/images/integrations/paypal/4-additional-settings.png
Due: none

Delete docs/images/integrations/paypal/paypal_credentials.png
  docs/images/integrations/paypal/paypal_credentials.png
Due: none

Delete docs/images/integrations/paypal/paypal_form.png
  docs/images/integrations/paypal/paypal_form.png
Due: none

Delete docs/images/integrations/paypal/paypal_payment_method_list.png
  docs/images/integrations/paypal/paypal_payment_method_list.png
Due: none

Revise PayPal integration documentation for clarity
  docs/integrations/payments/paypal.mdx
Due: none

Added Adyen guide screenshots via upload
  docs/images/integrations/adyen/1-payment-method-list.png
  docs/images/integrations/adyen/2-setup-form.png
  docs/images/integrations/adyen/3-adyen-enabled.png
  docs/images/integrations/adyen/4-additional-settings.png
Due: none

Delete docs/images/integrations/adyen/1.get_started.png
  docs/images/integrations/adyen/1.get_started.png
Due: none

Delete docs/images/integrations/adyen/2.setup_form.png
  docs/images/integrations/adyen/2.setup_form.png
Due: none

Delete docs/images/integrations/adyen/3.adyen_enabled.png
  docs/images/integrations/adyen/3.adyen_enabled.png
Due: none

Delete docs/images/integrations/adyen/4.additional_settings.png
  docs/images/integrations/adyen/4.additional_settings.png
Due: none

Revise Adyen integration documentation for clarity
  docs/integrations/payments/adyen.mdx
Due: none

Corrected Adyen guide screenshots
  docs/images/integrations/adyen/1-payment-method-list.png
  docs/images/integrations/adyen/2-setup-form.png
  docs/images/integrations/adyen/3-adyen-enabled.png
  docs/images/integrations/adyen/4-additional-settings.png
Due: none

Allow payment session lookup by external_id
  spree/api/app/controllers/spree/api/v3/store/carts/payment_sessions_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/payment_sessions_controller_spec.rb
Due: api, API

Fix Postgres 18 volume mount path
  docker-compose.yml
Due: none

make admin line item partial more robust for spree multi vendor
  spree/admin/app/views/spree/admin/orders/_line_item.html.erb
Due: admin, Admin

Fixed Payment Sessions API concurrency issues
  spree/api/app/controllers/spree/api/v3/store/carts/payment_sessions_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/payments_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/payment_sessions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/webhooks/payments_controller_spec.rb
  spree/core/app/models/spree/payment_session.rb
  spree/core/app/services/spree/payments/handle_webhook.rb
  spree/core/db/migrate/20260424000001_add_unique_index_to_spree_payments_response_code.rb
  spree/core/spec/models/spree/payment_session_spec.rb
  spree/core/spec/services/spree/payments/handle_webhook_spec.rb
Due: core, api, Core, API

Update 20260424000001_add_unique_index_to_spree_payments_response_code.rb
  spree/core/db/migrate/20260424000001_add_unique_index_to_spree_payments_response_code.rb
Due: core

make the delay 30s
  spree/api/app/controllers/spree/api/v3/webhooks/payments_controller.rb
  spree/api/spec/controllers/spree/api/v3/webhooks/payments_controller_spec.rb
Due: api, API

fixes
  spree/api/app/controllers/spree/api/v3/store/carts/payment_sessions_controller.rb
  spree/core/app/models/spree/gateway/bogus.rb
  spree/core/app/models/spree/payment.rb
Due: core, api, Core, API

more fixes
  spree/api/spec/serializers/spree/api/v3/payment_serializer_spec.rb
  spree/core/db/sample_data/orders.rb
  spree/core/lib/spree/testing_support/factories/payment_factory.rb
  spree/core/spec/models/spree/order_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
Due: core

Fix payment response_code unique index migration to deduplicate first
  spree/core/db/migrate/20260424000001_add_unique_index_to_spree_payments_response_code.rb
Due: core

Prefer keeping completed payments when deduplicating
  spree/core/db/migrate/20260424000001_add_unique_index_to_spree_payments_response_code.rb
Due: core

Move CreditCard/PaymentSource post destroy cleanup to models/concern
  spree/core/app/models/concerns/spree/payment_source_concern.rb
  spree/core/app/services/spree/credit_cards/destroy.rb
  spree/core/spec/models/spree/credit_card_spec.rb
  spree/core/spec/services/spree/credit_cards/destroy_spec.rb
Due: core, Core

Skip orphaned payments in cleanup callback
  spree/core/app/models/concerns/spree/payment_source_concern.rb
Due: core, Core

Fix admin product lookup failing when user locale differs from store default
  spree/admin/app/controllers/spree/admin/products_controller.rb
  spree/admin/spec/controllers/spree/admin/products_controller_spec.rb
Due: admin, Admin

Fix address id setters nuyllifying existing address on failed ownership check
  spree/core/app/models/spree/order/address_book.rb
  spree/core/spec/models/spree/order_spec.rb
Due: core, Core

Parallel CSV import processing for large files
  spree/admin/app/controllers/spree/admin/imports_controller.rb
  spree/admin/app/subscribers/spree/admin/import_row_subscriber.rb
  spree/admin/app/subscribers/spree/admin/import_subscriber.rb
  spree/admin/app/views/spree/admin/imports/_loader.html.erb
  spree/admin/app/views/spree/admin/imports/show.html.erb
  spree/admin/config/locales/en.yml
  spree/core/app/jobs/spree/imports/process_group_job.rb
  spree/core/app/jobs/spree/imports/process_rows_job.rb
  spree/core/app/models/spree/import.rb
  spree/core/app/models/spree/import_row.rb
  spree/core/app/models/spree/imports/product_translations.rb
  spree/core/app/models/spree/imports/products.rb
  spree/core/app/services/spree/imports/row_processors/base.rb
  spree/core/app/services/spree/imports/row_processors/product_translation.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/db/migrate/20260424100000_add_processing_groups_to_spree_imports.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
  spree/core/spec/jobs/spree/imports/process_rows_job_spec.rb
Due: core, admin, Core, Admin

Fix i18n spec failures: normalize locale file and add missing key
  spree/admin/app/views/spree/admin/imports/_loader.html.erb
  spree/admin/config/locales/en.yml
Due: admin, Admin

Strengthen ProcessGroupJob specs to verify actual product creation
  spree/core/spec/jobs/spree/imports/process_group_job_spec.rb
Due: none

Fix variant lookup for rows with SKU but no options
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Revert "Fix variant lookup for rows with SKU but no options"
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Improve performance of Products API with database adapter for large SKU sets
  spree/api/app/controllers/spree/api/v3/store/products/filters_controller.rb
  spree/api/app/controllers/spree/api/v3/store/products_controller.rb
  spree/api/app/services/spree/api/v3/filters_aggregator.rb
  spree/api/spec/services/spree/api/v3/filters_aggregator_spec.rb
  spree/core/app/models/spree/search_provider/base.rb
  spree/core/app/models/spree/search_provider/database.rb
  spree/core/app/models/spree/search_provider/filters_result.rb
  spree/core/app/models/spree/search_provider/meilisearch.rb
  spree/core/app/models/spree/search_provider/search_result.rb
  spree/core/spec/models/spree/search_provider/database_spec.rb
  spree/core/spec/models/spree/search_provider/meilisearch_spec.rb
Due: core, api, Core, API

Fix postgres 18 volume mount path in docker-compose
  docker-compose.yml
Due: none

Add bulk SKU editing to variants table
  spree/admin/app/controllers/spree/admin/products_controller.rb
  spree/admin/app/javascript/spree/admin/controllers/variants_form_controller.js
  spree/admin/app/views/spree/admin/products/edit.html.erb
  spree/admin/app/views/spree/admin/products/form/_variants.html.erb
  spree/admin/app/views/spree/admin/products/form/variants/_variant_template.html.erb
Due: admin, Admin

Paginate option values in admin option type form
  spree/admin/app/controllers/spree/admin/option_types_controller.rb
  spree/admin/app/views/spree/admin/option_types/_form.html.erb
Due: admin, Admin
