Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  precision: 2
  round: down
  range: "50...90"
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - spree/core/
    carryforward: true
  api:
    paths:
      - spree/api/
    carryforward: true
  admin:
    paths:
      - spree/admin/
    carryforward: true
  emails:
    paths:
      - spree/emails/
    carryforward: true
  rails_support:
    paths:
      - spree/rails_support/
    carryforward: true

component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - spree/core/app/**
        - spree/core/lib/**
    - component_id: api
      name: API
      paths:
        - spree/api/app/**
        - spree/api/lib/**
    - component_id: admin
      name: Admin
      paths:
        - spree/admin/app/**
        - spree/admin/lib/**
    - component_id: emails
      name: Emails
      paths:
        - spree/emails/app/**
        - spree/emails/lib/**
    - component_id: rails_support
      name: Rails Support
      paths:
        - spree/rails_support/app/**
        - spree/rails_support/lib/**

ignore:
  - "docs/**"
  - "packages/**"
  - "**/spec/**"
  - "**/test/**"
  - "**/testing_support/**"
  - "**/generators/**"
  - "**/dummy/**"

Record what the build changed against the MCP design
  docs/plans/6.0-mcp-server.md
Due: none

Derive the injected actor keywords, and stop eager-loading on reload
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/lib/spree/api/agent_write_schemas.rb
  spree/api/lib/spree/api/engine.rb
  spree/api/spec/lib/spree/api/agent_tools_contract_spec.rb
  spree/core/app/tools/spree/agent_tools/get_resource.rb
  spree/core/app/tools/spree/agent_tools/resource_write.rb
  spree/core/app/tools/spree/agent_tools/search_resources.rb
  spree/core/lib/spree/agent_tools/context.rb
  spree/core/lib/spree/agent_tools/record_summary.rb
  spree/core/lib/spree/agent_tools/registry.rb
  spree/core/lib/spree/agent_tools/resource_map.rb
  spree/core/lib/spree/agent_tools/workflow_schema.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
Due: core, api, Core, API

Add the admin MCP page to the SDK and Tools navigation too
  docs/docs.json
Due: none

Fix: the permission check refused on records the caller never named
  spree/api/spec/lib/spree/agent_tools/authorization_spec.rb
  spree/api/spec/lib/spree/api/agent_tools_contract_spec.rb
  spree/core/app/tools/spree/agent_tools/create_export.rb
  spree/core/app/tools/spree/agent_tools/describe_import_mapping.rb
  spree/core/app/tools/spree/agent_tools/get_import_status.rb
  spree/core/app/tools/spree/agent_tools/get_resource.rb
  spree/core/app/tools/spree/agent_tools/import_tool.rb
  spree/core/app/tools/spree/agent_tools/propose_import_mapping.rb
  spree/core/app/tools/spree/agent_tools/query_report.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
Due: core, Core

Fix: agent tools could reach authority grants and uploaded import data
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/api/agent_tools_contract_spec.rb
  spree/api/spec/tools/spree/agent_tools/import_tools_spec.rb
  spree/core/app/tools/spree/agent_tools/describe_import_mapping.rb
  spree/core/app/tools/spree/agent_tools/get_import_status.rb
  spree/core/app/tools/spree/agent_tools/import_tool.rb
Due: core, api, Core, API

Invalidate a generated tool when its workflow changes, and expand scopes one way
  spree/core/app/tools/spree/agent_tools/describe_reporting.rb
  spree/core/app/tools/spree/agent_tools/query_report.rb
  spree/core/lib/spree/agent_tools/workflow_schema.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
Due: core, Core

Fix: a destroy workflow was authorized as an update
  spree/api/spec/lib/spree/agent_tools/authorization_spec.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
Due: core, Core

Fix: a failed derivation left the resource map permanently empty
  docs/developer/agentic/admin-mcp.mdx
  spree/api/spec/tools/spree/agent_tools/resource_write_spec.rb
  spree/core/app/tools/spree/agent_tools/describe_resource.rb
  spree/core/app/tools/spree/agent_tools/get_import_status.rb
  spree/core/app/tools/spree/agent_tools/get_resource.rb
  spree/core/app/tools/spree/agent_tools/propose_import_mapping.rb
  spree/core/lib/spree/agent_tools/resource_map.rb
Due: core, Core

Fix: a create workflow ran without a create permission check
  spree/api/spec/lib/spree/agent_tools/authorization_spec.rb
  spree/core/lib/spree/agent_tools/workflow_tool.rb
Due: core, Core

Fix: a credential in a value reached the agent past the filter
  spree/api/lib/spree/api/agent_resource_map.rb
  spree/api/spec/lib/spree/api/agent_tools_contract_spec.rb
  spree/core/lib/spree/agent_tools/record_summary.rb
  spree/core/spec/lib/spree/agent_tools/record_summary_spec.rb
Due: core, api, Core, API

Uploaded missing settings guides
  docs/user/settings/custom-fields.mdx
  docs/user/settings/delivery-profiles.mdx
  docs/user/settings/imports.mdx
  docs/user/settings/payouts.mdx
  docs/user/settings/returns-and-reasons.mdx
  docs/user/settings/roles.mdx
  docs/user/settings/seller-requirements.mdx
  docs/user/settings/staff.mdx
  docs/user/settings/tax-categories.mdx
  docs/user/settings/tax-rates.mdx
Due: none

Update links in user quickstart guide
  docs/user/user-quickstart-guide.mdx
Due: none

Update markets documentation and related links
  docs/user/settings/markets.mdx
Due: none

Fix links in user quickstart guide
  docs/user/user-quickstart-guide.mdx
Due: none

Update related links in integrations documentation
  docs/user/settings/integrations.mdx
Due: none

Update link text for delivery profiles in documentation
  docs/user/settings/package-types.mdx
Due: none

Updated related links in Product Types doc
  docs/user/settings/product-types.mdx
Due: none

Update related links in api-keys documentation
  docs/user/settings/api-keys.mdx
Due: none

Update links and formatting in returns documentation
  docs/user/orders/returns.mdx
Due: none

Fix link for managing claim-reasons list
  docs/user/orders/claims.mdx
Due: none

Fix link to Returns & reasons section
  docs/user/orders/exchanges.mdx
Due: none

Update discounts-fees-and-taxes.mdx
  docs/user/orders/discounts-fees-and-taxes.mdx
Due: none

Simplify market setup instructions
  docs/user/how-to/multiple-languages.mdx
Due: none

Rename metafield to custom_field in import template
  docs/user/manage-products/product-import-file-template.mdx
Due: none

Fix: the credential filter missed array elements
  spree/api/spec/tools/spree/agent_tools/resource_write_spec.rb
  spree/core/app/tools/spree/agent_tools/create_resource.rb
  spree/core/app/tools/spree/agent_tools/describe_resource.rb
  spree/core/app/tools/spree/agent_tools/resource_write.rb
  spree/core/app/tools/spree/agent_tools/update_resource.rb
  spree/core/lib/spree/agent_tools/record_summary.rb
  spree/core/spec/lib/spree/agent_tools/record_summary_spec.rb
Due: core, Core

Update links in product import file template
  docs/user/manage-products/product-import-file-template.mdx
Due: none

Straighten the getting-started path
  docs/developer/core-concepts/architecture.mdx
  docs/developer/getting-started/quickstart.mdx
  docs/docs.json
Due: none

Fix the project structure in the quickstart
  docs/developer/getting-started/quickstart.mdx
Due: none

Sync the project structure between the two quickstarts
  docs/developer/create-spree-app/quickstart.mdx
Due: none

Put Core Concepts before the Tutorial
  docs/docs.json
Due: none

Order the developer sections by what a reader needs first
  docs/docs.json
Due: none

Point the last v5 tutorial pages at their v6 equivalents
  docs/v5/developer/tutorial/events.mdx
  docs/v5/developer/tutorial/introduction.mdx
  docs/v5/developer/tutorial/testing.mdx
Due: none

Ship the starters with testing already configured
  docs/developer/tutorial/testing.mdx
  packages/dashboard-starter/AGENTS.md
  packages/dashboard-starter/README.md
  packages/dashboard-starter/package.json
  packages/dashboard-starter/playwright.config.ts
  packages/dashboard-starter/vitest.config.ts
  packages/seller-dashboard-starter/AGENTS.md
  packages/seller-dashboard-starter/package.json
  packages/seller-dashboard-starter/playwright.config.ts
  packages/seller-dashboard-starter/vitest.config.ts
  pnpm-lock.yaml
Due: none

Rebalance the testing chapter toward the dashboard
  docs/developer/tutorial/testing.mdx
Due: none

Fix the model preferences guide
  docs/developer/customization/model-preferences.mdx
Due: none

Call them Custom Fields everywhere
  docs/api-reference/store-api/metadata.mdx
  docs/developer/core-concepts/architecture.mdx
  docs/developer/core-concepts/metafields.mdx
  docs/developer/customization/api.mdx
  docs/developer/customization/decorators.mdx
  docs/developer/customization/metadata.mdx
  docs/developer/getting-started/quickstart.mdx
  docs/developer/how-to/custom-promotion.mdx
  docs/developer/how-to/custom-search-provider.mdx
  docs/developer/how-to/custom-stock-splitter.mdx
  docs/developer/sdk/admin/extending.mdx
  docs/developer/sdk/admin/quickstart.mdx
  docs/developer/sdk/admin/resources.mdx
  docs/developer/sdk/configuration.mdx
  docs/developer/sdk/extending.mdx
  docs/docs.json
  docs/images/store_setup.png
  docs/user/how-to/multi-currency-pricing.mdx
  docs/user/how-to/multi-region-pricing.mdx
  docs/user/manage-products/import-products.mdx
  docs/user/manage-products/multi-currency-import-export.mdx
  docs/user/manage-products/product-import-file-template.mdx
  docs/user/manage-products/product-metafields.mdx
  docs/user/migration/migrate-from-shopify.mdx
  docs/user/products/creating-products.mdx
  docs/user/settings/metafields.mdx
  docs/v5/user/how-to/multi-currency-pricing.mdx
  docs/v5/user/how-to/multi-region-pricing.mdx
  docs/videos/out.mp4
  docs/videos/store-setup-web.mp4
  docs/videos/store-setup.mp4
Due: none

Stop recommending a replacement ability class
  docs/developer/customization/permissions.mdx
Due: none

Moved always_include_confirm_step to the store
  docs/api-reference/admin.yaml
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/Store.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/store.tsx
  packages/dashboard/src/schemas/store.ts
  spree/api/app/controllers/spree/api/v3/admin/store_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/store_serializer.rb
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/spree/store.rb
  spree/core/lib/spree/core/configuration.rb
  spree/core/lib/tasks/store_settings.rake
  spree/core/spec/models/concerns/spree/purchase/payment_processing_spec.rb
Due: core, api, Core, API

Made every application setting configurable from the environment
  docs/developer/core-concepts/carts.mdx
  docs/developer/customization/checkout.mdx
  docs/developer/customization/configuration.mdx
  docs/developer/customization/decorators.mdx
  docs/developer/customization/validations.mdx
  docs/docs.json
  spree/api/lib/spree/api/configuration.rb
  spree/api/lib/spree/api/engine.rb
  spree/core/lib/spree/core/engine.rb
  spree/core/lib/spree/core/preferences/runtime_configuration.rb
  spree/core/spec/lib/spree/core/preferences/runtime_configuration_spec.rb
  spree/lib/generators/spree/install/templates/config/initializers/spree.rb
Due: core, api, Core, API

Added deprecation bridges for checkout steps on Order
  spree/core/app/models/spree/order.rb
  spree/core/spec/models/spree/order_spec.rb
Due: core, Core
