Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Add ISO code columns and backfill them from the foreign keys
  spree/core/db/migrate/20260807130001_add_iso_codes_to_country_state_consumers.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/migrate_country_state_isos.rake
  spree/core/spec/lib/tasks/migrate_country_state_isos_spec.rb
Due: core, Core

Plan dropping the Country/State AR models in favour of ISO codes
  CLAUDE.md
  docs/plans/6.0-delivery-zones.md
  docs/plans/6.0-drop-country-state-models.md
  docs/plans/decisions.md
Due: none

Stop accepting country and state ids on address params
  spree/api/app/controllers/spree/api/v3/admin/customers/addresses_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/customers/addresses_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/core/app/models/spree/address.rb
  spree/core/app/services/spree/addresses/create.rb
  spree/core/app/services/spree/addresses/helper.rb
  spree/core/app/services/spree/addresses/update.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/services/spree/addresses/update_spec.rb
Due: core, api, Core, API

Store the country and state codes on addresses
  spree/core/app/models/spree/address.rb
  spree/core/app/services/spree/addresses/update.rb
  spree/core/spec/models/spree/base_spec.rb
Due: core, Core

Record what shipped and what the Zone dependency still blocks
  CLAUDE.md
  docs/plans/6.0-drop-country-state-models.md
Due: none

Build test countries and states from real ISO data
  spree/api/spec/controllers/spree/api/v3/store/customer/addresses_controller_spec.rb
  spree/core/lib/spree/testing_support/country_pool.rb
  spree/core/lib/spree/testing_support/factories.rb
  spree/core/lib/spree/testing_support/factories/address_factory.rb
  spree/core/lib/spree/testing_support/factories/country_factory.rb
  spree/core/lib/spree/testing_support/factories/state_factory.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/services/spree/addresses/update_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
Due: none

Read delivery zone members and country endpoints by code
  spree/api/app/controllers/spree/api/v3/admin/delivery_zones_controller.rb
  spree/api/app/controllers/spree/api/v3/store/countries_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets/countries_controller.rb
  spree/api/app/serializers/spree/api/v3/delivery_zone_member_serializer.rb
Due: api, API

Match delivery zones, markets and stock locations by country code
  spree/core/app/models/spree/delivery_zone_member.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/market_country.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/services/spree/carts/update.rb
Due: core, Core

Make countries and states reference data instead of records
  spree/core/app/models/concerns/spree/stores/markets.rb
  spree/core/app/models/spree/address.rb
  spree/core/app/models/spree/country.rb
  spree/core/app/models/spree/delivery_zone_member.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/market_country.rb
  spree/core/app/models/spree/state.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/zone.rb
  spree/core/db/migrate/20260727000001_add_unique_country_abbr_index_to_spree_states.rb
  spree/core/db/migrate/20260807160001_drop_country_and_state_tables.rb
  spree/core/lib/spree/testing_support/factories/address_factory.rb
  spree/core/lib/spree/testing_support/factories/cart_factory.rb
  spree/core/lib/spree/testing_support/factories/country_factory.rb
  spree/core/lib/spree/testing_support/factories/state_factory.rb
  spree/core/lib/spree/testing_support/factories/stock_location_factory.rb
  spree/core/lib/spree/testing_support/factories/zone_member_factory.rb
  spree/core/lib/spree/testing_support/store.rb
  spree/core/lib/tasks/markets.rake
  spree/core/spec/models/spree/address_spec.rb
Due: core, Core

Fix the review findings around the geography swap
  spree/api/spec/controllers/spree/api/v3/admin/orders_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/core/app/models/spree/country.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/promotion/rules/country.rb
  spree/core/app/models/spree/zone.rb
  spree/core/app/services/spree/seeds/delivery_zones.rb
  spree/core/app/services/spree/seeds/zones.rb
  spree/core/db/sample_data/markets.rb
  spree/core/db/sample_data/orders.rb
  spree/core/lib/spree/iso_data.rb
  spree/core/lib/spree/upgrades/5_6_to_6_0/manifest.yml
  spree/core/lib/tasks/delivery_migration.rake
  spree/core/lib/tasks/migrate_country_state_isos.rake
  spree/core/spec/lib/tasks/migrate_country_state_isos_spec.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/models/spree/cart_spec.rb
  spree/core/spec/services/spree/carts/update_spec.rb
  spree/core/spec/services/spree/orders/create_spec.rb
  spree/core/spec/services/spree/orders/update_spec.rb
  spree/core/spec/services/spree/seeds/delivery_zones_spec.rb
Due: core, Core

Point the API at reference-data countries
  packages/admin-sdk/src/types/generated/Country.ts
  packages/admin-sdk/src/types/generated/DeliveryZoneMember.ts
  packages/admin-sdk/src/types/generated/State.ts
  packages/sdk/src/types/generated/DeliveryZoneMember.ts
  packages/sdk/src/zod/generated/DeliveryZoneMember.ts
  spree/api/app/controllers/spree/api/v3/admin/markets_controller.rb
  spree/api/app/controllers/spree/api/v3/store/markets_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/country_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/state_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_zones_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/stock_locations_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/countries_spec.rb
  spree/api/spec/integration/spree/api/v3/store/markets_spec.rb
Due: api, API

Keep the country and state tables through 6.0
  docs/plans/6.0-drop-country-state-models.md
  spree/core/app/services/spree/sample_data/helper.rb
  spree/core/db/migrate/20260807130001_add_iso_codes_to_country_state_consumers.rb
  spree/core/db/migrate/20260807160001_drop_country_and_state_tables.rb
  spree/core/spec/lib/tasks/migrate_country_state_isos_spec.rb
  spree/core/spec/services/spree/imports/row_processors/customer_spec.rb
Due: core, Core

Skip the ISO backfill spec; its source tables are gone
  spree/core/spec/lib/tasks/migrate_country_state_isos_spec.rb
Due: none

Fix CI failures and review findings from the PR
  packages/dashboard/e2e/global-setup.ts
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/core/app/models/spree/address.rb
  spree/core/app/models/spree/delivery_zone_member.rb
  spree/core/app/models/spree/market.rb
  spree/core/app/models/spree/market_country.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/spec/lib/spree/store_scope_guard_spec.rb
Due: core, api, Core, API

Refuse an unknown country at setup and settle the drop release
  CLAUDE.md
  docs/plans/6.0-drop-country-state-models.md
  spree/api/app/controllers/spree/api/v3/admin/setup_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/setup_controller_spec.rb
  spree/core/spec/models/spree/address_spec.rb
Due: api, API

Fold the geography code into one has_iso_geography concern
  CLAUDE.md
  docs/plans/6.0-drop-country-state-models.md
  packages/admin-sdk/src/types/generated/StockLocation.ts
  packages/sdk/src/types/generated/StockLocation.ts
  packages/sdk/src/zod/generated/StockLocation.ts
  spree/api/app/serializers/spree/api/v3/stock_location_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/delivery_zones_controller_spec.rb
  spree/core/app/models/concerns/spree/has_iso_geography.rb
  spree/core/app/models/spree/address.rb
  spree/core/app/models/spree/base.rb
  spree/core/app/models/spree/delivery_zone_member.rb
  spree/core/app/models/spree/market_country.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/models/spree/store.rb
  spree/core/app/models/spree/tax_exemption_certificate.rb
  spree/core/app/models/spree/tax_line.rb
  spree/core/app/models/spree/tax_rate.rb
  spree/core/app/services/spree/seeds/stock_locations.rb
  spree/core/db/sample_data/fulfillment.rb
  spree/core/lib/spree/testing_support/factories/delivery_zone_factory.rb
  spree/core/lib/spree/testing_support/factories/stock_location_factory.rb
  spree/core/spec/models/spree/delivery_zone_spec.rb
  spree/core/spec/models/spree/market_country_spec.rb
  spree/core/spec/models/spree/stock_location_spec.rb
  spree/core/spec/models/spree/store_spec.rb
Due: core, api, Core, API

Drop the Address country/state object writers and cache
  spree/core/app/models/concerns/spree/purchase/addresses.rb
  spree/core/app/models/spree/address.rb
  spree/core/lib/spree/testing_support/factories/address_factory.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/services/spree/addresses/update_spec.rb
Due: core, Core

Validate ISO codes at the geography concern
  spree/core/app/models/concerns/spree/has_iso_geography.rb
  spree/core/app/models/spree/delivery_zone_member.rb
  spree/core/app/models/spree/tax_exemption_certificate.rb
  spree/core/spec/models/concerns/spree/has_iso_geography_spec.rb
  spree/core/spec/models/spree/tax_exemption_certificate_spec.rb
  spree/core/spec/models/spree/tax_rate_spec.rb
Due: core, Core

Speak state_code on the Store API too
  .changeset/admin-api-state-code.md
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-drop-country-state-models.md
  packages/admin-sdk/src/types/generated/Address.ts
  packages/admin-sdk/src/types/generated/StockLocation.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Address.ts
  packages/sdk/src/types/generated/StockLocation.ts
  packages/sdk/src/zod/generated/Address.ts
  packages/sdk/src/zod/generated/StockLocation.ts
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/app/controllers/spree/api/v3/store/customer/addresses_controller.rb
  spree/api/app/serializers/spree/api/v3/address_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/address_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_location_serializer.rb
  spree/api/app/serializers/spree/api/v3/base_serializer.rb
  spree/api/app/serializers/spree/api/v3/stock_location_serializer.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/customer/addresses_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/addresses_spec.rb
  spree/api/spec/integration/spree/api/v3/store/carts_spec.rb
  spree/api/spec/integration/spree/api/v3/store/countries_spec.rb
  spree/core/app/models/concerns/spree/has_iso_geography.rb
  spree/core/app/models/spree/address.rb
  spree/core/lib/spree/permitted_attributes.rb
  spree/core/spec/models/spree/address_spec.rb
  spree/core/spec/models/spree/stock_location_spec.rb
Due: core, api, Core, API

Revise product properties and digital products sections (#14441)
  docs/user/products/creating-products.mdx
Due: none

Guard every unit of work that declares a store
  CLAUDE.md
  docs/plans/6.0-store-context-and-first-run-setup.md
  docs/plans/decisions.md
  spree/core/app/models/spree/current.rb
  spree/core/lib/spree/store_scope_guard.rb
  spree/core/spec/lib/spree/store_scope_guard_spec.rb
Due: core, Core

A little bit of dashboard styling improvements
  packages/dashboard-core/src/components/settings-sidebar.tsx
  packages/dashboard-core/src/components/top-bar.tsx
  packages/dashboard-ui/src/styles.css
  packages/dashboard-ui/src/ui/progress.tsx
  packages/dashboard-ui/src/ui/sidebar.tsx
Due: none

fix spree 5 docs
  docs/developer/core-concepts/addresses.mdx
  docs/developer/core-concepts/inventory.mdx
  docs/developer/core-concepts/markets.mdx
  docs/developer/core-concepts/orders.mdx
  docs/developer/core-concepts/promotions.mdx
  docs/developer/customization/checkout.mdx
  docs/developer/sdk/admin/resources.mdx
  docs/developer/sdk/store/account.mdx
  docs/developer/sdk/store/cart-checkout.mdx
  docs/developer/storefront/nextjs/environment-variables.mdx
  docs/snippets/objects/spree_address.mdx
Due: none

Refresh the staff list after a profile save
  packages/admin-sdk/src/admin-client.ts
  packages/dashboard/src/hooks/use-profile.ts
Due: none

Point worktree servers at their own host for generated URLs
  scripts/worktree/lib.sh
  scripts/worktree/setup.sh
Due: none

Stop preference defaults from dirtying every record on load
  spree/core/app/models/spree/base.rb
  spree/core/spec/models/spree/base_spec.rb
Due: core, Core

Treat a blank price amount as no price in that currency
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/variant_spec.rb
Due: core, Core

Adapt duties work to countries as reference data
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-duties-and-custom-fees.md
  packages/cli/src/generated/admin-spec.json
  spree/core/spec/models/spree/promotion_tax_recalculation_spec.rb
  spree/core/spec/models/spree/tax_provider/internal_spec.rb
  spree/providers/easypost/lib/spree_easypost.rb
  spree/providers/easypost/spec/models/spree_easypost/customs_params_spec.rb
Due: none

Stop taxing customs duties as a domestic supply
  CLAUDE.md
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  docs/plans/6.0-duties-and-custom-fees.md
  docs/v6/developer/core-concepts/taxes-discounts-fees.mdx
  packages/admin-sdk/src/types/generated/Order.ts
  packages/cli/src/generated/admin-spec.json
  spree/core/app/models/concerns/spree/purchase/taxation.rb
  spree/core/app/models/spree/tax_provider/internal.rb
  spree/core/spec/models/spree/tax_provider/internal_spec.rb
Due: core, Core

Fix review findings on the duties work
  CLAUDE.md
  docs/plans/6.0-duties-and-custom-fees.md
  packages/dashboard-core/src/components/country-combobox.tsx
  packages/dashboard/src/components/spree/products/variant-edit-sheet.tsx
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
  spree/core/spec/models/concerns/spree/purchase/taxation_spec.rb
  spree/core/spec/models/spree/tax_provider/internal_spec.rb
  spree/providers/easypost/app/models/spree_easypost/delivery_rate_provider.rb
  spree/providers/easypost/app/models/spree_easypost/fulfillment_provider.rb
  spree/providers/easypost/app/models/spree_easypost/integration.rb
  spree/providers/easypost/lib/spree_easypost.rb
  spree/providers/easypost/spec/models/spree_easypost/customs_params_spec.rb
Due: api, API

Clear stale duty tax lines and address review feedback
  docs/plans/decisions.md
  docs/v6/developer/core-concepts/taxes-discounts-fees.mdx
  packages/admin-sdk/src/types/generated/Order.ts
  packages/dashboard/src/components/spree/products/bulk-variants-dialog.tsx
  packages/dashboard/src/components/spree/products/variant-edit-sheet.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/serializers/spree/api/v3/admin/order_serializer.rb
  spree/core/app/models/spree/tax_provider/internal.rb
  spree/core/spec/models/spree/tax_provider/internal_spec.rb
Due: core, api, Core, API

Wait for the seeded channel before saving in the publishing spec
  packages/dashboard/e2e/products-publishing.spec.ts
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
