Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Refuse commission percentages over 100% and warn on flat fees (V-3594) (#14568)
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/commission-rates.tsx
  packages/dashboard/src/schemas/commission-rate.ts
  spree/api/spec/controllers/spree/api/v3/admin/commission_rates_controller_spec.rb
  spree/core/app/models/spree/commission_rate.rb
  spree/core/spec/models/spree/commission_rate_spec.rb
Due: core, Core

Close the review findings on the Avalara provider
  docs/plans/6.0-avalara-provider-gem.md
  packages/dashboard-core/src/components/preferences-form.tsx
  spree/providers/avalara/app/models/spree_avalara/integration.rb
  spree/providers/avalara/app/models/spree_avalara/tax_provider.rb
  spree/providers/avalara/app/models/spree_avalara/transaction_line.rb
  spree/providers/avalara/app/presenters/spree_avalara/refund_presenter.rb
  spree/providers/avalara/lib/spree_avalara/testing_support/factories/integration_factory.rb
  spree/providers/avalara/spec/models/spree_avalara/integration_spec.rb
  spree/providers/avalara/spec/models/spree_avalara/transaction_line_spec.rb
  spree/providers/avalara/spec/presenters/spree_avalara/refund_presenter_spec.rb
  spree/providers/avalara/spec/tasks/upgrade_spec.rb
Due: none

Freeze the exemptions a sale was priced with, and measure a refund against what the customer paid
  docs/plans/6.0-avalara-provider-gem.md
  docs/plans/6.0-tax-provider.md
  spree/core/app/models/concerns/spree/purchase/taxation.rb
  spree/core/app/models/spree/tax_exemption.rb
  spree/core/app/models/spree/tax_exemption/item_override.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/db/migrate/20260904100001_add_applied_tax_exemptions_to_spree_orders.rb
  spree/core/spec/models/concerns/spree/purchase/taxation_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
  spree/providers/avalara/app/presenters/spree_avalara/refund_presenter.rb
  spree/providers/avalara/spec/presenters/spree_avalara/refund_presenter_spec.rb
Due: core, Core

Answer for a failing tax engine everywhere, and keep the EU reasons inside the EU
  docs/plans/6.0-avalara-provider-gem.md
  spree/api/app/controllers/concerns/spree/api/v3/error_handler.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/items_controller_spec.rb
  spree/providers/avalara/app/models/spree_avalara/tax_provider.rb
  spree/providers/avalara/app/models/spree_avalara/transaction_line.rb
  spree/providers/avalara/spec/models/spree_avalara/tax_provider_spec.rb
  spree/providers/avalara/spec/models/spree_avalara/transaction_line_spec.rb
Due: api, API

Make the frozen exemptions mean what they say, and stop cancelling waiting on tax
  docs/plans/6.0-avalara-provider-gem.md
  docs/plans/6.0-tax-provider.md
  spree/core/app/models/concerns/spree/purchase/taxation.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/spec/models/concerns/spree/purchase/taxation_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
  spree/core/spec/workflows/spree/orders/cancel_spec.rb
Due: core, Core

Pin the exemption claims on the two paths that skipped the cart copier
  docs/plans/6.0-tax-provider.md
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/workflows/spree/orders/complete.rb
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
  spree/core/spec/workflows/spree/orders/complete_spec.rb
Due: core, Core

Stop the cassette specs depending on which id the database handed out
  spree/core/config/locales/en.yml
  spree/providers/avalara/spec/integration/avatax_contract_spec.rb
Due: core

Test the description limit without writing a name no column can hold
  spree/providers/avalara/spec/presenters/spree_avalara/item_presenter_spec.rb
Due: none

Never let a tax filing fail money that has already moved
  spree/core/app/services/spree/carts/split_by_seller.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, Core

Clarify how to set company price tiers
  docs/developer/core-concepts/catalogs.mdx
  docs/plans/6.0-b2b-companies-and-catalogs.md
  docs/plans/decisions.md
  packages/dashboard/src/components/spree/catalog-audience.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/spec/models/spree/catalog_spec.rb
Due: core, Core

Clarify how to set company price tiers with catalogs (#14573)
  docs/developer/core-concepts/catalogs.mdx
  docs/plans/6.0-b2b-companies-and-catalogs.md
  docs/plans/decisions.md
  packages/dashboard/src/components/spree/catalog-audience.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/core/app/models/spree/catalog.rb
  spree/core/app/models/spree/pricing_provider/internal.rb
  spree/core/spec/models/spree/catalog_spec.rb
Due: core, Core

Harden the label file URL, the refund path and the tracking link
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/types/generated/Delivery.ts
  packages/cli/src/generated/admin-spec.json
  packages/sdk/src/types/generated/Delivery.ts
  packages/sdk/src/zod/generated/Delivery.ts
  spree/api/app/controllers/spree/api/v3/webhooks/fulfillments_controller.rb
  spree/api/app/serializers/spree/api/v3/delivery_serializer.rb
  spree/core/app/models/spree/delivery.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/shipping_label.rb
  spree/core/app/services/spree/deliveries/create.rb
  spree/core/app/services/spree/fulfillments/stand_down_provider.rb
  spree/core/app/services/spree/shipping_labels/store_file.rb
  spree/core/app/workflows/spree/deliveries/update_tracking.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/app/workflows/spree/shipping_labels/purchase.rb
  spree/core/app/workflows/spree/shipping_labels/record.rb
  spree/core/app/workflows/spree/shipping_labels/refund.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core.rb
  spree/core/lib/tasks/deliveries_migration.rake
  spree/core/spec/models/spree/delivery_spec.rb
  spree/core/spec/models/spree/shipment_spec.rb
  spree/core/spec/models/spree/shipping_label_spec.rb
  spree/core/spec/services/spree/fulfillments/stand_down_provider_spec.rb
  spree/core/spec/services/spree/shipping_labels/store_file_spec.rb
  spree/core/spec/workflows/spree/shipping_labels/purchase_spec.rb
Due: core, api, Core, API

Record the settled decisions and cover the card's tracking controls
  packages/dashboard/e2e/order-fulfillments.spec.ts
Due: none

Correct a tracking number without carrying the old parcel's carrier
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/components/spree/orders/fulfillment-delivery-dialog.tsx
  packages/dashboard/src/components/spree/orders/fulfillment-label-upload-dialog.tsx
  packages/seller-sdk/src/types/generated/ShippingLabel.ts
  spree/api/app/controllers/spree/api/v3/admin/orders/deliveries_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/deliveries_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/shipping_label_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/shipping_label_serializer.rb
  spree/core/app/models/spree/delivery.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/shipping_label.rb
  spree/core/app/services/spree/deliveries/upsert_primary.rb
  spree/core/app/services/spree/shipping_labels/confirm_refund.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/app/workflows/spree/shipping_labels/purchase.rb
  spree/core/app/workflows/spree/shipping_labels/refund.rb
  spree/core/spec/services/spree/deliveries/upsert_primary_spec.rb
  spree/core/spec/services/spree/shipping_labels/confirm_refund_spec.rb
  spree/core/spec/workflows/spree/shipping_labels/purchase_spec.rb
  spree/core/spec/workflows/spree/shipping_labels/refund_spec.rb
  spree/providers/easypost/app/models/spree_easypost/fulfillment_provider.rb
Due: core, api, Core, API

Route every delivery write through one path and stop blocking on the label file
  packages/admin-sdk/src/types/generated/ShippingLabel.ts
  packages/dashboard/src/components/spree/orders/fulfillment-delivery-dialog.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/sdk/src/types/generated/ShippingLabelEvent.ts
  packages/sdk/src/zod/generated/ShippingLabelEvent.ts
  packages/seller-sdk/src/types/generated/Delivery.ts
  spree/api/app/controllers/concerns/spree/api/v3/streams_shipping_label.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/deliveries_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/labels_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/deliveries_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/fulfillments_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/labels_controller.rb
  spree/api/app/controllers/spree/api/v3/store/orders/returns_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/fulfillments_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/shipping_label_serializer.rb
  spree/core/app/models/concerns/spree/has_tracking_carrier.rb
  spree/core/app/models/spree/delivery.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/return.rb
  spree/core/app/models/spree/shipping_label.rb
  spree/core/app/services/spree/deliveries/create.rb
  spree/core/app/services/spree/deliveries/upsert_primary.rb
  spree/core/app/workflows/spree/fulfillments/cancel.rb
  spree/core/app/workflows/spree/fulfillments/fulfill.rb
  spree/core/app/workflows/spree/fulfillments/update.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/app/workflows/spree/shipping_labels/purchase.rb
  spree/core/app/workflows/spree/shipping_labels/record.rb
  spree/core/app/workflows/spree/shipping_labels/refund.rb
  spree/core/db/migrate/20260903000001_create_spree_shipping_labels_and_deliveries.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/workflows/spree/shipping_labels/purchase_spec.rb
Due: core, api, Core, API

Drop bridges for code that never shipped, and keep an arrival
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/examples/order-fulfillments/purchase-label.ts
  packages/admin-sdk/src/admin-client.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-ui/src/ui/badge.tsx
  packages/dashboard/src/components/spree/orders/fulfillment-deliveries.tsx
  packages/dashboard/src/components/spree/orders/fulfillment-delivery-dialog.tsx
  packages/dashboard/src/components/spree/orders/fulfillment-label-upload-dialog.tsx
  packages/dashboard/src/components/spree/orders/fulfillment-label.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/orders/fulfillments_controller.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/deliveries_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/fulfillments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/fulfillments_spec.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/integration.rb
  spree/core/app/services/spree/deliveries/destroy.rb
  spree/core/app/workflows/spree/fulfillments/mark_delivered.rb
  spree/core/app/workflows/spree/fulfillments/update_tracking.rb
  spree/core/config/locales/en.yml
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/deliveries/destroy_spec.rb
  spree/core/spec/workflows/spree/fulfillments/update_tracking_spec.rb
  spree/providers/easypost/app/models/spree_easypost/fulfillment_provider.rb
  spree/providers/easypost/app/models/spree_easypost/tracker_event.rb
  spree/providers/easypost/spec/models/spree_easypost/tracker_event_spec.rb
Due: core, api, Core, API

Recompute delivered whenever a fulfillment's parcels change
  spree/core/app/services/spree/deliveries/create.rb
  spree/core/app/services/spree/deliveries/destroy.rb
  spree/core/app/services/spree/fulfillments/recalculate_delivery.rb
  spree/core/app/workflows/spree/deliveries/update_tracking.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/services/spree/fulfillments/recalculate_delivery_spec.rb
Due: core, Core

Let a preference say what it is and what it accepts
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/admin-sdk/src/params.ts
  packages/admin-sdk/src/types/generated/DeliveryMethodRule.ts
  packages/admin-sdk/src/types/generated/Integration.ts
  packages/admin-sdk/src/types/generated/OrderRoutingRule.ts
  packages/admin-sdk/src/types/generated/PaymentMethod.ts
  packages/admin-sdk/src/types/generated/PromotionAction.ts
  packages/admin-sdk/src/types/generated/PromotionRule.ts
  packages/dashboard-core/src/components/preferences-form.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/seller-sdk/src/types/generated/DeliveryMethodRule.ts
  spree/api/app/serializers/spree/api/v3/admin/delivery_method_rule_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/integration_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/order_routing_rule_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/payment_method_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/promotion_action_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/promotion_rule_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/delivery_method_rule_serializer.rb
  spree/core/app/models/concerns/spree/preference_schema.rb
  spree/core/lib/spree/core/preferences/preferable.rb
  spree/core/lib/spree/core/preferences/preferable_class_methods.rb
  spree/core/spec/models/spree/payment_method_spec.rb
  spree/providers/easypost/app/models/spree_easypost/integration.rb
Due: core, api, Core, API

Show why creating a fulfillment was refused
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
Due: none

Stop unfulfilled items looking like a fulfillment
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Say why the carrier refused to sell a label
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/hooks/use-fulfillments.ts
  spree/core/app/workflows/spree/shipping_labels/purchase.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/workflows/spree/shipping_labels/purchase_spec.rb
  spree/providers/easypost/app/models/spree_easypost/fulfillment_provider.rb
  spree/providers/easypost/config/locales/en.yml
Due: core, Core

Refund a label through the carrier that sold it
  packages/dashboard/src/components/spree/orders/fulfillment-label-upload-dialog.tsx
  spree/core/app/models/spree/shipping_label.rb
  spree/core/app/workflows/spree/shipping_labels/refund.rb
  spree/core/spec/models/spree/shipping_label_spec.rb
  spree/core/spec/workflows/spree/shipping_labels/refund_spec.rb
Due: core, Core

Let a merchant buy the return label from the order page
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  docs/api-reference/store.yaml
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/Return.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard/src/components/spree/order-returns-card.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/components/spree/orders/shipping-label-row.tsx
  packages/dashboard/src/hooks/use-returns.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/serializers/spree/api/v3/admin/return_serializer.rb
Due: api, API

Say why the carrier refused to void a label
  spree/core/app/workflows/spree/shipping_labels/refund.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/workflows/spree/shipping_labels/refund_spec.rb
  spree/providers/easypost/app/models/spree_easypost/fulfillment_provider.rb
Due: core, Core

Let a merchant choose which locations accept returns
  docs/api-reference/admin.yaml
  docs/api-reference/seller.yaml
  packages/admin-sdk/src/types/generated/StockLocation.ts
  packages/cli/src/generated/admin-spec.json
  packages/dashboard-core/src/api-client.ts
  packages/dashboard-core/src/locales/ar.json
  packages/dashboard-core/src/locales/de.json
  packages/dashboard-core/src/locales/en.json
  packages/dashboard-core/src/locales/fr.json
  packages/dashboard-core/src/locales/pl.json
  packages/dashboard-core/src/locales/zh-CN.json
  packages/dashboard-core/src/pages/stock-locations.tsx
  packages/dashboard-core/src/schemas/stock-location.ts
  packages/dashboard-core/src/tables/stock-locations.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/seller-sdk/src/types/generated/StockLocation.ts
  spree/api/app/controllers/spree/api/v3/admin/stock_locations_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/stock_locations_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/stock_location_serializer.rb
  spree/api/app/serializers/spree/api/v3/seller/stock_location_serializer.rb
  spree/core/app/models/spree/seller.rb
  spree/core/app/models/spree/stock_location.rb
  spree/core/app/workflows/spree/returns/create.rb
  spree/core/db/migrate/20260904000001_add_returns_enabled_to_stock_locations.rb
  spree/core/spec/workflows/spree/returns/lifecycle_spec.rb
Due: core, api, Core, API

Tell the merchant why a label purchase was refused
  spree/providers/easypost/app/models/spree_easypost/fulfillment_provider.rb
  spree/providers/easypost/config/locales/en.yml
  spree/providers/easypost/spec/models/spree_easypost/fulfillment_provider_spec.rb
Due: none

Let a merchant choose where a return comes back to
  packages/dashboard/src/components/spree/post-sale-create-dialogs.tsx
  packages/dashboard/src/hooks/use-returns.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Show where a return is coming back to
  packages/dashboard/src/components/spree/order-returns-card.tsx
  packages/dashboard/src/hooks/use-returns.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
Due: none

Say why a carrier refused to ship from a location
  spree/providers/easypost/app/models/spree_easypost/fulfillment_provider.rb
  spree/providers/easypost/config/locales/en.yml
  spree/providers/easypost/lib/spree_easypost.rb
  spree/providers/easypost/spec/models/spree_easypost/fulfillment_provider_spec.rb
Due: none

Record the carrier's real answers when a purchase fails
  spree/providers/easypost/spec/models/spree_easypost/fulfillment_provider_spec.rb
  spree/providers/easypost/spec/vcr/end_shipper_bad_address.yml
  spree/providers/easypost/spec/vcr/end_shipper_missing_phone.yml
Due: none

Make customs paperwork reachable
  packages/admin-sdk/src/types/generated/Return.ts
  packages/dashboard/src/components/spree/order-returns-card.tsx
  packages/dashboard/src/components/spree/orders/fulfillments-card.tsx
  packages/dashboard/src/components/spree/orders/shipping-documents.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/controllers/spree/api/v3/admin/orders/returns_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/fulfillment_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/return_serializer.rb
  spree/api/spec/serializers/spree/api/v3/admin/documents_spec.rb
  spree/core/app/models/spree/fulfillment_provider/base.rb
  spree/core/app/models/spree/shipping_document.rb
  spree/core/spec/models/spree/shipping_document_spec.rb
  spree/providers/easypost/app/models/spree_easypost/fulfillment_provider.rb
  spree/providers/easypost/spec/models/spree_easypost/fulfillment_provider_spec.rb
Due: core, api, Core, API

Call the paperwork beside a label shipping documents
  .gitignore
  packages/dashboard/src/components/spree/orders/shipping-documents.tsx
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  spree/api/app/serializers/spree/api/v3/admin/return_serializer.rb
  spree/api/spec/serializers/spree/api/v3/admin/documents_spec.rb
  spree/core/app/models/spree/shipping_document.rb
Due: core, api, Core, API

Fix what review found on tracking, labels and partial returns
  packages/dashboard-core/src/tables/stock-locations.tsx
  packages/dashboard/src/components/spree/post-sale-create-dialogs.tsx
  spree/api/app/controllers/spree/api/v3/admin/orders/deliveries_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/labels_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/deliveries_controller.rb
  spree/api/app/controllers/spree/api/v3/seller/orders/labels_controller.rb
  spree/api/app/controllers/spree/api/v3/webhooks/fulfillments_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/labels_controller_spec.rb
  spree/core/app/models/spree/delivery.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/return.rb
  spree/core/app/services/spree/deliveries/upsert_primary.rb
  spree/core/app/workflows/spree/shipping_labels/refund.rb
  spree/core/config/locales/en.yml
  spree/core/lib/tasks/deliveries_migration.rake
  spree/core/spec/models/spree/delivery_spec.rb
  spree/core/spec/models/spree/return_spec.rb
Due: core, api, Core, API

Settle a refund once when the carrier confirms twice, and follow the card's copy
  packages/dashboard/e2e/order-fulfillments.spec.ts
  spree/core/app/services/spree/shipping_labels/confirm_refund.rb
  spree/core/spec/services/spree/shipping_labels/confirm_refund_spec.rb
Due: core, Core

Refuse an uploaded label with no tracking number at compile time
  packages/admin-sdk/src/params.ts
Due: none

Settle a refund and release its consignment together
  spree/core/app/services/spree/shipping_labels/confirm_refund.rb
Due: core, Core

Never hand back a tracking link that is not a real address
  spree/core/app/models/spree/delivery.rb
  spree/core/spec/models/spree/delivery_spec.rb
Due: core, Core

Document consignments, shipping labels and return labels
  docs/developer/core-concepts/fulfillments.mdx
  docs/developer/core-concepts/orders.mdx
  docs/developer/core-concepts/returns-exchanges-claims.mdx
Due: none

Document delivery setup and EasyPost, and stop prices rendering as equations
  docs/developer/core-concepts/calculators.mdx
  docs/developer/core-concepts/delivery-setup.mdx
  docs/developer/core-concepts/fulfillments.mdx
  docs/developer/core-concepts/promotions.mdx
  docs/developer/how-to/custom-api-authentication.mdx
  docs/developer/how-to/custom-document-numbers.mdx
  docs/developer/how-to/custom-report.mdx
  docs/developer/how-to/custom-stock-splitter.mdx
  docs/docs.json
  docs/integrations/shipping/easypost.mdx
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
