Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Fixed CI and review feedback on the email template editor
  docs/api-reference/admin.yaml
  docs/developer/customization/emails.mdx
  docs/plans/6.0-email-template-editor.md
  docs/user/settings/emails.mdx
  packages/admin-sdk/examples/email-templates/send-test.ts
  spree/api/app/controllers/concerns/spree/api/v3/admin/email_template_lookup.rb
  spree/api/spec/integration/spree/api/v3/admin/email_templates_spec.rb
  spree/core/app/models/concerns/spree/admin_user_methods.rb
  spree/core/app/models/spree/email_templates/entry.rb
  spree/core/lib/spree/testing_support/editable_email_templates.rb
Due: core, api, Core, API

Fixed second-round email template review findings
  spree/api/app/controllers/concerns/spree/api/v3/admin/email_template_lookup.rb
  spree/api/app/controllers/spree/api/v3/admin/email_templates/publications_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/publications_controller_spec.rb
  spree/core/app/mailers/spree/base_mailer.rb
  spree/core/app/services/spree/email_templates/check.rb
  spree/core/app/services/spree/emails/file_system.rb
  spree/core/app/services/spree/emails/renderer.rb
  spree/core/app/services/spree/emails/template_resolver.rb
  spree/core/app/workflows/spree/email_templates/discard_draft.rb
  spree/core/app/workflows/spree/email_templates/revert.rb
  spree/core/app/workflows/spree/email_templates/save_draft.rb
  spree/core/spec/mailers/spree/admin_user_mailer_spec.rb
  spree/core/spec/services/spree/emails/renderer_spec.rb
  spree/core/spec/workflows/spree/email_templates/revert_spec.rb
  spree/core/spec/workflows/spree/email_templates/save_draft_spec.rb
Due: core, api, Core, API

Removed the duplicate email templates entry from the settings menu
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/nav/settings.ts
Due: none

Added listing the records an email template can be previewed with
  docs/api-reference/admin.yaml
  packages/admin-sdk/examples/email-templates/sample-records.ts
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/src/types/generated/EmailTemplateSampleRecord.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/admin-sdk/src/types/index.ts
  packages/admin-sdk/src/zod/generated/EmailTemplateSampleRecord.ts
  packages/admin-sdk/src/zod/generated/index.ts
  spree/api/app/controllers/spree/api/v3/admin/email_templates/sample_records_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/email_template_sample_record_serializer.rb
  spree/api/config/routes.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/sample_records_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/email_templates_spec.rb
  spree/core/app/models/spree/email_templates/sample_record.rb
  spree/core/lib/spree/testing_support/editable_email_templates.rb
  spree/emails/app/services/spree/emails/samples/base.rb
  spree/emails/spec/services/spree/emails/samples_spec.rb
Due: core, api, emails, Core, API, Emails

Documented the test email SDK sample with a signed-in client
  docs/api-reference/admin.yaml
  spree/api/spec/integration/spree/api/v3/admin/email_templates_spec.rb
  spree/api/spec/support/code_samples_helper.rb
Due: none

Added a record picker and click-to-insert variables to the email template editor
  packages/dashboard-core/src/lib/formatters.ts
  packages/dashboard-ui/src/ui/code-editor.tsx
  packages/dashboard/src/components/spree/email-templates/email-preview-frame.tsx
  packages/dashboard/src/components/spree/email-templates/preview-card.tsx
  packages/dashboard/src/components/spree/email-templates/variables-card.tsx
  packages/dashboard/src/hooks/use-email-templates.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
Due: none

Added a check for email template text that would never show
  docs/user/settings/emails.mdx
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/previews_controller_spec.rb
  spree/core/app/services/spree/email_templates/invisible_text.rb
  spree/core/app/services/spree/email_templates/preview.rb
  spree/core/app/services/spree/emails/invisible_text_check.rb
  spree/core/config/locales/en.yml
  spree/core/spec/services/spree/email_templates/preview_spec.rb
  spree/core/spec/services/spree/emails/invisible_text_check_spec.rb
Due: core, Core

Changed email template editing to start from readable text in one language
  packages/admin-sdk/src/types/generated/EmailTemplate.ts
  packages/admin-sdk/src/zod/generated/EmailTemplate.ts
  spree/api/app/serializers/spree/api/v3/admin/email_template_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/drafts_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates_controller_spec.rb
  spree/core/app/models/spree/email_templates/entry.rb
  spree/core/app/services/spree/emails/translation_inliner.rb
  spree/core/app/workflows/spree/email_templates/save_draft.rb
  spree/core/spec/services/spree/emails/translation_inliner_spec.rb
  spree/core/spec/workflows/spree/email_templates/save_draft_spec.rb
Due: core, api, Core, API

Documented editing email templates one language at a time
  docs/api-reference/admin.yaml
  docs/plans/6.0-email-template-editor.md
  docs/plans/decisions.md
  docs/user/settings/emails.mdx
Due: none

Fix: email template editor showed translation keys instead of text
  packages/admin-sdk/src/admin-client.ts
  packages/admin-sdk/tests/email-templates.test.ts
Due: none

Changed the email template editor to edit one language at a time
  packages/dashboard/src/components/spree/email-templates/preview-card.tsx
  packages/dashboard/src/hooks/use-email-templates.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/index.tsx
Due: none

Changed the email template subject to a multi-line field
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
Due: none

Changed the resend prefix in customer email subjects to plain text
  spree/emails/app/views/spree/digital_asset_mailer/files_ready_email.liquid
  spree/emails/app/views/spree/fulfillment_mailer/fulfilled_email.liquid
  spree/emails/app/views/spree/order_group_mailer/confirm_email.liquid
  spree/emails/app/views/spree/order_mailer/cancel_email.liquid
  spree/emails/app/views/spree/order_mailer/confirm_email.liquid
  spree/emails/app/views/spree/return_mailer/refunded_email.liquid
  spree/emails/spec/mailers/spree/order_group_mailer_spec.rb
Due: emails, Emails

Removed the check for email template text that would never show
  docs/user/settings/emails.mdx
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/previews_controller_spec.rb
  spree/core/app/services/spree/email_templates/invisible_text.rb
  spree/core/app/services/spree/email_templates/preview.rb
  spree/core/app/services/spree/emails/invisible_text_check.rb
  spree/core/config/locales/en.yml
  spree/core/spec/services/spree/email_templates/preview_spec.rb
  spree/core/spec/services/spree/emails/invisible_text_check_spec.rb
Due: core, Core

Fix: email template editor did not suggest address fields
  packages/dashboard/src/components/spree/email-templates/preview-card.tsx
  packages/dashboard/src/lib/email-template-variables.test.ts
  packages/dashboard/src/lib/email-template-variables.ts
Due: none

Regenerated email template types after rebasing on main
  packages/admin-sdk/src/types/generated/emails/EmailFee.ts
  packages/admin-sdk/src/types/generated/emails/EmailReturn.ts
  packages/admin-sdk/src/types/generated/emails/Enums.ts
  packages/admin-sdk/src/zod/generated/emails/EmailReturn.ts
Due: none

Fix: email fulfillment group items were typed as a single item
  packages/admin-sdk/src/types/generated/emails/EmailFulfillmentGroup.ts
  packages/admin-sdk/src/zod/generated/emails/EmailFulfillmentGroup.ts
  spree/emails/config/initializers/typelizer.rb
Due: emails

Fix: first draft save could overwrite another admin's draft, and previews dropped the subject
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/hooks/use-email-templates.ts
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
  spree/api/app/controllers/spree/api/v3/admin/email_templates/restorations_controller.rb
  spree/core/app/services/spree/email_templates/preview.rb
  spree/core/app/workflows/spree/email_templates/restore_revision.rb
  spree/core/app/workflows/spree/email_templates/save_draft.rb
  spree/core/spec/services/spree/email_templates/preview_spec.rb
  spree/core/spec/workflows/spree/email_templates/save_draft_spec.rb
Due: core, api, Core, API

Fix: email template editor reverted and restored the shared version with the wrong draft version
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
  spree/api/app/controllers/spree/api/v3/admin/email_templates/restorations_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/restorations_controller_spec.rb
  spree/core/app/workflows/spree/email_templates/restore_revision.rb
Due: core, api, Core, API

Fix: second-round review findings on the email template editor
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/$templateId.tsx
  spree/api/app/controllers/spree/api/v3/admin/email_templates/revisions_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates/revisions_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/email_templates_controller_spec.rb
  spree/core/app/models/spree/email_templates/entry.rb
  spree/core/app/services/spree/emails/translation_inliner.rb
  spree/core/app/workflows/spree/email_templates/save_draft.rb
  spree/core/spec/services/spree/emails/translation_inliner_spec.rb
Due: core, api, Core, API

Fix: third-round review findings on the email template editor
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/settings/emails/templates/index.tsx
  spree/core/app/services/spree/email_templates/preview.rb
  spree/core/app/services/spree/emails/translation_inliner.rb
  spree/core/spec/services/spree/email_templates/preview_spec.rb
Due: core, Core

Fix: restoring a shared email template revision kept translation keys
  spree/core/app/workflows/spree/email_templates/restore_revision.rb
  spree/core/spec/workflows/spree/email_templates/restore_revision_spec.rb
Due: core, Core

Regenerated the admin store type after rebasing on main
  packages/admin-sdk/src/types/generated/Store.ts
Due: none

Regenerated SDK types and the CLI spec after rebasing on main
  packages/admin-sdk/src/types/generated/index.ts
  packages/cli/src/generated/admin-spec.json
  packages/cli/src/generated/resource-paths.json
Due: none

Keep a catalog's quantity price ladder unless it was edited
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/catalog.test.ts
  packages/dashboard/src/schemas/catalog.ts
Due: none

Declared the email template events in the event catalog
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/es.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/sdk/src/webhooks/generated/events.ts
  packages/sdk/src/webhooks/generated/schemas.ts
  spree/core/app/models/spree/email_template.rb
Due: core, Core

Fix: a free gift discounted the shopper's own units instead of adding the gift
  spree/core/app/finders/spree/line_items/find_by_variant.rb
  spree/core/app/models/spree/line_item.rb
  spree/core/app/models/spree/line_item_gift.rb
  spree/core/app/models/spree/order_merger.rb
  spree/core/app/models/spree/promotion/actions/create_line_items.rb
  spree/core/app/models/spree/promotion_handler/coupon.rb
  spree/core/app/services/spree/carts/remove_item.rb
  spree/core/app/services/spree/orders/create_from_cart.rb
  spree/core/app/services/spree/orders/remove_item.rb
  spree/core/app/workflows/spree/carts/add_item.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/carts/merge.rb
  spree/core/db/migrate/20261005000001_create_spree_line_item_gifts.rb
  spree/core/lib/spree/testing_support/factories/line_item_gift_factory.rb
  spree/core/spec/models/spree/line_item_spec.rb
  spree/core/spec/models/spree/order_merger_spec.rb
  spree/core/spec/models/spree/promotion/actions/create_line_items_spec.rb
  spree/core/spec/models/spree/promotion_handler/coupon_spec.rb
  spree/core/spec/services/spree/carts/remove_item_spec.rb
  spree/core/spec/services/spree/orders/create_from_cart_spec.rb
  spree/core/spec/workflows/spree/carts/add_item_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
  spree/core/spec/workflows/spree/carts/complete_split_spec.rb
  spree/core/spec/workflows/spree/carts/merge_spec.rb
Due: core, Core

Fix: a gift code entered before the cart qualified never added its gift
  spree/core/app/models/spree/promotion_handler/cart.rb
  spree/core/spec/models/spree/promotion_handler/cart_spec.rb
Due: core, Core

Changed promotion docs to say the free gift goes on top of the shopper's own copies
  docs/developer/core-concepts/promotions.mdx
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/6.0-6.1-split-adjustments.md
  docs/plans/decisions.md
  docs/user/promotions/promotion-actions.mdx
Due: none

fixup! Keep a catalog's quantity price ladder unless it was edited
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
Due: none

Fix: taking a gift back could reduce another line of the same product
  spree/core/app/models/spree/promotion/actions/create_line_items.rb
  spree/core/app/services/spree/carts/remove_item.rb
  spree/core/app/services/spree/orders/remove_item.rb
  spree/core/spec/models/spree/promotion/actions/create_line_items_spec.rb
Due: core, Core

Fix: a gift given back before its line was saved was deleted
  spree/core/app/models/spree/line_item.rb
  spree/core/spec/models/spree/line_item_spec.rb
Due: core, Core

Changed the upgrade guide and decisions log for gifts taken back by line
  docs/developer/upgrades/5.6-to-6.0.mdx
  docs/plans/decisions.md
Due: none

Keep a catalog's quantity price ladder unless it was edited (#14820)
  packages/dashboard/src/routes/_authenticated/$storeId/products/catalogs/$catalogId.tsx
  packages/dashboard/src/schemas/catalog.test.ts
  packages/dashboard/src/schemas/catalog.ts
Due: none

Fixes on CSV export/import: return option types and values for all variants, match option value correctly, distinguish no categories defined / unassigned categories (#14812)
  docs/user/manage-products/product-import-file-template.mdx
  spree/core/app/models/concerns/spree/parameterizable_name.rb
  spree/core/app/presenters/spree/csv/product_variant_presenter.rb
  spree/core/app/services/spree/imports/row_processors/product_variant.rb
  spree/core/spec/presenters/spree/csv/product_variant_presenter_spec.rb
  spree/core/spec/services/spree/imports/row_processors/product_variant_spec.rb
Due: core, Core

Changed the decisions log for gifts left qualifying on their own
  docs/plans/decisions.md
Due: none

Fix: lowering a buy-one-get-one line left the shopper's mug counted as the gift
  spree/core/app/models/spree/promotion/actions/create_line_items.rb
  spree/core/spec/models/spree/promotion/actions/create_line_items_spec.rb
Due: core, Core

Added edit and delete to the store credits list
  .changeset/dashboard-store-credits-edit-delete.md
  docs/plans/6.0-6.1-custom-fields-roadmap.md
  docs/user/loyalty/store-credits-list.mdx
  packages/dashboard/e2e/store-credits.spec.ts
  packages/dashboard/src/components/spree/customers/customer-store-credits-card.tsx
  packages/dashboard/src/components/spree/store-credits/edit-store-credit-dialog.tsx
  packages/dashboard/src/hooks/use-customer-store-credits.ts
  packages/dashboard/src/routes/_authenticated/$storeId/loyalty/store-credits.tsx
Due: none

Removed an unrelated plan document from this branch
  docs/plans/6.0-6.1-custom-fields-roadmap.md
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
