Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Cover the review-driven refinements in the changelogs
  packages/cli/CHANGELOG.md
  packages/create-spree-app/CHANGELOG.md
Due: none

Track completed setup with a marker instead of the auth credential
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/config.ts
Due: none

create-spree-app always yields a working app; spree dev completes first-run setup automatically (#14308)
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/config.ts
  packages/cli/src/context.ts
  packages/cli/src/docker.ts
  packages/cli/tests/env.test.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/env.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Fix dashboard logins dying on CORS in scaffolded apps
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/tests/add-dashboard.test.ts
  packages/dashboard-starter/.env.example
  packages/dashboard-starter/README.md
  packages/dashboard-starter/vite.config.ts
Due: none

Release the dashboard CORS fix as @spree/cli 2.4.3
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: none

Apply cleanup-review findings to the dashboard dev-env fix
  CLAUDE.md
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/config.ts
  packages/cli/tests/add-dashboard.test.ts
  packages/dashboard-starter/.env.example
  packages/dashboard-starter/vite.config.ts
  packages/dashboard/playwright.config.ts
  packages/dashboard/vite.config.ts
Due: none

Address review feedback: monorepo config loadEnv + old-config warning
  packages/cli/src/commands/add.ts
  packages/dashboard/vite.config.ts
Due: none

Drop the old-vite-config warning — no such installs exist
  packages/cli/src/commands/add.ts
Due: none

Fix dashboard logins dying on CORS in scaffolded apps (#14310)
  CLAUDE.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/config.ts
  packages/cli/tests/add-dashboard.test.ts
  packages/dashboard-starter/.env.example
  packages/dashboard-starter/README.md
  packages/dashboard-starter/vite.config.ts
  packages/dashboard/playwright.config.ts
  packages/dashboard/vite.config.ts
Due: none

Fix nav label leaking into collapsed sidebar when item has a badge
  packages/dashboard-core/src/components/nav-main.tsx
Due: none

Document new RAILS_HOST and CDN_HOST env vars
  docs/developer/deployment/cdn.mdx
  docs/developer/deployment/docker.mdx
  docs/developer/deployment/emails.mdx
  docs/developer/deployment/environment_variables.mdx
  docs/developer/deployment/render.mdx
Due: none

Lead with the React Dashboard dev server in post-scaffold output
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/dashboard.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Add a flow for unsubscribing from the newsletter (#14122)
  packages/admin-sdk/src/types/generated/Customer.ts
  packages/admin-sdk/src/types/generated/NewsletterSubscriber.ts
  packages/admin-sdk/src/types/generated/index.ts
  packages/sdk/src/types/generated/Customer.ts
  packages/sdk/src/zod/generated/Customer.ts
  spree/api/app/controllers/spree/api/v3/store/newsletter_subscribers_controller.rb
  spree/api/app/serializers/spree/api/v3/admin/customer_serializer.rb
  spree/api/app/serializers/spree/api/v3/admin/newsletter_subscriber_serializer.rb
  spree/api/app/serializers/spree/api/v3/customer_serializer.rb
  spree/api/config/locales/en.yml
  spree/api/config/routes.rb
  spree/api/lib/spree/api/dependencies.rb
  spree/api/spec/controllers/spree/api/v3/store/customers_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/store/newsletter_subscribers_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/newsletter_subscribers_spec.rb
  spree/core/app/models/concerns/spree/user_methods.rb
  spree/core/app/models/spree/newsletter_subscriber.rb
  spree/core/app/models/spree/permission_sets/default_customer.rb
  spree/core/app/services/spree/newsletter/subscribe.rb
  spree/core/spec/lib/tasks/core_spec.rb
  spree/core/spec/models/spree/concerns/user_methods_spec.rb
Due: core, api, Core, API

Call the Rails app the Spree API in scaffold output and docs
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/readme.ts
Due: none

Add collection model + rule + Meilisearch specs; keep legacy sorter out of the diff
  spree/core/app/sorters/spree/classifications/sort.rb
  spree/core/spec/models/spree/collection_rule_spec.rb
  spree/core/spec/models/spree/collection_rules/available_on_spec.rb
  spree/core/spec/models/spree/collection_rules/tag_spec.rb
  spree/core/spec/models/spree/collection_spec.rb
  spree/core/spec/models/spree/search_provider/meilisearch_spec.rb
Due: core, Core

Refresh Brakeman ignore for the reverted classifications sorter fingerprint
  spree/core/config/brakeman.ignore
Due: core

Co-run the React Dashboard dev server with spree dev and first-run setup
  packages/cli/CHANGELOG.md
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/dashboard-server.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Point the standalone add-dashboard note at spree dev
  packages/cli/src/commands/add.ts
Due: none

Restrict collection product curation to manual collections
  spree/api/app/controllers/spree/api/v3/admin/collections/products_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/products_controller.rb
  spree/api/spec/controllers/spree/api/v3/admin/collections/products_controller_spec.rb
  spree/api/spec/controllers/spree/api/v3/admin/products_controller_spec.rb
Due: api, API

Pin the classic no-dashboard gating with unit tests
  packages/cli/tests/dashboard-server.test.ts
Due: none

Add SPREE_CLI_VERSION override for testing unreleased CLIs end to end
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/src/templates/package-json.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

fixes
  docs/developer/deployment/emails.mdx
  docs/developer/deployment/environment_variables.mdx
Due: none

Fix nav item title and badge visibility in collapsed icon mode (#14311)
  packages/dashboard-core/src/components/nav-main.tsx
Due: none

Hide the React Dashboard behind --react-dashboard instead of a prompt
  CLAUDE.md
  docs/plans/5.6-project-layout-and-dashboard.md
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/src/prompts.ts
Due: none

Document new RAILS_HOST and CDN_HOST env vars (#14312)
  docs/developer/deployment/cdn.mdx
  docs/developer/deployment/docker.mdx
  docs/developer/deployment/emails.mdx
  docs/developer/deployment/environment_variables.mdx
  docs/developer/deployment/render.mdx
Due: none

Harden the dashboard dev-server lifecycle per review
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/dashboard-server.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/src/templates/package-json.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Cover collection-rule apply fallbacks and collection PLP default sort
  spree/api/spec/controllers/spree/api/v3/store/collections/products_controller_spec.rb
  spree/core/spec/models/spree/collection_rules/available_on_spec.rb
  spree/core/spec/models/spree/collection_rules/sale_spec.rb
Due: none

Improve CLI/create-spree-app around new react dashboard preview (#14313)
  CLAUDE.md
  docs/plans/5.6-project-layout-and-dashboard.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/dashboard-server.ts
  packages/cli/tests/dashboard-server.test.ts
  packages/create-spree-app/CHANGELOG.md
  packages/create-spree-app/package.json
  packages/create-spree-app/src/dashboard.ts
  packages/create-spree-app/src/index.ts
  packages/create-spree-app/src/prompts.ts
  packages/create-spree-app/src/scaffold.ts
  packages/create-spree-app/src/templates/claude-md.ts
  packages/create-spree-app/src/templates/package-json.ts
  packages/create-spree-app/src/templates/readme.ts
  packages/create-spree-app/tests/templates.test.ts
Due: none

Update taxons-to-categories plan: DB manual sort shipped, Meilisearch options
  docs/plans/6.0-replace-taxons-with-categories.md
Due: none

Avoid deprecated Spree::Store.default in calculator currency defaults
  spree/core/app/models/spree/calculator.rb
  spree/core/app/models/spree/calculator/flat_rate.rb
  spree/core/app/models/spree/calculator/flexi_rate.rb
  spree/core/app/models/spree/calculator/price_sack.rb
  spree/core/app/models/spree/calculator/shipping/digital_delivery.rb
  spree/core/app/models/spree/calculator/shipping/flat_rate.rb
  spree/core/app/models/spree/calculator/shipping/flexi_rate.rb
  spree/core/app/models/spree/calculator/shipping/per_item.rb
  spree/core/app/models/spree/calculator/shipping/price_sack.rb
  spree/core/spec/models/spree/calculator_spec.rb
  spree/core/spec/services/spree/seeds/all_spec.rb
Due: core, Core

Harden Store API Cart Associate endpoint
  docs/api-reference/store.yaml
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/carts_spec.rb
Due: api, API

Harden Store API Cart Associate endpoint (#14314)
  docs/api-reference/store.yaml
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/store/carts_spec.rb
Due: api, API

Added Spree 6 multi vendor plan (#14303)
  .claude/settings.local.json
  CLAUDE.md
  docs/plans/6.0-admin-api.md
  docs/plans/6.0-channels-catalogs-b2b.md
  docs/plans/6.0-inventory-operations.md
  docs/plans/6.0-multi-vendor-marketplace.md
  docs/plans/decisions.md
Due: none

Improve the updater widget
  spree/admin/app/models/spree/admin/updater.rb
  spree/admin/spec/models/spree/admin/updater_spec.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/lib/spree/core_spec.rb
Due: core, admin, Core, Admin

Improve the updater widget (#14316)
  spree/admin/app/models/spree/admin/updater.rb
  spree/admin/spec/models/spree/admin/updater_spec.rb
  spree/core/lib/spree/core.rb
  spree/core/spec/lib/spree/core_spec.rb
Due: core, admin, Core, Admin

Scope dashboard coverage flag to spree/dashboard in Codecov
  codecov.yml
Due: none

Handle race condition in find_or_create_from_oauth method (#14282)
  spree/core/app/models/spree/user_identity.rb
  spree/core/spec/models/spree/user_identity_spec.rb
Due: core, Core

Add dashboard component to Codecov configuration (#14317)
  codecov.yml
Due: none

Migrate coverage config to SimpleCov 1.0 DSL
  spree/admin/spec/spec_helper.rb
  spree/api/spec/spec_helper.rb
  spree/core/spec/spec_helper.rb
  spree/dashboard/spec/spec_helper.rb
  spree/emails/spec/spec_helper.rb
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
