Repository spree/spree: changes, and which Codecov flags are due for each by the changed paths.
All: core, api, admin, emails, rails_support, Core, API, Admin, Emails, Rails Support

Stop the dashboard reloading when a store speaks another language
  .changeset/dashboard-locale-reload-loop.md
  packages/dashboard-core/src/lib/i18n.ts
  packages/dashboard-core/tests/i18n-init.test.ts
Due: none

Let the operator write every seller's variants
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/core/app/models/spree/product.rb
  spree/core/app/services/spree/products/select_buy_box.rb
  spree/core/spec/models/spree/product/shared_catalog_spec.rb
Due: core, Core

Stop the dashboard reloading when a store speaks another language (#14456)
  .changeset/dashboard-locale-reload-loop.md
  packages/dashboard-core/src/lib/i18n.ts
  packages/dashboard-core/tests/i18n-init.test.ts
Due: none

Drop seller_name from the variant serializer
  packages/admin-sdk/src/types/generated/Variant.ts
  spree/api/app/serializers/spree/api/v3/admin/variant_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/products/variants_controller_spec.rb
Due: api, API

Keep seed vocabulary in the seed
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/core/app/models/spree/option_type.rb
  spree/core/app/services/spree/seeds/option_types.rb
  spree/core/spec/models/spree/option_type_spec.rb
  spree/core/spec/models/spree/product/shared_catalog_spec.rb
  spree/core/spec/services/spree/products/select_buy_box_spec.rb
Due: core, Core

Ship the condition option type as sample data, not a seed
  docs/plans/6.0-multi-vendor-marketplace.md
  spree/core/app/services/spree/seeds/all.rb
  spree/core/app/services/spree/seeds/option_types.rb
  spree/core/config/locales/en.yml
  spree/core/db/sample_data/options.rb
  spree/core/spec/models/spree/product/shared_catalog_spec.rb
  spree/core/spec/services/spree/products/select_buy_box_spec.rb
Due: core, Core

Pick the most recently linked webhook key when migrating
  spree/providers/stripe/lib/tasks/migrate_webhook_keys.rake
Due: none

Drop Apple Pay domain registration and the payment intents concern
  docs/plans/6.0-payment-gateways-monorepo.md
  docs/plans/decisions.md
  spree/providers/stripe/app/jobs/spree_stripe/register_domain_job.rb
  spree/providers/stripe/app/models/spree_stripe/custom_domain_decorator.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_intents.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/app/models/spree_stripe/store_decorator.rb
  spree/providers/stripe/app/presenters/spree_stripe/payment_intent_presenter.rb
  spree/providers/stripe/app/services/spree_stripe/register_domain.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
  spree/providers/stripe/spec/presenters/spree_stripe/payment_intent_presenter_spec.rb
  spree/providers/stripe/spec/services/spree_stripe/register_domain_spec.rb
  spree/providers/stripe/spec/vcr/SpreeStripe_RegisterDomain/for_custom_domain/when_tld_length_is_2/registers_only_custom_domain.yml
  spree/providers/stripe/spec/vcr/SpreeStripe_RegisterDomain/for_custom_domain/when_tld_length_is_more_then_2/registers_the_Apple_Pay_domain_and_top_level_domain_in_Stripe.yml
  spree/providers/stripe/spec/vcr/SpreeStripe_RegisterDomain/for_store/register_only_store_domain.yml
Due: none

Unify payment settlement on PaymentSession#settle_payment!
  docs/plans/decisions.md
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/models/spree/payment_session.rb
  spree/core/app/workflows/spree/payments/handle_webhook.rb
  spree/core/spec/models/spree/payment_session_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
Due: core, Core

Replace the Stripe decorators with a subscriber
  spree/providers/stripe/app/jobs/spree_stripe/update_customer_job.rb
  spree/providers/stripe/app/models/spree_stripe/customer_decorator.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/webhooks.rb
  spree/providers/stripe/app/models/spree_stripe/store_decorator.rb
  spree/providers/stripe/app/services/spree_stripe/create_payment.rb
  spree/providers/stripe/app/subscribers/spree_stripe/customer_updated_subscriber.rb
  spree/providers/stripe/spec/jobs/spree_stripe/update_customer_job_spec.rb
  spree/providers/stripe/spec/subscribers/spree_stripe/customer_updated_subscriber_spec.rb
Due: none

Eliminate the provider's core-model decorators
  docs/plans/6.0-payment-gateways-monorepo.md
  docs/plans/decisions.md
  spree/core/app/models/spree/gateway_customer.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/payment_method.rb
  spree/core/spec/models/spree/gateway_customer_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/app/models/spree_stripe/gateway_customer_decorator.rb
  spree/providers/stripe/app/models/spree_stripe/payment_decorator.rb
  spree/providers/stripe/app/models/spree_stripe/payment_method_decorator.rb
  spree/providers/stripe/app/services/spree_stripe/create_payment.rb
  spree/providers/stripe/app/services/spree_stripe/update_customer.rb
  spree/providers/stripe/lib/spree_stripe/engine.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
  spree/providers/stripe/spec/services/spree_stripe/create_payment_spec.rb
Due: core, Core

Serialize payment settlement on the owner's row lock
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/store/carts/payment_sessions_controller.rb
  spree/core/app/models/spree/payment_session.rb
  spree/core/spec/models/spree/payment_session_spec.rb
Due: core, api, Core, API

Route the payment lifecycle through its workflows
  docs/plans/6.0-service-workflows.md
  docs/plans/decisions.md
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/refunds_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts/payment_sessions_controller.rb
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/refund.rb
  spree/core/app/workflows/spree/claims/resolve.rb
  spree/core/app/workflows/spree/exchanges/fulfill.rb
  spree/core/app/workflows/spree/payment_sessions/complete.rb
  spree/core/app/workflows/spree/payments/void.rb
  spree/core/app/workflows/spree/refunds/create.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/spree/order/payment_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/models/spree/refund_spec.rb
  spree/core/spec/workflows/spree/payment_sessions/complete_spec.rb
  spree/core/spec/workflows/spree/payments/void_spec.rb
  spree/core/spec/workflows/spree/refunds/create_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
Due: core, api, Core, API

Serialize capture and refund bookkeeping on row locks
  docs/plans/decisions.md
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/workflows/spree/claims/resolve.rb
  spree/core/app/workflows/spree/exchanges/fulfill.rb
  spree/core/app/workflows/spree/refunds/create.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/workflows/spree/refunds/create_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
Due: core, Core

Enforce the completion claim against cart mutations
  docs/plans/decisions.md
  spree/api/app/controllers/concerns/spree/api/v3/order_lock.rb
  spree/api/spec/controllers/spree/api/v3/store/carts/items_controller_spec.rb
  spree/core/config/locales/en.yml
Due: core, api, API

Fix the payment findings from code review
  docs/plans/decisions.md
  spree/api/app/controllers/concerns/spree/api/v3/order_lock.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/payments_controller.rb
  spree/api/app/controllers/spree/api/v3/admin/orders/refunds_controller.rb
  spree/api/app/controllers/spree/api/v3/store/carts_controller.rb
  spree/api/spec/controllers/spree/api/v3/store/carts_controller_spec.rb
  spree/core/app/models/spree/cart.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/models/spree/payment_session.rb
  spree/core/app/services/spree/payments/create.rb
  spree/core/app/workflows/spree/carts/complete.rb
  spree/core/app/workflows/spree/claims/resolve.rb
  spree/core/app/workflows/spree/exchanges/fulfill.rb
  spree/core/app/workflows/spree/payments/handle_webhook.rb
  spree/core/app/workflows/spree/returns/refund.rb
  spree/core/spec/workflows/spree/payments/handle_webhook_spec.rb
  spree/providers/stripe/app/models/spree/payment_sessions/stripe.rb
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/webhooks.rb
  spree/providers/stripe/app/presenters/spree_stripe/customer_presenter.rb
  spree/providers/stripe/spec/models/spree/payment_sessions/stripe_spec.rb
  spree/providers/stripe/spec/vcr/create_another_gateway_webhooks.yml
  spree/providers/stripe/spec/vcr/create_gateway_webhooks.yml
  spree/providers/stripe/spec/vcr/existing_gateway_webhooks.yml
Due: core, api, Core, API

Let a capture webhook settle an authorized session
  spree/core/app/models/spree/payment_session.rb
  spree/core/app/workflows/spree/payments/handle_webhook.rb
  spree/core/spec/workflows/spree/payments/handle_webhook_spec.rb
Due: core, Core

Reject malformed Stripe webhook payloads
  spree/providers/stripe/app/models/spree_stripe/gateway/webhooks.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: none

Resolve the payment by number, not by parsing a composite id
  spree/providers/stripe/app/models/spree_stripe/gateway.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: none

Fix review findings on webhook secrets, ACH and address validation
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/webhooks.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: none

Apply the review's deprioritized cleanups
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/app/services/spree_stripe/create_payment_session.rb
  spree/providers/stripe/app/services/spree_stripe/update_customer.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
  spree/providers/stripe/spec/services/spree_stripe/create_payment_session_spec.rb
Due: none

Follow countries and states off the database
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: none

Read addresses through the renamed country and state columns
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/app/presenters/spree_stripe/customer_presenter.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway/payment_sessions_spec.rb
  spree/providers/stripe/spec/presenters/spree_stripe/customer_presenter_spec.rb
Due: none

Follow the capture-method rename through the payment session flow
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/workflows/spree/payment_sessions/complete_spec.rb
  spree/core/spec/workflows/spree/payments/void_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_sessions.rb
  spree/providers/stripe/spec/models/spree_stripe/gateway_spec.rb
Due: none

fixes
  .changeset/product-media-video.md
  packages/dashboard/e2e/products-media-video.spec.ts
  packages/dashboard/src/components/spree/products/add-video-dialog.tsx
  packages/dashboard/src/components/spree/products/media-edit-sheet.tsx
  packages/dashboard/src/components/spree/products/product-form-cards.tsx
  packages/dashboard/src/lib/video-url.test.ts
  packages/dashboard/src/lib/video-url.ts
  packages/dashboard/src/locales/ar.json
  packages/dashboard/src/locales/de.json
  packages/dashboard/src/locales/en.json
  packages/dashboard/src/locales/fr.json
  packages/dashboard/src/locales/pl.json
  packages/dashboard/src/locales/zh-CN.json
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
  packages/dashboard/src/schemas/product.ts
  spree/api/spec/controllers/spree/api/v3/admin/products/media_controller_spec.rb
  spree/core/app/models/spree/external_video.rb
  spree/core/app/models/spree/media.rb
  spree/core/spec/models/spree/external_video_spec.rb
  spree/core/spec/models/spree/media_spec.rb
Due: core, Core

Address review findings on product video
  packages/dashboard/e2e/products-helpers.ts
  packages/dashboard/src/components/spree/products/media-edit-sheet.tsx
  packages/dashboard/src/components/spree/products/product-form-cards.tsx
  packages/dashboard/src/lib/video-url.test.ts
  packages/dashboard/src/lib/video-url.ts
  packages/dashboard/src/schemas/product.ts
  spree/core/app/models/spree/external_video.rb
  spree/core/app/models/spree/media.rb
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/variant.rb
  spree/core/lib/tasks/media_class_rename.rake
  spree/core/spec/lib/tasks/media_class_rename_spec.rb
  spree/core/spec/models/spree/external_video_spec.rb
  spree/core/spec/models/spree/media_counters_spec.rb
Due: core, Core

Refresh both owners when media changes hands
  docs/api-reference/admin.yaml
  docs/api-reference/store.yaml
  packages/cli/src/generated/admin-spec.json
  spree/core/app/models/spree/media.rb
  spree/core/spec/models/spree/media_counters_spec.rb
Due: core, Core

Drive the video tests through the buttons the page renders
  packages/dashboard/e2e/products-helpers.ts
  packages/dashboard/e2e/products-media-video.spec.ts
  packages/dashboard/src/components/spree/products/product-form-cards.tsx
Due: none

Leave no thumbnail rather than one that cannot be drawn
  packages/dashboard/src/routes/_authenticated/$storeId/products/$productId.tsx
  spree/core/app/models/spree/product.rb
  spree/core/app/models/spree/variant.rb
  spree/core/spec/models/spree/media_counters_spec.rb
Due: core, Core

Serve payment status straight from the column and record the decision
  docs/plans/6.0-normalize-state-to-status.md
  docs/plans/decisions.md
  packages/admin-sdk/src/types/generated/Payment.ts
  packages/sdk/src/types/generated/Payment.ts
  packages/sdk/src/zod/generated/Payment.ts
  spree/api/app/serializers/spree/api/v3/payment_serializer.rb
  spree/api/spec/controllers/spree/api/v3/admin/orders/payments_controller_spec.rb
  spree/api/spec/integration/spree/api/v3/admin/orders/payments_spec.rb
  spree/api/spec/serializers/spree/api/v3/refund_serializer_spec.rb
Due: api, API

Reject a poster Spree cannot resolve, and type the media a product carries
  .changeset/product-media-video.md
  packages/admin-sdk/src/params.ts
  packages/dashboard/src/routes/_authenticated/$storeId/products/new.tsx
  spree/core/app/models/spree/media.rb
  spree/core/spec/models/spree/media_spec.rb
Due: core, Core

Move the payment flows into the workflows, leaving mechanics on the model
  CLAUDE.md
  docs/plans/6.0-normalize-state-to-status.md
  docs/plans/6.0-service-workflows.md
  docs/plans/decisions.md
  spree/core/app/models/concerns/spree/payment_session_transitions.rb
  spree/core/app/models/concerns/spree/purchase/payment_processing.rb
  spree/core/app/models/spree/fulfillment.rb
  spree/core/app/models/spree/payment.rb
  spree/core/app/models/spree/payment/processing.rb
  spree/core/app/workflows/spree/orders/cancel.rb
  spree/core/app/workflows/spree/payments/capture.rb
  spree/core/app/workflows/spree/payments/process.rb
  spree/core/app/workflows/spree/payments/void.rb
  spree/core/lib/spree/core/dependencies.rb
  spree/core/spec/models/concerns/spree/purchase/payment_processing_spec.rb
  spree/core/spec/models/spree/order/payment_spec.rb
  spree/core/spec/models/spree/payment_session_spec.rb
  spree/core/spec/models/spree/payment_spec.rb
  spree/core/spec/workflows/spree/carts/complete_spec.rb
  spree/core/spec/workflows/spree/payments/capture_spec.rb
  spree/core/spec/workflows/spree/payments/process_spec.rb
  spree/core/spec/workflows/spree/payments/void_spec.rb
  spree/providers/stripe/app/models/spree_stripe/gateway/payment_setup_sessions.rb
Due: core, Core

Answer the second review round on the void flow
  CLAUDE.md
  docs/plans/decisions.md
  spree/core/app/workflows/spree/payments/void.rb
  spree/core/spec/workflows/spree/payments/capture_spec.rb
  spree/core/spec/workflows/spree/payments/void_spec.rb
Due: core, Core

State which payment workflows claim before the gateway
  CLAUDE.md
Due: none

Path conditions:
  core: any of: spree/core/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  api: any of: spree/api/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  admin: any of: spree/admin/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  emails: any of: spree/emails/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  rails_support: any of: spree/rails_support/, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Core: any of: spree/core/app/**, spree/core/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  API: any of: spree/api/app/**, spree/api/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Admin: any of: spree/admin/app/**, spree/admin/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Emails: any of: spree/emails/app/**, spree/emails/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
  Rails Support: any of: spree/rails_support/app/**, spree/rails_support/lib/**, but not: docs/**, packages/**, **/spec/**, **/test/**, **/testing_support/**, **/generators/**, **/dummy/**
